@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap&subset=cyrillic');
@charset "utf-8";
//-font-family: 'Ubuntu', sans-serif;


#reg-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color:#f7f7f7;
}
button{
  &:hover,
  &:focus,
  &:active {
   outline: none;
  }
}

.mob-show{
  display: none;
  @media (max-width: 1200px){
    display: block;
    margin: 20px auto;

  }
}
.desctop-show{
  display: block;
  @media (max-width: 1200px){
    display: none;

  }
}

@import "haeding";
@import "menu";
@import "hero";
@import "time";
//-@import "register";
@import "info";
@import "theme";
//-@import "lectors";
@import "gift";
@import "order";
@import "package";
@import "register-bottom";
@import "video";
@import "partners";
@import "social";
@import "footer";
@import "loader";
@import "loader-page";

