<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="form-holder">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeg_c-NsdhEwQG8I2yzs4M4sFZc4mATBOfutIEe_PNrDshyCQ/viewform" width="960" height="1200" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
    </div>
</div>