.map {
  position: relative;
  height: 426px;
  background: url(images/map-min.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  @media (max-width: 745px){
    background: url(images/map-mob.jpg) no-repeat center;
    height: 399px;
    background-color: #eff0f2;
  }
  &__content{
    @extend %container;
    padding-top: 130px;
    padding-left: 50px;
    @media (max-width: 745px){
      padding-left: 0px;
    }
  }

&__place{
  width: 434px;
  height: 131px;
  background-color: #245be9;
  color: #ffffff;
  font-size: 31px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.18px;
  padding: 18px 0 0 20px;

  @media (max-width: 745px){
    width: 246px;
    height: 84px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin: 151px auto 0;
  }
}

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}