.advantages {
  background-color: #fdce16;

  .container{
    @include media-breakpoint-up(xl) {
      padding-top: 80px;
    }
  }

  .title{

    @include media-breakpoint-up(xl) {
      margin-bottom: 30px;
      text-align: left;
      &:after{
        left: 0%;
        transform: translate(0%);
      }

      &:before{
        left: 0%;
        transform: translate(0%);
      }

    }
  }

  &__content{
    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: center;
    }
  }
  &__item{
    @include media-breakpoint-up(xl) {
     width: 50%;
    }
  }

  &__text{
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    color: #161616;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
      padding-right: 80px;
    }

    &:before{
      position: absolute;
      content: "";
      width: 60%;
      height: 1px;
      opacity: 0.5;
      background-color: #161616;
      left: 0;
      bottom: 0;
    }

    &:last-child{

      &:before{
        content: none;
      }
    }



    b{
      display: block;
      margin-bottom: 10px;
    }

    p{
      margin-bottom: 0;
    }
  }

  &__btn{
    padding: 40px 0;

    @include media-breakpoint-up(xl) {
      padding: 0 0 80px;
    }
  }

  &__video{
    height: 315px;
    iframe{
      height: 100%;
      width: 100%;
    }

  }

}

