@charset "UTF-8";
:root {
  --container-width: 1160px;
  --transition: 0.3s ease;
  --default-font-family: "Gilroy";
  --heading-font-family: "Neue Machina";
  --sp: 66px;
  --accent: #4c09d2;
  --fiolet: #8041ff;
  --dark: #1f2229;
  --bg: #fff;
  --text-color: #000000;
  --fz-default: 20px;
  --h1: 32px;
  --h2: 42px;
  --h3: 32px;
  --h4: 28px;
  --l: 24px;
  --m: 22px;
  --s: 18px;
  --xs: 16px;
}

.clients .container, .company .container, .how .container, .register .container, .packages .container, .speakers .container, .program .container, .results .container, .for .container, .about .container, .hero .container {
  max-width: 375px;
  padding: 0 16px;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .clients .container, .company .container, .how .container, .register .container, .packages .container, .speakers .container, .program .container, .results .container, .for .container, .about .container, .hero .container {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .clients .container, .company .container, .how .container, .register .container, .packages .container, .speakers .container, .program .container, .results .container, .for .container, .about .container, .hero .container {
    max-width: 1200px;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
.results__block_title,
h3,
.results .item__number,
.about__text,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: "italic";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl") format("svg");
}
body {
  font-family: "MuseoSansCyrl", sans-serif;
  background: #fff;
  min-width: 360px;
  color: #000;
  font-weight: 500;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-prev::after {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA2NjcgMjMuMTg2NUwxNi40NzY3IDIxLjc3NjVMMTAuODk2NyAxNi4xODY1TDIzLjA2NjcgMTYuMTg2NUwyMy4wNjY2IDE0LjE4NjVMMTAuODk2NiAxNC4xODY1TDE2LjQ4NjYgOC42MDY1MkwxNS4wNjY2IDcuMTg2NTJMNy4wNjY2NSAxNS4xODY1TDE1LjA2NjcgMjMuMTg2NVoiIGZpbGw9IiNGQjQ0M0QiLz4KPC9zdmc+Cg==") center/contain no-repeat;
  width: 30px;
  height: 30px;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-next::after {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA2NjcgMjMuMTg2NUwxNi40NzY3IDIxLjc3NjVMMTAuODk2NyAxNi4xODY1TDIzLjA2NjcgMTYuMTg2NUwyMy4wNjY2IDE0LjE4NjVMMTAuODk2NiAxNC4xODY1TDE2LjQ4NjYgOC42MDY1MkwxNS4wNjY2IDcuMTg2NTJMNy4wNjY2NSAxNS4xODY1TDE1LjA2NjcgMjMuMTg2NVoiIGZpbGw9IiNGQjQ0M0QiLz4KPC9zdmc+Cg==") center/contain no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

.btn-page {
  background-color: #2b6432;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
  font-weight: 600;
  max-width: 375px;
  text-transform: uppercase;
}
.btn-page:hover {
  background-color: #1f2229;
}

.btn--fix {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  width: 100%;
  margin: 0 auto;
}

.btn--radius {
  border-radius: 73px;
}

@media (min-width: 1200px) {
  .btn--hero {
    font-size: 24px;
    max-width: 550px;
  }
}
@media (min-width: 1200px) {
  .btn--hero:after {
    content: "";
    background: url(../img/btn-hero.png) no-repeat center;
    width: 38px;
    height: 38px;
    margin-left: 38px;
  }
}

.btn--core {
  position: relative;
  font-size: 18px;
}
.btn--core:hover {
  background-color: #000;
}
.btn--core::before {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: #fff url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
}

.btn--pro {
  position: relative;
  font-size: 18px;
  background-color: #ffffff;
  color: #000;
}
.btn--pro:hover {
  background-color: #000;
  color: #ffffff;
}
.btn--pro:hover::before {
  background: #fff url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
}
.btn--pro::before {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: #f5c120 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38' fill='none'%3E%3Ccircle cx='19' cy='19' r='19' fill='%2304AB1E'/%3E%3Cg clip-path='url(%23clip0_3175_10741)'%3E%3Cpath d='M23 11.8333L21.6488 13.1845L26.9963 18.5416L9.99988 18.5416L9.99988 20.4583L26.9963 20.4583L21.6488 25.8153L23 27.1666L30.6667 19.4999L23 11.8333Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3175_10741'%3E%3Crect width='23' height='23' fill='white' transform='translate(8 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50% no-repeat;
}

.header {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111 !important;
  background: #fff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
}
.header__logo {
  width: 216px;
  height: 47px;
  background: url(../img/header__logo.svg) 50%/contain no-repeat;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__menu li {
  padding: 0 30px;
}
@media (max-width: 1200px) {
  .header__menu li {
    padding: 0 12px;
  }
}
.header__menu li.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #2b6432;
  border-radius: 200px;
  padding: 10px 26px;
  padding-bottom: 12px;
  color: #ffffff;
}
.header__menu li.btn:hover {
  background-color: #f5c120;
}
.header__menu li.btn a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .header__menu li.btn a {
    font-size: 16px;
  }
}
.header__menu a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .header__menu a {
    font-size: 16px;
  }
}
.header__menu a:hover {
  text-decoration: underline;
}
.header__menu a.header__phone {
  font-weight: 700;
  color: #f5c120;
  text-decoration: underline;
  font-size: 20px;
}
.header__burger {
  display: none;
  z-index: 30;
}
.header.active {
  background: #1f2229;
}
.header.active .header__logo {
  background: url(../img/header__logo--white.svg) 50%/contain no-repeat;
}
.header.active .header__menu {
  transform: translateX(0);
  opacity: 1;
}
.header.active .header__burger span {
  background: #fff;
}
.header.active .header__burger span:nth-child(1) {
  transform: translate(1px, 4px) rotate(45deg);
  width: 20px;
}
.header.active .header__burger span:nth-child(2) {
  width: 20px;
  transform: translate(1px, -11px) rotate(-45deg);
}
.header.active .header__burger span:nth-child(3) {
  display: none;
}

@media (max-width: 760px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: 66px;
    text-align: center;
    background: #1f2229;
    padding-top: 50px;
    padding-bottom: 46px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 36px;
    transform: translateY(-150%);
    transition: var(--transition);
    opacity: 0;
  }
  .header__menu li.btn {
    background: #2b6432;
  }
  .header__menu li.btn a {
    font-size: 20px;
  }
  .header__menu a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
  .header__burger {
    width: 25px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  .header__burger span {
    height: 3px;
    background: #2b6432;
    border-radius: 4px;
    transition: 0.3s ease;
  }
}
#header-sticky-wrapper {
  height: 0 !important;
}

.hero {
  background: #fff;
  background-size: cover;
  z-index: 1;
  position: relative;
  color: #292929;
}
.hero .container {
  text-align: center;
  position: relative;
  padding-bottom: 56px;
  padding-top: 82px;
}
@media (min-width: 1200px) {
  .hero .container {
    max-width: 1100px;
    padding-top: 184px;
    padding-bottom: 86px;
  }
}
.hero h1 {
  color: #f5c120;
  text-align: left;
  font-size: 74px;
  font-style: normal;
  font-weight: 800;
  line-height: 87%; /* 64.38px */
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .hero h1 {
    margin-bottom: 32px;
    font-size: 120px;
  }
  .hero h1 br {
    display: none;
  }
}
.hero__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .hero__text {
    margin-bottom: 32px;
    font-size: 32px;
  }
}
.hero__text span {
  color: #2b6432;
}
.hero__description {
  font-weight: 300;
  max-width: 140px;
  text-align: left;
}
@media (min-width: 1200px) {
  .hero__description {
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 32px;
  }
}
.hero__info {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  margin-bottom: 28px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .hero__info {
    font-size: 18px;
    justify-content: start;
    margin-bottom: 32px;
  }
}
.hero__info span {
  color: #f5c120;
  padding: 0 12px;
}
.hero__btn {
  height: 56px;
  margin-top: 105px;
}
@media (min-width: 768px) {
  .hero__btn {
    position: relative;
    left: inherit;
    transform: translate(0);
    margin-top: 0;
  }
}
.hero__btn.active {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__btn.active {
    left: 0;
    bottom: 0;
    transform: translateX(0%);
    position: relative;
  }
}
.hero__btn.active .btn-page {
  margin: 0 auto;
}
.hero__img {
  width: 414.497px;
  height: 385.414px;
  position: absolute;
  bottom: 72px;
  left: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  .hero__img {
    width: 771.617px;
    height: 631.489px;
    left: inherit;
    right: -333px;
    bottom: 50px;
  }
}
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.ticker {
  display: flex;
  padding: 15px 0;
  background: #f4f4f4;
}
.ticker svg {
  fill: #000;
}

.ticker__string {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  animation-name: ticker;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

.ticker__string span {
  display: inline-block;
  padding: 0 5px;
  font-weight: 800;
}
@media (min-width: 1200px) {
  .ticker__string span {
    font-size: 18px;
  }
}

.ticker__icon {
  height: 36px;
  width: 36px;
  margin: 0 30px;
}

.about {
  padding-top: 66px;
  padding-bottom: 62px;
  color: #1f2229;
}
@media (min-width: 1200px) {
  .about {
    padding-bottom: 120px;
    padding-top: 88px;
  }
}
.about .container {
  z-index: 1;
  position: relative;
}
@media (min-width: 1200px) {
  .about .container {
    max-width: 1040px;
  }
}
@media (min-width: 1200px) {
  .about__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}
.about__text {
  font-size: 18px;
  margin-bottom: 42px;
  margin-bottom: 42px;
  font-weight: 400;
  color: #000;
}
@media (min-width: 1200px) {
  .about__text {
    font-size: 24px;
    padding-right: 0px;
    margin-bottom: 0;
    width: 450px;
  }
}
.about ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 42px;
}
@media (min-width: 1200px) {
  .about ul {
    max-width: 494px;
    gap: 20px;
    margin-bottom: 62px;
  }
}
.about ul li {
  border-bottom: solid 1px #f5f4f7;
  padding-bottom: 12px;
  width: 100%;
  padding-left: 34px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .about ul li {
    font-size: 24px;
    padding-bottom: 20px;
  }
}
.about ul li::before {
  content: "";
  position: absolute;
  background: url(../img/arrow.svg);
  width: 22px;
  height: 22px;
  display: inline-block;
  left: 4px;
  top: 0;
}
@media (min-width: 1200px) {
  .about ul li::before {
    width: 24px;
    height: 24px;
    left: 0;
  }
}
.about__title {
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .about__title {
    font-size: 42px;
  }
}
.about__title span {
  color: #2b6432;
}
.about__img {
  width: 414.497px;
  height: 385.414px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  .about__img {
    width: 399px;
    height: 333.665px;
    left: 44px;
    bottom: 100px;
  }
}

.for .container {
  color: #fff;
  background: #1f2229;
  padding: 40px 20px;
  border-radius: 27px;
  position: relative;
}
@media (min-width: 1200px) {
  .for .container {
    border-radius: 57px;
    padding: 56px 110px;
    max-width: 1140px;
  }
}
.for__title {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.for__title span {
  color: #ffffff;
  background-color: #2b6432;
  padding: 0 6px;
}
@media (min-width: 1200px) {
  .for__title {
    font-size: 42px;
    margin-bottom: 62px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .for__content {
    display: flex;
    justify-content: space-between;
  }
}
.for ul {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .for ul {
    justify-content: space-between;
    gap: 55px;
  }
}
.for ul li {
  text-align: left;
}
@media (min-width: 1200px) {
  .for ul li {
    max-width: 394px;
  }
  .for ul li:nth-child(2) {
    max-width: 368px;
  }
  .for ul li:nth-child(3) {
    max-width: 368px;
  }
}
.for ul li hr {
  width: 44px;
  height: 4px;
  background-color: #f5c120;
  border: none;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 18px;
}
.for ul li b {
  font-size: 22px;
  display: block;
  font-weight: 700;
  color: #f5c120;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .for ul li b {
    font-size: 30px;
  }
}
.for ul li p {
  font-size: 20px;
}
@media (min-width: 1200px) {
  .for ul li p {
    font-size: 24px;
  }
}
.for__img {
  width: 414.497px;
  height: 385.414px;
  position: absolute;
  bottom: -147px;
  right: -269px;
  z-index: 0;
}
@media (min-width: 1200px) {
  .for__img {
    width: 391px;
    height: 337.906px;
    right: 142px;
    bottom: -88px;
  }
}

.results {
  position: relative;
  padding-top: 60px;
}
@media (min-width: 1200px) {
  .results {
    padding-top: 120px;
  }
}
.results .container {
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}
@media (min-width: 1200px) {
  .results .container {
    max-width: 1140px;
  }
}
.results__title {
  font-size: 26px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.results__title span {
  color: #2b6432;
}
@media (min-width: 1200px) {
  .results__title {
    font-size: 42px;
  }
}
.results ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 1200px) {
  .results ul {
    gap: 16px;
    align-items: baseline;
  }
}
.results ul li {
  max-width: 343px;
  border-radius: 27px;
  background: #f8f8f8;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  padding: 32px;
}
@media (min-width: 1200px) {
  .results ul li {
    padding: 24px 36px;
    max-width: 360px;
  }
  .results ul li:nth-child(4) {
    transform: translateY(-24px);
  }
  .results ul li:nth-child(5) {
    transform: translateY(-24px);
  }
  .results ul li:nth-child(5) b {
    display: inline;
  }
}
.results ul li:last-child b {
  display: inline;
}
.results ul li strong {
  color: #2b6432;
  font-size: 26px;
  font-weight: 700;
  display: block;
  font-weight: 900;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .results ul li strong {
    font-size: 32px;
  }
}
.results ul li strong:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_136_879)'%3E%3Cpath d='M19.4209 19.5791L19.4209 16.9632L9.05947 16.954L20.3485 5.66492L18.4933 3.80969L7.20424 15.0987L7.21352 4.7373L4.5791 4.7373L4.5791 19.5791L19.4209 19.5791Z' fill='%23F5C120'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136_879'%3E%3Crect width='24' height='24' fill='white' transform='translate(24 24) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 50%/contain no-repeat;
}
.results ul li p {
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 1200px) {
  .results ul li p {
    font-size: 22px;
  }
}
.results ul li p b {
  font-weight: 700;
  display: block;
}
.results__subblock {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .results__subblock {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
  }
}
.results__subtitle {
  font-weight: 700;
  font-size: 26px;
  color: #1f2229;
  max-width: 360px;
}
@media (min-width: 1200px) {
  .results__subtitle {
    padding-left: 114px;
  }
}
.results__subtitle strong {
  font-size: 42px;
  font-weight: 900;
  display: block;
}
@media (min-width: 1200px) {
  .results__subtitle strong {
    margin-bottom: 10px;
  }
}
.results__subtitle span {
  margin-left: auto;
  display: block;
  width: 273px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 133%;
}
.results__subtitle span b {
  font-weight: 900;
  font-size: 46px;
  line-height: 100%;
  text-transform: uppercase;
  color: #f5c120;
}
@media (min-width: 1200px) {
  .results__subtitle span b {
    font-size: 60px;
  }
}
.results__subtext {
  color: #1f2229;
}
@media (min-width: 1200px) {
  .results__subtext {
    margin-left: 86px;
    margin-top: 40px;
    margin-right: 112px;
  }
}
.results__subtext p {
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .results__subtext p {
    font-size: 22px;
  }
}
.results__btn {
  display: none;
}
@media (min-width: 1200px) {
  .results__btn {
    display: block;
  }
}
.results__btn .btn-page {
  color: #2b6432;
  font-weight: 800;
  background: #eaf3eb;
}
@media (min-width: 1200px) {
  .results__btn .btn-page {
    margin-top: 28px;
  }
}

.program .container {
  padding-top: 62px;
  padding-bottom: 62px;
}
@media (min-width: 1200px) {
  .program .container {
    padding-top: 120px;
    padding-bottom: 66px;
  }
}
.program__title {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.program__title span {
  color: #ffffff;
  background-color: #f5c120;
  padding: 0 6px;
}
@media (min-width: 1200px) {
  .program__title {
    font-size: 42px;
    margin-bottom: 62px;
  }
}
.program__content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 54px;
}
.program .item {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-flow: wrap;
}
.program .item__speaker {
  display: none;
  padding-left: 60px;
  color: #1f2229;
  margin-top: 8px;
}
@media (min-width: 1200px) {
  .program .item__speaker {
    padding-left: 76px;
  }
}
.program .item__speaker--bonus {
  padding: 0;
}
@media (min-width: 1200px) {
  .program .item__speaker--bonus {
    padding-left: 160px;
  }
}
.program .item__speaker b {
  color: #2b6432;
}
.program .item.active .item__info {
  margin-top: 20px;
  max-height: 10000px;
}
.program .item.active .item__more:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Crect x='2' y='11' width='22' height='4' fill='%232B6432'/%3E%3C/svg%3E") 50%/contain no-repeat;
}
.program .item.active .item__more:after {
  content: "МЕНШЕ";
  color: #1f2229;
}
.program .item__number {
  font-size: 34px;
  width: 62px;
  color: #2b6432;
  font-weight: 800;
}
@media (min-width: 1200px) {
  .program .item__number {
    width: 74px;
    font-size: 64px;
    margin-right: 32px;
  }
}
.program .item__number--bonus {
  width: 156px;
}
.program .item__title {
  width: calc(100% - 150px);
  font-size: 18px;
  font-weight: 700;
  color: #1f2229;
}
@media (min-width: 1200px) {
  .program .item__title {
    width: calc(100% - 256px);
    font-size: 28px;
  }
}
.program .item__title span {
  color: #2b6432;
}
.program .item__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 80px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .program .item__more {
    width: 100px;
    font-size: 18px;
  }
}
.program .item__more:before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Crect x='2' y='11' width='22' height='4' fill='%232B6432'/%3E%3Crect x='11' y='24' width='22' height='4' transform='rotate(-90 11 24)' fill='%232B6432'/%3E%3C/svg%3E") 50%/contain no-repeat;
}
@media (min-width: 1200px) {
  .program .item__more:before {
    width: 22px;
    height: 22px;
  }
}
.program .item__more:after {
  content: "БІЛЬШЕ";
  color: #1f2229;
  font-weight: 600;
  font-size: 16px;
}
.program .item__info {
  width: 100%;
  padding-left: 62px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
@media (min-width: 1200px) {
  .program .item__info {
    padding-left: 120px;
    font-size: 20px;
  }
}
.program .item__info li {
  padding-left: 20px;
  background-position: 0 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.52381 0L9.06122 1.16044L7.91837 4.95824L12 6.27692L6.42177 12L2.96599 11.1297L4.10884 6.96264L0 5.82857L5.52381 0Z' fill='%23F5C120'/%3E%3C/svg%3E") 0 4px no-repeat;
  color: #1f2229;
}
@media (min-width: 1200px) {
  .program .item__info li {
    padding-left: 34px;
  }
}
.program .item__info li:not(:last-child) {
  margin-bottom: 10px;
}

.methodology {
  color: #ffffff;
  border-radius: 27px;
  background: #1f2229;
}
@media (min-width: 1200px) {
  .methodology {
    border-radius: 57px;
  }
}
.methodology__content {
  max-width: 1100px;
  margin: 84px 0 0;
  padding: 30px;
}
@media (min-width: 1200px) {
  .methodology__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 28px 66px 44px;
    min-width: 100%;
  }
}
.methodology__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1200px) {
  .methodology__title {
    font-size: 42px;
    margin-bottom: 14px;
    text-align: left;
  }
  .methodology__title span {
    text-align: right;
    display: block;
    padding-right: 85px;
  }
}
@media (min-width: 1200px) {
  .methodology__block {
    max-width: 650px;
  }
}
.methodology__text {
  color: #fff;
}
@media (min-width: 1200px) {
  .methodology__text {
    font-size: 18px;
    padding-left: 65px;
  }
}
.methodology__text p:first-child {
  margin-bottom: 12px;
}
.methodology__btn {
  margin-top: 26px;
  display: none;
}
@media (min-width: 1200px) {
  .methodology__btn {
    margin-top: 0;
    display: block;
    max-width: 360px;
    width: 100%;
    text-align: center;
  }
}
.methodology__btn .btn-page {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .methodology__btn .btn-page {
    margin-top: 22px;
  }
}

.speakers {
  position: relative;
}
.speakers__img {
  position: absolute;
  bottom: -66px;
  right: 0;
  width: 487px;
  height: 462px;
}
.speakers .container {
  padding-top: 62px;
  padding-bottom: 62px;
}
@media (min-width: 1200px) {
  .speakers .container {
    padding-top: 66px;
    padding-bottom: 66px;
    max-width: 1200px;
    position: relative;
  }
}
.speakers__title {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 36px;
}
.speakers__title span {
  color: #ffffff;
  background-color: #f5c120;
  padding: 0 6px;
}
@media (min-width: 1200px) {
  .speakers__title {
    font-size: 42px;
    margin-bottom: 62px;
  }
}
.speakers__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1200px) {
  .speakers__list {
    justify-content: flex-start;
  }
}
.speakers .speaker {
  flex: 0 0 90%;
}
@media (min-width: 1200px) {
  .speakers .speaker {
    flex: 0 0 49%;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .speakers .speaker--reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1200px) {
  .speakers .speaker--reverse .speaker__body {
    padding-left: 28px;
  }
}
@media (min-width: 1200px) {
  .speakers .speaker.speaker--main {
    flex: 0 0 100%;
  }
}
.speakers .speaker.speaker--main .speaker__photo {
  height: 320px;
}
@media (min-width: 1200px) {
  .speakers .speaker.speaker--main .speaker__photo {
    height: 575px;
    flex: 0 0 50%;
    background: center/cover no-repeat;
  }
}
.speakers .speaker.speaker--main .speaker__body {
  background: #1f2229;
  padding: 26px 10px;
  text-align: center;
}
@media (min-width: 1200px) {
  .speakers .speaker.speaker--main .speaker__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 92px;
    padding-right: 166px;
    text-align: left;
  }
}
.speakers .speaker.speaker--main .speaker__info {
  font-weight: 700;
}
@media (min-width: 1200px) {
  .speakers .speaker.speaker--main .speaker__info {
    margin-bottom: 35px;
  }
}
.speakers .speaker.speaker--main .speaker__name {
  color: #ffffff;
  margin-bottom: 30px;
}
.speakers .speaker.speaker--main .speaker__text {
  color: #ffffff;
}
@media (min-width: 1200px) {
  .speakers .speaker.speaker--main .speaker__block {
    max-width: 310px;
    width: 100%;
  }
}
.speakers .speaker__body {
  text-align: center;
  padding: 26px 10px;
  flex: 0 0 100%;
}
@media (min-width: 1200px) {
  .speakers .speaker__body {
    padding: 28px 0 0 28px;
    text-align: left;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
  }
}
.speakers .speaker__photo {
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: top center;
}
@media (min-width: 1200px) {
  .speakers .speaker__photo {
    height: 280px;
  }
}
.speakers .speaker__info {
  color: #ffffff;
  background: #2b6432;
  padding: 6px 14px;
  display: inline-block;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .speakers .speaker__info {
    font-size: 20px;
  }
}
.speakers .speaker__name {
  color: #2b6432;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 12px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .speakers .speaker__name {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .speakers .speaker__block {
    width: 270px;
  }
  .speakers .speaker__block p {
    max-width: 220px;
  }
}
.speakers .speaker__list li {
  position: relative;
  margin-bottom: 6px;
  padding-left: 22px;
  font-weight: 400;
}
.speakers .speaker__list li::before {
  content: "";
  position: static;
  display: inline-block;
  transform: translate(-5px, 4px);
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M12.8188 4.59003L11.3549 4.59003L11.3497 10.3885L5.03211 4.07091L3.99389 5.10914L10.3115 11.4267L4.513 11.4215L4.513 12.8958L12.8188 12.8958L12.8188 4.59003Z' fill='%23FB443D'/%3E%3C/svg%3E") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .speakers .speaker__list li::before {
    position: absolute;
  }
}
.speakers .speaker__text {
  color: #000;
  line-height: normal;
  font-weight: 300;
}
.speakers .speaker__text b {
  font-weight: 700;
}

.packages {
  position: relative;
}
.packages .container {
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1200px) {
  .packages .container {
    padding-top: 87px;
    padding-bottom: 96px;
  }
}
.packages__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.packages__title {
  font-size: 26px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.packages__title span {
  color: #f5c120;
}
@media (min-width: 1200px) {
  .packages__title {
    font-size: 42px;
  }
}
.packages .item {
  width: 100%;
  padding: 35px 15px;
  color: #f8f8f8;
  display: flex;
  flex-flow: column;
  gap: 20px;
  border-radius: 27px;
}
@media (min-width: 1200px) {
  .packages .item {
    padding: 48px 32px 48px 48px;
    width: 486px;
  }
}
.packages .item__header {
  text-align: center;
  background-color: reed;
}
.packages .item__title {
  font-size: 42px;
  font-weight: 800;
  display: inline-flex;
  padding: 0 5px;
  line-height: 1;
}
@media (min-width: 1200px) {
  .packages .item__title {
    font-size: 62px;
  }
}
.packages .item__info {
  text-align: left;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
@media (min-width: 1200px) {
  .packages .item__info {
    gap: 30px;
  }
}
.packages .item__info li {
  padding-left: 44px;
  position: relative;
  font-weight: 400;
}
@media (min-width: 1200px) {
  .packages .item__info li {
    font-size: 18px;
  }
}
.packages .item__info li b {
  font-weight: 800;
}
.packages .item__info li::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M17.5917 6.12003L15.6399 6.12003L15.6329 13.8513L7.20948 5.42789L5.82518 6.81218L14.2486 15.2356L6.51733 15.2287L6.51733 17.1944L17.5917 17.1944L17.5917 6.12003Z' fill='%2304AB1E'/%3E%3C/svg%3E") 50%/contain no-repeat;
}
.packages .item__info .no-active {
  color: #a3a3a3;
}
.packages .item__info .no-active::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M17.5917 6.12003L15.6399 6.12003L15.6329 13.8513L7.20948 5.42789L5.82518 6.81218L14.2486 15.2356L6.51733 15.2287L6.51733 17.1944L17.5917 17.1944L17.5917 6.12003Z' fill='%23a3a3a3'/%3E%3C/svg%3E") 50%/contain no-repeat;
}
.packages .item__btn {
  z-index: 2;
}
.packages .item--core {
  background-color: #f8f8f8;
  color: #000;
}
.packages .item--core .item__title {
  background-color: #2b6432;
  color: #ffffff;
}
.packages .item--pro {
  background-color: #2b6432;
  position: relative;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.packages .item--pro .item__title {
  background-color: #ffffff;
  color: #000;
}
.packages .item--pro .item__info li::before {
  background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9403 7.14004L17.6632 7.14004L17.6551 16.1599L7.82773 6.33253L6.21271 7.94755L16.0401 17.7749L7.02022 17.7668L7.02022 20.0602H19.9403L19.9403 7.14004Z' fill='white'/%3E%3C/svg%3E%0A") 50%/contain no-repeat;
}

.register .container {
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}
@media (min-width: 1200px) {
  .register .container {
    max-width: 1200px;
    padding-bottom: 90px;
    padding-top: 90px;
  }
}
.register__title {
  font-size: 26px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.register__title span {
  color: #f5c120;
}
@media (min-width: 1200px) {
  .register__title {
    font-size: 36px;
  }
}
.register .block {
  padding: 40px 20px;
  flex-wrap: wrap;
  gap: 67px;
  border-radius: 57px;
  border: 2px solid #fff;
  background: #1f2229;
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .register .block {
    padding: 60px 120px;
    border-radius: 57px;
    gap: 50px;
    margin: 0 -30px;
  }
}
@media (min-width: 1200px) {
  .register .block__content {
    width: 100%;
    max-width: 530px;
  }
}
@media (min-width: 1200px) {
  .register .block__form {
    width: 100%;
    max-width: 340px;
    position: relative;
  }
}
.register .block__title {
  margin-bottom: 24px;
  color: #f5c120;
  font-size: 52px;
  line-height: 100%;
  font-weight: 800;
  max-width: 300px;
}
@media (min-width: 1200px) {
  .register .block__title {
    font-size: 76px;
    max-width: 350px;
    margin-bottom: 28px;
  }
}
.register .block__title b {
  display: block;
  text-align: right;
}
.register .block__subtitle {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .register .block__subtitle {
    font-size: 28px;
    text-align: left;
    margin-bottom: 38px;
    margin-left: 62px;
  }
}
.register .block__subtitle span {
  display: block;
  color: #f5c120;
}
.register .block__info {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  width: 100%;
}
@media (min-width: 1200px) {
  .register .block__info {
    gap: 13px;
    margin-left: 16px;
    max-width: 390px;
  }
}
.register .block__info li {
  width: 100%;
  display: flex;
}
.register .block__info li p {
  display: inline-flex;
  padding: 4px 26px;
  border: 2px solid #2b6432;
  border-radius: 36px;
}
@media (min-width: 1200px) {
  .register .block__info li p {
    font-size: 24px;
  }
}
.register .block__info li:nth-child(1) {
  justify-content: center;
}
.register .block__info li:nth-child(3) {
  justify-content: flex-end;
  margin-top: -30px;
}
@media (min-width: 1200px) {
  .register .block__info li:nth-child(3) {
    margin-top: -40px;
  }
}
.register .form {
  text-align: center;
}
@media (min-width: 1200px) {
  .register .form {
    text-align: left;
  }
}
.register .form__title {
  color: #f5c120;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.register .form__package {
  display: inline-flex;
  border: 2px solid #ffffff;
  border-radius: 53px;
  padding: 5px;
  position: relative;
  gap: 5px;
  margin-bottom: 35px;
}
@media (min-width: 1200px) {
  .register .form__package {
    font-size: 28px;
  }
}
.register .form__package input:checked + span,
.register .form__package .tabs__tab--active span {
  background: #f5c120;
  border-radius: 53px;
}
.register .form__package span {
  display: inline-flex;
  height: 34px;
  padding: 0 12px;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .register .form__package span {
    font-size: 24px;
  }
}
.register .form .input__wrap {
  display: block;
  text-align: left;
  margin-bottom: 15px;
  color: #000;
}
.register .form .input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  display: block;
  color: #fff;
}
.register .form .input::-moz-placeholder {
  color: #fff;
}
.register .form .input::placeholder {
  color: #fff;
}
.register .form .intl-tel-input {
  width: 100%;
}
.register .form__btn {
  margin: 30px 0 14px;
  border: none;
}
.register .form__btn:hover {
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
}
.register .form__agree {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.register .form__agree a {
  color: #ffffff;
  text-decoration: underline;
}

.how {
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}
@media (min-width: 1200px) {
  .how__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 436px;
    height: 882px;
  }
}
@media (min-width: 1200px) {
  .how {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .how .container:before {
    content: "";
    position: absolute;
    right: -123px;
    bottom: -91px;
    background: url(../img/how-img.png) center no-repeat;
    width: 594.164px;
    height: 937px;
    background-size: contain;
  }
}
.how__title {
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: #2b6432;
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .how__title {
    font-size: 42px;
    margin-bottom: 54px;
  }
}
.how__title span {
  color: #f5c120;
}
@media (min-width: 1200px) {
  .how__content {
    max-width: 780px;
  }
}
.how ul {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media (min-width: 1200px) {
  .how ul {
    gap: 54px;
  }
}
.how ul li {
  width: 100%;
}
.how ul li hr {
  width: 50px;
  height: 4px;
  margin-top: 0;
  background-color: #f5c120;
  border: none;
  margin-left: 0;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .how ul li hr {
    margin-bottom: 22px;
  }
}
.how ul li b {
  display: block;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #1f2229;
}
@media (min-width: 1200px) {
  .how ul li b {
    font-size: 22px;
  }
}
.how ul li p {
  color: #1f2229;
}
@media (min-width: 1200px) {
  .how ul li p {
    font-size: 16px;
  }
}
.how__btn {
  margin-top: 24px;
  display: none;
}
@media (min-width: 1200px) {
  .how__btn {
    margin-top: 46px;
    display: block;
  }
}

.company {
  padding-bottom: 62px;
  position: relative;
}
@media (min-width: 1200px) {
  .company__img {
    position: absolute;
    top: 94px;
    left: 0;
    width: 381px;
    height: 470px;
  }
}
@media (min-width: 1200px) {
  .company {
    padding-top: 66px;
    padding-bottom: 86px;
  }
}
@media (min-width: 1200px) {
  .company .container {
    max-width: 1140px;
  }
}
.company__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 26px;
}
.company__title span {
  color: #2b6432;
  font-family: 700;
}
@media (min-width: 1200px) {
  .company__title span {
    font-size: 42px;
  }
}
.company__title b {
  max-width: 360px;
  font-size: 36px;
  margin-top: 10px;
  display: block;
  display: block;
  font-weight: 800;
  line-height: 100%;
  width: 100%;
  text-transform: none;
}
@media (min-width: 1200px) {
  .company__title b {
    font-size: 70px;
    max-width: 625px;
    margin-bottom: 48px;
  }
}
.company__title b i {
  display: block;
  text-align: right;
}
.company__text {
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .company__text {
    max-width: 860px;
    margin-left: auto;
    font-size: 20px;
  }
}
.company ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 56px;
}
.company ul li {
  width: calc(50% - 10px);
  font-size: 18px;
}
@media (min-width: 1200px) {
  .company ul li {
    width: 100%;
    max-width: 170px;
  }
}
.company ul li b {
  font-size: 32px;
  line-height: 31px;
  font-weight: 800;
  display: block;
  color: #2b6432;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .company ul li b {
    font-size: 45px;
  }
  .company ul li b span {
    font-size: 28px;
  }
}

.clients {
  padding-top: 62px;
  padding-bottom: 62px;
}
@media (min-width: 1200px) {
  .clients {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
.clients__title {
  text-align: center;
  margin-bottom: 34px;
  font-weight: 800;
  font-size: 26px;
  color: #263238;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .clients__title {
    font-size: 42px;
  }
}
.clients__slider {
  padding: 0 24px;
}
.clients .logo {
  background: 50%/contain no-repeat;
  height: 93px;
}

.footer {
  background-color: #1f2229;
  padding: 48px 0;
  color: #ffffff;
  position: relative;
}
.footer__decor--1 {
  width: 259px;
  height: 334px;
  background: 50%/contain no-repeat;
  position: absolute;
  left: 0;
  top: -60px;
}
.footer__decor--2 {
  width: 345px;
  height: 219px;
  background: 50%/contain no-repeat;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 268px;
}
@media (min-width: 760px) {
  .footer__container {
    max-width: 1200px;
    justify-content: center;
    gap: 80px;
  }
}
.footer__container h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__container ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__social svg {
  fill: #f5c120;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1260px) {
  .footer__decor--1 {
    position: absolute;
    left: calc(50% - 800px);
    top: -100px;
  }
  .footer__decor--2 {
    position: absolute;
    top: 70px;
    right: calc(50% - 600px);
  }
  .footer__container {
    justify-content: space-between;
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */