


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
$color-pink: #f354e4;
$color-blue: #64d9ff;
$color-white: #ffffff;
$color-black: #242424;
$color-black-light: #515660;
.kbs-hide{
  display: none;
}

button{
  &:focus{
    outline: none!important;

  }
}

.seminar-landing{
    background-color: #fff;


}

.branding ~ .seminars-container #main {
  z-index: inherit;
}

#bg_popup{
  display: none!important;
}

#bg_popup_two{
  display: none!important;
}

#__telerWdTriggerContent{
  display: none!important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  margin: 0;
}

html * {
  max-height: 1000000px;

  //-font-family: 'Montserrat', sans-serif;

}



#main {
  width: 100%;
  overflow: hidden;
  background: #fff!important;
}
.circle{
  display: none;
}

%container{
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;

  @media (max-width: 1200px){
    max-width: 767px;
    padding: 40px 10px;
  }
}



%title {
  font-size: 44px;
  font-weight: 800;
  line-height: 1.27;
  margin-bottom: 45px;
  text-transform: uppercase;
  color: #3f5dfd;
  @media (max-width: 1200px){
    margin-bottom: 30px;
  }

  @media (max-width: 767px){
    font-size: 24px;
  }
}

%btn {
  display: inline-block;
    width: 300px;
    font-size: 22px;
    font-weight: bold;
    line-height: 2.6;
  border-radius: 0;
    transition: all 0.3s ease 0s;
    background-color: #3f5dfd;
    border: none;
    color: $color-white;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    @media (max-width: 767px){
      max-width: 370px;
      width: 100%;
      font-size: 16px;
    }



  &:hover {
    color: #ffffff;
    letter-spacing: 3px;
    background-image: linear-gradient(to bottom, #f5376f, #db32bd);
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  &:active,
  &:focus{
    color: #ffffff;
    text-decoration: none;
  }

}

%btns{
  border-radius: 29px;
  max-width: 360px;
  width: 100%;
  box-shadow: 0px 21px 40px 0 rgba(39, 62, 246, 0.3);
  background-color: #c000ae;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 58px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
    background-color: #4f1a64;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  &:active,
  &:focus{
    color: #ffffff;
    text-decoration: none;
  }
}

@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "scss/mixins";
@import "scss/variables";
@import "scss/haeding";
@import "scss/menu";
@import "scss/hero";
@import "scss/video";
@import "scss/info";
@import "scss/profession";
@import "scss/lectors";
@import "scss/themes";
@import "scss/theme";
@import "scss/advantages";
@import "scss/gift";
@import "scss/order";
@import "scss/pricing-timer";
@import "scss/package";
@import "scss/reviews";
@import "scss/free-video";
@import "scss/partners";
@import "scss/loader-page";
/*@import "video";*/
/*@import "map";*/
@import "scss/modal-video";


.branding-page #main{
  width: 100%;
  background: #030a16;
}

.branding-page{
  padding-top: 0px;

}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #fff;

  .heading{
    display: none;
  }
}