.methodology {
  color: $white;
  border-radius: 27px;
  background: #1f2229;

  @include media-breakpoint-up(xl) {
    border-radius: 57px;
  }
  &__content {
    max-width: 1100px;
    margin: 84px 0 0;
    padding: 30px;

    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 28px 66px 44px;
      min-width: 100%;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 18px;
    text-transform: uppercase;
    text-align: center;

    @include media-breakpoint-up(xl) {
      font-size: 42px;
      margin-bottom: 14px;
      text-align: left;
      span {
        text-align: right;
        display: block;
        padding-right: 85px;
      }
    }
  }

  &__block {
    @include media-breakpoint-up(xl) {
      max-width: 650px;
    }
  }

  &__text {
    color: #fff;
    @include media-breakpoint-up(xl) {
      font-size: 18px;
      padding-left: 65px;
    }
    p {
      &:first-child {
        margin-bottom: 12px;
      }
    }
  }

  &__btn {
    margin-top: 26px;
    display: none;

    @include media-breakpoint-up(xl) {
      margin-top: 0;
      display: block;
      max-width: 360px;
      width: 100%;
      text-align: center;
    }

    .btn-page {
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
        margin-top: 22px;
      }
    }
  }
}
