@charset "utf-8";
.hero {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  position: relative;
  background: url(images/bg_hero__1200.jpg) no-repeat top center,linear-gradient(90deg, #000058, #000058, #000058, #000058);

  @media (max-width: 1200px){
    background: url(images/bg_hero__1200.jpg) no-repeat top -30px center,linear-gradient(90deg, #000058, #000058, #000058, #000058)

  }
  @media (max-width: 767px){
    background: url(images/bg_hero__1200.jpg) no-repeat top -112px center,linear-gradient(90deg, #000036, #000036, #000036, #000036);

  }



  
  &__container {
    @extend %container;
    position: relative;
    padding-bottom: 75px;
    padding-top: 0;
    &:before{
      position: absolute;
      content: " ";
      background: url(images/os_hero.png) no-repeat top center;
      background-size: contain;
      width: 265px;
      height: 502px;
      bottom: 0;
      right: 0;
      @media (max-width: 1200px){
        content: none;
      }


    }
    &:after{
      position: absolute;
      content: " ";
      background: url(images/tm_ig_hero.png) no-repeat top center;
      background-size: contain;
      width: 443px;
      height: 450px;
      bottom: 0;
      left: -80px;

      @media (max-width: 1200px){
        content: none;
      }
    }


  }
  &__content{

  }

  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  &__vebinar{
    font-size: 24px;
    letter-spacing: 1.2px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    color: #1b0022;
    text-transform: uppercase;
    @media (max-width: 1200px){

    }
  }

  &__date{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: center;
    color: #1b0022;

    span{
      color: #7c089c;
    }

  }
  &__title{
    padding-top: 15px;
    font-size: 49px;
    line-height: normal;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    span{
      font-size: 66px;
      line-height: 0.97;
      @media (max-width: 767px){
        font-size: 49px;
        line-height: 1;
      }
    }
    @media (max-width: 767px){
      font-size: 36px;
      line-height: 1;
    }
  }

  &__sub-title{
    font-size: 33.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid 2px #ff4bd0;
    @media (max-width: 767px){
      font-size: 25px;
    }
  }


  &__menu {
    @media (max-width: 1200px){
      display: none;

    }
  }

  &__names{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;

    p{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.8px;
      text-align: center;
      color: #ffffff;

    }
  }

  &__info{


  }

  &__date{

  }




  &__description{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 20px;
    @media (max-width: 767px){
      font-size: 13px;
    }
  }




  &__btn{
    border-radius: 36px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 290px;
    width: 100%;
    margin: 35px auto 0;
    transition: 0.7s;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #c80b83;
    padding: 10px 0;
    &:hover,
    &:active,
    &:focus{
      background-color: #00056c;
      color: #fff;
      text-decoration: none;
      .circle{
        background-color: #fff;
        &:before {
          border-top: 3px solid #00056c;
          border-right: 3px solid #00056c;
        }
      }
    }
   .circle{
     width: 50px;
     height: 50px;
     background-color: #c80b83;
     display: inline-block;
     border-radius: 50%;
     position: relative;
     transition: 0.7s;
     &:before {
       position: absolute;
       content: '';
       top: 50%;
       left: 46%;
       width: 13px;
       height: 13px;
       border-top: 3px solid #fff;
       border-right: 3px solid #fff;
       transform: translate(-50%, -50%) rotate(45deg);
     }
   }


  }












}
.hero__controls-modal-btn {
  bottom: 175px;
  right: 385px;
  position: absolute;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 103px;
  border: none;
  outline: none;
  background: url(images/btn-modal.png) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scale 1.5s linear infinite;
  -o-animation: scale 1.5s linear infinite;
  animation: scale 1.5s linear infinite;
  @media (max-width: 1200px){
    display: none;
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

p.seminar_rec{
  font-size: 22px;
  line-height: 50px;
  padding: 10px 0;
  color: #fff;



  span {
    padding-left: 60px;
    position: relative;
    display: inline-block;


    &:before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      background-image: url(../../parts/pages/online/images/camera.png);
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
  }
}
