.hero {
  height: calc(100% - 216px);
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  @media (max-width: 1000px){
    padding: 25px 0;
    height: auto;
  }

  &__background{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    @media (max-width: 1000px){
      width: 100%;
    }
  }



  &__background-left{
    background: url(images/bg_dec.png) no-repeat top right -150px,linear-gradient(18deg, #5dd7ff 0%, #788bff 100%);
    left: 0;
    @media (max-width: 1000px){
      height: 40%;

    }
  }

  &__background-right{
    right: 0;
    background-color: #ecf0fe;
    @media (max-width: 1000px){
      top: 40%;
      height: 60%;

    }
  }

  &__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: 1000px){
      flex-direction: column;
      height: auto;
      padding: 0px;
    }

  }

  &__title{
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 2.63px;
    text-align: center;
    width: 50%;
    @media (max-width: 1000px){
      width: 100%;
      padding-bottom: 50px;
    }
    @media (max-width: 760px){
      font-size: 33px;
      padding-bottom: 25px;
      line-height: 1.2;
    }

    .tour-sub-name{
      color: #2427a0;
      font-size: 27px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      @media (max-width: 760px){
        font-size: 15px;
      }
    }

  }

  &__form{
    width: 50%;
    @media (max-width: 1000px){
      width: 100%;
      padding:  0 10px;
    }
  }
}


.hero-form {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(58, 103, 236, 0.47);
  background-color: #f6f4f4;
  max-width: 420px;
  width: 100%;
  margin: 0 auto;


  &__header {
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 50px 0 35px;
    @media (max-width: 1000px){
     font-size: 18px;
      padding: 30px 0 15px;
    }

    p{
      margin: 0;
    }
  }

  &__body {
    padding: 45px 30px 50px;
    background: #fff;
    border-radius: 20px;
    @media (max-width: 1000px){
      padding: 30px 22px 25px;
    }
  }

  &__btn {

    .btn{
      text-transform: none;
      background-color: #164ae4;
      text-align: center;
      padding-top: 10px;
      box-shadow: 0 1px 2px rgba(3, 7, 8, 0.35);
      border-radius: 10px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  form {
    margin: 0;
  }

  .form-group {
    display: block;
    padding: 0;
    margin-bottom: 35px;
    @media (max-width: 760px){
      margin-bottom: 20px;
    }

    &.has-error {
      margin-bottom: 15px;
      @media (max-width: 760px){
        margin-bottom: 0px;
      }
    }

    input {
      min-width: 100%!important;
      height: 48px;
      border-radius: 10px;
      border: 1px solid #e2e2e2;
      padding: 15px;
      font-size: 16px;
      color: #7c7c7d;
    }

    label.error {
      position: static;
      left: 0;
      margin: 0;
      text-align: left;
    }
  }
}