.business {
  position: relative;

  .container {
    padding-top: 0;
  }

  &__content {
    border: 1px solid #000;
    border-radius: 7px;
    padding: 16px;

    @include media-breakpoint-up(xl) {
      padding: 48px 96px;
      display: flex;
      align-items: center;
      gap: 100px;
    }
  }

  &__item {
    @include media-breakpoint-up(xl) {
      &:first-child {
        max-width: 312px;
        width: 100%;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 34px;
      line-height: 112%;
      text-transform: uppercase;
      margin-bottom: 12px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 222px;
        height: 100px;
        background: url("data:image/svg+xml,%3Csvg width='365' height='101' viewBox='0 0 365 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M70.6992 66.7961C62.114 62.7256 9.4455 69.8152 5.44916 68.7907C1.97435 67.3588 2.76038 38.901 5.2166 34.5714C6.06241 33.0192 7.26356 32.7236 10.2216 33.2803C13.8587 34.1125 62.5149 30.2824 72.998 29.5574C73.8748 30.4066 75.8862 27.3852 76.4023 28.4513C77.1977 29.6822 101.202 28.8438 126.006 28.0357C135.127 27.7422 153.411 26.9644 180.613 26.5746C185.534 26.511 181.647 28.1884 187.41 27.6095C199.695 26.3455 226.489 28.328 235.814 27.053C243.298 26.0439 244.898 26.0226 252.013 27.277C258.13 28.364 298.049 28.8947 302.736 27.2203C303.858 26.7333 304.657 26.982 304.614 27.6094C304.614 27.6094 331.887 29.8394 331.965 30.3581C332.123 30.9863 332.882 31.3439 333.723 30.965C335.166 30.3155 364.527 30.0974 364.76 31.9811C365.461 37.3047 358.619 59.2183 354.719 64.4157C350.619 69.9124 333.247 62.0982 317.757 64.6601C241.009 60.554 247.965 61.6714 233.639 63.2825C232.006 61.3391 225.389 65.8441 221.441 62.4185C219.847 61.0209 208.008 60.5675 205.363 61.8947C204.241 62.4636 188.563 61.7231 172.403 61.4992C156.243 61.2753 139.561 61.6224 136.554 63.4941C123.966 60.0908 75.5813 66.2958 70.6193 66.7685L70.6992 66.7961Z' fill='%23FC4040' fill-opacity='0.3'/%3E%3Cpath opacity='0.7' d='M35.5447 64.8095C32.1916 62.9142 21.4982 66.4218 13.0917 68.0823C11.9708 68.2964 5.807 69.2558 4.8086 68.8155C3.61182 67.9378 0.410518 36.0269 0.294986 34.8258C0.0643292 32.3145 0.57841 33.9264 1.73773 34.1217C2.37734 34.2332 4.97934 33.7245 5.61976 33.6177C8.70259 32.8924 12.9484 31.3529 15.7927 30.2174C16.55 30.957 15.4007 28.0875 16.1971 29.0455C18.3078 31.5911 43.9104 20.4168 47.6755 19.0938C49.1976 18.5537 49.0706 20.4088 50.5149 19.2681C52.0396 18.0458 55.3232 17.1029 58.4468 16.1868C70.1803 12.6831 64.6269 10.8615 71.225 11.4318C74.2248 11.5248 87.522 7.01736 88.3301 4.86466C88.4523 4.2648 88.8919 4.37561 89.2097 4.97711C89.2494 5.05912 91.8511 4.60493 94.6523 4.3152C97.4535 4.02547 100.215 3.79018 100.374 4.00907C100.732 4.61073 101.171 4.83067 101.292 4.36724C101.335 3.54878 112.47 -0.311924 113.264 1.43743C115.525 6.46673 121.524 28.4282 122.584 33.8077C123.722 39.5969 115.824 33.7007 112.888 37.9739C108.805 38.6955 101.479 40.2508 91.9088 42.8348L88.6569 45.988C86.9027 44.4261 87.9647 49.2599 84.4946 46.5729C83.0985 45.5034 79.2552 46.3623 79.3295 47.8907C79.3273 48.491 74.0832 49.5084 68.7574 51.0166C63.4317 52.4976 58.0645 54.3878 58.257 56.3805C52.9426 54.8326 42.5973 61.5067 35.5845 64.8642L35.5447 64.8095Z' fill='%23FC4040' fill-opacity='0.3'/%3E%3Cpath opacity='0.7' d='M123.203 92.8062C115.216 89.311 73.0153 99.8505 69.0183 99.017C65.8227 97.8044 60.3673 69.6508 61.5038 65.2345C61.9097 63.6533 62.831 63.2747 65.4298 63.6392C68.6677 64.2243 104.973 57.865 117.341 55.7827C118.258 56.5774 119.31 53.4433 119.986 54.4555C121.38 56.2071 191.819 46.4003 206.626 44.8182C210.707 44.3696 207.82 46.3235 212.504 45.2767C222.433 43.0216 245.115 42.6695 252.563 40.5688C258.57 38.872 259.85 38.7949 266.048 39.3365C272.326 39.8783 304.541 36.4236 307.909 34.3077C308.711 33.7104 309.43 33.8768 309.548 34.5049C309.548 34.5049 332.511 33.8809 332.67 34.2908C332.907 34.9193 333.706 35.1679 334.268 34.7061C335.351 33.9734 359.166 30.3236 359.879 32.1273C361.86 37.292 362.096 59.6412 360.236 65.2009C358.254 71.1149 341.474 65.4859 329.418 69.6705C260.359 74.1067 273.684 72.9011 258.789 76.6386C256.996 74.8583 252.497 79.917 248.428 76.8729C246.792 75.6389 236.83 76.2021 234.864 77.7775C234.061 78.4294 220.779 79.0348 207.214 80.103C193.65 81.1986 179.803 82.7843 177.675 84.8775C167.643 82.6026 131.491 90.9543 123.203 92.8609L123.203 92.8062Z' fill='%23FC4040' fill-opacity='0.3'/%3E%3C/svg%3E%0A")
          no-repeat center center;
        background-size: contain;
        left: 36px;
        z-index: -1;
        bottom: 20px;

        @include media-breakpoint-up(xl) {
          width: 365px;
          height: 101px;
          bottom: 0px;
        }
      }
    }
    p {
      line-height: 132%;
      margin-bottom: 28px;

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 141%;
      b {
        font-weight: 700;
      }

      @include media-breakpoint-up(xl) {
        font-size: 20px;
        margin-bottom: 28px;
      }
    }
  }

  &__btn {
    display: none;
    text-align: center;

    @include media-breakpoint-up(xl) {
      display: flex;
      padding: 20px;
    }
  }

  &__description {
    border-radius: 7px;
    background: #373737;
    padding: 16px;
    font-weight: 500;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 16px;
    display: block;

    @include media-breakpoint-up(xl) {
      margin-top: 28px;
      font-size: 26px;
      text-align: center;
    }

    span {
      color: $maincolor;
    }
  }
}
