@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;subset=cyrillic');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//fonts
$font_1: Open-Sans, sans-serif;


//urls

$url_2: url(images/head/head_b.jpg);


$menu-color: #464646;


body {
  background-color: #fefefe;
  overflow-x: hidden;
}

@media screen and(max-width: 1024px) {

  html {
    overflow-x: hidden;
  }

}


%extend_1 {
  text-decoration: none;
  background-color: #fcd97a;
  border-color: #ffbd76;
  color: #000;
}
.header{
  position: relative;
}
#main, #action, .wrapper {
  width: 100%;
}

#action {
  background-color: #ffffff;
  position: relative;
}

.wrapper {
  padding-top: 90px;

  &.wrapper_hero {
    padding-top: 0;
    height: 760px;
    background:  $url_2  50% no-repeat, linear-gradient(90deg, rgb(254, 64, 89) 0%, rgb(254, 64, 89) 50%, rgb(255, 255, 255) 60%);

  }









}

.contents {
  width: 960px;
  margin: 0 auto;
}

.b-title {
  position: relative;
  margin: 0;

  padding-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  color: #1d1d1d;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;


}

.b-title--video {
  color: #1c1c1c;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 0;

}

.b-menu {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-weight: 600;
  font-family: $font_1;
  width: 100%;

  .b-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .b-menu__item {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font-size: 14px;



  }

  .b-menu__link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1.39px;
    transition: all 150ms linear;

    &:hover,
    &:focus,
    &:active {
      color: #515e90;
      text-decoration: none;
    }

  }

  .b-menu__link--colored {
    color: #ffe400;
  }

}

.block-hero {
  height: 100%;
  position: relative;
  font-family: $font_1;

  &__order {
    margin-top: 0px;

    .hero-order__btn {
      position: relative;
      display: block;
      width: 235px;
      height: 60px;
      border-radius: 5px;
      background-color: #ffffff;
      margin: 30px  0;
      color: #ff4b55;
      font-family: $font_1, sans-serif;
      font-size: 22px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      text-decoration: none;
      text-align: center;
      border: solid 2px #ffffff;
      transition: 0.5s;
      line-height: 60px;
      box-shadow: 0 12px 40px rgba(98, 0, 31, 0.41);
      cursor: pointer;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #ffffff;
        background-color: transparent;
        border: solid 2px #ffffff;
        box-shadow: 0 0 0 rgba(98, 0, 31, 0.41);
        transition: 0.5s;
        cursor: pointer;


      }

    }

  }
  .block-hero__wrap{
    padding-left: 50px;
    padding-top: 50px;

    .block-hero__info{
      background-color: #2d24a9;
      font-size: 22px;
      font-weight: bold;
      padding: 5px;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
    }

    .block-hero__title{
      color: #ffffff;
      font-size: 54px;
      margin: 0;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
      margin-top: 25px;
    }
    .block-hero__text{
      padding: 40px 0;
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      line-height: 36px;


    }
  }

}
.wrapper__new{
  padding-top: 0;
  .new-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .new-block__item{
      width: 410px;
      padding-left:15px;
      .new-block__title{
        color: #1c1c1c;
        font-size: 34px;
        font-weight: 700;
        line-height: 80px;
        text-transform: uppercase;
        position: relative;
        &:after{
          display: block;
          content: "";
          width: 80px;
          height: 4px;
          background-color: #fe5254;
          bottom: 0;
          left: 0;

        }
      }
      .new-block__text{
        color: #616161;
        padding-top: 35px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }

    }
    .new-block__item--bg{
      width: 540px;
      height: 590px;
      background: #ffffff  url(images/new/ellipse_figure.png) 50% 100% no-repeat;
      position: relative;
      @keyframes shadow-pulse
      {
        0% {
          box-shadow: 0 0 0 0px rgba(252, 107, 76, 0.4);
        }
        56% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
        }
      }
      @keyframes shadow-pulse-slow
      {
        0% {
          box-shadow: 0 0 0 0px rgba(252, 107, 76, 0.4);
        }
        56% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
        }
      }
      @keyframes shadow-pulse-fast
      {
        0% {
          box-shadow: 0 0 0 0px rgba(252, 107, 76, 0.4);
        }
        56% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
        }
      }
      .puls
      {
        position: absolute;
        width: 15px;
        height: 15px;
        text-align: center;
        background: rgb(252, 107, 76);
        border-radius: 50%;
        animation: shadow-pulse 2s infinite;
      }
      .puls_one{
        top: 196px;
        left: 13px;
        animation: shadow-pulse-slow 2.2s infinite;
      }
      .puls_two{
        top: 72px;
        right: 114px;
        animation: shadow-pulse-fast 2.4s infinite;
      }
      .puls_three{
        top: 350px;
        right: 141px;
      }


    }
  }
}
.wrapper__lectors{
  padding-top: 10px;
}

.wrapper__lector{
  padding-top: 100px;
  padding-bottom: 0px;
  position: relative;
  &:before{
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 150px;
    height: 180px;
    bottom: 0;
    background: #ffffff  url(images/decor2.png) 50% 100% no-repeat;
  }
  &:after{
    content: "";
    right: -300px;
    position: absolute;
    display: block;
    width: 1004px;
    height: 747px;
    bottom: -487px;
    background:  url(images/new/decor1-min.png) 50% 100% no-repeat;
    z-index: 1;
  }




}
.block-lector{
  margin: 20px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 960px;
  box-shadow: 0 10px 75px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  height: 290px;

  .block-lector__item--regalia{
    width: 240px;
    position: relative;
    background-color: #eaeaea;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;

    .lector-photo{
      width: 240px;
      height: 160px;

      border-top-right-radius: 10px;
    }
    .lector-name{
      padding-left: 15px;
      padding-top: 17px;
      padding-bottom: 8px;


      height: 85px;
      p{
        margin: 0;
        color: #1c1c1c;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
      }

    }
  }
}
.block-lector__date{
  padding: 30px 0 15px 40px;

  position: relative;
  &:after{
    display: block;
    content: "";
    width: 80px;
    position: absolute;
    height: 4px;
    background-color: #fe5254;
    bottom: 0;
    left: 40px;

  }
  p{
    color: #fe5254;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;

  }
  span{
    color: #1c1c1c;

    font-size: 16px;
    font-weight: 700;
    line-height: 30px
  }
}
.theme{
  padding-top: 20px;
  padding-left: 40px ;
  .theme-title{
    font-size: 16px;
    line-height: 24px;
    color: #1c1c1c;

    font-weight: 700;

  }
  .theme-list{
    display: flex;
    padding-top: 10px;
    .theme-list__item{
      list-style-type: none;
      position: relative;
      width: 220px;
      &:last-child{
        padding-right: 0;
      }
      ul{
        list-style-type: none;
        li{
          position: relative;
          margin-bottom: 5px;
          &:after{
            display: block;
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            border-radius: 50%;
            background-color: #fe5254;
            bottom: 9px;
            left: -10px;

          }
        }
      }
    }
  }
}
#lector_vw{

}
.regalia{
  display: none;
}
.btn_new{
  cursor: pointer;
  width: 235px;
  height: 60px;
  box-shadow: 0 9px 46px rgba(175, 2, 0, 0.5);
  border-radius: 5px;
  background-color: #ff3e59;
  background-image: linear-gradient(to right, #ff3e59 0%, #fc9842 100%);
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 60px;
  margin: 60px auto;
  text-align: center;
  display: block;
  transition: 0.5s;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #ff3e59;
    background-color: #ff3e59;
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    border: solid 2px #ff3e59;
    box-shadow: 0 3px 20px rgba(98, 0, 31, 0.41);
    transition: 0.5s;
    cursor: pointer;


  }
}
.second{
  display:none;
}

.buttons{
  width: 200px;
  position: absolute;
  cursor: pointer;
  bottom: 30px;
  text-align: left;
  right: 25px;
  color: #fe5254;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: underline;
  z-index: 1;


}
.regalia{
  padding-top: 20px;
  padding-left: 40px;
  .theme-title{
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

  }
  p{
    padding-top: 5px;
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

}
.buttons.clicked+div.contain>.first{
  display:none;
}

.buttons.clicked+div.contain>.second{
  display:block;
}
.wrapper__order{
  padding-bottom: 120px;
  .titel{
    h3{
      padding-bottom: 30px;
      color: #1c1c1c;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      line-height: 1;
      position: relative;
      margin: 0;
      /*&:after{
        display: block;
        content: "";
        width: 80px;
        position: absolute;
        height: 4px;
        background-color: #fe5254;
        bottom: 0;
        left: 50%;
        margin-left: -40px;

      }*/


    }


    p{
      padding-top: 30px;
      color: #616161;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.block-order{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .block-order__item{
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 32%;
    box-shadow: 0 10px 75px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px 0px 20px;
    .block-order--titel{
      color: #1c1c1c;
      height: 67px;
      padding-bottom: 15px;
      font-size: 22px;
      font-weight: 700;
      line-height: 20px;
      position: relative;
      &:after{
        display: block;
        content: "";
        width: 40px;
        position: absolute;
        height: 4px;
        background-color: #fe5254;
        bottom: 0;
        left: 50%;
        margin-left: -20px;

      }
      span{
        padding-top: 5px;
        color: #616161;
        font-size: 14px;
        font-weight: 400;
      }

      h2{
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 8px;
        text-transform: uppercase;
      }

    }
    .block-order--price{
      padding-top: 25px;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: start;
      .gift{
        padding-top: 20px;
        color: #ff9c00;
        padding-left: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.45px;
        margin: 0;
        text-align: left;
        position: relative;
        &:before{
          position: absolute;
          content: " ";
          background: url(images/gift1.png) center center no-repeat;
          width: 19px;
          height: 19px;
          left: -10px;
          top: 21px;
        }
      }
      ul{
        list-style-type: none;
        padding-right: 0px;
        li{
          text-align: left;
          color: #000;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.35px;
          text-transform: uppercase;
        }
      }


      h3{
        margin: 0;
        font-size: 26px;
        font-weight: 700;
        padding-top: 0px;
      }
      span{
        padding-top: 5px;
        color: #616161;
        font-size: 14px;
        font-weight: 400;
        display: block;
      }
      p{
        position: relative;
        color: #1c1c1c;
        font-size: 22px;
        font-weight: 700;
        margin-top: 80px;
        margin-bottom: 0;

      }
      .leader{
        margin-top: 10px;
        color: #fd6f4c;
        font-size: 16px;
        font-weight: 700;
      }
    }
    .gift-text{
      margin-top: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      p{
        padding-top: 5px;
        margin: 0;
        padding-left: 10px;
        color: #ff9c00;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.8px;
      }


    }
    ul{
      margin-top: 3px;
      margin-bottom: 0px;
      padding-left: 0;
      list-style-type: none;
      color: #000;
      li{
        font-size: 16px;
      }
    }

    .btn-order{
      border: none;
      color: #ffffff;
      font-size: 18px;
      cursor: pointer;
      background-color: #ffffff;
      background-image: linear-gradient(to right, #ff3e59 0%, #fc9842 100%);
      width: 180px;
      height: 50px;
      border-radius: 5px;
      font-weight: 700;
      transition: 0.5s;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #ff3e59;
        background-color: #ff3e59;
        background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
        border: solid 2px #ff3e59;
        box-shadow: 0 3px 20px rgba(98, 0, 31, 0.41);
        transition: 0.5s;
        cursor: pointer;


      }
    }
  }
  .block-order__item--twele{
    position: relative;
    .block-order--price{
      padding-bottom: 0;
    }
    /*&:before{
      content: "-50%";
      position: absolute;
      top: 5px;
      right: 5px;
      border: 1px dashed #57104F;
      width: 50px;
      font-size: 19px;
      color: #000;
      background-color: #ffb43d;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      font-weight: 400;
    }*/

  }
  .block-order__item--one{


  }


}
.field-price{
  padding-top: 0px;
}


.wrapper_video{
  background-color: #fff;
  padding-bottom: 50px;
}

.block-video {
  position: relative;
  &:before{
    content: "";
    right: -855px;
    position: absolute;
    display: block;
    width: 874px;
    height: 820px;
    top: -306px;
    background:  url(images/new/decor3-min.png) 50% 100% no-repeat;
    z-index: 0;
  }
  &:after{
    content: "";
    left: -800px;
    position: absolute;
    display: block;
    width: 913px;
    height: 819px;
    bottom: -190px;
    background:  url(images/new/decor4-min.png) 50% 100% no-repeat;
    z-index: 0;
  }
  .video__btn--wrap{
    display: flex;
    justify-content: space-around;
  }
  .video__btn{
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    width: 437px;
    height: 60px;
    box-shadow: 0 9px 46px rgba(175, 2, 0, 0.5);
    border-radius: 5px;
    background-color: #ff3e59;
    background-image: linear-gradient(to right, #ff3e59 0%, #fc9842 100%);
    color: #ffffff;
    margin: 40px 0 20px;
    font-size: 22px;
    font-weight: 400;
    display: block;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #ff3e59;
      background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
      border: solid 2px #ff3e59;
      box-shadow: 0 0 0 rgba(98, 0, 31, 0.41);
      transition: 0.5s;
      cursor: pointer;


    }
  }
  .video__btn--question{
    color: #ff3e59;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #ffffff;
      background-color: #ff3e59;
      border: none;
      background-image: linear-gradient(to right, #ff3e59 0%, #fc9842 100%);
      box-shadow: 0 0 0 rgba(98, 0, 31, 0.41);
      transition: 0.5s;
      cursor: pointer;


    }

  }
  .subtext{
    text-align: center;
    color: #686868;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
  &__player {

    position: relative;
    padding-bottom: 56.25%;
    margin-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      display: block;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.block-timer {
  font-family: 'Roboto', sans-serif;

  .timer-custom {
    text-align: center;
    position: relative;

    h3 {
      position: relative;
      margin: 0;
      margin-bottom: 40px;
      text-transform: uppercase;
      color: #1d1d1d;
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 44px;

      &:after {
        position: absolute;
        content: "";
        display: block;
        top: 57px;
        left: 50%;
        width: 450px;
        height: 4px;
        background-color: #e9e9e9;
        border-radius: 4px;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
      }

    }

    .pricing-timer {


      margin: 0 auto;
      background-color: transparent;
      color: #fc2a52;


      .pricing-timer__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;

        .pricing-timer__box {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
          -ms-flex-direction: column;
          -webkit-flex-direction: column;
          font-weight: normal;
          color: #bf1c52;
          font-size: 25px;
          font-family: 'News Cycle', sans-serif;

          &:nth-child(2n+1) {
            width: 150px;
          }

          span {
            font-family: 'News Cycle', sans-serif;
            font-size: 104px;
            color: #bf1c52;
            height: 140px;
          }
        }
      }
    }
  }

}

.text__order {
  padding-top: 30px;
  color: #423434;

  font-size: 20px;
  font-weight: 400;
  line-height: 38.32px;
  text-align: center;
  letter-spacing: 0.1px;
}

.wrapper_partners{
  padding-top: 0;
  background-color: #efefef;
}
.partners {
  background-color: #efefef;

  table {
    border: none;
    margin-bottom: 0;

    > tbody > tr > td {
      padding: 10px 5px;
      text-align: center;
      border: none;
      vertical-align: middle;

      a {
        filter: grayscale(100%) opacity(60%);
        transition: 250ms;

        &:hover {
          filter: none;
        }
      }
    }
  }
}

.footer {
  margin-top: 0;
}

.vidModal {
  position: absolute;
  top: 75px;
  left: 509px;
  z-index: 3;

  @keyframes scale {

    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

  }

  @-webkit-keyframes scale {

    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

  }

  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .pulse::before{
    content: '';
    position: absolute;
    border: 1px dashed #ffffff;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    -webkit-animation: pulse 2.5s linear infinite;
    opacity: 0;
  }
  .pulse::after {
    content: '';
    position: absolute;
    border: 1px solid #ffffff;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    -webkit-animation: pulse 2.5s linear infinite;
    opacity: 0;
  }

  .pulse::after {
    animation-delay: .8s;
  }

  button {
    border: none;
    width: 380px;
    height: 382px;
    background: transparent url(images/head/btn.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    outline: none !important;
    box-shadow: none;

    &:hover {
      -webkit-animation: scale 1.8s linear infinite;
      -o-animation: scale 1.8s linear infinite;
      animation: scale 1.8s linear infinite;
    }

  }

}

.modal {
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0;
}

#myModal {

  .modal-content {
    background: #000;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.22%;
    overflow: hidden;
  }

  .modal-dialog {
    width: 70%;
    height: 74vh;
    margin: 0;
    position: relative;
  }

  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .close-modal {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 70px;
    padding: 9px;
    height: 70px;
    z-index: 4;
    opacity: 0.3;
    cursor: pointer;
  }
  .close-modal:hover {
    opacity: 1;
  }
  .close-modal:before, .close-modal:after {
    position: absolute;
    left: 35px;
    top: 18px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
  }
  .close-modal:before {
    transform: rotate(45deg);
  }
  .close-modal:after {
    transform: rotate(-45deg);
  }

}
.form-group label.error{
  top: 39px;
}
.fixedtop .circle span{
  padding-left: 12px;
  padding-right: 12px;
}
.fixedtop{
  z-index: 2;
}
.branding-page #main{
  width: 100%;
}

.branding-page{
  padding-top: 0px;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}