.partners {
  text-align: center;
  background: #ffffff;

  &__container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    position: relative;
    @media (max-width: 768px){
      padding-top: 10px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 30px;

      @include mobile() {
        display: inline-block;
        margin: 0;
        padding: 10px 45px;
      }

      @include laptop-l() {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      a {
        -webkit-filter: grayscale(100%) opacity(60%);
        filter: grayscale(100%) opacity(60%);
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        transition: 250ms;

        @include on-event() {
          -webkit-filter: none;
          filter: none;
        }
      }
    }
  }
}