.pricing-timer {
  padding: 10px 0px 100px;
  @media (max-width: 767px){
    padding-top: 0px;
    padding-bottom: 45px;

  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 130px;
    height: 130px;
    border-radius: 30px;
    box-shadow: 0px 10px 32px 0 rgba(198, 15, 123, 0.4);
    background-image: linear-gradient(to top, #c60f7b, #ff0097);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin-right: 30px;
    @media (max-width: 767px){
      margin-right: 5px;
      font-size: 15px;
      width: 70px;
      height: 70px;
      border-radius: 20px;
    }

    &:last-child{
      margin-right: 0;
    }

    > span {
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      line-height: 1;
      color: #fff;

      @media (max-width: 767px){
        font-size: 25px;

      }

      &.separate {
        display: none;
      }
    }

    &:nth-child(odd) {



      @media (max-width: 980px){

      }
      @media (max-width: 600px){

      }
    }
    &:nth-child(even ) {
      display: none;

    }
  }
}
