<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>В</span>ідеоновини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
    </div>
    <div class="form-holder">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZgUdSK2OjbT_6PwSOlsr5JgNozqo8pJtuqKgcINlU1hgfXQ/viewform" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
    </div>
</div>