@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic');

//-font-family: 'Roboto', sans-serif;;
button{
  &:focus{
    outline: none!important;

  }
}
.branding-page #main {
  background-color: #efefef;
}
.branding ~ .seminars-container #main {
  z-index: inherit;

}

#bg_popup{
  display: none!important;
}
#bg_popup_two{
  display: none!important;
}
#__telerWdTriggerContent{
  display: none!important;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p{
  margin: 0;
}
html * {
  max-height: 1000000px;
}

body {
  background: #000010;

}

#main {
  width: 100%;
  overflow: hidden;
}
.circle{
  display: none;
}
%container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1200px){
    max-width: 767px;
    width: 100%;
  }
  @media (max-width: 767px){
    max-width: 320px;
  }
}

%title{
  color: #f2f2f2;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;

  @media (max-width: 1200px){
    font-size: 24px;
  }
}
%sub-title{
  text-transform: uppercase;
  color: #000010;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  background:  linear-gradient(to right, #ff6d1e 0%, #ff930c 100%);
  background-size: cover;

  @media (max-width: 1200px){
    font-size: 16px;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.seminar-landing {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}

@import "mixins";
@import "variables";
@import "hero";
@import "header";
@import "footer";
.branding-page #main{
  width: 100%;
}

.branding-page{
  padding-top: 0px;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #efefef;
  .heading{
    display: none;
  }
}


