.clients {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-breakpoint-up(xl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 36px;
    text-align: center;

    @include media-breakpoint-up(xl) {
      font-size: 42px;
      margin-bottom: 54px;
    }

    span {
      color: $color-main-second;
    }
  }

  &__slider {
    padding: 0 24px;
  }

  .logo {
    background: 50% / contain no-repeat;
    height: 93px;
  }
}
