.hero {
  background: url(images/bg_hero-min.jpg) top -270px center no-repeat;
  width: 100%;
  position: relative;
  padding-bottom: 160px;
  @media (max-width: 767px){
    padding-bottom: 0;
  }

  &__container{
    @extend %container;
    padding-top: 85px;
    @media (max-width: 1200px){
      padding-top: 50px;
    }
    @media (max-width: 767px){
      padding: 25px 5px 0;
    }

  }
  &__bold{
    font-weight: 400;
    @media (max-width: 767px){
      font-weight: 600;
    }
  }

  &__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1200px){
      flex-direction: column;
    }
  }

  &__title{
    font-size: 42px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 37px;
      line-height: 1.3;
    }
    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }

    span{
      border-radius: 10px;
      background-color: #ffffff;
      padding: 0 10px;
      margin-right: 10px;
      color: #e42df8;
    }
  }

  &__sub-title{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #0e1921;
    padding-top: 35px;
    @media (max-width: 1200px){
      padding-bottom: 15px;
    }
    @media (max-width: 767px){
      font-size: 15px;
      padding-top: 10px;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }


  }

  &__img{

    margin-left: 120px;
    margin-top: -5px;
    @media (max-width: 767px){
      width: 300px;
      margin: 20px auto 0;
    }
  }

  &__item{
    text-align: center;
  }

  .free-demo{
    padding: 50px 30px;
    text-align: left;
    max-width: 407px;
    width: 100%;
    border-radius: 30px;
    border: solid 1px #0e1921;
    background-color: #def7ff;
    @media (max-width: 767px){
      padding: 30px 10px;
    }
  }
  .form-control{
    width: 100%;
    border-radius: 6px;
    border: solid 1px #c0c0c0;
    background-color: #f6f6f6;
    padding: 11px 15px;
    height: auto;
  }
  .form__title{
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.56px;
    text-align: center;
    color: #282828;
    text-transform: uppercase;
    padding-bottom: 15px;
    @media (max-width: 767px){
      font-size: 20px;
    }
  }
  .form-group label.error{
    top: 53px;
  }
  .form__btn{
   padding: 10px 22px 0;

    button{
      width: 100%;
      @extend %btn;


    }
  }


  &__description{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0px;
    position: relative;
    @media (max-width: 767px){
      padding: 30px 0 60px;
      font-size: 14px;
      color: #000;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
  }

}
.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;

  @media (max-width: 767px){
    padding-bottom: 15px;
  }


  &__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 63px;
    height: 63px;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.24px;
    text-align: center;
    color: #282828;
    @media (max-width: 750px){
      font-size: 32px;
      width: 60px;
      height: 60px;
    }

    span{
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.12px;
      text-align: center;
      color: #282828;
      @media (max-width: 750px){
        font-size: 14px;
      }
    }
  }

  &__separate{
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #282828;
    padding-bottom: 20px;
    @media (max-width: 750px){
      font-size: 32px;
      padding-bottom: 15px;
    }
  }
}

.arrow{
  width: 30px;
  margin: 0;
  display: block;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translate(-50%, 0px);
  @media (max-width: 1200px){
    bottom: 80px;
    left: 50%;


  }
  @media (max-width: 767px){
    bottom: 83px;
    display: none;
  }

  span{
    display: block;
    width: 21px;
    height: 21px;
    margin-left: 7px;
    border-bottom: 5px solid #0e1921;
    border-right: 5px solid #0e1921;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    @media (max-width: 1200px){
      width: 12px;
      height: 12px;
      margin-left: 20px;
    }
    @media (max-width: 767px){

      margin-left: 0px;
    }
    &:nth-child(2){
      animation-delay: -0.2s;
    }
    &:nth-child(3){
      animation-delay: -0.4s;

    }
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}