@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
//-font-family: 'Exo 2', sans-serif;
//-font-family: 'Inter', sans-serif;
button{
  &:focus{
    outline: none!important;
  }
}

.kbs-hide{
  display: none;
}


.branding ~ .seminars-container #main {
  z-index: inherit;
}

#bg_popup{
  display: none!important;
}

#bg_popup_two{
  display: none!important;
}

#__telerWdTriggerContent{
  display: none!important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  margin: 0;
}

html * {
  max-height: 1000000px;
}

body {
  background: #f0f0f0;
  font-family: 'Inter', sans-serif;
}

#main {
  width: 100%;
  overflow: hidden;
}
.circle{
  display: none;
}
%btn {
  border-radius: 30.5px;
  box-shadow: 3.5px 2px 22.6px 1.4px rgba(217, 0, 14, 0.5);
  background-image: linear-gradient(to top, #d41122, #ed5060);
  font-size: 24px;
  font-weight: 600;
  line-height:1;
  text-align: center;
  color: #fff;
  padding: 18px 50px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.7s;


  @media (max-width: 767px){
    padding: 18px 20px;
    font-size: 19px;
  }

  @media (max-width: 767px){
    margin-top: 30px;
  }

  &:active,
  &:focus,
  &:hover{
    text-decoration: none;
    box-shadow: none;
    color: #000;
    }
  i{
    margin-left: 10px;
  }

}
%container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 75px 10px 0;
  text-align: center;
  @media (max-width: 1200px){
    max-width: 767px;
    padding: 55px 10px;

  }
  @media (max-width: 767px){
    max-width: 320px;
    padding: 35px 10px;
  }
}
svg{
  fill:  url(#a);
  transition: 0.7s;
}
%title{
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #3a3a3a;
  padding-bottom: 45px;
  text-transform: uppercase;
  @media (max-width: 767px){
    font-size: 18px;
  }
 span{
   display: block;
   font-size: 18px;
   font-weight: 500;
   line-height: 1;
   letter-spacing: 1.8px;
   text-align: center;
   color: #d9000e;
   padding-bottom: 15px;
   @media (max-width: 767px){
     font-size: 15px;
   }
 }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.seminar-landing {

  font-size: 18px;
}

.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}
.order__gift{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  color: #424342;
  text-transform: uppercase;
  padding-bottom: 20px;
  span{
    font-size: 25px;
  }
}

@import "mixins";
@import "variables";
@import "hero";
@import "menu";
@import "knowledges";
@import "professions";
@import "advantages";
@import "lectors";
@import "themes";
@import "gifts";
@import "order";
@import "certificate";
@import "pricing-timer";
@import "package";
@import "reviews";
@import "video";
@import "partners";
@import "map";
@import "popup";
@import "modal-video";
@import "loader-page";
@import "header";
@import "footer";

.branding-page #main{
  width: 100%;
  background: #f0f0f0;
}

.branding-page{
  padding-top: 0px;

}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #fff;

  .heading{
    display: none;
  }
}
