.order {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  &__container {
    @extend %container;
    padding-top: 60px;
    padding-bottom: 60px;
    @media (max-width: 850px){
      padding-top: 0;
      padding-bottom: 20px;
    }
  }

  &__title {
    @extend %title;
    margin-bottom: 40px;
    @media (max-width: 850px){
      font-size: 24px;
    }


  }

  &__packages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__package {
    width: 236px;
    @media (max-width: 850px){
      margin-top: 20px;
    }

  }

  &__timer {
    margin-bottom: 66px;
    @media (max-width: 850px){
      margin-bottom: 20px;
    }
  }

  &__banner {
    display: none;
    margin-top: 50px;
  }
}