.package--gold{

  .package__old-price{
    right: 30px;
    top: 92px;
  }

}


.package--zal{
  .package__old-price{
    right: 27px;
    top: 92px;

  }
}
.zal--online{
  .package__old-price{
    right: 45px;
    top: 92px;

  }
}
.package--online{
  .package__old-price{
    right: 52px;
    top: 58px;
  }
}
.package {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 10px;
  border: 2px solid #0073fa;
  font-family: 'Open Sans', sans-serif;

  &__body {
    flex: 1 0 auto;
    align-items: center;
    padding: 30px 5px 60px;
    text-align: center;
  }
  .package__body--gold{

    background-image: linear-gradient(-266deg, #5f0074 0%, #460055 100%);
    .package__format{
      color: #d6b39d;
    }
    .package__price--gold{
      color: #ffffff;
    }
    li{
      color: #ffffff;
      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 21px;
        height: 20px;
        background-image:url(images/active-gold.png) ;
      }
      a{
        color: #fff;
      }
    }
  }

  &__header {
    margin: 0;

    font-size: 22px;
    font-weight: 600;
    line-height:1.2;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    width: 100%;

    span{
      font-size: 16px;
    }


  }

  &__head{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-266deg, #df15e9 0%, #df15e9 1%, #2491fc 100%);
    border-radius: 10px 10px 0 0;
    border: 2px solid #ffffff;
    &--gold {
      background-image: linear-gradient(63deg, #d0b04e 0%, #bfab6c 52%, #ffe8a2 100%);
      color: #ffffff;

    }

  }

  &__format {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    color: #0087ec;
  }

  &__price {
    font-size: 42px;
    font-weight: bold;
    line-height: 30px;
    color: #1e1e1e;
    position: relative;
    margin-bottom: 20px;
    span{
      font-size: 22px;
      padding-left: 8px;
      position: relative;
    }

    &--gold {

    }
  }

  &__old-price {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    top: 115px;
    color: #848484;
    right: 35px;


  }

  &__btn {
    margin-bottom: 30px;

    .btn{
      width: 220px;
      height: 59px;
      box-shadow: 0 3px 7px rgba(3, 7, 8, 0.38);
      border-radius: 14px;
      background-color: #fffbea;
      background-image: linear-gradient(63deg, #0900b9 0%, #3139ce 99%, #3139ce 100%);
      color: #ffffff;
      border: none;
      font-size: 21px;
      font-weight: 400;
      line-height: 16.87px;
      cursor: pointer;
      transition: all 150ms linear;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 16px 21px rgba(0, 0, 0, 0.25);

      }
    }

    &--footer {
      margin: 0;

      &.is-hidden {
        display: none;
      }
    }


    &--platform {
      display: none;
      position: relative;
      margin: 0;
      text-align: center;

      a {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: underline;
        letter-spacing: 0.6px;
        color: #0645ad;

        &:hover {
          text-decoration: none;
          color: #0645ad
        }
      }
    }
  }
  .package__footer--zal{
    .package__list{
      p{
        color: #010101;
      }
    }
  }
  .package__footer--gold{
    background-image: linear-gradient(-266deg, #5f0074 0%, #460055 100%);
    border-radius: 0 0 8px 8px;
    .package__btn-details{
      color: #ffffff;
    }
    li{
      color: #ffffff;
      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 21px;
        height: 20px;
        background-image:url(images/active-gold.png) ;
      }
      a {
        color: #fff ;
        text-decoration: underline;
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
    color: #010101;

    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 5px;
      color: #000;

      a {
        color: #0900b9 ;
        text-decoration: underline;

        &.is-inactive {
          color: #acabab;
          cursor: not-allowed;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
        background-image:url(images/active.png) ;
      }

      &.is-inactive {
        color: #acabab;

        &:before {
          background-image:url(images/inactive.png) ;
        }
      }
    }

    &--footer {
      margin-bottom: 30px;
      color: #fff;
    }
  }

  &__footer {
    padding: 0 5px 40px;
  }

  &__presents {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #e42e2e;
    text-align: center;

    svg {
      position: relative;
      top: 1px;
      margin-right: 6px;
      fill: #e42e2e;
    }
  }
  .package__btn--footer{

    .btn{
      width: 220px;
      height: 59px;
      box-shadow: 0 3px 7px rgba(3, 7, 8, 0.38);
      border-radius: 14px;
      background-color: #fffbea;
      background-image: linear-gradient(63deg, #0900b9 0%, #3139ce 99%, #3139ce 100%);
      color: #ffffff;
      border: none;
      font-size: 21px;
      font-weight: 400;
      line-height: 16.87px;
      transition: all 150ms linear;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 16px 21px rgba(0, 0, 0, 0.25);

      }
    }

  }
  .btn--platform{
    width: 220px;
    height: 59px;
    border-radius: 14px;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.23);
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(63deg, #FF9800 0%, #FF9800 99%, #FF9800 100%);
    cursor: pointer;
    text-decoration: none;
    color: #43001d;
    span{
      font-size: 14px;
      line-height: 23px;
    }

  }
}