{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div class="hero" >
        <div class="hero__content">
            <div class="hero__header">
                <p class="hero__title"> <span>Ой, а ви вже реєструвалися! Ваші дані є.</span><br></p>
                <p class="hero__subtitle"> Перевіряйте email – там лист з подарунком!</p>

            </div>

            <div class="hero__block">
                <div class="block">
                    <p class="block__title">Зверніть увагу</p>
                    <p class="block__text">
                        Щоб дивитися усі вебінари Великого Бухгалтерського
                        Online-марафонбезкоштовно – ставайте передплатником <a href="https://promo.dtkt.ua/7eminar" > Бухгалтерської відеоплатформи №1</a> вже зараз.

                    </p>
                    <a href="https://promo.dtkt.ua/7eminar" class="block__btn">Передплатити</a>
                </div>
            </div>


        </div>
    </div>


    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>

