.for {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container {
    @include media-breakpoint-up(xl) {
      max-width: 1068px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      gap: 0;
      justify-content: space-between;
    }
    li {
      max-width: 100%;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        max-width: 320px;
        width: 100%;
      }

      p {
        b {
          font-weight: 700;
          color: $color-main;
        }
      }
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 14px;
    background-size: contain;
    @include media-breakpoint-up(xl) {
      margin-bottom: 26px;
      width: 90px;
      height: 90px;
    }
  }

  &__btn {
    text-align: center;
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
      margin-top: 44px;

      .btn {
        padding: 14px 42px;
      }
    }
  }
}
