.expectation {
  margin-top: -170px;
  font-family: 'Source Sans Pro', sans-serif;
  @media (max-width: 1200px){
    margin-top: -130px;
  }
  @media (max-width: 760px){
    margin-top: 10px;
  }
  &__container {
    position: relative;
    &:before{
      content: '';
      position: absolute;
      background-color: red;
      width: 210px;
      height: 100%;
      background-color: #ff002a;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }

  }

  &__title {
    @extend %title;
    position: relative;

  }

  &__content{
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: 760px){
      flex-direction: column;
    }





  }

  &__list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 50%;
    @media (max-width: 760px){
      width: 100%;
      padding-left: 0px;
    }


  }

  &__item{
    width: 325px;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-transform: uppercase;
    position: relative;

    @media (max-width: 1200px){
      width: 100%;
    }

    p{
      color: #1b1b1b;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.4px;
      margin: 0;

      br{
        display: none;
        @media (max-width: 760px){
          display: block;
        }
      }
      @media (max-width: 760px){
        font-size: 14px;
      }
    }
    span{
      color: #1b1b1b;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: 0.5px;
      br{
        display: none;
        @media (max-width: 760px){
          display: block;
        }
      }
      @media (max-width: 760px){
        font-size: 18px;
      }
    }

  }

  &__list--right{
    align-items: flex-start;
    padding-left: 10px;
    @media (max-width: 760px){
      align-items: center;
      padding-left: 0px;
    }
    li{
      &:nth-child(1){
          width: 370px;
          padding: 100px 0 25px 25px;
          margin-bottom: 10px;
          background: #1b1b1b url(images/book_dec.png) no-repeat top left;
        p{
          color: #fff;
        }
        span{
          color: #fff;
        }
        @media (max-width: 1200px){
          width: 100%;
        }
        @media (max-width: 760px){
          padding: 100px 0 25px 25px;
        }
        &:before{
          content: '';
          position: absolute;
          background: url(images/book2.png) no-repeat top center;
          width: 38px;
          height: 50px;
          right: 25px;
          top: 25px;
        }


      }
      &:nth-child(2){
        width: 565px;
        padding: 25px 0 75px 25px;
        background: #fff url(images/tax_dec.png) no-repeat bottom left;
        @media (max-width: 1200px){
          width: 100%;
        }
        @media (max-width: 760px){
          padding: 25px 0 20px 25px;
        }
        &:before{
          content: '';
          position: absolute;
          background: url(images/tax.png) no-repeat top center;
          width: 56px;
          height: 55px;
          right: 25px;
          bottom: 25px;
        }
      }

    }

  }
  &__list--left{
    align-items: flex-end;
    text-align: right;
    @media (max-width: 760px){
      order: 2;
    }

    li{

      &:nth-child(1){
        width: 400px;
        padding: 80px 25px 25px 0;
        margin-bottom: 10px;
        background: #fff url(images/time_dec.png) no-repeat top right;

        @media (max-width: 1200px){
          width: 100%;
        }
        @media (max-width: 760px){
          padding: 30px 25px 25px 25px;
        }
        &:before{
          content: '';
          position: absolute;
          background: #fff url(images/time.png) no-repeat top center;
          width: 40px;
          height: 40px;
          left: 25px;
          top: 25px;
        }
      }
      &:nth-child(2){
        width: 467px;
        padding: 25px 25px 115px 0px;
        background: #fff url(images/inspection_dec.png) no-repeat bottom right;
        @media (max-width: 1200px){
          width: 100%;
        }
        @media (max-width: 760px){
          padding: 25px 25px 75px 25px;
        }
        &:before{
          content: '';
          position: absolute;
          background: url(images/inspection.png) no-repeat top center;
          width: 70px;
          height: 70px;
          left: 25px;
          bottom: 25px;
        }
      }
    }
  }

  .btn{
    margin-top: 0;
  }
}

