.hero {
  background: url(images/hero_bg-min.jpg) no-repeat top center;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  height: 1014px;
  z-index: 1;
  width: 100%;
  @media (max-width: 1200px){
    background: url(images/hero_tablet.jpg) no-repeat top center;
    height: 1018px;
  }
  @media (max-width: 760px){
    background: url(images/hero_bg-min.jpg) no-repeat top center;
    height: max-content;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 210px;
      height: 100%;
      background-color: #ff002a;
      top: 0;
      left: 50%;
      transform: translate(-50%);

    }
  }

  .container{
    @media (max-width: 1200px){
      width: 750px;
    }
    @media (max-width: 760px){
      width: 320px;

    }

  }
  &__container{
    position: relative;
    text-align: center;
    height: 100%;
    background: url(images/t1r6h-6lmqh.png) no-repeat top center;
    background-size: contain;
    @media (max-width: 1200px){
      background: none;
    }
    @media (max-width: 760px){
      background: none;
    }


  }

  &__zal{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    @media (max-width: 1200px){
      padding-top: 95px;
    }
    @media (max-width: 760px){
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }

  &__content{
    padding: 132px 76px 0 76px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1200px){
      padding: 58px 15px 0;
    }
    @media (max-width: 760px){
      background-color: #fff;
      flex-direction: column;
      padding: 35px 15px 35px;
    }
  }

  &__title{
    text-align: left;
    color: #1b1b1b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 58px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    @media (max-width: 1200px){
      font-size: 54px;
    }
    @media (max-width: 760px){
      font-size: 52px;
    }
    span{
      font-size: 20px;
      letter-spacing: 0.46px;
    }
  }

  &__info{
    text-align: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 50px;


    p{
      color: #1b1b1b;
      font-size: 20px;
      margin: 0;
      line-height: 1;
      padding-bottom: 5px;
      @media (max-width: 760px){
        font-size: 16px;
      }
    }

    span{
      color: #ff002a;
      font-size: 16px;
    }

  }

  &__date{
    margin-bottom: 50px;
    border-right: solid 1px #c3c3c3;
    padding-right: 20px;
    position: relative;
    @media (max-width: 1200px){
      margin-bottom: 35px;
    }
    @media (max-width: 760px){
      margin-top: 25px;
      margin-bottom: 25px;
    }

    &:before{
      content: "";
      position: absolute;
      background: url(images/calendar.png) no-repeat top center;
      width: 28px;
      height: 30px;
      display: block;
      right: -50px;
      top: 50%;
      transform: translate(-0%, -50%);
    }
  }

  &__place{
    margin-bottom: 50px;
    border-right: solid 1px #c3c3c3;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
    &:focus,
    &:active,
    &:hover{
      text-decoration: none;
    }
    @media (max-width: 760px){
      margin-bottom: 25px;
    }
    &:before{
      content: "";
      position: absolute;
      background: url(images/pin.png) no-repeat top center;
      width: 20px;
      height: 28px;
      display: block;
      right: -50px;
      top: 50%;
      transform: translate(-0%, -50%);
    }
  }

  &__name{
    display: flex;
    justify-content: space-between;
    padding: 100px 120px 0;
    color: #ff002a;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 24px;
    font-variant: small-caps;
    letter-spacing: -0.5px;
    @media (max-width: 1200px){
      padding: 100px 15px 0;
    }
    @media (max-width: 760px){
      color: #fff;
      font-size: 16px;
      position: relative;
      padding: 20px 60px 300px;
      &:before{
        content: '';
        background: url(images/mobile_lectors.png) no-repeat 50% 100%;
        background-size: cover;
        position: absolute;
        top: -75px;
        width: 479px;
        left: 50%;
        margin-left: -223px;
        height: 562px;
        z-index: 1;
      }
    }
  }

  &__tm{
    text-align: right;
  }
  &__os{
    text-align: left;
  }

  .button{
    @media (max-width: 1200px){
      margin-top: 200px;
    }
    @media (max-width: 760px){
     display: none;
    }
  }
  .button--mob{
    display: none;
    @media (max-width: 760px){
      display: block;
      margin-top: 20px;
      z-index: 2;
    }
  }
}




@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}

