{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте  <br>
                        <b class="hero__bold">Договір про поворотну фінансову допомогу фізичній особі (зразок)</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo27072020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">ОТРИМАТИ ЗРАЗОК </button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
            </div>
            {#<div class="hero__description">Також ви отримуєте можливість прослухати<br>
                <b>   бухгалтерську online-конференцію абсолютно безкоштовно
                </b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>#}


        </div>
    </div>

   {# <div id="theme" class="themes">
        <div class="container theme__container">
            <p class="themes__title">Безкоштовна online-конференція 27 липня</p>
            <p class="themes__sub-title">«Літо по-бухгалтерськи: ЄСВ-звітність, МШП і МНМА, ПДВ-декларація та поворотна фіндопомога»</p>
            <p class="themes__sub-title"></p>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                            <p class="themes__time">11:00–11:40</p>
                        </div>
                    </div>
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><p>ЄСВ-звітність на прикладах: заповнюємо і виправляємо помилки (таблиці 5 і 6 звіту).</p></li>
                        </ul>
                    </div>
                </div>

                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Людмила Тимофеєва</p>
                            <p class="themes__time">11:40–12:20</p>
                        </div>
                    </div>
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><p>МШП і МНМА: схожість і відмінності. Облік на прикладах. Податки. Документальне оформлення.</p></li>
                        </ul>
                    </div>
                </div>

                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Ірина Зубрицька</p>
                            <p class="themes__time">12:20–13:00</p>
                        </div>
                    </div>
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><p>ПДВ-декларація: помилки, які важливо виправити самостійно. Звірка даних обліку.</p></li>
                        </ul>
                    </div>
                </div>

                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Тимур Алієв</p>
                            <p class="themes__time">13:00–13:30</p>
                        </div>
                    </div>
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><p>Поворотні фінансові допомоги від/для фізосіб: облік, 1ДФ, податкові наслідки, документальне оформлення.</p></li>
                        </ul>
                    </div>
                </div>
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__bonus"><span>Бонусна лекція</span></p>
                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                            <p class="themes__time">13:30–13:45</p>
                        </div>
                    </div>
                    <div class="themes__more-body">
                        <ul class="themes__more-list">
                            <li class="themes__more-list-item"><p>20-ОПП по-новому з 27 липня: що змінилось та як не наразитися на штрафи.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#form" class="themes__btn">Дивитися з подарунком</a>
        </div>
    </div>#}


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
