@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
:root {
  --container-width: 1160px;
  --transition: 0.3s ease;
  --default-font-family: "Gilroy";
  --heading-font-family: "Neue Machina";
  --sp: 66px;
  --accent: #4c09d2;
  --fiolet: #8041ff;
  --dark: #1f2229;
  --bg: #000d2c;
  --text-color: #000000;
  --fz-default: 20px;
  --h1: 32px;
  --h2: 42px;
  --h3: 32px;
  --h4: 28px;
  --l: 24px;
  --m: 22px;
  --s: 18px;
  --xs: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
.results__block_title,
h3,
.results .item__number,
.about__text,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: "italic";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl") format("svg");
}
body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  min-width: 360px;
  color: #011132;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #472eff inset !important;
}

.swiper-button-prev {
  left: 6px;
}
@media (min-width: 1200px) {
  .swiper-button-prev {
    left: -26px;
  }
}
.swiper-button-prev::after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg width='42' height='43' viewBox='0 0 42 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='42.6104' width='42' height='42' rx='21' transform='rotate(180 42 42.6104)' fill='%23E0EBFF' /%3E%3Cpath d='M21 30.7979L22.6193 29.1786L16.211 22.7588L30.1875 22.7588L30.1875 20.4619L16.211 20.4619L22.6308 14.0536L21 12.4228L11.8125 21.6104L21 30.7979Z' fill='%233217FF' /%3E%3C/svg%3E") center/contain no-repeat;
  min-width: 44px;
  height: 44px;
}

.swiper-button-next {
  right: 6px;
}
@media (min-width: 1200px) {
  .swiper-button-next {
    right: -26px;
  }
}
.swiper-button-next::after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg width='42' height='43' viewBox='0 0 42 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='42.6104' width='42' height='42' rx='21' transform='rotate(180 42 42.6104)' fill='%23E0EBFF' /%3E%3Cpath d='M21 30.7979L22.6193 29.1786L16.211 22.7588L30.1875 22.7588L30.1875 20.4619L16.211 20.4619L22.6308 14.0536L21 12.4228L11.8125 21.6104L21 30.7979Z' fill='%233217FF' /%3E%3C/svg%3E") center/contain no-repeat;
  min-width: 44px;
  height: 44px;
  transform: rotate(180deg);
}

.swiper-prev {
  left: -20px;
}
.swiper-prev::after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='45' viewBox='0 0 44 45' fill='none'%3E%3Crect x='1' y='1' width='42' height='42' rx='21' transform='matrix(4.60819e-08 1 1 -4.09221e-08 4.09221e-08 0.5)' stroke='%2300B6FF' stroke-width='2'/%3E%3Cpath d='M22.5 12.5L24.2625 14.2625L17.2875 21.25L32.5 21.25L32.5 23.75L17.2875 23.75L24.275 30.725L22.5 32.5L12.5 22.5L22.5 12.5Z' fill='%2300B6FF'/%3E%3C/svg%3E") center/contain no-repeat;
  min-width: 44px;
  height: 44px;
}

.form:before {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(31, 34, 41, 0.6274509804) url(../img/loading.svg) 50% no-repeat;
  z-index: 10;
  color: rgba(31, 34, 41, 0.6274509804);
}

.form.loading:before {
  display: block;
}

.swiper-next {
  right: -20px;
}
.swiper-next::after {
  content: "";
  min-width: 44px;
  height: 44px;
  transform: rotate(180deg);
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important;
  }
}

.container {
  max-width: 375px;
  padding: 48px 16px;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: 48px 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 72px 16px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 18px;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes runLine {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.line {
  width: 100000%;
  height: 45px;
  background: url(../img/line-bg.png);
  animation: runLine 40000s linear infinite;
  background-size: auto 100%;
}
@media (min-width: 1200px) {
  .line {
    height: 55px;
  }
}
.line--blue {
  background: url(../img/line-bg--blue.png);
  background-size: auto 100%;
}
.line--lectors {
  background: url(../img/line-bg--lectors.jpeg);
  background-size: auto 100%;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
@media (min-width: 1200px) {
  .title {
    margin-bottom: 44px;
  }
}
.title--small {
  font-size: 26px;
}
@media (min-width: 1200px) {
  .title--small {
    font-size: 42px;
  }
}
.title span {
  color: #3217ff;
}
.title--big {
  font-size: 36px;
}
@media (min-width: 1200px) {
  .title--big {
    font-size: 52px;
  }
}
.title--big b {
  display: block;
  color: #3217ff;
}
@media (min-width: 1200px) {
  .title--big b {
    font-size: 60px;
  }
}

.btn-page {
  border: 2px solid #3217ff;
  background-color: #3217ff;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 62px;
  padding: 0 28px;
  display: flex;
  flex-direction: row;
  gap: 22px;
}
@media (min-width: 1200px) {
  .btn-page {
    font-size: 20px;
  }
}
.btn-page svg {
  fill: #ffffff;
  transition: all 0.3s;
}
.btn-page:hover {
  background-color: #ffffff;
  color: #3217ff;
  transition: all 0.3s;
}
.btn-page:hover svg {
  fill: #3217ff;
  transition: all 0.3s;
}
.btn-page--full {
  background-color: #3217ff;
}
.btn-page--full:hover {
  background-color: #ffffff;
  color: #011132;
}

.btn--hero svg {
  width: 40px;
  height: 40px;
  margin-left: 26px;
}

.btn--core {
  position: relative;
  font-size: 18px;
  border-radius: 6px;
  background: var(--blue, #00b6ff);
  box-shadow: 0px 0px 20px 0px rgba(0, 159, 223, 0.55);
  margin: 0 auto;
}
.btn--core:hover {
  background-color: #ffffff;
  color: #011132;
}

.btn--pro {
  position: relative;
  font-size: 18px;
  background-color: #ffffff;
  color: #011132;
  margin: 0 auto;
}
.btn--pro:hover {
  background-color: #011132;
  color: #ffffff;
}

.btn-arrows {
  width: 100%;
  position: relative;
}
.btn-arrows a {
  margin: 0 auto;
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  transform: rotate(180deg);
  display: none;
}
@media (min-width: 1200px) {
  .arrow {
    display: flex;
  }
}
.arrow__item {
  position: relative;
  width: 24px;
  height: 24px;
  transform: rotate(-180deg);
  animation: arrow 2s infinite;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.1586 1.50537L10.3089 3.35507L17.629 10.6883L1.66385 10.6883L1.66385 13.3119L17.629 13.3119L10.2958 20.632L12.1586 22.4948L22.6533 12.0001L12.1586 1.50537Z' fill='%239FF565'/%3E%3C/svg%3E") right top no-repeat;
  background-size: contain;
}
.arrow__item:nth-child(1) {
  animation-delay: -1s;
}
.arrow__item:nth-child(2) {
  animation-delay: -0.8s;
}
.arrow__item:nth-child(3) {
  animation-delay: -0.6s;
}
.arrow__item:nth-child(4) {
  animation-delay: -0.4s;
}
.arrow__item:nth-child(5) {
  animation-delay: -0.2s;
}
.arrow--left {
  position: absolute;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(180deg);
  right: inherit;
  left: 100px;
}
.arrow--right {
  position: absolute;
  bottom: 0;
  top: 50%;
  transform: translate(0, -50%);
  right: inherit;
  right: 100px;
}

@keyframes arrow {
  0% {
    opacity: 1;
    transform: rotate(180deg) translate(-60px, 0px);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(180deg) translate(60px, 0px);
  }
}
.header {
  padding: 18px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1111 !important;
  background: #ffffff;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: solid 1px #e5e5e5;
}
.header .container {
  padding-top: 0;
  padding-bottom: 0;
}
.header .lines {
  z-index: -1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .header__container {
    padding: 0;
  }
}
.header__logo {
  width: 154px;
  height: 34px;
  background: url(../img/header__logo.svg) 50%/contain no-repeat;
}
@media (min-width: 1200px) {
  .header__logo {
    width: 216px;
    height: 47px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__menu li {
  padding: 0 30px;
}
@media (max-width: 1200px) {
  .header__menu li {
    padding: 0 12px;
  }
}
.header__menu li.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding: 10px 26px;
  padding-bottom: 12px;
  border: solid 2px #3217ff;
  background-color: #3217ff;
  border-radius: 60px;
  transition: all 0.3s;
}
.header__menu li.btn:hover {
  transition: all 0.3s;
  background-color: transparent;
}
.header__menu li.btn:hover a {
  color: #3217ff;
}
.header__menu li.btn a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .header__menu li.btn a {
    font-size: 16px;
  }
}
.header__menu a {
  font-size: 20px;
  color: #011132;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .header__menu a {
    font-size: 16px;
  }
}
.header__menu a:hover {
  text-decoration: underline;
}
.header__menu a.header__phone {
  font-weight: 700;
  color: #3217ff;
  text-decoration: underline;
  font-size: 20px;
}
.header__burger {
  display: none;
  z-index: 30;
}
.header.active {
  background: #e5e5e5;
}
.header.active .header__logo {
  background: url(../img/header__logo.svg) 50%/contain no-repeat;
}
.header.active .header__menu {
  transform: translateX(0);
  opacity: 1;
}
.header.active .header__burger span {
  background: #3217ff;
}
.header.active .header__burger span:nth-child(1) {
  transform: translate(1px, 4px) rotate(45deg);
  width: 20px;
}
.header.active .header__burger span:nth-child(2) {
  width: 20px;
  transform: translate(1px, -11px) rotate(-45deg);
}
.header.active .header__burger span:nth-child(3) {
  display: none;
}

@media (max-width: 760px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: 66px;
    text-align: center;
    background: #e5e5e5;
    padding-top: 50px;
    padding-bottom: 46px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 36px;
    transform: translateY(-150%);
    transition: var(--transition);
    opacity: 0;
  }
  .header__menu li.btn {
    background: #3217ff;
    color: #fff;
  }
  .header__menu a {
    color: #000;
    font-weight: 700;
    font-size: 20px;
  }
  .header__burger {
    width: 25px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  .header__burger span {
    height: 3px;
    background: #3217ff;
    border-radius: 4px;
    transition: 0.3s ease;
  }
}
#header-sticky-wrapper {
  height: 0 !important;
}

.no-webp .hero {
  background: url(../img/hero-xl.jpg) top center no-repeat;
}

.hero {
  padding-top: 98px;
  padding-bottom: 0px;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 152px;
    padding-bottom: 0;
    text-align: left;
  }
}
.hero__dec1 {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 211px;
  height: 211px;
  background-size: contain;
  z-index: -1;
}
@media (min-width: 1200px) {
  .hero__dec1 {
    width: 455px;
    height: 455px;
    right: -300px;
  }
}
.hero__dec2 {
  position: absolute;
  bottom: 200px;
  left: -100px;
  width: 142px;
  height: 142px;
  background-size: contain;
  z-index: -1;
}
@media (min-width: 1200px) {
  .hero__dec2 {
    width: 315px;
    height: 315px;
    left: -200px;
    bottom: inherit;
    top: -200px;
  }
}
.hero .container {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  .hero .container {
    padding-bottom: 68px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.hero h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 22px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .hero h1 {
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 42px;
  }
}
.hero h1 span {
  color: #3217ff;
}
@media (min-width: 1200px) {
  .hero__item {
    width: 738px;
  }
}
.hero__subtitle {
  font-size: 14px;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .hero__subtitle {
    font-size: 20px;
    max-width: 494px;
    width: 100%;
    margin-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .hero__btn {
    max-width: 590px;
  }
}
.hero__btn .btn {
  line-height: 1.3;
  padding: 6px 12px;
  gap: 4px;
}
@media (min-width: 1200px) {
  .hero__btn .btn {
    padding: 18px 12px;
    gap: 22px;
  }
}
.hero__btn .btn span {
  display: none;
}
@media (min-width: 1200px) {
  .hero__btn .btn span {
    display: inline-block;
  }
}
.hero__img {
  width: 278px;
  height: 205px;
  background-size: contain;
  margin: 0 auto 67px;
}
.hero__img::after {
  content: "";
  display: block;
  width: 278px;
  height: 205px;
  position: absolute;
  background-color: #f4f7ff;
  border-radius: 16px;
  top: 18px;
  right: 18px;
  z-index: -1;
}
@media (min-width: 1200px) {
  .hero__img::after {
    width: 399px;
    height: 294px;
    top: 34px;
    border-radius: 37px;
    right: 4px;
  }
}
@media (min-width: 1200px) {
  .hero__img {
    width: 399px;
    height: 294px;
    bottom: 0;
  }
}

.hero__gift {
  background-color: #f4f7ff;
  border-radius: 14px;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #000;
}
.hero__gift p {
  font-size: 15px;
  text-align: left;
}
@media (min-width: 1200px) {
  .hero__gift p {
    font-size: 20px;
  }
}
.hero__gift p b {
  text-transform: uppercase;
  color: #3217ff;
}
@media (min-width: 1200px) {
  .hero__gift p b {
    display: block;
  }
}
.hero__gift .gift {
  font-size: 21px;
  min-width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 14px;
}

.process {
  padding-bottom: 0px;
  text-align: center;
}
@media (min-width: 1200px) {
  .process {
    padding-bottom: 0;
  }
}
.process h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .process h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
}
.process h2 b {
  color: #3217ff;
}
.process__content {
  text-align: left;
}
@media (min-width: 1200px) {
  .process__content {
    flex-direction: row;
    display: flex;
    gap: 32px;
    align-items: flex-start;
  }
}
.process__item {
  background-color: #fdfdff;
  border: solid 1px #cddeff;
  border-radius: 16px;
  padding: 28px 24px;
  position: relative;
}
@media (min-width: 1200px) {
  .process__item {
    width: 556px;
    padding: 40px;
  }
}
.process__item h3 {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: dashed 1px #e5e5e5;
}
@media (min-width: 1200px) {
  .process__item h3 {
    font-size: 30px;
    padding-bottom: 22px;
  }
}
.process__item p {
  font-size: 14px;
}
@media (min-width: 1200px) {
  .process__item p {
    min-width: 100px;
  }
}
.process__item p i {
  font-style: italic;
  color: #3217ff;
}
.process__item ol {
  list-style-type: decimal;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 18px;
  margin-top: 12px;
}
@media (min-width: 1200px) {
  .process__item ol {
    margin-top: 0;
  }
}
.process__item ol li {
  font-size: 14px;
}
.process__item ol li::marker {
  color: #3217ff;
  font-weight: 600;
}
.process__body {
  padding-top: 12px;
}
@media (min-width: 1200px) {
  .process__body {
    display: flex;
    flex-direction: row;
    gap: 38px;
    padding-top: 22px;
  }
}
.process__label {
  background-color: #3217ff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ffffff;
  padding: 8px 26px;
  border-radius: 62px;
  width: 198px;
  text-align: center;
}
@media (min-width: 1200px) {
  .process__label {
    font-size: 22px;
    width: 248px;
  }
}
.process__btn {
  display: inline-block;
}
@media (min-width: 1200px) {
  .process__btn {
    margin-top: 32px;
  }
}

.session {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .session {
    padding-bottom: 0;
  }
}
.session h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .session h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
}
.session h2 span {
  color: #3217ff;
}
.session__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .session__content {
    flex-direction: row;
    align-items: end;
  }
}
.session__item {
  border-width: 2px;
  border-style: solid;
  border-image-source: repeating-linear-gradient(45deg, #3217ff 0, #3217ff 15px, transparent 15px, transparent 30px);
  border-image-slice: 1;
  border-radius: 14px;
  padding: 28px 31px;
}
@media (min-width: 1200px) {
  .session__item {
    max-width: 566px;
  }
}
.session__item p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #2d2d2d;
}
@media (min-width: 1200px) {
  .session__item p {
    font-size: 19px;
    position: relative;
  }
  .session__item p::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 40px;
    background: url("data:image/svg+xml,%3Csvg width='248' height='42' viewBox='0 0 248 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M240.406 1H241.406V0H240.406V1ZM239.699 41.7071C240.09 42.0976 240.723 42.0976 241.113 41.7071L247.477 35.3431C247.868 34.9526 247.868 34.3195 247.477 33.9289C247.087 33.5384 246.454 33.5384 246.063 33.9289L240.406 39.5858L234.749 33.9289C234.359 33.5384 233.726 33.5384 233.335 33.9289C232.945 34.3195 232.945 34.9526 233.335 35.3431L239.699 41.7071ZM0.40625 2H10.4063V0H0.40625V2ZM30.4062 2H50.4062V0H30.4062V2ZM70.4062 2H90.4062V0H70.4062V2ZM110.406 2H130.406V0H110.406V2ZM150.406 2H170.406V0H150.406V2ZM190.406 2H210.406V0H190.406V2ZM230.406 2H240.406V0H230.406V2ZM239.406 1V11H241.406V1H239.406ZM239.406 31V41H241.406V31H239.406Z' fill='%233217FF' /%3E%3C/svg%3E") no-repeat center;
    top: 0px;
    background-size: contain;
    right: -270px;
  }
}
.session__item:last-child {
  border: none;
  background: linear-gradient(144deg, #3217fd 0%, #1f0f9d 100%);
  font-weight: 500;
  font-size: 17px;
  line-height: 153%;
  padding: 20px;
  color: #fff;
  margin-top: -12px;
  max-width: 308px;
  margin-left: 18px;
}
@media (min-width: 1200px) {
  .session__item:last-child {
    max-width: 518px;
    font-size: 20px;
    margin-left: -18px;
    margin-bottom: -12px;
  }
}
.session__item:last-child b {
  text-transform: uppercase;
  font-weight: 700;
}

.video {
  position: relative;
}
@media (min-width: 1200px) {
  .video {
    padding: 50px 300px;
    position: relative;
  }
}
.video__dec1 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1658px;
  height: 523px;
  background-size: contain;
  z-index: -1;
}
.video h2 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.video h2 br {
  display: none;
}
@media (min-width: 1200px) {
  .video h2 br {
    display: block;
  }
}
@media (min-width: 1200px) {
  .video h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
}
.video h2 span {
  color: #3217ff;
}
.video .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.video .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.video .picture {
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.video .picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video .detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
}
.video .detail h3 {
  margin: 0;
  font-size: 20px;
}
.video .detail span {
  display: block;
  font-size: 16px;
  color: #f44336;
}

.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.video-popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 1;
}

.video-popup__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
}

.video-popup__block {
  position: relative;
  max-width: 700px; /* Максимальна ширина для блоку */
  width: 100%;
  aspect-ratio: 16/9; /* Пропорції блоку */
}

.video-popup__block iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-popup__close {
  position: absolute;
  top: -30px;
  right: 0;
  background: none;
  border: none;
  color: black;
  background-color: #3217ff;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}

/* Респонсивність */
@media (max-width: 768px) {
  .video-popup__block {
    max-width: 100%; /* Максимальна ширина для менших екранів */
  }
  .video-popup__close {
    top: -30px;
    right: 10px;
  }
}
.after {
  padding-bottom: 0px;
  background: #f5f7ff;
}
@media (min-width: 1200px) {
  .after {
    padding-bottom: 0;
  }
}
.after h2 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .after h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
}
.after h2 span {
  color: #3217ff;
}
.after ul {
  list-style-type: none;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .after ul {
    gap: 33px;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .after ul::before {
    content: "";
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1289px;
    height: 256px;
    background: url(../img/line.png) no-repeat center;
    background-size: cover;
    z-index: -1;
  }
}
.after ul li {
  background: #fff;
  border: 1px solid #3217ff;
  border-radius: 8px;
  padding: 15px 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2d2d2d;
}
@media (min-width: 1200px) {
  .after ul li {
    font-size: 16px;
    width: 100%;
    max-width: 460px;
  }
}

.cases {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .cases {
    padding-bottom: 0;
  }
}
.cases h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .cases h2 {
    font-size: 34px;
  }
}
.cases h2 b {
  color: #3217ff;
}
.cases .case {
  border-width: 2px;
  border-style: solid;
  border-image-source: repeating-linear-gradient(45deg, #3217ff 0, #3217ff 15px, transparent 15px, transparent 30px);
  border-image-slice: 1;
  border-radius: 14px;
  padding: 16px;
}
@media (min-width: 1200px) {
  .cases .case {
    padding: 53px;
  }
}
@media (min-width: 1200px) {
  .cases .case__header {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
.cases .case__img {
  width: 159px;
  height: 82px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .cases .case__img {
    margin: 0;
    width: 226px;
    height: 119px;
  }
}
.cases .case__info {
  line-height: 134%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 1200px) {
  .cases .case__info {
    gap: 16px;
  }
}
.cases .case__info b {
  font-weight: 700;
  font-size: 20px;
  display: block;
  color: #3217ff;
}
@media (min-width: 1200px) {
  .cases .case__info b {
    font-size: 28px;
  }
}
.cases .case__info p {
  font-weight: 800;
  font-size: 30px;
  color: #2d2d2d;
}
@media (min-width: 1200px) {
  .cases .case__info p {
    font-size: 38px;
  }
}
.cases .case__info span {
  font-weight: 400;
  font-size: 14px;
  display: block;
  color: #2d2d2d;
}
@media (min-width: 1200px) {
  .cases .case__info span {
    font-size: 18px;
  }
}
.cases .case__body {
  padding-top: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .cases .case__body {
    row-gap: 44px;
  }
}
@media (min-width: 1200px) {
  .cases .case__block {
    width: 457px;
  }
}
.cases .case__block p {
  background: #3217ff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px 16px;
  color: #fff;
  max-width: 320px;
}
.cases .case__block ul {
  padding-top: 12px;
  list-style-type: disc;
  padding-left: 24px;
  padding-bottom: 28px;
}
@media (min-width: 1200px) {
  .cases .case__block ul {
    line-height: 1.5;
    padding-bottom: 0;
  }
}

.help {
  padding-bottom: 0px;
  position: relative;
}
@media (min-width: 1200px) {
  .help {
    padding-bottom: 0;
    z-index: 1;
  }
}
.help__dec1 {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1510px;
  height: 376px;
  background-size: contain;
  z-index: -1;
}
.help__icon {
  min-width: 10px;
  max-width: 10px;
  height: 10px;
  background-size: contain;
  background-color: #3217ff;
  border-radius: 50%;
}
.help h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .help h2 {
    font-size: 34px;
  }
}
.help h2 b {
  color: #3217ff;
}
.help ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}
@media (min-width: 1200px) {
  .help ul {
    justify-content: center;
  }
}
.help ul li {
  max-width: 164px;
  width: 100%;
  padding: 16px;
  border: solid 1px #3217ff;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 22px;
  border-radius: 16px;
}
@media (min-width: 1200px) {
  .help ul li {
    padding: 22px;
    flex-direction: row;
    max-width: 320px;
  }
}

.team {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .team {
    padding-bottom: 0;
  }
}
.team h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .team h2 {
    font-size: 34px;
  }
}
.team h2 b {
  color: #3217ff;
}
.team__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .team__block {
    padding: 0 40px;
    margin-bottom: 40px;
  }
}
.team__item {
  width: 155px;
}
@media (min-width: 1200px) {
  .team__item {
    width: 235px;
  }
}
.team__img {
  width: 100%;
  height: 209px;
  background-size: cover;
  margin-bottom: 26px;
}
@media (min-width: 1200px) {
  .team__img {
    height: 318px;
  }
}
.team__text {
  border-left: solid 2px #e8f0ff;
  padding-left: 16px;
  font-size: 14px;
}
.team__text b {
  color: #3217ff;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.team__subtitle {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1200px) {
  .team__subtitle {
    font-size: 24px;
  }
}
.team__subtitle b {
  display: block;
  color: #3217ff;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .team__subtitle b {
    display: inline-block;
  }
}
.team__others {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  text-align: center;
  margin-top: 24px;
}
@media (min-width: 1200px) {
  .team__others {
    margin-top: 40px;
    gap: 38px;
  }
}
.team__other {
  max-width: 151px;
  width: 100%;
}
@media (min-width: 1200px) {
  .team__other {
    max-width: 260px;
  }
}
.team__other b {
  color: #3217ff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .team__other b {
    font-size: 19px;
  }
}
.team__other-img {
  width: 151px;
  margin: 0 auto;
  display: block;
  height: 40px;
  background-size: cover;
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .team__other-img {
    width: 246px;
    height: 66px;
  }
}

.reviews {
  padding-bottom: 0px;
  background: #f5f7ff;
}
@media (min-width: 1200px) {
  .reviews {
    padding-bottom: 0;
  }
}
.reviews h2 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .reviews h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
}
.reviews h2 span {
  color: #3217ff;
}
.reviews__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 1200px) {
  .reviews__content {
    flex-direction: row;
  }
}
.reviews__item {
  border: 1px solid #ecedf2;
  border-radius: 24px;
  padding: 24px;
  font-size: 14px;
  line-height: 150%;
  color: #022723;
  max-width: 580px;
  width: 100%;
}
.reviews__img {
  min-width: 86px;
  height: 86px;
  border-radius: 50%;
  background-size: cover;
}
.reviews__header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-bottom: 20px;
}
.reviews__info b {
  font-weight: 700;
  font-size: 22px;
  color: #3217ff;
}
.reviews__info p {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  color: #022723;
}
.reviews__info p strong {
  font-weight: 700;
  display: block;
}

.stage {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .stage {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .stage .container {
    max-width: 766px;
  }
}
.stage h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .stage h2 {
    font-size: 34px;
  }
}
.stage h2 b {
  color: #3217ff;
}
.stage ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stage ul li {
  font-size: 18px;
  line-height: 156%;
}
@media (min-width: 1200px) {
  .stage ul li {
    font-size: 20px;
  }
}
.stage ul li b {
  font-weight: 700;
  color: #3217ff;
}
.stage__btn {
  display: none;
}
@media (min-width: 1200px) {
  .stage__btn {
    display: block;
    margin: 26px 40px 0;
  }
}
.stage__btn .btn {
  line-height: 1.3;
  padding: 6px 12px;
  gap: 4px;
}
@media (min-width: 1200px) {
  .stage__btn .btn {
    padding: 18px 12px;
    gap: 22px;
  }
}
.stage__btn .btn span {
  display: none;
}
@media (min-width: 1200px) {
  .stage__btn .btn span {
    display: inline-block;
  }
}

.company {
  padding-bottom: 0px;
  position: relative;
}
@media (min-width: 1200px) {
  .company {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .company__dec1 {
    position: absolute;
    top: 394px;
    right: -400px;
    height: 379px;
    width: 1202px;
    background-size: cover;
    z-index: -1;
    transform: rotate(90deg);
  }
}
@media (min-width: 1200px) {
  .company__dec2 {
    position: absolute;
    bottom: 200px;
    left: -100px;
    width: 455px;
    height: 455px;
    background-size: contain;
    z-index: -1;
  }
}
.company h2 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .company h2 {
    font-size: 34px;
  }
}
.company h2 span {
  color: #3217ff;
}
.company ul {
  width: 230px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media (min-width: 1200px) {
  .company ul {
    flex-direction: row;
    width: auto;
    justify-content: center;
    gap: 120px;
  }
}
.company ul li {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media (min-width: 1200px) {
  .company ul li {
    font-size: 18px;
    flex-direction: column;
    width: 200px;
  }
}
.company ul li b {
  color: #3217ff;
  font-weight: 600;
  font-size: 38px;
  min-width: 110px;
}
@media (min-width: 1200px) {
  .company ul li b {
    font-size: 54px;
    min-width: none;
  }
}
.company__info {
  background-color: #e8f0ff;
  border-radius: 16px 16px 0 0;
  padding: 20px 26px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-top: 24px;
}
@media (min-width: 1200px) {
  .company__info {
    border-radius: 100px;
    max-width: 790px;
    margin: 40px auto 0;
  }
}
.company__info b {
  font-size: 54px;
  font-weight: 600;
  color: #3217ff;
}
.company__info p {
  color: #3217ff;
  font-size: 16px;
}
@media (min-width: 1200px) {
  .company__info p {
    font-size: 20px;
  }
}

.register {
  padding-bottom: 0px;
}
@media (min-width: 1200px) {
  .register {
    padding-bottom: 0;
  }
}
.register h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .register h2 {
    font-size: 34px;
  }
}
.register h2 span {
  color: #3217ff;
}
@media (min-width: 1200px) {
  .register .hero__gift {
    margin: 0 60px 26px;
  }
}
.register__form {
  border-radius: 16px;
  background-color: #3217ff;
  color: #ffffff;
  padding: 28px 14px;
}
@media (min-width: 1200px) {
  .register__form {
    padding: 40px;
    max-width: 834px;
    margin: 0 auto;
  }
}
.register .form__title {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .register .form__title {
    font-size: 20px;
    padding: 0 40px;
  }
}
.register .form__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1200px) {
  .register .form__block {
    flex-wrap: wrap;
    flex-direction: inherit;
    justify-content: space-between;
  }
}
.register .form .intl-tel-input {
  width: 100%;
}
.register .form__input-wr {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 1200px) {
  .register .form__input-wr:last-child {
    width: 356px;
  }
}
.register .form__input-wr label {
  font-size: 14px;
  padding-left: 16px;
}
.register .form__input-wr input {
  background-color: #472eff;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 16px;
  padding-left: 12px;
  border: solid 1px #fff;
}
@media (min-width: 1200px) {
  .register .form__input-wr input {
    width: 356px;
  }
}
.register .form__input-wr input::-moz-placeholder {
  color: #7b6aff;
}
.register .form__input-wr input::placeholder {
  color: #7b6aff;
}
.register .form__input-wr input:focus {
  background-color: #472eff;
}
.register .form__input-wr input:hover {
  background-color: #472eff;
}
.register .form__input-wr input:-webkit-autofill {
  color: #7b6aff;
}
.register .form__input-wr textarea {
  border: solid 1px #fff;
  background-color: #472eff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 12px;
}
.register .form__input-wr textarea::-moz-placeholder {
  color: #7b6aff;
}
.register .form__input-wr textarea::placeholder {
  color: #7b6aff;
}
.register .form__agree {
  font-size: 10px;
  text-align: center;
  color: #7b6aff;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .register .form__agree {
    max-width: 520px;
    font-size: 14px;
    margin: 10px auto 0;
  }
}
.register .form__agree a {
  color: #7b6aff;
  text-decoration: underline;
}
.register .form .btn-page {
  background-color: #fff;
  color: #3217ff;
  margin-top: 12px;
}
@media (min-width: 1200px) {
  .register .form .btn-page {
    max-width: 564px;
    margin: 46px auto 0;
  }
}
.register .form .btn-page svg {
  fill: #3217ff;
}
.register .form .btn-page:hover {
  color: #000;
  cursor: pointer;
}
.register .form .btn-page:hover svg {
  fill: #000;
}

.faq {
  padding-bottom: 0px;
  background: #f5f7ff;
}
@media (min-width: 1200px) {
  .faq {
    padding-bottom: 0;
  }
}
.faq h2 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .faq h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
}
.faq h2 span {
  color: #3217ff;
}
.faq__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1200px) {
  .faq__content {
    gap: 16px;
  }
}
.faq__content .item {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-flow: wrap;
  padding: 16px 18px;
  position: relative;
  border-radius: 7px;
}
@media (min-width: 1200px) {
  .faq__content .item {
    padding: 16px;
  }
}
.faq__content .item.active .item__info {
  max-height: 10000px;
}
.faq__content .item.active .item__more:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Crect x='22.5' y='14' width='2' height='14' transform='rotate(90 22.5 14)' fill='%233217FF'/%3E%3C/svg%3E") 50%/contain no-repeat;
}
.faq__content .item__title {
  width: calc(100% - 100px);
  font-size: 14px;
  font-weight: 700;
  color: #2d2d2d;
}
@media (min-width: 1200px) {
  .faq__content .item__title {
    font-size: 22px;
  }
}
.faq__content .item__title span {
  color: #f76800;
}
.faq__content .item__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  border-radius: 50%;
}
.faq__content .item__more:hover {
  cursor: pointer;
}
.faq__content .item__more:before {
  content: "";
  width: 22px;
  height: 22px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Crect x='14.5' y='8' width='2' height='14' fill='%233217FF'/%3E%3Crect x='22.5' y='14' width='2' height='14' transform='rotate(90 22.5 14)' fill='%233217FF'/%3E%3C/svg%3E") 50%/cover no-repeat;
}
@media (min-width: 1200px) {
  .faq__content .item__more:before {
    width: 32px;
    height: 32px;
  }
}
.faq__content .item__info {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
.faq__content .item__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}
@media (min-width: 1200px) {
  .faq__content .item__content {
    flex-direction: row;
    align-items: start;
    padding-top: 20px;
    font-size: 22px;
    max-width: 700px;
  }
}

.profit {
  padding: 60px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profit .container {
  text-align: center;
  max-width: 640px;
}

.profit__toptext {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
}

.profit__title {
  margin: 20px 0;
  font-size: 38px;
  line-height: 1.4;
}

.profit__subtitle {
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}

.profit__subtitle b {
  font-weight: 700;
  color: var(--accent);
}

.profit__text {
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.18;
}

.profit__text b {
  font-weight: 700;
}

.profit .submit-btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.profit .btn {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 65px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.profit .btn.trasparent {
  margin-right: 10px;
  color: #262626;
  border: 1px solid var(--accent);
  background: #fff;
}

.profit .btn.full {
  background: var(--accent);
}

.profit .speacial-date {
  color: #9b9b9b;
  margin-top: 15px;
}

.profit .speacial-date b {
  font-weight: 700;
}

@media (max-width: 760px) {
  .profit__toptext {
    margin: 20px 0;
    font-size: 18px;
  }
  .profit__title {
    font-size: 32px;
    line-height: 1.3;
  }
  .profit .submit-btns {
    flex-direction: column;
    margin-top: 20px;
  }
  .profit .btn {
    width: 100%;
  }
  .profit .btn.trasparent {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .profit .speacial-date {
    font-size: 16px;
  }
}
.footer {
  margin: 18px;
  background: #ffffff;
  padding: 48px 0;
  z-index: 1;
  position: relative;
}
@media (min-width: 1200px) {
  .footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-bottom: none;
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .footer__shadow {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 775px;
    height: 775px;
    position: absolute;
    transform: scale(0.4);
    top: -434px;
    left: -81px;
  }
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 268px;
  position: relative;
}
@media (min-width: 760px) {
  .footer__container {
    max-width: 1140px;
    justify-content: center;
    gap: 68px;
  }
}
.footer__container h5 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__container ul li a {
  color: #000;
  text-decoration: none;
}
.footer__logo {
  width: 177px;
  height: 40px;
  background: url(../img/header__logo.svg) 50%/contain no-repeat;
}
@media (min-width: 1200px) {
  .footer__logo {
    width: 206px;
    height: 46px;
  }
}
.footer__social_links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer__social_links svg {
  fill: #3217ff;
}

@media (max-width: 1260px) {
  .footer__decor--1 {
    position: absolute;
    left: calc(50% - 800px);
    top: -100px;
  }
  .footer__decor--2 {
    position: absolute;
    top: 70px;
    right: calc(50% - 600px);
  }
  .footer__container {
    justify-content: space-between;
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */