.attention {
  .container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: url(../img/dec.webp) no-repeat center;
      background-size: cover;
      width: 1672px;
      height: 658px;
      z-index: -2;
      top: 0px;
      left: -900px;
      animation: rotateOnlyRight 20s linear infinite;

      @include media-breakpoint-up(xl) {
        left: 0px;
      }
    }
  }
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 121%;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 78px;
    }
  }
  &__block {
    @include media-breakpoint-up(xl) {
      max-width: 520px;
      transform: translate(600px, -100px);
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 129%;
      text-transform: uppercase;
      padding: 32px 0;
    }

    .btn {
      @include media-breakpoint-up(xl) {
        padding: 0.5em 1em;
      }
    }
  }
  &__dec-cube {
    position: absolute;
    top: -105px;
    right: -251px;
    width: 329px;
    height: 349px;
    background-size: cover;
    transform: rotate(140deg);
    z-index: -1;

    @include media-breakpoint-up(xl) {
      width: 548px;
      height: 587px;
      right: -250px;
      top: -305px;
      transform: rotate(140deg);
    }
  }
  &__dec-cube2 {
    position: absolute;
    bottom: -105px;
    right: -251px;
    width: 329px;
    height: 349px;
    background-size: cover;
    transform: rotate(100deg);
    z-index: -1;

    @include media-breakpoint-up(xl) {
      width: 548px;
      height: 587px;
      left: -250px;
    }
  }
}
