.lectors{
  padding: 75px 0;
  @media (max-width: 767px){
    padding: 35px 0;
  }

  p{
    margin-bottom: 0;
  }
  &__container {
    @extend %container;
    text-align: center;
    @media (max-width: 767px){
      max-width: 100%;
    }

  }

  &__title{
    @extend %title;
  }
  &__sub-title{
    @extend %sub-title;
  }

  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 65px;
    @media (max-width: 1200px){
     justify-content: center;
    }
  }

  &__item{
    position: relative;
    text-align: left;
    max-width: 555px;
    width: 100%;
    min-height: 320px;
    background-color: #f9f6ff;
    padding: 25px 15px 0px 190px;
    margin:  25px 15px;
    @media (max-width: 767px){
      padding: 30px 15px;
      margin:  135px 0px 0px;
      min-height: auto;
    }

    &:before{
      position: absolute;
      left: 20px;
      bottom: 20px;
      content: " ";
      width: 139px;
      height: 320px;
      @media (max-width: 767px){
        left: 50%;
        top: -115px;
        transform: translate(-50%,0%);
        height: 130px;
      }
    }

    &:nth-child(1){
      &:before{
        background:  url(images/moiseenko-min.jpg) top center no-repeat;

        @at-root .webp & {
          background:  url(images/moiseenko.webp)top  center no-repeat;
        }
      }

    }
    &:nth-child(2){
      &:before{
        background:  url(images/kavin-min.jpg) top center no-repeat;

        @at-root .webp & {
          background:  url(images/kavin.webp)top  center no-repeat;
        }
      }
    }
    &:nth-child(3){
      &:before{
        background:  url(images/velichko-min.jpg) top center no-repeat;

        @at-root .webp & {
          background:  url(images/velichko.webp)top  center no-repeat;
        }
      }
    }

    &:nth-child(4){
      &:before{
        background:  url(images/smirnov-min.jpg) top center no-repeat;

        @at-root .webp & {
          background:  url(images/smirnov.webp)top  center no-repeat;
        }
      }
    }
    &:nth-child(5){
      &:before{
        background:  url(images/aliev-min.jpg) top center no-repeat;

        @at-root .webp & {
          background:  url(images/aliev.webp)top  center no-repeat;
        }
      }
    }

    &:nth-child(6){
      &:before{
        background:  url(images/droboty-min.jpg) top center no-repeat;

        @at-root .webp & {
          background:  url(images/droboty.webp)top  center no-repeat;
        }
      }
    }

  }

  &__name{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    color: #6225d0;
    text-transform: uppercase;
    padding-bottom: 25px;
    br{
      display: none;
      @media (max-width: 767px){
      }
    }
    @media (max-width: 767px){
      text-align: center;
    }
  }

  &__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.15px;
    padding-bottom: 10px;
    color: #202020;
    @media (max-width: 767px){

    }
    br{
      display: none;
      @media (max-width: 767px){

      }
    }
  }



  &__btn{
    @extend %btn;
    margin-top: 20px;
    @media (max-width: 767px){
      margin-top: 25px;
      line-height: 1.33;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 29px
    }

  }

}