.pricing-timer {
  padding: 60px 0px 75px;

  @media (max-width: 1200px){
    padding: 75px 0px;
  }
  @media (max-width: 767px){
    padding: 30px 0px;

  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 130px;
    height: 130px;
    box-shadow: -3.1px 11.6px 24px 0 rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to top, #cf227d, #d541c4);
    border-image-slice: 1;
    background-color: #2e0e69;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin-right: 30px;
    @media (max-width: 767px){
      margin-right: 5px;
      font-size: 15px;
      width: 70px;
      height: 70px;
    }

    &:last-child{
      margin-right: 0;
    }

    > span {
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      line-height: 1;
      color: #fff;

      @media (max-width: 767px){
        font-size: 25px;

      }

      &.separate {
        display: none;
      }
    }

    &:nth-child(odd) {



      @media (max-width: 980px){

      }
      @media (max-width: 600px){

      }
    }
    &:nth-child(even ) {
      display: none;

    }
  }
}
