
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@charset "utf-8";
//-font-family: 'Oswald', sans-serif;

//-font-family: 'Montserrat', sans-serif;



.seminar-landing{
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  background: #2b0266 url(images/bg_1200.jpg) top center repeat-y;
  @media (max-width: 767px){
    background-image: linear-gradient(to right, #280863, #4d2694, #280863);
  }
  @at-root .webp & {
    background: #2b0266  url(images/bg_1200.webp)top  center repeat-y;
    @media (max-width: 767px){
      background-image: linear-gradient(to right, #280863, #4d2694, #280863);
    }
    /* @media (max-width: 1200px){
       background: url(images/bg_767.webp) top center no-repeat;
     }

     @media (max-width: 767px){
       background: url(images/bg_320.webp) bottom center no-repeat;
     }*/
  }
}

#reg-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background-color: #290964;
  p{
    margin-bottom: 0;
  }
}
.form__btn{
  &:hover,
  &:focus,
  &:active {
    outline: none;

  }
}
btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
   outline: none;
  outline-offset: 0px;
  }

.btn{
&:hover,
&:focus,
&:active {
 outline: none;
  background-color: #f4f4f4;
}
}

.mob-show{
display: none;
@media (max-width: 1200px){
  display: block;
  margin: 20px auto;

}
}
.desctop-show{
display: block;
@media (max-width: 1200px){
  display: none;

}
}

%container{
position: relative;
max-width: 1200px;
width: 100%;
margin: 0 auto;

@media (max-width: 1200px){
  max-width: 767px;
}
@media (max-width: 767px){
  max-width: 320px;
  padding: 0 10px;
}
}

%sub-title {
font-family: 'Oswald', sans-serif;
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1;
letter-spacing: 1.8px;
text-align: center;
color: #f9a9eb;
text-transform: uppercase;
@media (max-width: 767px){
  font-size: 18px;
  padding-bottom: 20px;
}
}

%title {
font-family: 'Oswald', sans-serif;
padding-top: 15px;
font-size: 30px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1;
letter-spacing: normal;
text-align: center;
color: #ffffff;
text-shadow: 2.1px 2.1px 0 #3e1688;
text-transform: uppercase;
@media (max-width: 767px){
  font-size: 24px;
  padding-top: 0;
}
}

%btn {
font-family: 'Montserrat', sans-serif;
background-image: linear-gradient(to left, #f22953, #dd29d7);
font-size: 20px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height:1;
letter-spacing: 2px;
text-align: center;
color: #fff;
padding: 18px 40px;
display: inline-block;
text-transform: uppercase;
-webkit-box-shadow:0px 20px 32px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow:0px 20px 32px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0px 20px 32px 0 rgba(0, 0, 0, 0.2);
transition: 0.7s;
border-radius: 30px;
@media (max-width: 767px){
  padding: 18px 20px;
  font-size: 19px;
}

@media (max-width: 767px){
  margin-top: 30px;
}
&:active,
&:focus,
&:hover{
  text-decoration: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: #fff;

}

}
.skewX{
transform: skewX(-6deg);
display: flex;
}

.skew-norma{
transform: skewX(6deg);

}

@import "haeding";
@import "menu";
@import "hero";
@import "time";
@import "info";
@import "knowledges";
@import "profession";
@import "lectors";
@import "theme";
@import "gift";
@import "advantages";
@import "order";
@import "package";
@import "video";
/*@import "profession";
//-@import "register";
@import "info";
@import "theme";
@import "lectors";
@import "gift";
@import "advantages";
@import "order";
@import "package";
@import "register-bottom";
@import "video";*/
@import "partners";
@import "social";
@import "footer";
@import "loader";
@import "loader-page";

