.lectors{

  &__container {
    @extend %container;
    text-align: center;
  }

  &__title{
    @extend %title;
    @media (max-width: 767px){
      margin-bottom: 40px;
    }
  }


  &__item{
    background: url(images/lectors_dec-min.png) left top  no-repeat,linear-gradient(to right, #3221b4, #3900a1, #7f0299);
    border-bottom-left-radius: 40px;
    height: 160px;
    background-size: contain;
    position: relative;
    padding-left: 220px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 1;

    @media (max-width: 1200px){
      background: url(images/lectors_dec-min.png) left -20px top  no-repeat,linear-gradient(to right, #3221b4, #3900a1, #7f0299);
      background-size: contain;
      padding:30px 30px 30px 220px;
      min-height: 160px;
      height: auto;
    }

    @media (max-width: 767px){
      padding: 115px 30px 20px 20px;
      background: url(images/lectors_dec-mob.png)center top  no-repeat,linear-gradient(to right, #3221b4, #3900a1, #7f0299);
      background-size: contain;
      margin-bottom: 25px;
    }

    p{
      line-height: 1.6;
      color: $color-white;
    }
  }

  &__name{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
    @media (max-width: 767px){
      text-align: center;
    }
  }

  &__regalia{
    font-size: 15px;
  }

  &__img{
    position: absolute;
    bottom: 0;
    left: 37px;
    z-index: -1;

    @media (max-width: 767px){
      bottom: inherit;
      top: -25px;
      left: 50%;
      transform: translate(-50%,0);
    }
  }

  &__btn{
    padding-top: 20px;

    .btn{
      @extend %btn;
    }
  }
}