{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте чек-лист<br>
                        <b class="hero__bold">«7 правил нарахування індексації»</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo18082020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">ОТРИМАТИ чек-лист</button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
            </div>
           {# <div class="hero__description">#}{#Також ви отримуєте можливість прослухати<br>
                <b>ONLINE-конференцію абсолютно безкоштовно
                </b>  #}{# <p  class="arrow"><span></span><span></span><span></span></p> </div>#}


        </div>
    </div>

   {# <div id="theme" class="themes">
        <div class="container theme__container">
            <p class="themes__title">Безкоштовна online-трансляція двічі 18 серпня</p>
            <p class="themes__sub-title">«Серпневий бухгалтерський мікс: ФОП-облік по-новому, зміни в перевірках, штрафах, ЕКПП, мінзарплата-5000 і блокування ПН»</p>
            <p class="themes__sub-title"></p>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                            <p class="themes__time">11:00–11:50</p>
                            <p class="themes__time themes__time--two">19:00–19:50 </p>

                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Індексація зарплати: серпень. Компенсаційні гарантовані виплати: коли, кому, як нарахувати та не помилитися (не заплутатися)</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson1" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Електронний кабінет платника податку: все по-новому?! Як, коли і кому готуватися до змін? </p></li>
                                <li class="themes__more-list-item"><p>Мінімальна зарплата зросте: 5000 грн вже з 1 вересня? На що вплине це зростання? </p></li>
                                <li class="themes__more-list-item"><p>Індексація зарплати: серпень. Кому і скільки нараховувати? (Постанова КМУ № 1078).</p></li>

                                <li class="themes__more-list-item"><p>Компенсаційні гарантовані виплати:</p>
                                    <ul class="themes__more-sub-list">
                                        <li>за затримку виплати зарплати працюючим працівникам (Постанова КМУ № 159);</li>
                                        <li>  за затримку виплати зарплати звільненому працівнику (ст. 117 КЗпП); </li>
                                        <li>  за переведення на нижче оплачувану роботу (ст. 114 КЗпП). </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Олександр Смирнов</p>
                            <p class="themes__time">11:50–12:25</p>
                            <p class="themes__time themes__time--two">19:50–20:25 </p>

                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Податкові штрафи в сучасних карантинних реаліях: як від них захиститися</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson2" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Карантин = мораторій. Що це означає для бізнесу?</p></li>
                                <li class="themes__more-list-item"><p>Основні порушення в податку на прибуток, ПДВ і зарплатних податках.</p></li>
                                <li class="themes__more-list-item"><p>Як використовувати карантин для уникнення відповідальності.</p></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Ольга Гонзайк </p>
                            <p class="themes__time">12:25–12:50</p>
                            <p class="themes__time themes__time--two">20:25–20:50 </p>

                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Облік доходів і витрат ФОП по-новому. До чого готуватися, як правильно вести облік (з книгами чи без них) та які штрафи очікують ФОПів за порушення</p>
                        </div>
                        #}{# <div class="themes__button"><a data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="themes__more-btn">Детальніше</a></div>#}{#
                    </div>
                    #}{# <div id="lesson4" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Зменшені штрафи за несвоєчасну реєстрацію «старих» ПН та РК: новація Закону №786.</p></li>
                                <li class="themes__more-list-item"><p>Основні причини зупинки ПН та РК: карантинний досвід.</p></li>
                                <li class="themes__more-list-item"><p> Відновлення реєстрації ПН/РК: як підтвердити реальність операції та чому блокують ПН/РК?</p></li>
                                <li class="themes__more-list-item"><p>Оскарження рішення податкової про блокування ПН/РК: типові помилки платників.</p></li>
                                <li class="themes__more-list-item"><p>Як запобігти блокуванню ПН та РК?</p></li>

                            </ul>
                        </div>
                    </div>#}{#
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Вікторія Величко</p>
                            <p class="themes__time">12:50–13:30</p>
                            <p class="themes__time themes__time--two">20:50–21:30 </p>

                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Зменшені штрафи за несвоєчасну реєстрацію «старих» ПН та РК: що змінилось?! Блокування податкових накладних: практика, штрафи та поради, як діяти</p>

                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson3" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Зменшені штрафи за несвоєчасну реєстрацію «старих» ПН та РК: новація Закону № 786.</p></li>
                                <li class="themes__more-list-item"><p>Основні причини зупинки ПН та РК: карантинний досвід.</p></li>
                                <li class="themes__more-list-item"><p> Відновлення реєстрації ПН/РК: як підтвердити реальність операції та чому блокують ПН/РК?</p></li>
                                <li class="themes__more-list-item"><p>Оскарження рішення податкової про блокування ПН/РК: типові помилки платників.</p></li>
                                <li class="themes__more-list-item"><p>Як запобігти блокуванню ПН та РК?</p></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#form" class="themes__btn">Дивитися з подарунком</a>
        </div>
    </div>#}


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
