@charset "utf-8";


.wrapper_topics{
  background-color: #f3ecff;
  position: relative;
  margin-top: 75px;

  @media (max-width: 767px){
    margin-top: 50px;
    padding-top: 20px;
  }

  .shape-top{
    height: 155px;
    width: 100%;
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translate(-50%, 0);
    @media (max-width: 767px){
     display: none;
    }
  }
}

.topics {
  height: auto;

  &__text{
    font-size: 24px;
    line-height: 1.04;
    color: #000000;
    margin: 60px 0;
    display: block;
    font-weight: bold;

    @media (max-width: 767px){
      font-size: 18px;
      margin: 40px 0;
      line-height: 1.5;
      font-size: 18px;
    }
  }

  &__container {
    @extend %container;
    text-align: center;
    padding-top: 0;
  }

  &__title{
    @extend %title;
    color: #7042ff;
    padding-bottom: 50px;

  }

  &__item{
    max-width: 950px;
    width: 100%;
    margin: 0 auto 30px;
    box-shadow: 0px 21px 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0 30px 0 30px;
    background-color: #fff;
  }

  &__content{
    padding: 32px 40px 0px;

    &:last-child{
      padding-bottom: 25px;
    }
    @media (max-width: 767px){
      padding: 15px 15px;
    }
  }

  &__btn-more{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 0 30px 0 0;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px){
      right:inherit;
      transform: translate(0%,0%) rotate(90deg);
      position: relative;
    }

    &:before{
      content: "\F054";
      display: block;
      font-size: 21px;
      font-family: FontAwesome;
      font-weight: 300;
      color: #fff;
    }

    &:hover,
    &:active,
    &:focus{
     text-decoration: none;
      cursor: pointer;
    }
  }






  .slider-thems__item{
    outline: none;
  }

  &__head{
    padding: 20px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #9f32e4, #5d56e1);
    border-radius: 0 30px 0 0px;
    position: relative;

    @media (max-width: 767px){
      padding: 28px 40px 10px;
     flex-direction: column;
    }
    b{
      span{
        text-align: center;
        font-size: 14px;
        font-weight: 600;

      }
    }

    span{
      padding-left: 5px;
      text-transform: none;
      text-align: center;

      br{
        display: none;
        @media (max-width: 767px){
          display: block;
        }
      }
    }

    p{
      color: #383737;
      text-transform: none;
      padding-left: 50px;
      @media (max-width: 767px){
        padding-left: 0px;
        font-size: 16px;

      }
      strong{
        color: #383737;
        font-size: 16px;
        @media (max-width: 767px){
          font-size: 15px;
        }
      }
    }
  }
  &__body{
    width: 100%;
    text-align: left;
    outline: none;
    height: auto;


    .slider-thems{


      .slider-thems__item{



        .slider-thems__title{
          font-size: 18px;
          font-weight: 600;
          line-height: 1.78;
          text-align: left;
          color: #484848;

          @media (max-width: 767px){
            font-size: 15px;
            line-height: 1.6;
          }

          span{
            font-style: italic;
            font-size: 16px;
            color: #5f5f5f;
          }
        }
          ul{
          padding-left: 20px;
          padding-top: 20px;
          padding-right: 40px;
          list-style-type: decimal;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: #5f5f5f;
          margin-bottom: 0;
          @media (max-width: 767px){
            padding-left: 25px;
            font-size: 15px;
          }
          li{
            line-height: 24px;
            padding-bottom: 10px;


            @media (max-width: 767px){
              line-height: 1.6;
            }
          }
        }

          p{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: #7042ff;
          }

      }
    }
  }





  .slick-track{
    display: flex;
  }

  &__btn{
    @extend %btn;
    padding-top: 10px;
    a{
      margin: auto;
    }
  }


}
.topics__btn-more[aria-expanded="true"] {
    transform: rotate(90deg);
    top: 25px;

  @media (max-width: 767px){
    transform: rotate(270deg);
    top: 0;
  }
}