
$color: #ffdbdb;
.advantages {
  padding: 75px 0;
  @media (max-width: 767px){
    padding: 40px 0;
  }

  p {
    margin-bottom: 0px;
  }

  &__container {
    @extend %container;
    text-align: center;

    &:before{
      top: 300px;
      right: 300px;
    }
  }

  &__title{
    @extend %title;
  }

  &__sub-title{
    @extend %sub-title;
  }

  .certificate{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
    position: relative;
    margin-top: 35px;
    &:before{
      position: absolute;
      content: "сертифікат";
      font-size: 130px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.54;
      letter-spacing: normal;
      text-align: center;
      color: #e3e2e2;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-transform: uppercase;
      z-index: -1;
    }

    img{
      -webkit-box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.16);
    }
  }

  &__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 80px;
    @media (max-width: 1200px){
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 0px;
      padding-bottom: 60px;
    }
    @media (max-width: 767px){
      padding-bottom: 30px;
    }
  }

  &__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 40px;
    @media (max-width: 1200px){
      margin:  35px 45px;
    }
    @media (max-width: 767px){
      margin:  60px 15px 0;
      padding: 0 0px;
    }
  }

  &__text{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: left;
    color: #303030;
    padding-top: 75px;
    position: relative;
    width: 100%;

    @media (max-width: 767px){
      padding-top: 25px;
    }

    &:before{
      position: absolute;
      content: " ";
      left: -12px;
      top: 60px;
      width: 2px;
      height: 35px;
      background-color: #c4c4c4;
      @media (max-width: 767px){
        top: 27px;
      }
    }
  }

  &__icon{
    background: linear-gradient(to left bottom, transparent 50%, #2aa9af 50%) top / 100% 50% no-repeat, linear-gradient(to left top, transparent 50%, #2aa9af 50%) bottom / 100% 50% no-repeat;
    width: 165px;
    height: 165px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


    .color-svg{
      display: block;
      fill:  #fff;
    }

    svg{
      margin-right: 55px;
    }
  }

  &__btn{
    @extend %btn;
    @media (max-width: 767px){
      margin-top: 0;
    }
  }
}