.gift{
  padding-bottom: 60px;
  @media (max-width: 1200px){
    padding-bottom: 70px;
  }
  &__content{

  }
  &__br{
    display: none;
    @media (max-width: 767px){
      display: block;
    }
  }

  &__item{
    border: solid 2px #d3acff;
    max-width: 970px;
    width: 100%;
    box-shadow: 0 15px 30px rgba(0, 24, 100, 0.2);
    border-radius: 15px;
    background-color: #ffffff;
    margin: 80px auto 0;
    @media (max-width: 767px){
      margin: 60px auto 0;
    }
  }

  &__header{
    padding: 30px 0;
    background-color: #d3acff;
    line-height: 1.2;
    color: #371f51;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    position: relative;
    border-radius: 12px 12px 0 0;
    @media (max-width: 1200px){
      font-size: 20px;
    }
    @media (max-width: 767px){
      text-align: center;
      padding: 18px 5px;
      font-size: 20px;
      line-height: 1.3;
    }
    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }

  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    &:before{
      content: '';
      background: url(images/gifts.png) center center no-repeat;
      width: 50px;
      height: 50px;
      display: block;
      margin: 0 30px 0 0px;
      @media (max-width: 767px){
        content: none;
      }
    }
    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
  }


  &__list{
    padding-left: 0;

    li{
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      @media (max-width: 767px){
        flex-direction: column;
      }
      &:before{
        content: '';
        background: url(images/book.png) center center no-repeat;
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 20px 0 0px;
        @media (max-width: 767px){
          margin: 0;
        }
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }

  &__text{
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #373737;
    @media (max-width: 767px){
      text-align: center;
      font-size: 18px;
    }
    span{
      font-size: 16px;
      font-weight: normal;
      line-height: 1.5;
      color: #d0366a;
    }
  }

  .certificate__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    &:before{
      content: '';
      /* background: url(images/certificate.png) center center no-repeat;*/
      width: 40px;
      height: 50px;
      display: block;
      margin: 0 20px 0 0px;
      @media (max-width: 767px){
        content: none;
      }
    }
  }

  &__body{
    padding: 35px 0px 35px 175px;
    @media (max-width: 1200px){
      padding: 35px 35px 35px 60px;
    }
    @media (max-width: 767px){
      padding:30px;
    }
  }
  .certificate__body{
    display: flex;
    align-items: center;
    padding: 35px 70px;
    @media (max-width: 1200px){
      padding: 30px 50px;
    }
    @media (max-width: 767px){
      flex-direction: column;
      padding: 0px;
      justify-content: center;
    }
  }

  .certificate__block{
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    width: 50%;
    padding-left: 40px;
    @media (max-width: 1200px){
      font-size: 16px;
      padding-left: 20px;
    }
    @media (max-width: 767px){
      width: 100%;
      padding: 20px;
      line-height: 1.5;
    }

  }
  .certificate__img{
    width: 50%;
    border-right: solid 1px  #dddddd;
    @media (max-width: 767px){
      width: 100%;
      border-right: none;
      display: flex;
      align-items: center;
      justify-content: center;


    }
    img{
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.26);
      @media (max-width: 1200px){
        width: 281px;
        height: 200px;
        margin: 10px;
      }
    }
  }



  &__btn{
    max-width: 300px;
    width: 100%;
    margin: 0px auto 30px;
    background-color: #d0366a;
    border-radius: 31px;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
      color: #fff;
      background:#aa1f4e;
    }
  }



}