.themes {
  font-family: 'Source Sans Pro', sans-serif;
  &__container {
    z-index: 1;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 210px;
      height: 100%;
      background-color: #ff002a;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;
    }
  }

  .container{

  }

  &__title {
    @extend %title;
    padding: 30px 0;
    line-height: 1;
    margin: 0;
    background-color: #fff;

  }
  .btn{
    margin-top: 75px;
  }
}

.regulations{
  padding-top: 80px;
  z-index: 1;
  &__item{
    width: 100%;
    padding: 35px 0;
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    margin-bottom: 10px;
    br{
      display: none;
      @media (max-width: 1200px){
        display: block;
      }
    }
  }

  &__title{
    letter-spacing: -0.75px;
    text-align: left;
    padding-left: 65px;
    @media (max-width: 760px){
      text-align: center;
      padding-left: 0px;
    }
    p{
      color: #1b1b1b;
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      margin: 0;
      @media (max-width: 1200px){
        font-size: 22px;
        line-height: 1.2;
      }
      @media (max-width: 1200px){
        font-size: 18px;
      }
    }

    span{
      color: #dadada;
    }
    b{
      color: #1b1b1b;
    }

  }
  &__theme{
    padding: 20px 65px 0 65px;
    color: #1b1b1b;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1200px){
      font-size: 18px;
      line-height: 1.2;
    }
    @media (max-width: 760px){
      flex-direction: column;
      padding: 20px 25px 0 25px;

    }
    p{
      padding-right: 20px;
      @media (max-width: 760px){
        padding-right: 0px;
      }

    }

  }

  &__btn{
    min-width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 18px;
    background-color: #ff002a;
    border: none;color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.4px;
    outline: none;
    span{
      display: block;
      margin-top: -5px;
      width: 11px;
      height: 11px;
      border-bottom: 1px solid #ff889b;
      border-right: 1px solid #ff889b;
      transform: rotate(45deg);
    }

  }



}


.program{
  padding: 35px 100px 0 165px ;
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.5px;
  @media (max-width: 1200px){
    padding: 35px 100px 0 65px ;
    font-size: 18px;
  }
  @media (max-width: 760px){
    padding: 20px 20px 0 20px ;
  }

  &__item--text{

  }
  p{
    padding-top: 15px;
  }
  ul{

    @media (max-width: 760px){
      padding-left: 20px;
    }

    li{
      color: #ff002a;
      span{
        color: #1b1b1b;
      }
    }
  }
}
.lesson[aria-expanded="true"] {
  border-bottom: none;
  .regulations__btn{

    span{
      border-bottom: 1px solid transparent;
      border-right: 1px solid transparent;
      border-top: 1px solid #ff889b;
      border-left: 1px solid #ff889b;
      margin-top: 7px;
      transition: 5ms;

    }
  }

}
