

.video {
  overflow: hidden;
  outline: none;
  z-index: 0;
  margin-bottom: 0px;



  &__container{
    position: relative;
    z-index: 1;

    &:before{
      content: '';
      position: absolute;
      width: 210px;
      height: 100%;
      background-color: #f2f2f2;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .video__content {
    @extend %container;
    margin: 0 auto;
    height: 100%;
    visibility: hidden;


    .slick-initialized {
      visibility: visible;
    }
  }

  &__content {
    @extend %container;
    visibility: hidden;

    .slick-initialized {
      visibility: visible;
    }
  }

  &__title{
    @extend %title;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #fff;
    margin-bottom: 50px;

  }
  &__player {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 56.25%;
    background-color: black;
    @media (max-width: 760px){
      width: 80%;
    }

    iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    @media (max-width: 760px){
      -o-object-fit: cover;
      object-fit: cover;
    }

  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    svg{
      width: 68px;
      height: 48px;
    }

  }

  &__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
  }

  &__button-icon {
    fill: #ffffff;
    &:focus {
      outline: none;
    }
  }

  .slider {
    position: initial;
  }

  .button{
    margin: 70px auto 80px;
  }

}

.video__media:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video__media:hover .video__button-shape,
.video__button:hover .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
  outline: none;
}

.next{
  right: -120px;
  position: absolute;
  display: block;
  background-size: cover;
  cursor: pointer;
  top: 50%;
  transform: translate( -50%);
  z-index: 1000;
  width: 80px;
  height: 80px;
  background: url(images/arrow.svg) no-repeat top center;
  transition: 0.7s;
  &:hover{
    background: url(images/arrow_gray.svg) no-repeat top center;
  }
  &:active{
    background: url(images/arrow.svg) no-repeat top center;
  }
  @media (max-width: 1200px){
    top: 65%;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  @media (max-width: 760px){
    top: 68%;
    right: -20px;
  }

}
.prev {
  left: -80px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate( -50%);
  z-index: 1000;
  width: 80px;
  height: 80px;
  background: url(images/arrow.svg) no-repeat top center;
  transform: rotate(180deg);
  transition: 0.7s;
  &:hover{
    background: url(images/arrow_gray.svg) no-repeat top center;
  }
  &:active{
    background: url(images/arrow.svg) no-repeat top center;
  }
  @media (max-width: 1200px){
    top: 65%;
    left: 30px;
    width: 40px;
    height: 40px;
  }
  @media (max-width: 760px){
    top: 68%;
    left: 0px;
  }

}
