.clients {
  padding: 22px 0;
  display: none;

  @include media-breakpoint-up(xl) {
    padding: 36px 0;
    display: flex;
  }

  .container {
    position: relative;
  }

  .title {
    font-size: 22px;

    @include media-breakpoint-up(xl) {
      font-size: 36px;
    }
  }

  &__slider {
    padding: 0 24px;
  }

  .logo {
    background: 50% / contain no-repeat;
    height: 88px;
  }

  &__block {
    position: relative;
  }
}
