
.hero {
  padding-left: 60px;
  color: #000000;
  display: flex;
  align-items: flex-start;

  @media (max-width: 767px){
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }

  &__content{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding: 90px 0;

    @media (max-width: 767px){
      padding: 20px 0 300px;
    }
  }

  &__logo{
    margin-bottom: 40px;

    @media (max-width: 767px){
      margin-bottom: 15px;
    }

    img{
      width: 180px;
      background-color: #005c19;
      border-radius: 3px;

      @media (max-width: 767px){
        width: 150px;
      }
    }
  }

  &__title{
    font-size: 62px;
    font-weight: 900;
    margin-bottom: 0;

    @media (max-width: 767px){
      font-size: 35px;
    }

  }

  &__subtitle{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0;

    @media (max-width: 767px){
      font-size: 19px;
    }

    span{
      font-weight: 900;
      color: #ff3535;
    }
  }

  &__caption{
    font-size: 71px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 65px;

    @media (max-width: 767px){
      font-size: 41px;
      margin-bottom: 20px;
    }
  }

  &__btn{
    margin-bottom: 0;
    .btn{
      display: inline-block;
      max-width: 350px;
      width: 100%;
      border-radius: 5px;
      background-color: #ff3535;
      font-size: 30px;
      text-align: center;
      color: #fff8d1;
      font-weight: normal;

      @media (max-width: 767px){
        font-size: 24px;
      }

      &:hover{
        background-color: #ca2626;
      }
    }
  }
}