.knowledges {

  &__container {
    @extend %container;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  &__box {
    position: relative;
    padding: 55px;
    border-radius: 25px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
    border: solid 2px #e9e9e9;
    background-color: #ffffff;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: -10px;
      width: 80px;
      height: 80px;
      background: url(images/icon-info.png) no-repeat center;
    }
  }

  &__box-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #424342;
  }

  &__box-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;

    li {
      margin-bottom: 10px;
      color: #f4037e;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: #1d1d1d;
      }
    }
  }
}