.lectors {

  &__container {
    @extend %container;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.lector {
  position: relative;
  padding: 30px 25px 27px 160px;
  border-radius: 25px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
  border: solid 2px #e9e9e9;
  background: #ffffff;

  &__image {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 110px;
    height: 110px;

    img{
      border-radius: 50%;
    }
  }

  &__title {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    color: #424342;

    span {
      text-transform: uppercase;
    }
  }

  &__regalia {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #1d1d1d;
  }
}