.partners {
  border-top: 2px solid  #f6f6f6;

  &__container {
    @extend %container;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  table {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    td {
      padding: 10px 5px;
      text-align: center;
      vertical-align: middle;
      width: 290px;
      a {
        -webkit-filter: grayscale(100%) opacity(60%);
        filter: grayscale(100%) opacity(60%);
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        transition: 250ms;

        &:hover {
          -webkit-filter: none;
          filter: none;
        }
      }
    }
  }
}