/*
.program {
  position: relative;
  border: 2px solid $theme-color;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 40px;
  //margin-top: -20px;
  padding-bottom: 40px;

  &__item {
    position: relative;
    padding-left: 45px;

    &:last-child {
      &:before {
        display: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 30px;
      top: 28px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color:$theme-color;
    }
  }

  &__item--text {
    font-size: 18px;
    padding: 20px 50px 20px 0;
    min-height: 40px;
    margin: 0;
    font-weight: 400;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    p {
      margin: 0;
      font-weight: 400;
    }

    ul{
      margin: 0;
      margin-left: 60px;
      padding-top: 0;
      font-size: 16px;

      li{
        padding-top: 10px;
      }
    }
  }

  &__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 40px;
    width: 218px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 47px;
    color: #fff;
    text-align: center;
    border: 2px solid $theme-color;
    background: $theme-color;
    transition: 150ms linear;
    border-radius: 25px;

    &:hover,
    &:active,
    &:focus {
      background: #fff;
      color: $theme-color;
      text-decoration: none;
    }
  }
}*/
.program {
  counter-reset: item;
  position: relative;
  border: 2px solid $theme-color;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 40px;
  //margin-top: -20px;
  padding-bottom: 40px;


  &__item {
    position: relative;
    padding-left: 111px;

    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 40px;
      top: 10px;
      width: 40px;
      height: 40px;
      font-size: 24px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      background-color: $theme-color;
    }

    .program__list {
      padding-top: 0;
      padding-left: 30px;
      color: $theme-color;

      span {
        color: #1d1d1d;
      }

      .program__list--item {
        padding-bottom: 0;
      }
    }
  }

  &__item--text {
    font-size: 16px;
    padding: 20px 50px 20px 0px;
    min-height: 40px;
    margin: 0;
    font-weight: 400;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    p {
      margin: 0;
      font-weight: 400;
    }
  }
  ul{
    padding-top: 10px;
    padding-left: 20px;
    li{
      padding-top: 10px;
    }
  }

  &__item--date {
    p {
      margin-bottom: 0;
      font-weight: 400;
    }

    &:before {
      content: '';
      background: #ffbd76 url("images/date.png") no-repeat 50% 50%;
    }
  }

  &__item--clock {
    p {
      margin-bottom: 0;
      font-weight: 400;
    }

    &:before {
      content: '';
      background: #ffbd76 url("images/clock.png") no-repeat 50% 50%;
    }
  }

  &__item--centered:before {
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 40px;
    width: 218px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 47px;
    color: #fff;
    text-align: center;
    border: 2px solid $theme-color;
    background: $theme-color;
    transition: 150ms linear;
    border-radius: 25px;

    &:hover,
    &:active,
    &:focus {
      background: #fff;
      color: $theme-color;
      text-decoration: none;
    }
  }
}