.themes {

  &__container {
    @extend %container;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #424342;
  }
}