.certificate {

  &__container {
    @extend %container;



  }
  &__title{
    @extend %title;
    @media (max-width: 767px){
      padding-bottom: 0;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

    @media (max-width: 1200px){
      justify-content: center;
      padding-top: 0px;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1200px){
      margin:  35px 45px;
    }
    @media (max-width: 767px){
      margin:  25px 15px;
    }

    &:nth-child(odd){
      @media (max-width: 767px){
        display: flex;
        flex-direction: column-reverse;
      }
      .certificate__text{
        padding-top: 30px;
        @media (max-width: 767px){
          padding-bottom: 15px;
        }
      }
    }
    &:nth-child(even){
      display: flex;
      flex-direction: column-reverse;
      @media (max-width: 767px){

      }
      .certificate__text{
        padding-bottom: 30px;
        @media (max-width: 767px){
          padding-bottom: 15px;

        }
      }
    }
  }


  &__text{
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #7b7b7b;
    text-transform: uppercase;
  }

  &__icon{
    background-image: linear-gradient(to top, #fda100, #e5bf25);
    box-shadow: -20px 0px 0px 0 #e4e4e4;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      .color-svg{

        fill: #363636;
      }


    }
    &:hover + .certificate__text{
      color: #363636;
    }

    .color-svg{
      display: block;
      fill:  #98640a;
    }

  }

   &__img{
     @media (max-width: 1200px){
       width: 100%;
     }
     img{
       box-shadow: 0px 15px 30px 0 rgba(0, 0, 0, 0.25);

       @media (max-width: 767px){
         width: 244px;
         height: 174px;
       }
     }

   }






}

