@charset "utf-8";
.hero {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  position: relative;
  background-image: linear-gradient(to right, #fda100, #e5bf25);




  
  &__container {
    @extend %container;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 0;
    text-align: left;
    @media (max-width: 767px){
      padding: 0;
    }
    &:after{
      position: absolute;
      content: " ";
      background: url(images/hero_dec-min.png) no-repeat top center;
      background-size: cover;
      width: 813px;
      height: 100%;
      bottom: 0;
      right: 0px;
      z-index: -1;
      @media (max-width: 1200px){
        background: url(images/dec_hero_767.png) no-repeat top center;
        width: 750px;
       left: 50%;
        transform: translate(-50%,0%);
        @media (max-width: 767px){
          content: none;
        }
      }
    }

    &:before{
      position: absolute;
      content: " ";
      background: url(images/hero_tm-min.png) no-repeat top center;
      background-size: contain;
      width: 592px;
      height: 686px;
      right: 110px;
      bottom: 0;
      z-index: 1;
      @media (max-width: 1200px){
        background: url(images/tm_hero_767.png) no-repeat top center;
        width: 501px;
        height: 541px;
        bottom: -80px;
      }
      @media (max-width: 767px){
        content: none;
      }
    }


  }


  &__content{
    padding: 60px 0 50px;
    @media (max-width: 767px){
      padding: 35px 0 50px;
    }
  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 0 0;
    p{
      font-size: 217px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      text-indent: -30px;
      @media (max-width: 1200px){
        text-align: center;
        font-size: 134.5px;
        text-indent: 0px;
      }
      @media (max-width: 767px){
        font-size: 56px;
        text-indent: 0px;
      }
    }



  }

  &__date{
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.2px;
    text-align: left;
    color: #bb006f;
    span{
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0.9px;
      color: #ffedcb;
    }

    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
    @media (max-width: 1200px){
      text-align: center;
    }
    @media (max-width: 767px){
     line-height: 1.5;
    }
  }

  &__sub-title{
    font-size: 86px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 4.3px;
    text-align: left;
    color: #363636;
    text-transform: uppercase;
    span{
      font-size: 54px;
      font-weight: bold;
      letter-spacing: 3.51px;
      @media (max-width: 767px){
        font-size: 28px;
      }
    }
    @media (max-width: 1200px){
      text-align: center;
    }
    @media (max-width: 767px){
      font-size: 44px;
      font-weight: 600;
      letter-spacing: 2.2px;
    }

  }

  &__name{
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.9px;
    color: #ffedcb;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    @media (max-width: 1200px){
      text-align: center;
    }
    span{
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.2px;
      color: #bb006f;
      @media (max-width: 767px){
        font-size: 16px;
      }

    }
  }


  &__menu {
    @media (max-width: 1200px){
      display: none;

    }
  }


  &__btn{
    @extend %btn;
    margin-top: 50px;
    margin-bottom: 70px;
    @media (max-width: 1200px){
      margin: 25px auto 320px ;
      display: table;
    }
    @media (max-width: 767px){
      margin: 30px auto 45px ;
    }
  }



}
.hero__controls-modal-btn {
  bottom: 175px;
  right: 385px;
  position: absolute;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 103px;
  border: none;
  outline: none;
  background: url(images/btn-modal.png) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scale 1.5s linear infinite;
  -o-animation: scale 1.5s linear infinite;
  animation: scale 1.5s linear infinite;
  @media (max-width: 1200px){
    display: none;
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

p.seminar_rec{
  font-size: 22px;
  line-height: 50px;
  padding: 10px 0;
  color: #000;
  @media (max-width: 1200px){
    text-align: center;
  }



  span {
    padding-left: 60px;
    position: relative;
    display: inline-block;


    &:before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      background-image: url(../../parts/pages/online/images/camera.png);
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
  }
}
