<div class="hero" >
    <div  data-require="@black,auth" class="hero__form   modal__inner modal__inner--no-modal modal_header_auth">
        <h1>Дякуємо! 😊 </h1>

        <p>На ваш e-mail надіслано лист з&nbspподарунками!</p>



    </div>
</div>


<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>



<script>

    SystemJS.import('jquery').then(function ($) {
        var loader = $('.loader-backdrop')
        var loaderPage = $('#loader-page');
        loaderPage.delay(850).fadeOut('slow');

    })
</script>