.expectation#expectation
    p.expectation__title Про що дізнаєтеся
    .expectation__container.container
        .expectation__content
               ul.expectation__list.expectation__list--left
                   li.expectation__item
                        p Як планувати
                            =" "
                            br
                            | та обліковувати
                        span Робочий час,
                            =" "
                            br
                            | роботу змінами
                   li.expectation__item
                       span Види перевірок
                           =" "
                            br
                            | держпраці
                       p та як реагувати на запити
                           =" "
                            br
                            | перевіряючих
               ul.expectation__list.expectation__list--right
                   li.expectation__item
                       p Які зміни несе трудовий кодекс
                       span Із 2020 року
                   li.expectation__item
                       span Як і на скільки
                            =" "
                            br
                            | послаблять
                            =" "
                            br
                            | трудові штрафи
                       p для роботодавців
        a.button(href="#order")
            .btn__text Придбати зараз
        a.arrow(href="#lectors")
            span
            span
            span



