.hero
    .container.hero__container
        .hero__menu
            include _menu
        .hero__zal У залі та online
        .hero__content
            .hero__title
                span Великий
                br
                | Кадровий
                br
                | Семінар

            .hero__info
                .hero__date
                    p 26 листопада
                    span 2019 року
                a.hero__place(href="#map")
                    p конференц-хол «Депо»
                    span м. Київ
        button.hero__controls-modal-btn(type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="UTxZ0THxuOQ")
        a.button.button--mob(href="#order")
            .btn__text Придбати зараз
        .hero__name
            .hero__tm Тетяна
                br
                | Мойсеєнко
            .hero__os Олександр
                br
                | Смирнов

        a.button(href="#order")
            .btn__text Придбати зараз
        a.arrow(href="#expectation")
            span
            span
            span






            //-button.hero__controls-modal-btn(type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="vsF8Qv2xnc8")
            //-p.hero__rec
                span Відеозапис


            //-img(alt="Роздатковий матеріал" src="/storage/seminars/pages/08102019_2/images/hero_img-mob.png" class="hero__img")




