#lectors.lectors
    p.lectors__title ЛЕКТОРИ
    .container.lectors__container
        .lector
            .lector__item
                p.lector__name олександр смирнов
                p.lector__text Адвокат. Спеціалізація – податкові конфлікти, легальна оптимізація оподаткування, захист бізнесу і посадових осіб від неправомірних дій контролюючих органів.
                p.lector__text Досвід роботи – понад 14 років. Проводить авторські семінари для керівників, бухгалтерів, юристів з 2012 р.
            .lector__item
                p.lector__name Тетяна Мойсеєнко
                p.lector__text Шеф-редактор 7eminar.com, експерт з трудового права та кадрового обліку. Щоденно професійно консультує ТОП-10 компаній України.
                .lector__text Досвід лекторської роботи більше 15000 годин, в тому числі в online-семінарах, вебінарах, уроках для бухгалтерів і кадровиків.
        a.arrow(href="#themes")
            span
            span
            span


