#loader-page.loader-page
    .dots
        .loading
            span 7
            span e
            span m
            span i
            span n
            span a
            span r
            span.loading__dots .
            span c
            span o
            span m
