.partners
    .container.partners__container
        ul.partners__list
            li
                a.logonoclik(href="https://7eminar.com/" target="_blank",)
                    img.img_partners1(style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar")
            li
                a(href='http://www.smart-it.com/uk/', target='_blank', rel='nofollow')
                    img(src='/modules/seminars/images/logos/smart-2.png', height='50', alt='Smart IT')

            li
                a(href='https://dtkt.ua/', target='_blank', rel='nofollow')
                    img(src='/modules/seminars/images/logos/dtkt.png', width='146', height='38', alt='Дебет-Кредит')

            //-li
                a(href='https://www.medoc.ua/uk', target='_blank', rel='nofollow')
                    img(src='https://7eminar.com/storage/seminars/mails/medoc.png', width='75', height='55', alt='medoc')
        ul.partners__list
            //-li
                a.logonoclik(href='https://delovod.ua/uk', target='_blank')
                    img.img_partners1(style='width: 133px;', src='/storage/seminars/pages/{action}/images/dilovod_logo.svg', alt='delovod')
            li
                a(href='https://7eminar.com/', target='_blank')
                    img(src='/modules/seminars/images/logos/kbs.png', width='145', height='38', alt='Київська Бухгалтерська Служба')
            li
                a(href='http://www.softcom.ua/', target='_blank', rel='nofollow')
                    img(src='/modules/seminars/images/logos/softcom.png', height='50', alt='Софтком')

            li
                a.logonoclik(href='https://kraft.net.ua', target='_blank')
                    img.img_partners1(style='width: 143px;height: 38px;', src='https://7eminar.com/storage/seminars/mails/1/kraft.png', alt='Image Title')
            li
                a(href='https://cit.com.ua/', target='_blank')
                    img.img_partners1(style='width: 143px;height: 38px;', src='/storage/seminars/pages/{action}/images/logo6ua.png', alt='cit.com.ua')

