.social
    .container.social__container
        p.social__title Приєднуйтесь до нас у соцмережах!
        ul.social__list
            li
                a.yt(href='https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&feature=iv&src_vid=hw1bDtxtZs8', target='_blank')
            li
                a.fb(href='https://www.facebook.com/7eminar/', target='_blank')
            li
                a.in(href='https://www.instagram.com/7eminar/', target='_blank')