@font-face {
  font-family: "Neue Machina";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Regular/NeueMachina-Regular.eot");
  src: url("../fonts/NeueMachina-Regular/NeueMachina-Regular-1.eot")
      format("embedded-opentype"),
    url("../fonts/NeueMachina-Regular/NeueMachina-Regular.woff") format("woff"),
    url("../fonts/NeueMachina-Regular/NeueMachina-Regular.ttf")
      format("truetype"),
    url("../fonts/NeueMachina-Regular/NeueMachina-Regular.svg") format("svg");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Medium/NeueMachina-Medium.eot");
  src: url("../fonts/NeueMachina-Medium/NeueMachina-Medium-1.eot")
      format("embedded-opentype"),
    url("../fonts/NeueMachina-Medium/NeueMachina-Medium.woff") format("woff"),
    url("../fonts/NeueMachina-Medium/NeueMachina-Medium.ttf") format("truetype"),
    url("../fonts/NeueMachina-Medium/NeueMachina-Medium.svg") format("svg");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Bold/NeueMachina-Bold.eot");
  src: url("../fonts/NeueMachina-Bold/NeueMachina-Bold-1.eot")
      format("embedded-opentype"),
    url("../fonts/NeueMachina-Bold/NeueMachina-Bold.woff") format("woff"),
    url("../fonts/NeueMachina-Bold/NeueMachina-Bold.ttf") format("truetype"),
    url("../fonts/NeueMachina-Bold/NeueMachina-Bold.svg") format("svg");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.eot");
  src: url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold-1.eot")
      format("embedded-opentype"),
    url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.woff")
      format("woff"),
    url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.ttf")
      format("truetype"),
    url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.svg")
      format("svg");
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Black/NeueMachina-Black.eot");
  src: url("../fonts/NeueMachina-Black/NeueMachina-Black-1.eot")
      format("embedded-opentype"),
    url("../fonts/NeueMachina-Black/NeueMachina-Black.woff") format("woff"),
    url("../fonts/NeueMachina-Black/NeueMachina-Black.ttf") format("truetype"),
    url("../fonts/NeueMachina-Black/NeueMachina-Black.svg") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular-1.eot")
      format("embedded-opentype"),
    url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy-Regular/Gilroy-Regular.svg") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium-1.eot")
      format("embedded-opentype"),
    url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy-Medium/Gilroy-Medium.svg") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold-1.eot")
      format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("truetype"),
    url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold-1.eot") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold/Gilroy-Bold.svg") format("svg");
}
