@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//fonts
$font_0: Tahoma;
$font_1: sans-serif;
$font_2: Open+Sans;
$font_3: FontAwesome;

//urls
$url_1: url(images/head/bg.png);
$url_3: url(../../../../seminars/images/template1/lectors.png);
$url_4: url(../../../../seminars/images/template1/themes.png);
$url_5: url(../../../../seminars/images/template1/7eminar.png);
$url_6: url(../../../../seminars/images/template1/wallet.png);
$url_11: url(../../../../seminars/images/template1/info.png);
$url_12: url(../../../../seminars/images/template1/calendar.png);
$url_13: url(../../../../seminars/images/template1/check1.png);
$url_14: url(../../../../seminars/images/template1/check.png);

$menu-color: #ffffff;


body {
  background-color: #efefef;
  overflow-x: hidden;
}

@media screen and(max-width: 1024px) {

  html {
    overflow-x: hidden;
  }

}

%extend_1 {
  text-decoration: none;
  background-color: #fcd97a;
  border-color: #ffbd76;
  color: #000;
}

#main, #action, .wrapper {
  width: 100%;
}

.wrapper {
  padding-top: 50px;

  &.wrapper_hero {
    padding-top: 0;
    background: url(images/head/bg.png) 50% no-repeat, linear-gradient(90deg, #55a5e4 0%, #57a0e8 50%, #4ac8ca 50%, #4bc5cc 100%);
  }

  &.wrapper_orders {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &.wrapper_video {
    padding: 40px 0;
    background-color: #515e90;
  }

  &.wrapper_partners {
    padding-top: 0;
    background-color: #efefef;
  }

}

.content {
  width: 960px;
  margin: 0 auto;
  float: none;
  left: 0;
}

.b-title {
  position: relative;
  margin: 0;
  padding-left: 80px;
  padding-bottom: 25px;
  font-family: $font_2, $font_1;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-transform: uppercase;
  color: #50586d;

  &:before {
    content: '';
    position: absolute;
    left: 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 245px;
    height: 7px;
    background-color: #ffbd76;
  }

  span {
    display: block;
    text-transform: none;
  }

  &--lector {
    padding-bottom: 45px;
    &:before {
      top: 5px;
      width: 40px;
      height: 45px;
      background: $url_3 no-repeat center;
    }
  }

  &--video {
    color: #fff;
    text-transform: none;
    &:before {
      top: -17px;
      width: 34px;
      height: 45px;
      background: $url_5 no-repeat center;
    }
    .digit {
      display: inline;
      color: #ffbd76;
    }
  }

  &--themes {

    &:before {
      top: -25px;
      width: 34px;
      height: 45px;
      background: $url_4 no-repeat center;
    }

  }

  &--pricing {

    :before {
      top: -5px;
      width: 40px;
      height: 31px;
      background: $url_6 no-repeat center;
    }

  }

}

.b-menu {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $menu-color;
  padding: 15px;
  font-family: "Tahoma", sans-serif;
  width: 100%;

  .b-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .b-menu__item {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font-size: 14px;
    border-right: 2px solid $menu-color;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }

  .b-menu__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1.39px;
    transition: all 150ms linear;

    &:hover,
    &:focus,
    &:active {
      color: #0c515e;
      text-decoration: underline;
    }

  }

  .b-menu__link--colored {
    color: #0c515e;
  }

}

.block-hero {
  height: auto;
  position: relative;
  font-family: "Open+Sans", sans-serif;

  &:after {
    content: '';
    display: block;
    width: 410px;
    height: 449px;
    position: absolute;
    right: -60px;
    bottom: -5px;
    background: url("images/head/lector.png") center no-repeat;
  }

  &__wrap {
    padding-left: 17px;
    padding-bottom: 40px;
  }

  &__info {
    width: 631px;
    text-align: left;

    .hero-info {
      padding-top: 90px;




      &__title {
        position: relative;
        margin: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 33px;
        font-weight: 700;
        line-height: 41.67px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          background: url("images/head/frame.png") center no-repeat;
          width: 200px;
          height: 23px;
          left: -25px;
          top: -15px;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          background: url("images/head/frame_2.png") center no-repeat;
          width: 200px;
          height: 23px;
          right: 25px;
          bottom: -15px;
        }

        span {
          display: block;
          color: #0c515e;
        }

      }

    }

  }

  &__sub-title {
    padding-top: 44px;
    padding-left: 0px;
    margin-bottom: 30px;
    color: #0b0b0d;
    font-size: 21px;
    font-weight: 400;
    line-height: 29.17px;

    span {
      display: block;
      margin-left: -50px;
      text-transform: none;
    }

  }

  &__order {
    margin-top: 50px;

    .hero-order__btn {
      position: relative;
      display: block;
      width: 251px;
      height: 56px;
      margin-left: 0px;
      border-radius: 24px;
      background-color: #e0c4c4;
      background-image: linear-gradient(63deg, #f6d32d 0%, #fde46c 100%);
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      letter-spacing: 2.11px;
      font-style: normal;
      font-stretch: normal;
      line-height: 56px;
      text-decoration: none;
      text-align: center;
      transition: all 150ms linear;
      padding-left: 30px;
      text-transform: uppercase;

      &:before {
        content: '\f00c';
        display: block;
        position: absolute;
        font-size: 25px;
        font-family: "FontAwesome";
        font-weight: 300;
        color: #343434;
        left: 30px;
        top: 0;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #0c515e;
        background-color: #004c61;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);

        &:before {
          color: #0c515e;
        }

      }

    }

  }

}

.block-advantages{
  position: relative;
  font-weight: 400;

  &:after{
    content: "";
    display: block;
    clear: both;
  }

  &__about{
    position: relative;
    float: right;
    width: 50%;
    box-shadow: 0 0 10px #000;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFFAC4;
    z-index: 2;
  }

  .about {

    &__head{
      position: relative;
      font-size: 25px;
      padding-left: 20px;
      text-align: center;
      color: #282828;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: normal;

      &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 400px;
        height: 1px;
        background-color: #000;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
      }
    }

    &__list{
      font-size: 20px;
      padding-left: 75px;
    }

    &__item{
      position: relative;
      list-style-type: none;
      margin: 10px 0;
      line-height: 30px;

      &:before{
        font-family: $font_3;
        position: absolute;
        top: 3px;
        left: -40px;
        display: block;
        content: "\f00c";
        color: #25accc;
        font-size: 28px;
      }

      span{
        color: #000000;
      }

    }

  }

  &__got{
    width: 50%;
    float: right;
    text-align: center;
  }

  .got {
    &__head{
      font-weight: normal;
      font-size: 26px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    &__item{
      position: relative;
      width: 50%;
      float: left;
      font-size: 20px;
      text-align: center;
      padding: 27px 0;
      padding-left: 45px;
      display: none;
      p {
        margin: 0;
      }
      &:after{
        position: absolute;
        display: block;
        content: "";
        top: 13px;
        left: 0;
        height: 90px;
        width: 70px;
        background: url(images/advantages/play.png) no-repeat 100%;
      }
    }

    .two{
      &:after{
        background: url(images/advantages/certificate.png) no-repeat 100%;
      }
    }

    .three{
      &:after{
        background: url(images/advantages/presentation.png) no-repeat 100%;
      }
    }

    .four{
      &:after{
        background: url(images/advantages/qa.png) no-repeat 100%;
      }
    }

  }

}

.block-section {
  padding: 20px 40px;
  background: #fff;

  &__lector {
    margin-left: 80px;
    margin-top: -30px;
    margin-bottom: 60px;

    .lector-regalia {
      border: solid 2px #dcdcdc;
      padding: 45px;
      font-size: 16px;
    }
  }

  &__lessons {
    padding-top: 20px;
  }

  .lessons {

    &__item {
      margin: 20px 0 0;
    }

    .lesson {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      background-color: #efefef;
      padding: 15px 60px;
      cursor: pointer;

      &__title {
        width: 600px;
        margin-right: 20px;
        margin-bottom: 0;
        font-family: $font_2, $font_1;
        font-size: 19px;
        font-weight: bold;
        color: #515e90;
        span {
          text-transform: uppercase;
        }
      }

      &__btn {
        height: 40px;
        width: 160px;
        border-radius: 5px;
        font-size: 17px;
        font-weight: 600;
        color: #515e90;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #515e90;
        transition: .5s ease;
        outline: none;
        &:hover {
          background-color: #1d6551;
          color: #fff;
        }
      }

    }

    .lesson[aria-expanded="true"] {
      background-color: #1d6551;
      color: #fff;
      .lesson__title {
        color: #fff;
      }
      .lesson__btn {
        border: 2px solid #fff;
        color: #fff;
      }
    }

  }

  .program {
    counter-reset: item;
    position: relative;
    margin-top: 20px;
    &:before {
      content: "";
      position: absolute;
      width: 2px;
      background: #dcdcdc;
      top: 0;
      bottom: 0;
      left: 19px;
    }

    &__item {
      position: relative;
      padding-left: 60px;
      &:before {
        counter-increment: item;
        content: counter(item);
        position: absolute;
        left: 0;
        top: 10px;
        width: 40px;
        height: 40px;
        font-size: 24px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        color: #fff;
        background-color: #2ea785;
      }
    }

    &__item--text {
      font-size: 16px;
      font-family: $font_2, $font_1;
      padding: 20px 0;
      border-bottom: 1px solid #dcdcdc;
      min-height: 40px;
      margin: 0;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }

      p {
        margin: 0;
      }
    }

    &__item--date {
      p {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        background: #ffbd76 $url_12 no-repeat 50% 50%;
      }
    }

    &__item--centered:before {
      top: 50%;
      transform: translateY(-50%);
    }

    &__btn {
      display: inline-block;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 40px;
      width: 210px;
      height: 40px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 37px;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      border: 2px solid #93bda4;
      background: #2d6d53;
      transition: 150ms linear;
      &:hover {
        @extend %extend_1;
      }
      &:active {
        @extend %extend_1;
      }
      &:focus {
        @extend %extend_1;
      }
    }
  }

}

.block-video {

  &__player {

    position: relative;
    padding-bottom: 56.25%;
    margin-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      display: block;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.block-timer {

  .timer-custom{
    text-align: center;
    position: relative;

    h3{
      position: relative;
      font-size: 32px;
      font-weight: 400;
      margin: 0;
      margin-bottom: 40px;
      color: #000;
      text-transform: uppercase;

      &:after{
        position: absolute;
        content: "";
        display: block;
        top: 57px;
        left: 50%;
        width: 205px;
        height: 2px;
        background-color: #000;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
      }

    }

    .pricing-timer{
      height: 115px;
      width: 420px;
      margin: 0 auto;
      background-color: transparent;
      color: #fc2a52;
      font-family: 'News Cycle', sans-serif;

      .pricing-timer__inner{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;

        .pricing-timer__box{
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
          -ms-flex-direction: column;
          -webkit-flex-direction: column;
          font-weight: normal;
          color: #4c4c4c;
          font-size: 25px;
          font-family: 'News Cycle', sans-serif;
          &:nth-child(2n+1){
            width: 85px;
          }
          span{
            font-family: 'News Cycle', sans-serif;
            font-size: 64px;
            color: #fc2a52;
            height: 75px;
          }
        }
      }
    }
  }

}

.block-orders {

  &__wrap {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;

    .tarif {
      width: 300px;
      padding: 16px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: 2px solid #774aa3;
      box-shadow: 0 0 5px 0 #000;
      background-color: #FFF;
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: column;

      &__head {
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        margin-bottom: 10px;
        h3 {
          font-weight: 400;
          font-size: 28px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 10px;
        }
      }
      &__price {
        font-size: 44px;
        color: #774aa3;
        text-align: center;
        margin-bottom: 10px;
        line-height: 40px;
      }
      &__wrong {
        text-decoration: line-through;
        text-align: right;
        font-size: 27px;
        padding-right: 60px;
        line-height: 20px;
      }
      &__list {
        padding-bottom: 15px;
        flex: 1 0 auto;
        padding-left: 45px;
      }
      &__item {
        font-size: 20px;
        list-style-type: none;
        line-height: 30px;
      }

      &__link {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      .ok {
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: -20px;
          display: block;
          font-family: "FontAwesome";
          color: #39b54a;
          content: "\f00c";
          font-size: 14px;
        }
      }
      .wrong {
        color: #d3d3d3;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: -20px;
          display: block;
          font-family: "FontAwesome";
          color: rgba(255, 0, 0, 0.5);
          content: "\f00d";
          font-size: 14px;
        }
      }
      //&__gift {
      //  font-size: 16px;
      //  position: relative;
      //  padding-left: 50px;
      //  margin: 20px 0;
      //  padding-top: 10px;
      //  &:before {
      //    position: absolute;
      //    display: block;
      //    content: "";
      //    top: -5;
      //    left: 0;
      //    height: 40px;
      //    width: 40px;
      //    background: url(images/speech/gift.png) no-repeat 100%;
      //    -webkit-background-size: contain;
      //    -o-background-size: contain;
      //    background-size: contain;
      //  }
      //  i {
      //    font-weight: bold;
      //    color: #f00;
      //  }
      //  a {
      //    color: blue;
      //  }
      //}
      &__btn {
        a {
          font-family: "Tahoma", sans-serif;
          letter-spacing: 1.5px;
          font-weight: 400;
          width: 175px;
          margin: 15px auto;
          margin-bottom: 20px;
          display: block;
          height: 43px;
          line-height: 25px;
          font-size: 15px;
          color: #000;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          border: 2px solid #774aa3;
          background-color: transparent;
          box-shadow: 1px 2px 5px #000;
          cursor: pointer;
          -webkit-transition: background-color .5s ease, color .5s ease;
          -moz-transition: background-color .5s ease, color .5s ease;
          -ms-transition: background-color .5s ease, color .5s ease;
          -o-transition: background-color .5s ease, color .5s ease;
          transition: background-color .5s ease, color .5s ease;
          &:hover {
            background-color: #774aa3;
            color: #fff;
          }
        }

        button {
          font-family: "Tahoma", sans-serif;
          letter-spacing: 1.5px;
          font-weight: 400;
          width: 175px;
          margin: 15px auto;
          margin-bottom: 20px;
          display: block;
          height: 43px;
          line-height: 25px;
          font-size: 15px;
          color: #000;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          border: 2px solid #774aa3;
          background-color: transparent;
          box-shadow: 1px 2px 5px #000;
          cursor: pointer;
          -webkit-transition: background-color .5s ease, color .5s ease;
          -moz-transition: background-color .5s ease, color .5s ease;
          -ms-transition: background-color .5s ease, color .5s ease;
          -o-transition: background-color .5s ease, color .5s ease;
          transition: background-color .5s ease, color .5s ease;
          &:hover {
            background-color: #774aa3;
            color: #fff;
          }
        }
      }
    }

  }

}

.partners {
  background-color: #efefef;
  table {
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    > tbody > tr > td {
      width: 290px;
      padding: 10px 5px;
      text-align: center;
      border: none;
      vertical-align: middle;
      a {
        filter: grayscale(100%) opacity(60%);
        transition: 250ms;
        &:hover {
          filter: none;
        }
      }
    }
  }
}

.footer {
  margin-top: 0;
}

.vidModal{
  position: absolute;
  top: 285px;
  left: 575px;
  z-index: 3;

  @keyframes scale {

    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

  }

  @-webkit-keyframes scale {

    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

  }

  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  .pulse::before,
  .pulse::after {
    content: '';
    position: absolute;
    border: 1px solid #005f81;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    -webkit-animation: pulse 2.5s linear infinite;
    opacity: 0;
  }
  .pulse::after {
    animation-delay: .8s;
  }

  button{
    border: none;
    height: 60px;
    width: 60px;
    background: transparent url(images/head/playb.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    outline: none !important;
    box-shadow: none;

    &:hover {
      -webkit-animation: scale 1.8s linear infinite;
      -o-animation: scale 1.8s linear infinite;
      animation: scale 1.8s linear infinite;
    }

  }

}

.modal{
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0;
}

#myModal {

  .modal-content {
    background: #000;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.22%;
    overflow: hidden;
  }

  .modal-dialog {
    width: 70%;
    height: 74vh;
    margin: 0;
    position: relative;
  }

  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .close-modal {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 4;
    color: #fff;
    cursor: pointer;
    margin: 0;
    font-size: 30px;
  }

}

.kbs-hide{
  display: none;
}
