{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="wrapper">
        <div class="error-box">
            <h1 class="error-box__titel">Це відео незабаром з’явиться у продажу.</h1>
            <p class="error-box__sub-title">А зараз пропонуємо передплатити <a href="https://7eminar.ua/">Бухгалтерську відеоплатформу №1</a><span class="error-box__test"></span><br/>та отримати доступ до 150+ курсів і вебінарів на будь-які теми.
            </p><a href="https://7eminar.ua/" class="btn_error">Хочу акційну передплату</a>
        </div>
    </div>
</div>