
@import url(https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic);

$page-font: 'Roboto', sans-serif;

#main{
  width: 1000px;
}
body{
  font-family: $page-font;
  margin:0;
  overflow-x:hidden;
  font-weight:300;
}
#wrapper{
  width:100%;
}
.error-box{
  margin: 15% 0px 0px;
  min-height: calc(100vh - 385px);
  width:100%;

}
.error-box__titel{
  text-align: center;

  font-family: $page-font;
  font-size: 45px;
  font-weight: 600;
  color: #208cb7;;
  padding: 0px 0px;
  margin-bottom: 20px;
  span{

  }


}
.error-box__sub-title{
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  color: #18a8e2;
  a{
    text-decoration:underline;
    color: #208cb7;;
  }
}
.img{
  max-width: 938px;
  margin: 0 auto;
  background: transparent url(images/nosale.png) no-repeat 50% 50%;
  height: 400px;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

}
.container-fluid{
  padding: 0;
}
.btn_error{
  display: block;
  width: 350px;
  height: 74px;
  box-shadow: 0 17px 16px rgba(26, 26, 24, 0.1);
  border-radius: 37px;
  background-color: #ffc033;
  margin: 0 auto;
  text-align: center;
  line-height: 74px;
  color: #373636;
  font-family:$page-font;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 70px;
  cursor: pointer;
  text-decoration: none;
}
.btn_error:hover{
  animation: bounce 1s;
  text-decoration: none;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@media only screen and (max-width: 520px){
  .error-body h1{
    font-size:110px;
    font-weight:700;
    line-height:110px;
  }
}
