.advantages {
  text-align: center;
  background: url(images/bg_prof-min.jpg) no-repeat bottom  center, linear-gradient(to right, #110234, #220066);
  background-size: cover;
  &__container {
    @extend %container;
  }

  &__title{
    @extend %title;
    color: #fff;
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @media (max-width: 767px){
      margin-bottom: 20px;

    }
  }



  &__item{
    width: 165px;
    height: 250px;
    margin: 0 15px;
    padding-top: 40px;
    color: #242424;
    @media (max-width: 1200px){
      margin: 15px;
    }

    @media (max-width: 767px){
      width: 44%!important;
      margin: 7px;
      height: 210px!important;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &:nth-child(1){
      background-image: linear-gradient(to top, #fafbfb, #c0c0c0);

      svg{
        width: 90px;
        height: 90px;
        margin: 0 auto 25px;
        fill: #8e10f9;
        @media (max-width: 767px){
          width: 70px;
          height: 70px;
        }
      }
    }

    &:nth-child(2){
      width: 260px;
      height: 339px;
      background-image: linear-gradient(to top, #ef1ccd, #800fff);
      padding-top: 60px;
      color: #fff;
      @media (max-width: 1200px){
        order: -2;
      }
      @media (max-width: 767px){
        padding-top: 20px;
      }

      svg{
        width: 150px;
        height: 150px;
        margin: 0 auto 65px;
        @media (max-width: 767px){
          width: 70px;
          height: 70px;
        }
      }
    }

    &:nth-child(3){
      width: 260px;
      height: 339px;
      background-image: linear-gradient(to top, #ef1ccd, #800fff);
      padding-top: 60px;
      color: #fff;
      @media (max-width: 1200px){
        order: -1;
      }
      @media (max-width: 767px){
        padding-top: 20px;
      }
      svg{
        width: 150px;
        height: 150px;
        margin: 0 auto 65px;
        @media (max-width: 767px){
          width: 70px;
          height: 70px;
        }
      }
    }

    &:nth-child(4){
      background-image: linear-gradient(to top, #fafbfb, #c0c0c0);

      svg{
        width: 90px;
        height: 90px;
        margin: 0 auto 25px;
        fill: #8e10f9;
        @media (max-width: 767px){
          width: 70px;
          height: 70px;
        }
      }
    }



    svg{
      fill: #fff;
      @media (max-width: 767px){
        margin-bottom: 20px!important;
      }
    }

    p{
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      text-align: left;

      padding-left: 30px;

      @media (max-width: 767px){
        font-size: 16px;
        padding-left: 10px;
      }
    }
  }

  &__btn{
    margin-top: 70px;
    text-align: center;

    @media (max-width: 767px){
      margin-top: 30px;
    }
    .btn{
      max-width: 325px;
      width: 100%;
      @extend %btn;
    }
  }
}