@charset "utf-8";
.profession {
  background: url(images/bg_prof-min.jpg) no-repeat bottom  center, linear-gradient(to right, #110234, #220066);

  &__container {
    @extend %container;
    text-align: center;
    z-index: 1;
    position: relative;

  }

  &__title{
    @extend %title;
    color: #ffffff;

    @media (max-width: 767px){
      margin-top: 0;
    }
  }


  &__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li{
      max-width: 260px;
      width: 100%;
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
      color: #242424;
      background-image: linear-gradient(to top, #fafbfb, #c0c0c0);
      height: 290px;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      margin: 15px;
      padding-top: 40px;

      @media (max-width: 1200px){
        width: 50%;
      }
      @media (max-width: 767px){
       margin: 0 0 15px;
        width: 100%;
        height: auto!important;
        padding-bottom: 15px;
      }



      &:nth-child(2){
        height: 310px;
        box-shadow: 0px 15px 95px 0 rgba(63, 93, 253, 0.36);
        color: #fff;
        background-image: linear-gradient(to top, #ef1ccd, #800fff);
        @media (max-width: 1200px){
          order: -2;
        }
      }

      &:nth-child(3){
        color: #fff;
        height: 310px;
        box-shadow: 0px 15px 95px 0 rgba(63, 93, 253, 0.36);
        background-image: linear-gradient(to top, #ef1ccd, #800fff);
        @media (max-width: 1200px){
          order: -1;
        }
      }



      b{
        margin-bottom: 25px;
      }
    }
  }

  &__btn{
    text-align: center;
    margin-top: 65px;

    @media (max-width: 767px){
      margin-top: 15px;
    }
    .btn{
      @extend %btn;
    }
  }
}
