.packages {
  background: #f7f7f7;
  .container {
    @extend%content!optional;
    padding-top: 62px;
    padding-bottom: 62px;
    position: relative;

    @include media-breakpoint-up(xl) {
      padding-top: 87px;
      padding-bottom: 96px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__title {
    font-size: 26px;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;

    span {
      color: $orange;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
    }
  }

  .item {
    width: 100%;
    padding: 35px 15px;
    color: #fff;
    display: flex;
    flex-flow: column;
    gap: 20px;
    border-radius: 27px;

    @include media-breakpoint-up(xl) {
      padding: 48px 32px 48px 48px;
      width: 486px;
    }

    &__header {
      text-align: center;
      background-color: reed;
    }
    &__title {
      font-size: 42px;
      font-weight: 700;
      display: inline-flex;
      padding: 0 5px;
      line-height: 1;

      @include media-breakpoint-up(xl) {
        font-size: 62px;
      }
    }

    &__info {
      text-align: left;
      display: flex;
      flex-flow: column;
      gap: 10px;

      @include media-breakpoint-up(xl) {
        gap: 30px;
      }
      li {
        padding-left: 44px;
        position: relative;
        font-weight: 400;

        @include media-breakpoint-up(xl) {
          font-size: 18px;
        }

        b {
          font-weight: 700;
        }

        &::before {
          content: "";
          width: 28px;
          height: 28px;
          position: absolute;
          left: 0;
          top: 0;
          background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9403 7.14004L17.6632 7.14004L17.6551 16.1599L7.82773 6.33253L6.21271 7.94755L16.0401 17.7749L7.02022 17.7668L7.02022 20.0602H19.9403L19.9403 7.14004Z' fill='%23FF8129'/%3E%3C/svg%3E%0A")
            50% / contain no-repeat;
        }
      }
    }

    &__btn {
    }
    &--core {
      background-color: $greay;

      .item__title {
        background-color: $orange;
      }
    }

    &--pro {
      background-color: $orange;
      .item__title {
        background-color: $white;
        color: $black;
      }

      .item__info {
        li {
          &::before {
            background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9403 7.14004L17.6632 7.14004L17.6551 16.1599L7.82773 6.33253L6.21271 7.94755L16.0401 17.7749L7.02022 17.7668L7.02022 20.0602H19.9403L19.9403 7.14004Z' fill='white'/%3E%3C/svg%3E%0A")
              50% / contain no-repeat;
          }
        }
      }
    }
  }
}
