.business {
  position: relative;

  .container {
    padding-top: 0;
  }

  &__content {
    border: 1px solid #000;
    border-radius: 7px;
    padding: 16px;

    @include media-breakpoint-up(xl) {
      padding: 48px 96px;
      display: flex;
      align-items: center;
      gap: 100px;
    }
  }

  &__item {
    @include media-breakpoint-up(xl) {
      &:first-child {
        max-width: 312px;
        width: 100%;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 22px;
      line-height: 112%;
      text-transform: uppercase;
      margin-bottom: 12px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 222px;
        height: 100px;
        background: url("data:image/svg+xml,%3Csvg width='365' height='101' viewBox='0 0 365 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M70.6992 66.7961C62.114 62.7256 9.4455 69.8152 5.44916 68.7907C1.97435 67.3588 2.76038 38.9009 5.2166 34.5714C6.06241 33.0192 7.26356 32.7235 10.2216 33.2803C13.8587 34.1125 62.5149 30.2824 72.998 29.5574C73.8748 30.4065 75.8862 27.3851 76.4023 28.4513C77.1977 29.6822 101.202 28.8438 126.006 28.0357C135.127 27.7422 153.411 26.9644 180.613 26.5745C185.534 26.511 181.647 28.1883 187.41 27.6095C199.695 26.3454 226.489 28.328 235.814 27.0529C243.298 26.0439 244.898 26.0226 252.013 27.277C258.13 28.364 298.049 28.8947 302.736 27.2203C303.858 26.7333 304.657 26.9819 304.614 27.6094C304.614 27.6094 331.887 29.8394 331.965 30.3581C332.123 30.9863 332.882 31.3439 333.723 30.965C335.166 30.3155 364.527 30.0973 364.76 31.981C365.461 37.3047 358.619 59.2183 354.719 64.4156C350.619 69.9124 333.247 62.0981 317.757 64.66C241.009 60.554 247.965 61.6713 233.639 63.2825C232.006 61.339 225.389 65.8441 221.441 62.4185C219.847 61.0209 208.008 60.5675 205.363 61.8947C204.241 62.4635 188.563 61.723 172.403 61.4991C156.243 61.2752 139.561 61.6224 136.554 63.494C123.966 60.0908 75.5813 66.2958 70.6193 66.7685L70.6992 66.7961Z' fill='%23DDFE65' /%3E%3Cpath opacity='0.7' d='M35.5447 64.8094C32.1916 62.9141 21.4982 66.4217 13.0917 68.0822C11.9708 68.2963 5.807 69.2557 4.8086 68.8154C3.61182 67.9377 0.410518 36.0268 0.294986 34.8257C0.0643292 32.3144 0.57841 33.9263 1.73773 34.1216C2.37734 34.2331 4.97934 33.7243 5.61976 33.6176C8.70259 32.8923 12.9484 31.3528 15.7927 30.2173C16.55 30.9569 15.4007 28.0874 16.1971 29.0454C18.3078 31.591 43.9104 20.4167 47.6755 19.0937C49.1976 18.5536 49.0706 20.4086 50.5149 19.2679C52.0396 18.0457 55.3232 17.1028 58.4468 16.1867C70.1803 12.683 64.6269 10.8613 71.225 11.4317C74.2248 11.5247 87.522 7.01724 88.3301 4.86454C88.4523 4.26468 88.8919 4.37549 89.2097 4.97699C89.2494 5.059 91.8511 4.60481 94.6523 4.31508C97.4535 4.02535 100.215 3.79006 100.374 4.00895C100.732 4.6106 101.171 4.83055 101.292 4.36712C101.335 3.54866 112.47 -0.312046 113.264 1.4373C115.525 6.46661 121.524 28.428 122.584 33.8076C123.722 39.5968 115.824 33.7006 112.888 37.9738C108.805 38.6953 101.479 40.2507 91.9088 42.8347L88.6569 45.9879C86.9027 44.426 87.9647 49.2598 84.4946 46.5727C83.0985 45.5033 79.2552 46.3622 79.3295 47.8905C79.3273 48.4909 74.0832 49.5083 68.7574 51.0165C63.4317 52.4975 58.0645 54.3877 58.257 56.3804C52.9426 54.8325 42.5973 61.5066 35.5845 64.8641L35.5447 64.8094Z' fill='%23DDFE65' /%3E%3Cpath opacity='0.7' d='M123.203 92.8061C115.216 89.3109 73.0153 99.8504 69.0183 99.0169C65.8227 97.8043 60.3673 69.6507 61.5038 65.2344C61.9097 63.6532 62.831 63.2746 65.4298 63.6391C68.6677 64.2241 104.973 57.8649 117.341 55.7826C118.258 56.5773 119.31 53.4432 119.986 54.4554C121.38 56.2069 191.819 46.4002 206.626 44.8181C210.707 44.3695 207.82 46.3234 212.504 45.2766C222.433 43.0215 245.115 42.6694 252.563 40.5687C258.57 38.8719 259.85 38.7948 266.048 39.3364C272.326 39.8782 304.541 36.4235 307.909 34.3076C308.711 33.7103 309.43 33.8767 309.548 34.5047C309.548 34.5047 332.511 33.8808 332.67 34.2907C332.907 34.9192 333.706 35.1678 334.268 34.706C335.351 33.9733 359.166 30.3235 359.879 32.1272C361.86 37.2919 362.096 59.6411 360.236 65.2008C358.254 71.1148 341.474 65.4857 329.418 69.6704C260.359 74.1066 273.684 72.901 258.789 76.6385C256.996 74.8581 252.497 79.9169 248.428 76.8728C246.792 75.6388 236.83 76.202 234.864 77.7774C234.061 78.4293 220.779 79.0347 207.214 80.1029C193.65 81.1985 179.803 82.7842 177.675 84.8774C167.643 82.6025 131.491 90.9542 123.203 92.8607L123.203 92.8061Z' fill='%23DDFE65' /%3E%3C/svg%3E")
          no-repeat center center;
        background-size: contain;
        left: 36px;
        z-index: -1;
        bottom: 20px;

        @include media-breakpoint-up(xl) {
          width: 365px;
          height: 101px;
          bottom: 0px;
        }
      }
    }
    p {
      line-height: 132%;
      margin-bottom: 28px;

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 141%;
      b {
        font-weight: 700;
      }

      @include media-breakpoint-up(xl) {
        font-size: 20px;
        margin-bottom: 28px;
      }
    }
  }

  &__btn {
    display: none;
    text-align: center;

    @include media-breakpoint-up(xl) {
      display: flex;
      padding: 20px;
    }
  }

  &__description {
    border-radius: 7px;
    background: #373737;
    padding: 16px;
    font-weight: 500;
    font-size: 19px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 16px;
    display: block;

    @include media-breakpoint-up(xl) {
      margin-top: 28px;
      font-size: 26px;
      text-align: center;
    }

    span {
      color: $maincolor;
    }
  }
}
