@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-ExtraBold.woff2") format("woff2"),
    url("../fonts/TTTravels-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-Bold.woff2") format("woff2"),
    url("../fonts/TTTravels-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-DemiBold.woff2") format("woff2"),
    url("../fonts/TTTravels-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-Medium.woff2") format("woff2"),
    url("../fonts/TTTravels-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-Light.woff2") format("woff2"),
    url("../fonts/TTTravels-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-Regular.woff2") format("woff2"),
    url("../fonts/TTTravels-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tt-travels";
  src: url("../fonts/TTTravels-Thin.woff2") format("woff2"),
    url("../fonts/TTTravels-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
