{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div>
        <div id="loader-page" class="loader-page">
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>&Mcy;</span>&iukcy;&jcy; &kcy;&acy;&bcy;&iukcy;&ncy;&iecy;&tcy;</a>
                <p></p><a href="/7min" class="video_news"><span>&Ncy;</span>&ocy;&vcy;&icy;&ncy;&icy;</a><a href="https://7eminar.ua/subscribe" class="video_news"><span>&Pcy;</span>&iecy;&rcy;&iecy;&dcy;&pcy;&lcy;&acy;&tcy;&acy;</a><a href="/" class="main"><span>&Gcy;</span>&ocy;&lcy;&ocy;&vcy;&ncy;&acy;</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#themes" class="burger__link">ЛЕКТОРИ</a></li>
                    <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                    <li><a href="#bonus" class="burger__link">БОНУСИ</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#map" class="burger__link">МІСЦЕ ПРОВЕДЕННЯ</a></li>
                    <li><a href="#order" class="burger__link">ОТРИМАТИ КВИТОК</a></li>
                </ul>
            </div>
        </div>
        <div id="register" class="hero">
            <div class="hero__background hero__background-left"></div>
            <div class="hero__background hero__background-right"></div>
            <div class="hero__container">
                <div class="hero__title">
                    <p class="tour-name"></p>
                    <p class="tour-sub-name"></p>
                </div>
                <div class="hero__form">
                    <div class="hero-form">
                        <div class="hero-form__header">
                            <p>Заповніть форму<br/>і ми вам все розкажемо!</p>
                        </div>
                        <div class="hero-form__body">
                            <form id="webinar-form" method="post" action="" data-require="@common,form,handle,ajax">
                                <div class="form-group">
                                    <input id="name" name="firstName" type="text" placeholder="Ім’я" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input id="mail" name="email" type="email" placeholder="Email" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input id="phone" name="phone" type="text" data-rule-phoneUA="true" placeholder="Моб. телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control"/>
                                </div>
                                <input name="source" type="hidden" value=""/>
                                <div class="hero-form__btn">
                                    <button type="submit" class="btn btn-default">Надіслати</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader-backdrop">
            <div class="loader-backdrop__btn">Реєстрація
                <div class="dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>