{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="wrapper wrapper__hero"><div class="content"><div class="error-box"><h1 class="error-box__titel">Ця акція закінчилась<br/><span>Ознайомтесь з іншими нашими пропозиціями</span></h1><div class="img"><img src="/storage/seminars/pages/outdated/outdated.png" alt="outdated"/><a href="/" class="btn_error">Обрати пропозицію</a></div></div></div></div>
</div>