
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic');


$page-font: 'Roboto', sans-serif;


body{
  font-family: $page-font;
  margin:0;
  overflow-x:hidden;
  font-weight:300;
}
#wrapper{
  width:100%;
}
.error-box{
  margin: 50px 0px 50px;
  height: auto;
  width:100%;

}
.bottom-text{
  padding-top: 60px;
}
.error-box__titel{
  text-align: center;
  color: #18a8e2;
  font-family: $page-font;
  font-size: 52px;
  font-weight: 500;
  margin: 0;
  span{
    font-size: 28px;
  }
}
.error-box__subtitel{
  padding-top: 35px;
  text-align: center;
  color: #4b4b4b;
  font-size: 24px;
  a{
    color: #0645ad;
    text-decoration: underline;
  }
}
.img{
  max-width: 938px;
  margin: 0 auto;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.btn_error{
  display: block;
  width: 320px;
  height: 74px;
  box-shadow: 0 17px 16px rgba(26, 26, 24, 0.1);
  border-radius: 37px;
  background-color: #ffc033;
  margin: 20px auto 0;
  text-align: center;
  line-height: 74px;
  color: #373636;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}

.btn_error:hover{
  animation: bounce 1s;
  text-decoration: none;
}



@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@media only screen and (max-width: 520px){
  .error-body h1{
    font-size:110px;
    font-weight:700;
    line-height:110px;
  }
}















