.year {


  
  &__container {
    @extend %container;
    @media (max-width: 1200px){
      max-width: 767px;
      width: 100%;
    }
    @media (max-width: 767px){
      max-width: 320px;
    }
  }
  &__content{
    max-width: 945px;
    width: 100%;
   /* background: #c80032 url(images/bgg.png) no-repeat center;*/
    background-size: cover;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 0 17px 40px rgba(0, 0, 0, 0.16);

  }

  &__wr{
    border: 2px solid #f7c267;
    width: 100%;
    padding: 55px 55px 55px 390px;
    position: relative;
    @media (max-width: 1200px){
      padding: 40px 55px 40px 250px;
    }
    @media (max-width: 767px){
      padding: 120px 24px 35px 25px;
    }
    &:after{
      position: absolute;
      content: " ";
     /* background: url(images/maus.png) no-repeat center;*/
      background-size: contain;
      width: 284px;
      height: 228px;
      left: 60px;
      top: 50%;
      transform: translate(0%, -50%);
      @media (max-width: 1200px){
        width: 202px;
        height: 162px;
        left: 30px;
      }
      @media (max-width: 767px){
        width: 114px;
        height: 92px;
        left: 50%;
        top: 15px;
        transform: translate(-50%, 0%);
      }
    }
  }
  &__block{

  }

  &__title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 35px;
    @media (max-width: 1200px){
      font-size: 22px;
      padding-bottom: 15px;
    }
    @media (max-width: 767px){
      font-size: 20px;
      line-height: 26px;
      padding-bottom: 10px;
    }
  }

  &__text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 25px;
    @media (max-width: 767px){
      font-size: 15px;
      line-height: 18px;
      padding-top: 15px;
    }
  }


















}







