.free-demo{
  padding: 50px 30px;
  text-align: left;
  max-width: 407px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 11px 50px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  @media (max-width: 767px){
    padding: 30px 10px;
  }

  .form-control{
    width: 100%;
    border-radius: 6px;
    border: solid 1px #c0c0c0;
    background-color: #f6f6f6;
    padding: 11px 15px;
    height: auto;
  }
  .form__title{
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.56px;
    text-align: center;
    color: #282828;
    text-transform: uppercase;
    padding-bottom: 15px;
    @media (max-width: 767px){
      font-size: 20px;
    }
  }
  .form-group label.error{
    top: 53px;
  }
  .form__btn{
    padding: 10px 0px 0;

    button{
      width: 100%;
      @extend %btn;


    }
  }
}

.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;

  @media (max-width: 767px){
    padding-bottom: 15px;
  }


  &__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 63px;
    height: 63px;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.24px;
    text-align: center;
    color: #282828;
    @media (max-width: 750px){
      font-size: 32px;
      width: 60px;
      height: 60px;
    }

    span{
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.12px;
      text-align: center;
      color: #282828;
      @media (max-width: 750px){
        font-size: 14px;
      }
    }
  }

  &__separate{
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #282828;
    padding-bottom: 20px;
    @media (max-width: 750px){
      font-size: 32px;
      padding-bottom: 15px;
    }
  }
}