

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__item">
                <p class="hero__title"><span>Ви уcпішно</span> <br>зареєструвалися!</p>
                <p class="hero__sub-title"> Як і обіцяли – ваш подарунок вже готовий для скачування. <br>
                Щоб завантажити чек-лист,  <b>тисніть на кнопку</b> </p>
                <div class="hero__block">
                <img class="hero__img "  alt="book" src="{{ page.url('/images') }}/book.png">
                    <div class="hero__btns">
                        <a href="https://7eminar.com/files/1447/7_pravyl_indeksatsiia.pdf" target="_blank" class="hero__btn hero__btn--xls">Скачати чек-лист</a>
                    </div>
                </div>
            </div>
           {# <div class="hero__description"> <b>Також ви зареєстровані на безкоштовну ONLINE-конференцію<br>
                    «Серпневий бухгалтерський мікс: ФОП-облік по-новому, <br> зміни в перевірках, штрафах, ЕКПП, мінзарплата-5000 і блокування ПН»</b>
                <br>
                (18 серпня, трансляція двічі об 11:00 та 19:00)  </div>#}
            <div class="hero__description hero__description--last">{#Напередодні (17 серпня) та в день трансляції ви отримаєте <br>листи-нагадування з посиланням для перегляду.#}
                <p  class="arrow"><span></span><span></span><span></span></p></div>
        </div>
    </div>

    <div id="free-video" class="free-video">
        <div class="free-video__container container">
            <div class="free-video__content">
                <p class="free-video__title"> <span>Всі корисні відеоматеріали в одному місці</span><br>
                    ПЕРЕДПЛАЧУЙТЕ І ВІДРАЗУ КОРИСТУЙТЕСЯ</p>
                <div class="free-video__block">
                    <div class="free-video__text">
                        <p>Хочете зекономити свої кошти та отримати доступ до цього online-семінару, а також {{ shop_price('онлайн-platform_price','courses') }}+ актуальних відеокурсів, вебінарів та ще 50+ нових відеопроєктів вже у 2020-му на всі найважливіші бухгалтерські теми?</p>
                        <a href="https://7eminar.ua/subscribe?utm_campaign=gift_18082020_registration_platform&utm_medium=refferal&utm_source=7eminar.com"  target="_blank">Передплатіть Бухгалтерську відеоплатформу №1.</a>

                    </div>
                    <div class="free-video__video">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div><a href="https://7eminar.ua/subscribe?utm_campaign=gift_18082020_registration_platform&utm_medium=refferal&utm_source=7eminar.com" target="_blank" class="free-video__btn">ПЕРЕДПЛАТИТИ ЗІ ЗНИЖКОЮ</a>
            </div>
        </div>
    </div>
</div>


<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>

