.lectors{

  &__container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (max-width: 1200px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__item{
    @media (max-width: 1200px){
    width: 100%;
    }

    img{
      @media (max-width: 1200px){
        margin: 0 auto;
        display: block;
      }
    }
  }

  &__title{
    display: table;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1px;
    color: #fcfdf8;
    padding: 10px 5px;
    background-color: #4bbe47;
    margin-bottom: 40px;
    @media (max-width: 1200px){
     margin: -40px auto 15px;
    }
    @media (max-width: 1200px){
      margin: 20px auto 15px;
    }
  }

  &__name{
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #6c6e62;
    text-transform: uppercase;
    @media (max-width: 1200px){
      font-size: 20px;
      padding: 0 10px;
    }
  }

  &__text{
    padding-left: 20px;
    border-left: solid 1px #c8ccb6;
    @media (max-width: 1200px){
      padding-left: 0;
      border-left: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }




}