.menu{
  font-family: 'IBM Plex Mono', monospace;
  @media (max-width: 1200px){
    display: none;
  }
  &__container{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 25px 15px;
   /* border-bottom: solid 1px  #fff;*/
    max-width: 1140px;
    margin: 0 auto;

  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li{
      padding: 0 25px;
      color: #afafaf;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.39px;
   /*   border-right:solid 1px  #fff;*/
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }

    }
    a{
      color: #afafaf;
      letter-spacing: 0.7px;
      &:hover{
        text-decoration: none;
        color: #ff6a0e;
      }
    }
  }
}