.about {
  padding-top: 80px;
  padding-bottom: 40px;

  @include media-breakpoint-up(xl) {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      gap: 150px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include media-breakpoint-up(xl) {
      gap: 22px;
    }

    strong {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 22px;
      }
    }

    p {
      font-size: 14px;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
      }
    }

    b {
      color: $color-main;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
      }
    }
  }
}
