.program {
  padding-top: 30px;

  @include media-breakpoint-up(xl) {
    padding-top: 114px;
  }

  .title {
    font-weight: 800;
    color: #263238;
    font-size: 22px;
    text-align: center;
    margin-bottom: 28px;

    @include media-breakpoint-up(xl) {
      font-size: 36px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 42px;
    }

    li {
      border-radius: 5px;
      background: #fff;
      box-shadow: 0px 4px 32px 0px rgba(198, 198, 198, 0.24);
      display: flex;
      padding: 18px;
      align-items: center;
    }
  }

  &__item-day {
    border-radius: 3px;
    background: #017f4a;
    color: #fff;
    padding: 5px;
    margin-right: 18px;

    @include media-breakpoint-up(xl) {
      font-size: 12px;
      margin-right: 23px;
    }
  }

  &__item-title {
    b {
      font-weight: 800;
    }

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }

  .btn {
    display: none;
    @include media-breakpoint-up(xl) {
      background-color: #017f4a;
      display: block;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      margin: 0 auto;
    }
  }
}
