.about {
  .container {
    @extend %content;
    position: relative;
  }

  span {
    color: #3b9aef;
  }
  h2 {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 18px;

    span {
      display: block;
      line-height: 1;
    }

    @include media-breakpoint-up(xl) {
      font-size: 66px;
    }
  }

  &__block {
    background-color: #fff;
    padding: 16px 18px;
    text-align: center;
    transform: rotate(-2.729deg);
    position: relative;
    max-width: 900px;

    @include media-breakpoint-up(xl) {
      padding: 26px 48px;
      margin: 0 auto;
    }
    &::before {
      content: "";
      background: url(../img/about-bg-mob.png) no-repeat center;
      width: 486px;
      height: 835px;
      position: absolute;
      top: -50px;
      left: -71px;
      z-index: -1;
      transform: rotate(2.729deg);

      @include media-breakpoint-up(xl) {
        background: url(../img/about-bg-desc.png) no-repeat center;
        width: 1024px;
        top: -76px;
        left: -58px;
        height: 746px;
      }
    }
    p {
      margin-bottom: 18px;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
        margin-bottom: 28px;
      }
    }
  }

  &__day {
    font-weight: 700;
    @include media-breakpoint-up(xl) {
      font-size: 22px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
      flex-direction: row;
      margin-top: 130px;
      position: relative;
      justify-content: space-between;
    }

    &-center {
      order: -1;
      border: 2px dashed #3b9aef;
      background: rgba(59, 154, 239, 0.1);
      font-weight: 600;
      width: 272px;
      text-align: left;
      padding: 17px 28px;
      margin-bottom: 10px;
      margin-top: 22px;
      position: relative;

      @include media-breakpoint-up(xl) {
        order: 0;
        margin: 0;
        position: absolute;
        top: -116px;
        left: 50%;
        transform: translate(-50%, 0) rotate(3.027deg);

        &::after {
          content: "";
          position: absolute;
          background: url(../img/about-dec.png) no-repeat center;
          width: 294.172px;
          height: 104px;
          left: -280px;
          top: 11px;
          display: block;
        }
      }

      &::before {
        content: "😱";
        position: absolute;
        right: 0;
        top: -22px;
        font-size: 29px;
        width: 54px;
        height: 54px;
        transform: rotate(-14.66deg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #323333;

        @include media-breakpoint-up(xl) {
          bottom: -22px;
        }
      }
    }
    &-left {
      font-weight: 600;
      max-width: 304px;
      margin-bottom: 18px;

      @include media-breakpoint-up(xl) {
        text-align: left;
        width: 100%;
        max-width: 433.66px;
      }
    }
    &-right {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      max-width: 286px;
      margin: 0 auto;
      @include media-breakpoint-up(xl) {
        text-align: right;
        margin: 0;
        transform: translateY(-24px);
      }
    }
  }
  &__btn {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
      margin-top: 32px;
    }
    margin-top: 100px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -30px;
      right: 165px;
      background: url(../img/dec-btn.png) no-repeat center;
      width: 558.744px;
      height: 118px;
      background-size: cover;
      z-index: 0;
    }

    .btn {
      max-width: 555px;
      font-size: 32px;
      margin-left: auto;
      line-height: 72px;
      margin-right: 150px;
      position: relative;
      z-index: 1;
    }
    .arrow--right {
      right: -100px;
    }
  }
}
