@import "../../node_modules/bootstrap-scss/functions";
@import "../../node_modules/bootstrap-scss/variables";
@import "../../node_modules/bootstrap-scss/mixins";

#page-order-liqpay-wrapper {
  position: fixed;
  top: 46px;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;

  #page-order-liqpay {
    .close {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      z-index: 4;
      padding: 9px;
      opacity: 1;
      cursor: pointer;
      border: none;
      background: transparent;

      &:after,
      &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 2px;
        background: #000;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  @include media-breakpoint-down(sm) {
    background: white;
    overflow: auto;
    #page-order-liqpay {
      width: 100%;
    }
  }

  @include media-breakpoint-up(sm) {
    background: rgba(0, 0, 0, .5);

    #page-order-liqpay {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 385px;
      border-radius: 6px;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}