@import "../../node_modules/bootstrap-scss/functions";
@import "../../node_modules/bootstrap-scss/variables";
@import "../../node_modules/bootstrap-scss/mixins";
@import "../../node_modules/bootstrap-scss/forms";

#page-order {

  .e-order-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    cursor: pointer;
    color: #fff;

    > div {
      height: 100%;
    }
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .e-order {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .order {
    width: 430px;
    padding: 40px 30px;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    color: #21a3cc;

    &__headline {
      margin-bottom: 30px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.45px;
      text-align: center;
      color: #007094;
    }

    &__info-product {
      .form-group {
        &:first-child {
          margin-bottom: 5px;
        }

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }

    &__info-payer {
      .form-group {
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }

    &__total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      color: #ff1053;

      > .wallet {
        position: relative;
        padding-left: 40px;

        &:before {
          content: '';
          position: absolute;
          top: -7px;
          left: 0;
          width: 30px;
          height: 30px;
          background: url(../images/wallet.png) no-repeat center;
        }
      }

      b {
        font-size: 30px;
      }
    }

    &__controls {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;

      > div + div {
        margin-top: 20px;
      }
    }

    &__logo {
      width: 220px;
      height: 35px;
      margin: 0 auto;
      background: url(../images/logo-cards.png) no-repeat center;
    }

    .error {
      font-size: 12px;
      line-height: normal;
      color: #ff3c3c;
    }

    .col-form-label {
      letter-spacing: 0.4px;
    }

    .col-form-value {
      color: #007094;
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
    }

    .form-control {
      border: solid 1px #d2d2d2;
      background: #efefef;

      &:focus {
        color: #495057;
        background-color: #efefef;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.25);
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 30px 20px;

      &__headline {
        font-size: 16px;
      }

      &__total {

        > .wallet {
          padding-left: 0;

          &:before {
            display: none;
          }
        }

        b {
          font-size: 22px;
        }
      }
    }
  }

  .popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    cursor: pointer;
    color: #007094;

    .popup-body {
      position: relative;
      width: 600px;
      height: 322px;
      padding-top: 135px;
      border-radius: 4px;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      text-align: center;

      h2 {
        position: relative;
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 16px;
        letter-spacing: 0.75px;

        &:before {
          content: '';
          position: absolute;
          top: -70px;
          left: 50%;
          transform: translateX(-50%);
          width: 48px;
          height: 35px;
          background: url(../images/envelope.png) no-repeat center;
        }
      }

      p {
        margin-bottom: 25px;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: 15px;
      }
    }

    .logo {
      fill: #007094
    }

    .popup-close {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      z-index: 4;
      padding: 9px;
      opacity: 1;
      cursor: pointer;
      border: none;
      background: transparent;

      &:after,
      &:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 2px;
        background: #d3d3d3;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}