<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="form-holder">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe3mGTHicFh9X3tventT0qoEB3oQgPSnpJ3dy-w1toyU7qrJQ/viewform" width="960" height="1200" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
    </div>
</div>