.form-holder {
  width: 960px;
  margin: 30px auto;
}

#bg_popup_two{
  display: none!important;
}

.footer {
  margin-top: 0;
}
.branding-page .branding-fixed {
  background: none;
}

.branding-page #main {
  width: 100%;
  background: none;
}

.branding-page {
  padding-top: 0;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

.branding ~ .seminars-container {
  padding-top: 32px;
}

.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: none;

  .heading {
    display: none;
  }
}
