.profession {

  &__container {
    @extend %container;
    @media (max-width: 767px){
      padding-bottom: 0;
    }
    &:before{
      content: " ";
      position: absolute;
      background:  url(images/bg_profession.png) center center no-repeat;
      width: 1346px;
      height: 667px;
      top: 200px;
      right: -200px;
      @media (max-width: 767px){
        content:none;
      }
    }




  }
  &__title{
    @extend %title;
    padding-bottom: 60px;
    @media (max-width: 767px){
      padding-bottom: 40px;
    }

  }

  &__content{
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
  }

  &__list{
    list-style-type: none;
    display: flex;
    @media (max-width: 767px){
      flex-wrap: wrap;
    }
    &:first-child{
      padding-bottom: 135px;
      @media (max-width: 767px){
        padding-bottom: 0;
      }
      li{
        position: relative;
        &:before{
          content: " ";
          position: absolute;
          width: 216px;
          height: 202px;
          bottom: -210px;
          left: 50%;
          transform: translate(-50%, 0%);
          @media (max-width: 767px){
            bottom: -35px;
          }
        }
        &:first-child{
          margin-right: 100px;
          @media (max-width: 767px){
            margin-right: 0;
          }
          &:before{
            background:  url(images/buhgalter.png) center center no-repeat;
          }
        }
        &:last-child{
          &:before{
            background:  url(images/auditor.png) center center no-repeat;
          }

        }
      }
    }
    &:last-child{
      justify-content: flex-end;
      padding-top: 135px;
      @media (max-width: 767px){
        padding-bottom: 0;
      }
      li{
        position: relative;
        &:before{
          content: " ";
          position: absolute;
          width: 216px;
          height: 214px;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, 0%);
          @media (max-width: 767px){
            bottom: 155px;
          }
        }
        &:first-child{
          margin-right: 60px;
          @media (max-width: 767px){
            margin-right: 0;
          }
          &:before{
            background:  url(images/buhgalter2.png) center center no-repeat;
          }
        }
        &:last-child{
          &:before{
            background:  url(images/fop1.png) center center no-repeat;
          }

        }
      }
    }

    li{
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.12;
      letter-spacing: 1px;
      text-align: center;
      color: #36435a;
      @media (max-width: 767px){
       width: 100%;
        padding-bottom: 175px;
      }
      span{
        font-weight: 900;
        color: #f0223c;
      }
    }
  }





  &__btn{
    @extend %btn;
  }


}
