$color: #ff598d;
.themes {
  background-image: linear-gradient(to right, #ff7062, #ff598d);

  &__container {
    @extend %container;

  }

  &__title {
    @extend %title;
    color: #fdfdfd;
  }

  &__item{
    margin-top: 40px;
    &:first-child{
      margin-top: 0;
    }

  }

  &__box{
    background-color: #fdfdfd;
    padding: 40px;
    @media (max-width: 767px){
      padding: 20px ;
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px){
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text{
    text-align: left;
    display: flex;
    align-items: center;

    @media (max-width: 767px){
      flex-direction: column;
      padding-bottom: 0px;
    }
  }

  &__name{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #b4b4b4;
    padding-bottom: 15px;
    @media (max-width: 767px){
      text-align: center;
    }
  }

  &__time{
    font-weight: bold;
    color: $color;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    padding-right: 40px;
    @media (max-width: 767px){
      text-align: center;
      padding-right: 0px;
      font-size: 18px;
      padding-bottom: 10px;

    }
    p{
      @media (max-width: 767px){
        display: flex;
      }
    }

    span{
      display: none;
      @media (max-width: 767px){
        display: block;
        padding: 0 5px;
      }
    }
    br{
      display: block;
      @media (max-width: 767px){
        display: none;
      }
    }

  }

  &__info{
    padding-right: 100px;
    @media (max-width: 767px){
      padding-right: 0px;
    }
  }
  &__lessons-titel{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
    @media (max-width: 767px){

    }
  }
  &__button{
    min-width: 155px;
    @media (max-width: 767px){
      margin-top: 20px;
    }
  }

  &__more-btn{
    display: block;
    background-color: $color;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #fdfdfd;
    border: solid 1px $color;
    position: relative;
    padding: 9px 30px 9px 13px;
    transition: transform 0.7s ease-out;
    &:hover{
      text-decoration: none;
      color: #fdfdfd;
      cursor: pointer;
    }
    &:before,
    &:after{
      content: "";
      position: absolute;
      background-color: white;
      transition: transform 0.25s ease-out;
    }
    &:before{
      top: 50%;
      right: 14px;
      width: 2px;
      height: 10px;
      margin-top: -5px;
    }
    &:after{
      top: 50%;
      right: 10px;
      width: 10px;
      height: 2px;
      margin-top: -1px;
    }
  }

  &__more{
    background-color: #f5f5f5;

  }

  &__more-body{
    padding: 40px 40px 40px 140px;
    @media (max-width: 1200px){
      padding: 35px 75px 35px 40px;
    }
    @media (max-width: 767px){
      padding: 40px 10px 35px 20px;
    }
  }

  &__more-list{
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-bottom: 0;



  }
  &__more-list-item{
    padding-bottom: 20px;
    font-weight: 600;
    position: relative;
    line-height: 1.5;

    @media (max-width: 767px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 15px;

    }
    &:last-child{
      padding-bottom: 0px;
    }

  }

  &__more-sub-list{
    list-style-type: disc;
    margin-left: 30px;
    @media (max-width: 767px){
      padding-top: 5px;
      margin-left: 25px;
    }

    li{
      color: #007bfd;
      span{
        color: #5c5c5c;
        font-size: 16px;
        line-height: 1.5;
        @media (max-width: 767px){
          font-size: 15px;
        }
      }
    }


  }


  .theme__lesson{
    line-height: 1.5;
  }








}
.themes__more-btn[aria-expanded="true"] {
  background-color: #fff;
  color: $color;
  &:before{
    transform: rotate(90deg);
    background-color: $color;
  }
  &:after{
    transform: rotate(180deg);
    background-color: $color;
  }




 }