@charset "utf-8";
.hero {
  color: #fff;
  position: relative;
  background: url(./images/hero_bg-min.png) no-repeat top center, linear-gradient(to right, #ffa404, #ffa404, #ffeb00, #ffeb00);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  @media (max-width: 767px){
    background: linear-gradient(to right, #ffa404, #ffa404, #ffeb00, #ffeb00);
  }

  &__container {
    @extend %container;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    z-index: 1;

  }

  &__top-container{
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top: 50px;
    @media (max-width: 767px){
      position: relative;
      flex-direction: row;
      padding-top: 10px;
      left: inherit;
      top: inherit;
    }

    img{
      width: 140px;
      height: auto;
      margin: 10px ;
      @media (max-width: 767px){
        width: 125px;
        margin: 0px 10px;
      }
    }
  }

  &__logo-dk{

    img{
      background-color: green;
      border-radius: 4px;
    }
  }

  &__content{
    padding-top: 150px;
    padding-bottom: 80px;
    position: relative;

    @media (max-width: 767px){
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  &__title{

    font-size: 155px;
    font-weight: bold;
    color: #323232;
    line-height: 0.9;
    padding-left: 130px;
    position: relative;
    span{
      display: block;
      font-size: 60px;

      @media (max-width: 767px){
        font-size: 34px;
      }
      b{
        color: #d9000e;
      }
    }

    @media (max-width: 767px){
      font-size: 88px;
      padding-left: 75px;
    }


    &:before{
      position: absolute;
      content: "";
      left: -80px;
      top: 50%;
      transform: translate(0,-50%);
      background: url(./images/hero_title_dec-min.png) no-repeat center center;
      width: 322px;
      height: 317px;

      @media (max-width: 767px){
        background: url(./images/hero_title_dec-min.png) no-repeat center center;
        width: 183px;
        height: 180px;
        background-size: cover;
      }
    }
  }

  &__sub-title{
    font-size: 24px;
    color: #955d00;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 25px;
    @media (max-width: 767px){
      font-size: 13px;
      padding-top: 15px;
    }

  }

  &__lector{
    position: absolute;
    right: -206px;
    top: -141px;

    @media (max-width: 1200px){
      right: -124px;
      top: 80px;

      img{
       width: 400px;

     }
    }
    @media (max-width: 767px){
      position: relative;
      top: inherit;
      right: inherit;
      margin: 0 auto;

      img{
        width: 300px;
        margin: 0 auto;
      }
    }

  }

  &__lessons{
    position: absolute;
    left: 0;
    top: 50px;
    @media (max-width: 767px){
      position: relative;
      top: 0;
      margin: 0 auto;
      padding: 30px 0px;

      img{
        width: 72px;
        height: 31px;
      }

    }

  }

  &__btn{
    @extend %btn;
    margin-top: 60px;
    margin-left: 140px;
    max-width: 360px;
    width: 100%;
    @media (max-width: 767px){
     margin:  25px auto 0;
    }
  }

}
.hero__controls-modal-btn {
  bottom: 181px;
  right: 470px;
  position: absolute;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 103px;
  border: none;
  outline: none;
  background: url(images/btn-modal.png) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scale 1.5s linear infinite;
  -o-animation: scale 1.5s linear infinite;
  animation: scale 1.5s linear infinite;
  @media (max-width: 1200px){
    display: none;
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

p.seminar_rec{
  font-size: 22px;
  line-height: 50px;
  padding: 10px 0;
  color: #000;
  @media (max-width: 1200px){
    text-align: center;
  }



  span {
    padding-left: 60px;
    position: relative;
    display: inline-block;


    &:before {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      background-image: url(../../parts/pages/online/images/camera.png);
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
  }
}
.arrow{
  width: 30px;
  margin: 0;
  display: block;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%,0%);
  z-index: 1;
  @media (max-width: 1200px){
    bottom: 70px;
  }
  @media (max-width: 767px){
    display: none;
  }
  span{
    display: block;
    width: 15px;
    height: 15px;
    margin-left: 7px;
    border-bottom: 5px solid #79b5ff;
    border-right: 5px solid #79b5ff;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    &:nth-child(2){
      animation-delay: -0.2s;
    }
    &:nth-child(3){
      animation-delay: -0.4s;

    }
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}