{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div >
        <div id="loader-page" class="loader-page">
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>&Mcy;</span>&iukcy;&jcy; &kcy;&acy;&bcy;&iukcy;&ncy;&iecy;&tcy;</a>
                <p></p><a href="/7min" class="video_news"><span>&Ncy;</span>&ocy;&vcy;&icy;&ncy;&icy;</a><a href="https://7eminar.ua/" class="video_news"><span>&Pcy;</span>&iecy;&rcy;&iecy;&dcy;&pcy;&lcy;&acy;&tcy;&acy;</a><a href="/" class="main"><span>&Gcy;</span>&ocy;&lcy;&ocy;&vcy;&ncy;&acy;</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#themes" class="burger__link">ЛЕКТОРИ</a></li>
                    <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                    <li><a href="#bonus" class="burger__link">БОНУСИ</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#map" class="burger__link">МІСЦЕ ПРОВЕДЕННЯ</a></li>
                    <li><a href="#order" class="burger__link">ОТРИМАТИ КВИТОК</a></li>
                </ul>
            </div>
        </div>
        <div id="register" class="hero">
            <div class="hero__background hero__background-left"></div>
            <div class="hero__background hero__background-right"></div>
            <div class="hero__container">
                <p class="hero__title">ДЯКУЄМО!</p>
                <p class="hero__sub-title">Незабаром з вами зв’яжеться наш менеджер.<br/>Очікуйте на дзвінок</p>
                <div class="text">
                    <p>А зараз ознайомтеся з Бухгалтерською відеоплатформою №1.</p>
                    <p>Це доступ до 150+ курсів, вебінарів та трансляцій.</p><a href="https://7eminar.ua/" target="_blank" class="btn text__btn">Дізнатися більше
                        <!--'-include parts/_map--></a>
                </div>
            </div>
        </div>
        <div class="loader-backdrop">
            <div class="loader-backdrop__btn">Реєстрація
                <div class="dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>