.landing-dtkt_august2019 {

  .dtkt-promo{
    background-color: black;
  }

  .landing-title--columns{
    padding-top: 50px;
    margin-bottom: 20px;
    &:nth-child(2){
      position: relative;

    }
    span{
      color: #040207;
    }

  }

  .landing-section__action{
    color: #6f6f6f;
    font-size: 20px;
  }

  .package__title{
    border-bottom: 25px;
  }

  .package-plus{
    position: relative;

    .package__header{
      position: relative;
      color: #040207;
      background-color: #ff6a4e;

      .package__period{
        color: #040207;
      }

    }
    .btn-package{
      background-color: #ff6a4e;
      &:hover,
      &:active,
      &:focus{
        background-color: #ff330d;
      }
    }

  }

  .package-plus-recommend{
    position: relative;
    &:before{
      position: absolute;
      content: "Рекомендуємо";
      color: #ffffff;
      border-radius: 4px;
      background-color: #aa02a5;
      width: 180px;
      left: 50%;
      top: 6px;
      font-size: 14px;
      line-height: 25px;
      transform: translate(-50%);
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
    }
  }

  .package-plus-top{
    position: relative;
    &:before{
      position: absolute;
      content: "топ продажу";
      color: #ffffff;
      border-radius: 4px;
      background-color: #aa02a5;
      width: 180px;
      left: 50%;
      top: 6px;
      font-size: 14px;
      line-height: 25px;
      transform: translate(-50%);
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
    }
  }

  .package__header{
    background-color: #000;
  }

 .package__presents {
   display: block !important;
 }

  .package__period{
    display: block!important;
    margin-bottom: 10px;
    color: #ff44f9;
  }

  .package__price-half{
    display: none!important;
  }

  .package__price{
    display: none;
  }
  .package__total-price{
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 35px;
    font-weight: bold;
    display: block;
  }

  .package__presents-title{
    color: #040207;
  }

  .package__presents-list {
    li {
      color: #040207;
      &:before{
        background: transparent url(images/gift_purple.svg) no-repeat top center;
        width: 20px;
        height: 24px;

      }
    }
    .no-active{
      color: #6f6f6f;
      &:before{
        background: transparent url(images/gift_gray.svg) no-repeat top center;
      }

    }
  }
  .btn-package--six{
    display: none;
    width: 190px;
    margin: 0  auto;
  }
  .btn-package--twelve{
    display: block!important;
    width: 190px;
    margin: 0 auto;
  }
  .btn-package{
    background-color: #d90fd3;
    &:hover,
    &:active,
    &:focus{
      background-color: #a90ba4;
    }
  }
  .package__abilities{
    color: #040207;
    li{
      &:before{
        color: #d90fd3;
      }
    }
  }
  .package__abilities-item-platform{
    margin-top: 50px;
    position: relative;
    &:after{
      position: absolute;
      content: " ";
      background: transparent url(images/plus.svg) no-repeat top center;
      top: -40px;
      left: 50%;
      transform: translate(-50%);
      width: 26px;
      height: 26px;

    }
  }
}