<div class="hero">
    <div class="hero__content">
        <h1>{{ page.options['text_header']|default('') }}</h1>
        <p>{{ page.options['text1']|default('Ви успішно зареєструвалися. Перейдіть до персонального кабінету для перегляду відеоуроку «П(С)БО 7 "Основні засоби"».') }}</p>
        <a class="hero__btn" href="/events/1502">Увійти</a>
        <h4>{{ page.options['text_bottom']|default('') }}</h4>
    </div>
</div>


<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>



<script>

    SystemJS.import('jquery').then(function ($) {
        var loader = $('.loader-backdrop')
        var loaderPage = $('#loader-page');
        loaderPage.delay(850).fadeOut('slow');
        var project = localStorage.getItem('project');

        /*if (project == "psbo"){

            $(".hero__btn").attr("href", "/events/669");

        }else if(project == "zp1c"){

            $(".hero__btn").attr("href", "/events/1116");

        }else if(project == "avto"){
            $(".hero__btn").attr("href", "/events/981");

        }else if(project == "bszp"){

            $(".hero__btn").attr("href", "/events/1213");

        }else if(project == "bkadr"){
            $(".hero__btn").attr("href", "/events/1087")
        }else{
            $(".hero__btn").attr("href", "/events/1087");
        }*/
        $('#authForm')
            .on('submit', function (e) {
                e.preventDefault()
                SystemJS.import('@clients').then(function (clients) {
                    clients.Auth.login($('[name="email"]', e.currentTarget).val(), $('[name="password"]', e.currentTarget).val()).then(function (client) {
                        if (client) {
                            location.href = '/events/access'
                        }
                    })
                })
            })
            .find('#reg-email').val(sessionStorage.getItem('userEmail'))
        sessionStorage.setItem('new-pass',"123456");
    })
</script>