.results {
  .container {
    @extend%content!optional;
    padding-top: 62px;
    padding-bottom: 62px;
    position: relative;
  }

  &__title {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;

    span {
      color: $orange;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
    }
  }

  &__content {
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include media-breakpoint-up(xl) {
      row-gap: 27px;
      column-gap: 20px;
    }

    li {
      max-width: 343px;
      border-radius: 18px;
      border: 1px dashed #e2e2e2;
      padding: 24px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: 24px;
        right: 24px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background: #db2b1e;
        display: block;
      }

      @include media-breakpoint-up(xl) {
        padding: 24px 32px;
        max-width: 360px;
      }

      strong {
        color: $orange;
        font-size: 26px;
        font-weight: 700;
        display: block;
        margin-bottom: 14px;

        @include media-breakpoint-up(xl) {
          font-size: 32px;
        }
      }

      p {
        font-size: 18px;

        @include media-breakpoint-up(xl) {
          font-size: 20px;
        }

        b {
          font-weight: 700;
          display: block;
        }
      }
    }
  }

  &__subblock {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 22px 19px;
    display: flex;
    border-radius: 22px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $orange;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-top: 42px;
      padding: 36px 44px;
    }
  }

  &__subtitle {
    font-size: 26px;
    color: $white;
    max-width: 360px;

    @include media-breakpoint-up(xl) {
      max-width: 210px;
    }

    span {
      margin-left: auto;
      display: block;
      width: 273px;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 133%;
      @include media-breakpoint-up(xl) {
        width: 200px;
      }

      b {
        font-weight: 900;
        font-size: 74px;
        line-height: 100%;
        text-transform: uppercase;
        color: $white;
        @include media-breakpoint-up(xl) {
          font-size: 74px;
        }
      }
    }
  }

  &__subtext {
    color: $white;

    @include media-breakpoint-up(xl) {
      max-width: 472px;
      padding-right: 28px;
    }

    p {
      margin-bottom: 18px;
      font-size: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    //margin-bottom: 24px;
  }

  &__text-btn {
    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__btn {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;

      .btn-page {
        border-radius: 73px;
        background: #fff;
        color: #000;
        width: 316px;
      }
    }
  }
}
