@charset "UTF-8";
.landing-dtkt_september2019_1 .dtkt-promo { background-color: #fbbc35; }

.landing-dtkt_september2019_1 .packages__column { padding-top: 50px; }

.landing-dtkt_september2019_1 .landing-title--columns { padding-top: 50px; margin-bottom: 20px; }

.landing-dtkt_september2019_1 .landing-title--columns:nth-child(2) { position: relative; }

.landing-dtkt_september2019_1 .landing-title--columns span { color: #040207; }

.landing-dtkt_september2019_1 .landing-section__action { color: #6f6f6f; font-size: 20px; }

.landing-dtkt_september2019_1 .package__title { border-bottom: 25px; }

.landing-dtkt_september2019_1 .package-plus { position: relative; }

.landing-dtkt_september2019_1 .package-plus .package__header { position: relative; color: #fff; background-color: #fb7335; }

.landing-dtkt_september2019_1 .package-plus .package__header .package__period { color: #ffcdc4; }

.landing-dtkt_september2019_1 .package-plus .package__old-price { color: #ffcdc4; }

.landing-dtkt_september2019_1 .package-plus .btn-package { background-color: #fb7335; }

.landing-dtkt_september2019_1 .package-plus .btn-package:hover, .landing-dtkt_september2019_1 .package-plus .btn-package:active, .landing-dtkt_september2019_1 .package-plus .btn-package:focus { color: #fff; background-color: #aa2299; }

.landing-dtkt_september2019_1 .package-plus-top { position: relative; }

.landing-dtkt_september2019_1 .package-plus-top:before { position: absolute; content: "топ продажу"; color: #ffffff; border-radius: 4px; background-color: #aa2299; width: 180px; left: 50%; top: 38px; font-size: 14px; font-weight: 600; line-height: 25px; transform: translate(-50%); text-align: center; text-transform: uppercase; z-index: 1; }

.landing-dtkt_september2019_1 .package__header { color: #4f4f4f; background-color: #ededed; }

.landing-dtkt_september2019_1 .package__presents { display: block !important; text-align: left; }

.landing-dtkt_september2019_1 .package__period { display: block !important; margin-bottom: 10px; color: #733114; }

.landing-dtkt_september2019_1 .package__price-half { display: none !important; }

.landing-dtkt_september2019_1 .package__price { display: none; }

.landing-dtkt_september2019_1 .package__total-price { margin-bottom: 5px; font-size: 40px; line-height: 35px; font-weight: bold; display: block; }

.landing-dtkt_september2019_1 .package__presents-title { color: #040207; }

.landing-dtkt_september2019_1 .package__presents-list li { color: #040207; }

.landing-dtkt_september2019_1 .package__presents-list li:before { background: transparent url(images/gift_purple.svg) no-repeat top center; width: 20px; height: 24px; }

.landing-dtkt_september2019_1 .package__presents-list .no-active { color: #bdbbbb; cursor: not-allowed; }

.landing-dtkt_september2019_1 .package__presents-list .no-active:before { background: transparent url(images/gift_gray.svg) no-repeat top center; }

.landing-dtkt_september2019_1 .btn-package--six { display: none; width: 190px; margin: 0  auto; }

.landing-dtkt_september2019_1 .btn-package--twelve { display: block !important; width: 190px; margin: 0 auto; }

.landing-dtkt_september2019_1 .btn-package--twelve:after { display: none; }

.landing-dtkt_september2019_1 .btn-package { color: #4f4f4f; background-color: #ffd924; }

.landing-dtkt_september2019_1 .btn-package:hover, .landing-dtkt_september2019_1 .btn-package:active, .landing-dtkt_september2019_1 .btn-package:focus { color: #fff; background-color: #aa2299; }

.landing-dtkt_september2019_1 .package__abilities { color: #040207; text-align: left; }

.landing-dtkt_september2019_1 .package__abilities .package__abilities-item--noactive { color: #bdbbbb; }

.landing-dtkt_september2019_1 .package__abilities .package__abilities-item--noactive:before { color: #bdbbbb; }

.landing-dtkt_september2019_1 .package__abilities li:before { color: #002752; }

.landing-dtkt_september2019_1 .package__abilities-item-platform { margin-top: 50px; position: relative; }

.landing-dtkt_september2019_1 .package__abilities-item-platform:after { position: absolute; content: " "; background: transparent url(images/plus.svg) no-repeat top center; top: -40px; left: 50%; transform: translate(-50%); width: 26px; height: 26px; }

.landing-dtkt_september2019_1 .package__abilities-item-platform a { text-decoration: underline; }

.landing-dtkt_september2019_1 .package__abilities-item-platform a:hover { text-decoration: none; }
