.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1200px){
    flex-direction: column;
  }
  &__item{


    svg{
      fill: #fff;
      width: 25px;
      height: 25px;
      margin: 0 15px;
      @media (max-width: 1200px){
        display: none;
      }
    }

    a{
      width: 300px;
      border-radius: 29px;
      background-color: #519e12;
      margin: 7px;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 58px;
      letter-spacing: normal;
      text-align: center;
      display: flex!important;
      align-items: center;
      text-align: center;
      padding: 0!important;
      text-transform: uppercase;
      border: solid 1px #519e12;
      transition: all 0.2s;

      @media (max-width: 1200px){
        width: 300px;
      }


      &:hover{
        background-color: #519e12!important;
        span {
          background-color: #3b3b3b;
        }
      }

      span{
        width: 100%;
        background-color: #0a0a0a;
        border-radius: 0 29px 29px 0;
        color: #888888;
        @media (max-width: 1200px){
          border-radius: 29px ;
        }

      }
    }

  }

  .active {
    a{
      background-color: #519e12!important;
      display: flex;

      span{
        background-color: #519e12;
        color: #fff;
        border-left: solid 1px #71cc27;
      }
    }


  }

  .procent{
    flex-direction: row-reverse;
    background-color: #ff9c00!important;
    border: solid 1px #ff9c00;
    &:hover{
      background-color: #ff9c00!important;
      span {
        background-color: #3b3b3b;

      }
    }

    svg{
      fill: #000;
    }
    span{
      border-radius: 29px 0px 0px 29px;
      @media (max-width: 1200px){
        border-radius: 29px;
      }
    }
  }

  .active {
    .procent{
      background-color: #ff9c00 !important;
      display: flex;

      span{
        background-color: #ff9c00;
        color: #000;
        border-right: solid 1px #fab64c;
      }
    }


  }
}