.chance {
  .container {
    padding-top: 98px;
    position: relative;

    @include media-breakpoint-up(xl) {
      padding-left: 300px;
      padding-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      background: url(../img/dec.webp) no-repeat center;
      background-size: cover;
      width: 1672px;
      height: 758px;
      z-index: -1;
      bottom: -200px;
      left: -900px;
      animation: rotateOnlyLeft 20s linear infinite;

      @include media-breakpoint-up(xl) {
        bottom: 0px;
      }
    }
  }

  &__dec-cube {
    position: absolute;
    top: -105px;
    left: 151px;
    width: 329px;
    height: 349px;
    background-size: cover;
    transform: rotate(-20deg);
    z-index: -1;

    @include media-breakpoint-up(xl) {
      width: 548px;
      height: 587px;
      left: -250px;
      transform: rotate(0deg);
    }
  }
  h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $maincolor;

    @include media-breakpoint-up(xl) {
      font-size: 94px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    @include media-breakpoint-up(xl) {
      font-size: 52px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 16px;
    @include media-breakpoint-up(xl) {
      margin-top: 26px;
      gap: 22px;
    }

    li {
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 15px 20px;
      display: flex;
      align-items: center;
      gap: 22px;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        gap: 18px;
        min-width: 364px;
        max-width: 422px;
        font-size: 20px;
        font-weight: 600;

        &:nth-child(3) {
          margin-left: 16px;
        }
        &:nth-child(2) {
          margin-top: 16px;
        }
      }

      &::before {
        content: "";
        background: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L25 25M25 25V3.93878M25 25H3.93878' stroke='white' stroke-width='2' /%3E%3C/svg%3E")
          no-repeat center;
        width: 26px;
        height: 26px;
        background-size: cover;
        flex: 0 0 auto;
      }
    }
  }
}
