.company {
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
  @include media-breakpoint-up(xl) {
    padding-top: 66px;
    padding-bottom: 86px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -200px;
    left: -200px;
    background: url(../img/cube1.webp) no-repeat center;
    background-size: cover;
    width: 1014px;
    height: 1016px;
  }
  &__dec-cube {
    position: absolute;
    top: -105px;
    left: 151px;
    width: 329px;
    height: 349px;
    background-size: cover;
    transform: rotate(-20deg);
    z-index: -1;

    @include media-breakpoint-up(xl) {
      width: 548px;
      height: 587px;
      left: -250px;
      transform: rotate(0deg);
    }
  }
  .container {
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 26px;

    span {
      @include media-breakpoint-up(xl) {
        font-size: 78px;
      }
    }

    @include media-breakpoint-up(xl) {
      line-height: 2.2;
      padding-left: 300px;
    }

    b {
      font-size: 36px;
      margin-top: 10px;
      display: block;
      display: block;
      font-weight: 700;
      line-height: 100%;
      width: 100%;
      text-transform: none;
      background: $mainblue;
      padding: 4px;

      @include media-breakpoint-up(xl) {
        font-size: 36px;
        margin-bottom: 48px;
        display: inline;
        text-transform: uppercase;
        padding: 12px 30px;
      }

      i {
        display: block;
        text-align: right;
      }
    }
  }

  &__text {
    margin-bottom: 16px;

    @include media-breakpoint-up(xl) {
      max-width: 860px;
      margin-left: auto;
      font-size: 20px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
    margin-top: 56px;

    li {
      width: calc(50% - 10px);
      font-size: 18px;

      @include media-breakpoint-up(xl) {
        width: 100%;
        max-width: 170px;
        border: solid 1px #393939;
        padding: 24px 20px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: -12px;
          left: 18px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_364_4144)'%3E%3Crect width='24' height='24' fill='%232938FF'/%3E%3Cpath d='M21 6.99984L9 18.9998L3.5 13.4998L4.91 12.0898L9 16.1698L19.59 5.58984L21 6.99984Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_364_4144'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
            no-repeat center;
          width: 24px;
          height: 24px;
          background-size: cover;
        }

        &:nth-child(1) {
          max-width: 206px;
          transform: translate(-0px, -220px);
        }
        &:nth-child(2) {
          max-width: 248px;
          transform: translate(-100px, 20px);
        }
        &:nth-child(3) {
          transform: translate(-60px, 0px);
          max-width: 173px;
        }
        &:nth-child(4) {
          transform: translate(-30px, 60px);
        }
        &:nth-child(5) {
          max-width: 171px;
        }
      }

      b {
        font-size: 22px;
        line-height: 31px;
        font-weight: 700;
        display: block;
        //color: $maincolor;
        margin-bottom: 8px;

        @include media-breakpoint-up(xl) {
          font-size: 26px;

          span {
            font-size: 28px;
          }
        }
      }
    }
  }
}
