.feel {
  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 39px;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-up(xl) {
      font-size: 65px;
      text-align: left;
    }
    span {
      color: $maincolor;

      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }
  .container {
    position: relative;
    @include media-breakpoint-up(xl) {
      &::before {
        content: "";
        position: absolute;
        background: url(../img/dec.webp) no-repeat center;
        background-size: cover;
        width: 1672px;
        height: 758px;
        z-index: -2;
        bottom: 0px;
        right: -900px;
      }
    }
  }

  &__content {
    @include media-breakpoint-up(xl) {
      display: flex;
      flex-direction: row;
      gap: 88px;
    }
  }

  &__block {
    @include media-breakpoint-up(xl) {
      flex: 0 0 auto;
      max-width: 597px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 14px;
    margin-bottom: 24px;

    @include media-breakpoint-up(xl) {
      font-size: 34px;
      padding-top: 44px;
      margin-bottom: 44px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 26px;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
      padding-bottom: 44px;
    }
  }

  &__text-blue {
    background: linear-gradient(
      90deg,
      rgba(41, 56, 255, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    text-align: center;
    padding: 12px 18px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    @include media-breakpoint-up(xl) {
      font-size: 24px;
      text-align: left;
    }
  }

  &__text-new {
    font-weight: 500;
    font-size: 14px;
    line-height: 163%;
    padding-top: 68px;
    padding-bottom: 52px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(xl) {
      font-size: 16px;
      padding: 0;
      width: 384px;
      margin-top: 44px;
      margin-bottom: 68px;
    }

    &::before {
      position: absolute;
      top: -2px;
      left: -29px;
      content: "";
      background: url(../img//frame.png) no-repeat center;
      background-size: cover;
      width: 420px;
      height: 249px;
      z-index: -1;

      @include media-breakpoint-up(xl) {
        top: -50px;
        left: -29px;
        width: 450px;
        height: 267px;
      }
    }
  }

  &__text-quote {
    font-weight: 700;
    font-size: 20px;
    padding-left: 68px;
    line-height: 140%;
    text-transform: uppercase;
    position: relative;

    @include media-breakpoint-up(xl) {
      max-width: 333px;
    }
    &::before {
      position: absolute;
      top: 0px;
      left: 0px;
      content: "";
      background: url("data:image/svg+xml,%3Csvg width='39' height='32' viewBox='0 0 39 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.8329 0L32.192 15.2099H39V32H21.591V16.6914L28.4963 0H37.8329ZM16.1446 0L10.4065 15.2099H17.3117V32H0V16.6914L6.80798 0H16.1446Z' fill='%232938FF' /%3E%3C/svg%3E")
        no-repeat center;
      background-size: cover;
      width: 39px;
      height: 32px;
    }
  }
  .btn {
    margin-top: 44px;

    @include media-breakpoint-up(xl) {
      width: 508px;
      padding: 0.5em 1em;
    }
  }
}
