{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <table border="0" cellpadding="0" cellspacing="0" max-width="100%" style="margin: 0 auto;">
        <tr>
            <td  align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
                    <tr>
                        <td align="center" valign="top"  class="logo">
                            <a href="http://litmus.com" target="_blank">
                                <img alt="Logo" src="email_02_01.jpg" width="100%" height="auto" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td  align="center" style="padding: 0px 20px 0px 20px; " class="section-padding">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 560px;background-color: #fff; border-radius: 20px;" class="responsive-table">
                    <tr>
                        <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 35px;padding-top: 25px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" >
                                <tbody><tr>
                                    <td align="center" valign="top" style="font-size:0;" class="padding">

                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 0px 0;">
                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center"  valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-left.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="Fluid images" border="0" class="img-max"></a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%;padding-top: 10px; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style=" font-family: Arial, sans-serif; color: #333333; font-size: 20px;">Гарячі новини</td>
                                                                                    </tr>


                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper line">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px; float: right;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="padding: 20px 0 0px 0;">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody><tr>
                                                                                        <td align="center" bgcolor="#F5F7FA" valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-right.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="alt text here" border="0" class="img-max"></a></td>
                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>

                                </tr>
                                </tbody></table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding: 0 20px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #161616; line-height: 1.57; padding-top: 0px;" class="padding-copy"><b style="font-size: 16px;">Як зробити записи у трудовій книжці: роз’яснює Держпраці</b><br>Головного управління Держпраці у Дніпропетровській області <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">відповіло</a> на питання щодо змін у трудовій книжці. Відповідно до Інструкції №58 при внесенні відомостей про роботу у графі 3 розділу "Відомості про роботу" як заголовок пишеться повне найменування підприємства. Під цим заголовком у графі 1 ставиться порядковий номер запису, що вноситься, у графі 2 зазначається дата прийняття на роботу. </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                        <td align="left" class="" style="padding:0;Margin:0;">
                            <ul>
                                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;Margin-bottom:5px;color:#161616">Найкраще про це написали в <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">«Бухгалтер911»</a> </li>
                                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;Margin-bottom:5px;color:#161616">Також можна почитати на сайті  <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">«Бухгалтер911»</a></li>
                            </ul></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding: 0 20px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #161616; line-height: 1.57; padding-top: 30px;" class="padding-copy"><b style="font-size: 16px;">Як зробити записи у трудовій книжці: роз’яснює Держпраці</b><br>Головного управління Держпраці у Дніпропетровській області <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">відповіло</a> на питання щодо змін у трудовій книжці. Відповідно до Інструкції №58 при внесенні відомостей про роботу у графі 3 розділу "Відомості про роботу" як заголовок пишеться повне найменування підприємства. Під цим заголовком у графі 1 ставиться порядковий номер запису, що вноситься, у графі 2 зазначається дата прийняття на роботу. </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                        <td align="left" class="" style="padding:0;Margin:0;">
                            <ul style="margin-bottom: 25px">
                                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;Margin-bottom:5px;color:#161616">Найкраще про це написали в <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">«Бухгалтер911»</a> </li>
                                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;Margin-bottom:5px;color:#161616">Також можна почитати на сайті  <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">«Бухгалтер911»</a></li>
                            </ul></td>
                    </tr>
                    <tr>
                        <td  align="center">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
                                <tr>
                                    <td align="center" valign="top"  class="logo">
                                        <a href="http://litmus.com" target="_blank">
                                            <img alt="Logo" src="email_02_04.jpg" width="100%" height="auto" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 35px;padding-top: 0px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" >
                                <tbody><tr>
                                    <td align="center" valign="top" style="font-size:0;" class="padding">

                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 0px 0;">
                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center"  valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-left.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="Fluid images" border="0" class="img-max"></a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%;padding-top: 10px; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style=" font-family: Arial, sans-serif; color: #333333; font-size: 20px;">Відповіді від експертів</td>
                                                                                    </tr>


                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper line">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px; float: right;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="padding: 20px 0 0px 0;">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody><tr>
                                                                                        <td align="center" bgcolor="#F5F7FA" valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-right.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="alt text here" border="0" class="img-max"></a></td>
                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>

                                </tr>
                                </tbody></table>

                        </td>
                    </tr>
                    <tr>
                        <td style=" padding: 0 20px ;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="block" align="center" width="50%" style="background-color: #012e55;">
                                        <a href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&amp;feature=iv&amp;src_vid=hw1bDtxtZs8" target="_blank">
                                            <img border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 100%; max-width: 260px; " src="email_02_08.jpg" width="100%" height="146" alt="">
                                        </a>
                                    </td>
                                    <td class="block" align="left" width="50%" style="background-color: #012e55; padding-left: 30px; font-family: Arial, sans-serif; color: #fff; font-size: 16px;" > <b>Внутрішні сумісники:</b> <br> лікарняні і відпускні <br> у звіті з ЄСВ</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style=" padding: 10px 20px 30px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td class="block" align="left" width="50%" style="background-color: #012e55; padding-left: 30px; font-family: Arial, sans-serif; color: #fff; font-size: 16px;" > <b> Декретні:</b> <br> нарахування доплати <br> до мінімальної зарплати</td>
                                    <td class="block" align="center" width="50%" style="background-color: #012e55;">
                                        <a href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&amp;feature=iv&amp;src_vid=hw1bDtxtZs8" target="_blank">
                                            <img border="0" style="border:0; outline:none; text-decoration:none; display:block; width: 100%; max-width: 260px; " src="email_02_11.jpg" width="100%" height="146" alt="">
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td  align="center">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
                                <tr>
                                    <td align="center" valign="top"  class="logo">
                                        <a href="http://litmus.com" target="_blank">
                                            <img alt="Logo" src="email_02_04.jpg" width="100%" height="auto" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 35px;padding-top: 0px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" >
                                <tbody><tr>
                                    <td align="center" valign="top" style="font-size:0;" class="padding">

                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 0px 0;">
                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center"  valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-left.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="Fluid images" border="0" class="img-max"></a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%;padding-top: 10px; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style=" font-family: Arial, sans-serif; color: #333333; font-size: 20px;"><b>А ще...</b> </td>
                                                                                    </tr>


                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper line">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px; float: right;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="padding: 20px 0 0px 0;">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody><tr>
                                                                                        <td align="center" bgcolor="#F5F7FA" valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-right.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="alt text here" border="0" class="img-max"></a></td>
                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>

                                </tr>
                                </tbody></table>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding: 0 20px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #161616; line-height: 1.57; padding-top: 0px;" class="padding-copy"><b style="font-size: 16px;">Як зробити записи у трудовій книжці: роз’яснює Держпраці</b><br>Головного управління Держпраці у Дніпропетровській області <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">відповіло</a> на питання щодо змін у трудовій книжці. Відповідно до Інструкції №58 при внесенні відомостей про роботу у графі 3 розділу "Відомості про роботу" як заголовок пишеться повне найменування підприємства. Під цим заголовком у графі 1 ставиться порядковий номер запису, що вноситься, у графі 2 зазначається дата прийняття на роботу. </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                        <td align="left" class="" style="padding:0;Margin:0;">
                            <ul>
                                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;Margin-bottom:5px;color:#161616">Найкраще про це написали в <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">«Бухгалтер911»</a> </li>
                                <li style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;Margin-bottom:5px;color:#161616">Також можна почитати на сайті  <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">«Бухгалтер911»</a></li>
                            </ul></td>
                    </tr>
                    <tr>
                        <td  align="center">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
                                <tr>
                                    <td align="center" valign="top"  class="logo">
                                        <a href="http://litmus.com" target="_blank">
                                            <img alt="Logo" src="email_02_04.jpg" width="100%" height="auto" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 35px;padding-top: 0px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" >
                                <tbody><tr>
                                    <td align="center" valign="top" style="font-size:0;" class="padding">

                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper">
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 0px 0;">
                                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center"  valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-left.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="Fluid images" border="0" class="img-max"></a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%;padding-top: 10px; min-width:280px; vertical-align:top; width:100%;" class="wrapper">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:280px;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style=" font-family: Arial, sans-serif; color: #333333; font-size: 20px;"><b>Важливо! Не пропустіть!</b> </td>
                                                                                    </tr>


                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>
                                        <div style="display:inline-block; margin: 0 -2px; max-width:20%; min-width:125px; vertical-align:top; width:100%;" class="wrapper line">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                <tbody><tr>
                                                    <td>
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px; float: right;" class="wrapper">
                                                            <tbody><tr>
                                                                <td align="center" valign="top">

                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tbody><tr>
                                                                            <td style="padding: 20px 0 0px 0;">
                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                                                    <tbody><tr>
                                                                                        <td align="center" bgcolor="#F5F7FA" valign="middle"><a href="http://litmus.com" target="_blank"><img src="rectangle-right.png" width="125" height="11" style="display: block; color: #666666; font-family: Helvetica, arial, sans-serif; font-size: 13px; width: 125px; height: 11px;" alt="alt text here" border="0" class="img-max"></a></td>
                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </div>

                                </tr>
                                </tbody></table>

                        </td>
                    </tr>
                    <tr>
                        <td  align="center">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;" class="wrapper">
                                <tr>
                                    <td align="center" valign="top"  class="logo">
                                        <a href="http://litmus.com" target="_blank">
                                            <img alt="Logo" src="email_02_14.jpg" width="100%" height="auto" style="display: block; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-size: 16px;" border="0"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td align="center" style="text-align: center; padding-bottom: 0px;padding-top: 20px;font-family: Helvetica, Arial, Liberation Sans, sans-serif; color: #161616; line-height: 24px; font-size: 16px; font-weight:600;">Фантастична новина від <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">KadroLand.com</a> –<br> запис ВЕЛИКОГО КАДРОВОГО СЕМІНАРУ у вільному доступі!</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td style="padding: 0 20px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="left" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #161616; line-height: 1.57; padding-top: 30px;" class="padding-copy">Тетяна Мойсеєнко та Тимур Алієв розказують про сучасні кадрові помилки, які потрібно негайно виправити. <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">Зареєструйтесь</a>  на платформі <a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;text-decoration:underline;color:#0645ad" href="https://promo.dtkt.ua/7eminar_june2020?utm_source=dtkt_promo_platforma&utm_medium=Email&utm_campaign=sered_naykrashchykh_03072020">Kadroland.com</a>  та безкоштовно дивіться відео вже зараз!</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding-top: 25px; padding-right:0px;padding-bottom:20px;">
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td width="220" align="center" style="font-family: Tahoma, Helvetica, Arial, Liberation Sans, sans-serif; font-size: 16px; color: #ffffff; vertical-align: middle; -webkit-text-size-adjust: none; display: block; background-color: #de3176; border: 4px solid #de3176; border-radius: 25px;" class="hover-me-1"><a href="https://7eminar.com/26112019?utm_source=7eminar.com&amp;utm_medium=email&amp;utm_campaign=20191105_vkadr" lang="x-divbox-1" target="_blank" style="font-family:arial, 'helvetica neue', helvetica, sans-serif; font-size: 16px; color: #fff; text-decoration: none; display: inline-block;  padding-top: 8px; padding-bottom: 8px; letter-spacing: 1.6px; width: 100%; border-radius: 23px;"><b>ЗАРЕЄСТРУВАТИСЬ</b></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>





                    </tr>


                    </tbody></table>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" style="padding:25px 0 25px " class="padding">

                <div style="display:inline-block; margin: 0 -2px; max-width:50%; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:240px;" class="wrapper">
                        <tbody><tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody><tr>
                                        <td style="">
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tbody>
                                                <tr style="text-align: left;">
                                                    <td align="center" style="padding: 5px 0 0 0;font-family: Arial, sans-serif;color: #053255;font-size: 15px;line-height: 20px;text-align: left;" ><a href="http://litmus.com" style="color: #053255;">finelf.academy</a></td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>

                            </td>
                        </tr>
                        </tbody></table>
                </div>

                <div style="display:inline-block; margin: 0 -2px; max-width:50%; min-width:240px; vertical-align:top; width:100%;" class="wrapper">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tbody><tr>
                            <td style="padding-left: 25px;">
                                <table width="100px" border="0" cellspacing="0" cellpadding="0" align="right">
                                    <tbody>

                                    <tr>
                                        <td width="25"><a href=" https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&amp;feature=iv&amp;src_vid=hw1bDtxtZs8" target="_blank"><img border="0" style="border:0; outline:none; text-decoration:none; display:block;" src="yt.png" width="25" height="19" alt="Ютуб"></a></td>
                                        <td width="25"><a href="https://www.facebook.com/7eminar/" target="_blank"><img border="0" style="border:0; outline:none; text-decoration:none; display:block;" src="fb.png" width="25" height="25" alt="Фейсбук"></a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody></table>
                </div>

            </td>
        </tr>
        </tbody></table>

    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
</div>

</td>
</tr>
</tbody></table>

</td>
</tr>
</table>
</td>
</tr>




</table>
</div>