
.lectors{
  padding: 75px 0;
  position: relative;
  &:before{
    position: absolute;
    content: " ";
    background: url(images/dec.png) center center no-repeat;
    width: 1705px;
    height: 733px;
    left: 50%;
    top: 598px;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    z-index: -1;
  }
  @media (max-width: 767px){
    padding: 50px 0;
  }

  p{
    margin-bottom: 0;
  }

  &__container {
    @extend %container;
    text-align: center;
  }

  &__title{
    @extend %title;
    @media (max-width: 767px){
      padding-bottom: 20px;
    }
  }

  &__sub-title{
    @extend %sub-title;
  }

  &__item{
    max-width: 945px;
    width: 100%;
    margin: 40px auto 0;
    padding: 50px 0 60px;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, left top, right top, from(#11162a), to(#173892));
    background-image: -o-linear-gradient(left, #11162a, #173892);
    background-image: linear-gradient(to right, #11162a, #173892);
    position: relative;
    z-index: 1;
    &:before{
      position: absolute;
      content: " ";
      z-index: -1;
    }

    &:nth-child(odd){
      padding-right: 385px;
      text-align: right;
      @media (max-width: 1200px){
        padding-right: 310px;
      }
      @media (max-width: 767px){
        padding:100px 15px 25px;
        text-align: left;
      }
      &:before{
        background: url(images/tm.png) center center no-repeat;
        bottom: 0;
        right: 50px;
        width: 245px;
        height: 406px;
        z-index: 0;
        @media (max-width: 767px){
          background: url(images/tm_320.png) center center no-repeat;
          width: 182px;
          height: 302px;
          bottom: 155px;
          right: 70px;
        }
      }
    }

    &:nth-child(even){
      padding-left: 385px;
      text-align: left;
      @media (max-width: 1200px){
        padding-left: 310px;
      }
      @media (max-width: 767px){
        padding:100px 15px 25px;
        text-align: left;
      }
      &:before{
        background: url(images/os.png) center center no-repeat;
        bottom: 0;
        left: 50px;
        width: 280px;
        height: 412px;
        @media (max-width: 767px){
          background: url(images/os_320.png) center center no-repeat;
          width: 227px;
          height: 334px;
          bottom: 85px;
          left: 5px;
        }
      }
    }
  }

  &__name{
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    padding-bottom: 50px;
    color: #5067a7;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 24px;
      padding-bottom: 20px;
      color: #bfd0ff;
    }
  }

  &__text{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #e4e8f4;
    padding-bottom: 15px;
    @media (max-width: 767px){
      font-size: 15px;
      padding-bottom: 10px;
      line-height: 1.47;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
  }

  &__btn{
    @extend %btn;
    margin-top: 80px;
    @media (max-width: 767px){
      margin-top: 40px;
    }
  }
}