@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,800,900&display=swap&subset=cyrillic');

//-font-family: 'Exo 2', sans-serif;
button{
  &:focus{
    outline: none!important;
  }
}

.branding ~ .seminars-container #main {
  z-index: inherit;
}

#bg_popup{
  display: none!important;
}

#bg_popup_two{
  display: none!important;
}

#__telerWdTriggerContent{
  display: none!important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.branding-fixed{
  z-index: -1;
}

p{
  margin: 0;
}

html * {
  max-height: 1000000px;
}

body {
  background: #fff;
}

#main {
  width: 100%;
  overflow: hidden;
}
.circle{
  display: none;
}
%btn {
  //-background-image: linear-gradient(to top, #fdfe1e, #f0c61a);
  background-color: #ffcc3c;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height:1;
  letter-spacing: 1px;
  text-align: center;
  color: #181818;
  padding: 18px 30px;
  display: inline-block;
  margin-top: 80px;
  -webkit-box-shadow: 0px 22px 33px #dcd8d8, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 22px 33px #dcd8d8, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 22px 33px #dcd8d8, inset 0px 0px 1px #ffffff;
  transition: 0.7s;
  @media (max-width: 767px){
    margin-top: 30px;
  }
  &:hover{
      text-decoration: none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      color: #181818;
    }

}
%container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 10px;
  text-align: center;
  @media (max-width: 1200px){
    max-width: 767px;

  }
  @media (max-width: 767px){
    max-width: 320px;
    padding: 80px 10px;
  }
}

%title{
  color: #007bfd;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  text-align: center;
  margin-bottom: 75px;
  @media (max-width: 767px){
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 1.2px;
    margin-bottom: 55px;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.seminar-landing {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}
.order__gift{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  color: #424342;
  text-transform: uppercase;
  padding-bottom: 20px;
  span{
    font-size: 25px;
  }
}
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "mixins";
@import "variables";
@import "hero";
@import "menu";
@import "knowledges";
@import "professions";
@import "advantages";
@import "lectors";
@import "themes";
@import "order";
@import "certificate";
@import "pricing-timer";
@import "package";
@import "video";
@import "partners";
@import "map";
@import "popup";
@import "modal-video";
@import "loader-page";
@import "header";
@import "footer";

.branding-page #main{
  width: 100%;
}

.branding-page{
  padding-top: 0px;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #fff;
  .heading{
    display: none;
  }
}
