
.themes {
  padding: 75px 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  @media (max-width: 767px){
    padding: 35px 0;
  }
  p{
    margin-bottom: 0px;
  }


  &__container {
    @extend %container;
    position: relative;

    &--main{
      padding-left: 195px;
      @media (max-width: 1200px){
        padding-left: 30px;
      }
      @media (max-width: 1200px){
        padding-left: 10px;
      }
    }

  }

  &__title{
    font-size: 34px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    @media (max-width: 767px){
      font-size: 25px;
      line-height: 1.24;
    }

  }

  &__sub-title{
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
    padding-bottom: 30px;

  }

  &__main{
    background-color: #f0ebfa;
    border-top: solid 3px #b49be2;
    border-bottom: solid 3px #b49be2;
    @media (max-width: 1200px){
      border: solid 3px #b49be2;
    }
  }

  &__main-item{
    padding: 45px 0 0px;
    display: flex;
    @media (max-width: 767px){
      flex-direction: column;
      padding: 15px 0 0px;
    }

  }

  &__time{

    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #7e7e7e;
    padding-right: 45px;
    @media (max-width: 767px){
      padding-right: 0px;
      padding-bottom: 20px;
    }

    &--section{
      font-size: 18px;
      line-height: 1.67;
      padding-right: 0px;
      @media (max-width: 767px){
        padding-bottom: 0px;
      }
    }
  }

  &__text{
    position: relative;
    padding-bottom: 15px;
    width: 70%;
    text-align: left;
    @media (max-width: 767px){
      width: 100%;
      text-align: center;

    }
    &:before{
      position: absolute;
      content: " ";
      left: 0;
      bottom: 0;
      height: 1px;
      max-width: 647px;
      width: 100%;
      background-image: linear-gradient(to right, #ccc8d8, transparent);
    }

    &--last{
      padding-bottom: 40px;
      &:before{
        content: none;
      }
    }
  }

  &__topic{
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;

    color: #202020;
    padding-bottom: 7px;
    @media (max-width: 767px){
      font-size: 16px;
    }

    &--section{
      font-size: 17px;
      font-weight: 500;
      line-height: 1.67;
      padding-bottom: 0;
      padding-top: 15px;
      text-align: left;
      @media (max-width: 767px){
        text-align: left;
      }
    }
  }

  &__lector{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #6225d0;

  }

  &__pause{
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    color: #202020;
    @media (max-width: 767px){
      font-size: 16px;
    }
    &--section{
      font-size: 18px;
    }
  }

  &__section{
    display: flex;
    justify-content: center;
    padding: 45px 0;
    @media (max-width: 1200px){
      flex-direction: column;
      align-items: center;
    }
  }

  &__item{
    max-width: 360px;
    width: 100%;
    margin: 15px;
  }

  &__header{
    box-shadow: -3.1px 11.6px 24px 0 rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-image-slice: 1;
    background-color: #2e0e69;
    width: 100%;
    margin-left: 4px;
    @media (max-width: 767px){
      width: 95%;
      margin: 0 auto;
    }
    p{

      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 69px;
      letter-spacing: normal;
      text-align: center;
      color: #fefefe;
      width: 100%;
      @media (max-width: 767px){
        font-size: 18px;
      }
    }
  }

  &__body{
    box-shadow: 0 0 70px 0 rgba(1, 1, 1, 0.14);
    border: solid 3px #b49be2;
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 10px;
  }

  &__list{
    list-style-type: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0;
    background-color: #f0ebfa;
    li{
      display: flex;
      flex-direction: column;
      padding-top: 45px;
      padding-bottom: 15px;
      border-bottom: solid 1px #ccc8d8;

      &:last-child{
        border-bottom: none;
      }

      &:first-child{
        min-height: 196px;
        @media (max-width: 1200px){
          min-height: auto;
        }
      }

    }
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn{
    @extend %btn;
    margin-top: 45px;
    @media (max-width: 767px){
      margin-top: 40px;
      line-height: 1.33;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 29px
    }

  }
}




