.platform-banner {
  background: url(https://7eminar.com/storage/seminars/mails/banners1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 35px 0;
  text-align: center;

  &__title-top {
    margin-bottom: 20px;
    font-size: 26px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ff9c00;
  }

  &__sub-title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #ffffff;
  }

  &__btn {
    margin: 0;
    a {
      font-family: "Roboto", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 295px;
      height: 49px;
      margin: 0 auto;
      border-radius: 4px;
      background-color: #ff9c00;
      color: #191919;
      font-size: 18px;
      font-weight: 400;
      line-height: 32.33px;
      text-transform: uppercase;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        background-color: #ffb43d;
        cursor: pointer;
      }
    }
  }
}