
.program {
  counter-reset: item;
  position: relative;
  border: 2px solid $theme-color;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 40px;
  //margin-top: -20px;
  padding-bottom: 40px;
  @media (max-width: 760px){
    padding-bottom: 80px;
  }


  &__item {
    position: relative;
    padding-left: 50px;
    @media (max-width: 760px){
      padding-left: 20px;

    }

    &:before {
      content: '';
      position: absolute;
      left: 30px;
      top: 28px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #e04e1e;
      @media (max-width: 760px){
        left: 10px;
      }



    }

    .program__list {
      padding-top: 0;
      padding-left: 30px;
      color: $theme-color;
      span {
        color: #1d1d1d;
      }
      .program__list--item {
        padding-bottom: 0;
      }
    }
    &:last-child{
      &:before {
        content: none;
      }
    }
  }

  &__item--text {
    font-size: 16px;
    padding: 20px 50px 20px 0px;
    min-height: 40px;
    margin: 0;
    font-weight: 400;
    @media (max-width: 760px){
      padding-right: 15px;
      padding-bottom: 0;
    }

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    p {
      margin: 0;
      font-weight: 400;
    }
  }
  ul{
    padding-top: 10px;
    padding-left: 20px;
    li{
      padding-top: 10px;
    }
  }

  &__item--date {
    p {
      margin-bottom: 0;
      font-weight: 400;
    }

    &:before {
      content: '';
      background: #ffbd76 url("images/date.png") no-repeat 50% 50%;
    }
  }

  &__item--clock {
    p {
      margin-bottom: 0;
      font-weight: 400;
    }

    &:before {
      content: '';
      background: #ffbd76 url("images/clock.png") no-repeat 50% 50%;
    }
  }

  &__item--centered{
    @media (max-width: 760px){
      padding-left: 0;
    }

    .program__item--text{
      @media (max-width: 760px){
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }

    }
  }

  &__item--centered:before {
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 760px){
      transform: translate(-50%);
      top: 5px;
    }
  }

  &__btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-45px, -50%);
    -moz-transform: translate(-45px, -50%);
    -ms-transform: translate(-45px, -50%);
    -o-transform: translate(-45px, -50%);
    transform: translate(-45px, -50%);
    right: 0;
    width: 218px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 47px;
    color: #fff;
    text-align: center;
    border: 2px solid $theme-color;
    background: $theme-color;
    transition: 150ms linear;
    border-radius: 25px;
    @media (max-width: 760px){
      top: 50px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      right: 0;
      left: 50%;
    }

    &:hover,
    &:active,
    &:focus {
      background: #fff;
      color: $theme-color;
      text-decoration: none;
    }
  }
}