.about {
  padding-top: 40px;
  position: relative;

  @include media-breakpoint-up(xl) {
    padding-top: 62px;
  }

  .container {
    position: relative;
  }

  &__shadow {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 775px;
    height: 775px;
    position: absolute;
    transform: scale(0.4);
    top: -294px;
    left: -281px;

    @include media-breakpoint-up(xl) {
      transform: scale(1);
      z-index: -1;
      left: 0px;
      top: -220px;
    }
  }

  &__dec {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 716px;
    height: 755px;
    position: absolute;
    top: -290px;
    left: -644px;

    @include media-breakpoint-up(xl) {
      top: -336px;
      left: -402px;
    }
  }

  &__title {
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 64px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 4px;
      font-size: 88px;
    }

    b {
      @include media-breakpoint-up(xl) {
        padding-right: 250px;
      }
    }
    span {
      transform: rotate(-6.394deg);
      padding: 10px 20px;
      background: #9ff565;
      font-size: 22px;
      display: block;
      color: $black;

      @include media-breakpoint-up(xl) {
        font-size: 36px;
        display: inline-block;
        margin-right: 560px;
      }
    }
  }

  &__text {
    margin-bottom: 24px;

    @include media-breakpoint-up(xl) {
      max-width: 760px;
      margin-left: auto;
    }

    p {
      font-size: 14px;
      margin-bottom: 12px;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul {
    padding-bottom: 330px;
    position: relative;
    margin-top: 16px;

    @include media-breakpoint-up(xl) {
      padding-bottom: 206px;
    }

    li {
      border: 1px solid #9f9f9f;
      background: rgba(31, 31, 31, 0.8);
      backdrop-filter: blur(3px);
      padding: 12px;
      position: absolute;
      font-size: 14px;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        padding: 24px;
      }

      b {
        display: block;
        font-size: 26px;
        font-weight: 700;
        color: $maincolor;
      }

      &::before {
        content: "";
        position: absolute;
        top: -13px;
        left: 13px;
        width: 24px;
        height: 24px;
        background: $maincolor
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 6.99984L9 18.9998L3.5 13.4998L4.91 12.0898L9 16.1698L19.59 5.58984L21 6.99984Z' fill='black'/%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-up(xl) {
          left: 20px;
        }
      }

      &:nth-child(1) {
        max-width: 161px;
        left: 78px;
        top: 0;
        z-index: 1;
        @include media-breakpoint-up(xl) {
          max-width: 216px;
          top: -170px;
        }
      }
      &:nth-child(2) {
        max-width: 123px;
        right: -11px;
        top: 92px;

        @include media-breakpoint-up(xl) {
          max-width: 256px;
          top: 40px;
          right: inherit;
          left: 200px;
        }
      }
      &:nth-child(3) {
        max-width: 110px;
        left: 0;
        top: 52px;
        @include media-breakpoint-up(xl) {
          max-width: 183px;
          top: 20px;
          left: 500px;
        }
      }
      &:nth-child(4) {
        max-width: 250px;
        left: 0px;
        bottom: 0px;

        @include media-breakpoint-up(xl) {
          max-width: 210px;
          left: inherit;
          right: 206px;
          bottom: inherit;
          top: 80px;
        }
      }
      &:nth-child(5) {
        max-width: 134px;
        right: 118px;
        top: 148px;

        @include media-breakpoint-up(xl) {
          max-width: 181px;
          right: inherit;
          top: 40px;
          right: 0px;
        }
      }
    }
  }
}
