.startup {
  &__title {
    font-size: 36px;
    line-height: normal;
    font-weight: 700;

    @include media-breakpoint-up(xl) {
      font-size: 56px;
      padding-left: 92px;
    }

    span {
      font-weight: 400;
      display: block;
      padding-left: 52px;

      @include media-breakpoint-up(xl) {
        padding-left: 222px;
      }
    }
    b {
      display: block;
      color: $maincolor;

      @include media-breakpoint-up(xl) {
        padding-left: 90px;
      }
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    padding-left: 44px;
    margin-top: -22px;

    @include media-breakpoint-up(xl) {
      margin-left: 160px;
      font-size: 22px;
      max-width: 636px;
      margin-top: -32px;
    }

    b {
      @include media-breakpoint-up(xl) {
        font-size: 54px;
        font-weight: 700;
        span {
          color: $maincolor;
        }
      }
    }
  }

  &__img {
    width: 347px;
    height: 137px;
    display: block;
    background-size: cover;

    @include media-breakpoint-up(xl) {
      height: 243px;
      width: 610px;
    }
  }
  &__pic {
    padding-bottom: 22px;

    @include media-breakpoint-up(xl) {
      margin-top: -62px;
      display: flex;
      flex-direction: row-reverse;
      margin-left: auto;
      align-items: center;
    }
    p {
      font-style: italic;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
        max-width: 320px;
      }

      span {
        color: $maincolor;
      }
    }
  }

  &__line {
    background-size: cover;
    display: block;
    width: 268px;
    height: 144px;
    margin-top: -22px;

    @include media-breakpoint-up(xl) {
      width: 790.5px;
      height: 166px;
      position: relative;
      left: 139px;
      margin-top: -38px;
    }
  }

  &__bottom {
    @include media-breakpoint-up(xl) {
      display: flex;
      margin-left: auto;
      flex-direction: row-reverse;
    }
    p {
      padding-left: 85px;
      position: relative;
      font-size: 14px;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        width: 538px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 46px;
        width: 24px;
        height: 24px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12.75 11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11Z' fill='%239FF565'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z' fill='%239FF565'/%3E%3Cpath d='M13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7C12.5523 7 13 7.44772 13 8Z' fill='%239FF565'/%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__btn {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
      .btn-page {
        max-width: 444px;
        padding: 0 30px;
      }
    }
  }
}
