.hero {
  background: url(images/bg_thanks.png) no-repeat top center,linear-gradient(to right, #dddddd 0%, #f8f8f8 50%, #dddddd 100%);
  color: #fff;
  background-size: cover;
  position: relative;
  font-family: 'Oswald', sans-serif;
  @media (max-width: 767px){
    background: url(images/bg_thanks.png) no-repeat top 75px center,linear-gradient(to right, #fff 0%, #ffffff 50%, #fff 100%);
  }

  &__container {
    @extend %container;
    padding: 60px 0;
    @media (max-width: 1200px){
      padding: 50px 10px 100px;
    }
    @media (max-width: 767px){
      padding: 20px 10px 65px;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    @media (max-width: 767px){
      padding-bottom: 25px;
    }

  }

  &__title{
    display: inline-block;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;
    text-align: center;
    color: #0e0d87;
    background-color: #bfd1f3;
    padding:5px 25px ;
    margin-bottom: 30px;
    @media (max-width: 767px){
      font-size: 25px;
      padding:5px 12px ;
      margin-bottom: 20px;

    }
  }

  &__sub-title{
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #424246;
    @media (max-width: 767px){
      font-size: 20px;
    }
    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
  }

  &__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 15px;
    @media (max-width: 767px){
      flex-direction: column;
    }
  }

  &__btn{
    max-width: 290px;
    width: 100%;
    display: block;
    line-height: 62px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 15px;
    @media (max-width: 767px){
      margin: 7px;
    }

    &--red{
      background-color:#cd1717;
      &:focus,
      &:active,
      &:hover{
        text-decoration: none;
        color: #ffffff;
        background-color: #9c1717;
      }
    }

    &--blue{
      background-color: #0e0e87;
      &:focus,
      &:active,
      &:hover{
        text-decoration: none;
        color: #ffffff;
        background-color: #10105c;
      }
    }
  }

  &__description{
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #424246;
    @media (max-width: 767px){
      font-size: 18px;
    }
  }

}

.info{
  padding-top: 150px;
  position: relative;
  @media (max-width: 767px){
    padding-top: 65px;
  }
  &:after{
    position: absolute;
    content: " ";
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    width: 306px;
    height: 1px;
    background-color: #0e0c87;

  }
  &:before{
    position: absolute;
    content: " ";
    bottom: 60px;
    left: 50%;
    transform: translate(-50%,0%);
    background: url(images/lector-min.png) no-repeat top center;
    width: 814px;
    height: 342px;
    background-size: contain;
    @media (max-width: 767px){
      width: 304px;
      height: 127px;
      bottom: 60px;
    }
  }
  &__title{
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #424246;

    b{
      font-weight: 500;
      color: #0e0e87;
    }
    @media (max-width: 767px){
      font-size: 20px;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
  }
  &__subtitle{
    font-size: 24px;
    font-weight: 500;
    color: #0e0e87;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    padding-bottom: 375px;
    @media (max-width: 767px){
      font-size: 20px;
      padding-bottom: 150px;
    }
  }
  &__btn{
    max-width: 290px;
    width: 100%;
    display: block;
    line-height: 62px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0px auto;
    background-color: #0e0e87;
    text-transform: uppercase;
    &:focus,
    &:active,
    &:hover{
      text-decoration: none;
      color: #ffffff;
      background-color: #0f0f6a;
    }
  }
}






