{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div>
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
                <p></p><a href="/7min" class="video_news"><span>Н</span>овини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#lectors" class="burger__link">ЛЕКТОРИ</a></li>
                    <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#order" class="burger__link">ЗАМОВИТИ</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <div class="hero__container">
                <div class="hero__content">
                    <p class="hero__title">Ви уcпішно зареєструвалися!</p>
                    <p class="hero__sub-title">Як і обіцяли – подарунок <br/>вже готовий для скачування.
                    </p>
                    <p class="hero__sub-title">Щоб завантажити брошуру у PDF або<br/> DOCX-форматі тисніть на одну з кнопок
                    </p>
                    <div class="hero__buttons"><a href="https://7eminar.com/files/dovidnyk_quarantine2020.pdf" target="_blank" class="hero__btn hero__btn--red">Скачати PDF</a><a href="https://7eminar.com/files/dovidnyk_quarantine2020.docx" target="_blank" class="hero__btn hero__btn--blue">Скачати DOCX</a></div>
                    <p class="hero__description">На Вашу електронну пошту відправлено лист – і&nbspподарунок вже також там.</p>
                    <p class="hero__description">Або буде через декілька хвилин :)</p>
                </div>
                <div class="info">
                    <p class="info__title">Дізнайтеся все про зарплатні та кадрові зміни, зміни з РРО та каси, ПДВ, <br/>єдиного податку, податку на прибуток, податкові перевірки та штрафи<br/>
                    </p>
                    <p class="info__subtitle">на Великому Квартальному Семінарі в ONLINE-форматі (25 березня) або у відеозаписі.</p><a href="https://7eminar.com/25032020?utm_source=7eminar&amp;utm_medium=page&amp;utm_campaign=form14032020" target="_blank" class="info__btn">Детальніше</a>
                </div>
            </div>
        </div>
        <div id="loader-page" class="loader-page">
            <div class="dots">
                <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
            </div>
        </div>
        <div class="loader-backdrop">
            <div class="loader-backdrop__btn">Реєстрація
                <div class="dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>