<div class="landing-content" data-require="{{ page.url('/script.js') }}">
    <div class="rowall"  data-require="@black,main">
        <div class="wrapper wrapper__offer">
                <div class="content">
                    <div class="top-block">
                        <div class="top-block__item">
                            <div class="top-block__logo">
                                <a href="https://7eminar.ua/action28032019"></a>
                            </div>
                        </div>
                        <div class="top-block__item">
                            <a href="/auth" class="top-block__btn btn_login hidden">
                                <span  class="desktop" >ВХІД / РЕЄСТРАЦІЯ</span><span class="mob">ВХІД</span>
                            </a>
                            <a href="/events/access" class="top-block__btn btn_profile hidden">
                                <span class="cabinet ">В кабінет</span>
                            </a>
                        </div>
                    </div>
                    <div class="offer">
                        <h1 class="offer__titel">Договір - оферта <br> <span>про надання консультаційних послуг </span></h1>
                        <p class="offer__place">Україна, м. Київ 25.01.2019</p>
                        <div class="offer__item">
                            <p class="offer__text">
                                <b>Товариство з обмеженою відповідальністю «7емінар УА»</b>, (надалі - «Виконавець») з однієї сторони, пропонує (складає оферту) будь-якій юридичній особі або фізичній особі, діяльність якої безпосередньо пов'язана з підприємницькою діяльністю або виконанням обов'язків найманого працівника, надалі іменується «Замовник», укласти Договір-оферту про надання консультаційних послуг (далі – Договір), розміщений в мережі Інтернет за адресою
                                <a href=" https://7eminar.ua/offer" target="_blank"> https://7eminar.ua/offer</a>, на умовах, наведених нижче.
                            </p>
                            <p class="offer__subtext">Договір є договором приєднання та, згідно зі ст. 634 Цивільного кодексу України, його умови
                                встановлюються Виконавцем.</p>
                        </div>
                    </div>
                </div>

        </div>
        <div class="wrapper wrapper__body">
            <div class="content">
                <ol class="list">
                    <li class="list__title"><b>ТЕРМІНИ І ВИЗНАЧЕННЯ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                З метою однозначного трактування терміни, наведені нижче, використовуються в такому значенні:
                                <ol class="sublist-last" >
                                    <li class="sublist-last__item">
                                        Послуга/Послуги – консультаційні послуги за відповідними темами (програмами), що надаються Виконавцем 			          Замовнику під час Online-трансляції чи за допомогою надання доступу для перегляду Запису. Перелік Послуг за 			    відповідними темами, що надаються Виконавцем за Договором, визначається на веб-сайті https://7eminar.ua.
                                    </li>
                                    <li class="sublist-last__item">
                                        Акцепт оферти – повне та безумовне прийняття умов Договору Замовником шляхом натискання відповідного 			    віконця із назвою «Погоджуюсь з умовами Публічної оферти» на веб-сайті https://7eminar.ua та оплата Послуг 				    Виконавця за допомогою систем електронних платежів доступних на веб-сайті https://7eminar.ua чи шляхом 				    перерахування коштів на розрахунковий рахунок Виконавця за реквізитами вказаними в п.12.
                                    </li>
                                    <li class="sublist-last__item">
                                        Online-трансляція – конкретно визначені, в односторонньому порядку Виконавцем, дата та проміжок часу, під 			    час якого надається Послуга за відповідною темою (програмою), шляхом надання Замовнику доступу до 					    відповідного ресурсу в мережі Інтернет за посиланням у Персональному кабінеті Замовника, для перегляду 				    відео-трансляції, в режимі реального часу. Інформація про Online-трансляцію зазначається на сторінці 					    відповідної Online-трансляції на веб-сайті https://7eminar.ua.
                                    </li>
                                    <li class="sublist-last__item">
                                        Запис – відеозапис, на якому надається Послуга за відповідною темою (програмою). Замовнику надається 				   доступ до відповідного ресурсу в мережі Інтернет за посиланням у Персональному кабінеті Замовника на 				   період, визначений в односторонньому порядку Виконавцем, для перегляду відеозапису. Інформація про Запис 			   зазначається на сторінці відповідного Запису на веб-сайті https://7eminar.ua.
                                    </li>
                                    <li class="sublist-last__item">
                                        Користувач – фізична або юридична особа, що зареєструвалася на веб-сайті https://7eminar.ua.
                                    </li>
                                    <li class="sublist-last__item">
                                        Користувач, що оплатив Послуги на умовах Договору, є Замовником.
                                    </li>
                                    <li class="sublist-last__item">
                                        Виконавець і Замовник/Користувач разом іменуються Сторони.
                                    </li>
                                    <li class="sublist-last__item">
                                        Кабінет користувача – веб-сторінка, розміщена на веб-сайті https://7eminar.ua/profile до якої отримує 						    персональний доступ Користувач/Замовник (за особистими Login, Password), після завершення процедури 				    реєстрації на веб-сайті https://7eminar.ua.
                                    </li>
                                </ol>
                            </li>
                            <li class="sublist__item">
                                В Договорі можуть використовуватися терміни, не визначені в п.1.1 Договору. В такому разі тлумачення терміну 			 проводиться у відповідності з текстом Договору. У випадку відсутності однозначного тлумачення терміну в тексті 			 Договору слід користуватися тлумаченням терміну, що визначається: в першу чергу – законодавством України, в 			 другу чергу – на веб-сайті https://7eminar.ua, потім загально прийнятим тлумаченням, що склалося.
                            </li>
                        </ol>
                    </li>

                    <li class="list__title"><b>ПРЕДМЕТ ДОГОВОРУ ТА ІНШІ ЗАГАЛЬНІ ПОЛОЖЕННЯ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Предметом даного договору є відносини Сторін, за якими Виконавець надає Замовнику Послуги шляхом організації 		 та під час проведення відповідної Online-трансляції чи за допомогою надання доступу для перегляду Запису, а 			 Замовник приймає і оплачує надані Послуги на умовах передбачених даним Договором.
                            </li>

                            <li class="sublist__item">
                                При наданні послуг за даним Договором Виконавець має право залучати третіх осіб. Виконавець несе 						 відповідальність перед Замовником за дії залучених осіб по наданню Послуг як за свої власні.
                            </li>

                            <li class="sublist__item">
                                Послуга, яка надається шляхом організації Online-трансляції, вважається наданою у повному обсязі через 3 дні після 		 завершення Online-трансляції, на якому(ій) надавалась Послуга (на який зареєструвався Замовник), якщо Замовник, 		 за цей час, не надіслав поштою на адресу Виконавця, зазначену в п.12, та електронною поштою на адресу 				 info@7eminar.com рекламації, претензії чи зауваження щодо якості та повноти наданої Послуги.
                            </li>

                            <li class="sublist__item">
                                Послуга, яка надається шляхом надання доступу до перегляду Запису вважається надана у повному обсязі, після 			 відправлення Виконавцем Замовнику на електронну адресу, вказану ним при реєстрації, повідомлення про 				 розміщення Запису у персональному кабінеті Користувача/Замовника.
                            </li>

                            <li class="sublist__item">
                                Послуга за будь яких умов вважається надана Замовнику в повному обсязі та вартість сплачених Замовником коштів 		 не повертається Замовнику.
                            </li>
                        </ol>
                    </li>

                    <li class="list__title"> <b>ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Виконавець зобов’язаний:
                                <ol class="sublist-last">
                                    <li class="sublist-last__item">
                                        Надавати Користувачу Послуги у відповідності з Договором.
                                    </li>
                                    <li class="sublist-last__item">
                                        На вимогу Замовника підписувати та направляти (за власний кошт) на адресу Замовника акти 							    прийому-передачі Послуг. Для цього акти прийому-передачі Послуг мають бути виготовлені і підписані 					    Виконавцем та направлені ним, за власний кошт, на поштову адресу, або електронну адресу, зазначену 					    Замовником. Акцептом оферти Замовник підтверджує дійсність зазначених ним поштової та електронної 					    адреси, а також гарантує Виконавцю їх щоденний моніторинг з метою своєчасного відстежування надходження 			    повідомлень та кореспонденції від Виконавця.
                                    </li>
                                    <li class="sublist-last__item">
                                        Повернути кошти Замовнику протягом 14 календарних днів у розмірі 90% від сплаченої Замовником суми у разі, 			    якщо Замовник завчасно (не пізніше ніж за три дні) до початку Online-трансляції під час якого(ої) буде 						    надаватись Послуга (на який(у) зареєструвався Замовник), офіційно (листом, або електронною поштою на 				    адресу info@7eminar.com) звернувся до Виконавця та повідомив про умови, які унеможливлюють його перегляд 			    Online-трансляції чи Запису та клопотання про повернення сплачених коштів.
                                    </li>
                                    <li class="sublist-last__item">
                                        Повернути Замовнику 100% сплаченої ним суми протягом 14 календарних днів, якщо Online-трансляція не 				    був(ла) проведений (на) з вини Виконавця та не надано доступ до перегляду Запису.
                                    </li>
                                </ol>
                            </li>

                            <li class="sublist__item">
                                Виконавець має право:

                                <ol class="sublist-last">
                                    <li class="sublist-last__item">
                                        Тимчасово призупинити надання Замовнику Послуг через технічні або інші причини, що заважають наданню 				    Послуг на час ліквідації таких причин.
                                    </li>

                                    <li class="sublist-last__item">
                                        Призупинити надання Послуг та/або розірвати Договір в односторонньому порядку, при порушенні Замовником 			    взятих на себе обов’язків та/або гарантій визначених даним Договором.
                                    </li>

                                    <li class="sublist-last__item">
                                        На свій розсуд та в односторонньому порядку визначати дату, формат, час, тему, лекторів, тривалість та інші 				    умови проведення Online-трансляцій/Записів на яких надається Послуга, скасовувати або переносити їх, 					    повідомивши Замовника/Користувача електронною поштою та/або смс-повідомленням на вказаний 						    Замовником при реєстрації контактний e-mail та/або телефон.
                                    </li>

                                    <li class="sublist-last__item">
                                        Встановлювати та змінювати вартість, застосовувати системи знижок на Послуги в односторонньому порядку.
                                    </li>

                                    <li class="sublist-last__item">
                                        Змінити формат, місце, дату та час проведення, інші умови, які стосуються Online-трансляції/Запису, в 						    односторонньому порядку. У випадку змін, Виконавець повідомляє про це Замовника електронною поштою 				    та/або смс-повідомленням на вказаний Замовником при реєстрації контактний e-mail та/або телефон.
                                    </li>

                                    <li class="sublist-last__item">
                                        Проводити Online-трансляцію, як у режимі реального часу, так і шляхом надання доступу Замовнику до 					    перегляду запису. У разі надання доступу до перегляду запису, на Замовника поширюються всі, без винятку, 				    умови цього Договору.
                                    </li>
                                </ol>
                            </li>

                            <li class="sublist__item">
                                Замовник/Користувач зобов’язаний:

                                <ol class="sublist-last">
                                    <li class="sublist-last__item">
                                        До початку Online-трансляції/Запису, пройти процедуру реєстрації та обрати спосіб оплати (оплатити) 					    Online-трансляції/Запису на якому буде надаватись відповідна Послуга, на веб-сайті https://7eminar.ua. 					    Користувач/Замовник погоджується надати правдиву, точну та повну інформацію про себе з питань, 						    запропонованих в реєстраційній формі. Якщо Користувач/Замовник надає недостовірну інформацію, або якщо 			    у Виконавця є підстави вважати надану Користувачем/Замовником інформацію недостовірною, неповною або 			    неточною, Виконавець має право призупинити або скасувати реєстрацію Користувача/Замовника і відмовити 			    Користувачу/Замовнику у наданні Послуг.
                                    </li>

                                    <li class="sublist-last__item">
                                        При замовленні Послуги, яка буде надаватись шляхом Online-трансляції/Запису, здійснити 100% передоплату 			    за допомогою систем електронних платежів доступних на веб-сайті https://7eminar.ua чи шляхом перерахування 			    коштів на розрахунковий рахунок Виконавця за реквізитами вказаними в п.12.
                                    </li>

                                    <li class="sublist-last__item">
                                        При замовленні Послуги, здійснити 100% передоплату Послуги, не пізніше ніж за 1 день до початку  Online-трансляції на якому буде надаватись Послуга (на який зареєструвався Користувач) за допомогою 					    систем електронних платежів доступних на веб-сайті https://7eminar.ua чи шляхом перерахування коштів на 				    розрахунковий рахунок Виконавця за реквізитами вказаними у п.12.
                                    </li>

                                    <li class="sublist-last__item">
                                        Замовник не має права передавати свої права по Договору будь-якій третій стороні, без погодження з 	Виконавцем.
                                    </li>

                                    <li class="sublist-last__item">
                                        Не порушувати майнових, авторських та особистих немайнових прав Виконавця.
                                    </li>
                                    <li class="sublist-last__item">
                                        Отримати Послугу, виключно, під час проведення відповідної Online-трансляції на якому(ій) буде надаватись 				    Послуга (на який(у) зареєструвався Замовник).
                                    </li>

                                    <li class="sublist-last__item">
                                        Для участі у Online-трансляції та перегляду Запису Замовник самостійно забезпечує дотримання належних 				    вимог для свого персонального комп’ютера та мережі Інтернет.
                                    </li>
                                    <li class="sublist-last__item">
                                        Підписати та направити (за власний кошт) Виконавцю Акт прийому-передачі наданих послуг, який надається 				    Виконавцем, або повідомити про причини, які унеможливлюють його підписання. Якщо протягом п’ятнадцяти 			    днів з моменту надіслання Виконавцем листа звичайною або електронною поштою, Замовник не надішле свої 			    письмові заперечення, або підписаний Акт прийому-передачі, вважається, що Замовник підписав Акт 					    прийому-передачі наданих послуг, Послуги надані у повному обсязі, він їх отримав та не має претензій до них 			    по якості та об'єму. Доказом надіслання листа буде відповідна квитанція та опис вкладення у цінний лист або 			    відображення відправлення у електронному вигляді. У будь-якому разі Послуги вважаються наданими з 					    моменту закінчення Online-трансляції або надання доступу Замовнику до відповідного ресурсу в мережі 					    Інтернет за посиланням у Персональному кабінеті для перегляду Запису. Акту прийому-передачі наданих 				    послуг має бути підписаний Замовником не пізніше останнього дня кварталу, в якому була отримана попередня 			    оплата Виконавцем.
                                    </li>
                                    <li class="sublist-last__item">
                                        Самостійно відслідковувати можливі зміни формату, дати, часу, місця проведення, програми та інших умов, які 			    стосуються Online-трансляції/Запису на сторінці відповідного Online-трансляції/Запису (на який(у) 						    зареєструвався Замовник), на веб-сайті https://7eminar.ua та в разі виявлення змін – прийняти їх.
                                    </li>
                                    <li class="sublist-last__item">
                                        Відслідковувати та попереджати випадки потрапляння в “Спам” електронних листів, які направляються 					     Виконавцем з електронної адреси info@7eminar.com. Електронний лист (смс-повідомлення), направлений 				     Виконавцем на зазначену, при реєстрації Користувачем/Замовником, електронну адресу (телефон), 						     вважається доставленим до Замовника, а інформація зазначена в ньому - доведена до відома Замовника.
                                    </li>
                                    <li class="sublist-last__item">
                                        Негайно повідомити Виконавця (поштою, телефоном або електронною поштою на адресу info@7eminar.com) в 			     разі виникнення умов, які унеможливлюють його перегляд Online-трансляції/Запису (на який(у) зареєструвався 			     Замовник), під час якого(ої) буде надаватись Послуга.
                                    </li>
                                    <li class="sublist-last__item">
                                        Повідомити Виконавця, у разі якщо на протязі 24 години з моменту оплати Замовником Послуги 							     лист-підтвердження реєстрації не прийшов на електронну пошту Замовника.
                                    </li>
                                    <li class="sublist-last__item">
                                        Замовник не має права копіювати аудіо та відеоматеріали Online-трансляції/Запису повністю або частково, 				     вести запис Online-трансляції/Запису, а також фіксувати зміст Online-трансляції/Запису повністю або частково 			     на будь-якому матеріальному носії, а також здійснювати будь-які інші дії, прямо не передбачені цим 						     Договором. Замовник зобов’язаний використовувати інформацію, отриману під час перегляду 							     Online-трансляції/Запису, а також Персональне посилання, виключно для власних цілей (для приватного 				     користування), не поширювати і не передавати таку інформацію або її частину третім особам.
                                    </li>
                                </ol>
                            </li>

                            <li class="sublist__item">
                                Користувач має право:

                                <ol class="sublist-last">
                                    <li class="sublist-last__item">
                                        Вимагати у Виконавця надання інформації з питань, що стосуються організації та проведення 								    Online-трансляції/Запису
                                    </li>

                                </ol>
                            </li>

                        </ol>
                    </li>

                    <li class="list__title"><b> СПОСОБИ ЗВ’ЯЗКУ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Сторони будуть здійснювати всі необхідні дії щодо підтримання необхідного оперативного зв’язку (телефон, 				 електрона пошта, кур’єр тощо) за реквізитами, які Виконавець зазначив у Договорі, та за реквізитами, які Користувач 		 вказав під час реєстрації.
                            </li>
                            <li class="sublist__item">
                                З метою підтримки зв'язку, Сторони зобов'язані відповідати на телефонні дзвінки та відповідати на електронну пошту 		 протягом 24 годин з моменту їх отримання.
                            </li>
                        </ol>
                    </li>

                    <li class="list__title"><b>ЦІНА ПОСЛУГ ТА ПОРЯДОК ЗДІЙСНЕННЯ РОЗРАХУНКУ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Виконавець в односторонньому порядку встановлює вартість і умови надання Послуг шляхом розміщення інформації 		 про них на своєму інтернет-веб-сайті https://7eminar.ua. Встановлена вартість і умови надання Послуг діють до 				 наступної зміни на веб-сайті.
                            </li>
                            <li class="sublist__item">
                                Виконавець самостійно встановлює можливість та вартість Послуги за допомогою систем електронних платежів 			 доступних на веб-сайті https://7eminar.ua чи шляхом перерахування коштів на розрахунковий рахунок Виконавця за 		 реквізитами вказаними в п.12.
                            </li>

                            <li class="sublist__item">
                                Оплата Послуг здійснюється в українській гривні шляхом безготівкового перерахування. Замовник здійснює оплату 		 Послуг шляхом перерахування коштів на поточний рахунок Виконавця з рахунку Замовника, шляхом використання 		 банківських карт та інших способів оплати, доступних на веб-сайті https://7eminar.ua.

                            </li>
                            <li class="sublist__item">
                                Вартість сплачених Замовником коштів за Послугу не повертається Замовнику, якщо він заздалегідь не попередив 			 письмово про неможливість перегляду відповідної Online-трансляції/Запису, за винятком п. 5.5 цього Договору.
                            </li>

                            <li class="sublist__item">
                                Вартість сплачених Замовником коштів за Послугу може бути повернена Виконавцем Замовнику (спосіб повернення 		 коштів додатково погоджується Сторонами в усній формі) протягом 14 календарних днів у розмірі 90% від сплаченої 		 Замовником суми, виключно, в разі, якщо Замовник завчасно (не пізніше ніж за три дні) до початку Online-трансляції, 		 під час якого(ої) буде надаватись Послуга, офіційно (листом, або електронною поштою на адресу info@7eminar.com) 		 звернувся до Виконавця із заявою про повернення коштів та повідомив про умови, які унеможливлюють його 				 перегляд Online-трансляції/Запису.
                            </li>
                            <li class="sublist__item">
                                Виконавець повертає Замовнику 100% сплаченої ним суми протягом 14 календарних днів, якщо 							 Online-трансляція/Запис не була (в) проведена (ий) з вини Виконавця.
                            </li>
                        </ol>
                    </li>

                    <li class="list__title"><b>ВІДПОВІДАЛЬНІСТЬ СТОРІН</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                За невиконання або неналежне виконання своїх обов’язків, Сторони несуть відповідальність згідно з умов Договору 		 та положень чинного законодавства України.
                            </li>
                            <li class="sublist__item">
                                Виконавець несе відповідальність за дії залучених ним третіх осіб.
                            </li>

                            <li class="sublist__item">
                                Будь-яке порушення Замовником п.3.3.13 цього Договору буде вважатися порушенням Договору, в результаті якого 		 Замовник втрачає право на використання будь-яких Послуг Виконавця у майбутньому, в тому числі, оплачених. 			 Замовник зобов’язаний відшкодувати всі завдані, в результаті порушення цього Договору, збитки та упущену вигоду 		 Виконавця у повному обсязі. За будь-яку передачу інформації, одержаної Учасником у зв’язку із виконанням
                                цього Договору, в тому числі, але не обмежуючись, здійснення запису та/або поширення записів 							 Online-трансляції/Запису, або їх частини, без попереднього письмового дозволу Виконавця, якщо інше не 					 передбачено цим Договором, Замовник зобов’язаний сплатити Виконавцю штраф, у розмірі 500 000 грн.

                            </li>
                            <li class="sublist__item">
                                Виконавець не несе відповідальності за неможливість участі Замовника у Online-трансляції, яка виникла з причин, не 		 залежних від Виконавця, в т.ч. через невиконання Замовником п. 3.3.9 цього Договору.
                            </li>

                            <li class="sublist__item">
                                Виконавець не несе відповідальність за невідповідність змісту Online-трансляції/Запису особистим очікуванням 			 Учасника. Зміст Online-трансляції/Запису представляє авторські програми та висновки лекторів, які можуть не 				 співпадати з особистими переконаннями та висновками Замовника.
                            </li>
                            <li class="sublist__item">
                                За жодних умов і обставин Виконавець не несе відповідальності за прийняті Замовником або третіми особами 				 рішення на підставі інформації, отриманої на Online-трансляції/Записі.
                            </li>
                            <li class="sublist__item">
                                Сторони звільняються від відповідальності за повне чи часткове невиконання своїх обов’язків за Договором, у 				 випадку настання обставин непереборної сили (форс-мажор), які виникли після підписання даного Договору. До 			 обставин форс-мажор відносяться: стихійні лиха, страйки, зміни чинного законодавства України, рішення 					 директивних органів, оголошення війни, початок бойових дій, блокада, ембарго, міжнародні санкції. Сторона, для якої  		 наступили	форс-мажорні обставини, зобов’язана протягом 72 годин з моменту їх виникнення та документального 			 підтвердження повідомити іншу Сторону про такі факти та вказати орієнтовний строк дії таких форс-мажорних 				 обставин. Належним доказом наявності форс-мажорних обставин є довідка Торгово-промислової палати України за 		 місцем виникнення таких обставин або за місцем знаходження Сторони, яка посилається на такі обставини. У разі
                                наявності обставин непереборної сили строк виконання Сторонами зобов’язань по цьому Договорі продовжується на 		 строк існування обставин форс-мажору.

                            </li>
                        </ol>
                    </li>

                    <li class="list__title"><b>ПОРЯДОК ВИРІШЕННЯ СПОРІВ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Усі спори, що виникають з цього Договору або пов'язані із ним, вирішуються шляхом переговорів між Сторонами. 			 Якщо відповідний спір неможливо вирішити шляхом переговорів, він вирішується в судовому порядку за 					 встановленою підвідомчістю та підсудністю такого спору згідно з чинним законодавством України і умовами цього 			 Договору.
                            </li>

                        </ol>
                    </li>

                    <li class="list__title"> <b>ГАРАНТІЇ ТА КОНФІДЕНЦІЙНІСТЬ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Протягом строку дії цього Договору та протягом 3 (трьох) років після його розірвання, Виконавець, зобов’язаний 			 дотримуватись умов конфіденційності по відношенню до персональних даних Замовника.
                            </li>
                            <li class="sublist__item">
                                Кожна з Сторін підтверджує, що:
                                <ol class="sublist-last" >
                                    <li class="sublist-last__item">
                                        Вона має усі передбачені чинним законодавством України та установчими документами повноваження укласти 			    цей Договір;
                                    </li>
                                    <li class="sublist-last__item">
                                        Не існує будь-яких обмежень на укладення Стороною (підписання представником Сторони) Договору;
                                    </li>
                                    <li class="sublist-last__item">
                                        Умови Договору зрозумілі і відповідають реальній домовленості Сторін;
                                    </li>
                                    <li class="sublist-last__item">
                                        Укладення Договору відповідає інтересам Сторін.
                                    </li>
                                </ol>
                            </li>

                        </ol>
                    </li>

                    <li class="list__title"> <b>СТРОК ДІЇ ОФЕРТИ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Оферта починає діяти з моменту розміщення в мережі Інтернет за адресою https://7eminar.ua/files/offers_7eminar.pdf і 		 діє до моменту відзиву або зміни оферти Виконавцем.
                            </li>

                        </ol>
                    </li>

                    <li class="list__title"><b>СТРОК ДІЇ ДОГОВОРУ ТА ПОРЯДОК РОЗІРВАННЯ ДОГОВОРУ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Договір набирає чинності з моменту акцепту оферти Замовником та діє до моменту виконання усіх зобов’язань 			  Сторін, або до його розірвання за домовленістю Сторін або за ініціативою однієї Сторони у порядку, визначеному 			  Договором.
                            </li>
                            <li class="sublist__item">
                                Договір може бути розірвано:
                                <ol class="sublist-last">
                                    <li class="sublist-last__item">
                                        За згодою Сторін в будь-який час;
                                    </li>
                                    <li class="sublist-last__item">
                                        За ініціативою будь-якої Сторони в разі порушення умов Договору іншою Стороною з обов’язковим письмовим 			      (на електронну пошту) повідомленням іншої Сторони;
                                    </li>
                                    <li class="sublist-last__item">
                                        За ініціативою будь-якої Сторони з письмовим повідомленням (на електронну пошту) іншої Сторони за 15 				     (П’ятнадцять) календарних днів до розірвання Договору.
                                    </li>
                                </ol>
                            </li>
                            <li class="sublist__item">
                                Сторона цього Договору, яка одержала пропозицію про зміну цього Договору, у 10-денний строк після одержання 			   пропозиції повідомляє другу Сторону про результати її розгляду.
                            </li>
                            <li class="sublist__item">
                                Припинення або розірвання Договору не звільняє Сторін від виконання обов’язків, що виникли до, чи в момент 			   припинення або розірвання Договору.
                            </li>

                        </ol>
                    </li>

                    <li class="list__title"><b> ПРИКІНЦЕВІ ТА ПЕРЕХІДНІ ПОЛОЖЕННЯ</b>
                        <ol class="sublist">
                            <li class="sublist__item">
                                Будь-які повідомлення по Договору можуть направлятися Замовником Виконавцю на адресу електронної пошти з 			  адреси, вказаної Замовником при реєстрації, Виконавцем Замовнику на адресу, вказану Замовником при реєстрації 		  з адреси, вказаної в розділі 12 “Реквізити сторони”, цього договору, та звичайною поштою з описом вкладення у 			  цінний лист.
                            </li>
                            <li class="sublist__item">
                                Можлива недійсність однієї або більше умов Договору не тягне за собою недійсності всього Договору або окремих 		  його частин, які залишаються чинними.
                            </li>
                            <li class="sublist__item">
                                Право Замовника і Виконавця в будь-який час укласти Договір про надання Послуг в формі окремого письмового 			  двостороннього документу не є порушенням умов даного Договору.
                            </li>
                            <li class="sublist__item">
                                У випадках, не врегульованих Договором, Сторони керуються чинним законодавством України.

                            </li>
                            <li class="sublist__item">
                                Виконавець є платником єдиного податку третьої групи зі ставкою 5%.
                            </li>
                            <li class="sublist__item">
                                Замовник надає згоду Виконавцю на обробку та використання персональних даних, які можливо стануть йому відомі 		  при виконанні умов Договору відповідно до Закону України «Про захист персональних даних».
                            </li>
                            <li class="sublist__item">
                                Підписуючи цей Договір Замовник також погодився, що у випадку використання електронного цифрового підпису в 		   документообігу у відносинах з Виконавцем в межах виконання цього Договору, Сторонами погоджено використання 		   такого електронного цифрового підпису у порядку і на умовах передбачених Законом України «Про електронний
                                цифровий підпис». При цьому Сторони погодили, що у випадку використання електронного цифрового підпису, 			   додаткове використання печатки (електронної печатки) для документів в межах виконання цього Договору не є 			   потрібним.

                            </li>

                        </ol>
                    </li>
                    <li class="list__title"><b>РЕКВІЗИТИ СТОРОНИ</b>
                        <p> ТОВ "7емінар УА"</p>
                        <p> Місцезнаходження: 04112 м. Київ, вулиця Олени Теліги, будинок 4</p>
                        <p> IBAN UA563218420000026007053036202 в АТ КБ "ПРИВАТБАНК"</p>
                        <p> ЄДРПОУ 42770476</p>
                        <p> Є платником єдиного податку за ставкою 5%, 3 група</p>
                        <p>e-mail: info@7eminar.com</p>
                        <p> тел: (044) 507-22-77</p>
                    </li>
                </ol>
            </div>
        </div>
<div  class="wrapper wrapper__footer">
    <div class="content">
        <div class="footer1">
            <div class="inner">
                <div class="f1 inner__item">
                    <div class="social">
                        <a target="_blank" href="https://www.facebook.com/7eminar" class="social"><i class="fab fa-facebook-square"></i></a>
                        <a target="_blank" href="https://www.instagram.com/7eminar/" class="social"><i class="fab fa-instagram"></i></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg" class="social"><i class="fab fa-youtube"></i></a>
                        <a  href="https://7eminar.ua/subnews" target="_blank" class="social"><i class="fas fa-envelope"></i></a>
                    </div>
                    <p>7eminar ® є зареєстрованою <br>  торговою маркою</p>
                </div>
                <div class="f2 inner__item">
                    <h3>ПРО НАС</h3>
                    <p>7eminar.ua – найбільша освітня <br> платформа для бухгалтерів та <br> фінансистів</p>
                </div>
                <div class="f3 inner__item">
                    <h3>КОНТАКТИ</h3>
                    <i class="fas fa-map-marker-alt"></i><a target="_blank" href="https://goo.gl/maps/J2Nq9eWYfpz">
                        04112 м. Київ<br>
                        <p>вул. Олени Теліги, 4 оф. 34</p>
                    </a>
                    <i class="fas fa-phone"></i><a class="tell" href="tel:+380445072277"> (044) 507-22-77</a> <br>
                    <i class="fas fa-envelope"></i><a  href="mailto:info@7eminar.com">info@7eminar.com</a>
                </div>
                <div class="f4 inner__item">
                    <h3>МІЙ КАБІНЕТ </h3>
                    <div class="f4__item">
                        <a target="_blank" href="https://7eminar.ua/events/allvideo">Відео</a>
                        <a target="_blank" href="https://7eminar.ua/events/themes/zh_kadry">Теми</a>
                        <a target="_blank" href="https://7eminar.ua/events/lectors/tm">Лектори</a>
                        <a target="_blank" href="https://7eminar.ua/offer">Договір-оферта</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tl-call-catcher"> <!--BANNER ON SITE--> </div>
</div>

</div>