.about{
  position: relative;

  &__container{
    @extend %container;

    @media (max-width: 1200px){
      padding-left: 35px;
    }

    @media (max-width: 767px){
      padding-left: 10px;
    }
  }

  &__title{
    @extend %title;
  }

  &__content{
    max-width: 650px;
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 2px #e1e1e1;
    background-color: #ffffff;
    margin: 35px auto 0;
    padding: 50px 0;
    @media (max-width: 767px){
      padding: 25px 20px ;
    }
  }

  &__list {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__item {
    position: relative;
    counter-increment: my-awesome-counter;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #363636;
    padding-left: 45px;
    padding-bottom: 19px;

    p{
      text-align: left;
      width: 100%;
    }

    @media (max-width: 767px){
      font-size: 15px;
      line-height: 1.5;
      padding-left: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &:before {
      position: absolute;
      left: -20px;
      top: 0;
      content: counter(my-awesome-counter) ". ";
      color: #fff;
      font-weight: bold;
      width: 40px;
      height: 40px;
      background-color: #223c8b;
      border-radius: 50%;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      @media (max-width: 767px){
        position: relative;
        margin-bottom: 10px;
        left: 0px;
      }
    }

    &:last-child{
      padding-bottom: 0;
    }
  }
}