.package{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 235px;
  width: 100%;
  background-color: #f4f4f4;

  &--platform{
    background-image: -webkit-gradient(linear, left top, right top, from(#ff6b2a), to(#ff9c28));
    background-image: -o-linear-gradient(left, #ff6b2a, #ff9c28);
    background-image: linear-gradient(to right, #ff6b2a, #ff9c28);
  }

  &__header{
    background-color: #223daa;
    padding: 0px 0px 30px;
    color: #ffffff;

    &--platform{
      color: #363636;
      background-color: transparent;
    }
  }

  &__body{
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 30px 0 70px;
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;

    &--platform{
      border-left: none;
      border-right: none;
    }
  }

  &__footer{
    padding: 0px 0px 30px;
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    border-left: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;

    &--platform{
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }

  &__title{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    min-height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &--platform{
      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__price{
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: 1.8px;
    text-align: center;

    span{
      font-size: 18px;
      letter-spacing: 0.9px;
    }
  }

  &__old-price{
    padding: 20px 0;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: center;
  }

  &__list {
    padding: 0 10px;
    list-style: none;
    text-align: left;
    font-size: 15px;
    line-height: 24px;
    color: #010101;
    margin: 0;

    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 5px;
      color: #000;

      a {
        color: #0900b9 ;
        text-decoration: underline;

        &.is-inactive {
          color: #acabab;
          cursor: not-allowed;
        }
      }

      &:before {
        position: absolute;
        font-family: "FontAwesome";
        color: #00c738;
        content: "\f00c";
        top: 2px;
        left: 8px;
      }

      &.is-inactive {
        color: #acabab;

        &:before {
          position: absolute;
          font-family: "FontAwesome";
          color: #acabab;
          content: "\f00d";
          top: 2px;
          left: 8px;
        }
      }

      &.is-platform {
        color: #2a2a2a;

        &:before {
          position: absolute;
          font-family: "FontAwesome";
          color: #943300;
          content: "\f00c";
          top: 2px;
          left: 8px;
        }
      }
    }

    &--footer {
      margin-bottom: 30px;
      color: #fff;
    }
  }

  &__btn{
    max-width: 185px;
    width: 100%;
    border-radius: 22px;
    -webkit-box-shadow: 0px 10px 32px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 32px 0 rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    display: block;
    line-height: 44px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.8px;
    text-align: center;
    color: #223daa;
    text-transform: uppercase;
    margin: 0 auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    &:active,
    &:focus,
    &:hover{
      background-color: #f4efff;
      text-decoration: none;
      -webkit-box-shadow: 0px 15px 37px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0px 15px 37px 0 rgba(0, 0, 0, 0.4);
    }

    &--platform{
      max-width: 210px;
      color: #363636;

      &:active,
      &:focus,
      &:hover{
        background-color: #ffeede;
        text-decoration: none;
        color: #363636;
        -webkit-box-shadow: 0px 15px 37px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0px 15px 37px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }
}