.profession{
  position: relative;
  background: url(images/block_bg.png) center top no-repeat,-webkit-gradient(linear, left bottom, left top,  from(#1e316b), to(#284cb7));
  background: url(images/block_bg.png) center top no-repeat,-o-linear-gradient(bottom, #1e316b, #284cb7);
  background: url(images/block_bg.png) center top no-repeat,linear-gradient(to top, #1e316b, #284cb7);
  text-align: center;
  background-size: cover;

  &__container{
    @extend %container;
    padding-top: 55px;

    @media (max-width: 767px){
      padding-top: 40px;
    }
  }

  &__title{
    @extend %title;
    color: #fff;
  }

  &__list{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 55px 0;

    @media (max-width: 767px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 35px 0 25px;
      margin-bottom: 0;
    }
  }

  &__item{
    padding: 0 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;

    @media (max-width: 1200px){
      padding: 0 20px;
    }

    @media (max-width: 767px){
      padding: 0px;
      margin-bottom: 25px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    &:first-child{
      padding-left: 0;
    }

    &:last-child{
      padding-right: 0;
    }

    img{
      border-radius: 50%;
      -webkit-box-shadow: 0px 17px 10px 0 rgba(60, 22, 144, 0.25);
      box-shadow: 0px 17px 10px 0 rgba(60, 22, 144, 0.25);
    }
  }

  &__text{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__btn{
    @extend %btn;
  }
}