.themes {

  &__container {
    @extend %container;
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: 760px){
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 35px;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #424342;
    @media (max-width: 760px){
      font-size: 18px;
    }
  }
}