@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css?family=family=Exo+2:400,500i,600,700,900|Roboto:300,400,500,700,900&display=swap&subset=cyrillic');
//-font-family: 'Exo 2', sans-serif;
//-font-family: 'Roboto', sans-serif;

button{
  outline: none!important;
  &:focus,
  &:active,
  &:hover{
    outline: none!important;
  }
}
.branding-page #main{
  width: 100%;
}

.branding-page{
  padding-top: 0px;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #fff;
  .heading{
    display: none;
  }
}


.circle{
  display: none;
}
.teler-wd__flipper_wrapper{
  @media (max-width: 760px){
   display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  max-height: 1000000px;
}

body {
  background: #fff;
}

#main {
  width: 100%;
  overflow: hidden;
}

%container {
  position: relative;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1140px){
    max-width: 767px;
  }
  @media (max-width: 767px){
    max-width: 320px;
  }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.seminar-landing {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}
.order__gift{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  color: #424342;
  text-transform: uppercase;
  padding-bottom: 20px;
  span{
    font-size: 25px;
  }
}
#bg_popup{
  display: none!important;
}
#bg_popup_two{
  display: none!important;
}
#bg_popup_three{
  display: none!important;
}
.branding ~ .seminars-container {
  @media (max-width: 1000px){
    padding-top: 32px;
  }

}
.branding ~ .seminars-container #main {
  @media (max-width: 1000px){
    width: 100%;
    overflow-x: inherit;
    position: relative;
    z-index: 3;
    padding-top: 0;
    background: #fff;
  }

}
@import "variables";
@import "mixins";
@import "header";
@import "hero";
@import "menu";
@import "knowledges";
@import "advantages";
@import "lectors";
@import "themes";
@import "lessons";
@import "lesson";
@import "program";
@import "order";
@import "pricing-timer";
@import "package";
@import "video";
@import "footer";
@import "partners";
@import "platform-banner";
@import "modal-video";
@import "loader-page";


