    <div class="hero">
    <div data-require="@black,auth" class="hero__form hero__content modal__inner modal__inner--no-modal modal_header_auth">
        <h1>Ой, а ви вже зареєстровані…</h1>
        <p id="text_logout">{{ page.options['text_auth']|default('') }} <a id="rem" href="/events/access">за посиланням</a>.
            {#<br>
           <span>Або передплатіть <a class="platform" href="{{ page.options['platform_link']|default('/') }}">Бухгалтерську Відеоплатформу №1</a></span>#}

        </p>
        <div id="form_logout" class="hero-form__body">
            <p>{{ page.options['text1']|default('') }}<br/>{{ page.options['text2']|default('') }}</p>
            <form id="authForm" action="" method="post" data-validate="ajax" class="modal__form form">
                <div class="form-group">
                    <label for="email" class="form__label">Логін:</label>
                    <input id="reg-email" name="email" type="email" value="" aria-invalid="true" data-msg-email="Введіть коректно e-mail" data-msg-required="Введіть коректно e-mail" required="" autocomplete="false" readonly=""/>
                </div>
                <div class="form-group">
                    <label for="login-password-1" class="form__label">Пароль:</label>
                    <input id="new-pass" name="password" type="password" aria-invalid="true" value="" data-msg="Невірний e-mail або пароль" required="" minlength="6" autocomplete="false"/>
                </div>
                <div class="refresh_pass">
                    <p>Раптом ви забули пароль – отримайте новий <a href="/restore" target="_blank">за посиланням</a>.
                    </p>
                </div>
                <input name="source" type="hidden" value=""/>
                <div class="hero-form__btn">
                    <input type="submit" value="Увійти" id="#elem" class="btn btn-default"/>
                </div>
            </form>
           {# <h4>Приємного перегляду!</h4>#}
        </div>
    </div>
</div>


<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>


<script>

    SystemJS.import('jquery').then(function ($) {
        var loader = $('.loader-backdrop')
        var loaderPage = $('#loader-page');
        loaderPage.delay(850).fadeOut('slow');
       /* var project = localStorage.getItem('project');
        if (project == "psbo"){

            $("#rem").attr("href", "/events/669");

        }else if(project == "zp1c"){

            $("#rem").attr("href", "/events/1116");

        }else if(project == "avto"){
            $("#rem").attr("href", "/events/981");

        }else if(project == "bszp"){

            $("#rem").attr("href", "/events/1213");

        }else if(project == "bkadr"){

            $("#rem").attr("href", "/events/1087")
        }else{
            $("#rem").attr("href", "/events/access");
        }*/
        $('#authForm')
            .on('submit', function (e) {
                e.preventDefault()
                SystemJS.import('@clients').then(function (clients) {
                    clients.Auth.login($('[name="email"]', e.currentTarget).val(), $('[name="password"]', e.currentTarget).val()).then(function (client) {
                        location.href = '/events/access'
                       /* if (project == "psbo"){
                            location.href = '/events/669'
                        }else if(project == "zp1c"){
                            location.href = '/events/1116'
                        }else if(project == "avto"){
                            location.href = '/events/981'
                        }else if(project == "bszp"){
                            location.href = '/events/1213'
                        }else if(project == "bkadr"){
                            location.href = '/events/1087'
                        }else{
                            location.href = '/events/access'
                        }*/

                    })
                })
            })
            .find('#reg-email').val(sessionStorage.getItem('userEmail'))
    })
</script>