<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div class="wrapper wrapper_hero">
        <div class="content">
            <div class="block-hero">
                <div class="block-hero__menu">
                    <div class="b-menu">
                        <ul class="b-menu__list b-menu__list--left">
                            <li class="b-menu__item"><a href="https://7eminar.ua/" target="_blank" class="b-menu__link link-js-dealer">Придбати</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-hero__wrap">
                    <h1 class="block-hero__title">online-відповіді<br/>на запитання</h1>
                    <p class="block-hero__text">Для передплатників<br/>Бухгалтерської відеоплатформи №1</p>
                    <div class="block-hero__order hero-order"><a href="https://7eminar.ua/" target="_blank" class="hero-order__btn link-js-dealer">Передплатити</a></div>
                </div>
                <div class="vidModal">
                    <button type="button" data-toggle="modal" data-target="#myModal" data-vidId="LOHtuZD_zP0" class="but pulse"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__new">
        <div class="content">
            <div class="new-block">
                <div class="new-block__item--bg">
                    <div class="puls puls_one"></div>
                    <div class="puls puls_two"></div>
                    <div class="puls puls_three"></div>
                </div>
                <div class="new-block__item">
                    <div class="new-block__title">СПЕЦПРОПОЗИЦІЯ!</div>
                    <div class="new-block__text">Тільки для передплатників Бухгалтерської відеоплатформи №1: можливість задати свої питання та отримати на них відповіді від найкращих лекторів України.</div>
                    <div class="new-block__text">Бухгалтерська відеоплатформа №1 – це понад 150 курсів та вебінарів, які доступні для перегляду прямо зараз.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__lectors">
        <div class="content">
        </div>
    </div>
    <div class="wrapper wrapper__lectors">
        <div class="content">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>25 травня</p><span>Питання приймаються з 11 по 20 травня</span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li> ПДВ;</li>
                                        <li> витрати;</li>
                                        <li> податкова звітність;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li>собівартість;</li>
                                        <li>РРО розрахунки;</li>
                                        <li>касові операції.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Незалежний практикуючий консультант з питань оподаткування та бухгалтерського обліку, сертифікований тренер та експерт з питань податкового та фінансового планування.<br/>Має понад 18000 годин публічних виступів, з них 12000 годин семінарів-практикумів і тренінгів.</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="https://7eminar.com/storage/seminars/pages/test/images/new/vw.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Вікторія Величко</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__lectors">
        <div class="content">
            <div class="block-lector">
                <div class="block-lector__item">
                    <div class="block-lector__date">
                        <p>22 червня</p><span>Питання приймаються з 8 по 17 червня</span>
                    </div>
                    <div onclick="this.classList.toggle('clicked')" class="buttons fold_p1">Про лектора</div>
                    <div class="contain">
                        <div class="theme js-click first">
                            <div class="theme-title">Теми для запитань:</div>
                            <div class="theme-list">
                                <div class="theme-list__item">
                                    <ul>
                                        <li> податкова звітність;</li>
                                        <li> єдиний податок;</li>
                                        <li> основні засоби;</li>
                                    </ul>
                                </div>
                                <div class="theme-list__item">
                                    <ul>
                                        <li> витрати;</li>
                                        <li> МСФЗ;</li>
                                        <li> ФОП.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="regalia second">
                            <div class="theme-title">Про лектора:</div>
                            <p>Практикуючий бухгалтер та податковий консультант CAP/СІРА, АССА DipIFR, IFA.<br/>Лектор за спеціалізацією «Податки та бухоблік»</p>
                        </div>
                    </div>
                </div>
                <div class="block-lector__item block-lector__item--regalia"><img src="https://7eminar.com/storage/seminars/pages/test/images/new/mk.png" class="lector-photo"/>
                    <div class="lector-name">
                        <p>Мар'яна Кавин</p>
                    </div>
                </div>
            </div><a href="https://7eminar.ua/" target="_blank" class="btn_new link-js-dealer">Передплатити</a>
        </div>
    </div>
    <div class="wrapper wrapper_video">
        <div class="content">
            <div id="question" class="block-video">
                <div class="block-video__container">
                    <p class="b-title b-title--video">Детальнiше про Бухгалтерську відеоплатформу №1
                    </p>
                    <div class="block-video__player">
                        <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
                <div class="video__btn--wrap"><a href="https://7eminar.ua?utm_source=answers7eminar_rectangle_peredplata&amp;utm_medium=button&amp;utm_campaign=peredplata_7eminar.ua" target="_blank" class="video__btn js-banner-link link-js-dealer">Дізнатися більше про платформу</a>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <p id="closeModal" data-dismiss="modal" class="close-modal"></p>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
</div>