.info{

  &__container {
    @extend %container;
    text-align: left;

  }
  &__content{
    display: flex;
    align-items: flex-end;

    @media (max-width: 1200px){
      justify-content: space-between;
    }

    @media (max-width: 767px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;


      @media (max-width: 1200px){
        width: 43%;
      }

      @media (max-width: 767px){
        width: 100%;
      }


      li{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        color: #494949;
        position: relative;
        padding-left: 20px;
        margin-bottom: 35px;

        @media (max-width: 767px){
          font-size: 16px;
        }


        &:after{
          position: absolute;
          content: "";
          background: url(images/checked.png) no-repeat center  center;
          width: 14px;
          height: 14px;
          left: 0;
          top: 8px;
        }

        b{
          color: #d4412c;
        }
      }
    }
  }

  &__title{
    @extend %title;
    color: #d4412c;




    @media (max-width: 767px){
      margin-bottom: 30px;
    }
  }
}