.lectors{
  background: url(images/page_BG-min.jpg) no-repeat bottom  center;
  &__container {
    @extend %container;
    text-align: center;
    position: relative;
    z-index: 1;



  }

  &__title{
    @extend %title;

    text-align: left;

    @media (max-width: 1200px){
    text-align: center;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1200px){
      justify-content: center;
    }
  }

  &__item{
    max-width: 360px;
    width: 100%;
    margin: 15px 0;
    position: relative;

    @media (max-width: 1200px){

      margin: 15px;
    }
    @media (max-width: 767px){
      margin: 15px 0;
    }
    &:nth-child(-n+2){
      max-width: 555px;
      @media (max-width: 767px){
        max-width: 360px;
        width: 100%;
        height: 367px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;

        img{
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }


    }


  }

  &__footer{
    text-align: left;
    background-color: #fff;
    padding: 25px 25px 15px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #282828;
    min-height: 160px;

    @media (max-width: 767px){
      min-height: auto;
    }
  }

  &__btn{
    padding-top: 90px;

    @media (max-width: 767px){
      padding-top: 30px;
    }

    .btn{
      @extend %btn;
    }
  }
}