.pricing-timer {
  padding: 0px 0px 80px;

  @media (max-width: 767px){
    padding: 0px 0px 30px;

  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 130px;
    height: 130px;
    background-image: linear-gradient(to top, #274bfe, #10209b);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    margin-right: 30px;
    font-weight: bold;

    @media (max-width: 767px){
      margin-right: 5px;
      font-size: 15px;
      width: 70px;
      height: 70px;
      border-radius: 20px;
    }

    &:last-child{
      margin-right: 0;
    }

    > span {
      font-family: 'Open Sans', sans-serif;
      font-size: 48px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      line-height: 1;

      @media (max-width: 767px){
        font-size: 25px;

      }

      &.separate {
        display: none;
      }
    }

    &:nth-child(odd) {



      @media (max-width: 980px){

      }
      @media (max-width: 600px){

      }
    }
    &:nth-child(even ) {
      display: none;

    }
  }
}
