.info {
  .container {
    @extend %content;
    position: relative;
    padding-top: 88px;
    padding-bottom: 350px;

    @include media-breakpoint-up(xl) {
      padding-bottom: 200px;
    }
  }

  &__dec-1 {
    position: absolute;
    top: 105px;
    right: -167px;
    width: 242.163px;
    height: 359px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(xl) {
      width: 245.572px;
      height: 483.887px;
      right: inherit;
      left: -300px;
      top: 0;
    }
  }

  &__dec-2 {
    position: absolute;
    bottom: -139px;
    right: -167px;
    width: 586px;
    height: 168px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(xl) {
      right: inherit;
      left: -50px;
      bottom: 0;
    }
  }

  &__title {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    line-height: 134%;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 40px;
      max-width: 656px;
    }

    span {
      color: $orange;
      font-weight: 700;
    }
  }

  &__img {
    width: 455px;
    height: 391px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    @include media-breakpoint-up(xl) {
      width: 587px;
      height: 504px;
      left: inherit;
      right: 0;
      bottom: inherit;
      top: 0;
      transform: translate(0);
    }
  }
}
