
//-font-family: 'Amatic SC', cursive;
.hero{
  font-family: Arial,Arial MT,Tahoma,Helvetica,Liberation Sans,Sans,sans-serif;
  position: relative;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 900px){
    flex-direction: row;
    height: auto;
  }
  @media (max-width: 767px){
    padding-top: 0;
    flex-direction: column;

    &:before{
      position: absolute;
      content: " ";
      left: 50%;
      bottom: 0;
      transform: translate(-50%,0%);
      background: url(images/hero_320.png) bottom  center no-repeat;
       width: 320px;
      height: 300px;
    }
  }
  &__block{
    padding-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1200px){
      padding-top: 60px;
      align-items: center;
      padding-bottom: 60px;
    }
    @media (max-width: 767px){
      padding-top: 25px;
      padding-bottom: 230px;
      align-items: center;
    }
  }

  &__title{
    font-size: 37px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.37px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 18.5px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.19px;
    }
    p{
      margin-bottom: 0;
    }
  }

  &__sub-title{
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
    text-align: center;
    color: #ffaf30;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 30.5px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 3.05px;
      text-align: center;
    }

    p{

      margin-bottom: 0;

    }

  }

  &__sub-description{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.32px;
    text-align: center;
    color: #686868;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 14px;
    }
  }

  &__description{
    padding: 25px 0 45px;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    font-weight: 600;
    @media (max-width: 1200px){
      padding-bottom: 30px;
      text-align: left;
    }
    @media (max-width: 767px){
      text-align: center;
      line-height: 1.4;
      font-size: 14px;
      padding: 20px 0 ;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
    span{
      color: #ffaf30;
    }

  }
  &__date{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #bbbbbb;
    padding-bottom: 25px;
  }

  .hero-btn{
    padding: 0px 0 120px;
    max-width: 380px;
    width: 100%;
    @media (max-width: 1100px){
      padding-bottom: 15px;
    }
    @media (max-width: 767px){
      margin: 15px auto 0;
    }
    .btn{
      max-width: 380px;
      width: 100%;
      -webkit-box-shadow:  0 5px 24px rgba(255, 168, 0, 0.35);
      box-shadow: 0 5px 24px rgba(255, 168, 0, 0.35);
      border-radius: 4px;
      background-color: #ffa800;
      margin-top: 0;
      font-size: 20px;
      font-weight: 600;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      height: 54px;
      line-height: 40px;
      padding: 5px 20px;
      @media (max-width: 767px){
        font-size: 16px;
        font-weight: bold;
        padding: 5px 0;
      }
      &:hover{
        -webkit-box-shadow:  0 5px 24px rgba(255, 156, 0, 0.35);
        box-shadow: 0 5px 24px rgba(255, 156, 0, 0.35);
        background-color: #ff9c00;
      }
    }
  }
}


.gift{
  margin-top: 0px;
  width: 100%;
  @media (max-width: 1200px){
    margin-top: -30px;
  }

  img{
    width: 634px;
    @media (max-width: 1200px){
      width: 385px;
      height: 310px;
    }
    @media (max-width: 767px){
      width: 100%;
      height: auto;
      margin: 0 auto;
    }

  }





  &__title{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: center;
    color: #afafaf;
    margin-top: 0px;


    @media (max-width: 767px){
      margin-top: 0;
    }
  }

  &__sub-title{
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.7px;
  }
}

