@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800,900&display=swap&subset=cyrillic');


//-font-family: 'Inter', sans-serif;
.html{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body{
  background-color: #ffe2ec;
}
p{
  margin-bottom: 0;
}
.btn {
  margin: 0 auto;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  border: 1px solid #FF5722;
  border-radius: 21px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.27);
  background-image: linear-gradient(to top, #FF5722 0%, #FF5722 100%);
  text-transform: uppercase;


  &:hover,
  &:active {
    background:transparent;
    color: #8017cb;
  }
}

@import "haeding";
@import "menu";
@import "hero";
@import "footer";
@import "loader";
@import "loader-page";

