<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте брошуру <br>
                        «Зразки заповнення податкових накладних <br>
                        та розрахунків коригувань»</p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo27042020_gift1"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">зареєструватися </button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
            </div>
            <div class="hero__description">Також ви отримуєте можливість прослухати <br>
                бухгалтерську online-конференцію <b>абсолютно безкоштовно</b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>

        </div>
    </div>

    <div class="themes">
        <div class="themes__container">
            <p class="themes__title"> Бухгалтерська online-конференція 27 квітня</p>
            <p class="themes__sub-title"> «Що (не)можна робити у травні: зарплата, ФОП, податки, оренда, інтернет-торгівля»</p>
            <div class="themes__item">
                <div class="themes__header"><p>Про що ви дізнаєтеся?</p></div>
                <div class="themes__body">
                    <p class="themes__time">11:00–13:00</p>

                    <ul class="themes__list lector">
                        <li class="lector__item lector__item--vv">
                            <div class="lector__body">
                                <p class="lector__title">ПДВ: податкові капкани весняного карантину</p>
                                <p class="lector__info">  Вікторія Величко, сертифікований тренер, практикуючий <br> консультант з питань оподаткування</p>
                            </div>
                        </li>
                        <li class="lector__item lector__item--ta">
                            <div class="lector__body">
                                <p class="lector__title">     Працювати (не)можливо звільнити</p>
                                <p class="lector__info">     Тимур Алієв, консультант з питань бухгалтерського обліку     <br>       та оподаткування</p>
                            </div>
                        </li>
                        <li class="lector__item lector__item--ig">
                            <div class="lector__body">
                                <p class="lector__title">Інтернет-торгівля як працюючий бізнес: розрахунки, <br> доставка, РРО і не тільки</p>
                                <p class="lector__info">   Ірина Губіна, головний редактор 7eminar.com, експерт з податкового  <br> та бухгалтерського обліку</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="themes__break">
                    <p class="themes__time">13:00–14:00</p>
                    <p class="themes__pause">Перерва</p>
                </div>

                <div class="themes__body">
                    <p class="themes__time">14:00–16:00</p>

                    <ul class="themes__list lector">
                        <li class="lector__item lector__item--mk">
                            <div class="lector__body">
                                <p class="lector__title"> ФОПівські ЄСВ і ЄП: порахувати та сплатити вчасно</p>
                                <p class="lector__info">   Мар’яна Кавин, податковий консультант CAP/СІРА, АССА DipIFR, IFA</p>
                            </div>
                        </li>

                        <li class="lector__item lector__item--os">
                            <div class="lector__body">
                                <p class="lector__title">  Платити / не платити орендну плату і податки. <br>  Ризики та відповідальність</p>
                                <p class="lector__info"> Олександр Смирнов, адвокат, податковий консультант</p>
                            </div>
                        </li>

                        <li class="lector__item lector__item--tm">
                            <div class="lector__body">
                                <p class="lector__title">  Зарплата, відпускні, допомоги: всі варіанти можливі</p>
                                <p class="lector__info">       Тетяна Мойсеєнко, шеф-редактор 7eminar.com, експерт з трудового
                                    <br>та кадрового обліку</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="#form" target="_blank" class="themes__btn">стати учасником</a>
        </div>
    </div>

    <div class="video">
        <div class="video__container">
            <div id="question" class="video__block">
                    <p class="video__title">Відеозапрошення</p>
                    <p class="video__sub-title">на online-конференцію</p>
                    <div class="video__player">
                        <iframe src="https://www.youtube.com/embed/ULt5v3TnVQU?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
              <a href="#form" target="_blank" class="video__btn">Приєднатися</a>


            </div>
        </div>
    </div>
</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
