{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div class="hero" >
        <div class="hero__content">
            <div class="hero__header">
                <p class="hero__title"> <span>Ой, а ви вже реєструвалися! Ваші дані є.</span><br>
                </p>
                <p class="hero__subtitle">Перевіряйте email – там лист з подарунком!</p>
            </div>

            <div class="hero__block">
                <div class="block">
                    <p class="block__title">Зверніть увагу</p>
                    <p class="block__text">
                        Щоб дивитися усі вебінари Великого Бухгалтерського
                        Online-марафону безкоштовно – ставайте передплатником <a href="https://promo.dtkt.ua/7eminar" > Бухгалтерської відеоплатформи №1</a> вже зараз.

                    </p>

                    <a href="https://promo.dtkt.ua/7eminar" class="block__btn">Передплатити</a>
                </div>
            </div>


        </div>
    </div>


    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

