.hero {
  height: 625px;
  background: #a9ddf3 url(images/bg-hero-sm.jpg) no-repeat top center;
  background-size: cover;

  @include mobile() {
    background: #a9ddf3 url(images/bg-hero-lg.jpg) no-repeat top center;
    background-image: url(images/bg-hero-lg.jpg), linear-gradient(to right,  #eee0d5 0,  #eee0d5 50%, #a6d0df 50%, #a6d0df 100%);
    background-size: unset;
  }

  @include laptop-l() {
    height: 680px;
  }

  .container {
    padding-top: 15px;

    @include mobile() {
      padding-top: 50px;
    }

    @include laptop-l() {
      padding-top: 110px;
    }
  }

  &__main {
    width: 300px;
    margin: 0 auto 15px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: rgba(160, 224, 247, 0.75);

    @include mobile() {
      width: 540px;
      margin-bottom: 35px;
      padding: 40px 30px;
      border-radius: 10px;
      background-color: rgba(160, 224, 247, 0.4);
    }

    @include laptop-l() {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__dates {
    display: inline-block;
    margin-bottom: 20px;

    @include mobile() {
      margin-bottom: 35px;
      font-size: 30px;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #3f1e02;

    @include mobile() {
      font-size: 64.5px;
      margin-bottom: 35px;
    }
  }

  &__subtitle {
    margin: 0;
    color: #3f1e02;

    @include mobile() {
      font-size: 24px;
    }
  }

  &__btn {
    margin: 0;
    text-align: center;

    @include laptop-l() {
      text-align: left;
    }
  }
}
