$menu-text-color: #000000;

.menu {
  position: fixed;
  top: 55px;
  right: -100%;
  width: 80%;
  height: 100%;
  background-color: #fff;

  @include laptop-l() {
    display: block;
    position: relative;
    width: 100%;
    right: initial;
    top: initial;
    background-color: inherit;
  }

  &__container {
    position: relative;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;

    @include laptop-l() {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    font-size: 0;

    li {
      position: relative;
      padding: 10px 20px;
      color: $menu-text-color;

      @include laptop-l() {
        display: inline-block;
      }

      a {
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        color: $menu-text-color;
        transition: all 150ms linear;

        @include laptop-l() {
          display: block;
        }

        &:hover,
        &:active,
        &:focus {
          color: #ed511a ;
        }
      }
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 100px;
    width: 200px;
    height: 40px;
    margin-left: -100px;
    padding: 0;
    background-color: #092e8d;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    text-transform: uppercase;

    @include laptop-l() {
      display: none;
    }
  }
}