$top-line-bg-color-lg: #f6d000;
$top-line-bg-color-sm: #262d4a;

.top-line {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background: $top-line-bg-color-sm;

  @include laptop-l() {
    position: relative;
    background: $top-line-bg-color-lg;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &:before, &:after {
      display: none;
    }

    @include laptop-l() {
      display: block;

      @include clearfix();
    }
  }

  &__logo,
  &__burger {
    @include laptop-l() {
      display: none;
    }
  }


}