.place {
  text-align: center;
  color: #fff;
  padding-top: 80px;
  @media (max-width: 767px){
    padding-top: 30px;
  }
  &__container {
    @extend %container;
    padding: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px){
    flex-direction: column;
      padding: 0 0 30px;
    }
  }
  &__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 653px;
    width: 566px;
    @media (max-width: 1200px){
      height: auto;
      width: 49%;
    }
    @media (max-width: 767px){
      width: 100%;
    }
  }

  &__item{
    position: relative;
    img{
      width: 100%;
    }
    @media (max-width: 767px){
      margin-top: 15px;

    }

    &--two{
      @media (max-width: 1200px){
        width: 50%;
        height: 235px;
        margin-top: 27px;
        overflow: hidden;
      }
      @media (max-width: 767px){
        width: 100%;
        height: auto;
        margin-top: 15px;
      }
    }
  }

  &__text{
    position: absolute;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 100%;
    background-color: rgba(228, 182, 109, 0.80);
    bottom: 0;
    padding: 20px 0;
    @media (max-width: 1200px){
      font-size: 14px;
      padding: 13px 0;
    }
    @media (max-width: 767px){
      font-size: 16px;
      padding: 13px 0;
    }
  }


    &__btn{
      @extend %btn;

      @media (max-width: 767px){
      margin: 0 auto;
      }
    }


}