.travel {
  text-align: center;
  color: #fff;
  padding-top: 150px;
  @media (max-width: 767px){
    padding-top: 50px;
  }
  &__container {
    @extend %container;

    @media (max-width: 767px){
      padding-bottom: 0;
    }
  }
  &__title{
    font-size: 72px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    padding-left: 580px;
    color: #000;
    text-transform: uppercase;
    @media (max-width: 1200px){
      font-size: 48px;
      padding-left: 80px;
    }
    @media (max-width: 767px){
      font-size: 36px;
      padding-left: 0;
      text-align: center;
    }
  }


  &__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  &__item{
   padding: 225px 0;

    @media (max-width: 1200px){
      padding: 125px 0;
    }
    @media (max-width: 767px){
      padding-top: 390px;
      padding-bottom: 0;
    }
    &:nth-child(odd){
      padding-left: 640px;
      @media (max-width: 1200px){
        padding-left: 400px;
      }
      @media (max-width: 767px){
        padding-left: 0;
      }
    }

    &:nth-child(1){
      padding-bottom: 150px;
      background: url(images/bg_6-min.png) center top no-repeat;
      position: relative;
      background-size: contain;
      @media (max-width: 1200px){
        padding-top: 85px;
      }
      @media (max-width: 767px){
        background: none;
        padding-top: 390px;
        padding-bottom: 0;
      }
      @at-root .webp & {
        background:url(images/bg_6.webp) center top no-repeat;
        background-size: contain;
        @media (max-width: 767px){
          background: none;
        }
      }

      &:before{
        position: absolute;
        content: " ";
        background: url(images/img_6-min.png) center top no-repeat;
        width: 608px;
        height: 638px;
        left: -101px;
        top: 56px;
        background-size: contain;
        @media (max-width: 1200px){
          width: 427px;
          height: 444px;
          left: -101px;
          top: 56px;
        }
        @media (max-width: 767px){
          width: 305px;
          height: 324px;
          left: -9px;
          top: 56px;
        }
        @at-root .webp & {
          background:url(images/img_6.webp) center top no-repeat;
          background-size: contain;
        }
      }
    }

    &:nth-child(2){
      background: url(images/bg_7-min.png) left center no-repeat;
      position: relative;
      background-size: contain;
      @media (max-width: 767px){
        background: none;
      }
      @at-root .webp & {
        background:url(images/bg_7.webp) left center no-repeat;
        background-size: contain;
        @media (max-width: 767px){
          background: none;
        }
      }

      &:before{
        position: absolute;
        content: " ";
        background: url(images/img_7-min.png) center top no-repeat;
        width: 824px;
        height: 657px;
        right: -4px;
        top: 125px;
        background-size: contain;
        @media (max-width: 1200px){
          width: 518px;
          height: 417px;
          right: -25px;
          top: 90px;
        }
        @media (max-width: 767px){
        width: 335px;
        height: 267px;
        right: -19px;
        top: 90px;
        }
        @at-root .webp & {
          background:url(images/img_7.webp) center top no-repeat;
          background-size: contain;
        }
      }
    }

    &:nth-child(3){
      background: url(images/bg_8-min.png) center top no-repeat;
      background-size: contain;
      position: relative;
      @media (max-width: 767px){
        background: none;
      }
      @at-root .webp & {
        background:url(images/bg_8.webp) center top no-repeat;
        background-size: contain;
        @media (max-width: 767px){
          background: none;
        }
      }

      &:before{
        position: absolute;
        content: " ";
        background: url(images/img_8-min.png) center top no-repeat;
        width: 920px;
        height: 761px;
        left: -101px;
        top: 160px;
        background-size: contain;
        @media (max-width: 1200px){
          width: 559px;
          height: 761px;
          left: 0px;
          top: 121px;
        }
        @media (max-width: 767px){
          width: 450px;
          height: 373px;
          left: 0px;
          top: 80px;
        }
        @at-root .webp & {
          background:url(images/img_8.webp) center top no-repeat;
          background-size: contain;
        }
      }
    }

    &:nth-child(4){
      background: url(images/bg_9-min.png) left center no-repeat;
      position: relative;
      background-size: contain;
      @media (max-width: 767px){
        background: none;
      }
      @at-root .webp & {
        background:url(images/bg_9.webp) left center no-repeat;
        background-size: contain;
        @media (max-width: 767px){
          background: none;
        }
      }

      &:before{
        position: absolute;
        content: " ";
        background: url(images/img_9-min.png) center top no-repeat;
        width: 612px;
        height: 527px;
        right: -4px;
        top: 125px;
        background-size: contain;
        @media (max-width: 1200px){
          width: 417px;
          height: 358px;
          right: -19px;
          top: 64px;
        }
        @media (max-width: 767px){
          width: 315px;
          height: 283px;
          right: -19px;
          top: 64px;
        }

        @at-root .webp & {
          background:url(images/img_9.webp) center top no-repeat;
          background-size: contain;
        }
      }
    }


  }

  &__caption{
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #e95927;
    @media (max-width: 1200px){
      font-size: 26px;
      line-height: 1.15;
    }
    @media (max-width: 767px){
      font-size: 24px;
      line-height: 1.1;
    }
  }

  &__text{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-top: 40px;
    @media (max-width: 1200px){
      font-size: 18px;
      line-height: 1.3;
      padding-top: 25px;
    }
    @media (max-width: 767px){
      font-size: 15px;
      line-height: 1.1;
      padding-top: 15px;
    }
  }


  &__btn{

    @extend %btn;
    margin-top: 100px;
    margin-bottom: 70px;
    @media (max-width: 1200px){
      margin-top: 80px;
    }
    @media (max-width: 1200px){
      margin-top: 40px;
    }
  }

}