@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');
//-font-family: 'Roboto', sans-serif;
button{
  outline: none!important;
  &:focus,
  &:active,
  &:hover{
    outline: none!important;
  }
}
p{
  margin-bottom: 0px;
}
.branding-page .branding-fixed{
  background: none;
}
.branding-page #main{
  width: 100%;
  background: none;
}

.branding-page{
  padding-top: 0px;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: none;

  .heading{
    display: none;
  }
}


.circle{
  display: none;
}
#__telerWdTriggerContent{
  @media (max-width: 760px){
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  max-height: 1000000px;
}

body {
  background: #fff;
  font-family: 'Rubik', sans-serif;


}

#main {
  width: 100%;
  overflow: hidden;
}

%container {
  position: relative;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 1200px){
    max-width: 767px;
  }
  @media (max-width: 767px){
    max-width: 320px;
  }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%btn{
  box-shadow: -2.2px 5.6px 5.6px 0.4px rgba(13, 13, 107, 0.17);
  border: 1px solid #ffffff;
  background-image: linear-gradient(to top, #e2220c, #eb662d);
  max-width: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.5s;
  text-align: center;
 margin: 0 auto;
  &:hover{
    background-image: linear-gradient(to right, #fdf500 0%, #fdf500 11%, #f67400 99%, #f67400 100%);
  }

  @media (max-width: 767px){
    margin-top: 20px;
    margin-bottom: 20px;
  }
  a{
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    @media (max-width: 767px){
      line-height: 36px;
    }
  }
}

.caption{
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 30px 0;
  margin-bottom: 45px;
  @media (max-width: 1200px){
    font-size: 23px;
    padding: 15px 0;
  }
  @media (max-width: 767px){
    line-height: 1.33;
  }



  &:before{
    position: absolute;
    content: " ";
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    width: 683px;
    height: 2px;
    background-image: linear-gradient(90deg, transparent 0%, #643422 50%, #643422 70%, transparent 100%);
    @media (max-width: 1200px){
      width: 400px;
    }
  }

  &:after{
    position: absolute;
    content: " ";
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    width: 683px;
    height: 2px;
    background-image: linear-gradient(90deg, transparent 0%, #643422 50%, #643422 70%, transparent 100%);
    @media (max-width: 1200px){
      width: 400px;
    }
  }

  span{
    padding: 7px 4px;
    background-color: rgba(24, 2, 40, 0.85);
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(#1f0b31,#1f0b31), linear-gradient(to right, #e22398 0%, #e22398 12%, #e27d23 58%, #f001f9 99%, #f001f9 100%);
    @media (max-width: 1200px){
      border: 2px solid transparent;
      padding: 0px 3px;
    }
  }
  br{
    display: none;
    @media (max-width: 767px){
      display: block;
    }

  }
}


.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}

#bg_popup{
  display: none!important;
}
#bg_popup_two{
  display: none!important;
}
#bg_popup_three{
  display: none!important;
}
.slider .slide {
  outline: none;
}
@import "variables";
@import "mixins";
@import "header";
@import "hero";
@import "menu";
@import "description";
@import "place";
@import "travel";
@import "program";
@import "info";
@import "order";
@import "pricing-timer";
@import "package";
@import "video";
//-@import "sory";
@import "footer";
@import "partners";
@import "modal-video";
@import "loader-page";


.slick-track{
  display: flex;
}