.now {
  .container {
    @extend %content;
    position: relative;
    padding-top: 88px;

    &::before {
      content: "";
      position: absolute;
      bottom: -127px;
      right: -76px;
      background: url("data:image/svg+xml,%3Csvg width='469' height='486' viewBox='0 0 469 486' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M414.381 254.473L249.749 414.185L207.3 370.438L43.4745 201.574L190.985 58.4699L208.106 41.8619L414.381 254.473Z' fill='%23FFF961' /%3E%3Cg style='mix-blend-mode:soft-light' opacity='0.4'%3E%3Cpath d='M326.237 163.622C327.418 169.235 328.491 174.845 329.43 180.469C333.26 203.022 335.949 225.794 334.923 248.698C333.908 271.168 329.764 293.687 320.715 314.386C311.104 336.396 295.437 355.321 278.373 371.964C270.009 380.128 261.187 387.903 252.19 395.399C248.391 398.565 244.436 401.652 240.273 404.408L249.749 414.185L414.381 254.473L326.253 163.648L326.237 163.622Z' fill='black' /%3E%3C/g%3E%3Cpath d='M43.4731 201.576L249.748 414.186C258.325 425.416 253.416 438.687 253.416 438.687L47.1412 226.076C47.1412 226.076 50.6096 215.768 43.4731 201.576Z' fill='%23F4FBFF' /%3E%3Cpath d='M410.567 258.184C420.04 267.785 418.203 278.204 418.033 278.951L418.007 278.967L253.376 438.678C253.376 438.678 258.285 425.407 249.708 414.178L410.51 258.149L410.567 258.184Z' fill='%23F4FBFF' /%3E%3Cpath d='M418.021 278.992L422.525 283.619L251.586 449.457L45.3112 236.846L51.6183 230.72L253.39 438.704L418.021 278.992Z' fill='%23FFF961' /%3E%3Cpath d='M422.527 283.62L418.024 278.992C418.024 278.992 418.024 278.992 418.049 278.976C418.178 278.22 420.015 267.801 410.583 258.209L414.397 254.501C414.397 254.501 428.828 263.972 422.543 283.645L422.527 283.62Z' fill='%23FFF961' /%3E%3Cpath d='M251.11 416.351C250.702 416.607 250.215 416.735 249.714 416.73C249.039 416.728 248.388 416.427 247.909 415.946L41.6339 203.336C40.6439 202.324 40.6883 200.699 41.6743 199.725L206.306 40.0127C206.786 39.5337 207.451 39.2933 208.127 39.2951C208.803 39.2969 209.454 39.5982 209.933 40.0785L416.208 252.689C417.198 253.701 417.153 255.326 416.167 256.3L251.536 416.012C251.399 416.134 251.262 416.255 251.11 416.351ZM47.1025 201.641L249.832 410.585L410.797 254.418L208.067 45.4748L47.1025 201.641Z' fill='black' /%3E%3Cpath d='M254.75 440.867C254.496 441.027 254.209 441.136 253.932 441.204C253.085 441.381 252.166 441.105 251.566 440.488L45.2907 227.877C44.6168 227.2 44.4107 226.193 44.7021 225.3C44.721 225.218 47.6843 215.689 41.1974 202.756C40.6277 201.623 40.9818 200.265 42.0033 199.517C43.0248 198.769 44.4306 198.916 45.3152 199.816L251.59 412.427C251.59 412.427 251.728 412.589 251.801 412.649C261.11 424.874 256.028 439 255.828 439.587C255.638 440.132 255.276 440.573 254.792 440.877L254.75 440.867ZM49.948 225.344L251.972 433.559C252.584 429.163 252.519 422.104 247.818 415.861L49.7539 211.691C51.0803 218.1 50.4721 222.956 49.9735 225.328L49.948 225.344Z' fill='black' /%3E%3Cpath d='M254.749 440.868C253.909 441.396 252.841 441.392 252.005 440.852C250.997 440.207 250.589 438.936 250.995 437.829C251.039 437.731 255.272 425.7 247.711 415.75C246.922 414.719 247.037 413.263 247.962 412.362L408.78 256.358C409.792 255.368 411.401 255.387 412.391 256.398C422.586 266.754 420.805 278.167 420.563 279.42C420.455 279.985 420.157 280.527 419.721 280.907L255.176 440.53C255.039 440.651 254.902 440.772 254.749 440.868ZM253.076 414.512C256.852 420.413 257.575 426.597 257.321 431.337L415.619 277.767C415.882 275.472 416.034 268.702 410.423 261.859L253.076 414.512Z' fill='black' /%3E%3Cpath d='M252.946 451.621C251.953 452.245 250.605 452.133 249.761 451.242L43.4863 238.632C43.0072 238.151 42.7668 237.486 42.7686 236.81C42.7704 236.134 43.0718 235.484 43.552 235.005L49.8592 228.879C50.8706 227.889 52.496 227.933 53.4701 228.919L253.482 435.061L416.272 277.109C416.752 276.63 417.418 276.389 418.093 276.391C418.769 276.393 419.42 276.694 419.899 277.174L424.402 281.802C425.392 282.814 425.348 284.439 424.362 285.413L253.423 451.251C253.286 451.372 253.15 451.493 252.997 451.589L252.946 451.621ZM48.9229 236.887L251.653 445.83L418.924 283.538L418.007 282.587L255.218 440.539C254.206 441.529 252.581 441.484 251.607 440.498L51.5947 234.357L48.9389 236.912L48.9229 236.887Z' fill='black' /%3E%3Cpath d='M423.887 285.781C423.658 285.925 423.387 286.059 423.094 286.102C422.221 286.295 421.319 286.045 420.661 285.393L416.158 280.765C415.663 280.259 415.422 279.594 415.434 278.877C415.43 278.701 415.468 278.535 415.49 278.344C415.729 276.916 416.81 268.178 408.676 259.972C408.197 259.492 407.957 258.827 407.958 258.151C407.96 257.475 408.262 256.825 408.742 256.345L412.555 252.637C413.42 251.81 414.717 251.67 415.742 252.341C415.914 252.446 431.706 263.121 424.901 284.399C424.701 284.986 424.329 285.468 423.82 285.788L423.887 285.781ZM420.735 278.104L421.141 278.524C423.084 267.257 417.429 260.512 414.548 257.847L414.103 258.269C420.963 266.423 421.009 274.808 420.719 278.078L420.735 278.104Z' fill='black' /%3E%3Cpath d='M242.395 417.737C241.402 418.361 240.054 418.249 239.211 417.358L54.9798 227.473C53.9897 226.461 54.0342 224.836 55.0201 223.862C56.0315 222.872 57.657 222.916 58.6311 223.902L242.862 413.788C243.852 414.799 243.808 416.424 242.822 417.399C242.685 417.52 242.548 417.641 242.395 417.737Z' fill='black' /%3E%3Cpath d='M263.549 417.165C262.556 417.789 261.207 417.677 260.364 416.786C259.374 415.775 259.418 414.149 260.404 413.175L401.496 276.302C402.508 275.312 404.133 275.357 405.107 276.343C406.097 277.354 406.053 278.98 405.067 279.954L263.975 416.826C263.838 416.948 263.701 417.069 263.549 417.165Z' fill='black' /%3E%3Cpath d='M193.529 87.1067L78.7305 198.488L107.832 228.483L222.631 117.101L193.529 87.1067Z' fill='white' /%3E%3Cpath d='M227.426 97.3983C225.262 98.7572 222.723 99.4637 220.113 99.434C216.528 99.3777 213.197 97.9186 210.706 95.3646C205.571 90.0689 205.703 81.5721 210.998 76.4363C213.552 73.9452 216.934 72.6028 220.52 72.6591C224.105 72.7153 227.436 74.1744 229.927 76.7284C232.418 79.2824 233.76 82.6643 233.704 86.2498C233.648 89.8353 232.189 93.1656 229.635 95.6567C228.957 96.3306 228.216 96.9026 227.401 97.4143L227.426 97.3983ZM215.95 79.0075C215.466 79.3113 214.989 79.682 214.569 80.0876C212.976 81.6207 212.084 83.7068 212.041 85.8996C212.014 88.1178 212.824 90.2004 214.383 91.778C217.564 95.0349 222.816 95.1451 226.099 91.948C229.356 88.767 229.466 83.5146 226.269 80.2322C224.736 78.6387 222.65 77.7475 220.457 77.7042C218.847 77.6853 217.268 78.1092 215.943 78.9406L215.95 79.0075Z' fill='black' /%3E%3Cpath d='M256.266 91.823C255.273 92.4465 253.924 92.3346 253.081 91.444C252.091 90.4326 252.136 88.8071 253.122 87.833L256.121 84.9202C258.195 82.9081 259.352 80.2286 259.397 77.3602C259.442 74.4918 258.366 71.7595 256.354 69.6858C254.342 67.612 251.662 66.4543 248.794 66.4093C245.925 66.3643 243.193 67.4408 241.119 69.4529L222.096 87.8943C221.085 88.8843 219.459 88.8399 218.485 87.8539C217.495 86.8425 217.539 85.2171 218.525 84.243L237.549 65.8016C240.599 62.8569 244.605 61.2646 248.866 61.3227C253.102 61.3968 257.076 63.0903 260.021 66.1406C266.131 72.4222 265.964 82.5031 259.682 88.6129L256.683 91.5257C256.546 91.6471 256.409 91.7685 256.256 91.8644L256.266 91.823Z' fill='black' /%3E%3Cpath d='M263.571 134.664C261.407 136.023 258.868 136.729 256.258 136.7C252.672 136.643 249.342 135.184 246.851 132.63C241.715 127.335 241.847 118.838 247.143 113.702C249.697 111.211 253.079 109.868 256.664 109.925C260.25 109.981 263.58 111.44 266.071 113.994C271.207 119.29 271.075 127.787 265.779 132.922C265.102 133.596 264.36 134.168 263.545 134.68L263.571 134.664ZM252.095 116.273C251.611 116.577 251.133 116.948 250.714 117.353C249.12 118.886 248.229 120.972 248.186 123.165C248.158 125.383 248.969 127.466 250.528 129.044C253.725 132.326 258.945 132.385 262.243 129.214C263.837 127.681 264.728 125.594 264.771 123.402C264.799 121.183 263.988 119.101 262.429 117.523C260.896 115.93 258.81 115.039 256.617 114.995C255.008 114.976 253.428 115.4 252.104 116.232L252.095 116.273Z' fill='black' /%3E%3Cpath d='M292.395 129.061C291.402 129.685 290.053 129.573 289.21 128.682C288.22 127.671 288.265 126.045 289.25 125.071L292.25 122.158C296.509 118.029 296.612 111.183 292.483 106.924C290.471 104.85 287.791 103.693 284.923 103.648C282.054 103.603 279.322 104.679 277.248 106.691L258.225 125.133C257.214 126.123 255.588 126.078 254.614 125.092C253.64 124.106 253.668 122.455 254.654 121.481L273.678 103.04C276.728 100.095 280.734 98.5029 284.995 98.5609C289.231 98.635 293.205 100.329 296.15 103.379C302.26 109.661 302.093 119.741 295.811 125.851L292.812 128.764C292.675 128.885 292.538 129.007 292.385 129.103L292.395 129.061Z' fill='black' /%3E%3Cpath d='M299.724 171.89C294.479 175.183 287.466 174.474 282.979 169.872C280.487 167.318 279.145 163.936 279.201 160.351C279.258 156.765 280.717 153.435 283.271 150.944C288.566 145.808 297.063 145.94 302.199 151.236C307.335 156.532 307.203 165.028 301.907 170.164C301.229 170.838 300.488 171.41 299.699 171.906L299.724 171.89ZM288.222 153.515C287.739 153.819 287.261 154.189 286.841 154.595C285.248 156.128 284.357 158.214 284.313 160.407C284.286 162.625 285.097 164.708 286.655 166.285C289.852 169.568 295.089 169.653 298.371 166.455C301.628 163.274 301.738 158.022 298.541 154.74C297.008 153.146 294.922 152.255 292.729 152.212C291.12 152.193 289.556 152.642 288.232 153.474L288.222 153.515Z' fill='black' /%3E%3Cpath d='M328.547 166.288C327.554 166.911 326.206 166.799 325.363 165.909C324.372 164.897 324.417 163.272 325.403 162.298L328.402 159.385C330.476 157.373 331.634 154.693 331.679 151.825C331.724 148.957 330.647 146.224 328.635 144.151C326.623 142.077 323.943 140.919 321.075 140.874C318.207 140.829 315.474 141.906 313.401 143.918L294.377 162.359C293.366 163.349 291.74 163.305 290.766 162.319C289.776 161.307 289.821 159.682 290.807 158.708L309.83 140.266C312.88 137.322 316.886 135.729 321.147 135.788C325.383 135.862 329.358 137.555 332.302 140.605C335.247 143.656 336.839 147.662 336.781 151.923C336.707 156.158 335.014 160.133 331.963 163.078L328.964 165.991C328.827 166.112 328.69 166.233 328.538 166.329L328.547 166.288Z' fill='black' /%3E%3Cpath d='M335.856 209.132C333.691 210.491 331.153 211.197 328.543 211.168C324.957 211.111 321.627 209.652 319.136 207.098C316.644 204.544 315.302 201.162 315.358 197.577C315.415 193.991 316.874 190.661 319.428 188.17C321.982 185.679 325.364 184.336 328.949 184.393C332.535 184.449 335.865 185.908 338.356 188.462C340.847 191.016 342.19 194.398 342.133 197.983C342.077 201.569 340.618 204.899 338.064 207.39C337.386 208.064 336.645 208.636 335.83 209.148L335.856 209.132ZM324.354 190.757C323.87 191.061 323.393 191.432 322.973 191.837C321.379 193.37 320.488 195.456 320.445 197.649C320.402 199.842 321.228 201.95 322.787 203.528C324.32 205.121 326.406 206.012 328.599 206.056C330.817 206.083 332.9 205.272 334.477 203.714C336.071 202.181 336.962 200.094 337.005 197.902C337.032 195.683 336.222 193.601 334.663 192.023C333.13 190.43 331.044 189.539 328.851 189.495C327.242 189.476 325.678 189.926 324.354 190.757Z' fill='black' /%3E%3Cpath d='M364.696 203.553C363.703 204.177 362.354 204.065 361.511 203.174C360.521 202.163 360.565 200.538 361.551 199.563L364.551 196.651C366.624 194.639 367.782 191.959 367.827 189.091C367.872 186.222 366.796 183.49 364.783 181.416C362.771 179.343 360.092 178.185 357.223 178.14C354.355 178.095 351.623 179.171 349.549 181.183L330.526 199.625C329.514 200.615 327.889 200.57 326.915 199.584C325.925 198.573 325.969 196.948 326.955 195.973L345.978 177.532C349.029 174.587 353.035 172.995 357.296 173.053C361.531 173.127 365.506 174.821 368.451 177.871C371.395 180.921 372.988 184.927 372.93 189.188C372.856 193.424 371.162 197.399 368.112 200.343L365.112 203.256C364.976 203.378 364.839 203.499 364.686 203.595L364.696 203.553Z' fill='black' /%3E%3Cpath d='M372 246.401C369.836 247.76 367.297 248.467 364.687 248.437C361.102 248.381 357.771 246.922 355.28 244.368C352.789 241.814 351.447 238.432 351.503 234.846C351.559 231.261 352.993 227.947 355.572 225.439C358.126 222.948 361.508 221.606 365.094 221.662C368.679 221.718 372.009 223.178 374.501 225.732C376.992 228.286 378.334 231.667 378.278 235.253C378.222 238.838 376.762 242.169 374.208 244.66C373.531 245.334 372.79 245.906 371.975 246.417L372 246.401ZM360.498 228.027C360.015 228.33 359.537 228.701 359.117 229.107C357.524 230.64 356.633 232.726 356.589 234.919C356.562 237.137 357.373 239.22 358.931 240.797C360.464 242.391 362.551 243.282 364.743 243.325C366.962 243.352 369.044 242.542 370.622 240.983C372.215 239.45 373.106 237.364 373.15 235.171C373.177 232.953 372.366 230.87 370.808 229.293C369.275 227.699 367.189 226.808 364.996 226.765C363.386 226.746 361.822 227.195 360.498 228.027Z' fill='black' /%3E%3Cpath d='M400.824 240.8C399.831 241.423 398.483 241.311 397.64 240.421C396.65 239.409 396.694 237.784 397.68 236.81L400.679 233.897C402.753 231.885 403.911 229.205 403.956 226.337C404.001 223.468 402.924 220.736 400.912 218.662C398.9 216.589 396.221 215.431 393.352 215.386C390.484 215.341 387.752 216.417 385.678 218.429L366.655 236.871C365.643 237.861 364.018 237.816 363.044 236.83C362.054 235.819 362.098 234.194 363.084 233.22L382.107 214.778C385.157 211.833 389.163 210.241 393.425 210.299C397.66 210.373 401.635 212.067 404.58 215.117C407.524 218.167 409.117 222.173 409.059 226.435C408.985 230.67 407.291 234.645 404.241 237.589L401.241 240.502C401.105 240.624 400.968 240.745 400.815 240.841L400.824 240.8Z' fill='black' /%3E%3Cg style='mix-blend-mode:soft-light'%3E%3Cpath d='M235.297 370.648L140.661 273.755C131.792 264.662 122.897 255.585 114.028 246.491C109.483 241.854 102.682 249.284 107.227 253.922C138.769 286.233 170.32 318.503 201.862 350.814C210.731 359.908 219.626 368.985 228.495 378.078C233.04 382.715 239.842 375.285 235.297 370.648Z' fill='white' /%3E%3C/g%3E%3C/svg%3E")
        no-repeat center;
      background-size: cover;
      height: 268px;
      width: 222px;

      @include media-breakpoint-up(xl) {
        position: absolute;
        top: 280px;
        left: 0px;
        width: 469px;
        height: 486px;
      }
    }

    @include media-breakpoint-up(xl) {
      padding-top: 108px;
    }
  }

  &__dec {
    position: absolute;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    &-1 {
      width: 399.528px;
      height: 373.046px;
      bottom: 212px;
      z-index: 1;

      @include media-breakpoint-up(xl) {
        width: 573.576px;
        height: 535.558px;
        bottom: 44px;
      }
    }
    &-2 {
      width: 571px;
      height: 756px;
      bottom: -61px;
      left: -340px;
      z-index: 0;

      @include media-breakpoint-up(xl) {
        bottom: -72px;
        left: -300px;
      }
    }

    &-3 {
      right: -16px;
      bottom: -25px;
      width: 90px;
      height: 129px;

      @include media-breakpoint-up(xl) {
        width: 245.038px;
        height: 171.481px;
        bottom: inherit;
        top: 400px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 12px;
    text-align: left;

    @include media-breakpoint-up(xl) {
      text-align: center;
    }

    b {
      display: block;
      color: #fff;
      font-size: 46px;
      word-wrap: break-word;
      font-weight: 800;
      transform: rotate(-4deg);
      line-height: 1;

      @include media-breakpoint-up(xl) {
        font-size: 86px;
        transform: rotate(4deg);
      }
    }

    span {
      display: block;
      color: $orange;
      font-size: 46px;
      margin-top: 6px;

      @include media-breakpoint-up(xl) {
        font-size: 86px;
        margin-top: 16px;
      }
    }
  }

  &__subtitle {
    color: #fff;
    font-size: 22px;
    font-weight: 400;

    @include media-breakpoint-up(xl) {
      font-size: 26px;
      max-width: 738px;
      width: 100%;
      margin-left: auto;
      text-align: left;
    }
    b {
      color: $orange;
      font-weight: 700;
    }
  }
  &__img {
    width: 382px;
    height: 102px;
    margin-top: 32px;
    margin-left: -32px;
    position: relative;

    @include media-breakpoint-up(xl) {
      position: absolute;
      bottom: 280px;
      right: 239px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    color: #fff;
    max-width: 206px;

    @include media-breakpoint-up(xl) {
      max-width: 400px;
      margin-left: auto;
      margin-right: 200px;
      gap: 80px;
      padding-top: 128px;
    }

    p {
      font-size: 20px;
      font-weight: 400;

      @include media-breakpoint-up(xl) {
        font-size: 26px;
      }
      b {
        color: #fff961;
        font-weight: 700;
      }
    }
  }

  &__btn {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
    }
    margin-top: 100px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -30px;
      right: 165px;
      background: url(../img/dec-btn.png) no-repeat center;
      width: 558.744px;
      height: 118px;
      background-size: cover;
      z-index: 0;
    }

    .btn {
      max-width: 555px;
      font-size: 32px;
      margin-left: auto;
      line-height: 72px;
      margin-right: 150px;
      position: relative;

      z-index: 1;
      &:hover {
      }
    }
    .arrow--right {
      right: -100px;
    }
  }
}
