.btn-page {
  border-radius: 5px;
  background: #44a900;
  font-size: 22px;
  color: $white;
  width: 100%;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
  font-weight: 700;
  max-width: 375px;
  text-transform: uppercase;

  &:hover {
    background-color: #388803;
  }
}

.btn--radius {
  border-radius: 73px;
}
.btn--hero {
  svg {
    width: 40px;
    height: 40px;
    margin-left: 26px;
  }
}

.btn--core {
  position: relative;
  font-size: 18px;

  &:hover {
    background-color: $black;
  }

  &::before {
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: #fff
      url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
      50% no-repeat;
  }
}

.btn--pro {
  position: relative;
  font-size: 18px;
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;

    &::before {
      background: #fff
        url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
        50% no-repeat;
    }
  }

  &::before {
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: $orange
      url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
      50% no-repeat;
  }
}
.btn_fixed-bottom {
  display: block;
  position: fixed;
  bottom: 16px;
  max-width: 100%;
  padding: 12px 34px;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  border-radius: 0;
  left: 0%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0s;
  z-index: 100;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
.btn_fixed-bottom-hidden {
  opacity: 1;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0.3s;
}
