.tour{

  &__container {
    @extend %container;
    padding-top: 120px;
    padding-bottom: 90px;
    @media (max-width: 1200px){
      padding-top: 60px;
      padding-bottom: 0px;
    }
    @media (max-width: 767px){
      width: 320px;
      padding-top: 45px;
      padding-bottom: 10px;
    }
  }

  &__title{
    color: #180dad;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.59px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1200px){
      font-size: 36px;
      text-align: center;
    }
    @media (max-width: 767px){
      font-size: 29px;
      display: inline-block;
      line-height: 35px;
    }
    &:before{
      content: '';
      width: 25px;
      height: 25px;
      background-color: #e2d612;
      display: block;
      margin-right: 25px;
      transform: rotate(45deg);
      @media (max-width: 767px){
        content: none;

      }

    }
  }

  .include{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 1200px){
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: 50px;
      padding-top: 40px;
    }


  &__item{

    &--img{
      position: absolute;
      right: 0;
      top: 225px;
      @media (max-width: 1200px){
        top: 230px;
      }
      @media (max-width: 767px){
        top: 375px;
        right: 10px;
      }
      img{
        @media (max-width: 767px){

        }
        @media (max-width: 767px){
          width: 283px;
          height: 240px;
        }
      }

    }
    &--desk{
      @media (max-width: 1200px){
        display: none;
      }
    }

    &--tab{
      display: none;
      @media (max-width: 1200px){
        display: block;
      }
    }
  }

    &__list{
      list-style-type: none;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 767px){
        font-size: 16px;
      }
      li{
        margin-bottom: 30px;
        position: relative;
        display: flex;
        align-items: center;

        @media (max-width: 1200px){
          margin-bottom: 20px;
          position: relative;
        }
        @media (max-width: 767px){
          padding-left: 15px;
        }
        &:before{
          content: '';
          width: 20px;
          height: 20px;
          background-color: #e2d612;
          display: block;
          margin-right: 25px;
          transform: rotate(45deg);

          @media (max-width: 767px){
            margin-right: 5px;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 6px;
          }

        }



      }
    }
    &__title{
      color: #334c56;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
      text-transform: uppercase;
      @media (max-width: 1200px){
        font-size: 18px;
        line-height: 29px;
      }
      @media (max-width: 767px){
        font-size: 16px;
        line-height: 22px;
      }
      span{
        font-weight: 400;
        text-transform: none;
      }
      br{
        @media (max-width: 1200px){
          display: none;
        }
      }
    }



    &__img{

      img{

      }


    }
  }

  .accompaniment {
    padding: 30px 0 0 50px;
    @media (max-width: 767px){
      padding: 0px 0 0 10px;
    }

    &__text {
      color: #000000;
      font-size: 22px;
      font-weight: 400;
      line-height: 28px;
      @media (max-width: 1200px){
        font-size: 18px;
        line-height: 24px;
      }
      br{
        @media (max-width: 767px){
          display: none;
        }
      }

      span{
        color: #0944da;
      }

    }
  }
}




