
.video {
  overflow: hidden;
  outline: none;
  z-index: 0;
  height: max-content;
  position: relative;
  padding-top: 50px;
  background-image: linear-gradient(to right, #0050c5 0%, #0050c5 12%, #1bbde5 99%, #1bbde5 100%);

  @media (max-width: 978px){
    height: 350px;
    margin-bottom: 10px;


  }

  .video__content {
    @extend %container;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    visibility: hidden;
    @media (max-width: 978px){
      width: 100%;
    }

    .slick-initialized {
      visibility: visible;
    }
  }

  &__content {
    @extend %container;
    visibility: hidden;

    .slick-initialized {
      visibility: visible;
    }
  }

  &__title{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2.59px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    @media (max-width: 1000px){
      font-size: 36px;
    }
    @media (max-width: 767px){
      font-size: 22px;
      padding-bottom: 20px;
    }
    &:before{
      content: '';
      width: 25px;
      height: 25px;
      background-color: #e2d612;
      display: block;
      margin-right: 25px;
      transform: rotate(45deg);
      @media (max-width: 767px){
        content: none;
      }

    }


  }
  &__player {
    position: relative;
    margin: 0 auto;
    width:800px;
    padding-bottom: 56.25%;

    @media (max-width: 978px){
      width: 285px;
      height: 310px;
    }

    iframe {
      display: block;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:465px;
      @media (max-width: 978px){
        height:165px;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 465px;
    @media (max-width: 978px){
      height: 165px;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border: 3px solid #fff;
  }

  &__button {
    position: absolute;
    top: 44%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (max-width: 978px){
      top: 19%;
    }
    svg{
      width: 68px;
      height: 48px;
    }

  }

  &__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
  }

  &__button-icon {
    fill: #ffffff;
    &:focus {
      outline: none;
    }
  }
  .travel__btn{
    margin-bottom: 50px;
    margin-top: 0;

  }


}

.video__media:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video__media:hover .video__button-shape,
.video__button:hover .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
  outline: none;
}

.next{
  right: 30px;
  position: absolute;
  display: block;
  background-size: cover;
  cursor: pointer;
  top: 310px;
  z-index: 1000;
  font-size: 32px;
  @media (max-width: 978px){
    right: 5px;
    top: 163px;
  }
  @media (max-width: 445px){
    right: 0px;
    top: 135px;
  }

}
.prev {
  left: 30px;
  position: absolute;
  cursor: pointer;
  top: 310px;
  z-index: 1000;
  font-size: 32px;
  @media (max-width: 978px){
    left: 5px;
    top: 163px;
  }
  @media (max-width: 445px){
    left: 0px;
    top: 135px;
  }
}
