$color: #ffdbdb;

.advantages {
  padding: 75px 0;
  @media (max-width: 767px){
    padding: 50px 0;
  }

  p {
    margin-bottom: 0px;
  }

  padding: 75px 0;
  p{
    margin-bottom: 0px;
  }


  &__container {
    @extend %container;
    text-align: center;
    &:before{
      top: 300px;
      right: 300px;
    }


  }

  &__title{
    @extend %title;
  }





  &__sub-title{
    @extend %sub-title;
  }

  .certificate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 35px;
    &:before{
      position: absolute;
      content: "сертифікат";
      font-size: 130px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.54;
      letter-spacing: normal;
      text-align: center;
      color: #ded3d6;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      text-transform: uppercase;
      z-index: -1;
    }
    img{
      box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.16);
    }
  }

  &__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 100px;


    @media (max-width: 1200px){
      justify-content: center;
      padding-top: 0px;
      padding-bottom: 60px;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;

    .advantages__icon{
      background: url(images/gift_item_bg.png) center center no-repeat;
    }



    @media (max-width: 1200px){
      margin:  35px 45px;
    }
    @media (max-width: 767px){
      margin:  25px 15px 0;
    }


  }


  &__text{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 30px;
  }

  &__icon{
    box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    width: 230px;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;



    .color-svg{
      display: block;
      fill:  #fff;
    }

  }
  &__btn{
    @extend %btn;
    @media (max-width: 767px){
     margin-top: 0;
    }

  }

}