.wrapper__footer{
  background-color: #262d4a;
  .social{
    background: #262d4a;
  }
  .footer1{
    color: #fff!important;
    a{
      color: #fff!important;
    }
    .inner {
      h3{
        color: #fff!important;
      }
      &__item {
        width: 290px;
        padding: 0 30px;
        border-left: solid 1px #fff!important;
        @media (max-width: 900px){
          border-left:none!important;
          border-bottom: solid 1px #fff!important;
        }
        &:last-child {
          border-right:none!important;
        }
        &:first-child {
          border-left:none!important;
        }
      }
    }
  }
}