@charset "utf-8";
.profession {
  padding: 75px 0;
  @media (max-width: 1200px){
    padding: 55px 0;
  }
  &__container {
    @extend %container;
    text-align: center;
    padding: 0 10px;

  }

  &__sub-title{
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 2.4px;
    text-align: center;
    color: #bb9cff;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 32px;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 200px;
    background: url(./images/profesion_bg-min.png) right 110px center no-repeat;
    @media (max-width: 1200px){
      padding-top: 520px;
      padding-bottom: 50px;
      background: url(./images/profesion_bg-min.png) center center no-repeat;
    }
    @media (max-width: 767px){
      background: url(images/profession_320-min.png) center center no-repeat;
      padding-top: 720px;
    }
  }

  &__list{
    list-style-type: none;

    @media (max-width: 1200px){
      width: 35%;
    }


    &:first-child{
     text-align: right;
     li{
       &:first-child{
         @media (max-width: 1200px){
           text-align: left;
         }
       }
     }
      p{
        @media (max-width: 767px){
          display: none;
        }
        &:after {
          color: #8eeaff;
          content: ">";
          margin-left: 10px;
          @media (max-width: 1200px){
            content: none;
          }
        }
      }
    }
    &:last-child{
      text-align: left;
      li{
        &:first-child{
          @media (max-width: 1200px){
            text-align: right;
          }
        }
      }
      p{
        @media (max-width: 767px){
          display: none;
        }

        &:before {
          color: #8eeaff;
          content: "<";
          margin-right: 10px;
          @media (max-width: 1200px){
            content: none;
          }

        }
      }
    }

  }

  &__item{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.24px;
    color: #fff;
    &:first-child{
      padding-bottom: 300px;
      @media (max-width: 1200px){
        padding-bottom: 35px;
      }
    }
  }




  &__btn{
    @extend %btn;

  }


}
