.advantages {

  &__item {
    margin-bottom: 30px;
  }
}

.advantage {
  padding: 25px;
  color: #0b3a4a;
  border: solid 1px #0b3a4a;
  background: transparent;

  &:hover {
    box-shadow: 0 0 22.8px 1.2px rgba(0, 0, 0, 0.2);
    background: #ffffff;
  }

  b {
    display: block;
    font-size: 20px;
  }

  @include media-breakpoint-down(md) {

  }
}