.landing-cover {
  position: relative;
  display: block;

  @include media-breakpoint-up(lg) {
    margin-left: -5px;
    margin-right: -5px;
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }
}