@charset "utf-8";
.profession {

  &__container {
    @extend %container;
    padding-bottom: 50px;

  }

  &__content{
    display: flex;
    justify-content: center;

    @media (max-width: 767px){
     flex-direction: column;
    }

    &:last-child{

      .profession__item{

        &:first-child{
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          @media (max-width: 767px){
            justify-content: center;
            align-items: center;
            i{
              transform: rotate(90deg);
            }
          }
          .profession__name{
            padding-top: 50px;
            padding-right: 60px;
            @media (max-width: 1200px){
              padding-right: 10px;
            }
            @media (max-width: 767px){
              padding: 0px;
            }
          }
        }

        &:last-child{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @media (max-width: 767px){
            justify-content: center;
            align-items: center;
            i{
              transform: rotate(-90deg);
            }
          }
          .profession__name{
            padding-left: 60px;
          }
        }
      }
    }
  }

  &__title{
    @extend %title;
    color: #322c52;
    padding-bottom: 55px;
    @media (max-width: 767px){
      padding-bottom: 25px;
    }

  }

  &__item{
    width: 50%;

    @media (max-width: 767px){
      width: 100%;
    }

    img{
      @media (max-width: 767px){
        margin: 15px 0 25px;
      }
    }

    &:first-child{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: 767px){
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
          transform: rotate(90deg);
        }
      }
      .profession__name{
        padding-right: 60px;
        @media (max-width: 1200px){
          padding-right: 10px;
        }

      }
    }
    &:last-child{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      @media (max-width: 767px){
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        i{
          transform: rotate(-90deg);
        }
      }
      .profession__name{
        padding-bottom: 50px;
        text-align: left;
        padding-left: 60px;
        @media (max-width: 1200px){
          padding-left: 10px;
        }
      }
    }

  }

  &__name{
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #322c52;
    padding: 5px;
    @media (max-width: 767px){
      padding: 0px!important;
    }
    i{
      font-size: 16px;
      font-weight: 400;
      padding: 6px;
      color: #5c596c;
    }
  }




}
