@charset "UTF-8";
:root {
  --container-width: 1160px;
  --transition: 0.3s ease;
  --default-font-family: "Gilroy";
  --heading-font-family: "Neue Machina";
  --sp: 66px;
  --accent: #4c09d2;
  --fiolet: #8041ff;
  --dark: #1f2229;
  --bg: #fff;
  --text-color: #000000;
  --fz-default: 20px;
  --h1: 32px;
  --h2: 42px;
  --h3: 32px;
  --h4: 28px;
  --l: 24px;
  --m: 22px;
  --s: 18px;
  --xs: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
.results__block_title,
h3,
.results .item__number,
.about__text,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 300;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: "italic";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 500;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl") format("svg");
}
@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: 900;
  font-style: "normal";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf") format("truetype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl") format("svg");
}
body {
  font-family: "MuseoSansCyrl", sans-serif;
  min-width: 360px;
  color: #000;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  background: #05172d;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

.swiper-button-prev {
  left: 0;
}
.swiper-button-prev::after {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA2NjcgMjMuMTg2NUwxNi40NzY3IDIxLjc3NjVMMTAuODk2NyAxNi4xODY1TDIzLjA2NjcgMTYuMTg2NUwyMy4wNjY2IDE0LjE4NjVMMTAuODk2NiAxNC4xODY1TDE2LjQ4NjYgOC42MDY1MkwxNS4wNjY2IDcuMTg2NTJMNy4wNjY2NSAxNS4xODY1TDE1LjA2NjcgMjMuMTg2NVoiIGZpbGw9IiNGNzY4MDAiLz4KPC9zdmc+Cg==") center/contain no-repeat;
  width: 30px;
  height: 30px;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-next::after {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA2NjcgMjMuMTg2NUwxNi40NzY3IDIxLjc3NjVMMTAuODk2NyAxNi4xODY1TDIzLjA2NjcgMTYuMTg2NUwyMy4wNjY2IDE0LjE4NjVMMTAuODk2NiAxNC4xODY1TDE2LjQ4NjYgOC42MDY1MkwxNS4wNjY2IDcuMTg2NTJMNy4wNjY2NSAxNS4xODY1TDE1LjA2NjcgMjMuMTg2NVoiIGZpbGw9IiNGNzY4MDAiLz4KPC9zdmc+Cg==") center/contain no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important;
  }
}

.container {
  max-width: 375px;
  padding: 0 16px;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 40, 41, 0.7);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  z-index: 1000;
}

/* Стили для всплывающего окна */
.btn-page {
  background: #fee71d;
  font-size: 22px;
  color: #05172d;
  width: 100%;
  line-height: 55px;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s;
  font-weight: 700;
  max-width: 375px;
  position: relative;
}
.btn-page::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 24px;
  background: repeating-linear-gradient(-45deg, #fee71d, #fee71d 10px, #f2dd1e 10px, #f2dd1e 20px);
  z-index: 0;
  background-size: 200%;
  background-position: right;
  background-attachment: fixed;
  animation: animateLeft 10s linear infinite;
}
.btn-page span {
  position: relative;
}
.btn-page:hover::before {
  animation: animateRight 10s linear infinite;
}

@keyframes animateRight {
  100% {
    background-position: right;
  }
}
@keyframes animateLeft {
  100% {
    background-position: left;
  }
}
.btn--radius {
  border-radius: 73px;
}

.btn--hero svg {
  width: 40px;
  height: 40px;
  margin-left: 26px;
}

.btn--core {
  position: relative;
  font-size: 18px;
}
.btn--core:hover {
  background-color: #000;
}
.btn--core::before {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: #fff url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
}

.btn--pro {
  position: relative;
  font-size: 18px;
  background-color: #ffffff;
  color: #000;
}
.btn--pro:hover {
  background-color: #000;
  color: #ffffff;
}
.btn--pro:hover::before {
  background: #fff url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
}
.btn--pro::before {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: #f76800 url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_130_235)'%3E%3Cpath d='M15.0002 3.8335L13.6489 5.18475L18.9964 10.5418L2 10.5418L2 12.4585L18.9964 12.4585L13.6489 17.8156L15.0002 19.1668L22.6668 11.5002L15.0002 3.8335Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_130_235'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") 50% no-repeat;
}

.btn_fixed-bottom {
  position: fixed;
  display: none;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: opacity 0.3s ease 0s;
  z-index: 100;
  max-width: 320px;
}
@media (min-width: 768px) {
  .btn_fixed-bottom {
    display: none;
  }
}

.btn_fixed-bottom-active {
  display: block !important;
}

.form__btn[disabled] {
  background: var(--red, linear-gradient(180deg, #ccc 0%, #ccc 100%));
  color: #514e4e;
  box-shadow: none;
  cursor: not-allowed;
}

.header {
  padding: 9px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111 !important;
  background: #0e213b;
  color: #000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
}
.header__logo {
  width: 255px;
  height: 40px;
  background: url(../img/header__logo.svg) left/contain no-repeat;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 24px;
}
.header__menu li.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #fff;
  padding: 10px 26px;
  padding-bottom: 12px;
}
.header__menu li.btn a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  font-family: "Benzin", sans-serif;
}
@media (max-width: 1200px) {
  .header__menu li.btn a {
    font-size: 16px;
  }
}
.header__menu a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1200px) {
  .header__menu a {
    font-size: 16px;
  }
}
.header__menu a:hover {
  text-decoration: underline;
}
.header__menu a.header__phone {
  font-weight: 700;
  color: #f76800;
  text-decoration: underline;
  font-size: 20px;
}
.header__burger {
  display: none;
  z-index: 30;
}
.header.active .header__menu {
  transform: translateX(0);
  opacity: 1;
  height: 100%;
}
.header.active .header__menu {
  transform: translateX(0);
  opacity: 1;
}
.header.active .header__burger span {
  background: #fff;
}
.header.active .header__burger span:nth-child(1) {
  transform: translate(1px, 4px) rotate(45deg);
  width: 20px;
}
.header.active .header__burger span:nth-child(2) {
  width: 20px;
  transform: translate(1px, -11px) rotate(-45deg);
}
.header.active .header__burger span:nth-child(3) {
  display: none;
}

@media (max-width: 760px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: 58px;
    text-align: left;
    background: #0e213b;
    align-items: start;
    padding-top: 40px;
    padding-bottom: 46px;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-flow: column;
    gap: 20px;
    transform: translateX(-150%);
    transition: all 1s;
    opacity: 0;
    padding-left: 20px;
    text-transform: uppercase;
  }
  .header__menu li {
    padding-bottom: 20px;
    border-bottom: solid 1px #fff;
    width: 220px;
    color: #fff;
  }
  .header__menu li.btn {
    font-family: "Benzin", sans-serif;
    margin: 20px auto 0;
    width: 300px;
  }
  .header__menu a {
    font-weight: 700;
  }
  .header__burger {
    width: 25px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  .header__burger span {
    height: 3px;
    background: #ffffff;
    border-radius: 4px;
    transition: 0.3s ease;
  }
}
#header-sticky-wrapper {
  height: 0 !important;
}

@media (min-width: 1200px) {
  .no-webp .hero {
    background: url(../img/bg-hero-xl-min.png) center center no-repeat;
  }
}

.hero {
  padding-top: 75px;
  color: #fff;
  text-align: center;
  z-index: 1;
  position: relative;
  background: url(../img/bg-hero-sm-min.png) top -100px center no-repeat;
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 120px;
    background: url(../img/bg-hero-xl-min.png) top 0px center no-repeat;
    background-size: contain;
  }
}
.hero .container {
  position: relative;
  text-align: left;
  text-transform: uppercase;
  line-height: normal;
}
.hero__local {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding-top: 16px;
  padding-bottom: 60px;
  display: inline-block;
  position: relative;
}
@media (min-width: 1200px) {
  .hero__local {
    font-size: 20px;
    padding-bottom: 54px;
  }
}
.hero__local::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(-45deg, #0d213b, #0d213b 2px, #ff4545 2px, #ff4545 6px);
}
.hero__local b {
  display: block;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .hero__local b {
    display: inline;
  }
}
.hero h1 {
  padding-bottom: 61px;
}
@media (min-width: 1200px) {
  .hero h1 {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 54px;
  }
}
.hero__title-img {
  display: block;
  min-width: 241px;
  max-width: 267px;
  height: 65px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='368' height='89' viewBox='0 0 368 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H49.1757V17.4904H19.3629V35.7548H49.1757V53.4H19.3629V70.8904H49.1757V89H0V0ZM105.881 78.4748V51.3878L91.436 44.5774L105.881 37.6122V10.68L88.5162 0H56.7057V17.4904H86.5185V35.7548H56.7057V53.4H86.5185V70.8904H56.7057V89H88.5162L105.881 78.4748Z' fill='white'/%3E%3Cpath d='M261.504 10.68L279.484 0H311.294V17.4904H281.482V70.8904H310.68V89H279.484L261.504 78.4748V10.68ZM348.022 60.2104V70.8904H318.824V89H350.02L368 78.4748V60.2104H348.022ZM368 28.3252V10.68L350.02 0H318.21V17.4904H348.022V28.3252H368Z' fill='white'/%3E%3Cpath d='M129.52 0H178.696V17.4904H148.883V35.7548H178.696V53.4H148.883V70.8904H178.696V89H129.52V0Z' fill='white'/%3E%3Cpath d='M235.402 51.3878V78.4748L218.036 89H185.945V70.8904H216.039V53.4H185.945V35.7548H216.039L235.402 51.3878Z' fill='white'/%3E%3Cpath d='M225.057 0H185.945V17.4904H225.057V0Z' fill='white'/%3E%3C/svg%3E%0A") center/contain no-repeat;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .hero__title-img {
    margin-bottom: 0;
    min-width: 368px;
    height: 89px;
  }
}
@media (min-width: 1200px) {
  .hero__title-line {
    display: block;
    min-width: 148px;
    height: 173px;
    background-size: contain;
    background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
  }
}
.hero__title-text {
  font-size: 26px;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .hero__title-text {
    font-size: 50px;
  }
}
.hero__subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 22px;
}
@media (min-width: 1200px) {
  .hero__subtitle {
    font-size: 22px;
  }
}
.hero__bottom-block {
  margin-bottom: 42px;
}
@media (min-width: 1200px) {
  .hero__bottom-block {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    gap: 64px;
  }
}
.hero__bottom-block b {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .hero__bottom-block b {
    font-size: 22px;
    display: block;
    max-width: 508px;
  }
}
.hero__btn {
  text-align: center;
  display: none;
}
@media (min-width: 1200px) {
  .hero__btn {
    display: block;
  }
}
.hero__btn .btn-page {
  margin: 0 auto;
  width: 300px;
}
@media (min-width: 768px) {
  .hero__btn {
    position: relative;
    left: inherit;
    transform: translate(0);
    text-align: center;
  }
}
.hero__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 58px;
  position: relative;
}
.hero__list::before, .hero__list::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1000%;
  z-index: -1;
  height: 6px;
  transform: translate(-50%, 0);
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.14) 4px, rgba(255, 255, 255, 0.14) 8px);
}
@media (min-width: 1200px) {
  .hero__list::before, .hero__list::after {
    transform: translate(0%, 0);
  }
}
.hero__list::before {
  top: 24px;
}
@media (min-width: 1200px) {
  .hero__list::before {
    top: 34px;
  }
}
.hero__list::after {
  bottom: 79px;
}
@media (min-width: 1200px) {
  .hero__list::after {
    content: none;
  }
}
.hero__list li {
  display: flex;
  flex-direction: column;
  width: 130px;
  align-items: baseline;
}
@media (min-width: 1200px) {
  .hero__list li {
    width: 140px;
  }
}
.hero__list li:nth-child(3)::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000%;
  z-index: -1;
  height: 6px;
  transform: translate(-50%, -50%);
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 4px, rgba(255, 255, 255, 0.14) 4px, rgba(255, 255, 255, 0.14) 8px);
}
@media (min-width: 1200px) {
  .hero__list li:nth-child(3)::after {
    content: none;
  }
}
.hero__list li:nth-child(3) b {
  transform: rotate(-90deg);
}
.hero__list li b {
  color: #ff4545;
  font-size: 44px;
  font-weight: 700;
  display: inline-block;
  padding: 0 10px;
  background-color: #05172d;
}
@media (min-width: 1200px) {
  .hero__list li b {
    font-size: 55px;
    margin-bottom: 10px;
  }
}
.hero__list li span {
  display: block;
  font-size: 14px;
  color: #828b96;
  font-weight: 600;
  line-height: 19px; /* 135.714% */
  letter-spacing: 1px;
}
@media (min-width: 1200px) {
  .hero__list li span {
    font-size: 15px;
  }
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: rotate(180deg);
}
.arrow__item {
  position: relative;
  width: 22px;
  height: 25px;
  transform: rotate(-180deg);
  animation: arrow 2s infinite;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='23' viewBox='0 0 15 23' fill='none'%3E%3Cpath d='M2.17236 21.3345L12.0068 11.5L2.17236 1.66553' stroke='%23FEE71D' stroke-width='4'/%3E%3C/svg%3E") right top no-repeat;
}
.arrow__item:nth-child(1) {
  animation-delay: -1s;
}
.arrow__item:nth-child(2) {
  animation-delay: -0.8s;
}
.arrow__item:nth-child(3) {
  animation-delay: -0.6s;
}
.arrow__item:nth-child(4) {
  animation-delay: -0.4s;
}
.arrow__item:nth-child(5) {
  animation-delay: -0.2s;
}
.arrow--left {
  transform: rotate(180deg);
  right: inherit;
  left: 0;
}

@keyframes arrow {
  0% {
    opacity: 1;
    transform: rotate(180deg) translate(-60px, 0px);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(180deg) translate(60px, 0px);
  }
}
.info {
  padding-top: 65px;
  text-transform: uppercase;
  padding-bottom: 90px;
  position: relative;
}
@media (min-width: 1200px) {
  .info {
    padding-top: 120px;
    padding-bottom: 140px;
  }
}
.info .page-line {
  position: absolute;
  bottom: 0;
  left: 0;
}
.info .container {
  position: relative;
}
.info__title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 34px;
}
@media (min-width: 1200px) {
  .info__title {
    margin-bottom: 40px;
  }
}
.info__title-img {
  display: block;
  min-width: 191px;
  height: 47px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='368' height='89' viewBox='0 0 368 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H49.1757V17.4904H19.3629V35.7548H49.1757V53.4H19.3629V70.8904H49.1757V89H0V0ZM105.881 78.4748V51.3878L91.436 44.5774L105.881 37.6122V10.68L88.5162 0H56.7057V17.4904H86.5185V35.7548H56.7057V53.4H86.5185V70.8904H56.7057V89H88.5162L105.881 78.4748Z' fill='white'/%3E%3Cpath d='M261.504 10.68L279.484 0H311.294V17.4904H281.482V70.8904H310.68V89H279.484L261.504 78.4748V10.68ZM348.022 60.2104V70.8904H318.824V89H350.02L368 78.4748V60.2104H348.022ZM368 28.3252V10.68L350.02 0H318.21V17.4904H348.022V28.3252H368Z' fill='white'/%3E%3Cpath d='M129.52 0H178.696V17.4904H148.883V35.7548H178.696V53.4H148.883V70.8904H178.696V89H129.52V0Z' fill='white'/%3E%3Cpath d='M235.402 51.3878V78.4748L218.036 89H185.945V70.8904H216.039V53.4H185.945V35.7548H216.039L235.402 51.3878Z' fill='white'/%3E%3Cpath d='M225.057 0H185.945V17.4904H225.057V0Z' fill='white'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
.info__title-line {
  display: block;
  width: 70.483px;
  height: 83.192px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
.info__text {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (min-width: 1200px) {
  .info__text {
    font-size: 18px;
  }
}
.info__text span {
  color: #fee71d;
}
.info__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 175px;
  height: 175px;
  position: absolute;
  top: 20px;
  right: 0;
  animation: 9s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title {
  display: flex;
  align-items: center;
  gap: 34px;
}
.title__img {
  display: block;
  min-width: 191px;
  height: 47px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='368' height='89' viewBox='0 0 368 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H49.1757V17.4904H19.3629V35.7548H49.1757V53.4H19.3629V70.8904H49.1757V89H0V0ZM105.881 78.4748V51.3878L91.436 44.5774L105.881 37.6122V10.68L88.5162 0H56.7057V17.4904H86.5185V35.7548H56.7057V53.4H86.5185V70.8904H56.7057V89H88.5162L105.881 78.4748Z' fill='white'/%3E%3Cpath d='M261.504 10.68L279.484 0H311.294V17.4904H281.482V70.8904H310.68V89H279.484L261.504 78.4748V10.68ZM348.022 60.2104V70.8904H318.824V89H350.02L368 78.4748V60.2104H348.022ZM368 28.3252V10.68L350.02 0H318.21V17.4904H348.022V28.3252H368Z' fill='white'/%3E%3Cpath d='M129.52 0H178.696V17.4904H148.883V35.7548H178.696V53.4H148.883V70.8904H178.696V89H129.52V0Z' fill='white'/%3E%3Cpath d='M235.402 51.3878V78.4748L218.036 89H185.945V70.8904H216.039V53.4H185.945V35.7548H216.039L235.402 51.3878Z' fill='white'/%3E%3Cpath d='M225.057 0H185.945V17.4904H225.057V0Z' fill='white'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .title__img {
    min-width: 368px;
    height: 89px;
  }
}
.title__line {
  display: block;
  width: 70.483px;
  height: 83.192px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .title__line {
    display: block;
    min-width: 148px;
    height: 173px;
  }
}

.page-line {
  width: 100%;
  height: 63px;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 8px, rgba(255, 255, 255, 0.1) 8px, rgba(255, 255, 255, 0.1) 16px);
}

.speakers {
  padding-top: 32px;
  text-transform: uppercase;
  padding-bottom: 66px;
  position: relative;
}
@media (min-width: 1200px) {
  .speakers {
    padding-top: 120px;
    padding-bottom: 77px;
  }
}
.speakers .container {
  position: relative;
  text-align: center;
}
.speakers__title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1200px) {
  .speakers__title {
    margin-bottom: 40px;
  }
}
.speakers__title-text {
  color: #ff4545;
  font-size: 34px;
  font-weight: 800;
  line-height: 56px; /* 164.706% */
  display: flex;
  gap: 6px;
}
.speakers__title-text span {
  color: #fff;
}
.speakers__title-line {
  display: block;
  width: 32px;
  height: 40px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
.speakers__img {
  width: 231px;
  height: 273px;
  background-size: contain;
  margin: 0 auto 20px;
  background-position-x: center;
  background-repeat: no-repeat;
}
.speakers__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
@media (min-width: 1200px) {
  .speakers__text {
    font-size: 16px;
  }
}
.speakers__text i {
  font-style: italic;
}
.speakers__block {
  text-align: center;
}
@media (min-width: 1200px) {
  .speakers__block {
    max-width: 240px;
    text-align: left;
  }
}
.speakers ul {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  justify-content: space-between;
  margin-bottom: 52px;
}
.speakers ul li {
  color: #fff;
  max-width: 330px;
  width: 100%;
}
@media (min-width: 1200px) {
  .speakers ul li {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    width: 100%;
  }
}
.speakers ul li b {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 14px;
}
.speakers ul li b span {
  display: block;
  color: #ffde00;
}
.speakers__soon {
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding: 14px 20px;
  color: #fff;
}
@media (min-width: 1200px) {
  .speakers__soon {
    font-size: 22px;
    display: inline;
  }
}
.speakers__soon span {
  color: #fee71d;
}

.check {
  padding-top: 135px;
  text-transform: uppercase;
  padding-bottom: 0px;
  position: relative;
  color: #fff;
}
@media (min-width: 1200px) {
  .check {
    padding-top: 32px;
    padding-bottom: 77px;
  }
}
.check .page-line {
  position: absolute;
  top: 0;
  left: 0;
}
.check .container {
  position: relative;
  text-align: center;
}
.check__title {
  font-size: 32px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 44px;
}
.check__title span {
  color: #ff4545;
}
@media (min-width: 1200px) {
  .check__title span {
    display: block;
  }
}
.check ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 44px;
  margin-bottom: 44px;
}
.check ul li {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  width: 162px;
}
@media (min-width: 1200px) {
  .check ul li {
    width: 222px;
  }
}
.check ul li b {
  font-weight: 800;
  font-size: 34px;
  display: flex;
  gap: 12px;
  align-items: center;
  position: relative;
}
@media (min-width: 1200px) {
  .check ul li b {
    font-size: 40px;
  }
}
.check ul li b::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='39' viewBox='0 0 46 39' fill='none'%3E%3Cpath d='M10.7354 14.8922L20.6193 24.7761L43.3955 2' stroke='%23FEE71D' stroke-width='5.15686'/%3E%3Cpath d='M29.2141 2.85947H3V36.3791H36.5196V23.9167' stroke='white' stroke-opacity='0.6' stroke-width='5.15686'/%3E%3C/svg%3E") no-repeat center;
  width: 40.395px;
  height: 34.379px;
  background-size: contain;
}
.check ul li span {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px; /* 135.714% */
  letter-spacing: 1px;
}
@media (min-width: 1200px) {
  .check ul li span {
    font-size: 15px;
  }
}
.check__description {
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding: 14px 20px;
  color: #fff;
}
@media (min-width: 1200px) {
  .check__description {
    font-size: 22px;
    display: inline;
  }
}
.check__description span {
  color: #fee71d;
}
@media (min-width: 1200px) {
  .check__bottom-block {
    display: flex;
    gap: 44px;
  }
}
.check .btn-page {
  width: 300px;
  display: none;
}
@media (min-width: 1200px) {
  .check .btn-page {
    display: block;
  }
}

.event {
  padding-top: 68px;
  text-transform: uppercase;
  padding-bottom: 66px;
  position: relative;
}
@media (min-width: 1200px) {
  .event {
    padding-top: 120px;
    padding-bottom: 77px;
  }
}
.event .container {
  position: relative;
  text-align: center;
  color: #fff;
  text-align: left;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .event .container {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 64px;
  }
}
.event__big {
  font-size: 88px;
  font-weight: 800;
  letter-spacing: 12.786px;
  margin-bottom: -12px;
  color: #fff;
}
@media (min-width: 1200px) {
  .event__big {
    font-size: 117px;
  }
}
.event__title {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.9px;
}
@media (min-width: 1200px) {
  .event__title {
    font-size: 40px;
    max-width: 338px;
  }
}
.event__title span {
  color: #ffde00;
}
.event__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1200px) {
  .event__item {
    gap: 0;
    justify-content: space-between;
  }
}
.event p {
  opacity: 0.6;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1px;
}
.event__img {
  width: 335px;
  height: 212px;
  background-size: cover;
}
@media (min-width: 1200px) {
  .event__img {
    width: 494px;
    height: 314px;
    margin-bottom: 38px;
  }
}
.event__block {
  display: flex;
  flex-direction: row;
  gap: 22px;
}
.event__block::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='3' fill='%2341B4E6'/%3E%3Cpath d='M21.9544 28.2639L32.1447 35.9576L37.2885 14L11 24.3407L18.9993 26.9903L33.5982 17.1977L21.9544 28.2639Z' fill='white'/%3E%3Cpath d='M18.9993 26.9903L21.1901 34.8739L21.9544 28.264L33.5982 17.1978L18.9993 26.9903Z' fill='%23D2D2D7'/%3E%3Cpath d='M25.2663 30.7644L21.1902 34.8739L21.9545 28.2639L25.2663 30.7644Z' fill='%23B9B9BE'/%3E%3C/svg%3E") no-repeat center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: block;
  content: "";
}
.event__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.event .chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}
.event .chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}
.event .chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}
.event .chevron:before,
.event .chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: red;
}
.event .chevron:before {
  left: 0;
  transform: skewY(30deg);
}
.event .chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

.packages .container {
  text-align: center;
}
.packages__title-text {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 12px;
  margin-bottom: 36px;
}
@media (min-width: 1200px) {
  .packages__title-text {
    padding: 0 150px;
  }
}
.packages__title-text span {
  display: block;
  color: #ffde00;
}
.packages__title {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .packages__title {
    font-size: 60px;
    gap: 44px;
    align-items: center;
  }
}
.packages__title b {
  color: #ff4545;
  display: block;
}
@media (min-width: 1200px) {
  .packages__title b {
    display: inline;
  }
}
.packages__title-line {
  display: block;
  min-width: 32px;
  height: 40px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .packages__title-line {
    width: 75.403px;
    height: 89px;
  }
}
.packages__subtitle {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 54px;
}
@media (min-width: 1200px) {
  .packages__subtitle {
    font-size: 18px;
  }
}
.packages__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1200px) {
  .packages__content {
    flex-direction: row;
  }
}

.package {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .package {
    max-width: 280px;
  }
}
.package__title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.package__subtitle {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
}
.package__line {
  width: 100%;
  height: 8px;
  margin-bottom: 18px;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 2px, #fee71d 2px, #fee71d 6px);
}
.package ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 28px;
}
.package ul li {
  position: relative;
  padding-left: 24px;
}
.package ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='20' viewBox='0 0 13 20' fill='none'%3E%3Ccircle cx='7' cy='10' r='3' fill='%23FFDE00'/%3E%3C/svg%3E") no-repeat center;
  width: 13px;
  height: 20px;
  background-size: contain;
}
.package ul li ul {
  margin-top: 18px;
  gap: 8px;
}
.package ul li ul li::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='20' viewBox='0 0 13 20' fill='none'%3E%3Ccircle cx='7' cy='10' r='3' fill='%23fff'/%3E%3C/svg%3E") no-repeat center;
}
.package__btn {
  text-transform: uppercase;
}
.package__btn:hover {
  cursor: pointer;
}
.package .btn-top {
  background: rgba(255, 255, 255, 0.07);
  font-size: 15px;
}
.package .btn-top span {
  color: #fff;
}
.package .btn-top::before {
  content: none;
}
.package .btn-bottom {
  margin-top: 28px;
  font-size: 18px;
}
.package__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
}
.package__more {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 6px;
  margin-top: 22px;
}
.package__more:hover {
  cursor: pointer;
}
.package__more::before {
  content: " Дізнатися детальний опис пакету";
}
.package__more:after {
  content: "";
  height: 24px;
  width: 90px;
  background: url("data:image/svg+xml,%3Csvg width='91' height='24' viewBox='0 0 91 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.48523 9.4667L7.46084 8.55884L12.147 12.9196L16.8331 8.55884L17.8088 9.4667L12.147 14.7353L6.48523 9.4667Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.4852 9.4667L40.4608 8.55884L45.147 12.9196L49.8331 8.55884L50.8088 9.4667L45.147 14.7353L39.4852 9.4667Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M72.4852 9.4667L73.4608 8.55884L78.147 12.9196L82.8331 8.55884L83.8088 9.4667L78.147 14.7353L72.4852 9.4667Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
}
.package.active .package__more:before {
  content: "Приховати деталі";
  order: 2;
}
.package.active .package__more:after {
  transform: rotate(180deg);
}

.samit {
  padding-top: 100px;
}
.samit .container {
  position: relative;
}
.samit__title {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
}
@media (min-width: 1200px) {
  .samit__title {
    font-size: 45px;
    gap: 28px;
  }
}
.samit__title b {
  color: #ff4545;
}
.samit__title-line {
  display: block;
  width: 32px;
  height: 40px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .samit__title-line {
    width: 55px;
    height: 40px;
  }
}
.samit__slider {
  margin-top: 28px;
}
@media (min-width: 1200px) {
  .samit__slider {
    margin-top: 38px;
  }
}
.samit .swiper-slide {
  width: 332px;
  height: 200px;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .samit .swiper-slide {
    width: 434.131px;
    height: 267.893px;
  }
}
.samit .swiper-button-arrows {
  min-width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  margin-top: 28px;
}
@media (min-width: 1200px) {
  .samit .swiper-button-arrows {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
  }
}
.samit .swiper-button-arrows .samit-btn {
  background: #ff4545;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.samit .swiper-button-arrows .samit-btn::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cg clip-path='url(%23clip0_353_8698)'%3E%3Cpath d='M10.4947 20.9893L12.3444 19.1396L5.02435 11.8064L20.9895 11.8064L20.9895 9.18268L5.02435 9.18268L12.3576 1.8626L10.4947 -0.000214082L-4.5874e-07 10.4945L10.4947 20.9893Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_353_8698'%3E%3Crect width='21' height='21' fill='white' transform='translate(21 21) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  display: block;
  width: 21px;
  height: 21px;
}
.samit .swiper-button-arrows .samit-next {
  transform: rotate(-180deg);
}
.samit__description {
  background: rgba(255, 255, 255, 0.05);
  font-size: 18px;
  font-weight: 800;
  padding: 14px 20px;
  color: #fff;
  margin-bottom: 14px;
}
@media (min-width: 1200px) {
  .samit__description {
    font-size: 22px;
    display: inline;
  }
}
.samit__description span {
  color: #fee71d;
}
.samit__bottom-block {
  text-transform: uppercase;
  margin-top: 48px;
  text-align: left;
}
@media (min-width: 1200px) {
  .samit__bottom-block {
    display: flex;
    gap: 44px;
    align-items: center;
    margin-top: 60px;
  }
}
.samit__bottom-block p {
  color: #505d6c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3; /* 131.25% */
}
@media (min-width: 1200px) {
  .samit__bottom-block p {
    margin-top: 24px;
  }
}
.samit .btn-page {
  width: 300px;
  margin: 30px auto 0;
}
@media (min-width: 1200px) {
  .samit .btn-page {
    display: block;
    margin: 0;
  }
}

.partners {
  padding-top: 72px;
  text-transform: uppercase;
  padding-bottom: 0px;
  position: relative;
  color: #fff;
}
@media (min-width: 1200px) {
  .partners {
    padding-top: 32px;
    margin-top: 100px;
    padding-bottom: 0;
  }
}
.partners .page-line {
  position: absolute;
  top: 0;
  left: 0;
}
.partners .container {
  position: relative;
  text-align: center;
}
.partners__title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (min-width: 1200px) {
  .partners__title {
    margin-bottom: 40px;
  }
}
.partners__title-text {
  color: #ff4545;
  font-size: 34px;
  font-weight: 800;
  line-height: 56px; /* 164.706% */
  display: flex;
  gap: 6px;
  text-align: center;
  justify-self: center;
}
@media (min-width: 1200px) {
  .partners__title-text {
    font-size: 45px;
  }
}
.partners__title-text span {
  color: #fff;
}
.partners__title-line {
  display: block;
  min-width: 32px;
  height: 40px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
.partners__list {
  padding-bottom: 48px;
}
@media (min-width: 1200px) {
  .partners__list {
    padding-bottom: 66px;
  }
}
.partners__list:last-child {
  padding-bottom: 0;
}
.partners__list h3 {
  color: #fff;
  text-align: center;
  opacity: 0.6;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.partners__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 1200px) {
  .partners__logos {
    gap: 36px;
  }
}
.partners__img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.register {
  padding-top: 72px;
  padding-bottom: 100px;
  position: relative;
}
@media (min-width: 1200px) {
  .register {
    padding-top: 120px;
  }
}
.register .page-line {
  position: absolute;
  top: 60px;
  left: 0;
}
@media (min-width: 1200px) {
  .register .page-line {
    top: 110px;
  }
}
.register__title {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
  line-height: 42px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .register__title {
    font-size: 70px;
    gap: 44px;
    align-items: center;
  }
}
.register__title-line {
  display: block;
  min-width: 32px;
  height: 40px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .register__title-line {
    width: 75.403px;
    height: 89px;
  }
}
.register__place {
  margin-bottom: 33px;
  color: #05172d;
  font-size: 22px;
  font-style: normal;
  padding-left: 35px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  position: relative;
  padding-top: 22px;
}
@media (min-width: 1200px) {
  .register__place {
    margin-bottom: 44px;
  }
}
.register__place::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: repeating-linear-gradient(-45deg, #fff, #fff 2px, #ff4545 2px, #ff4545 6px);
}
.register__place b {
  font-weight: 800;
  display: block;
}
.register__content {
  padding-top: 78px;
}
@media (min-width: 1200px) {
  .register__content {
    display: flex;
    flex-direction: row;
    width: 890px;
    margin: 0 auto;
  }
}
.register__description {
  color: rgba(0, 0, 0, 0.29);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  padding-left: 35px;
  padding-top: 22px;
}
@media (min-width: 1200px) {
  .register__description {
    padding-top: 50px;
    max-width: 260px;
  }
}
.register__item--menu {
  opacity: 0.9;
  background: #fff;
  padding: 20px 0;
}
@media (min-width: 1200px) {
  .register__item--menu {
    min-width: 367px;
    padding: 44px 0;
  }
}
.register__item--menu ul li {
  color: #05172d;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 10px 0 10px 34px;
  transition: all 0.3s;
}
.register__item--menu ul li:hover {
  cursor: pointer;
}
.register__item--menu ul li:last-child {
  margin-top: 10px;
  font-size: 18px;
}
.register__item--menu ul .active {
  background: #ff4545;
  color: #fff;
}
.register__item--form {
  opacity: 0.9;
  background: #fee71d;
  padding: 60px 0;
  position: relative;
}
@media (min-width: 1200px) {
  .register__item--form {
    padding: 70px 0;
  }
}
.register__item--form::before, .register__item--form::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 24px;
  background: repeating-linear-gradient(-45deg, #fee71d, #fee71d 10px, #f2dd1e 10px, #f2dd1e 20px);
}
.register__item--form::after {
  bottom: 0;
}
.register__item--form::before {
  top: 0;
}
.register__item--form .form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media (min-width: 1200px) {
  .register__item--form .form {
    padding: 0 60px;
    gap: 34px;
  }
}
.register__item--form .form__title {
  color: #05172d;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2.75px;
  text-transform: uppercase;
}
.register__item--form .form input {
  height: 52px;
  border: none;
  border-bottom: solid 3px #05172d;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
}
.register__item--form .form input::-moz-placeholder {
  font-size: 18px;
  color: #05172d;
}
.register__item--form .form input::placeholder {
  font-size: 18px;
  color: #05172d;
}
.register__item--form .form .intl-tel-input {
  width: 100%;
}
.register__item--form .form__btn {
  background: #05172d;
  letter-spacing: normal;
  outline: none;
  border: none;
}
.register__item--form .form__btn:hover {
  cursor: pointer;
}
.register__item--form .form__btn:hover::before {
  animation: animateRight 10s linear infinite;
}
.register__item--form .form__btn::before {
  animation: animateLeft 10s linear infinite;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px);
}
.register__item--form .form__btn span {
  color: #fff;
  text-transform: uppercase;
}
.register__item--form .form__agree {
  color: rgba(0, 0, 0, 0.29);
  font-size: 14px;
  font-weight: 400;
}
.register__item--form .form__agree a {
  color: rgba(0, 0, 0, 0.29);
}

.program {
  padding-top: 68px;
}
.program__title {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  .program__title {
    font-size: 45px;
    gap: 28px;
    margin-bottom: 0;
  }
}
.program__title b {
  color: #ff4545;
}
.program__title-line {
  display: block;
  width: 32px;
  height: 40px;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}
@media (min-width: 1200px) {
  .program__title-line {
    width: 55px;
    height: 40px;
  }
}
@media (min-width: 1200px) {
  .program .container {
    display: flex;
    flex-direction: row;
  }
}
.program ul {
  display: flex;
  flex-direction: column;
  background: url(../img/bg-program-min.jpg) top 0px center no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  .program ul {
    max-width: 672px;
  }
}
.program ul li:nth-child(odd) {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16px 12px;
}
@media (min-width: 1200px) {
  .program ul li:nth-child(odd) {
    font-size: 20px;
    padding: 16px 20px;
  }
}
.program ul li:nth-child(even) {
  padding-top: 12px;
  background-color: #05172d;
}
@media (min-width: 1200px) {
  .program ul li:nth-child(even) {
    padding-top: 14px;
  }
}

.thanks {
  padding-top: 100px;
  color: #fff;
  text-align: center;
  z-index: 1;
  position: relative;
  background: url(../img/bg-hero-sm-min.png) top -100px center no-repeat;
  height: 100vh;
}
@media (min-width: 1200px) {
  .thanks {
    padding-top: 120px;
    background: url(../img/bg-hero-xl-min.png) top 0px center no-repeat;
    background-size: contain;
  }
}
.thanks .container {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media (min-width: 1200px) {
  .thanks .container {
    max-width: 512px;
    margin: 0 auto;
  }
}
.thanks h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  line-height: 122.5%;
}
@media (min-width: 1200px) {
  .thanks h2 {
    font-size: 36px;
  }
}
.thanks h1 {
  color: #ffde00;
  font-size: 24px;
  font-weight: 800;
  line-height: 122.5%;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .thanks h1 {
    font-size: 36px;
  }
}
.thanks h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 122.5%;
  text-transform: none;
  margin-bottom: 22px;
}
@media (min-width: 1200px) {
  .thanks h3 {
    font-size: 24px;
  }
}
.thanks p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 122.5%;
  text-transform: none;
}
@media (min-width: 1200px) {
  .thanks p {
    font-size: 18px;
  }
}
.thanks__package-name {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 25px 16px;
  position: relative;
}
@media (min-width: 1200px) {
  .thanks__package-name {
    font-size: 24px;
  }
}
.thanks__package-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 6px;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 4px, #fee71d 4px, #fee71d 8px);
}

.footer {
  font-family: "Lexend Giga", sans-serif;
  background: #2a2829 url(../img/footer-bg.png) center bottom;
  background-repeat: repeat-x;
  padding: 48px 0;
  color: #ffffff;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 268px;
}
@media (min-width: 760px) {
  .footer__container {
    max-width: 1140px;
    justify-content: center;
    gap: 80px;
  }
}
.footer__container h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 28px;
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__container ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__social_links {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer__social_links {
    gap: 30px;
  }
}
.footer__social_links a {
  display: block;
}
.footer__social svg {
  fill: #f76800;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1260px) {
  .footer__container {
    justify-content: space-between;
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */