.safety {

  .container {
    padding-top: 0px;
    padding-bottom: 20px;

    @include laptop-l() {
      padding-top: 0px;
      padding-bottom: 50px;
    }
  }


  &__item{
    background-image: linear-gradient(to top, #045de9, #09c6f9);
    border-radius: 40px;
    width: 290px;
    margin: 0 auto;

    @include laptop-l() {
      display: flex;
      width: 750px;
    }
  }
  &__text {
    padding: 25px;
    text-align: left;
    color: #ffffff;

    @include laptop-l() {
      padding-left: 75px;
    }

    b{
      font-size: 20px;
      margin-bottom: 20px;
      display: block;
    }

    p{
      font-size: 16px;
    }

    span{
      font-size: 16px;
      font-weight: bold;
    }
  }
}