.tour {

  @include laptop-l() {
    background: url(images/bg-min.jpg) bottom  center no-repeat;
    @at-root .webp & {
      background: url(images/bg.webp) bottom  center no-repeat;

    }
  }

  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include mobile() {
      max-width: 767px;
      width: 100%;
    }
    @include laptop-l() {
      max-width: 1170px;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    position: relative;

    li{
      margin-bottom: 20px;

      @include laptop-l() {
        border-radius: 40px;
        overflow: hidden;
        margin-bottom: 40px;
      }
      &:nth-child(even){
        @include laptop-l() {
          flex-direction: row-reverse;
        }
      }

      @include laptop-l() {
        display: flex;
        justify-content: center;
      }

      img{
        width: 100%;
        border-radius: 40px;
        @include laptop-l() {
          border-radius: 0;
        }
      }



    }

  }

  &__text{
    padding: 25px 59px 25px 50px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.54px;
    text-align: left;
    color: #ffffff;

    @include mobile() {
      font-size: 36px;
    }
    @include laptop-l() {
      width: 50%;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--orang{
      background-image: linear-gradient(to right, #ef353e, #ff9f20);
    }

    &--blue{
      background-image: linear-gradient(to right, #045de9, #09c6f9);
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;
  }
}