@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/*font-family: 'Pacifico', cursive;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html * {
  max-height: 1000000px;
}

body {
  background: #fffcff;

  &.no-scroll {
    overflow-y: hidden;
  }
}

#main {
  width: 100%;
  overflow: hidden;
}

.fixedtop.show {
  z-index: 10;
}

#bg_popup {
  display: none !important;
}

#bg_popup_two {
  display: none !important;
}

#bg_popup_three {
  display: none !important;
}

button {
  outline: none !important;

  &:focus,
  &:active,
  &:hover {
    outline: none !important;
  }
}

p {
  margin-bottom: 0;
}

.branding-page .branding-fixed {
  background: none;
}

.branding-page #main {
  width: 100%;
  background: none;
}

.branding-page {
  padding-top: 0;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

.branding ~ .seminars-container {
  padding-top: 32px;
}

.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: none;

  .heading {
    display: none;
  }
}


.circle {
  display: none;
}

#__telerWdTriggerContent {
  @media (max-width: 760px) {
    display: none;
  }
}

@import "variables";
@import "mixins";
@import "burger";
@import "btn";
@import "page-title";
@import "top-line";
@import "menu";
@import "hero";
@import "tour";
@import "places";
@import "info";
@import "safety";
@import "order";
@import "package";
@import "footer";
@import "loader-page";


.seminar-landing {
  padding-top: 55px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;

  @include laptop-l() {
    padding-top: 0;
    font-size: 20px;
  }
}

.header {
  display: none;

  @include laptop-l() {
    display: block;
  }
}

.dk-seminar{

  @media (max-width: 1200px){
    .top-line{
      display: none;
    }

    .seminar-landing{
      padding-top: 0;
    }
  }
}

.hide-kbs{
  display: none;
}

