.timer {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;

  &__item {
    border-radius: 0px 12px 0px 0px;
    background: var(--red, linear-gradient(180deg, #fe5151 0%, #ca0018 100%));
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;

    @include media-breakpoint-up(xl) {
      width: 80px;
      height: 80px;
      font-size: 32px;
      padding-top: 6px;
    }

    span {
      display: block;
      font-family: "Lexend Giga", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &_colon {
    font-family: "Lexend Giga", sans-serif;
    margin: 0 10px;
    font-size: 32px;

    @include media-breakpoint-up(xl) {
      margin: 0 14px;
    }
  }
}
