{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
    <div class="heading mw">
        <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
            <p></p><a href="/7min" class="video_news"><span>Н</span>овини</a><a href="https://7eminar.ua/" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
        </div>
        <div class="menu-mob">
            <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
            <ul class="menu">
                <li><a href="#lectors" class="burger__link">ЛЕКТОРИ</a></li>
                <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                <li><a href="#map" class="burger__link">МІСЦЕ ПРОВЕДЕННЯ</a></li>
                <li><a href="#order" class="burger__link">ОТРИМАТИ КВИТОК</a></li>
            </ul>
        </div>
    </div>
    <div class="hero">
        <div class="container hero__container">
            <div class="hero__content">
                <div class="hero__title">
                    <p><span>Календар</span><br/>виїзних семінарів</p>
                    <p class="hero__sub-title">2020 року</p>
                </div>
                <p class="hero__sub-text">Сплануйте відпочинок вже сьогодні!</p><a href="#skidnytsia" class="hero__btn btn">обрати тур для себе</a>
            </div>
        </div>
    </div>
    <div class="hero-bottom">
        <p class="hero-bottom__text"><span>7eminar.club</span> – клуб неймовірних вражень та подорожей<br/>запрошує вас приєднатися до наших турів
        </p>
    </div>
    <div id="skidnytsia" class="tour_skidnytsia tour">
        <div class="container tour_skidnytsia__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month tour_skidnytsia__month">Червень</p>
                            <p class="info__day">20-23</p>
                        </div>
                        <p class="info__title">7 задоволень для бухгалтера</p>
                        <p class="info__sub-title">Ретрит-тур, відпочинок та оздоровлення</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">с. Сатанів, Хмельницька обл.</li>
                        <li class="info__item info__item--price">від <b>8499</b>  грн
                        </li>
                        <li class="info__item info__item--train">потягом</li>
                    </ul><a href="/calendar2020_registration" target="_blank" class="btn tour_skidnytsia__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text">Час готуватися до літнього відпочинку! Пропонуємо вам відпочити в чудових умовах у «Сонячному Провансі», відвідати SPA, поніжитися в басейні та гарно провести 4 дні у форматі «суцільний релакс». А ще прослухати дуже корисні лекції та отримати поради від фахівців з краси, стилю, фітнесу, дієтології та психології.</p>
                    <p class="description__text"><b>У вартість туру входить:</b> проживання в двомісних номерах, триразове харчування, щоденний ранковий фітнес з тренером, користування відкритим басейном з підігрівом, лекції з фахівцями з дієтології, психології, стилю, догляду за обличчям, гала-вечеря з латино-американськими танцями, сертифікат на послуги SPA номіналом 700 грн, супровід представника компанії 7eminar.com.
                    </p><a href="/calendar2020_registration" target="_blank" class="tour_skidnytsia__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                </div>
                <picture>
                    <source srcset="storage/seminars/pages/calendar2020/images/skidnytsia_img.webp" type="image/webp" class="tour__img hidden-sm hidden-md hidden-lg"/><img src="storage/seminars/pages/calendar2020/images/skidnytsia_img.jpg" class="tour__img hidden-sm hidden-md hidden-lg"/>
                </picture><a href="/calendar2020_registration" target="_blank" class="btn tour_skidnytsia__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>
    <div id="emirates" class="tour-emirates tour">
        <div class="container tour-emirates__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month">Дата уточнюється</p>
                        </div>
                        <p class="info__title">Платинум-тур в&nbsp;ОАЕ</p>
                        <p class="info__sub-title">Чарівність Перської затоки</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">Об’єднані Арабські Емірати</li>
                        <li class="info__item info__item--price">від <b>35499</b>  грн
                        </li>
                        <li class="info__item info__item--plane">авіа</li>
                    </ul><a href="/calendar2020_registration" target="_blank" class="btn tour-emirates__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text">8 днів / 7 ночей у казці! Готель TULIP INN AL KHAN знаходиться в Шарджі, на березі затоки. Вас чекає неймовірна краса Індійського океану, білосніжний пісок та чудові пляжі. Наш готель має високі рейтинги та хороші відгуки. Біля готелю є торгові центри, супермаркети, кав’ярні.</p>
                    <p class="description__text"><b>У вартість туру входить:</b> переліт, трансфер до готелю, двомісне розміщення в номерах зі всіма зручностями  Superior Delux, дворазове харчування, безкоштовний  трансфер на пляж, екскурсія в Дубаї.
                    </p><a href="/calendar2020_registration" target="_blank" class="tour-emirates__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                    <div class="description__info">
                        <p>Дата туру буде вказана додатково після зняття карантинних заходів та відновлення польотної карти.</p>
                    </div>
                </div>
                <picture>
                    <source srcset="storage/seminars/pages/calendar2020/images/emirates__img.webp" type="image/webp" class="tour__img hidden-sm hidden-md hidden-lg"/><img src="storage/seminars/pages/calendar2020/images/emirates__img.jpg" class="tour__img hidden-sm hidden-md hidden-lg"/>
                </picture><a href="/calendar2020_registration" target="_blank" class="btn tour-emirates__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>
    <div class="tour_instanbul tour">
        <div class="container tour_instanbul__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month">Дата уточнюється</p>
                        </div>
                        <p class="info__title">Стамбул – зірка Сходу</p>
                        <p class="info__sub-title">Екскурсії та шопінг</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">Туреччина</li>
                        <li class="info__item info__item--price">від <b>22999</b>  грн
                        </li>
                        <li class="info__item info__item--plane">авіа</li>
                    </ul><a href="/calendar2020_registration" target="_blank" class="btn tour_instanbul__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text">Загадковий і величний, галасливий і казково красивий Стамбул – це міст між Європою і Азією. Розміщення в готелі Innova Sultanahmet Istanbul, який знаходиться в центрі міста, в 500 метрах від церкви св. Софії та Блакитної мечеті, з видом на Босфор.</p>
                    <p class="description__text"><b>У вартість туру входить:</b> переліт, трансфер до готелю, проживання в двомісних номерах (4 дні / 3 ночі), сніданки, екскурсія містом. Пропонуємо безкоштовні шопінг-тури на фабрики хутра, шкіри, дорогоцінних металів.
                    </p><a href="/calendar2020_registration" target="_blank" class="tour_instanbul__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                    <div class="description__info">
                        <p>Дата туру буде вказана додатково після зняття карантинних заходів та відновлення польотної карти.</p>
                    </div>
                </div>
                <picture>
                    <source srcset="storage/seminars/pages/calendar2020/images/istanbul_img.webp" type="image/webp" class="tour__img hidden-sm hidden-md hidden-lg"/><img src="storage/seminars/pages/calendar2020/images/istanbul_img.jpg" class="tour__img hidden-sm hidden-md hidden-lg"/>
                </picture><a href="/calendar2020_registration" target="_blank" class="btn tour_instanbul__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>
    <div class="tour_amsterdam tour">
        <div class="container tour_amsterdam__container">
            <div class="tour__content">
                <div class="info">
                    <div class="info__content">
                        <div class="info__date">
                            <p class="info__month">Дата уточнюється</p>
                        </div>
                        <p class="info__title">Країна тюльпанів</p>
                        <p class="info__sub-title">Амстердам – квітка Європи</p>
                    </div>
                    <ul class="info__list">
                        <li class="info__item info__item--place">Нідерланди</li>
                        <li class="info__item info__item--price">від <b>21499</b>  грн
                        </li>
                        <li class="info__item info__item--bus">автобусний</li>
                    </ul><a href="/calendar2020_registration" target="_blank" class="btn tour_amsterdam__btn hidden-sm hidden-md hidden-lg">Дізнатися більше</a>
                </div>
                <div class="description">
                    <p class="description__text">Динамічний, красивий тур до країни тюльпанів – Нідерландів. Тур автобусний, без нічних переїздів, 8 днів / 7 ночей, з яких 3 дні в Амстердамі! Вже сплачено екскурсії  Варшавою, Берліном, Амстердамом, Ганновером, Вроцлавом.  Є депозит 60 євро на додаткові екскурсії: парк тюльпанів Кекенхов або Гаага і Роттердам (а для бажаючих «дорослих» вражень – пікантний Амстердам).</p>
                    <p class="description__text"><b>У вартість туру входить:</b> трансфер автобусом, ночівля в готелях зі сніданками, страховий поліс, 5 екскурсій та депозит 60 євро.
                    </p><a href="/calendar2020_registration" target="_blank" class="tour_amsterdam__btn description__btn btn btn visible-sm visible-md visible-lg">Дізнатися більше</a>
                    <div class="description__info">
                        <p>Дата туру буде вказана додатково після зняття карантинних заходів та відновлення перетину кордонів зони Євросоюзу.</p>
                    </div>
                </div>
                <picture>
                    <source srcset="storage/seminars/pages/calendar2020/images/euro_2.webp" type="image/webp" class="tour__img hidden-sm hidden-md hidden-lg"/><img src="storage/seminars/pages/calendar2020/images/amsterdam_img.webp" class="tour__img hidden-sm hidden-md hidden-lg"/>
                </picture><a href="/calendar2020_registration" target="_blank" class="btn tour_amsterdam__btn hidden-sm hidden-md hidden-lg">Хочу в тур</a>
            </div>
        </div>
    </div>
    <div class="attention">
        <div class="container attention__container">
            <p class="attention__text">Увага! Ціни можуть змінюватися, залежно від коливання курсу валют.<br/>Перед оплатою рахунку уточнюйте вартість туру у менеджера за телефоном: (044) 507-22-77</p>
        </div>
    </div>
    <div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
        <div role="document" class="modal-dialog">
            <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
    <div id="modal-present" tabindex="-1" role="dialog" class="modal-present modal fade">
        <div role="document" class="modal-dialog">
            <div data-dismiss="modal" class="close-modal"></div>
            <div class="modal-content">
                <div class="modal-present__content"></div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="container partners__container">
            <ul class="partners__list">
                <li><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></li>
                <li><a href="http://www.smart-it.com/uk/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/smart-2.png" height="50" alt="Smart IT"/></a></li>
                <li><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></li>
            </ul>
            <ul class="partners__list">
                <li><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба"/></a></li>
                <li><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></li>
                <li><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></li>
            </ul>
        </div>
    </div>
    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>