.svg-arrow-red-icon {
	background: url("svg/sprite.css-c59002aa.svg") 96.7741935483871% 83.15412186379929% no-repeat;
}

.svg-arrow-red-icon-dims {
	width: 20px;
	height: 18px;
}

.svg-arrow-yelow-icon {
	background: url("svg/sprite.css-c59002aa.svg") 92.87925696594428% 66.66666666666667% no-repeat;
}

.svg-arrow-yelow-icon-dims {
	width: 7px;
	height: 27px;
}

.svg-corner-yellow {
	background: url("svg/sprite.css-c59002aa.svg") 95.04643962848297% 66.66666666666667% no-repeat;
}

.svg-corner-yellow-dims {
	width: 7px;
	height: 27px;
}

.svg-currency {
	background: url("svg/sprite.css-c59002aa.svg") 86.66666666666667% 37.453183520599254% no-repeat;
}

.svg-currency-dims {
	width: 30px;
	height: 30px;
}

.svg-date {
	background: url("svg/sprite.css-c59002aa.svg") 46.666666666666664% 86.89138576779027% no-repeat;
}

.svg-date-dims {
	width: 30px;
	height: 30px;
}

.svg-i-arrow-left-m {
	background: url("svg/sprite.css-c59002aa.svg") 56.666666666666664% 86.89138576779027% no-repeat;
}

.svg-i-arrow-left-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-arrow-right-m {
	background: url("svg/sprite.css-c59002aa.svg") 86.66666666666667% 86.89138576779027% no-repeat;
}

.svg-i-arrow-right-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-date-m {
	background: url("svg/sprite.css-c59002aa.svg") 10% 100% no-repeat;
}

.svg-i-date-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-gallery-left {
	background: url("svg/sprite.css-c59002aa.svg") 20% 100% no-repeat;
}

.svg-i-gallery-left-dims {
	width: 30px;
	height: 30px;
}

.svg-i-gallery-right {
	background: url("svg/sprite.css-c59002aa.svg") 40% 100% no-repeat;
}

.svg-i-gallery-right-dims {
	width: 30px;
	height: 30px;
}

.svg-i-griwna-m {
	background: url("svg/sprite.css-c59002aa.svg") 50% 100% no-repeat;
}

.svg-i-griwna-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-location-m {
	background: url("svg/sprite.css-c59002aa.svg") 80% 100% no-repeat;
}

.svg-i-location-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-materials-1-l {
	background: url("svg/sprite.css-c59002aa.svg") 86.95652173913044% 67.00507614213198% no-repeat;
}

.svg-i-materials-1-l-dims {
	width: 100px;
	height: 100px;
}

.svg-i-materials-2-l {
	background: url("svg/sprite.css-c59002aa.svg") 86.95652173913044% 0 no-repeat;
}

.svg-i-materials-2-l-dims {
	width: 100px;
	height: 100px;
}

.svg-i-materials-3-l {
	background: url("svg/sprite.css-c59002aa.svg") 0 67.00507614213198% no-repeat;
}

.svg-i-materials-3-l-dims {
	width: 100px;
	height: 100px;
}

.svg-i-materials-4-l {
	background: url("svg/sprite.css-c59002aa.svg") 43.47826086956522% 67.00507614213198% no-repeat;
}

.svg-i-materials-4-l-dims {
	width: 100px;
	height: 100px;
}

.svg-i-minus-s {
	background: url("svg/sprite.css-c59002aa.svg") 100% 87.10801393728222% no-repeat;
}

.svg-i-minus-s-dims {
	width: 10px;
	height: 10px;
}

.svg-i-play-m {
	background: url("svg/sprite.css-c59002aa.svg") 66.66666666666667% 86.89138576779027% no-repeat;
}

.svg-i-play-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-plus-active-s {
	background: url("svg/sprite.css-c59002aa.svg") 96.875% 87.10801393728222% no-repeat;
}

.svg-i-plus-active-s-dims {
	width: 10px;
	height: 10px;
}

.svg-i-plus-s {
	background: url("svg/sprite.css-c59002aa.svg") 93.75% 87.10801393728222% no-repeat;
}

.svg-i-plus-s-dims {
	width: 10px;
	height: 10px;
}

.svg-i-price-m {
	background: url("svg/sprite.css-c59002aa.svg") 0 100% no-repeat;
}

.svg-i-price-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-program-1-l {
	background: url("svg/sprite.css-c59002aa.svg") 47.45762711864407% 33.20610687022901% no-repeat;
}

.svg-i-program-1-l-dims {
	width: 35px;
	height: 35px;
}

.svg-i-program-2-l {
	background: url("svg/sprite.css-c59002aa.svg") 0 88.54961832061069% no-repeat;
}

.svg-i-program-2-l-dims {
	width: 35px;
	height: 35px;
}

.svg-i-program-3-l {
	background: url("svg/sprite.css-c59002aa.svg") 35.59322033898305% 88.54961832061069% no-repeat;
}

.svg-i-program-3-l-dims {
	width: 35px;
	height: 35px;
}

.svg-i-program-4-l {
	background: url("svg/sprite.css-c59002aa.svg") 11.864406779661017% 88.54961832061069% no-repeat;
}

.svg-i-program-4-l-dims {
	width: 35px;
	height: 35px;
}

.svg-i-program-5-l {
	background: url("svg/sprite.css-c59002aa.svg") 23.728813559322035% 88.54961832061069% no-repeat;
}

.svg-i-program-5-l-dims {
	width: 35px;
	height: 35px;
}

.svg-i-program-bullet {
	background: url("svg/sprite.css-c59002aa.svg") 100% 80.8362369337979% no-repeat;
}

.svg-i-program-bullet-dims {
	width: 10px;
	height: 10px;
}

.svg-i-program-bullet-active {
	background: url("svg/sprite.css-c59002aa.svg") 98.125% 67.94425087108014% no-repeat;
}

.svg-i-program-bullet-active-dims {
	width: 10px;
	height: 10px;
}

.svg-i-quote-o {
	background: url("svg/sprite.css-c59002aa.svg") 0 22.169811320754718% no-repeat;
}

.svg-i-quote-o-dims {
	width: 140px;
	height: 85px;
}

.svg-i-reserved-o {
	background: url("svg/sprite.css-c59002aa.svg") 98.36065573770492% 76.1029411764706% no-repeat;
}

.svg-i-reserved-o-dims {
	width: 25px;
	height: 25px;
}

.svg-i-reserved-s {
	background: url("svg/sprite.css-c59002aa.svg") 99.68253968253968% 63.829787234042556% no-repeat;
}

.svg-i-reserved-s-dims {
	width: 15px;
	height: 15px;
}

.svg-i-results-1-m {
	background: url("svg/sprite.css-c59002aa.svg") 100% 11.235955056179776% no-repeat;
}

.svg-i-results-1-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-10-m {
	background: url("svg/sprite.css-c59002aa.svg") 100% 22.471910112359552% no-repeat;
}

.svg-i-results-10-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-2-m {
	background: url("svg/sprite.css-c59002aa.svg") 100% 33.70786516853933% no-repeat;
}

.svg-i-results-2-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-3-m {
	background: url("svg/sprite.css-c59002aa.svg") 100% 44.943820224719104% no-repeat;
}

.svg-i-results-3-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-4-m {
	background: url("svg/sprite.css-c59002aa.svg") 100% 56.17977528089887% no-repeat;
}

.svg-i-results-4-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-5-m {
	background: url("svg/sprite.css-c59002aa.svg") 100% 0 no-repeat;
}

.svg-i-results-5-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-6-m {
	background: url("svg/sprite.css-c59002aa.svg") 90% 100% no-repeat;
}

.svg-i-results-6-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-7-m {
	background: url("svg/sprite.css-c59002aa.svg") 70% 100% no-repeat;
}

.svg-i-results-7-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-8-m {
	background: url("svg/sprite.css-c59002aa.svg") 60% 100% no-repeat;
}

.svg-i-results-8-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-results-9-m {
	background: url("svg/sprite.css-c59002aa.svg") 30% 100% no-repeat;
}

.svg-i-results-9-m-dims {
	width: 30px;
	height: 30px;
}

.svg-i-scheme-o {
	background: url("svg/sprite.css-c59002aa.svg") 48.275862068965516% 18.28793774319066% no-repeat;
}

.svg-i-scheme-o-dims {
	width: 40px;
	height: 40px;
}

.svg-location {
	background: url("svg/sprite.css-c59002aa.svg") 76.66666666666667% 86.89138576779027% no-repeat;
}

.svg-location-dims {
	width: 30px;
	height: 30px;
}

.svg-logo {
	background: url("svg/sprite.css-c59002aa.svg") 0 0 no-repeat;
}

.svg-logo-dims {
	width: 200px;
	height: 47px;
}

.svg-play {
	background: url("svg/sprite.css-c59002aa.svg") 76.66666666666667% 37.453183520599254% no-repeat;
}

.svg-play-dims {
	width: 30px;
	height: 30px;
}

.svg-price {
	background: url("svg/sprite.css-c59002aa.svg") 66.66666666666667% 37.453183520599254% no-repeat;
}

.svg-price-dims {
	width: 30px;
	height: 30px;
}

