.landing-interbuh_july2020{
  $main_head: #fff2f3;

  $main_head--one: #fbe9a4;
  $main_head--two: #fbe9a4;
  $main_head--three: #fdb60a!important;
  $main_head--four: #ff4427;

  $main_head_plus: #fdb60a;
  $main_period: #e84451;
  $main_period_plus: #ffcdc4;


  .landing-title--columns{
    text-align: center;
    span{
      padding-left: 20px;
      color: #f5a601!important;
      background-color: #fff;
      @media (max-width: 700px){
        padding: 0px;
      }
    }
  }

  .package__abilities-list{
    display: flex;
    flex-direction: column;
    height: 95%;
    @media (max-width: 767px){
      height: auto;
    }
  }
  .list{
    flex: 1 0 auto;
  }



  .packages__list-show{
    color: #0a3fa7;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .landing-section__action{
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.45px;
    @media (max-width: 700px){
      font-size: 16px;
    }
    b{
      color: #8700c7;
    }

  }
  .landing-title-gift{
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.88px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    padding-top: 60px;
    @media (max-width: 767px){
      font-size: 25px;
      line-height: 1.2;
    }
  }

  .package{
    border: solid 1px #fbe9a4;
  }

  .package__body{
    color: #000;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 767px){
      padding-bottom: 20px;
    }
  }

  .dtkt-promo{
    background-color: #f6b72a;

    .container{
      @media (max-width: 767px){
        padding: 0px;
      }
    }
  }

  .packages__column{
    padding-top: 50px;

    &--one{
      .package__header{
        background-color:  $main_head--one;
      }

    }
    &--two{
      .package__header{
        background-color: $main_head--two;
      }
    }

    &--three{
      .package__header{
        background-color: $main_head--three;
      }
    }

    &--four{
      .package__header{
        background-color:  $main_head--four;
      }
    }

  }
  .landing-title--columns{
    padding-top: 50px;
    margin-bottom: 20px;
    @media (max-width: 767px){
      padding-top: 30px;
    }
    &:nth-child(2){
      position: relative;

    }
    span{
      color: #040207;
    }

  }
  .period{
    color: $main_period;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .package__header{
    background-color: #fdb60a;
    color: #262626;
    border-bottom: solid 1px #fbe9a4;
  }
  .package__price-half{

    display: none;
  }
  .package__old-price{
    color: #000;
  }
  .package__present {
    display: none;
    text-align: left;
  }
  .package__presents {
    display: block ;
    text-align: left;
  }

  .package__total-price{
    display: none;

  }


  .package__price{
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .btn-package--six{
    display: none
  }

  .justify-content-center{
    &:last-child{
      .package__presents{
        display: none;
      }
      .package__present{
        display: block;
      }
    }
  }

  .btn-package--order{
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    @media (max-width: 767px){
      display: none;
    }


  }

  .btn-package--order-mob{
    display: none;
    @media (max-width: 767px){
      margin-top: 20px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 16px;
      width: 100%;
      min-width: 190px;
    }
  }

  .btn-package--card{
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    min-width: 190px;

  }


  .package-plus{
    position: relative;

    .package__header{
      position: relative;
      color: #000;
      background-color: $main_head_plus;



      .period{
        color: $main_period_plus;
      }

    }
    .package__old-price{
      color: #000;
    }
    .btn-package{
      background-color: #fc2508;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      color: #fff;
      &:after{
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
      }

      &:hover,
      &:active,
      &:focus{
        background-color: #c8313d;

      }
    }

  }



  .package-plus-top{
    position: relative;
    &:before{
      position: absolute;
      content: "топ продажу";
      color: #fff;
      border-radius: 4px;
      background-color: #fc2508;
      width: 180px;
      left: 50%;
      top: 39px;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      transform: translate(-50%);
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
    }
  }

  .package__presents-list {

    li {
      color: #040207;
      &:before{
        background: transparent url(images/gift_purple.svg) no-repeat top center;
        width: 20px;
        height: 24px;

      }


    }
    .package__presents-sub-list{
      padding-left: 0;
      padding-top: 10px;
      list-style-type: disc;

      li{
        color: #e810ff;
        padding-left: 0;
        margin-bottom: 0;
        span{
          color: #010000;
        }
        &:before{
          content: none;
          width: 0;
          height: 0;
        }

      }
      .no-active{
        color: #bdbbbb;
        span{
          color: #bdbbbb;
        }
      }
    }

    .no-active{
      color: #bdbbbb;
      cursor: not-allowed;
      a{
        color: #bdbbbb;
        cursor: not-allowed;
        text-decoration: none;
        &:hover{
          color: #bdbbbb;
          cursor: not-allowed;
          text-decoration: none;
        }
      }
      &:before{
        background: transparent url(images/gift_gray.svg) no-repeat top center;
      }

    }

  }

  .btn-package{
    background-color: #fdb60a;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border: none;
    &:after{
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

    }
    &:hover,
    &:active,
    &:focus{
      background-color: #ffde61;

    }
  }

  .package__abilities{
    padding-top: 0;
    flex: 1 0 auto;
  }

  .package__abilities-item-platform{
    margin-top: 50px;
    position: relative;

    &:after{
      position: absolute;
      content: " ";
      background: transparent url(images/plus.svg) no-repeat top center;
      top: -40px;
      left: 50%;
      transform: translate(-50%);
      width: 26px;
      height: 26px;

    }

    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .package__abilities-item--noactive{
    color: #bdbbbb;
    &:before{
      color: #bdbbbb!important;
    }
  }

  .package__footer{
    padding-top: 20px;
  }

  .tab-content{
    background-color: #dfdfdf;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 16px;

    .label{
      text-align: center;
      width: 50%;
      margin-bottom: 0;
      padding: 12px;
      color: #656565;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.13px;
      border-radius: 16px;
      transition: 0.5s;
      cursor: pointer;
      &.active{
        background-color: #ff7335;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.48);
        color: #fff;
      }
    }
  }

  .btn-package--twelve{
    display: none!important;
  }

  .btn-package--three{
    display: inline-block!important;
  }

  .package__btn {
    margin-bottom: 30px;
  }
}