.menu{
  @media (max-width: 768px){
    display: none;
  }
  &__container{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 25px 15px;
    border-bottom: solid 1px  #f3cfff;
    max-width: 1140px;
    margin: 0 auto;

  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    display: flex;
    li{
      padding: 0 25px;
      color: #f3cfff;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.39px;
      border-right:solid 1px  #f3cfff;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
      &:nth-child(3){
        border-right: none;
        padding-right: 0;
      }
    }
    a{
      color: #f3cfff;
      &:hover{
        text-decoration: none;
        color: #ffa224;
      }
    }
  }
}