<div class="hero">
    <div class="hero__content">
        <h1>{{ page.options['text_header']|default('') }}</h1>
        <p>{{ page.options['text1']|default('') }}</p>
        <a class="hero__btn" href="/events/1235">Увійти</a>
        <h4>{{ page.options['text_bottom']|default('') }}</h4>
    </div>
</div>


<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>



<script>

    SystemJS.import('jquery').then(function ($) {
        var loader = $('.loader-backdrop')
        var loaderPage = $('#loader-page');
        loaderPage.delay(850).fadeOut('slow');
        $('#authForm')
            .on('submit', function (e) {
                e.preventDefault()
                SystemJS.import('@clients').then(function (clients) {
                    clients.Auth.login($('[name="email"]', e.currentTarget).val(), $('[name="password"]', e.currentTarget).val()).then(function (client) {
                        if (client) {
                            location.href = '/events/1235'
                        }
                    })
                })
            })
            .find('#reg-email').val(sessionStorage.getItem('userEmail'))
        sessionStorage.setItem('new-pass',"123456");
    })
</script>