.program {
  background: #f7f7f7;

  .title {
    color: $black;
    text-align: center;
  }

  &__content {
    width: 100%;
    max-width: 1078px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
  }

  .item {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-flow: wrap;
    padding: 12px 0;
    position: relative;

    @include media-breakpoint-up(xl) {
      padding: 18px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1054' height='1' viewBox='0 0 1054 1' fill='none'%3E%3Cpath d='M0.5 0.496094L1053.5 0.496185' stroke='%23011132' stroke-opacity='0.1' stroke-dasharray='12 12'/%3E%3C/svg%3E")
        center;
    }

    &__speaker {
      display: none;
    }

    &.active {
      .item__info {
        max-height: 10000px;
      }

      .item__more {
        &:before {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Crect x='0.5' y='0.496094' width='32' height='32' rx='16' fill='%2300B6FF'/%3E%3Crect x='23.6094' y='15.6055' width='1.77778' height='14.2222' transform='rotate(90 23.6094 15.6055)' fill='white'/%3E%3C/svg%3E")
            50% / contain no-repeat;
        }
      }
    }

    &__number {
      font-size: 14px;
      width: 91px;
      color: $maincolor;
      font-weight: 700;
      @include media-breakpoint-up(xl) {
        width: 154px;
        font-size: 22px;
      }
    }
    &__title {
      width: calc(100% - 150px);
      font-size: 14px;
      font-weight: 700;
      color: $black;
      @include media-breakpoint-up(xl) {
        width: calc(100% - 270px);
        font-size: 22px;
      }

      span {
        color: $orange;
      }
    }

    &__more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: auto;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        width: 22px;
        height: 22px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Crect x='0.5' y='0.496094' width='32' height='32' rx='16' fill='%2300B6FF'/%3E%3Crect x='15.6094' y='9.38672' width='1.77778' height='14.2222' fill='white'/%3E%3Crect x='23.6094' y='15.6055' width='1.77778' height='14.2222' transform='rotate(90 23.6094 15.6055)' fill='white'/%3E%3C/svg%3E")
          50% / cover no-repeat;

        @include media-breakpoint-up(xl) {
          width: 32px;
          height: 32px;
        }
      }

      &:before {
      }
    }

    &__info {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s ease;
    }

    &__block {
      border-radius: 12px;
      padding: 10px;
      @include media-breakpoint-up(xl) {
        padding: 14px;
      }

      ul {
        color: $maincolor;
        padding-left: 16px;
        font-size: 12px;
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        gap: 4px;

        @include media-breakpoint-up(xl) {
          font-size: 16px;
          gap: 10px;
        }
        span {
          color: $black;
        }
      }

      b {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        display: block;
        text-transform: uppercase;
        text-align: left;
        color: $maincolor;
        margin-bottom: 6px;

        @include media-breakpoint-up(xl) {
          font-size: 18px;
          margin-bottom: 12px;
        }
      }

      &--first {
        background: #fff;
        max-width: 420px;
      }
      &--second {
        border-radius: 12px;
        border: 2px dashed #00b6ff;
        background: rgba(0, 182, 255, 0.06);

        @include media-breakpoint-up(xl) {
          max-width: 58%;
        }
      }
      &--last {
        border: solid 2px #00b6ff;

        @include media-breakpoint-up(xl) {
          max-height: 316px;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          li {
            max-width: 326px;
            width: 100%;
          }
        }

        &-column {
          ul {
            //flex-direction: column;
          }
        }
      }
    }

    &__wr {
      @include media-breakpoint-up(xl) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: baseline;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 12px;
      flex-wrap: wrap;

      @include media-breakpoint-up(xl) {
        flex-direction: row;
        align-items: start;
        padding-top: 20px;
      }
    }
  }
}
