body {
  font-family: "Montserrat", sans-serif;
  background: $bg;
  min-width: 360px;
  color: $white;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

.lines {
  display: flex;
  gap: 93px;
  width: 280px;
  height: 100%;
  max-width: 1200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  @include media-breakpoint-up(xl) {
    gap: 133px;
    width: 100%;
  }
  &__item {
    background-color: #393939;
    height: 100%;
    width: 1px;
  }
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

.swiper-button-prev {
  left: -16px;
  &::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='45' viewBox='0 0 44 45' fill='none'%3E%3Crect x='1' y='1' width='42' height='42' rx='21' transform='matrix(4.60819e-08 1 1 -4.09221e-08 4.09221e-08 0.5)' stroke='%239FF565' stroke-width='2'/%3E%3Cpath d='M22.5 12.5L24.2625 14.2625L17.2875 21.25L32.5 21.25L32.5 23.75L17.2875 23.75L24.275 30.725L22.5 32.5L12.5 22.5L22.5 12.5Z' fill='%239FF565'/%3E%3C/svg%3E")
      center/contain no-repeat;
    min-width: 44px;
    height: 44px;
  }
}

.swiper-button-next {
  right: -16px;
  &::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='45' viewBox='0 0 44 45' fill='none'%3E%3Crect x='1' y='1' width='42' height='42' rx='21' transform='matrix(4.60819e-08 1 1 -4.09221e-08 4.09221e-08 0.5)' stroke='%239FF565' stroke-width='2'/%3E%3Cpath d='M22.5 12.5L24.2625 14.2625L17.2875 21.25L32.5 21.25L32.5 23.75L17.2875 23.75L24.275 30.725L22.5 32.5L12.5 22.5L22.5 12.5Z' fill='%239FF565'/%3E%3C/svg%3E")
      center/contain no-repeat;
    min-width: 44px;
    height: 44px;
    transform: rotate(180deg);
  }
}

.swiper-prev {
  left: -20px;
  &::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='45' viewBox='0 0 44 45' fill='none'%3E%3Crect x='1' y='1' width='42' height='42' rx='21' transform='matrix(4.60819e-08 1 1 -4.09221e-08 4.09221e-08 0.5)' stroke='%239FF565' stroke-width='2'/%3E%3Cpath d='M22.5 12.5L24.2625 14.2625L17.2875 21.25L32.5 21.25L32.5 23.75L17.2875 23.75L24.275 30.725L22.5 32.5L12.5 22.5L22.5 12.5Z' fill='%239FF565'/%3E%3C/svg%3E")
      center/contain no-repeat;
    min-width: 44px;
    height: 44px;
  }
}

.swiper-next {
  right: -20px;
  &::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='45' viewBox='0 0 44 45' fill='none'%3E%3Crect x='1' y='1' width='42' height='42' rx='21' transform='matrix(4.60819e-08 1 1 -4.09221e-08 4.09221e-08 0.5)' stroke='%239FF565' stroke-width='2'/%3E%3Cpath d='M22.5 12.5L24.2625 14.2625L17.2875 21.25L32.5 21.25L32.5 23.75L17.2875 23.75L24.275 30.725L22.5 32.5L12.5 22.5L22.5 12.5Z' fill='%239FF565'/%3E%3C/svg%3E")
      center/contain no-repeat;
    min-width: 44px;
    height: 44px;
    transform: rotate(180deg);
  }
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.d-xl-none {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

.d-xl-block {
  @include media-breakpoint-up(xl) {
    display: block !important;
  }
}
.container {
  max-width: 375px;
  padding: 0 16px;
  position: relative;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 18px;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px $bg inset;
  transition: background-color 5000s ease-in-out 0s;
}
