@charset "utf-8";
.certificate {
  position: relative;
  padding-bottom: 0px;
  padding-top: 200px;

  &__container {
    @extend %container;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 90px;
    @media (max-width: 1200px){
      padding-top: 30px;
    }
  }

  &__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 410px;
    @media (max-width: 1200px){
      margin: 0 auto 10px;
    }
    @media (max-width: 767px){
      width: auto;
      margin: 0 auto 10px;
    }
  }

  &__title{
    @extend %title;
    font-size: 54px;
    display: inline-block;
    text-align: center;
    @media (max-width: 767px){
      font-size: 36px;
    }
  }

  &__sub-title{
    @extend %sub-title;
    font-size: 36px;
    display: inline-block;
    text-align: center;
    @media (max-width: 767px){
      font-size: 24px;
    }
  }

  &__item{
    width: 151px;
    height: 200px;
    margin: 10px;
    border: 1px solid #323232;
    padding: 35px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    @media (max-width: 767px){
      width: 130px;
      margin-top: 20px;
    }
    &.active{
      -webkit-transform: translate(0px,-10px);
      -ms-transform: translate(0px,-10px);
      transform: translate(0px,-10px);
      background-image: -webkit-gradient(linear, left top, right top, from(#ff6622), to(#ff9908));
      background-image: -o-linear-gradient(left, #ff6622 0%, #ff9908 100%);
      background-image: linear-gradient(to right, #ff6622 0%, #ff9908 100%);
      .certificate__name {
        color: #000;
      }
      .orang {
        fill: #000;
      }
      .grey{
        fill: #000;
      }
    }
   /* &:hover{
      -webkit-transform: translate(0px,-10px);
      -ms-transform: translate(0px,-10px);
      transform: translate(0px,-10px);
      background-image: -webkit-gradient(linear, left top, right top, from(#ff6622), to(#ff9908));
      background-image: -o-linear-gradient(left, #ff6622 0%, #ff9908 100%);
      background-image: linear-gradient(to right, #ff6622 0%, #ff9908 100%);
      .certificate__name {
        color: #000;
      }
      .orang {
        fill: #000;
      }
      .grey{
        fill: #000;
      }
    }*/
    &:nth-child(2){
      padding-bottom: 12px;
    }

    svg{
      display: block;
    }
  }
  picture{
    margin: 20px;
    @media (max-width: 1200px){
      padding-top: 10px;
      width: 359px;
      margin: 0 auto;
    }
    img{
      @media (max-width: 767px){
        width: 290px;
        height: 200px;
      }
    }
  }

  &__name{
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    text-transform: uppercase;
    text-align: center;
  }

  &__btn{
    max-width:400px;
    margin:80px auto 0 ;
    display: block;
  }
}