.orders {
  $height_pseudo: 135px;
  text-align: center;
  position: relative;
  padding-top: 150px;
  background-color: #000;
  position: relative;
  @media (max-width: 1200px){
    padding-top: 150px;
  }


  &__container {
    @extend %container;
    z-index: 1;
  }

  &__title {
    @extend %title;
    z-index: 1;
    font-size: 54px;
    position: relative;
    @media (max-width: 767px){
      font-size: 32px;
    }
  }

  &__sub-title {
    @extend %sub-title;
    display: inline-block;
    padding: 0 25px;
    z-index: 1;
    font-size: 36px;
    @media (max-width: 767px){
      font-size: 18px;
      padding: 5px;
    }
  }

  &__desccrition{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: 1px;
    text-align: center;
    color: #999999;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 17px;
    }
  }

  .info{

    max-width: 830px;
    width: 100%;
    margin: 30px auto 0;
    border:solid 4px #d14000;
    padding: 30px 0 30px 175px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    position: relative;
    @media (max-width: 767px){
      padding: 100px 10 20px 10px;
      text-align: center;
      font-size: 14px;
      line-height: 1.3;
    }
    &:before{
      position: absolute;
      content: " ";
      left: 50px;
      top: 50%;
      transform: translate(0%, -50%);
      background: url(images/health.png) no-repeat center center;
      width: 82px;
      height: 70px;
      @media (max-width: 767px){
        padding: 100px 10 20px 10px;
        text-align: center;
        left: 50%;
        top: -12px;
        transform: translate(-50%, 0%);
        width: 61px;
        height: 16px;
        background-size: contain;
      }
    }

    &__title{
      text-transform: uppercase;
      color: #ff9908;
    }
    &__text{
      color: #999999;
      @media (max-width: 767px){
        padding-top: 5px;
      }


    }
  }


  &__packages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 150px;
    padding-top: 50px;
    @media (max-width: 767px){
      padding-bottom: 40px;
      padding-top: 30px;
    }
  }

  &__package {
    width: 236px;
    margin: 20px 10px 0;
    @media (max-width: 1200px){
      width: 300px;
    }
    &:nth-child(4){
      .package__head{
        background-color: #cf3500;
      }
    }
    &:nth-child(1){
      .package__presents{
        display: none;
      }
      .package__list--footer{
        display: none;
      }
    }
    &:nth-child(2){
      .package__presents{
        display: none;
      }
      .package__list--footer{
        display: none;
      }
    }
  }

  &__package--gold{

    .package__header {
      background-image: -webkit-gradient(linear, left top, right top, from(#ea703b), to(#ef9c25));
      background-image: -o-linear-gradient(left, #ea703b 0%, #ef9c25 100%);
      background-image: linear-gradient(to right, #ea703b 0%, #ef9c25 100%);
      color: #fff;
      margin-top: 0px;
    }

    .package__head{
      background-color: #e18d00;
      @media (max-width: 1200px){
        padding-top: 35px;
      }
    }
    /*.package__head.gold-plus{
      background-color: #cf3500;
    }*/
    .package__format{
      color: #fff;
    }
    .package__price{
      color: #fff;
    }
    .package__old-price{
      color: #ffffff;
    }
  .package__btn--header{
    .btn{
      width: 95%;
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 1.58px;
      -webkit-box-shadow: 0 10px 15px rgba(96, 31, 0, 0.3);
      box-shadow: 0 10px 15px rgba(96, 31, 0, 0.3);
      border-radius: 33px;
      border: solid 1px #e82626;
      background-color: #fff;
      -webkit-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      min-height: 66px;
      transition: all 150ms linear;
      text-transform: uppercase;
      color: #e82626;
      &:hover{
        background-color: #000010;
        background-image:none;
        color: #fff;
      }
    }
  }


  }



  &__package--gold{

    @media (max-width: 1200px){
      margin: 20px 10px 0;
    }
  }

  &__timer {
    margin-bottom: 66px;
    padding-top: 45px;
    @media (max-width: 760px){
      margin-bottom: 30px;
      padding-top: 20px;
    }
  }

  &__banner {
    display: none;
    margin-top: 50px;
  }
}