
.video {
  overflow: hidden;
  outline: none;
  z-index: 0;
  height: 660px;
  margin-bottom: 40px;
  position: relative;

  @media (max-width: 978px){
    height: 305px;
    margin-bottom: 10px;

  }
  .slider .slide {
    outline: none;
  }
  .video__content {
    @extend %container;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    visibility: hidden;
    @media (max-width: 978px){
      width: 100%;
    }

    .slick-initialized {
      visibility: visible;
    }
  }

  &__content {
    @extend %container;
    visibility: hidden;

    .slick-initialized {
      visibility: visible;
      height: 100%;
    }
  }

  &__title{
    margin-bottom: 35px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    @media (max-width: 850px){
      font-size: 14px;
      margin-bottom: 35px;
    }

    span{
      font-size: 34px;
      letter-spacing: 0.35px;
      @media (max-width: 850px){
        font-size: 14px;
      }
    }



  }
  &__player {
    position: relative;
    margin: 0 auto;
    width:800px;
    padding-bottom: 56.25%;

    @media (max-width: 978px){
      width: 285px;
      height: 310px;
    }

    iframe {
      display: block;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:465px;
      @media (max-width: 978px){
        height:165px;
      }
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 465px;
    @media (max-width: 978px){
      height: 165px;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border: 3px solid #fff;
  }

  &__button {
    position: absolute;
    top: 44%;
    left: 50%;
    z-index: 1;
    display: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    cursor: pointer;
    @media (max-width: 978px){
      top: 27%;
    }
    svg{
      width: 68px;
      height: 48px;
    }

  }

  &__button-shape {
    fill: #212121;
    fill-opacity: 0.8;
  }

  &__button-icon {
    fill: #ffffff;
    &:focus {
      outline: none;
    }
  }

}

.video__media:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video__media:hover .video__button-shape,
.video__button:hover .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

/* Enabled */

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
  outline: none;
}

.next{
  right: -120px;
  position: absolute;
  display: block;
  background-size: cover;
  cursor: pointer;
  top: 50%;
  transform: translate( -50%);
  z-index: 1000;
  width: 80px;
  height: 80px;
  background: url(images/arrow.svg) no-repeat top center;
  transition: 0.7s;
  &:hover{
    background: url(images/arrow_gray.svg) no-repeat top center;
  }
  &:active{
    background: url(images/arrow.svg) no-repeat top center;
  }
  @media (max-width: 1200px){
    top: 55%;
    right: -125px;
    width: 40px;
    height: 40px;
  }
  @media (max-width: 760px){
    top: 55%;
    right: -20px;
  }

}
.prev {
  left: -80px;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translate( -50%);
  z-index: 1000;
  width: 80px;
  height: 80px;
  background: url(images/arrow.svg) no-repeat top center;
  transform: rotate(180deg);
  transition: 0.7s;
  &:hover{
    background: url(images/arrow_gray.svg) no-repeat top center;
  }
  &:active{
    background: url(images/arrow.svg) no-repeat top center;
  }
  @media (max-width: 1200px){
    top: 55%;
    left: -45px;
    width: 40px;
    height: 40px;
  }
  @media (max-width: 760px){
    top: 55%;
    left: 0px;
  }

}