.we {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;

  @include media-breakpoint-up(xl) {
    padding-top: 150px;
    padding-bottom: 58px;
  }

  .container {
    position: relative;
  }

  &__title {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;

    @include media-breakpoint-up(xl) {
      max-width: 946px;
      margin: 0 auto;
    }

    br {
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }

    span {
      display: inline-block;
      background-color: $maincolor;
      color: $white;
      border-radius: 6px;
      font-size: 24px;
      padding: 12px 11px;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 36px;
      }
    }
    p {
      margin-top: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;

      @include media-breakpoint-up(xl) {
        margin-top: 52px;
        font-size: 22px;
      }
    }
  }

  &__block {
    @include media-breakpoint-up(xl) {
      display: flex;
      gap: 42px;
      margin-top: 80px;
    }
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    //gap: 22px;
    margin: 18px 0;

    @include media-breakpoint-up(xl) {
      //gap: 15px;
    }
  }
  &__logos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 346.496px;
    height: 190px;
    margin: 0 auto;

    @include media-breakpoint-up(xl) {
      width: 562.323px;
      height: 275.16px;
      margin: -40px auto 0;
    }
  }

  // .logo {
  //   background: 50% / contain no-repeat;
  //   background-size: cover;
  //   height: 36px;
  //   @include media-breakpoint-up(xl) {
  //     height: 42px;
  //   }

  //   &:nth-child(1) {
  //     width: 165px;
  //     transform: rotate(-9.281deg);
  //     @include media-breakpoint-up(xl) {
  //       width: 194px;
  //     }
  //   }
  //   &:nth-child(2) {
  //     width: 118px;
  //     transform: rotate(3.671deg);
  //     @include media-breakpoint-up(xl) {
  //       width: 140px;
  //     }
  //   }
  //   &:nth-child(3) {
  //     width: 167px;
  //     transform: rotate(3.671deg);
  //     @include media-breakpoint-up(xl) {
  //       width: 197px;
  //     }
  //   }
  //   &:nth-child(4) {
  //     width: 108px;
  //     @include media-breakpoint-up(xl) {
  //       width: 128px;
  //     }
  //   }
  //   &:nth-child(5) {
  //     width: 166px;
  //     @include media-breakpoint-up(xl) {
  //       width: 201px;
  //     }
  //   }
  //   &:nth-child(6) {
  //     width: 122px;
  //     transform: rotate(-9.281deg);
  //     @include media-breakpoint-up(xl) {
  //       width: 148px;
  //     }
  //   }
  //   &:nth-child(7) {
  //     width: 150px;
  //     @include media-breakpoint-up(xl) {
  //       width: 179px;
  //     }
  //   }
  //   &:nth-child(8) {
  //     width: 92px;
  //     @include media-breakpoint-up(xl) {
  //       width: 106px;
  //     }
  //   }
  // }

  &__dec {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1770.398px;
    height: 524.609px;
    position: absolute;
    top: 11px;
    right: -281px;

    @include media-breakpoint-up(xl) {
      top: 50px;
      right: -100px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.6;
    b {
      font-weight: 700;
    }
    @include media-breakpoint-up(xl) {
      max-width: 512px;
      font-size: 18px;
      text-align: left;
    }
  }
}
