.problem {
  position: relative;

  .container {
  }

  &__content {
    background: #ededec;
    border-radius: 7px;
    padding: 32px 16px;

    @include media-breakpoint-up(xl) {
      padding: 64px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 24px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: 222px;
      height: 100px;
      background: url("data:image/svg+xml,%3Csvg width='359' height='162' viewBox='0 0 359 162' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M71.041 51.517C66.0881 45.6733 26.3939 47.5618 23.6146 45.8158C21.4054 43.4997 27.4629 6.90553 29.9928 1.66761C30.8836 -0.220896 31.8101 -0.434684 33.8055 0.669912C36.5848 2.41589 75.887 3.55612 79.1652 3.62738C79.6284 4.83888 81.5881 1.16879 81.8019 2.59408C82.4077 5.44465 139.312 8.79406 156.629 10.3262C160.157 10.6469 157.128 12.4998 161.368 12.2147C170.348 11.5734 189.304 16.0986 196.181 15.0297C201.704 14.1745 202.809 14.3527 207.797 16.3837C212.857 18.4147 240.792 20.9446 244.32 18.9848C245.175 18.4147 245.745 18.771 245.638 19.5906C245.638 19.5906 265.022 23.6882 265.058 24.2584C265.058 25.1135 265.628 25.5768 266.27 25.1136C267.41 24.4009 288.575 24.971 288.575 27.4296C288.575 34.3779 281.413 62.7055 278.064 69.333C274.501 76.3526 262.421 65.6273 251.055 68.3709C194.221 59.5698 203.236 60.5675 189.874 62.0284C188.948 59.3917 183.532 64.8077 181.144 60.0687C180.147 58.1445 171.666 56.7193 169.528 58.2514C168.637 58.8928 157.342 56.7193 145.655 55.0802C133.967 53.4055 121.852 52.2652 119.358 54.4388C111.733 49.2721 78.7019 51.4101 71.1123 51.6239L71.041 51.517Z' fill='%23DDFE65' /%3E%3Cpath opacity='0.7' d='M229.462 22.7616C234.949 26.7881 281.627 22.4409 289.252 27.3225C291.711 29.7099 278.67 67.4087 276.995 70.4018C275.142 73.7156 274.608 70.7581 271.044 70.2593C263.027 69.1547 246.993 68.7983 228.393 71.4707C227.716 70.3661 226.326 74.357 225.863 72.9673C224.972 70.9363 204.27 73.8225 202.096 74.1075C198.533 74.5708 194.72 74.9984 181.465 77.742C159.979 82.1604 163.079 82.0891 147.757 86.0799C144.123 87.042 146.439 84.1558 142.377 86.0443C138.03 88.0753 130.725 89.7857 123.777 91.7454C98.2999 98.9431 107.315 101.224 95.4849 101.936C89.6056 102.293 62.5252 114.407 60.7079 118.327C60.2447 119.289 59.5678 119.289 59.2114 118.541C59.1402 118.363 40.0057 126.166 39.7919 125.881C39.293 125.204 38.5092 125.133 38.2597 125.881C37.4046 126.843 20.2655 140.063 18.6264 138.174C14.0655 132.865 1.27358 106.782 0.0620841 99.2638C-1.22067 91.2109 17.7 90.4627 26.6793 81.3052C54.2229 67.6938 68.1194 65.9834 92.9906 52.5501C95.1285 54.5099 98.5493 47.0984 103.181 50.2696C105.034 51.5524 114.726 48.9869 116.437 46.7777C117.541 45.3524 151.855 38.4042 153.601 38.0478C156.843 37.3708 159.908 36.7295 162.616 36.0524C168.032 34.6628 172.023 33.2019 173.092 31.8122C181.501 34.057 209.543 26.1111 229.426 22.8329L229.462 22.7616Z' fill='%23DDFE65' /%3E%3Cpath opacity='0.7' d='M72.3247 132.972C68.6903 130.513 54.1524 131.262 41.0754 133.649C27.8915 136.072 16.6317 140.526 14.8144 140.348C11.2512 138.994 3.66164 103.682 5.51451 96.5917C6.08462 94.4181 7.33172 93.7411 10.6099 93.7767C10.6099 93.7767 36.4788 87.8974 75.4604 84.2986C76.2799 85.4388 78.3822 81.4837 78.881 82.8733C80.2707 85.4388 168.567 80.7354 179.827 80.5216C184.566 80.4503 180.86 82.6238 186.419 81.7687C198.284 79.9514 224.224 82.0537 233.204 80.1652C240.437 78.6331 241.934 78.7043 248.882 80.0583C255.937 81.448 293.565 80.5928 297.912 78.2411C298.981 77.5641 299.765 77.8492 299.765 78.6687C300.62 78.8112 312.165 79.5951 313.02 79.6664C319.647 80.1652 326.311 80.7354 326.346 81.056C326.524 81.8756 327.344 82.3032 328.092 81.7687C329.482 80.9491 357.774 79.0607 358.166 81.5193C359.306 88.4319 354.638 117.365 351.253 124.349C347.69 131.725 329.767 122.425 315.015 126.487C238.228 124.456 249.523 124.527 232.277 127.556C230.603 125.062 224.26 131.084 220.269 126.701C218.63 124.919 207.014 124.527 204.449 126.344C203.344 127.057 187.951 126.345 172.059 126.238C156.167 126.131 139.812 126.558 136.819 129.053C125.595 124.884 82.373 131.547 72.2891 132.972H72.3247Z' fill='%23DDFE65' /%3E%3Cpath opacity='0.7' d='M304.218 85.1537C310.81 90.1066 350.575 80.2364 354.138 81.6617C356.846 83.5146 357.808 120.572 356.134 126.238C355.528 128.269 354.637 128.66 352.357 127.983C350.504 127.342 338.638 128.839 327.307 130.442C315.941 132.046 305.073 133.792 305.073 133.792C304.36 132.687 303.078 136.678 302.579 135.324C301.153 132.152 230.744 142.557 224.758 143.305C221.124 143.769 223.76 141.31 219.556 142.557C210.612 145.194 190.373 145.229 183.71 147.973C178.365 150.147 177.189 150.254 171.666 149.505C166.107 148.757 137.602 153.425 134.537 156.525C133.825 157.309 133.183 157.131 133.077 156.311C133.077 156.311 112.766 157.772 112.624 157.344C112.374 156.561 111.662 156.24 111.198 156.881C110.094 158.128 89.641 163.651 88.8927 161.513C86.6479 154.921 84.3318 125.846 85.6502 118.47C87.0399 110.595 102.896 116.938 113.835 111.023C179.541 102.471 159.516 107.602 178.686 100.867C180.289 103.184 184.565 96.5916 188.199 100.618C189.696 102.257 198.782 101.616 200.635 99.6203C202.203 97.9456 249.273 97.4824 253.478 92.2088C262.457 95.5939 296.272 86.8284 304.147 85.1537H304.218Z' fill='%23DDFE65' /%3E%3C/svg%3E")
        no-repeat center center;
      background-size: contain;
      left: 36px;
      z-index: -1;
      bottom: 20px;

      @include media-breakpoint-up(xl) {
        width: 359px;
        height: 162px;
        bottom: 20px;
      }
    }

    @include media-breakpoint-up(xl) {
      font-size: 52px;
      margin-bottom: 0px;
      max-width: 752px;
    }
  }

  &__block {
    @include media-breakpoint-up(xl) {
      display: flex;
      gap: 92px;
      align-items: center;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    flex-direction: column;
    margin-bottom: 16px;

    @include media-breakpoint-up(xl) {
      gap: 20px;
      margin-bottom: 38px;
    }

    li {
      border-radius: 7px;
      line-height: 1.2;
      background: #ededec;
      display: flex;
      gap: 16px;
      align-items: center;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }
    }
  }

  &__icon {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 38px;
    height: 38px;
    border-radius: 7px;
  }

  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }

    b {
      font-weight: 700;
    }
  }
}
