.entertainment {
  background: url(images/bg-entertaiment.png) no-repeat center, url(images/show-decor.png) no-repeat 80% 50%, linear-gradient(to right, #ce127e 35%, #a006d5);
  overflow-x: hidden;

  &__container {
    padding-top: 43px;
    padding-bottom: 55px;


  }

  &__title {
    margin-bottom: 50px;
    text-align: center;


    }


}