.landing-contr-agent_october2020_1{

  .package__old-price{
    display: none;
  }

  .package__price-half{
    display: none;
  }

  .dtkt-promo{
    background: linear-gradient(to right, #f2ad36 0%, #f2ad36 51%, #f2ad36 52%, #f2ad36 100%);

    @media (max-width: 767px){
      background: linear-gradient(to right, #f2ad36  0%, #f2ad36  51%, #f2ad36  52%, #f2ad36  100%);

      img{
        margin: 0 auto;
        display: block;
      }
    }

    .container{
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .landing-title{
      text-align: center;
      color: #262626;
      padding-top: 20px;

    span{
      padding: 0px;
    }
  }

  .landing-section__action{
    text-align: center;
    color: #262626;
    font-size: 18px;

    @media (max-width: 767px){
      font-size: 16px;
    }
  }

  .packages {
    padding-top: 30px;

    &__title{
      font-size: 35px;
      font-weight: 700;
      letter-spacing: .88px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      padding-top: 30px;

      @media (max-width: 767px){
        font-size: 25px;
        padding-top: 0;
      }
    }
  }

  @import "scss/package";

}