.button {
  display: inline-block;
  width: 290px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 70px;
  border-radius: 36px;
 text-align: center;
  box-shadow: 0px 23px 40px 0 rgba(192, 11, 87, 0.52);
  background-image: linear-gradient(to top, #d72671, #c00b57);
  position: relative;
  z-index: 1;
  text-transform: uppercase;



  @include on-event() {
    color: #fff;
    box-shadow: none;
    text-decoration: none;
    background-image: linear-gradient(to top, #A90C4D, #A90C4D);

  }

  @include mobile() {
    width: 340px;
    font-size: 20px;
    line-height: 75px;
  }

  &--package {
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 19px;

    @include laptop-l() {
      width: 255px;
    }
  }
}