.order {
  padding: 0;


  .container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include laptop-l() {
      padding-top: 90px;
      padding-bottom: 90px;

      &:before {
        content: '';
        position: absolute;
        left: -60px;
        bottom: -45px;
        width: 291px;
        height: 321px;
        background: url(images/flower_big-min.png) no-repeat center;
      }
    }
  }

  &__packages {
    display: flex;
    flex-direction: column;
    position: relative;

    @include mobile() {
      flex-direction: row;
      justify-content: center;
      margin-bottom: 55px;
    }
    @include laptop-l() {

      &:before {
        content: '';
        position: absolute;
        right: -144px;
        bottom: 32px;
        width: 345px;
        height: 218px;
        background: url(images/petals-min.png) no-repeat center;
        transform: rotate(75deg);
      }

      &:after {
        content: '';
        position: absolute;
        left: -223px;
        bottom: 0px;
        width: 345px;
        height: 218px;
        background: url(images/petals-min.png) no-repeat center;

      }
    }
  }

  &__info {
    max-width: 810px;
    width: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to right, #fbb6c8, #fcf3f6);
    margin: 0 auto;
    padding: 20px 10px;
    text-align: center;
    position: relative;


    @include laptop-l() {
      padding: 50px 10px;

      &:before {
        content: '';
        position: absolute;
        right: -60px;
        top: -45px;
        width: 188px;
        height: 196px;
        background: url(images/flower-min.png) no-repeat center;
      }
    }



    b{
      font-size: 22px;
      font-weight: 600;
      color: #62002a;
      text-transform: uppercase;
      margin-bottom: 15px;
      display: block;

      @include laptop-l() {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }
    p{
      font-size: 18px;
      line-height: 1.44;
      text-align: left;
      color: #250010;
      margin-bottom: 20px;
      position: relative;

      @include laptop-l() {
        margin-left: 150px;
        font-size: 20px;
        line-height: 1.3;

        &:before {
          content: '';
          position: absolute;
          left: -60px;
          top: 8px;
          width: 41px;
          height: 28px;
          margin-right: 10px;
          background: url(images/tick.png) no-repeat center;
        }
      }
    }
  }

  &__text{

  }
}