.place{
  padding-top: 90px;
  padding-bottom: 60px;
  @media (max-width: 767px){
    padding-top: 50px;
  }
  &__container {
    @extend %container;

  }
  &__block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    @media (max-width: 767px){
      padding-bottom: 0;
    }
  }

  &__item{
    width: 50%;
    height: 381px;
    overflow: hidden;
    position: relative;
    @media (max-width: 1200px){
      height: 158px;
      margin-bottom: 15px;
    }
    @media (max-width: 767px){
      width: 100%;
      height: 158px
    }
    &:first-child{
      width: 100%;
      height: auto;
      span{
        background-color: #241473;
      }

      @media (max-width: 767px){
        width: 100%;
        height: 158px
      }
    }
    &:nth-child(2){

      .place__text{
        top:250px ;
        @media (max-width: 1200px){
         top:15px;
        }
      }
      span{
        background-color: #048ef5;
      }

    }
    &:last-child{
      span{
        background-color: #e95a27;
      }

    }

    img{
      width: 100%;
      @media (max-width: 767px){
        height: 158px
      }

    }
  }

  &__text{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.8px;
    text-align: left;
    color: #fffefe;
    text-transform: uppercase;
    position: absolute;
    left: 45px;
    top: 25px;
    @media (max-width: 1200px){
      font-size: 16px;
      left: 10px;
      top: 15px;
    }
    span{
      display: inline-block;
      padding: 5px;
      @media (max-width: 1200px){
        padding: 4px;
      }
    }
  }


  &__btn{
    @extend %btn;
  }


}