.tour{

  padding-top: 90px;
  padding-bottom: 60px;
  @media (max-width: 1200px){
    padding-top: 50;
    padding-bottom: 10px;
  }

  &__container {
    @extend %container;

  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__text-padding{
    padding-left: 0;
  }

  &__item{
    max-width: 525px;
    width: 100%;
    height: 150px;
    background-color: green;
    margin: 15px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    @media (max-width: 1200px){
     height: 100px;
      margin: 10px 0;
      flex-direction: column;
    }
    span{
      display: inline;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      color: #ffffff;
      padding:2px 5px;
      @media (max-width: 1200px){
        font-size: 16px;
        display: inline;
      }
    }

    &:nth-child(1){
      background: url(images/tour1-min.jpg) center center no-repeat;
      background-size: contain;
      @media (max-width: 1200px){
        background-size: cover;
        background-position: left;
      }
      @at-root .webp & {
        background:url(images/tour1.webp)  center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          background-size: cover;
          background-position: left;
        }

      }
      span{
        background-color: #241473;
      }
      .tour__text-wr{
        background-color: #241473;
        padding: 0 0 2px 0;
      }

    }

    &:nth-child(2){
      background: url(images/tour2-min.jpg) right center no-repeat;
      background-size: contain;
      @media (max-width: 1200px){
        background-size: cover;
        background-position: left -12px center;
      }
      @at-root .webp & {
        background:url(images/tour2.webp)  right center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          background-size: cover;
          background-position: left -12px center;
        }
      }
      span{
        background-color: #048ef5;
      }
      .tour__text-wr{
        background-color: #048ef5;
       padding: 2px 0 0 0;
      }
    }

    &:nth-child(3){
      background: url(images/tour3-min.jpg) center center no-repeat;
      background-size: contain;
      @media (max-width: 1200px){
        background-size: cover;
        background-position: left -12px center;
      }
      @at-root .webp & {
        background:url(images/tour3.webp)  center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          background-size: cover;
          background-position: left -12px center;
        }
      }
      span{
        background-color: #048ef5;
      }
      .tour__text-wr{
        background-color: #048ef5;
        padding: 0;
      }
    }

    &:nth-child(4){
      background: url(images/tour4-min.jpg) center center no-repeat;
      background-size: contain;
      @media (max-width: 1200px){
        background-size: cover;
        background-position: left -12px center;

      }
      @at-root .webp & {
        background:url(images/tour4.webp)  center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          background-size: cover;
          background-position: left -12px center;
        }
      }

      .tour__text{
        padding-left: 100px;
        @media (max-width: 1200px){
          padding-left: 75px;
        }
      }

      span{
        background-color: #e14c04;
      }
      .tour__text-wr{
        background-color: #e14c04;
        padding: 0;
      }
    }

    &:nth-child(5){
      background: url(images/tour5-min.jpg) center center no-repeat;
      background-size: contain;
      @media (max-width: 1200px){
        background-size: cover;
        background-position: left -12px center;
      }
      @at-root .webp & {
        background:url(images/tour5.webp)  center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          background-size: cover;
          background-position: left -12px center;
        }
      }
      span{
        background-color: #e14c04;
      }
      .tour__text-wr{
        background-color: #e14c04;
        padding: 0;
      }
    }

    &:nth-child(6){
      background: url(images/tour6-min.jpg) center center no-repeat;
      background-size: contain;
      text-align: left;
      height: 175px;
      display: flex;
      flex-direction: column;
      @media (max-width: 1200px){
        background-size: cover;
        background: url(images/tour6-1.jpg) center center no-repeat;
      }
      @at-root .webp & {
        background:url(images/tour6.webp)  center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          background-size: cover;
          background: url(images/tour6-1.jpg) center center no-repeat;
        }
      }

      .tour__text{
        padding-left: 150px;
        @media (max-width: 1200px){
          padding-left: 95px;
        }
      }
      span{
        background-color: #241473;
      }
      .tour__text-wr{
        background-color: #241473;
        padding: 0;
      }
      p{
        color: #f6d20c;
        margin-bottom: 0;
        font-size: 18px;
        padding-top: 15px;
        padding-left: 100px;
        @media (max-width: 1200px){
          font-size: 18px;
          padding-top: 18px;
          padding-left: 0px;
        }
      }

    }
  }
  &__text-padding{
    padding-left: 0!important;
    @media (max-width: 1200px){
      padding-left: 4px!important;
    }
  }
  &__text{
    padding-left: 50px;

    .show-mob{
      display: none;
      @media (max-width: 1200px){
       display: block;
      }
    }
  }




}




