@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');
//-font-family: 'Fira Sans', sans-serif;
button{
  outline: none!important;
  &:focus,
  &:active,
  &:hover{
    outline: none!important;
  }
}
p{
  margin-bottom: 0px;
}
.branding-page .branding-fixed{
  background: none;
}
.branding-page #main{
  width: 100%;
  background: none;
}

.branding-page{
  padding-top: 0px;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: none;

  .heading{
    display: none;
  }
}


.circle{
  display: none;
}
#__telerWdTriggerContent{
  @media (max-width: 760px){
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  max-height: 1000000px;
}

body {
  background: #fff;


}

#main {
  width: 100%;
  overflow: hidden;
}

%container {
  position: relative;
  max-width: 1140px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  @media (max-width: 1200px){
    max-width: 767px;
  }
  @media (max-width: 767px){
    max-width: 320px;
  }
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%btn{
  box-shadow: -2.2px 5.6px 5.6px 0.4px rgba(13, 13, 107, 0.17);
  border: 1px solid #ffffff;
  background-image: linear-gradient(to top, #0ce2df, #0a80c3);
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.5s;
  text-align: center;
  color: #072164;
  &:hover{
    a{
      color: #fff;
    }
    background-image: linear-gradient(to top, #e2220c, #eb662d);

  }

  @media (max-width: 767px){
    margin-top: 20px;
    margin-bottom: 0px;
  }
  a{
    width: 100%;
    color: #020711;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    @media (max-width: 767px){
      line-height: 36px;
    }
  }
}

.caption{
  text-align: center;
  color: #000000;
  font-size: 51.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 3.89px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 70px;
  position: relative;
  @media (max-width: 1200px){
    padding-top: 15px;
    font-size: 24px;
    padding-bottom: 20px;
  }
  &:before{
    position: absolute;
    content: '';
    width: 167px;
    height: 7px;
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: #fff004;
    @media (max-width: 1200px){
      width: 76px;
      height: 4px;
    }
  }







}


.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}

#bg_popup{
  display: none!important;
}
#bg_popup_two{
  display: none!important;
}
#bg_popup_three{
  display: none!important;
}
.slider .slide {
  outline: none;
}
@import "variables";
@import "mixins";
@import "header";
@import "hero";
@import "menu";
@import "place";
@import "travel";
@import "tour";
@import "order";
@import "info";
@import "pricing-timer";
@import "package";
@import "video";
@import "sory";
@import "footer";
@import "partners";
@import "modal-video";
@import "loader-page";


