@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.eot");
  src: url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.woff") format("woff"), url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.ttf") format("truetype"), url("../fonts/Gilroy-RegularItalic/Gilroy-RegularItalic.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.svg#Gilroy") format("svg");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Regular/NeueMachina-Regular.eot");
  src: url("../fonts/NeueMachina-Regular/NeueMachina-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueMachina-Regular/NeueMachina-Regular.woff") format("woff"), url("../fonts/NeueMachina-Regular/NeueMachina-Regular.ttf") format("truetype"), url("../fonts/NeueMachina-Regular/NeueMachina-Regular.svg#NeueMachina") format("svg");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Medium/NeueMachina-Medium.eot");
  src: url("../fonts/NeueMachina-Medium/NeueMachina-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueMachina-Medium/NeueMachina-Medium.woff") format("woff"), url("../fonts/NeueMachina-Medium/NeueMachina-Medium.ttf") format("truetype"), url("../fonts/NeueMachina-Medium/NeueMachina-Medium.svg#NeueMachina") format("svg");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Bold/NeueMachina-Bold.eot");
  src: url("../fonts/NeueMachina-Bold/NeueMachina-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueMachina-Bold/NeueMachina-Bold.woff") format("woff"), url("../fonts/NeueMachina-Bold/NeueMachina-Bold.ttf") format("truetype"), url("../fonts/NeueMachina-Bold/NeueMachina-Bold.svg#NeueMachina") format("svg");
}

@font-face {
  font-family: "NeueMachina";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.eot");
  src: url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.woff") format("woff"), url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.ttf") format("truetype"), url("../fonts/NeueMachina-Ultrabold/NeueMachina-Ultrabold.svg#NeueMachina") format("svg");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --container-width: 1220px;
  --transition: 0.3s ease;
  --default-font-family: "Gilroy";
  --heading-font-family: "NeueMachina";
  --sp: 80px;
  --accent: #4C09D2;
  --bg: #fff;
  --text-dark: #0D2433;
  --text-black: #000000;
  --gray: #F9F9F9;
  --fz-default: 18px;
  --h1: 74px;
  --h2: 42px;
  --h3: 42px;
  --l: 24px;
  --m: 20px;
  --s: 16px;
}

body {
  font: 400 var(--fz-default)/115% var(--default-font-family), Helvetica, Arial, sans-serif;
  background: var(--bg);
  min-width: 360px;
  color: var(--text-dark);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*=__container] {
  position: relative;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  border-bottom: 2px solid red !important;
}

form input.not_error {
  border-bottom: 2px solid #99FF99 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml,%3Csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0667 23.1865L16.4767 21.7765L10.8967 16.1865L23.0667 16.1865L23.0666 14.1865L10.8966 14.1865L16.4866 8.60652L15.0666 7.18652L7.06665 15.1865L15.0667 23.1865Z' fill='%234C09D2'/%3E%3C/svg%3E%0A") center/contain no-repeat;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
  transform: rotate(180deg);
}

h1,
.h1 {
  font: 700 var(--h1)/96% var(--heading-font-family);
  text-transform: uppercase;
}

h2,
.h2 {
  font: 800 var(--h2)/96% var(--heading-font-family);
}

h3,
.h3 {
  font: 700 var(--h3)/96% var(--heading-font-family);
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: var(--transition);
}

.btn {
  font: 700 var(--m)/0.95 var(--heading-font-family);
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 65px;
  border-radius: 80px;
  background: var(--accent);
  color: var(--bg);
  text-align: center;
}

.btn:hover {
  box-shadow: 5px 5px 10px var(--accent);
}

.subm {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0;
  padding: 20px 0;
}

.form {
  max-width: 400px;
  position: relative;
}

.form__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 28px;
}

.form .input {
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 14px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  display: block;
  color: #fff;
  font-family: Gilroy;
}

.form input.input:-webkit-autofill { 
  background-color: transparent /* Set your desired background color */ 
}


.form .input::-moz-placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.form .input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.form .input__wrap {
  display: block;
  text-align: left;
  margin-bottom: 25px;
}

.form .input__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: block;
}

.form:before {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7) url(../img/loading.svg) 50% no-repeat;
  z-index: 10;
}

.form.loading:before {
  display: block;
}

.form .intl-tel-input {
  width: 100%;
}

.form .country-list .country-name {
  color: var(--text-dark);
}

.form__policy {
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.form__policy a {
  text-decoration: underline;
}

.header {
  position: absolute;
  left: 0;
  left: 0;
  width: 100%;
  padding: 36px 0;
  z-index: 111!important;
  background: var(--bg);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 191px;
  height: 43px;
  background: url(../img/header__logo.svg) center/contain no-repeat;
}

.header__nav,
.header__menu {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0 -19px;
}

.header__menu li {
  margin: 0 19px;
}

.header__menu a {
  font-size: var(--m);
  line-height: 19px;
}

.header__menu a:hover {
  color: var(--accent);
}

.header__btn {
  padding: 12px 14px;
  border-radius: 36px;
  margin-left: 38px;
  background: var(--text-black);
}

.header__btn:hover {
  box-shadow: 5px 3px 10px var(--text-black);
}

.header__tel {
  margin-left: 38px;
  font-size: var(--m);
  font-weight: 700;
  color: var(--accent);
  font-family: "NeueMachina";
}

.header__tel:hover {
  color: var(--text-black);
}

.header__burger {
  display: none;
}

._accent {
  color: #4C09D2;
}

._mark {
  position: relative;
  color: var(--bg);
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
}

._mark::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 7px;
  bottom: -2px;
  left: -5px;
  z-index: -1;
  background: var(--accent);
}

.hero {
  padding: 127px 0 199px;
}

.hero__info {
  display: flex;
}

.hero__info span {
  width: fit-content;
  display: block;
  padding: 7px 26px;
  font-family: "NeueMachina";
  border: 2px solid var(--accent);
  border-radius: 36px;
  font-size: var(--l);
  line-height: 0.96;
  color: var(--text-black);
  font-size: 20px;
  max-height: 37px;
}

.hero__info-format {
  top: 6px;
  left: 49%;
  transform: rotate(-9.86deg);
  margin-right: 17px;
}

.hero__info-date {
  margin-top: 13px;
  transform: rotate(4.284deg);
}

.hero__title {
  margin-bottom: 28px;
}

.hero__title ._accent {
  display: block;
}

.hero__subtitle,
.hero__desc {
  font-size: 26px;
  line-height: 1.15;
}

.hero__subtitle {
  margin-bottom: 38px;
}

.hero__desc {
  font-weight: 700;
  font-family: var(--heading-font-family);
  color: var(--accent);
}

.hidden {
  opacity: 0;
	z-index: -1;
}

.hero__btn {
  position: relative;
  padding: 14px 129px;
  margin-top: 38px;
  font-size: 24px;
  font-weight: 500;
}

.hero__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--bg) url("data:image/svg+xml,%3Csvg width='21' height='17' viewBox='0 0 21 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0.833496L11.6488 2.18475L16.9963 7.54183H-0.000152588V9.4585H16.9963L11.6488 14.8156L13 16.1668L20.6667 8.50016L13 0.833496Z' fill='black'/%3E%3C/svg%3E%0A") center no-repeat;
}

.hero__decor-1,
.hero__decor-2,
.hero__decor-3 {
  position: absolute;
  z-index: 1;
}

.hero__decor-1:after,
.hero__decor-2:after,
.hero__decor-3:after {
  content: "";
  display: block;
}

.hero__decor-1 {
  border-radius: 20px;
  padding: 14px 28px;
  right: 17%;
  bottom: 9%;
  max-width: 320px;
  background: #1F2229;
  color: #FFF;
  font-family: Gilroy;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.hero__decor-1 b {
  color: #8041FF;
}


.hero__decor-2 {
  right: 15%;
  bottom: -10%;
  transform: translate(43%, 22%);
  width: 265px;
  background: url(../img/main-decor.webp) center/contain no-repeat;
}

.hero__decor-2::after {
  padding-bottom: 105.4166666667%;
}

.hero__decor-3 {
  left: 90%;
  top: 0;
  transform: translateY(-80%);
  width: 696px;
  background: url(../img/hero__decor-3.webp) center/contain no-repeat;
  display: none;
}

.hero__decor-3::after {
  padding-bottom: 22.7011494253%;
}

.hero__img {
  position: absolute;
  top: -17%;
  right: 0;
  width: 387px;
  height: 510px;
  background: url(../img/main-persone.webp) center/contain no-repeat;
  z-index: -1;
}

/* .no-webp .hero__img {
  background-image: url(../img/hero__img.png);
} */

.no-webp .hero__img {
  background: url(../img/main-persone.png) center/contain no-repeat;
}

.no-webp .hero__decor-2 {
  background: url(../img/main-decor.png) center/contain no-repeat;
}

.hero__img::after {
  content: "";
  display: block;
  padding-bottom: calc(339 / 648 * 100%);
}

.item ._mark::before {
  right: -6px;
}

.how-block__answ {
  margin-top: 27px;
  display: none;
}

.how-block__answ ul li {
  position: relative;
  padding-left: 38px;
  color: #1F2229;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 18px;
}

.how-block__answ ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  display: block;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M19.9403 7.14004L17.6632 7.14004L17.6551 16.1599L7.82773 6.33253L6.21271 7.94755L16.0401 17.7749L7.02022 17.7668L7.02022 20.0602H19.9403L19.9403 7.14004Z' fill='%234C09D2'/%3E%3C/svg%3E") center/contain no-repeat;
}

p.how-block__answ_text {
  color: #000;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 700;
}

p.how-block__answ_text b {
  color: #4C09D2;
}

.who__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 50px;
}

.who-block {
  max-width: 259px;
}

.who-block__perc {
  color: #4C09D2;
  font-size: 60px;
  font-weight: 800;
  font-family: "NeueMachina";
}

.who-block__text {
  margin-top: 14px;
  color: #000;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 400;
}

.who-block__text b {
  font-weight: 700;
}

.change {
  padding: 102px 0 62px 0;
}

.change__container {
  display: flex;
  padding: 60px 148px;
  border-radius: 30px;
  background: #1F2229;
  align-items : flex-end;
  justify-content: space-between;
  column-gap: 29px;
}

.change__container::before {
  content: '';
  position: absolute;
  left: -7%;
  bottom: -18%;
  width: 257.832px;
  height: 269px;
  background: url(../img/change-1.png) center/contain no-repeat;
}

.change__container::after {
  content: '';
  position: absolute;
  top: -24%;
  right: -6%;
  height: 296.866px;
  width: 450.562px;
  pointer-events: none;
  background: url(../img/change-2.png) center/contain no-repeat;
}

.change__text p {
  color: #FFF;
  font-family: "NeueMachina";
  font-size: 22px;
  font-weight: 400;
}

.change__text p:last-child {
  margin-top: 20px;
}

.change__text p b{
  color: #8041FF;
  font-weight: 700;
}

.change__btn {
  border-radius: 73px;
  background: #8041FF;
  padding: 20px 65px;
  color: #FFF;
  font-family: "NeueMachina";
  font-size: 20px;
  font-weight: 700;
}

.change__sec .change__container::after {
  height: 409.815px;
  width: 621.988px;
  top: -59%;
  right: -9%;
}

.how {
  padding-top: 80px;
}

.how__title {
  color: #1F2229;
  text-align: center;
  font-family: "NeueMachina";
  font-size: 42px;
  font-weight: 800;
}

.how__title b {
  color: #4C09D2;
}

.how-block {
  margin-top: 58px;
  display: flex;
  column-gap: 70px;
}

.how-block__decor {
  width: 100%;
  max-width: 418.815px;
  height: 555.988px;
  background: url(../img/how-decor.png) center/contain no-repeat;
}

.how-block__text {
  width: 100%;
  max-width: 599px;
}

.how-block__parah {
  color: #000;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 400;
}

.how-block__parah:first-child {
  margin-bottom: 41px;
}

.how-block__text_do {
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
  padding: 21px 29px;
  border-radius: 11px;
  background: #F1EFF4;
  color: #4C09D2;
  font-family: "NeueMachina";
  font-size: 26px;
  font-weight: 700;
  align-items: center;
  cursor: pointer;
}

.stage ._mark::before {
  right: -5px;
}

.how-block__text_do::after {
  content: '';
  width: 23px;
  height: 9px;
  background: url(../img/how-arrow.svg) center/contain no-repeat;
}

.how-block__text_btn {
  margin-top: 18px;
  padding: 20px 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: "NeueMachina";
  font-size: 20px;
  font-weight: 700; 
  border-radius: 80px;
  background: #7032EC;
}

.description {
  padding: var(--sp) 0;
}

.description__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.description__img {
  width: 45%;
  border-radius: 38px;
  background: center/cover no-repeat;
}

.description__img::before {
  content: "";
  display: block;
  padding-bottom: 91.0780669145%;
}

.description__content {
  width: 49%;
}

.description__text {
  font-size: var(--l);
  line-height: 1.17;
}

.description__text:first-of-type {
  margin-bottom: 48px;
}

.description__text .subtitle {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.96;
}

.description__btn {
  margin-top: 48px;
}

.about {
  padding: var(--sp) 0;
}

.about__title {
  margin-bottom: 60px;
  text-align: center;
}

.about__desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18%, 43%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 467px;
  height: 467px;
  border-radius: 50%;
  background: var(--accent);
}

.about__desc-text {
  width: 100%;
  max-width: 280px;
  color: var(--bg);
  font-size: var(--l);
  line-height: 1.17;
}

.about__desc .subtitle {
  display: block;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 29px;
  line-height: 0.97;
}

.about__content-1 {
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-bottom: 207px;
}

.about__content-2 {
  width: 100%;
  max-width: 995px;
}

.about__subtitle {
  font: 700 var(--l) var(--heading-font-family);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.about__list {
  position: relative;
}

.about__list::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 5px;
  width: 2px;
  background: url("data:image/svg+xml,%3Csvg width='2' height='332' viewBox='0 0 2 332' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1V331' stroke='%234C09D2' stroke-width='2' stroke-linecap='round' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A") center/cover no-repeat;
}
.about__list li {
  position: relative;
  padding-left: 38px;
  font-size: var(--m);
  line-height: 1.15;
}

.about__list li:not(:last-child) {
  margin-bottom: 18px;
}

.about__list li:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 7px;
  width: 12px;
  height: 12px;
  background: var(--accent);
  border-radius: 50%;
}

.about__decor {
  position: absolute;
  left: 30%;
  bottom: -50px;
  transform: translateY(100%);
  width: 696px;
  background: url(../img/hero__decor-3.webp) center/contain no-repeat;
}

.about__decor::after {
  content: "";
  display: block;
  padding-bottom: 22.7011494253%;
}

.about__btn {
  margin: 67px auto 0;
}

.stage {
  padding: var(--sp) 0;
  padding-top: 30px;
}

.stage__title {
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.stage__title span {
  display: inline-block;
  margin-right: 10px;
}

.stage__items .item {
  padding: 35px 42px 30px;
  background: var(--gray);
  border-radius: 38px;
  width: 100%;
  max-width: 777px;
  margin: 0 auto;
}

.stage__items .item:not(:last-child) {
  margin-bottom: 18px;
}

.stage__items .item__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stage__items .item__col {
  display: flex;
  flex: 1 1 auto;
  padding-right: 40px;
  align-items: flex-start;
}

.stage__items .item__title {
  font: 800 32px/0.96 var(--heading-font-family);
  margin-bottom: 20px;
  margin-right: 32px;
}

.stage__items .item__subtitle {
  font-size: var(--l);
  line-height: 1.17;
}

.stage__items .item__list {
  margin-top: 20px;
}

.stage__items .item__list li {
  position: relative;
  padding-left: 38px;
  font-size: var(--m);
  line-height: 1.15;
}

.stage__items .item__list li:not(:last-child) {
  margin-bottom: 12px;
}

.stage__items .item__list li:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9403 7.14004L17.6632 7.14004L17.6551 16.1599L7.82773 6.33253L6.21271 7.94755L16.0401 17.7749L7.02022 17.7668L7.02022 20.0602H19.9403L19.9403 7.14004Z' fill='%234C09D2'/%3E%3C/svg%3E%0A") center no-repeat;
}

.item-dark .item__list li:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M19.9403 7.14004L17.6632 7.14004L17.6551 16.1599L7.82773 6.33253L6.21271 7.94755L16.0401 17.7749L7.02022 17.7668L7.02022 20.0602H19.9403L19.9403 7.14004Z' fill='white'/%3E%3C/svg%3E") center no-repeat;
}

.change__sec .change__container::before {
  display: none;
}

.stage__items .item__desc {
  flex: 0 0 42%;
  padding-left: 40px;
  border-left: 1px dashed var(--accent);
  color: var(--accent);
  font-size: var(--m);
  font-style: italic;
}

.stage__items .item-dark {
  border-radius: 14px ;
  background: #4C09D2;
}

.item-dark ._mark {
  color: #000;
}

.item-dark ._mark::before {
  background: #fff;
}

.item-dark .item__subtitle {
  color: #FFF;
}

.item-dark .item__list li {
  color: #fff;
}

.stage__btn {
  width: 100%;
  max-width: 777px;
  margin: 0 auto;
  height: 85px;
  margin-top: 18px;
  border-radius: 22px;
  font-size: 26px;
  letter-spacing: 0.215em;
  text-transform: uppercase;
}

.stage__items .stage__btn {
  width: 100%;
  max-width: 777px;
  margin: 0 auto;
  height: 85px;
  margin-top: 18px;
  border-radius: 22px;
  font-size: 26px;
  letter-spacing: 0.215em;
  text-transform: uppercase;
}

.for {
  padding: var(--sp) 0;
}

.for__img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 626px;
  background: center/contain no-repeat;
}

.for__img::before {
  content: "";
  display: block;
  padding-bottom: 119.1693290735%;
}

.for__items {
  display: flex;
  flex-wrap: wrap;
  padding-right: 52px;
  margin: 76px 0 -73px;
  column-gap: 101px;
}

.for__items .item {
  width: 372px;
  margin-bottom: 73px;
}

.for__items .item__icon {
  width: 50px;
  height: 5px;
  background : #4C09D2;
  margin-bottom: 18px;
}

.for__items .item__desc {
  font-size: var(--m);
  line-height: 1.15;
}

.for__items .item__desc .title {
  display: block;
  margin-bottom: 10px;
  color: var(--accent);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.for__wrap {
  position: relative;
}

.for__wrap::after {
  content: '';
  position: absolute;
  right: -15%;
  bottom: 0;
  width: 461px;
  height: 472px;
  background: url(../img/for-decor.png) center/contain no-repeat;
}

.team {
  padding: var(--sp) 0;
}

.team__title {
  margin-bottom: 64px;
}

.team__title br {
  display: none;
}

.team__subtitle {
  margin-bottom: 30px;
  line-height: 136.5%;
  font-weight: 800;
}

.team__desc {
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 117.3913043478%;
  font-weight: 600;
}

.team__list li {
  position: relative;
  padding-left: 44px;
}

.team__list li:not(:last-child) {
  margin-bottom: 24px;
}

.team__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_931_842)'%3E%3Cpath d='M19.5791 4.57959L16.9632 4.57959L16.954 14.941L5.66492 3.65198L3.80969 5.5072L15.0987 16.7962L4.7373 16.787V19.4214H19.5791V4.57959Z' fill='%234C09D2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_931_842'%3E%3Crect width='24' height='24' fill='white' transform='matrix(0 1 -1 0 24 0.000488281)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center/contain no-repeat;
}

.team__title ._mark::before {
  background: #1F2229;
}

.team__text {
  font-size: 22px;
  line-height: 118.1818181818%;
}

.team__img {
  background: center top/cover no-repeat;
}

.team__img::before {
  content: "";
  display: block;
}

.team__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.team__wrap-expert {
  margin-bottom: 85px;
}

.team__wrap-expert .team__content {
  flex: 1 1 50%;
  padding-right: 80px;
}

.team__wrap-expert .team__img {
  flex: 0 0 488px;
}

.team__wrap-expert .team__img::before {
  padding-bottom: 122.3360655738%;
}

.team__wrap-consultants .team__img {
  flex: 0 0 563px;
}

.team__wrap-consultants .team__img::before {
  padding-bottom: 59.6802841918%;
}

.team__wrap-consultants .team__content {
  flex: 1 1 50%;
  padding-left: 32px;
}

.team-add {
  width: 788px;
  position: absolute;
  border-radius: 57px;
  background: #4C09D2;
  padding: 47px 58px 63px 59px;
  color: #FFF;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 400;
  bottom: -17%;
}


.team-add b {
  font-weight: 700;
}

.team-add a {
  border-radius: 83px;
  background: #1F2229;
  color: #FFF;
  font-family: "NeueMachina";
  font-size: 24px;
  font-weight: 700;
  padding: 14px 12px 14px 67px;
  position: absolute;
  bottom: -18%;
  left: 24%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 38px;
}

.team-add a::after {
  content: '';
  display: block;
  width: 38px;
  height: 38px;
  background:  url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='19' cy='19' r='19' fill='white'/%3E%3Cg clip-path='url(%23clip0_1710_301)'%3E%3Cpath d='M23 11.8333L21.6488 13.1846L26.9963 18.5417L9.99984 18.5417L9.99984 20.4583L26.9963 20.4583L21.6488 25.8154L23 27.1667L30.6667 19.5L23 11.8333Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1710_301'%3E%3Crect width='23' height='23' fill='white' transform='translate(8 8)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center/contain no-repeat;
}

.clients {
  padding: var(--sp) 0;
}

.clients__title {
  text-align: center;
  margin-bottom: 34px;
}

.clients__slider {
  padding: 0 24px;
}

.clients .logo {
  background: 50%/contain no-repeat;
  height: 93px;
}

.register {
  padding: var(--sp) 0;
}

.register__wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 120px 60px 110px;
  background: #1F2229;
  border-radius: 57px;
  align-items: center;
}

/* ._accent {
  color: #8041FF;
} */

.subm {
  background: #8041FF;
}

.register__col {
  width: 60%;
  max-width: 563px;
  margin-right: auto;
}

.register__desc {
  font-size: 30px;
  line-height: 116.6666666667%;
  color: #fff;

}

.register__title {
  margin-top: 38px;
}

.register__title._mark::before {
  bottom: -10px;
  background: #7032EC;
}

.register__price {
  margin-top: 45px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.97;
  font-family: var(--heading-font-family);
}

.register__form {
  width: 100%;
  max-width: 340px;
}

.register__decor-1,
.register__decor-2 {
  position: absolute;
  z-index: 1;
  background: center/contain no-repeat;
}

.register__decor-1:after,
.register__decor-2:after {
  content: "";
  display: block;
}

.register__decor-1 {
  left: 0;
  transform: translateY(50%);
  bottom: 0;
  width: 343px;
}

.register__decor-1::after {
  padding-bottom: 94.7521865889%;
}

.register__decor-2 {
  left: 303px;
  bottom: 55px;
  width: 70px;
}

.register__decor-2::after {
  padding-bottom: 92.8571428571%;
}

.faq {
  padding: var(--sp) 0;
}

.faq__wrap {
  width: 100%;
  max-width: 815px;
  margin: 0 auto;
}

.faq__title {
  margin-bottom: 40px;
  text-align: center;
}

.faq__title br {
  display: none;
}

.faq__items .item {
  padding: 16px 30px;
  border-radius: 11px;
  background: var(--gray);
}

.faq__items .item:not(:last-child) {
  margin-bottom: 16px;
}

.faq__items .item.active .item__question::before {
  transform: translateY(-50%) rotate(180deg);
}

.faq__items .item__question {
  position: relative;
  padding-right: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 116.6666666667%;
  cursor: pointer;
}

.faq__items .item__question::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  transition: var(--transition);
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_933_948)'%3E%3Cpath d='M19.4209 19.5791L19.4209 16.9632L9.05947 16.954L20.3485 5.66492L18.4933 3.80969L7.20425 15.0987L7.21352 4.7373L4.5791 4.7373L4.5791 19.5791L19.4209 19.5791Z' fill='%234C09D2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_933_948'%3E%3Crect width='24' height='24' fill='white' transform='translate(24 24) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") center/contain no-repeat;
}

.faq__items .item__answer {
  display: none;
  margin-top: 20px;
  padding-right: 50px;
}

.swiper-slide {
  height: 500px;
  bottom: #000;
}

.modal-overlay {
  display: none;
  padding-top: 1px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.modal-overlay .modal-content {
  margin-bottom: 0px;
  border-radius: 4px;
}

.modal-overlay .close-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

.modal-overlay .close-button:before {
  background: #fff;
  content: "";
  height: 50px;
  width: 2px;
  display: block;
  transform: translateX(25px) rotate(-45deg);
}

.modal-overlay .close-button:after {
  background: #fff;
  content: "";
  margin-top: -50px;
  height: 50px;
  width: 2px;
  display: block;
  transform: translateX(25px) rotate(45deg);
  transition: 0.2s linear;
}

#modal-video .modal-content {
  height: auto;
  width: 100%;
}

#modal-video .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

#modal-video .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.countdownHolder {
  margin: 0 auto;
  font: 30px/1 Roboto, sans-serif;
  text-align: center;
  letter-spacing: -3px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*Параметры цифр */
  /*Параметры подложки для секций */
  /*Параметры секций разделения (:)*/
  /*Параметры вспомогательного текста (дни, часы, минуты, секунды)*/
}

.countdownHolder .position {
  display: inline-block;
  height: 1em;
  overflow: hidden;
  position: relative;
  width: 0.5em;
}

.countdownHolder .digit {
  position: absolute;
  display: block;
  border-radius: 0.2em;
  text-align: center;
  color: #000;
  letter-spacing: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.countdownHolder .countDays,
.countdownHolder .countHours,
.countdownHolder .countMinutes,
.countdownHolder .countSeconds {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}

.countdownHolder .countDiv {
  display: none;
  width: 10px;
  height: 1em;
  position: relative;
}

.countdownHolder .countDiv:before,
.countdownHolder .countDiv:after {
  background: #444;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: 50%;
  margin-left: -3px;
  top: 0.2em;
  box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
  content: "";
}

.countdownHolder .countDiv:after {
  top: 0.6em;
}

.countdownHolder .textdigit {
  font-size: 15px;
  letter-spacing: 0px;
}
.footer {
  padding: 70px 0;
  background: #262626;
  color: #FFFFFF;
}

.footer a,
.footer a:visited {
  color: #FFFFFF;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__logo {
  width: 200px;
  height: 45px;
  background: center no-repeat;
  background-size: contain;
}

.footer__menu li {
  margin-bottom: 13px;
}

.footer__menu li:last-child {
  margin-bottom: 0;
}

.footer__menu li a {
  transition: color 0.3s ease 0s;
}

.footer__menu li a:hover {
  color: var(--accent);
}

.footer__tel {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}

.footer__tel:hover {
  color: var(--accent);
}

.footer__social {
  display: flex;
  margin-top: 27px;
}

.footer__social-item {
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: background 0.3s ease 0s;
}

.footer__social-item:hover {
  background: #5c0bff;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__copywrite {
  margin-top: 40px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media (max-width: 1260px) {
  :root {
    --container-width: 760px;
    --sp: 64px;
    --fz-default: 16px;
    --h1: 32px;
    --h2: 36px;
    --h3: 30px;
    --l: 20px;
    --m: 18px;
    --s: 14px;
  }

  .header {
    padding: 13px 0;
  }

  .header.active .header__nav {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .header.active .header__burger span:nth-child(1) {
    transform: translate(1px, 9px) rotate(45deg);
    width: 25px;
  }

  .header.active .header__burger span:nth-child(2) {
    width: 25px;
    transform: translate(0px, -8px) rotate(-45deg);
  }

  .header.active .header__burger span:nth-child(3) {
    display: none;
  }

  .header__nav {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    justify-content: center;
    padding: 10px 0;
    z-index: 111;
    transform: translateY(-30%);
    background: var(--bg);
    opacity: 0;
    transition: var(--transition);
    pointer-events: none;
  }

  .header__burger {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 27px;
    height: 20px;
  }

  .header__burger span {
    width: 27px;
    height: 3px;
    background: var(--accent);
    transition: var(--transition);
  }

  ._mark::before {
    top: -2px;
    right: -5px;
    bottom: -2px;
    left: -5px;
  }

  .hero__img {
    width: 430px;
  }

  .hero__btn {
    font-size: 21px;
  }

  .description__btn {
    display: none;
  }

  .about__desc {
    transform: translate(1%, 73%);
    width: 280px;
    height: 280px;
  }

  .about__desc-text {
    font-size: 18px;
    max-width: 210px;
  }

  .about__desc .subtitle {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .stage__items .item {
    padding: 34px 19px 30px;
    border-radius: 20px;
  }

  .stage__items .item:not(:last-child) {
    margin-bottom: 22px;
  }

  .stage__items .item__col {
    padding-right: 20px;
  }

  .stage__items .item__title {
    font-size: 24px;
  }

  .stage__items .item__desc {
    padding-left: 20px;
  }

  .for__img {
    width: 370px;
  }

  .for__wrap {
    width: 80%;
  }

  .for__items {
    padding-right: 0;
  }

  .for__items .item {
    width: 280px;
  }

  .team__title {
    margin-bottom: 38px;
  }

  .team__title ._mark::before {
    top: 4px;
    bottom: 4px;
  }

  .team__list li:not(:last-child) {
    margin-bottom: 14px;
  }

  .team__text {
    font-size: 18px;
  }

  .team__wrap-expert .team__content {
    padding-right: 25px;
  }

  .team__wrap-expert .team__img {
    flex: 0 0 300px;
  }

  .team__wrap-consultants .team__img {
    flex: 0 0 365px;
  }

  .register__wrap {
    padding: 34px;
    border-radius: 40px;
  }

  .register__desc {
    font-size: 26px;
  }

  .register__title._mark::before {
    bottom: -2px;
  }

  .register__form {
    max-width: 305px;
  }

  .register__decor-1 {
    width: 300px;
  }

  .hero__subtitle {
    max-width: 310px;
  }

  .hero__decor-1 {
    bottom: 13%;
  }

  .hero__decor-2 {
    bottom: -14%;
  }

  .who__container {
    row-gap: 50px;
    justify-content: space-around;
    column-gap: 0;
  }

  .hero {
    padding-bottom: 140px;
  }

  .change__container {
    padding: 60px 43px;
  }

  .change__container::before {
    left: -16%;
    bottom: -48%;
  }

  .change__container::after {
    top: -34%;
  }

  .how-block__decor {
    display: none;
  }

  .how-block__text {
    margin: 0 auto;
  }

  .change__sec .change__container::after {
    height: 309.815px;
    width: 521.988px;
    top: -55%;
    right: -23%;
  }

  .team-add {
    bottom: -35%;
    width: 700px;
  }

  .register {
    padding-top: 150px;
  }

  .register__col {
    width: 50%;
  }

  .register__decor-1 {
    left: -10%;
    bottom: -7%;
  }

  .register__decor-2 {
    left: 24%;
    bottom: 0%;
  }

  .for__items {
    column-gap: 30px;
  }

  .for__wrap::after {
    display: none;
  }

  .for {
    padding-top: 100px;
  }
}

@media (max-width: 760px) {
  :root {
    --container-width: 360px;
    --sp: 50px;
    --fz-default: 16px;
    --h2: 26px;
    --h3: 24px;
    --l: 18px;
    --m: 16px;
    --s: 14px;
  }

  .header__logo {
    width: 166px;
    height: 37px;
  }

  .header__nav {
    top: 60px;
  }

  .header__nav,
  .header__menu {
    flex-direction: column;
  }

  .header__menu li {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
  }

  .header__menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background: rgba(38, 38, 38, 0.5);
  }

  .header__btn {
    margin-left: 0;
    margin-top: 15px;
  }

  .header__tel {
    margin-left: 0;
    margin-top: 15px;
  }

  .hero {
    padding: 46px 0 50px;
  }

  .hero__img {
    position: relative;
    width: 70vw
  }

  .hero__info-format {
    top: 145px;
    left: 61%;
  }

  .hero__info-date {
    top: -49px;
    right: 9%;
  }

  .hero__title {
    margin-bottom: 20px;
  }

 

  .hero__subtitle {
    margin-bottom: 26px;
    font-size: 20px;
  }

  .hero__desc {
    font-size: 22px;
  }

  .hero__btn {
    padding: 16px 0 17px;

    position: fixed;
		bottom: 5px;
		width: 340px;
		left: 50%;
		transform: translateX(-50%);
    z-index: 22;
    transition: var(--transition);
  }

  .hero__btn::before {
    right: 5px;
  }

  .hero__decor-2 {
    display: none;
  }

  .hero__decor-3 {
    display: block;
    left: 40%;
    top: auto;
    bottom: -268px;
    width: 594px;
  }

  .description__img {
    width: 100%;
    margin-bottom: 33px;
  }

  .description__img::before {
    padding-bottom: 59.4202898551%;
  }

  .description__content {
    width: 100%;
  }

  .description__text .subtitle {
    font-size: 20px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__desc {
    position: relative;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: auto;
    padding: 26px 0;
    margin-bottom: 30px;
    border-radius: 0;
  }

  .about__desc-text {
    max-width: 260px;
    text-align: center;
  }

  .about__content-1 {
    width: 100%;
    margin-bottom: 180px;
  }

  .about__subtitle {
    margin-bottom: 18px;
    font-size: 20px;
  }

  .about__list li:not(:last-child) {
    margin-bottom: 20px;
  }

  .about__decor {
    left: 8%;
    top: auto;
    bottom: -30px;
    width: 594px;
  }

  .about__btn {
    display: none;
  }

  .stage__items .item__content {
    flex-direction: column;
  }

  .stage__items .item__col {
    padding-right: 0;
    padding-bottom: 18px;
  }

  .stage__items .item__title {
    font-size: 20px;
  }

  .stage__items .item__subtitle {
    font-size: 20px;
  }

  .stage__items .item__desc {
    flex: 1 1 auto;
    padding-left: 0;
    border-left: none;
  }

  .stage__items .item__desc::before {
    content: " ";
    display: block;
    height: 1px;
    margin-bottom: 18px;
    background: url("data:image/svg+xml,%3Csvg width='69' height='2' viewBox='0 0 69 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M69 1L-2.14577e-06 0.999997' stroke='%234C09D2' stroke-dasharray='9 9'/%3E%3C/svg%3E%0A") left center no-repeat;
  }

  .stage__btn {
    display: none;
  }

  .for__img {
    display: none;
  }

  .for__wrap {
    width: 100%;
    text-align: center;
  }

  .for__items {
    margin: 40px 0 -30px;
  }

  .for__items .item {
    width: 100%;
    margin-bottom: 30px;
  }

  .for__items .item__icon {
    margin-left: auto;
    margin-right: auto;
  }
/* 
  .team__title ._mark {
    color: var(--accent);
  } */

  /* .team__title ._mark::before {
    content: none;
  } */

  .team__subtitle {
    margin-bottom: 16px;
  }

  .team__desc {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .team__text {
    font-size: 16px;
  }

  .team__wrap-expert {
    margin-bottom: 50px;
  }

  .team__wrap-expert .team__content {
    order: 2;
    flex: 0 0 100%;
    padding-right: 0;
  }

  .team__wrap-expert .team__img {
    order: 1;
    flex: 0 0 100%;
    margin-bottom: 46px;
  }

  .team__wrap-expert .team__img::before {
    padding-bottom: 92.7113702624%;
  }

  .team__wrap-consultants .team__img {
    flex: 0 0 100%;
    margin-bottom: 32px;
  }

  .team__wrap-consultants .team__content {
    padding-left: 0;
  }

  .clients__title {
    margin-bottom: 12px;
  }

  .register__wrap {
    padding: 34px 20px 77px;
  }

  .register__col {
    width: 100%;
    margin-bottom: 50px;
  }

  .register__title {
    margin-top: 19px;
  }

  .register__price {
    margin-top: 14px;
    font-size: 24px;
  }

  .register__form {
    max-width: none;
  }

  .register__decor-1 {
    left: auto;
    right: 0;
    width: 175px;
    transform: translateY(60%);
  }

  .register__decor-2 {
    width: 54px;
    bottom: 13px;
    left: 55%;
  }

  .faq__title {
    margin-bottom: 25px;
  }

  .faq__title ._mark::before {
    top: 3px;
    bottom: 3px;
  }

  .faq__title br {
    display: block;
  }

  .faq__items .item:not(:last-child) {
    margin-bottom: 12px;
  }

  .faq__items .item__question {
    font-size: 18px;
  }

  .faq__items .item__answer {
    padding-right: 0;
  }

  .footer {
    padding: 50px 0 50px;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__col {
    margin-top: 30px;
  }

  .footer__tel {
    font-size: 18px;
  }

  .footer__social {
    margin-top: 15px;
  }

  .footer__social-item {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }

  .footer__copywrite {
    margin-top: 20px;
    padding-right: 50px;
  }


  .register__decor-1 {
    bottom: -3%;
  }

  .team-add a {
    display: none;
  }

  .team-add {
    position: static;
    width: 100%;
    padding: 25px 29px;
    margin-top: 25px;
  }

  .register {
    padding-top: 20px;
  }

  .team__title br {
    display: block;
  }
  .team__title ._mark::before {
    top: 0;
    bottom: 0;
    width: 262px;
  }

  .change__sec .change__container::after {
    width: 421.988px;
    top: -36%;
    right: -31%;
  }

  .how-block__text_do {
    font-size: 23px;
  }

  .how__title {
    font-size: 26px;
    text-align: left;
  }

  .change__btn {
    display: none;
  }

  .change__container::after {
    top: 71%;
    right: -14%;
    width: 350.562px;
  }

  .change__container::before {
    bottom: 64%;
    left: -22%;
    transform: rotateX(163deg) rotate(74deg);
  }

  .hero__container {
      display: flex;
      flex-direction: column-reverse;
  }

  .hero__title {
    order: 2;
  }

  .hero__subtitle {
    order: 1;
  }

  .hero__subtitle {
    font-size: 14px;
  }

  .hero__info {
    position: relative;
  }

  .hero__info-format {
    position: absolute;
    left: 0;
    top: 76px;
  }

  .hero__info-date {
    position: absolute;
    left: 0;
    top: 0;
  }

  .hero__img {
    width: 81vw;
    top: -70px;
    right: -71px;
  }

  .hero__decor-1 {
    font-size: 14px;
  }

  .who-block {
    max-width: 162px;
  }

  .who-block__perc {
    font-size: 44px;
  }

  .who-block__text {
    font-size: 16px;
  }
}