



.hero{
  display: block;
  width: 100%;
  z-index: 1;
  position: relative;

  &__top-container{
    padding-top: 15px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 767px){
      display: none;
    }
    img{
      width: 170px;
      height: auto;
    }
  }

  &__logo-dk{
    /*  background-color: #4bbe47;*/

    img{
      border-radius: 4px;
    }
  }

  &__logo{
    margin: 0  20px;
  }

  .decor{
    position: absolute;
    left: 50%;
    top: 380px;
    transform: translate(-50%,0%);
    display: flex;

    @media (max-width: 1200px){
      display: none;
    }
    &__item{
      width: 292px;
      height: 398px;
      opacity: 0.28;


      &:nth-child(odd){
        margin-top: -35px ;
      }

      &:nth-child(1){
        background-color: #e5dcdc;


      }
      &:nth-child(2){
        background-color: #a7a7a7;

      }
      &:nth-child(3){
        background-color: #e5dcdc;

      }
      &:nth-child(4){
        background-color: #bdbdbd;



      }
      &:nth-child(5){
        opacity: 0;

      }
      &:nth-child(6){
        background-color: #c7c7c7;
        margin-left: 270px;
      }
      &:nth-child(7){
        background-color: #e5dcdc;


      }
      &:nth-child(8){
        background-color: #bdbdbd;


      }
      &:nth-child(9){
        background-color: #e5dcdc;


      }
    }

  }
  @media (max-width: 900px){
    height: auto;
  }

  p{
    margin-bottom: 0;
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1200px){
      flex-direction: column;
      flex-direction: column;
    }
  }

  &__item{
    text-align: center;
    width: 100%;

    &:first-child{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:nth-child(2){
      padding-bottom: 70px;
      @media (max-width: 767px){
        padding-bottom: 0;
      }
    }

    &--mob{
      @media (max-width: 767px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    }
  }

  &__info{
    padding-top: 20px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;

    @media (max-width: 767px){
      font-size: 14px;
    }

    span{
      background-color: #fe4604;
      padding: 0 25px;
      @media (max-width: 767px){
        padding: 0 5px;
      }
    }


  }

  &__block{
    display: flex;
    border: solid 3.2px #571dae;
    background-color: #fff;
    margin-top: 15px;
  }

  &__smolltitle{
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.2px;
    color: #ffffff;
    background-color: #571dae;

    span{
      background-color: #fff;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #571dae;
      line-height: 1.2;
      padding-left: 11px;
      @media (max-width: 767px){
        font-size: 25px;
      }
    }

    small{
      font-size: 24px;
      padding-left: 11px;
      @media (max-width: 767px){
        font-size: 16px;
        padding-left: 5px;
      }
    }
  }

  &__title{
    font-size: 72px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #571dae;
    padding: 0 10px;
    @media (max-width: 767px){
      font-size: 49px;
    }
  }

  &__subtitle{
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: 1.1px;
    text-align: center;
    color: #000000;
    padding: 20px 0 60px;
    @media (max-width: 767px){
      font-size: 25px;
      letter-spacing: 0.7px;
      padding-bottom: 0px;
    }


    .br-mob{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
  }

  &__lectors-block{
    display: flex;

  }

  &__lector-name{
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.85px;
    color: #000000;
    margin-top: 15px;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 11px;
    }
  }


  &__lectors{

  }

  &__lector{


    &:nth-child(2){
      margin-top: 20px;
      @media (max-width: 767px){
        margin-top: 30px;
      }
    }
    &:nth-child(4){
      margin-top: 15px;
      @media (max-width: 767px){
        margin-top: 0px;
      }
    }
    @media (max-width: 767px){
      width: 80px;
    }

    img{
      @media (max-width: 767px){
        width: 100%;
      }
    }
  }

  &__date{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    @media (max-width: 767px){
      padding: 0 0 20px;
    }
  }

  &__day{
    font-size: 100px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    color: #000000;
    @media (max-width: 767px){
      font-size: 70px;
    }
  }

  &__month{
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.75px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 20.5px;
    }
  }

  &__time{
    font-size: 25.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.77px;
    text-align: center;
    color: #ffffff;
    background-color: #f14201;
    margin: 2px 0;
    @media (max-width: 767px){
      font-size: 21px;
    }
    &--orang{
      background-color: #fc7d37;
    }
  }

  .form-wr{
    max-width: 360px;
    margin: 0px auto 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#ffffff));
    background-image: -o-linear-gradient(bottom, #ffffff, #ffffff);
    background-image: linear-gradient(to top, #ffffff, #ffffff);
    -webkit-box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    margin-left: 30px;

    @media (max-width: 1200px){
      margin: 35px 0px 30px 0px;
    }

  }
  .form{
    position: relative;
    width: 100%;

    &__body{
      padding: 35px 20px;

      background-image: linear-gradient(to top, #fb8b1e, #ff3a00);
      @media (max-width: 767px){
        padding: 20px 10px;
      }
    }

    &__footer{
      background-color: #fff;
      border-radius:0 0 15px 15px ;
    }

    &__title{
      text-align: center;
      color: #000;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.27;
      letter-spacing: 2.2px;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    .form-group{
      input{
        color:  #a1a1a1;
      }
    }

    input{
      border-radius: 6px;
      border: 1px solid #e1e1e1;
      background-color: #f6f6f6;
      height: 46px;
      padding-left: 20px;
      font-size: 18px;
    }

    &__btn{
      text-align: center;
      .btn{
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
        height: auto;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        padding: 15px 0;
        text-transform: uppercase;
        border-radius: 35px;
        border: none;
        -webkit-box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.16);
        background-color: #571dae;
        border: solid 1px #571dae;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        @media (max-width: 767px){
          font-size: 20px;
        }
        &:hover,
        &:active {
          background-color: #fff;
          color: #571dae;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    .form-group label.error {
      top: 52px;
    }

    form{
      margin-bottom: 0;
      text-align: left;
    }
  }

  .form-group input {
    color:  #a1a1a1!important;
  }

























  &__rec{
    padding-top: 0px;
    font-size: 20px;
    padding-top: 15px;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &:before{
      content: '';
      background: url(images/camera1.png) center center no-repeat;
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 10px;
      @media (max-width: 767px){
        content: none;
      }
    }
    p{
      color: #000;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 1.5px;
      margin-bottom: 0;
      text-transform: uppercase;
      @media (max-width: 750px){
        letter-spacing: 0;

      }
    }
    span{
      color: #00c8ff;
      font-weight: 400;
      letter-spacing: 0.7px;
      @media (max-width: 750px){
        letter-spacing: 0;

      }
    }
    @media (max-width: 1200px){
      padding-top: 0px;
      padding-bottom: 35px;
      margin-left: 0;
    }
    @media (max-width: 750px){
      font-size: 16px;
      padding-top: 15px;
      padding-left: 0px;
      text-align: center;
      padding-bottom: 20px;
      letter-spacing: 0;
    }
  }

  &__container{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 1200px){
      max-width: 100%;
    }
    @media (max-width: 767px){
      max-width: 100%;
    }
  }









  .gift{
    text-align: left;
    padding: 25px 0 25px 105px;
    position: relative;
    border: solid 1px #fb8b1e;
    @media (max-width: 767px) {
      text-align: center;
      padding: 25px 0;
    }
    &:before{
      position: absolute;
      content: "";
      background: url(images/heart-box.png) center center no-repeat;
      width: 64px;
      height: 64px;
      top: 25px;
      left: 25px;
      @media (max-width: 767px){
        content:none;
      }
    }

    &__title{
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #363636;
      padding-bottom: 10px;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    &__sub-title{
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #363636;
    }
  }
}




.arrow{
  width: 30px;
  margin: 0;
  display: block;
  position: absolute;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  transform: translate(-50%,0%);
  @media (max-width: 1200px){
    display: none;
  }
  @media (max-width: 767px){
    display: none;
  }

  span{
    display: block;
    width: 21px;
    height: 21px;
    margin-left: 7px;
    border-bottom: 5px solid #d9dbcf;
    border-right: 5px solid #d9dbcf;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
    @media (max-width: 1200px){
      width: 12px;
      height: 12px;
      margin-left: 20px;
    }
    @media (max-width: 767px){
      margin-left: 0px;
    }
    &:nth-child(2){
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
    &:nth-child(3){
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
  }
}

@-webkit-keyframes animate {
  0%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px,-20px);
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px,20px);
    transform: rotate(45deg) translate(20px,20px);
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px,-20px);
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px,20px);
    transform: rotate(45deg) translate(20px,20px);
  }
}