.order {
  padding: 75px 0 125px;
  background-color: #eae6e4;
  @media (max-width: 767px){
    padding: 50px 0;
  }
  &__container {
    @extend %container;
    text-align: center;
    &:before{
      top: -150px;
      right: -300px;
    }
  }

  &__title{
    @extend %title;
  }





  &__sub-title{
    @extend %sub-title;
  }

  &__packages {
    padding-top: 25px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__package {
    max-width: 315px;
    width: 100%;
    margin: 20px 10px 0;
  }

  &__package--standart{
    padding-top: 40px!important;
    .package{


      &__price{
      }
    }

    .btn{
      border-radius: 21px;
      box-shadow: 0 12px 24px rgba(55, 72, 198, 0.44);
      border: 1px solid #571dae;
      background-color: #571dae;
      width: 100%;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      transition: all 0.5s;
      &:hover,
      &:active {
        background:transparent;
        color: #571dae;
        box-shadow: none;
      }
    }

    .package__footer{
      padding-bottom: 32px;
    }
  }

  &__package--gold{
    padding-top: 30px!important;

    .package__price{
      color: #571dae!important;

    }

    .btn{
      border-radius: 21px;
      border: 1px solid #571dae;
      color: #571dae;
      font-size: 18px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
      letter-spacing: 0.9px;
      transition: all 0.5s;
      width: 100%;
      &:hover,
      &:active {
        background-color: #571dae;
        color: #fff;
      }
    }
    .package__list{
      padding-bottom:30px;
      @media (max-width: 767px) {
        padding-bottom: 35px;
      }

    }
  }

  &__package--platform{
    background-image: linear-gradient(to top, #ffc02a 0%, #ff752a 100%);
    border: none!important;
    .package__header{
      color: #141414;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: -0.5px;
    }
    .package__list{
      padding-right: 13px;
      li {
        color: #8a3f00;
        line-height: 1.6;
        b{
          color: #141414;
        }

        &:before {
          background: url(images/check_platform.png) center center no-repeat;
        }
      }
    }

    .package__old-price{
      color: #ae6f0f;
    }
    .btn{
      border-radius: 21px;
      border: 1px solid #849f11;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 38px;
      text-transform: uppercase;
      background-color: #849f11;
      letter-spacing: 0.9px;
      transition: all 0.5s;
      width: 100%;
      &:hover,
      &:active {
        background-color: #fff;
        color: #849f11;
      }
    }
    .package__footer{
      padding-bottom: 47px;
    }
    .package__price--platform{
      color: #000;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 0.24px;
      text-transform: none;
      span{
        font-weight: 900;
      }
    }
  }
}
