@keyframes line-right {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@-webkit-keyframes line-right {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}
@keyframes line-left {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@-webkit-keyframes line-left {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}
.package {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin-right: 7px;
  margin-left: 7px;
  &.package_line-js {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #007bfd;
      -webkit-animation: line-right .5s forwards;
      animation: line-right .5s forwards;
      animation-timing-function: line-right;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 50%;
      width: 0;
      height: 2px;
      background-color: #007bfd;
      -webkit-animation: line-left .5s forwards;
      animation: line-left .5s forwards;
      animation-timing-function: line-left;
      transform: rotate(180deg);
    }

  }


  &__body {
    flex: 1 0 auto;
    align-items: center;
    padding: 30px 5px 40px;
    text-align: center;
  }


  &__header {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.8px;
    color: #007bfd;
    position: relative;

    span{
      font-size: 16px;
    }



  }

  &__head{
   padding: 35px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.package_line-js {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #007bfd;
        -webkit-animation: line-right .5s forwards;
        animation: line-right .5s forwards;
        animation-timing-function: line-right;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0px;
        right: 50%;
        width: 0;
        height: 2px;
        background-color: #007bfd;
        -webkit-animation: line-left .5s forwards;
        animation: line-left .5s forwards;
        animation-timing-function: line-left;
        transform: rotate(180deg);
      }

    }




  }

  &__format {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    color: #0087ec;
  }

  &__price {
    font-size: 50px;
    font-weight: bold;
    line-height: 30px;
    color: #1e1e1e;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    span{
      font-size: 20px;
      padding-left: 8px;
      position: relative;
      line-height: 0.4;
    }

    &--gold {

    }
  }

  &__old-price {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;

    color: #848484;



  }

  &__btn {
    margin-bottom: 30px;

    .btn{
      width: 220px;
      height: 59px;
      box-shadow: 0 3px 7px rgba(3, 7, 8, 0.38);
      border-radius: 14px;
      background-color: #007bfd;
      color: #ffffff;
      border: none;
      font-size: 21px;
      font-weight: 400;
      line-height: 16.87px;
      cursor: pointer;
      transition: all 150ms linear;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 16px 21px rgba(0, 0, 0, 0.25);

      }
    }

    &--footer {
      margin: 0;

      &.is-hidden {
        display: none;
      }
    }


    &--platform {
      display: none;
      position: relative;
      margin: 0;
      text-align: center;

      a {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: underline;
        letter-spacing: 0.6px;
        color: #0645ad;

        &:hover {
          text-decoration: none;
          color: #0645ad
        }
      }
    }
  }


  &__list {
    margin: 30px 0 0;
    padding: 0 10px;
    list-style: none;
    text-align: left;
    font-size: 17px;
    line-height: 24px;
    color: #010101;

    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 5px;
      color: #000;

      a {
        color: #0900b9 ;
        text-decoration: underline;

        &.is-inactive {
          color: #acabab;
          cursor: not-allowed;
        }
      }

      &:before {
        position: absolute;
        font-family: "FontAwesome";
        color: #00c738;
        content: "\f00c";
        top: 2px;
        left: 8px;

      }

      &.is-inactive {
        color: #acabab;

        &:before {
          background-image:url(images/inactive.png) ;
        }
      }
    }

    &--footer {
      margin-bottom: 30px;
      color: #fff;
    }
  }

  &__footer {
    padding: 0 5px 40px;
  }

  &__presents {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #e42e2e;
    text-align: center;

    svg {
      position: relative;
      top: 1px;
      margin-right: 6px;
      fill: #e42e2e;
    }
  }
  .package__btn--footer{

    .btn{
      width: 200px;
      height: 50px;
      -webkit-box-shadow: 0px 22px 33px #dcd8d8, inset 0px 0px 1px #ffffff;
      -moz-box-shadow: 0px 22px 33px #dcd8d8, inset 0px 0px 1px #ffffff;
      box-shadow: 0px 22px 33px #dcd8d8, inset 0px 0px 1px #ffffff;
      transition: 0.7s;
      background-color: #007bfd;
      color: #ffffff;
      border: none;
      border-radius: 0;
      font-size: 21px;
      font-weight: 400;
      line-height: 1;
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        background-color: #ffcc3c;
        color: #000;

      }
    }

  }
  .btn--platform{
    width: 220px;
    height: 59px;
    border-radius: 14px;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.23);
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(63deg, #FF9800 0%, #FF9800 99%, #FF9800 100%);
    cursor: pointer;
    text-decoration: none;
    color: #43001d;
    span{
      font-size: 14px;
      line-height: 23px;
    }

  }
}