.register {
  padding-top: 43px;

  @include media-breakpoint-up(xl) {
    padding-top: 82px;
  }
  .container {
    position: relative;
    @include media-breakpoint-up(xl) {
      padding: 0;
    }
  }

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-bottom: 42px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 72px;
    }

    &::before {
      position: absolute;
      bottom: -11px;
      left: 54px;
      content: "";
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='237' height='15' viewBox='0 0 237 15' fill='none'%3E%3Cpath d='M2 3.264C40.1649 3.264 78.3299 3.264 116.495 3.264C141.303 3.264 166.179 5.57797 190.974 2' stroke='%230ABC40' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M123.242 12.264C145.813 12.264 168.384 12.264 190.954 12.264C205.626 12.264 220.337 14.578 235.001 11' stroke='%230ABC40' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E")
        no-repeat center;
      background-size: cover;
      width: 233px;
      height: 11px;

      @include media-breakpoint-up(xl) {
        width: 762px;
        height: 42px;
        left: 154px;
        bottom: -49px;
      }
    }

    @include media-breakpoint-up(xl) {
      font-size: 40px;
    }

    span {
      color: $maincolor;
      font-weight: 700;
      //display: block;

      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }

  &__item {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background: url(../img/register_img.png) no-repeat center;
      background-size: cover;
      width: 206.423px;
      height: 172.49px;
      transform: rotate(8.35deg);
      bottom: -27px;
      right: -56px;

      @include media-breakpoint-up(xl) {
        width: 308.335px;
        height: 257.65px;
        bottom: -127px;
        right: -71px;
      }
    }
  }

  &__block {
    border: 0.5px solid var(--Color, #fff);
    background: #1f1f1f;
    padding: 24px 21px;
    margin-top: 18px;

    @include media-breakpoint-up(xl) {
      display: flex;
      padding: 50px 52px;
      justify-content: space-between;
      align-items: center;
      margin-top: 44px;
      position: relative;

      &::before {
        position: absolute;
        bottom: -76px;
        right: 0;
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='392' height='129' viewBox='0 0 392 129' fill='none'%3E%3Cpath d='M2.48341 18.7296C2.93127 17.4519 3.66468 16.275 4.20919 15.0366C5.23601 12.7012 6.01164 10.2776 6.81992 7.8616C7.38614 6.16916 7.91518 4.38283 8.76094 2.80272C9.22444 1.93678 9.32896 2.36443 9.69757 3.05268C11.1114 5.69246 12.0455 8.49272 13.0771 11.2921C14.0102 13.8242 15.1914 16.2441 15.9068 18.8501' stroke='%230ABC40' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M10 7C10 16.4402 10.6726 25.0883 17.2263 32.8161C33.1994 51.6508 57.1558 62.2843 80.3323 68.8648C109.497 77.1455 133.066 79.4503 163.407 80.6696C187.113 81.6223 207.063 80.98 230.181 77.8287C246.875 75.5533 270.458 70.1194 277.814 52.3712C286.5 38.5 284.46 30.1803 277.814 23.5C274.221 19.8878 259.831 13.5 253.157 21.5629C246.068 26.4361 241.076 36.436 237.518 43.7383C230.583 57.9733 225.457 73.7663 233.133 88.8061C238.796 99.903 248.922 107.144 259.831 112.581C272.364 118.827 286.308 123.101 300.155 125.075C315.723 127.295 331.873 127.22 347.54 126.427C362.148 125.688 375.643 122.857 389.794 119.697' stroke='%230ABC40' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E")
          no-repeat center;
        background-size: cover;
        width: 379.794px;
        height: 125.934px;
        display: block;
      }
    }
  }

  &__text {
    text-transform: uppercase;
    b {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 4px;
      display: block;

      @include media-breakpoint-up(xl) {
        font-size: 32px;
        margin-bottom: 9px;
      }
    }

    span {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 4px;
      display: block;

      @include media-breakpoint-up(xl) {
        font-size: 24px;
        margin-bottom: 8px;
      }
    }

    p {
      font-size: 24px;
      font-weight: 700;
      color: $maincolor;
      max-width: 168px;

      @include media-breakpoint-up(xl) {
        font-size: 34px;
        margin-bottom: 8px;
        max-width: 414px;
      }
    }

    i {
      font-size: 12px;
      font-weight: 500;
      font-style: italic;
      text-transform: none;
      max-width: 162px;
      line-height: 1.35;
      width: 162px;
      display: block;

      span {
        color: $maincolor;
        font-weight: 700;
        font-size: 12px;
        display: inline-block;
        @include media-breakpoint-up(xl) {
          font-size: 14px;
        }
      }

      @include media-breakpoint-up(xl) {
        font-size: 14px;
      }
    }
  }

  &__date {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 98%;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
      margin-bottom: 62px;
    }

    span {
      padding: 0 4px;
      color: $maincolor;
    }
  }

  &__form {
    padding-top: 20px;

    @include media-breakpoint-up(xl) {
      max-width: 530px;
      padding-top: 0;
    }
  }

  &__package {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 22px;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 3px;

    @include media-breakpoint-up(xl) {
      max-width: 302px;
    }
    span {
      flex-grow: 1;
      text-align: center;

      display: block;
      transition: all 0.3s;

      @include media-breakpoint-up(xl) {
        padding: 4px 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      font-weight: 700;
      color: $white;
      background-color: $maincolor;
      transition: all 0.3s;
    }
  }

  .form {
    padding-top: 38px;
    position: relative;

    @include media-breakpoint-up(xl) {
      padding-top: 26px;
    }

    .btn-page {
      line-height: 50px;
      margin-top: 28px;
      border: none;
      display: block;

      @include media-breakpoint-up(xl) {
        min-width: 282px;
        margin-top: 0;
      }
    }

    &__bottom {
      @include media-breakpoint-up(xl) {
        display: flex;
        padding-top: 32px;
        gap: 12px;
      }
    }
    &__input {
      input {
        height: 52px;
        border: none;
        border-bottom: solid 1px #fff;
        width: 100%;
        background-color: transparent;
        font-size: 18px;
        color: $white;

        @include media-breakpoint-up(xl) {
          font-size: 20px;
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.4);
          font-size: 16px;
          color: $white;

          @include media-breakpoint-up(xl) {
            font-size: 20px;
          }
        }
      }
      .intl-tel-input {
        width: 100%;
      }
    }

    &__agree {
      font-size: 11px;
      margin-top: 10px;
      color: rgba(255, 255, 255, 0.4);

      @include media-breakpoint-up(xl) {
        margin-top: 0;
        font-size: 12px;
      }

      a {
        color: rgba(255, 255, 255, 0.4);
        text-decoration: underline;
      }
    }
    .country {
      color: #000;
    }
  }

  &__circle {
    position: absolute;
    right: -30px;
    top: 30px;
    z-index: 1;

    @include media-breakpoint-up(xl) {
      top: -0px;
      right: 38px;
    }

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 50px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='62' height='62' viewBox='0 0 62 62' fill='none'%3E%3Cg clip-path='url(%23clip0_132_9318)'%3E%3Cpath d='M12.3235 18.8752L13.6163 24.2097L34.7508 19.1076L17.3088 47.7086L22.009 50.575L39.451 21.974L44.5532 43.1084L49.9255 41.8064L42.5901 11.5398L12.3235 18.8752Z' fill='%239FF565'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_132_9318'%3E%3Crect width='50.3597' height='50.3596' fill='white' transform='translate(0.800781 12.123) rotate(-13.6235)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        50% no-repeat;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include media-breakpoint-up(xl) {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59' height='59' viewBox='0 0 59 59' fill='none'%3E%3Cg clip-path='url(%23clip0_132_1368)'%3E%3Cpath d='M47.2385 48.0935L47.2385 41.7718L22.1984 41.7494L49.4803 14.4676L44.9968 9.9841L17.7149 37.266L17.7374 12.2258L11.3708 12.2258L11.3708 48.0935L47.2385 48.0935Z' fill='%239FF565'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_132_1368'%3E%3Crect width='58' height='58' fill='white' transform='translate(58.3047 58.7773) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
          50% no-repeat;
      }
    }
    .circle {
      width: 163px;
      height: 163px;
      background-size: cover;
      animation: 18s linear 0s normal none infinite running rot;

      @include media-breakpoint-up(xl) {
        width: 210px;
        height: 210px;
      }
    }
  }
}
