@-webkit-keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.ticker {
  display: flex;
  padding: 4px 0;
  background: $bg;
  z-index: 1;
  position: relative;
  border-top: solid 1px #393939;
  border-bottom: solid 1px #393939;
  width: 110%;

  svg {
    fill: #000;
  }

  &--black {
    transform: rotate(0.871deg);
  }

  &--grean {
    background-color: $maincolor;
    transform: rotate(-6.391deg) translateY(-18px) translateX(-10px);
  }
}

.ticker__string {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.ticker__string span {
  display: inline-block;
  padding: 0 5px;
  // color: #1e1e1e;
  // -webkit-text-stroke-width: 1;
  // -webkit-text-stroke: 1px #fff;
  font-weight: 800;
  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }
}

.ticker__icon {
  height: 36px;
  width: 36px;
  margin: 0 30px;
}
