.hero {
  background: url(images/hero-min.png) no-repeat top center;
  background-size: cover;

  @at-root .webp & {
    background: url(images/hero.webp) no-repeat 50% 100%;
  }

  .container {
    padding: 0;

    @include laptop-l() {
      padding-bottom: 10px;
      padding-top: 50px;
      height: 717px;
      position: relative;
    }

    @include laptop-l() {
      padding-top: 0px;
    }
  }

  &__girl{
    background: url(images/hero_girl-min.png) no-repeat top center;
    background-size: cover;
    position: static;
    z-index: 5;
    width: 228px;
    height: 223px;
    margin: -50px auto 0;

    @at-root .webp & {
      background: url(images/hero_girl.webp) no-repeat 50% 100%;
      background-size: cover;
    }

    @include laptop-l() {
      position: absolute;
      left: 680px;
      width: 619px;
      height: 603px;
      bottom: 0px;
    }
  }

  .hero_main {
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(7, 98, 165, 0.8), transparent);
    padding: 16px 0px 0;

    @include laptop-l() {
      margin-left: 0;
      width: 738px;
      padding: 28px 42px 0 52px;
    }
  }


  &__menu-list {
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 0;

    @include laptop-l() {
      display: flex;
    }

    li{
      list-style: none;
      padding: 0;
      margin: 0;
      a{
        display: inline-block;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.45px;
        text-align: left;
        color: #ffffff;
      }
    }
  }

  &__pretitle{
    width: 73%;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffea00;
    line-height: 1.38;
    letter-spacing: 0.16px;
    text-align: center;
    margin: 0 auto;

    @include laptop-l() {
      width: 100%;
      margin-top: 85px;
      font-size: 24px;
      font-weight: bold;
      text-align: justify;
    }
  }

  &__pretitle:after {

    @include laptop-l() {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
    }
  }

  &__title {
    text-shadow: 0px 3px 122px rgba(0, 1, 6, 0.41);
    font-size: 31.5px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.31;
    text-align: center;
    color: #ffffff;
    margin: 25px auto 0;

    @include mobile() {

    }
    @include laptop-l() {
      line-height: 1.19;
      font-size: 68px;
      font-weight: 900;
      text-align: justify;
    }
    span{
      font-size: 43px;

      @include laptop-l() {
        line-height: 1.19;
        font-size: 68px;
        font-weight: 900;
      }
    }
  }

  .hero_bukovel-logo{
    background: url(images/bucovel_icon.png) no-repeat top center;
    background-size: cover;
    width: 149px;
    height: 56px;
    margin: 12px auto 0;

    @include laptop-l() {
      width: 243px;
      height: 92px;
      margin: 25px auto 0;
    }
  }

  &__dates {
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.48px;

    @include laptop-l() {
      font-size: 41.5px;
      font-weight: 600;
      letter-spacing: 1.04px;
    }
  }
}
