.tour {
  .container {
    padding-top: 50px;
    padding-bottom: 10px;

    @include laptop-l() {
      padding-top: 90px;
      padding-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;


  }
  &__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 61.2px 6.8px rgba(69, 79, 116, 0.11);
    background-color: #ffffff;
    flex-direction: column;
    max-width: 290px;
    margin: 15px auto;

    @include laptop-l() {
      justify-content: space-between;
      flex-direction: row;
      max-width: 556px;
    }

    &-img {
      width: 100%;
    }

    &-info{
      display: flex;
      align-items: center;
      padding: 35px 15px 24px 26px;

      @include laptop-l() {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    &-text{
      font-size: 15px;
      line-height: 1.27;
      letter-spacing: 0.38px;
      color: #1c1c1c;
      margin-left: 14px;
      width: 77%;

      @include laptop-l() {
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.45px;
        font-size: 18px;
        margin-left: 0px;
      }
    }
  }

  .bukovel__btn{
    margin-top: 30px;
    margin-bottom: 0;
    @include laptop-l() {
      margin-top: 80px;
    }
  }
}
