.landing-msfz_october2019_2{
  $main_head: #ff6f26;
  $period_oldPprise_color: #5b3214;

  $main_head_plus: #881441;
  $period_oldPprise_color_plus: #fab4a8;


  .dtkt-promo{
    background-color: #f8ddaf;
  }

  .packages__column{
    padding-top: 50px;

  }
  .landing-title--columns{
    padding-top: 50px;
    margin-bottom: 20px;

    &:nth-child(2){
      position: relative;

    }
    span{
      color: #040207;
    }

  }


  .package__header{
    background-color: $main_head;
  }
  .package__price-half{
    color: $period_oldPprise_color;
  }

  .package__presents {
    display: block !important;
    text-align: left;
  }

  .package-plus{
    position: relative;

    .package__header{
      position: relative;
      color: #fff;
      background-color: $main_head_plus;

      .package__period{
        color: $period_oldPprise_color_plus;
      }

      .package__old-price{
        color: $period_oldPprise_color_plus;
      }

      .package__price-half{
        color:  $period_oldPprise_color_plus;
      }

    }
    .btn-package{
      background-color: #780ea4;
      &:hover,
      &:active,
      &:focus{
        background-color: #201973;
      }
    }

  }



  .package-plus-top{
    position: relative;
    &:before{
      position: absolute;
      content: "топ продажу";
      color: #fff;
      border-radius: 4px;
      background-color: #780ea4;
      width: 180px;
      left: 50%;
      top: 39px;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      transform: translate(-50%);
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
    }
  }

  .package__presents-list {

    li {
      color: #040207;
      &:before{
        background: transparent url(images/gift_purple.svg) no-repeat top center;
        width: 20px;
        height: 24px;

      }
    }

    .no-active{
      color: #bdbbbb;
      cursor: not-allowed;
      &:before{
        background: transparent url(images/gift_gray.svg) no-repeat top center;
      }

    }

  }

  .btn-package{
    background-color: #a72816;
    &:hover,
    &:active,
    &:focus{
      background-color: #a20f51;
    }
  }

  .package__abilities-item-platform{
    margin-top: 50px;
    position: relative;

    &:after{
      position: absolute;
      content: " ";
      background: transparent url(images/plus.svg) no-repeat top center;
      top: -40px;
      left: 50%;
      transform: translate(-50%);
      width: 26px;
      height: 26px;

    }

    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}