.package {
  $color-one:#be46e6;
  $color-two:#be00ff;
  $color-three:#7d00a7;
  $color-period:#dedddd;

  &__header{
    background-color: $color-one;
    color: #dedddd;
  }

  .btn-package{
    background-color: $color-one;
    color: #fff;

    &:after{
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }

    &:hover{
      background-color: #ae3942;
    }
  }

  &__two{

    .package__header{
      background-color: $color-two;
    }

    .btn-package{
      background-color: $color-two;
      color: #fff;

      &:after{
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
      }

      &:hover{
        background-color: #ae3942;
      }
    }
  }

  &__three{

    .package__header{
      background-color: $color-three;
    }

    .btn-package{
      background-color: $color-three;
      border: none;
      color: #fff;

      &:after{
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
      }

      &:hover{
        background-color:#ae3942;
      }
    }

  }

  &__plus-top{
    position: relative;
    &:before{
      position: absolute;
      content: "топ продажу";
      color: #040207;
      border-radius: 4px;
      background-color: #38ff84;
      box-shadow: 0 0 13px rgba(51, 0, 12, 0.34);
      width: 180px;
      left: 50%;
      top: 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      transform: translate(-50%);
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
    }
  }

  &__title{
    font-size: 20px;
    text-transform: uppercase;
    min-height: 48px;
    margin-bottom: 0;
    @media (max-width: 767px){
      min-height: auto;
    }
  }

  &__month{
    font-size: 20px;
    line-height: 1.25;
    margin: 20px auto;
    color: $color-period;
  }

  &__price{
    display: none;
  }

  &__custom-price{
    display: block;
    font-size: 40px;
    line-height: 0.63;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
  }

  &__presents{
    display: block;
  }

  &__presents-title, &__abilities-title{
    color: #040207;
  }

  &__presents-list {

    li {
      color: #040207;

      &:before{
        background: transparent url(images/gift_purple.svg) no-repeat top center;
        width: 20px;
        height: 24px;
      }
    }

    .no-active{
      color: #bdbbbb;
      cursor: not-allowed;

      a{
        color: #bdbbbb;
        cursor: not-allowed;
        text-decoration: none;

        &:hover{
          color: #bdbbbb;
          cursor: not-allowed;
          text-decoration: none;
        }
      }

      &:before{
        background: transparent url(images/gift_gray.svg) no-repeat top center;
      }
    }
  }

  &__abilities-list{

    li{
      color: #000;
    }
  }

  &__list-show{
    color: #0a3fa7;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 15px;
  }

  .btn-package--three{
    display: inline-block;
  }
  .btn-package--six{
    display: none;
  }
  .btn-package--twelve{
    display: none;
  }
}

.package-two{

  .package__presents{
    display: none;
  }

  .package__present{
    display: block;
  }
}