
{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__item">
                <p class="hero__title"><span>Ви уcпішно</span> <br>зареєструвалися!</p>
                <p class="hero__sub-title"> Як і обіцяли – ваш подарунок вже готовий для скачування. <br>
                Щоб завантажити брошуру,  <b>тисніть на кнопку</b> </p>
                <div class="hero__block">
                    <img class="hero__img "  alt="book" src="{{ page.url('/images') }}/book-min.png">
                    <div class="hero__btns">
                        <a href="https://7eminar.com/files/1482/FOP_2020__ESV.pdf" target="_blank" class="hero__btn hero__btn--xls">Скачати брошуру</a>
                    </div>
                    <p  class="arrow"><span></span><span></span><span></span></p>
                </div>
            </div>
            <div class="hero__description"> Також залишився 1 крок, щоб приєднатися до учасників безкоштовної online-конференціі
                <br><b>«ФОПи по-новому: РРО/ПРРО, облік, кадри... і тисячі штрафів» </b> (9 вересня)
            </div>
            <div class="progress">
                <p class="progress__text"> Майже готово 98%</p>
                <div class="progress__circle"></div>
                <div class="progress__value"></div>
            </div>
            <div class="hero__description hero__description--last">Щоб завершити реєстрацію та отримати повідомлення про трансляцію,    <b>обов’язково зараз</b>  натисніть на кнопку нижче, підпишіться на наш YouTube-канал та клікніть на дзвіночок.
            </div>
            <a class="hero__btn" href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&feature=iv&src_vid=hw1bDtxtZs8" target="_blank">Завершити реєстрацію</a>
            <a class="img-link"  href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&feature=iv&src_vid=hw1bDtxtZs8" target="_blank"><img src="{{ link }}/gif.gif" alt=""></a>
            <div class="hero__description hero__description--last">Трансляція відбудеться 9 вересня на <a href="https://www.youtube.com/channel/UCctwZMxIcNTDrcHx597kwbg?sub_confirmation=1&feature=iv&src_vid=hw1bDtxtZs8" target="_blank"> YouTube-каналі 7eminar.com </a>
            </div>
        </div>
    </div>

<div id="free-video" class="free-video">
    <div class="free-video__container container">
        <div class="free-video__content">
            <p class="free-video__title"> <span>Всі корисні відеоматеріали в одному місці</span><br>
                ПЕРЕДПЛАЧУЙТЕ І ВІДРАЗУ КОРИСТУЙТЕСЯ</p>
            <div class="free-video__block">
                <div class="free-video__text">
                    <p>Хочете зекономити свої кошти та отримати доступ до цього online-семінару, а також {{ shop_price('онлайн-platform_price','courses') }}+ актуальних відеокурсів, вебінарів та ще 50+ нових відеопроєктів вже у 2020-му на всі найважливіші бухгалтерські теми?</p>
                    <a href="https://7eminar.ua/?utm_campaign=gift_09092020_registration_platform&utm_medium=refferal&utm_source=7eminar.com"  target="_blank">Передплатіть Бухгалтерську Відеоплатформу №1.</a>

                </div>
                <div class="free-video__video">
                    <iframe src="https://www.youtube.com/embed/LOHtuZD_zP0?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div><a href="https://7eminar.ua/?utm_campaign=gift_09092020_registration_platform&utm_medium=refferal&utm_source=7eminar.com" target="_blank" class="free-video__btn">ПЕРЕДПЛАТИТИ ЗІ ЗНИЖКОЮ</a>
        </div>
    </div>
</div>
</div>


<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>

