.hero{
  display: block;
  width: 100%;
  z-index: 1;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: url(images/hero_bg-min.png) top center no-repeat;

  @media (max-width: 1200px){
    background: url(images/hero_bg_tab-min.png) top center no-repeat;
  }

  @media (max-width: 767px){
    background: url(images/hero_bg_mob-min.png) top center no-repeat;
  }



  p{
    margin-bottom: 0;
  }

  &__top-container{
    padding: 15px 30px 0px;
    position: relative;
    z-index: 1;
    display: none;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 1200px){
      justify-content: space-between;
    }
    @media (max-width: 767px){
      align-items: center;
      justify-content: space-around;
      padding: 10px 0 0;
    }

    img{
      width: 170px;
      height: auto;
      @media (max-width: 767px){
        margin: 15px 0;
        width: 140px;
      }
    }
  }

  &__logo-dk{
    padding-right: 180px;
    @media (max-width: 1200px){
      padding-right: 0px;
    }

    img{
      border-radius: 4px;
    }
  }

  &__container{
    position: relative;
    padding-bottom: 120px;

    @media (max-width: 1200px){
      max-width: 767px;
    }
    @media (max-width: 767px){
      max-width: 100%;
      padding-bottom: 100px;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding:  30px 135px 0 90px;

    @media (max-width: 1200px){
      justify-content: center;
      flex-direction: column;
      padding:  30px 0px 0;
    }

    @media (max-width: 767px){
      padding-top: 30px;
      text-align: center;
    }
  }

  &__item{
    @media (max-width: 767px){
      display: flex;
      flex-direction: column;
    }

  }

  &__lector{

    @media (max-width: 1200px){
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;

      img{
        padding-left: 75px;
      }
    }
  }


  &__lector-name{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3.6px;
    text-align: right;
    color: #ffffff;
    margin-top: -80px;
    padding-right: 40px;

    @media (max-width: 1200px){
      text-align: center;
      padding-right: 0px;
      margin-top: -230px;
    }

    span{
      font-size: 18px;
      letter-spacing: 1.8px;
      color: #212121;
      display: block;
    }
  }



  &__title{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.03;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 80px;

    @media (max-width: 767px){
      font-size: 34px;
      padding-top: 25px;
    }
  }

  &__subtitle{
    font-size: 32px;
    font-weight: 800;
    line-height: 2;
    color: #212121;
    text-transform: uppercase;

    @media (max-width: 767px){
      font-size: 18px;
      line-height: 1.33;
    }
  }

  &__seminar{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #2f2f2f;
    text-transform: uppercase;
    display: flex;

    @media (max-width: 767px){
      align-items: center;
      justify-content: center;
    }


    &:before,
    &:after{
      content: "";
      background: url(images/brecket.png) top center no-repeat;
      width: 11px;
      height: 26px;
      display: block;
    }
    &:after{
      transform: rotate(180deg);
    }

    p{
      display: block;
      margin: 0 10px;
    }

    span{
      background-color: #fadf28;
      padding: 0 3px;
    }
  }


  &__date{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #2f2f2f;
    text-align: right;
    padding-top: 40px;
    @media (max-width: 1200px){
      text-align: center;
    }
    @media (max-width: 767px){
      padding-top: 25px;
      order: 1;
    }

    span{
      font-weight: normal;
      color: #ffffff;
    }
  }

  &__button{
    @media (max-width: 1200px){
      text-align: center;
    }
  }



  &__btn{
    @extend %btn;
    margin-left: 0;
    margin-top: 35px;


    @media (max-width: 1200px){
      margin: 40px auto 30px;
    }
    @media (max-width: 767px){
      margin: 25px auto ;
      padding: 20px;
    }
  }

  &__text{

  }





  p.seminar_rec{
    font-size: 22px;
    line-height: 50px;
    padding: 0px 0 30px 20px;
    color: #000;
    @media (max-width: 1200px){
      text-align: center;
    }
    @media (max-width: 767px){
      padding: 0px 0 0px 20px;
      line-height: 1.32;
      font-size: 18px;
    }



    span {
      padding-left: 60px;
      position: relative;
      display: inline-block;

      &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        background-image: url(../../parts/pages/online/images/camera.png);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -20px;
      }
    }
  }




}





.hero__controls-modal-btn {
  top: 390px;
  left: 200px;
  position: absolute;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 103px;
  border: none;
  outline: none;
  background: url(images/btn-modal.png) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scale 1.5s linear infinite;
  animation: scale 1.5s linear infinite;
  @media (max-width: 1200px){
    display: none;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}