.order {
  position: relative;
  &:before{
    position: absolute;
    content: "";
    background: url(./images/lector_bg-min.png) top center no-repeat;
    width: 770px;
    height: 790px;
    top: -60px;
    left: 50%;
    transform: translate(-70%, 0%);
  }

  &__container {
    @extend %container;
    padding-bottom: 75px;
    @media (max-width: 1200px){
      padding: 50px 0;
    }
  }

  &__title {
    @extend %title;
    margin-bottom: 0;
    @media (max-width: 767px){
      padding-bottom: 20px;
    }


  }

  &__packages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  &__package {
    width: 260px;
    @media (max-width: 1200px){
      margin-top: 20px;
    }
    @media (max-width: 767px){
      &:last-child{
        order: -1;
      }
    }

  }




}