@charset "utf-8";
.profession {
  padding: 75px 0;
  @media (max-width: 1200px){
    padding: 55px 0;
  }
  &__container {
    @extend %container;
    text-align: center;
    padding: 0 10px;

  }

  &__sub-title{
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 2.4px;
    text-align: center;
    color: #bcb3d2;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 32px;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 100px;
    @media (max-width: 767px){
      padding: 30px 0;
    }
  }

  &__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;


  }

  &__item{
    margin: 0 12px;
    @media (max-width: 767px) {
      margin: 5px;
    }
  }

  &__img{
    position: relative;
    @media (max-width: 767px) {
      img{
        width: 138px;
      }

    }
  }

  &__name{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.24px;
    text-align: left;
    color: #0e0427;
   position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 12.5px;
      bottom: 10px;
      left: 10px;
    }

  }




  &__btn{
    @extend %btns;
    margin: 0 auto;

  }


}
