.hero {
  height: 400px;
  position: relative;
  background-color: #ff630f;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

  @media (max-width: 767px) {
    height: 670px;
  }

  &__bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    width: 1140px;
    z-index: -1;

    @media (max-width: 767px) {
      width: 767px;
      top: inherit;
      bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__content {
    text-align: center;
    margin: 35px 0 0px;
    color: #fff;

    @media (max-width: 767px) {
   
    }
  }

  &__logo {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }

    img {
      margin: 0 13px;

      @media (max-width: 767px) {
        margin: 0 5px;
      }
    }
  }

  &__title {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
  
    @media (max-width: 767px) {
      font-size: 35px;
    }
  }

  &__subtitle {
    font-size: 100px;
    color: #fff200;
    font-family: 'Caveat', cursive;
    line-height: 1;
    margin-top: -65px;
  
    @media (max-width: 767px) {
      font-size: 70px;
      margin-top: -45px;
    }
  }

  &__description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  
    @media (max-width: 767px) {
      font-size: 14px;
    }
    
    span{
      b{
        color: #fff200;
      }
    }

  }

  &__btn {
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;

    .btn {
      border-radius: 5px;
      box-shadow: 2.5px 8.7px 30.7px 1.3px rgba(83, 27, 0, 0.22);
      background-color: #fff;
      line-height: 58px;
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      color: #2b0e00;
      width: 100%;

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 42px;
      }

      &:hover {
        box-shadow: none;
        background-color: #fff200;
      }
    }
  }
}