.btn-page {
  background: linear-gradient(135deg, $color-main-second 0%, $color-main 100%);
  font-size: 22px;
  color: $white;
  width: 100%;
  line-height: 56px;
  display: inline;
  transition: all 0.3s;
  font-weight: 700;
  padding: 0;
  padding: 14px 26px;
  border-radius: 36px;
  text-transform: uppercase;
  border: solid 1px #fff;

  &:hover {
    background: linear-gradient(
      270deg,
      $color-main-second 0%,
      $color-main 100%
    );
    transition: all 0.3s;
  }
}

.btn--radius {
  border-radius: 73px;
}

.btn--fix {
  position: fixed;
  bottom: 12px;
  left: 50%;
  line-height: 32px;
  width: 90%;
  z-index: 2;
  transform: translate(-50%);
}

.btn--hero {
  svg {
    width: 40px;
    height: 40px;
    margin-left: 26px;
  }
}

.btn--core {
  position: relative;
  font-size: 18px;

  &:hover {
    background-color: $white;
    color: $color-main;
  }
}

.btn--pro {
  position: relative;
  font-size: 18px;
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  &__item {
    position: relative;
    width: 28px;
    height: 38px;
    // border-top: 12px solid #fff;
    // border-left: 12px solid #fff;
    transform: rotate(-180deg);
    animation: arrow 2s infinite;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29' fill='none'%3E%3Cg clip-path='url(%23clip0_878_1570)'%3E%3Cpath d='M9.50228 1.42867L9.50219 1.42857C8.92959 0.857094 8.00097 0.857218 7.42886 1.42849L7.42869 1.42866C6.8571 1.99886 6.85712 2.92325 7.42867 3.49337L7.07557 3.84736L7.42868 3.49338L18.1078 14.1462L18.4627 14.5002L18.1078 14.8542L7.42907 25.5066C7.42904 25.5066 7.42902 25.5066 7.42899 25.5067C6.85735 26.0772 6.85748 27.0015 7.429 27.5716L7.42907 27.5717C8.00127 28.1427 8.92998 28.1428 9.50259 27.5716L9.50259 27.5716L21.5714 15.5323C21.5715 15.5323 21.5715 15.5323 21.5715 15.5323C21.8576 15.2467 22 14.8743 22 14.5003C22 14.126 21.8572 13.7532 21.5712 13.4678C21.5712 13.4678 21.5712 13.4678 21.5712 13.4678L9.50228 1.42867Z' stroke='%231a95d9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_878_1570'%3E%3Crect width='28' height='28' fill='white' transform='matrix(1 0 0 -1 0.5 28.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
      right top no-repeat;

    &:nth-child(1) {
      //left: 25px;
      animation-delay: -1s;
    }
    &:nth-child(2) {
      animation-delay: -0.8s;
    }
    &:nth-child(3) {
      //right: 25px;
      animation-delay: -0.6s;
    }

    &:nth-child(4) {
      //left: 25px;
      animation-delay: -0.4s;
    }
    &:nth-child(5) {
      animation-delay: -0.2s;
    }
    &:nth-child(6) {
      //right: 25px;
    }
  }

  &--left {
    transform: rotate(180deg);
    right: inherit;
    left: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(-180deg) translate(-60px, 0px);
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(-180deg) translate(60px, -0px);
  }
}
