
.hero {
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');
  font-family: 'Exo 2', sans-serif;
  position: relative;
  
  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 660px;
    width: 1920px;
    
    @media (max-width: 767px) {
      height: 635px;
      width: 767px;
    }
    
    img {
      margin: 0 auto;
      display: block;
    }
  }
  
  .container {
    padding-left: 0;
    padding-top: 115px;
    padding-bottom: 115px;
    padding-right: 0px;
    position: relative;
    max-width: 1140px;
    display: flex;
    justify-content: flex-start;
    
    @media (max-width: 767px) {
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 325px;
    }
  }
  
  &__content {
    text-align: center;
    
  }
  
  h1 {
    font-size: 64px;
    font-weight: 800;
    color: #232323;
    line-height: 1;
    @media (max-width: 767px) {
      font-size: 34px;
    }
    
    span {
      font-family: 'Caveat', cursive;
      font-size: 97px;
      font-weight: bold;
      color: #f12d28;
      display: block;
      line-height: 1;
      margin-top: -28px;
      @media (max-width: 767px) {
        font-size: 57px;
        margin-top: -15px;
      }
    }
    
  }
  
  &__subtitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.19;
    color: #232323;
    
    @media (max-width: 767px) {
      font-size: 21px;
    }
  }
  
  &__description {
    font-family: Arial, Helvetica, Liberation Sans, sans-serif;
  
  font-size: 23px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 1.15px;
    color: #000;
    margin-bottom: 0;
    
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
  
  &__btn {
    text-align: center;
    margin: 40px 0px;
    
    @media (max-width: 767px) {
      margin: 20px 0px;
    }
    
    .btn {
      width: 330px;
      border-radius: 6px;
      background-image: linear-gradient(to top, #f44f4b, #e8201b);
      display: inline-block;
      text-transform: uppercase;
      font-size: 32px;
      line-height: 79px;
      font-weight: 500;
      letter-spacing: 0.64px;
      color: #fff;
      padding: 0;
      
      @media (max-width: 767px) {
        width: 227px;
        line-height: 55px;
        font-size: 23px;
      }
      
      &:hover {
        background-image: linear-gradient(to top, #ff524d, #ff524d);
      }
    }
  }
}