{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте чек-лист <br>
                        <b class="hero__bold">«10 довідників-таблиць для нарахування зарплати»</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo26052020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">Отримати чек-лист </button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
            </div>
            <div class="hero__description">Також ви отримуєте можливість дивитися <br>
                <b>відеозапис бухгалтерської конференції абсолютно безкоштовно
                </b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>

        </div>
    </div>

    <div id="theme" class="themes">
        <div class="container theme__container">
            <p class="themes__title">Відеозапис бухгалтерської конференції від 26 травня</p>
            <p class="themes__sub-title"> Бухгалтерське перезавантаження: <br> зарплата, кадри, податки, перевірки, ФОПи <br> та Закон №466 (законопроєкт №1210)</p>
            <p class="themes__sub-title"></p>
            <div class="themes__item">
                <div class="themes__header"><p>Про що ви дізнаєтеся?</p></div>
                <div class="themes__body">

                    <ul class="themes__list lector">
                        <li class="lector__item lector__item--vv ">
                            <div class="lector__body">
                                {#  <p class="themes__time">10:15–11:15</p>#}
                                <p class="lector__title">31 травня - встигнути сплатити усі несплачені податки за час карантину. Кому і які податки? Дата відліку штрафів.

                                </p>
                                <p class="lector__title">        Податкова звітність, не подана у період карантину: коли подати без штрафів. Термін відліку штрафів.</p>


                                <p class="lector__info"> Вікторія Величко, незалежний практикуючий консультант з питань оподаткування та бухгалтерського обліку</p>
                            </div>
                        </li>
                        <li class="lector__item lector__item--os ">
                            <div class="lector__body">
                                {#<p class="themes__time">10:15–11:15</p>#}
                                <p class="lector__title">Податковий контроль за Законом №466 (№1210)</p>
                                {# <p class="lector__title">Податкові запити і перевірки: коли почнеться натиск?</p>
                                 <p class="lector__title">Податкова ТЕРОРеформа №1210. Чого чекати?</p>#}
                                <ul>
                                    <li> Наслідки розширення терміну розумної економічної причини (ділової мети).</li>
                                    <li> Розширення прав податкового інспектора під час проведення перевірки: запити,
                                        пояснення від роботодавців та працівників, документи.</li>
                                    <li> Зміни щодо оформлення актів податкових перевірок.</li>
                                    <li>Збільшення давності проведення перевірок з ПДФО та ВЗ.</li>

                                    <li>Зміни щодо подання скарги на ППР з пропуском термінів.</li>
                                    <li> Скасування податкових перевірок в рамках КПК.</li>
                                    <li> Акт перевірки не є заявою про злочин. Чи добре це?</li>
                                    <li>Обставини, які пом’якшують або взагалі звільняють від фінансової
                                        відповідальності.</li>
                                    <li>Легалізація внесення змін до річного плану перевірок.</li>
                                </ul>
                                <p class="lector__info"> Олександр Смирнов, адвокат, податковий консультант</p>
                            </div>
                        </li>

                        <li class="lector__item lector__item--tm">
                            <div class="lector__body">
                                {#<p class="themes__time">11:15–12:00</p>#}

                                <p class="lector__title"> Перевірки ПДФО та ВЗ: збільшено термін проведення перевірки ДПС.</p>
                                <p class="lector__title"> 1ДФ і помилки не подання, запізніле подання – штрафи збільшено вдвічі!</p> </p>
                                <p class="lector__title">Кадрові документи для оформлення покрокового виходу працівників із карантину на роботу. Кадровий аудит документів за час карантину: виправляємо помилкові документи.</p> </p>
                                <p class="lector__info">  Тетяна Мойсеєнко, шеф-редактор 7eminar.com, експерт із трудового права та кадрового обліку</p>
                            </div>
                        </li>

                        <li class="lector__item lector__item--ig">
                            <div class="lector__body">
                              {#  <p class="themes__time">12:00–12:40</p>#}
                                <p class="lector__title">Стартує податкова реформа! Зміни з податку на прибуток, ПДФО, нові штрафи і не тільки.</p>
                                <p class="lector__title">Аналіз Закону №466 (він же проєкт №1210)</p>
                                <p class="lector__info"> Ірина Губіна, головний редактор 7eminar.com, експерт з податкового та бухгалтерського обліку</p>
                            </div>
                        </li>


                        <li class="lector__item lector__item--gm">
                            <div class="lector__body">
                               {# <p class="themes__time">12:40–13:30</p>#}
                                <p class="lector__title"> Зіпсований товар: післякарантинне списання. Податкові наслідки, документальне оформлення.
                                </p>
                                <p class="lector__title"> Основні засоби знову працюють! Розконсервування, документальне оформлення, особливості обліку.</p>
                                <p class="lector__info">  Галина Морозовська, незалежний бухгалтер-експерт, автор публікацій за тематикою податку на прибуток, бухобліку, ЗЕД, ПДВ</p>
                            </div>
                        </li>

                        <li class="lector__item lector__item--og">
                            <div class="lector__body">
                               {# <p class="themes__time">13:30–14:00</p>#}
                                <p class="lector__title">ФОП-зміни: ЄСВ, єдиний податок.</p>
                                <p class="lector__info"> Ольга Гонзайк, аудитор, податковий консультант, сертифікат IAB, автор статей в юридичних та бухгалтерських виданнях</p>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>
            <a href="#form" class="themes__btn">Дивитися з подарунком</a>
        </div>
    </div>


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
