.knowledges {
  padding-bottom: 140px;

  @media (max-width: 767px){
    padding-bottom: 45px;
  }

  &__container {
    @extend %container;
    position: relative;
    padding-bottom: 0;
    @media (max-width: 767px){
      padding-bottom: 25px;
    }
  }

  &__title{
    @extend %title;
    @media (max-width: 1200px){
      margin-bottom: 0px;
    }
  }

  &__content{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 2;

    &:before{
      background-color: #c5c5c5;
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -30px;
      transform: translate(-50%, 0%);
      width: 95%;
      height: 100%;
      z-index: -1;

      @media (max-width: 767px){
        content: none;
      }
    }

    &:after{
      background-color: #d8d8d8;
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -60px;
      transform: translate(-50%, 0%);
      width: 90%;
      height: 100%;
      z-index: -2;

      @media (max-width: 767px){
        content: none;
      }
    }
  }

  &__block{
    background-color: #ffffff;
    padding: 55px 140px 50px 70px;
    display: flex;
    align-items: center;

    @media (max-width: 1200px){
      padding: 55px 40px 50px 70px;
    }

    @media (max-width: 767px){
      padding: 30px 20px 30px 30px;
    }
  }
  &__list{

    list-style-type: none;

    li{
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
      color: #3a3a3a;
      padding-bottom: 10px;

      @media (max-width: 767px){
        font-size: 16px;
      }

      &:last-child{
      padding-bottom: 0;
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }

  ol li {
    position: relative;
    counter-increment: my-awesome-counter;
  }

  ol li::before {
    position: absolute;
    left: -20px;
    top: 0;
    content: counter(my-awesome-counter) ". ";
    color: #3a3a3a;

  }

  &__icon{
    background-color: #161822;
    padding: 90px 70px;
    @media (max-width: 1200px){
      display: none;
    }
    .shadow {
      -webkit-filter: drop-shadow( 0px 15px 21px rgba(235, 190, 53, 0.22));
      filter: drop-shadow( 0px 15px 21px rgba(235, 190, 53, 0.22));
      /* Similar syntax to box-shadow */
    }

    svg{
      fill: #ebbe35;

    }
  }
}
