{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div class="seminar-landing">
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>М</span>ій кабінет</a>
                <p></p><a href="/7min" class="video_news"><span>Н</span>овини</a><a href="https://7eminar.ua/subscribe" class="video_news"><span>П</span>ередплата</a><a href="/" class="main"><span>Г</span>оловна</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#lectors" class="burger__link">ЛЕКТОРИ</a></li>
                    <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#order" class="burger__link">ЗАМОВИТИ</a></li>
                </ul>
            </div>
        </div>
        <div id="hero" class="hero">
            <div class="hero__container">
                <div class="hero__content">
                    <div class="hero__block">
                        <div class="hero__title hidden-xs">
                            <p>Зареєструйтеся зараз і миттєво отримайте брошуру
                            </p>
                        </div>
                        <div class="hero__title visible-xs">
                            <p>Зареєструйтеся зараз і отримайте зразки документів</p>
                        </div>
                        <div class="hero__sub-title hidden-xs">
                            <p>БЕЗКОШТОВНО У ПОДАРУНОК</p>
                        </div>
                        <div class="hero__sub-title visible-xs">
                            <p>як (не)працювати під час карантину</p>
                        </div>
                        <div class="hero__description hidden-xs">
                            <p>Зразки документів (заяв та наказів) від Тетяни Мойсеєнко</p>
                        </div>
                        <div class="hero__description visible-xs">БЕЗКОШТОВНО У ПОДАРУНОК</div>
                    </div>
                    <div class="hero__form">
                        <div id="form" class="form">
                            <div class="form__title">
                                <p>реєстрація</p>
                            </div>
                            <div class="form__body">
                                <form id="reforma" method="post" action="/subscribe/kadrovyku13032020" data-require="@common,form,handle,ajax">
                                    <div class="form-group">
                                        <input id="name" name="firstName" type="text" placeholder="Ім’я" maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input id="mail" name="email" type="email" placeholder="Email " required="required" data-msg-required="Це поле необхідно заповнити" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input id="phone" name="phone" type="text" data-rule-phoneUA="true" placeholder="Моб. тел." data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control"/>
                                    </div>
                                    <input name="source" type="hidden" value="kadrovyku13032020"/>
                                    <div class="form__btn">
                                        <button type="submit" class="btn btn-default">Надіслати</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="form__description">Подарунок доступний для скачування ще</div>
                        <div class="timer">
                            <div class="timer__box">
                                <div class="timer__mins">00</div><span> хв</span>
                            </div><span class="timer__separate">:</span>
                            <div class="timer__box">
                                <div class="timer__secs">00 </div><span> сек</span>
                            </div>
                        </div>
                    </div><a href="#hero" class="hero__btn">Зареєструватися</a>
                </div>
            </div>
        </div>
        <div id="loader-page" class="loader-page">
            <div class="dots">
                <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
            </div>
        </div>
        <div class="loader-backdrop">
            <div class="loader-backdrop__btn">Реєстрація
                <div class="dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>