hello
{#
<div class="hero">
    <div class="hero__container">
        <div class="hero__menu">
            <div class="b-menu">
                <ul class="b-menu__list b-menu__list--left">
                    <li class="b-menu__item"><a href="#lector" class="b-menu__link">Лектор</a></li>
                    <li class="b-menu__item"><a href="#les1" class="b-menu__link">Урок 1</a></li>
                    <li class="b-menu__item"><a href="#les2" class="b-menu__link">Урок 2</a></li>
                    <li class="b-menu__item"><a href="#les3" class="b-menu__link">Урок 3</a></li>
                    <li class="b-menu__item"><a href="#les4" class="b-menu__link">Урок 4</a></li>
                    <li class="b-menu__item"><a href="#order" class="b-menu__link">Придбати</a></li>
                </ul>
                <ul class="b-menu__list b-menu__list--right">
                    <li class="b-menu__item"><a href="/" class="b-menu__link">Iнші семінари</a></li>
                </ul>
            </div>
        </div>
        <div class="hero__info">
            <div class="hero-info">
                <p class="hero-info__lessons">Чотири відеоуроки з Вікторією Величко</p>
                <p class="hero-info__title">Собівартість</p><span class="hero-info__sub-title">продукції, робіт, послуг</span>
                <p class="hero-info__descr"><span>все, що потрібно знати</span></p>
                <div class="hero-info__order"><a id="mybutton" href="#order" class="hero-info__btn">Замовити</a>
                </div>
            </div>
        </div>
        <div class="vidModal">
            <button type="button" aria-label="Open modal video" data-toggle="modal" data-target="#modal-video" data-vidId="UTxZ0THxuOQ" class="but"></button>

        </div>
    </div>
</div>
<div class="info__block">
    <div class="info__got">
        <h2 class="info__title">ВИ ОТРИМАЄТЕ:</h2>
        <div class="kv one mov2">
            <p>6 годин відеокурсу</p>
        </div>
        <div class="kv two mov2">
            <p>Сертифікат<br/>учасника</p>
        </div>
        <div class="kv three mov2">
            <p>Презентація<br/>лектора</p>
        </div>
        <div class="kv four mov2">
            <p>Відповіді<br/>на запитання</p>
        </div>
    </div>
    <div class="info__about">
        <h2 class="info__title title_about">Про що ви дізнаєтесь?</h2>
        <ul class="info__list">
            <li class="info__item">Роль собівартості для оподаткування прибутку підприємства</li>
            <li class="info__item">Облік витрат у бухгалтерському обліку: немає доходів – немає витрат?</li>
            <li class="info__item">Як формується собівартість робіт і послуг</li>
            <li class="info__item">Контроль собівартості продукції фіскальними органами</li>
        </ul>
    </div>
</div>
<div id="lector" class="section">
    <div class="section__container">
        <p class="b-title b-title--lector">ЛЕКТОР <span>Вікторія Величко</span>
        </p>
        <div class="section__lector">
            <p class="lector-regalia">Незалежний практикуючий консультант з питань оподаткування та бухгалтерського обліку,<br/>сертифікований тренер та експерт з питань податкового та фінансового планування.</p>
        </div>
        <p class="b-title b-title--themes">Теми і дати уроків:</p>
        <div class="section__lessons">
            <div class="lessons">
                <div id="les1" data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="lessons__item lesson">
                    <p class="lesson__title"><span>Урок 1.</span> Собівартість продукції, робіт, послуг: нормативне забезпечення, види, первинні документи, облікова політика
                    </p>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson1" class="lesson__themes collapse">
                    <div class="program">
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Собівартість продукції, робіт, послуг: поняття, нормативне забезпечення.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Види собівартості для цілей бухгалтерського обліку. Планова і фактична собівартість.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Роль собівартості для оподаткування прибутку підприємства та ПДВ.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Облікова політика підприємства щодо формування собівартості продукції, робіт, послуг.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Коректне документальне оформлення витрат: від первинного документа до фінансового результату.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Калькуляція як документ і її користувачі.</div>
                        </div>
                        <div class="program__item program__item--centered program__item--date">
                            <div class="program__item__text">
                                <!--p Дата:
                                =" "
                                b 6 вересня 2018 року
                                -->
                                <p>Тривалість уроку: <b>90 хвилин</b>
                                </p><a href="#order" class="program__btn">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les2" data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="lessons__item lesson">
                    <p class="lesson__title"><span>Урок 2.</span> Визнання витрат та калькулювання собівартості продукції, робіт, послуг
                    </p>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson2" class="lesson__themes collapse">
                    <div class="program">
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Класифікація витрат у бухгалтерському обліку відповідно до П(С)БО і витрат, що створюють собівартість продукції.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Визнання витрат та затрат (відмінності бухгалтерського, управлінського і фінансового обліку).</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Облік витрат у бухгалтерському обліку: немає доходів – немає витрат?</div>
                        </div>
                    </div>
                    <div class="program__item">
                        <div class="program__item__text">Калькуляційні статті та їх характеристика:
                            <ul>
                                <li>матеріальні витрати (придбання та облік запасів, у тому числі запаси для «негосподарського використання»; норми витрат на матеріали і методи списання запасів у виробництво; коригування вартості запасів;</li>
                                <li>витрати на оплату праці (заробітна плата, резерви, інші витрати персоналу);</li>
                                <li>амортизація основних засобів (формування первісної та ліквідаційної вартості основних засобів, амортизація, ремонти);</li>
                                <li>витрати на утримання та експлуатацію обладнання;</li>
                                <li>витрати на спеціальний і формений одяг;</li>
                                <li>зворотні відходи;</li>
                                <li>технологічні витрати;</li>
                                <li>загальновиробничі витрати;</li>
                                <li>інші.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="program__item program__item--centered">
                        <div class="program__item__text">Загальновиробничі витрати: поняття, склад, методи розподілу. Можливість відображення в поточних витратах.</div>
                    </div>
                    <div class="program__item program__item--centered">
                        <div class="program__item__text">Адміністративні, витрати на збут та інші витрати: основні проблеми під час перевірок ДФСУ.</div>
                    </div>
                    <div class="program__item program__item--centered program__item--date">
                        <div class="program__item__text">
                            <!--p Дата:
                            =" "
                            b 6 вересня 2018 року
                            -->
                            <p>Тривалість уроку: <b>90 хвилин</b>
                            </p><a href="#order" class="program__btn">Замовити</a>
                        </div>
                    </div>
                </div>
                <div id="les3" data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="lessons__item lesson">
                    <p class="lesson__title"><span>Урок 3.</span> Формування та управління собівартістю продукції, робіт, послуг: галузеві особливості
                    </p>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson3" class="lesson__themes collapse">
                    <div class="program">
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Облік готової продукції: рівні відображення і розподілу витрат.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Склад собівартості для підприємств різних видів економічної діяльності.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Особливості формування собівартості послуг і робіт.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Методи калькулювання: основні методи, методи визначення та розподілу накладних витрат різними методами і на різному рівні (ділянка, цех, підприємство).</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Особливості планування витрат при позамовному методі калькулювання.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Прийоми зниження витрат і затрат підприємства.</div>
                        </div>
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Контроль собівартості продукції, робіт, послуг контролюючими органами: чи можливо це?</div>
                        </div>
                        <div class="program__item program__item--centered program__item--date">
                            <div class="program__item__text">
                                <!--p Дата:
                                =" "
                                b 6 вересня 2018 року
                                -->
                                <p>Тривалість уроку: <b>90 хвилин</b>
                                </p><a href="#order" class="program__btn">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="les4" data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="lessons__item lesson">
                    <p class="lesson__title"><span>Урок 4.</span> Відповіді на запитання
                    </p>
                    <button type="button" class="lesson__btn">Детальніше</button>
                </div>
                <div id="lesson4" class="lesson__themes collapse">
                    <div class="program">
                        <div class="program__item program__item--centered">
                            <div class="program__item__text">Можливість почути відповіді на актуальні запитання від ваших колег.</div>
                        </div>
                        <div class="program__item program__item--centered program__item--date">
                            <div class="program__item__text">
                                <p>Тривалість уроку: <b>80 хвилин</b>
                                </p><a href="#order" class="program__btn">Замовити</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="lessons__info">Всі учасники отримають відеозапис уроків та сертифікат</p>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div id="order" class="content"></div>
</div>
<div id="timer-custom" class="wrapper wrapper_timer">
    <div class="content">
        <div class="block-timer">
            <div class="timer-custom">
                <h3>АКЦІЯ ДІЄ ДО <span id="timer-title">{{ page.options['date']|default('') }}</span>
                </h3>
                <div class="pricing-timer" data-timer="{{ page.options['timer']|default('') }}">
                    <div class="pricing-timer__inner">
                        <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                        <div class="pricing-timer__box"><span class="separate">:</span></div>
                        <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper_orders">
    <div class="block-orders content">
        <div class="block-orders__wrap">
            <div class="tarif online">
                <div class="tarif__head">
                    <h3>ВИ ОТРИМАЄТЕ:</h3>
                </div>
                <ul class="tarif__list first_ul">
                    <li class="tarif__item ok">6 годин відеокурсу</li>
                    <li class="tarif__item ok">презентації лектора</li>
                    <li class="tarif__item ok">сертифікат учасника</li>
                </ul>
                <p class="tarif__price">{{shop_price('курс-Соб_955','site')}}  грн</p>
                <div class="tarif__btn">
                    <form id="form5" method="post" action="?new=1" data-validate="ajax">
                        <input type="hidden" name="product" value="курс-Соб_955"/>
                        <button type="submit" rel="order" class="btn">ЗАМОВИТИ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video">
    <div class="video__container">
        <p class="b-title b-title--video">Вікторія Величко запрошує
        </p>
        <div class="video__player">
            <iframe src="https://www.youtube.com/embed/Ls1V3HwJTgI?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
</div>
<div class="partners">
    <div class="partners__container">
        <table>
            <tr>
                <td><a href="https://7eminar.com/" target="_blank"><img src="/modules/seminars/images/logos/kbs.png" width="145" height="38" alt="Київська Бухгалтерська Служба"/></a></td>
                <td><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></td>
                <td><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                <td><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></td>
            </tr>
        </table>
    </div>
</div>
<div id="modal-video" tabindex="-1" role="dialog" class="modal-video modal fade">
    <div role="document" class="modal-dialog">
        <div id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></div>
        <div class="modal-content">
            <div class="player"></div>
        </div>
    </div>
</div>#}
