{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте брошуру <br>
                        <b class="hero__bold">«Зразок письмової відповіді на запит ДПС»</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo09062020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">ОТРИМАТИ БРОШУРУ </button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book.png">
            </div>
            <div class="hero__description">Також ви отримуєте можливість прослухати<br>
                <b>   відеозапис майстер-класу абсолютно безкоштовно
                </b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>


        </div>
    </div>

    <div id="theme" class="themes">
        <div class="container theme__container">
            <p class="themes__title">Відеозапис  майстер-класу від&nbsp;9&nbsp;червня</p>
            <p class="themes__sub-title">«Податковий контроль та перевірки: як захиститися за новими правилами»</p>
            <p class="themes__sub-title"></p>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__time">Олександр Смирнов</p>
                       {#     <p class="themes__lector-name"></p>#}
                        </div>
                    </div>
                    <div id="lesson1" class="themes__more collapse in">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p> Наслідки розширення терміну розумної економічної причини (ділової мети)</p></li>
                                <li class="themes__more-list-item"><p>Розширення прав податкового інспектора під час проведення перевірки: запити, пояснення від роботодавців та працівників, документи</p></li>
                                <li class="themes__more-list-item"><p>  Зміни щодо оформлення актів податкових перевірок</p></li>
                                <li class="themes__more-list-item"><p> Збільшення давності проведення перевірок з ПДФО та ВЗ</p></li>
                                <li class="themes__more-list-item"><p>  Зміни щодо подання скарги на ППР з пропуском термінів</p></li>
                                <li class="themes__more-list-item"><p>   Скасування податкових перевірок в рамках КПК</p></li>
                                <li class="themes__more-list-item"><p> Акт перевірки не є заявою про злочин. Чи добре це?</p></li>
                                <li class="themes__more-list-item"><p>  Обставини, які пом’якшують або взагалі звільняють від фінансової відповідальності</p></li>
                                <li class="themes__more-list-item"><p>  Легалізація внесення змін до річного плану перевірок</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__time">Тетяна Мойсеєнко</p>
                            {#<p class="themes__lector-name">Олександр Смирнов, <br> Тетяна Мойсеєнко</p>#}
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Кадрові та трудові штрафи</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#form" class="themes__btn">Дивитися з подарунком</a>
        </div>
    </div>


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
