{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero" >
        <div class="hero__content">
            <div class="hero__header">
                <p class="hero__title"> <span>Ой, а ви вже реєструвалися! Ваші дані є.</span><br>
                    </p>
                <p class="hero__subtitle"> Online-семінари, вебінари та трансляції безкоштовно у квітні – травні.</p>
                <p class="hero__subtitle"> Доступ для перегляду буде надіслано напередодні на ваш еmail.</p>
            </div>

            <div class="hero__block">
                <div class="block">
                    <p class="block__title">Зверніть увагу</p>
                    <p class="block__text">
                        Щоб дивитися усі вебінари Великого Бухгалтерського
                        Online-марафону (сезону 3) безкоштовно – ставайте передплатником <a href="/?utm_campaign=april-may2020_again_platform&utm_medium=refferal&utm_source=7eminar.ua" > Бухгалтерської відеоплатформи №1</a> вже зараз зі знижкою 80%.

                    </p>
                    <p class="block__subtext">  Також ви одразу отримаєте доступ до 150+ актуальних курсів, трансляцій, вебінарів
                        та ще 50+ нових відеопроєктів вже у 2020 році.</p>
                    <a href="/?utm_campaign=april-may2020_again_platform&utm_medium=refferal&utm_source=7eminar.ua" class="block__btn">Передплатити всього <br> за  99 грн/міс.</a>
                </div>
            </div>
            <p class="hero__text"><b> P.S.</b>  Оnline-навчання – це те, що треба зараз: безпечно, доступно та зручно!</p>

        </div>
    </div>


    <div class="loader-backdrop">
        <div class="loader-backdrop__btn">Реєстрація
            <div class="dots">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="loader-page" class="loader-page">
        <div class="dots">
            <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
        </div>
    </div>
</div>

