.reviews {
  .container {
    position: relative;
  }

  &__block-title {
    position: relative;
  }

  &__navigation {
    position: absolute;
    bottom: -40px;
    right: 0px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(xl) {
      z-index: 2;
      bottom: 50%;
      transform: translate(0 50%);
    }

    .youtube-prev {
      position: relative;
      width: 40px;
      height: 40px;
      background: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='41' transform='matrix(-1 0 0 1 40 0)' fill='%231A1A1A' /%3E%3Cpath d='M10.7099 18.3009L9.71 18.2901L9.68849 20.29L10.6884 20.3008L10.7099 18.3009ZM29.4923 20.5029C30.0445 20.5089 30.497 20.066 30.5029 19.5138C30.5089 18.9615 30.066 18.509 29.5138 18.5031L29.4923 20.5029ZM10.6884 20.3008L29.4923 20.5029L29.5138 18.5031L10.7099 18.3009L10.6884 20.3008Z' fill='white' /%3E%3Cpath d='M29.3047 19.7058L19.8017 29.2088' stroke='white' stroke-width='2' stroke-linecap='square' /%3E%3Cpath d='M29.5039 19.5044L20.0009 10.0014' stroke='white' stroke-width='2' stroke-linecap='square' /%3E%3C/svg%3E")
        50% no-repeat;
      transform: rotate(-180deg);
      background-size: contain;
      margin-top: 0;

      &::after {
        content: none;
      }
    }

    .youtube-next {
      position: relative;
      width: 40px;
      height: 40px;
      background: url("data:image/svg+xml,%3Csvg width='40' height='41' viewBox='0 0 40 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='41' transform='matrix(-1 0 0 1 40 0)' fill='%231A1A1A' /%3E%3Cpath d='M10.7099 18.3009L9.71 18.2901L9.68849 20.29L10.6884 20.3008L10.7099 18.3009ZM29.4923 20.5029C30.0445 20.5089 30.497 20.066 30.5029 19.5138C30.5089 18.9615 30.066 18.509 29.5138 18.5031L29.4923 20.5029ZM10.6884 20.3008L29.4923 20.5029L29.5138 18.5031L10.7099 18.3009L10.6884 20.3008Z' fill='white' /%3E%3Cpath d='M29.3047 19.7058L19.8017 29.2088' stroke='white' stroke-width='2' stroke-linecap='square' /%3E%3Cpath d='M29.5039 19.5044L20.0009 10.0014' stroke='white' stroke-width='2' stroke-linecap='square' /%3E%3C/svg%3E")
        50% no-repeat;
      background-size: contain;
      margin-top: 0;

      &::after {
        content: none;
      }
    }

    .swiper-pagination {
      position: relative;
      width: 100%;
      bottom: 0;
      .swiper-pagination-bullet {
        background: $maincolor;
      }
    }
  }

  .video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;

    &__embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__item {
    position: relative;

    .youtube-slider {
      position: relative;
      width: 100%;
      overflow: hidden;

      @media (min-width: 1200px) {
        max-width: 1200px;
        overflow: visible;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
      }
    }
  }

  &__image {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .navigation .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    margin: 16px auto 0;
  }
}

.image-popup,
.video-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;

    img {
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  }
}

.video-popup__block {
  position: relative;
  max-width: 700px;
  width: 100%;
  aspect-ratio: 16 / 9;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.video-popup__close,
.image-popup__close {
  position: absolute;
  top: -30px;
  right: 0;
  background: none;
  border: none;
  color: white;
  background-color: #df0013;
  font-size: 24px;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 768px) {
  .video-popup__block {
    max-width: 100%;
  }

  .video-popup__close {
    right: 10px;
  }
}

.video-thumbnail {
  img {
    width: 100%;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes shadow-pulse {
  0%,
  100% {
    box-shadow: 0 0 0 3px rgba(221, 254, 101, 0.6);
  }
  50% {
    box-shadow: 0 0 15px 5px rgba(221, 254, 101, 0.8);
  }
}
.video-thumbnail::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 66 66' fill='none'%3E%3Ccircle cx='33' cy='33' r='33' fill='%23df0013'/%3E%3Cpath d='M27 44.5V21.5L45.5 33L27 44.5Z' fill='white'/%3E%3C/svg%3E")
    center/contain no-repeat;
  pointer-events: none;
  animation: pulse 1.5s infinite, shadow-pulse 1.5s infinite;
  border-radius: 50%;
}
.video-thumbnail:hover::after {
  animation-play-state: paused;
  cursor: pointer;
}
.video-thumbnail:hover {
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Анімація для бокс-шадоу */
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 3px rgba(255, 13, 13, 0.6);
  }
  50% {
    box-shadow: 0 0 15px 5px rgba(255, 13, 13, 0.8);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(255, 13, 13, 0.6);
  }
}

.swiper-slide-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 91px;
  height: 91px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' viewBox='0 0 66 66' fill='none'%3E%3Ccircle cx='33' cy='33' r='33' fill='%23df0013'/%3E%3Cg clip-path='url(%23clip0_4_1586)'%3E%3Cpath d='M45.1694 43.6819L38.9814 37.246C40.5725 35.3546 41.4442 32.9749 41.4442 30.4975C41.4442 24.7093 36.7349 20 30.9467 20C25.1585 20 20.4492 24.7093 20.4492 30.4975C20.4492 36.2857 25.1585 40.995 30.9467 40.995C33.1197 40.995 35.1904 40.3396 36.9609 39.0954L43.1959 45.5801C43.4565 45.8508 43.807 46 44.1827 46C44.5382 46 44.8755 45.8644 45.1316 45.618C45.6756 45.0945 45.6929 44.2264 45.1694 43.6819ZM30.9467 22.7385C35.2251 22.7385 38.7057 26.2191 38.7057 30.4975C38.7057 34.7759 35.2251 38.2565 30.9467 38.2565C26.6683 38.2565 23.1877 34.7759 23.1877 30.4975C23.1877 26.2191 26.6683 22.7385 30.9467 22.7385Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4_1586'%3E%3Crect width='26' height='26' fill='white' transform='translate(20 20)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
    center/contain no-repeat;
  pointer-events: none;
  pointer-events: none;
  animation: pulse 1.5s infinite, shadow-pulse 1.5s infinite;
  border-radius: 50%;
}
.swiper-slide-img:hover::after {
  animation-play-state: paused;
}
.swiper-slide-img:hover {
  cursor: pointer;
}
