body {
  font-family: "MuseoSansCyrl", sans-serif;
  min-width: 360px;
  color: $black;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  background: #05172d;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

.swiper-button-prev {
  left: 0;
  &::after {
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA2NjcgMjMuMTg2NUwxNi40NzY3IDIxLjc3NjVMMTAuODk2NyAxNi4xODY1TDIzLjA2NjcgMTYuMTg2NUwyMy4wNjY2IDE0LjE4NjVMMTAuODk2NiAxNC4xODY1TDE2LjQ4NjYgOC42MDY1MkwxNS4wNjY2IDcuMTg2NTJMNy4wNjY2NSAxNS4xODY1TDE1LjA2NjcgMjMuMTg2NVoiIGZpbGw9IiNGNzY4MDAiLz4KPC9zdmc+Cg==")
      center/contain no-repeat;
    width: 30px;
    height: 30px;
  }
}

.swiper-button-next {
  right: 0;
  &::after {
    content: "";
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMCAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjA2NjcgMjMuMTg2NUwxNi40NzY3IDIxLjc3NjVMMTAuODk2NyAxNi4xODY1TDIzLjA2NjcgMTYuMTg2NUwyMy4wNjY2IDE0LjE4NjVMMTAuODk2NiAxNC4xODY1TDE2LjQ4NjYgOC42MDY1MkwxNS4wNjY2IDcuMTg2NTJMNy4wNjY2NSAxNS4xODY1TDE1LjA2NjcgMjMuMTg2NVoiIGZpbGw9IiNGNzY4MDAiLz4KPC9zdmc+Cg==")
      center/contain no-repeat;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.d-xl-none {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

.d-xl-block {
  @include media-breakpoint-up(xl) {
    display: block !important;
  }
}
.container {
  max-width: 375px;
  padding: 0 16px;
  position: relative;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    padding: 0;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1170px;
  }
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(42, 40, 41, 0.7);
  backdrop-filter: blur(3.5px);
  z-index: 1000;
}

/* Стили для всплывающего окна */
