
.hero{
  font-family: 'Raleway', sans-serif;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #000 url(images/bg-min.jpg) top center no-repeat;
  background-size: cover;


  .container{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1;

    @include media-breakpoint-up(md) {
      max-width: 767px;
      width: 100%;
      margin:  0 auto;
    }

    @include media-breakpoint-up(xl) {
      max-width: 1140px;
      position: relative;
      text-align: left;
    }
  }

  &__logo{
    @include media-breakpoint-up(xl) {
      margin: 50px 0;
    }
    img{
      margin: 10px;
    }


  }

  &__top-block{
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      justify-content: flex-start;
      margin-top: 45px;
    }

    p{
      font-size: 18px;
      letter-spacing: 0.45px;
      color: #ffffff;
      margin-bottom: 0;
      line-height: 1;
      margin-left: 5px;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        margin-left: 20px;
        font-size: 24px;
      }
    }
    img{
      width: 72px;
      height: 30px;
      @include media-breakpoint-up(xl) {
        width: 113px;
        height: 47px;
      }
    }


  }

  &__title{
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1;
    margin: 25px 0;

    @include media-breakpoint-up(xl) {
      font-size: 80px;
      margin: 120px 0 50px;
      line-height: 1;
    }

    b{
      font-size: 14.5px;
      font-weight: 800;
      background-color: #fd164c;
      padding-top: 15px;
      color: rgba(61, 0, 14, 0.52);
      position: relative;

      @include media-breakpoint-up(xl) {
        font-size: 34.5px;
        padding-top: 27px;
      }

      &:before{
        position: absolute;
        content: 'Професія';
        left: 0;
        top: 0;
        color: #fff;
      }
    }

    span{
      font-size: 52px;
      letter-spacing: normal;
    }
  }

  &__lectors{
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    @include media-breakpoint-up(xl) {
      max-width: 667px;
      position: absolute;
      right: -300px;
      top: 50%;
      transform: translate(0,-50%);
    }

    img{
      width: 100%;

    }
  }

  &__btn{
    margin-bottom: 20px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 100px;
    }
    .btn{
      background-color: #ff2033;

      &:hover{
        background-color: #ca1c2c;
        color: #fff;
      }
    }
  }
}

