.package {
  background-color: #ffffff;
  color: #161616;
  max-width: 290px;
  width: 100%;
  margin: 0px auto 100px;
  text-align: center;
  padding: 15px 12px;
  border-radius: 4.3px;
  position: relative;
  display: flex;
  flex-direction: column;


  @include media-breakpoint-up(xl) {
    padding: 15px;
    margin-bottom: 0;
  }

  &:before{
    position: absolute;
    top: -37px;
    content: "";
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 37px solid #fff;
  }

  &:after{
    position: absolute;
    bottom: -37px;
    content: "";
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top:  37px solid #fff;
  }

  &__advantages{
    flex: 1 0 auto;
  }

  &__discount{
    position: absolute;
    right: -45px;
    top: -60px;
    background: url(../images/discount1.png) center center;
    width: 122px;
    height: 122px;
  }

  &__title{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #fd164c;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .btn{
    &:hover{
      color: #fff;
    }
  }

  &__price{
    font-size: 45px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1;
    color: #fd164c;

    s{
      font-size: 18px;
      position: absolute;
      right: -16px;
      top: 6px;
      color: #666666;
    }

    sup{
      margin-left: -0px;
    }
  }

  &__currency{
    font-size: 18px;
    margin-left: 11px;
  }

  &__main{
    padding: 20px 0;

    &--line{
      border-bottom: solid 1px  #e6e5e5; ;
      border-top: solid 1px  #e6e5e5; ;
    }

    &--bottom{
      padding-bottom: 0;
    }
  }

  &__btn{
    padding: 25px 0;
    margin-bottom: 0;


  }

  &__advantages{

    ul{
      list-style-type: none;
      padding-left: 0;
      text-align: left;

      li{
        font-size: 12px;
        line-height: 1.5;
        padding: 15px 0;
        position: relative;
        @include media-breakpoint-up(xl) {
          font-size: 14px;
        }

        &:before{
          position: absolute;
          content: '';
          display: block;
          left: 0%;
          bottom: 0;
          //transform: translate(-50%,0);
          width: 60%;
          height: 1px;
          opacity: 0.3;
          background-color: #fd164c;
        }
      }
    }
  }

  &__parts{


    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }

    a{
      color: #fdce16;
      text-decoration: underline;
      margin-bottom: 0;

      &:hover{
        text-decoration: none;
      }
    }
  }

  &--mk{


    .package__title{
      color: #005071;

    }

    .btn{
      background-color: #005071;

      &:hover{
        background-color: #044864;
      }
    }

    .package__price{
      color: #005071;
    }

    .package__advantages{
      li{
        &:before{
          opacity: 0.3;
          background-color: #005071;
        }
      }
    }
  }

  &--subscribe{
    background-image: linear-gradient(to top, #7cd0df, #e5fdff);
    margin-bottom: 0;


    &:before{
      border-bottom: 37px solid #e5fdff;
    }

    &:after{
      border-top: 37px solid #7cd0df;
    }

    .package__discount{
      background: url(../images/discount8.png) center center;
    }

    .package__title{
      color: #005071;
    }

    .btn{
      background-color: #005071;

      &:hover{
        background-color: #044864;
      }
    }

    .package__price{
      color: #005071;
    }

    .package__advantages{
      li{
        &:before{
          opacity: 0.3;
          background-color: #005071;
        }
      }
    }
  }
}

