.reviews {
  text-align: center;

  .slick-slide{
    height: auto;
  }

  &__content{
    margin-bottom: 50px;
    position: relative;

    @media (max-width: 767px){
      margin-bottom: 20px;
    }
  }
  .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 30px;

    &:hover{
      cursor: pointer;
    }
  }
  .prev{
    left: -15px;
    z-index: 1;


    @media (max-width: 767px){
      left: -5px;
    }
  }

  .next{
    right: -20px;

    @media (max-width: 767px){
      right: -5px;
    }
  }

  .slick-track{
    display: flex;
  }


  &__item {
    text-align: left;
    max-width: 100%;
    height: auto;
    padding: 0px 20px 35px;
    font-size: 15px;
    line-height: 1.5;
    color: #282828;
    position: relative;
    background-color: #041b28;

    @include media-breakpoint-up(xl) {
      background-color: transparent;
      height: 100%;
    }

    span {
      font-size: 16px;
      display: block;
      font-weight: bold;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 168px;
      height: 168px;

      @include media-breakpoint-up(xl) {
        margin: 0;
      }
    }
  }

  &__img {
    padding: 20px 0;
    @include media-breakpoint-up(xl) {
      z-index: 1;
      margin-right: -30px;
    }

  }

  &__item{

    @include media-breakpoint-up(xl) {
      display: flex!important;
      align-items: center;

    }
  }

  &__text{
    padding: 25px;
    color: #fff;

    @include media-breakpoint-up(xl) {
      background-color: #041b28;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding-left: 45px;

    }
  }



  &__btn{
    margin-top: 70px;
    text-align: center;

    @media (max-width: 767px){
      margin-top: 30px;
    }

  }
}