.hero {

  background-size: cover;
  background: url(images/hero_bg-mob.jpg) bottom center no-repeat, linear-gradient(to right, #fdf7e5 0, #fdf7e5 50%, #fcf7df 50%, #fcf7df 100%);

  @at-root .webp & {
    background: url(images/hero_bg-mob.webp) bottom center no-repeat, linear-gradient(to right, #fdf7e5 0, #fdf7e5 50%, #fcf7df 50%, #fcf7df 100%);
  }

  @include mobile() {
    background: url(images/hero_bg-min.jpg) center center no-repeat, linear-gradient(to right, #fdf7e5 0, #fdf7e5 50%, #fcf7df 50%, #fcf7df 100%);
    background-size: unset;

    @at-root .webp & {
      background: url(images/hero_bg.webp) center center no-repeat, linear-gradient(to right, #fdf7e5 0, #fdf7e5 50%, #fcf7df 50%, #fcf7df 100%);
    }
  }

  @include laptop-l() {

  }

  .container {
      padding: 25px 10px 360px;
      text-align: center;
      max-width: 320px;
      width: 100%;
      margin: 0 auto;

    @include mobile() {
      padding-top: 110px;
      padding-bottom: 150px;
      max-width: 1170px;
      text-align: left;

    }
  }

  &__main {


    @include mobile() {

    }

    @include laptop-l() {


    }
  }

  &__dates {
    display: inline-block;
    margin-bottom: 20px;
    color: #1d0a7b;
    font-size: 14px;

    @include laptop-l() {
      margin-bottom: 35px;
      font-size: 24px;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 28.5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d0a7b;

    @include laptop-l() {
      font-size: 72px;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    background-color: #e15510;
    padding: 5px 0 5px 40px;

    @include mobile() {
      padding: 0px;
      background-color: transparent;

    }

    span{
      background-color: #e15510;
      line-height: 1.4;
      position: relative;

      @include mobile() {
        padding: 3px 5px 5px 65px;
        line-height: 1.1;
      }
      &:first-child{

        &:before{
          content: " ";
          position: absolute;
          left: -34px;
          top: 1px;
          background: url(images/icon/hero_gift.png) center center no-repeat;
          background-size: cover;
          width: 25px;
          height: 25px;
          display: block;
          z-index: 1;

          @include mobile() {
            left: 10px;
            top: 7px;
            width: 45px;
            height: 45px;
          }
        }
      }
    }

    @include laptop-l() {
      font-size: 24px;
      text-align: left;
      letter-spacing: 1.8px;
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;

    @include laptop-l() {
      text-align: left;
      margin-top: 55px;
    }
  }
}
