{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="seminar-landing">
        <div class="heading mw">
            <div class="inner"><a href="/" class="logo"></a><a href="https://7eminar.ua/events/access" target="_blank" class="entry"><span>&Mcy;</span>&iukcy;&jcy; &kcy;&acy;&bcy;&iukcy;&ncy;&iecy;&tcy;</a>
                <p></p><a href="/7min" class="video_news"><span>&Ncy;</span>&ocy;&vcy;&icy;&ncy;&icy;</a><a href="https://7eminar.ua/" class="video_news"><span>&Pcy;</span>&iecy;&rcy;&iecy;&dcy;&pcy;&lcy;&acy;&tcy;&acy;</a><a href="/" class="main"><span>&Gcy;</span>&ocy;&lcy;&ocy;&vcy;&ncy;&acy;</a>
            </div>
            <div class="menu-mob">
                <input id="menu-checkbox" type="checkbox"/><span class="burger__bg"></span><span class="burger__element"></span>
                <ul class="menu">
                    <li><a href="#themes" class="burger__link">ЛЕКТОРИ</a></li>
                    <li><a href="#themes" class="burger__link">ТЕМИ</a></li>
                    <li><a href="#bonus" class="burger__link">БОНУСИ</a></li>
                    <li><a href="#order" class="burger__link">ВАРТІСТЬ</a></li>
                    <li><a href="#map" class="burger__link">МІСЦЕ ПРОВЕДЕННЯ</a></li>
                    <li><a href="#order" class="burger__link">ОТРИМАТИ КВИТОК</a></li>
                </ul>
            </div>
        </div>
        <div id="register" class="hero">
            <div class="container hero__container">
                <div class="letter-content">
                    <h2 class="letter-title">Дякуємо!</h2>
                    <p>Вам буде відправлено листа з рахунком</p><span class="letter-close"><a href="/"></a>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewbox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
            <polygon fill="#fafafa" points="24,0.993 22.985,-0.024 12,10.983 1.015,-0.024 0,0.993 10.985,12 0,23.008 1.015,24.023 12,13.017 22.985,24.023 24,23.008 13.015,12 "></polygon>
          </svg></span>
                    <div class="success-modal__content-YouTube-chenal">Приєднуйтесь до Бухгалтерської відеоплатформи №1 –<br/>всі найкращі курси та вебінари тут</div><a href="https://7eminar.ua" target="_blank" class="success-modal__YouTube-btn">приєднатися</a>
                </div>
            </div>
        </div>
    </div>
</div>