{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">

    <div class="wrapper wrapper_hero">
        <div class="content">
            <div class="block-hero">
                <div class="block-hero__menu">
                    <div class="b-menu">
                        <ul class="b-menu__list b-menu__list--left">
                            <li class="b-menu__item"><a href="#lector" class="b-menu__link js-scroll-to">Лектор</a></li>
                            <li class="b-menu__item"><a href="#themes" class="b-menu__link js-scroll-to">ТЕМИ</a></li>
                            <li class="b-menu__item"><a href="#order" class="b-menu__link b-menu__link--colored js-scroll-to">Придбати</a></li>
                        </ul>
                        <ul class="b-menu__list b-menu__list--right">
                            <li class="b-menu__item"><a href="/" class="b-menu__link">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
                <div class="block-hero__wrapper">
                    <h1 class="block-hero__title">ONLINE-ШКОЛА<br/>СУЧАСНОГО КАДРОВИКА</h1>
                    <p class="block-hero__lector">з Тетяною Мойсеєнко</p><a href="#order" class="butn hero_butn js-scroll-to" >Замовити</a>
                </div>
                <div class="block-hero__about about">
                    <h3 class="b-title about_title">про що ви дізнаєтесь</h3>
                    <p class="about__text">Мета курсу – дати готовий набір практик та знань кожному<br/>учаснику. Після закінчення «Online-школи сучасного<br/>кадровика» ви будете знати вимоги щодо обліку і руху кадрів;<br/>застосовуватимете на практиці кадрові процедури на<br/>підприємстві; зможете фахово захищати інтереси не тільки<br/>працівників, але й роботодавців.</p>
                </div>
                <div class="vidModal">
                    <button type="button" data-toggle="modal" data-target="#myModal" data-vidId="DxPKMRbZc0g" class="but pulse"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_for">
        <div class="content">
            <div class="block-for">
                <h3 class="b-title">для кого ця школа</h3>
                <div class="cards clearfix">
                    <div class="cards__item">
                        <div class="cards__head cards_feme"></div>
                        <p class="cards__title">Кадровик-початківець</p>
                        <p class="cards__text">Отримаєте необхідні практичні<br/>знання щодо роботи з<br/>трудовим законодавством та<br/>ведення кадрових документів</p>
                    </div>
                    <div class="cards__item">
                        <div class="cards__head cards_man"></div>
                        <p class="cards__title">Кадровик зі стажем</p>
                        <p class="cards__text">Дізнаєтесь про<br/>законодавчо-неврегульовані<br/>трудові пастки та варіанти їх<br/>вирішення</p>
                    </div>
                    <div class="cards__item">
                        <div class="cards__head cards_wooman"></div>
                        <p class="cards__title">Бухгалтер, який веде кадри</p>
                        <p class="cards__text">Опануєте вміння правильного і<br/>турботливого ведення кадрового<br/>обліку на підприємствах різної<br/>складності</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <div id="lector" class="block-lector">
                <h3 class="b-title lector_title">Лектор Тетяна Мойсеєнко</h3>
                <div class="block-lector__info">
                    <p class="block-lector__text">Шеф-редактор 7eminar.com, податковий консультант, фахівець з трудового права і оплати праці, автор численних статей за спеціалізацією</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_themes">
        <div class="content">
            <div id="themes" class="block-themes">
                <h3 class="b-title themes_title">ТЕМИ курсу</h3>
                <div class="block-themes__lessons">
                    <div data-toggle="collapse" data-target="#module1" aria-expanded="true" aria-controls="#module1" class="lesson collapsed">
                        <p class="lesson__title">Модуль 1</p>
                        <button type="button" class="lesson__btn">Детальніше</button>
                    </div>
                    <div id="module1" class="module collapse in">
                        <div id="les1" data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="module__item"><span>Урок 1. Прийом</span></div>
                        <div id="lesson1" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Трудовий договір: види, строки, особливості укладення. Приклад трудового договору.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Оформлення кадрових документів:</p>
                                        <ul class="list">
                                            <li class="list__item"><span>заява (приклад);</span></li>
                                            <li class="list__item"><span>наказ (приклад);</span></li>
                                            <li class="list__item"><span>перелік особистих документів працівника. Заборона вимагати при укладенні трудового договору 			   деякі відомості та документи.</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Обов’язок проінструктувати працівника і визначити йому робоче місце. Посадові інструкції (приклади).</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Повідомлення про прийняття працівника на роботу: заповнення, подання, виправлення відомостей, 		  	відповідальність (приклади).</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Особливості регулювання праці деяких категорій працівників (осіб з інвалідністю, а також працівників, які працюють у фізичних осіб за трудовими договорами).</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>90 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les2" data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="module__item"><span>Урок 2. Випробувальний термін. Стажування. Особова картка</span></div>
                        <div id="lesson2" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Випробування при прийнятті на роботу: строки, оформлення результатів, звільнення у разі непроходження випробувального терміну.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Стажування на підприємстві: дозволені випадки, документальне оформлення.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Особова картка та її заповнення: перше – при прийомі, наступні – під час роботи, заключне – під час звільнення (приклади). Зберігання. Відмінності від особової справи.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>50 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les3" data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="module__item"><span>Урок 3. Переведення. Відсторонення від роботи</span></div>
                        <div id="lesson3" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Випадки переведення. Коли переведення є переміщенням? Коли переведення відбувається з обов’язковим звільненням?</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Тимчасові та постійні переведення. Переведення за згодою і без згоди працівника.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Кадрові процедури під час переведення:</p>
                                        <ul class="list">
                                            <li class="list__item"><span>заява (приклад)</span></li>
                                            <li class="list__item"><span>наказ (приклад)</span></li>
                                            <li class="list__item"><span>записи про переведення в П-2 та трудову книжку.</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Відсторонення від роботи: випадки, документальне оформлення.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>60 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les4" data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="module__item"><span>Урок 4. Звільнення працівників</span></div>
                        <div id="lesson4" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Підстави припинення трудового договору.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Кадрові процедури під час переведення:</p>
                                        <ul class="list">
                                            <li class="list__item"><span>заява (приклад);</span></li>
                                            <li class="list__item"><span>наказ (приклад);</span></li>
                                            <li class="list__item"><span>записи про переведення в П-2 та трудову книжку.</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Розірвання трудового договору, укладеного на невизначений строк, з ініціативи працівника.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Розірвання трудового договору з ініціативи підприємства.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>70 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les5" data-toggle="collapse" data-target="#lesson5" aria-expanded="false" aria-controls="#lesson5" class="module__item"><span>Урок 5. ВІДПОВІДІ НА ЗАПИТАННЯ ТА ТЕСТ</span></div>
                        <div id="lesson5" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Відеозапис відповідей на найпопулярніші запитання.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>ТЕСТ-питання для закріплення знань.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>120 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-toggle="collapse" data-target="#module2" aria-expanded="false" aria-controls="#module2" class="lesson lesson_two">
                        <p class="lesson__title">Модуль 2</p>
                        <button type="button" class="lesson__btn">Детальніше</button>
                    </div>
                    <div id="module2" class="module module_two collapse">
                        <div id="les6" data-toggle="collapse" data-target="#lesson6" aria-expanded="false" aria-controls="#lesson6" class="module__item"><span>Урок 6. Ведення трудових книжок</span></div>
                        <div id="lesson6" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Заповнення трудових книжок:</p>
                                        <ul class="list">
                                            <li class="list__item"><span>занесення відомостей про працівника;</span></li>
                                            <li class="list__item"><span>внесення відомостей про роботу (прийняття, переведення, звільнення);</span></li>
                                            <li class="list__item"><span>приклади заповнення.</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Записи посад згідно Класифікатора професій: відмінності назв посад, поширені помилки.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Трудові книжки найманих працівників у ФО-СПД, у представництв нерезидентів.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Видача трудової книжки у разі звільнення.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Облік трудових книжок: книги обліку і порядок їх ведення.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>60 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les7" data-toggle="collapse" data-target="#lesson7" aria-expanded="false" aria-controls="#lesson7" class="module__item"><span>Урок 7. Надання відпусток</span></div>
                        <div id="lesson7" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Види відпусток. Право на відпустки. Визначення тривалості відпусток.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Порядок надання щорічних відпусток:</p>
                                        <ul class="list">
                                            <li class="list__item"><span>графік і повідомлення (приклади);</span></li>
                                            <li class="list__item"><span>заява і наказ про відпустку (приклади).</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Перенесення та поділ на частини щорічної відпустки. Випадки відкликання.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Відпустка без збереження заробітної плати: в обов'язковому порядку, за згодою сторін.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Компенсація за дні невикористаної відпустки.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>40 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les8" data-toggle="collapse" data-target="#lesson8" aria-expanded="false" aria-controls="#lesson8" class="module__item"><span>Урок 8. Страховий стаж</span></div>
                        <div id="lesson8" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Види страхового стажу. Документальне підтвердження.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Обчислення страхового стажу за даними трудової книжки і документів з Державного реєстру застрахованих осіб.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Відсоткові обмеження в залежності від страхового стажу для оплати лікарняних листків.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>50 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les9" data-toggle="collapse" data-target="#lesson9" aria-expanded="false" aria-controls="#lesson9" class="module__item"><span>Урок 9. Відповідальність за кадрову роботу та порушення трудового законодавства</span></div>
                        <div id="lesson9" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Хто перевіряє ведення кадрового обліку та виконання вимог трудового законодавства?</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Адміністративна відповідальність: види, випадки накладання.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Фінансова відповідальність: види, особливості застосування.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>Кримінальна відповідальність: види, практика.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>40 хвилин</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="les10" data-toggle="collapse" data-target="#lesson10" aria-expanded="false" aria-controls="#lesson10" class="module__item"><span>Урок 10. ВІДПОВІДІ НА ЗАПИТАННЯ ТА ТЕСТ</span></div>
                        <div id="lesson10" class="module__themes collapse">
                            <div class="program">
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p> Відеозапис відповідей на найпопулярніші запитання.</p>
                                    </div>
                                </div>
                                <div class="program__item">
                                    <div class="program__item--text">
                                        <p>ТЕСТ-питання для закріплення знань.</p>
                                    </div>
                                </div>
                                <div class="program__item program__item--centered program__item--date">
                                    <div class="program__item--text">
                                        <p>Тривалість уроку: <b>120 хвилин</b>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_study">
        <div class="content">
            <div class="block-study">
                <h3 class="b-title title_study">Як проходить навчання</h3>
                <div class="block-study__wrapper">
                    <div class="block-study__item">
                        <p class="block-study__item-head">Модуль 1</p>
                        <p class="block-study__item-text">5 відеоуроків<br/>з відповідями на запитання</p>
                    </div>
                    <div class="block-study__item">
                        <p class="block-study__item-head">Тест-питання</p>
                        <p class="block-study__item-text">для закріплення знань<br/>Модуль 2</p>
                    </div>
                </div>
                <div id="road" class="block-study__road road">
                    <div class="road__item">1</div>
                    <div class="road__item">2</div>
                    <div class="road__item">3</div>
                    <div class="road__item">4
                        <div id="pulse-road"></div>
                    </div>
                </div>
                <div class="block-study__wrapper block-study__wrapper--second">
                    <div class="block-study__item">
                        <p class="block-study__item-head">Тест-питання</p>
                        <p class="block-study__item-text">для закріплення знань<br/>Модуль 1</p>
                    </div>
                    <div class="block-study__item">
                        <p class="block-study__item-head">Модуль 2</p>
                        <p class="block-study__item-text">5 відеоуроків<br/>з відповідями на запитання</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="order" class="content"></div>
    </div>
    <div id="timer-custom" class="wrapper">
        <div class="content">
            <div class="block-timer">
                <div class="timer-custom">
                    <h3 class="b-title timer_title">ЦІНА ДІЄ ДО <span id="timer-title">{{ page.options['date']|default('') }}</span>
                    </h3>
                    <div class="pricing-timer"  data-timer="{{ page.options['timer']|default('') }}">
                        <div class="pricing-timer__inner">
                            <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                            <div class="pricing-timer__box"><span class="separate">:</span></div>
                            <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                            <div class="pricing-timer__box"><span class="separate">:</span></div>
                            <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                            <div class="pricing-timer__box"><span class="separate">:</span></div>
                            <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_order">
        <div class="block-order content">
            <div class="block-order__wrap">
                <div class="tarif">
                    <div class="tarif__head">
                        <h3>ВИ ОТРИМАЄТЕ</h3>
                    </div>
                    <ul class="tarif__list">
                        <li class="tarif__item ok">десять відеоуроків</li>
                        <li class="tarif__item ok">презентацію лектора</li>
                        <li class="tarif__item ok">тести-питання для<br/>закріплення знань</li>
                        <li class="tarif__item ok">сертифікат</li>
                    </ul>
                    <p class="tarif__price">{{shop_price('курс-Школа2019','site')}} грн</p>
                    <div class="tarif__bill">
                        <form method="post" action="?new=1" data-validate="ajax">
                            <input type="hidden" name="product" value="курс-Школа2019"/>
                            <button type="submit" rel="order" class="butn tarif_butn">Замовити</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="video" class="wrapper wrapper_video">
        <div class="content">
            <div class="block-video">
                <p class="b-title video_title">Тетяна Мойсеєнко запрошує
                </p>
                <div class="block-video__player">
                    <iframe src="https://www.youtube.com/embed/DxPKMRbZc0g?rel=0&amp;showinfo=0&amp;autohide=2" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_btn">
        <div class="content">
            <div class="block-btn">
                <form id="form2" method="post" action="?new=1" data-validate="ajax">
                    <input type="hidden" name="price" value="курс-Школа2019"/>
                    <button type="submit" form="form2" class="butn butn_btn">Записатися</button>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_certificate">
        <div class="content">
            <div class="block-certificate">
                <h3 class="b-title title_certificate">Що ви отримаєте після проходження курсу</h3>
                <div class="block-certificate__container clearfix">
                    <div class="block-certificate__text text"><strong class="text__strong">Вивчите та закріпите тестовими завданнями основні законодавчі і практичні аспекти:</strong>
                        <ul class="text__list">
                            <li class="text__item"><span>прийом, переведення, стажування, звільнення<br/>працівників, відсторонення їх від роботи;</span></li>
                            <li class="text__item"><span>ведення особової справи, трудових книжок;</span></li>
                            <li class="text__item"><span>надання відпусток та обчислення страхового<br/>стажу по-новому.</span></li>
                        </ul><strong class="text__strong">Відповіді на запитання допоможуть в<br/>практичному житті, а сертифікат про здобутий<br/>рівень фахівця стане приємним закріпленням<br/>отриманих знань і навичок!</strong>
                        <p>Приєднуйтесь до фахівців сучасності -<br/>online-школи кадровика 7eminar.com!</p>
                    </div>
                    <div class="block-certificate__img"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_partners">
        <div class="content">
            <div class="partners">
                <table>
                    <tr>
                        <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                        <td><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></td>
                        <td><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></td>
                    </tr>
                </table>
               {# <table>
                    <tr>
                        <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                        <td><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></td>
                    </tr>
                </table>#}
            </div>
        </div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <p id="closeModal" data-dismiss="modal" class="close-modal"></p>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
</div>