@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic');
//@import "../../parts/animate";

//fonts
$Raleway: 'Raleway', sans-serif;
$roboto: 'roboto', sans-serif;
$PT: "PT Sans", sans-serif;

//urls
$url_1: url("images/head/bg.jpg");

//colors etc.
$menu-color: #003750;
$landing-color: #f3861e;
$landing-titles: #645e95;
$time: 150ms;

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.pulse:before,
.pulse:after {
  content: '';
  position: absolute;
  border: 1px solid $landing-titles;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  -webkit-animation: pulse 2.5s linear infinite;
  animation: pulse 2.5s linear infinite;
  opacity: 0;
}
.pulse:after {
  animation-delay: .8s;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

@media screen and(max-width: 1024px) {
  html {
    overflow-x: hidden;
  }
}

#main, #action, .wrapper {
  width: 100%;
}

.wrapper {
  padding-top: 50px;

  &.wrapper_hero {
    padding-top: 0;
    height: 990px;
    background: #fff $url_1 center top no-repeat;
  }

  &.wrapper_for {
    height: 550px;
    background-color: #f3f3f3;
  }

  &.wrapper_themes {
    margin-bottom: 60px;
  }

  &.wrapper_study {
    height: 490px;
    background-color: #f3f3f3;
  }

  &.wrapper_order {
    margin-bottom: 60px;
  }

  &.wrapper_video {
    padding-bottom: 40px;
    background-color: #515e90;
  }

  &.wrapper_btn {
    margin-bottom: 40px;
  }

  &.wrapper_certificate {
    height: 600px;
    background-color: #f3f3f3;
  }

  &.wrapper_partners {
    background-color: #efefef;
  }

}

.content {
  width: 1000px;
  margin: 0 auto;
  float: none!important;
  left: auto!important;
}

.b-title {
  position: relative;
  margin: 0;
  text-align: center;
  font-family: $Raleway;
  color: $landing-titles;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  font-style: normal;
  font-stretch: normal;

  @keyframes line {
    0% {
      width: 0;
    }

    100% {
      width: 150px;
    }
  }

  @-webkit-keyframes line {
    0% {
      width: 0;
    }

    100% {
      width: 150px;
    }
  }

  &.line {

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 305px;
      width: 0;
      height: 2px;
      background-color: $landing-color;
      -webkit-animation: line .5s forwards;
      animation: line .5s forwards;
      animation-timing-function: linear;
    }

  }

  &.about_title {
    padding-left: 25px;

    &:after {
      left: 290px;
    }

  }

  &.lector_title {
    padding-left: 240px;
    margin-bottom: 30px;

    &:after {
      left: 350px;
    }

  }

  &.themes_title {
    margin-bottom: 30px;

    &:after {
      left: 375px;
    }
  }

  &.title_study {
    margin-bottom: 45px;

    &:after {
      left: 250px;
    }

  }

  &.video_title {
    color: #fff;

    &:after {
      display: none;
    }
  }

  &.timer_title {
    margin-bottom: 20px;

    &:after {
      left: 285px;
    }

  }

  &.title_certificate {
    margin-bottom: 30px;

    &:after {
      left: 50px;
    }
  }

}

.b-menu {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $menu-color;
  padding: 30px 15px 15px;
  font-family: "Tahoma", sans-serif;
  width: 100%;

  .b-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
  }

  .b-menu__item {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font-size: 14px;
    border-right: 2px solid $menu-color;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }

  .b-menu__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: $menu-color;
    letter-spacing: 1.39px;
    transition: all 150ms linear;

    &:hover,
    &:focus,
    &:active {
      color: $menu-color;
      text-decoration: underline;
    }
  }

  .b-menu__link--colored {
    color: $landing-color;
  }

}

.butn {
  position: relative;
  display: block;
  width: 251px;
  line-height: 45px;
  border-radius: 24px;
  border: 2px solid $landing-color;
  background-color: $landing-color;
  font-size: 24px;
  font-family: $Raleway;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  letter-spacing: 2.11px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  transition: all $time linear;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.5s linear;

  &:before {
    content: '\f00c';
    display: block;
    position: absolute;
    left: 25px;
    top: 50%;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    font-family: "FontAwesome";
    transform: translate(0, -50%);
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $landing-color;
    background-color: transparent;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);

    &:before {
      color: $landing-color;
    }

  }

  &.hero_butn {
    line-height: 52px;
  }

  &.tarif_butn {
    margin: 0 auto;
  }

  &.butn_btn {
    margin: 0 auto;
    text-transform: none;

    &:hover {

      &:before {
        color: #fff;
      }

      &:after {
        background-color: $landing-color;
        box-shadow: 0 0 0 rgba(71, 90, 145, 0.4);
      }

    }

    &:before {
      content: '\f0da';
      left: 0;
      z-index: 2;
      font-size: 50px;
      color: $landing-color;
      transition: all $time linear;
    }

    &:after {
      content: '';
      display: block;
      width: 70px;
      height: 70px;
      position: absolute;
      left: -30px;
      top: -9px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      box-shadow: 0 0 128px rgba(71, 90, 145, 0.4);
      border: 2px solid $landing-color;
      background-color: #ffffff;
      transition: all $time linear;
    }

  }

}

.block-hero {
  position: relative;
  height: 100%;
  text-align: left;

  &:before {
    content: '';
    width: 327px;
    height: 430px;
    position: absolute;
    z-index: 2;
    right: -5px;
    top: 50px;
    background: url("images/head/lector-min.png") center no-repeat;
  }

  &__wrapper {
    padding-top: 20px;
    padding-left: 30px;
    margin-bottom: 140px;
  }
  .block-hero__new{
    padding-left: 12px;
    width: 615px;
    background-image: linear-gradient(to right, #cf1e18 ,#f3691e );
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #FFFFFF;

    border-radius: 10px;
    span{
      font-family: $roboto;
      font-weight: 700;


    }

  }

  &__title {
    margin-top: 47px;
    margin-bottom: 30px;
    color: $landing-titles;
    font-family: $Raleway;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    &:after{
      content: '';
      display: block;
      bottom: 0px;
      left: 0px;
      height: 2px;
      width: 150px;
      background-color: #f3861e;
    }
  }

  &__lector {
    color: #4c4c4c;
    font-family: $Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 30px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .about {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 347px;
      height: 365px;
      position: absolute;
      left: -20px;
      top: 0;
      background: url("images/head/ico-about-min.png") center no-repeat;
    }

    &__text {
      padding-top: 15px;
      padding-left: 285px;
      color: #000000;
      font-family: $Raleway;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }

}

.block-for {
  position: relative;
  height: 100%;

  &:before {
    content: '';
    display: block;
    width: 473px;
    height: 353px;
    position: absolute;
    left: -470px;
    bottom: 0;
    background: url("images/for/for-rec-min.png") center no-repeat;
  }

  &:after {
    content: '';
    display: block;
    width: 278px;
    height: 223px;
    position: absolute;
    right: -230px;
    top: -50px;
    background: url("images/for/for-rec1.jpg") center no-repeat;
  }

  .cards {
    padding-top: 30px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;

    &_feme {
      background: url("images/for/feme-min.png") center no-repeat;
    }

    &_man {
      background: url("images/for/man-min.png") center no-repeat;
    }

    &_wooman {
      background: url("images/for/wooman.png") center no-repeat;
    }

    &__item {
      width: 300px;
      float: left;

      &:hover {

        .cards__title {

          &:after {
            width: 150px;
          }

        }

      }

    }

    &__head {
      height: 125px;
    }

    &__title {
      position: relative;
      color: #4c4c4c;
      font-family: $Raleway;
      font-size: 18px;
      font-weight: 700;
      line-height: 54px;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;

      &:after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
        background-color: $landing-color;
        transition: all $time linear;
      }

    }

    &__text {
      color: #000000;
      font-family: $Raleway;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }

  }

}

.block-lector {
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 420px;
    width: 270px;
    position: absolute;
    top: -35px;
    left: 85px;
    background: url("images/lector/lector2-min.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__info {
    width: 854px;
    height: 231px;
    margin: 0 auto;
    padding-top: 40px;
    padding-right: 60px;
    box-shadow: 0 0 128px rgba(71, 90, 145, 0.15);
    background: #ffffff url("images/lector/lector-rec.png") bottom right no-repeat;
  }

  &__text {
    padding-left: 270px;
    color: #000000;
    font-family: $Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

  }

}

.block-themes {
  width: 960px;
  margin: 0 auto;
  padding-top: 20px;

  .lesson {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    border-radius: 5px;
    background-color: #475a91;
    padding: 15px 60px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    &__title {
      width: 600px;
      margin-right: 20px;
      margin-bottom: 0;
      font-family: $PT;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.6px;
    }

    &__btn {
      width: 170px;
      height: 44px;
      border-radius: 22px;
      border: 2px solid #ffffff;
      color: #fff;
      font-family: $PT;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.45px;
      cursor: pointer;
      background-color: transparent;
      transition: .5s ease;
      outline: none;
      &:hover {
        background-color: #ffffff;
        color: #475a91;
      }
    }

    &.lesson_two {
      background-color: #545283;
    }

    &.lesson_three {
      background-color: #6c5d93;
      cursor: default;
    }

  }

  .lesson[aria-expanded="true"] {
    background-color: #475a91;
    color: #fff;
    .lesson__title {
      color: #fff;
    }

    .lesson__btn {
      background-color: #ffffff;
      color: #475a91;
    }
  }

  .module {
    width: 860px;
    margin: 0 auto;

    &__item {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      border-bottom: 1px solid #b7b7b7;
      padding-bottom: 15px;
      cursor: pointer;
      margin-top: 20px;

      span {
        color: #000000;
        font-family: $PT;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0.45px;
        text-transform: uppercase;
      }

      &:after {
        content: '\f0da';
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        font-family: "FontAwesome";
        font-size: 18px;
        color: #525f92;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        transition: all $time linear;
      }

    }

    &__item[aria-expanded="true"] {

      &:after {
        -webkit-transform: translate(0, -50%) rotate(90deg);
        -moz-transform: translate(0, -50%) rotate(90deg);
        -ms-transform: translate(0, -50%) rotate(90deg);
        -o-transform: translate(0, -50%) rotate(90deg);
        transform: translate(0, -50%) rotate(90deg);
      }

    }

  }

  .program {
    counter-reset: item;
    position: relative;
    margin-top: 20px;

    &__item {
      position: relative;
      padding-left: 45px;

      &:before {
        counter-increment: item;
        content: counter(item);
        position: absolute;
        left: 0;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #475a91;
        color: #ffffff;
        font-family: $Raleway;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;
      }

    }

    &__item--text {
      padding: 15px 0;
      min-height: 40px;

      p {
        font-family: $PT;
        font-weight: 400;
        letter-spacing: 0.45px;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        margin: 0;
      }

      .list {

        &__item {
          color: $landing-color;

          span {
            color: #000;
            font-family: $PT;
            font-weight: 400;
            letter-spacing: 0.45px;
            font-style: normal;
            font-stretch: normal;
            line-height: 24px;
          }

        }

      }

    }

    &__item--date {

      p {
        margin-bottom: 0;
      }

      &:before {
        content: '\f017';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 30px;
        line-height: 30px;
        color: $landing-color;
        font-weight: 300;
        font-family: "FontAwesome";
        background-color: transparent;
      }

    }

    &__item--centered:before {
      top: 50%;
      transform: translateY(-50%);
    }

  }

}

.block-study {
  position: relative;
  height: 100%;

  &:before {
    content: '';
    display: block;
    width: 335px;
    height: 253px;
    position: absolute;
    left: -250px;
    bottom: 0;
    background: url("images/study/study-rec.jpg") center no-repeat;
  }

  &:after {
    content: '';
    display: block;
    width: 325px;
    height: 139px;
    position: absolute;
    right: -325px;
    top: -50px;
    background: url("images/study/studing-rec1-min.png") center no-repeat;
  }

  &__wrapper {
    width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }

  &__wrapper--second {
    width: 600px;
  }

  &__item {
    text-align: center;
    width: 250px;
  }

  &__item-head {
    color: $landing-titles;
    font-family: $Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__item-text {
    color: #010101;
    font-family: $Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  &__road {
    margin: 20px auto;
    width: 755px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }

  .road {
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #b7b7b7;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      z-index: 1;
    }

    &__item {
      position: relative;
      z-index: 2;
      width: 36px;
      height: 36px;
      background-color: #4c4c4c;
      background-image: linear-gradient(30deg, #f3861e 0%, #fcaf65 100%);
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      color: #ffffff;
      font-family: $Raleway;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      line-height: 34px;

      &:first-child {

        &:after {
          content: '';
          display: block;
          width: 44px;
          height: 33px;
          position: absolute;
          left: -3px;
          bottom: -40px;
          background: url("images/study/start-min.png") center no-repeat;
        }
      }

      &:last-child {

        &:after {
          content: '';
          display: block;
          width: 44px;
          height: 33px;
          position: absolute;
          left: -3px;
          bottom: -40px;
          background: url("images/study/finish-min.png") center no-repeat;
          z-index: -1;
        }

      }

      .pulse{

        &:before,
        &:after {
          content: '';
          position: absolute;
          border: 1px solid #18d82c;
          animation-delay: 3s;
        }

        &:after {
          animation-delay: 3.8s;
        }

      }

    }

  }

  @keyframes road {

    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }

  }

  @-webkit-keyframes road {

    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }

  }

  .road_line {

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #18d82c;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      z-index: 2;
      -webkit-animation: road 3s forwards;
      animation: road 3s forwards;
      animation-timing-function: linear;
    }

  }

}

.block-timer {

  .timer-custom{
    text-align: center;
    position: relative;

    .pricing-timer{
      width: 880px;
      margin: 0 auto;
      background-color: transparent;
      color: $landing-color;
      font-family: $Raleway;
      font-size: 36px;
      font-weight: 400;
      line-height: 72px;
      text-transform: uppercase;

      .pricing-timer__inner{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;

        .pricing-timer__box{
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
          -ms-flex-direction: column;
          -webkit-flex-direction: column;
          font-weight: normal;

          &:nth-child(2n+1){
            width: 165px;
          }

          span{
            font-size: 110px;
            color: $landing-color;
            height: 90px;
          }

        }
      }
    }

  }

}

.block-order {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 138px;
    height: 156px;
    position: absolute;
    left: 113px;
    top: 170px;
    background: url("images/order/order-rec-min.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &:after {
    content: '';
    display: block;
    width: 313px;
    height: 329px;
    position: absolute;
    right: 0;
    top: -100px;
    background: url("images/order/order-rec2-min.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__wrap {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;

    .tarif {
      position: relative;
      z-index: 2;
      width: 440px;
      box-shadow: 0 0 30px rgba(71, 90, 145, 0.45);
      border-radius: 5px;
      border: 2px solid #645e95;
      background-color: #ffffff;
      padding-bottom: 25px;
      transition: all $time linear;

      &:hover {
        box-shadow: 0 0 20px 10px rgba(71, 90, 145, 0.45);

        .tarif__head {

          &:after {
            width: 100px;
          }

        }

      }

      &__head {
        position: relative;
        text-align: center;

        &:after {
          content: '';
          display: block;
          width: 50px;
          height: 2px;
          position: absolute;
          bottom: 10px;
          left: 50%;
          -webkit-transform: translate(-50%);
          -moz-transform: translate(-50%);
          -ms-transform: translate(-50%);
          -o-transform: translate(-50%);
          transform: translate(-50%);
          background-color: #f3861e;
          transition: all $time linear;
        }



        h3 {
          color: #4c4c4c;
          font-family: $Raleway;
          font-size: 24px;
          font-weight: 700;
          line-height: 72px;
          text-transform: uppercase;
          margin: 0;
        }

      }

      &__list {
        padding-bottom: 15px;
        padding-left: 90px;
        margin: 0;
      }

      &__item {
        list-style-type: none;
        color: #4c4c4c;
        font-family: $Raleway;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
      }

      &__link {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }

      &__price {
        display: inline-block;
        padding-left: 140px;
        margin-top: 10px;
        margin-bottom: 35px;
        color: $landing-color;
        font-family: $Raleway;
        font-size: 36px;
        font-weight: 700;
        line-height: 30px;
      }

      &__wrong {
        display: inline-block;
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 35px;
        color: #4c4c4c;
        font-family: $Raleway;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: line-through;
      }

      .ok {
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: -20px;
          display: block;
          font-family: "FontAwesome";
          color: #475a91;
          content: "\f00c";
          font-size: 14px;
        }
      }

      .wrong {
        color: #d3d3d3;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: -20px;
          display: block;
          font-family: "FontAwesome";
          color: rgba(255, 0, 0, 0.5);
          content: "\f00d";
          font-size: 14px;
        }
      }

      .btn{
        font-size: 24px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        letter-spacing: 2.11px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        padding-left: 30px;
        cursor: pointer;
        background-color: transparent;

        &:hover{
          color: #f3861e;
        }
      }

      //&__gift {
      //  font-size: 16px;
      //  position: relative;
      //  padding-left: 50px;
      //  margin: 20px 0;
      //  padding-top: 10px;
      //  &:before {
      //    position: absolute;
      //    display: block;
      //    content: "";
      //    top: -5;
      //    left: 0;
      //    height: 40px;
      //    width: 40px;
      //    background: url(images/speech/gift.png) no-repeat 100%;
      //    -webkit-background-size: contain;
      //    -o-background-size: contain;
      //    background-size: contain;
      //  }
      //  i {
      //    font-weight: bold;
      //    color: #f00;
      //  }
      //  a {
      //    color: blue;
      //  }
      //}

    }

  }

}

.block-video {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 396px;
    height: 449px;
    position: absolute;
    right: -300px;
    top: -260px;
    z-index: -1;
    background: url("images/video/video-rec-min.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__player {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
      display: block;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.block-certificate {

  &__container {
    width: 945px;
    margin: 0 auto;
  }

  &__text,
  &__img {
    width: 50%;
    float: left;
  }

  &__text {
    color: #000000;
    font-family: $Raleway;
    font-size: 18px;
    line-height: 24px;
  }

  &__img {
    height: 513px;
    background: url("images/DIPLOM.png") center top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .text {

    &__strong {
      display: block;
      margin-bottom: 20px;
    }

    &__list {
      padding-left: 20px;
    }

    &__item {
      margin-bottom: 15px;
      color: $landing-color;

      span {
        color: #000;
      }

    }

  }

}

.partners {
  table {
    border: none;
    margin: 0 auto;
    > tbody > tr > td {
      width: 290px;
      padding: 10px 5px;
      text-align: center;
      border: none;
      vertical-align: middle;
      a {
        filter: grayscale(100%) opacity(60%);
        transition: 250ms;
        &:hover {
          filter: none;
        }
      }
    }
  }
}

.footer {
  margin-top: 0;
}

.vidModal{
  position: absolute;
  top: 340px;
  left: 510px;
  z-index: 3;


  @keyframes scale {

    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

  }

  @-webkit-keyframes scale {

    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    50% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

  }

  button{
    border: none;
    height: 60px;
    width: 60px;
    background: transparent url("images/head/playb.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;

    &:hover {
      -webkit-animation: scale 1.8s linear infinite;
      -o-animation: scale 1.8s linear infinite;
      animation: scale 1.8s linear infinite;
    }

  }

}

.modal{
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0;
}

#myModal {

  .modal-content {
    background: #000;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.22%;
    overflow: hidden;
  }

  .modal-dialog {
    width: 70%;
    height: 74vh;
    margin: 0;
    position: relative;
  }

  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .close-modal {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 70px;
    padding: 9px;
    height: 70px;
    z-index: 4;
    opacity: 0.3;
    cursor: pointer;
  }
  .close-modal:hover {
    opacity: 1;
  }
  .close-modal:before, .close-modal:after {
    position: absolute;
    left: 35px;
    top: 18px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
  }
  .close-modal:before {
    transform: rotate(45deg);
  }
  .close-modal:after {
    transform: rotate(-45deg);
  }

}
.kbs-hide{
  display: none;
}