.packages {
  position: relative;

  @include media-breakpoint-up(xl) {
    &:before {
      content: "";
      position: absolute;
      left: 51%;
      bottom: 109px;
      transform: translate(-50%, 0);
      background: url(../img/register-decor.png) center no-repeat;
      width: 1625px;
      height: 1033px;
      background-size: contain;
      z-index: 1;
    }
  }
  .container {
    @include media-breakpoint-up(xl) {
      &::before {
        content: "";
        position: absolute;
        bottom: -400px;
        left: -300px;
        background: url(../img/dec.png) no-repeat center;
        width: 1446px;
        height: 1446px;
        display: block;
      }
    }
  }

  .title {
    text-align: center;
  }

  .container {
    padding-top: 62px;
    padding-bottom: 62px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(xl) {
      padding-top: 87px;
      padding-bottom: 96px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @include media-breakpoint-up(xl) {
      max-width: 820px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 26px;
    color: $black;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;

    span {
      color: $color-main;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
    }
  }

  .item {
    width: 100%;
    padding: 35px 15px;
    color: #fff;
    display: flex;
    flex-flow: column;
    gap: 20px;
    border-radius: 27px;

    @include media-breakpoint-up(xl) {
      padding: 48px 32px 48px 48px;
    }

    &__header {
      text-align: center;
      background-color: reed;
    }
    &__title {
      font-size: 42px;
      font-weight: 800;
      display: inline-flex;
      padding: 0 5px;
      line-height: 1;

      @include media-breakpoint-up(xl) {
        font-size: 62px;
      }
    }

    &__info {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      @include media-breakpoint-up(xl) {
        gap: 14px;
      }
      li {
        padding-left: 44px;
        position: relative;
        font-weight: 400;

        @include media-breakpoint-up(xl) {
          font-size: 18px;
          width: 48%;
        }

        i {
          font-style: italic;
        }
        b {
          font-weight: 800;
        }

        &::before {
          content: "";
          width: 28px;
          height: 28px;
          position: absolute;
          left: 0;
          top: 0;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Ccircle cx='3.58007' cy='3.58007' r='3.58007' transform='matrix(-1 0 0 1 12.0249 4.9751)' fill='%23815DFF'/%3E%3C/svg%3E")
            left center no-repeat;
        }
      }

      .no-active {
        color: #a3a3a3;

        &::before {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M17.5917 6.12003L15.6399 6.12003L15.6329 13.8513L7.20948 5.42789L5.82518 6.81218L14.2486 15.2356L6.51733 15.2287L6.51733 17.1944L17.5917 17.1944L17.5917 6.12003Z' fill='%23a3a3a3'/%3E%3C/svg%3E")
            50% / contain no-repeat;
        }
      }
    }

    &__btn {
      z-index: 2;
      text-align: center;
      font-size: 20px;
      padding: 0;
    }
    &--core {
      background-color: $black;
      border: 1px solid #fff;

      .item__title {
        background-color: $color-main;
        color: $white;
      }
    }

    &--pro {
      background-color: $color-main;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: -50px;
        right: -50px;
        background: url(../img/package-label.png);
        width: 148px;
        background-size: cover;
        height: 148px;
        animation: 9s linear 0s normal none infinite running rot;
      }

      @keyframes rot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .item__title {
        background-color: $white;
        color: $black;
      }

      .item__info {
        li {
          &::before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Ccircle cx='12.7501' cy='12.25' r='5.44444' fill='white'/%3E%3C/svg%3E")
              50% / contain no-repeat;
          }
        }
      }
    }
  }
}
