.answers{
  background: #041b75  url(images/profession/bg-min.png) center center  no-repeat;
  &__container {
    @extend %container;
    text-align: center;
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px){
      flex-direction: column;
    }

    &:before{
      content: " ";
      background:  url(images/answers_icon.png) center top  no-repeat;
      width: 151px;
      height: 200px;
      display: block;
      margin-right: 55px;

      @media (max-width: 767px){
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    p{
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 0.6px;
      text-align: left;
      color: #fff;
      padding-bottom: 15px;
      @media (max-width: 767px){
        font-size: 16px;
      }
      span{
        color: #f4ae17;
      }
    }

  }

  &__text{
    max-width: 530px;
    width: 100%;
  }

  &__btn{
    padding-top: 50px;
    @media (max-width: 767px){
      padding-top: 25px;
    }
  }
}