.free-video {

 /* background: #d9384c;*/
  &__container {
    padding: 0px;
  }

  &__title{
    @extend %title;
    p{
      font-size: 32px;
      @media (max-width: 767px){
        line-height: 1.2;
        font-size: 25px;
      }
      span{
        font-size: 18px;
        @media (max-width: 767px){
          padding-top: 10px;
        }
      }
    }
  }


  &__content{
    padding: 70px 0;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    @media (max-width: 1200px){
      padding: 45px 80px;
    }
    @media (max-width: 767px){
      padding: 45px 15px 30px;
    }
  }

  &__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  &__text{
    width: 50%;
    text-align: left;
    padding-right: 20px;
    @media (max-width: 1200px){
      width: 100%;
      text-align: center;
      padding-right: 0px;
    }
    p{
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 0.9px;
      color: #575757;
      padding-bottom: 25px;
      @media (max-width: 1200px){
        padding-bottom: 15px;
      }
      @media (max-width: 767px){
        font-size: 15px;
        letter-spacing: 0.8px;
        line-height: 1.25;
      }
    }
    a{
      color: #de4319;
      font-weight: 500;
      font-size: 18px;
      text-decoration: underline;
      @media (max-width: 767px){
        font-size: 15px;
      }
    }
  }


  &__video {
    position: relative;
    width: 50%;
    height: 326px;
    overflow: hidden;
    @media (max-width: 1200px){
      margin-top: 30px;
      width: 100%;
      height: 355px;
    }
    @media (max-width: 767px){
      width: 300px;
      height: 180px;
      margin: 30px auto 0;
    }

    iframe {
      display: block;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


  &__btn{
    text-align: center;
    padding-top: 100px;
    @media (max-width: 767px){
      padding-top: 30px;
    }
    .btn{
      max-width: 470px;
      @media (max-width: 767px){
        font-size: 17px;
      }
    }



  }

}
