
.gifts {
  text-align: center;
  padding: 30px 0;
  background: url(./images/gift_copy.png?37116ec…) center top no-repeat, linear-gradient(to top, #000d4f, #000d4e);
  @media (max-width: 767px){
    background: linear-gradient(to top, #041659, #000d4e);
  }

  &__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    letter-spacing: 0.9px;
    color: #f86442;
  }

  &__name{
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px){
      flex-direction: column;
    }

    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
    &:before{
      content: "";
      background: url(images/gift_jewel.png) center top  no-repeat;
      width: 30px;
      height: 28px;
      display: inline-block;
      margin-right: 13px;
      @media (max-width: 767px){
        margin: 0 0 5px 0;
      }
    }

    &--play{

      &:before{
        background: url(images/gift_play.png) center top  no-repeat;
        width: 30px;
        height: 30px;
      }
    }
    &--sertificat{

      &:before{
        background: url(images/0204_gift.svg) center top  no-repeat;
        width: 30px;
        height: 30px;
      }
    }

  }

  &__info{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  }




  &__button{
    min-width: 155px;
    text-align: center;
    margin-top: 30px;
    @media (max-width: 767px){
      margin-top: 20px;
    }
  }

  &__more-btn{
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    border: solid 1px #ffffff;
    position: relative;
    padding: 9px 45px 9px 25px;
    transition: transform 0.7s ease-out;
    display: inline-block;
    &:hover{
      text-decoration: none;
      color: white;
      cursor: pointer;
      background-color: #f9e5e55c;
      &:before,
      &:after{
        content: "";
        position: absolute;
        background-color: #fff;
        transition: transform 0.25s ease-out;
      }
    }
    &:before,
    &:after{
      content: "";
      position: absolute;
      background-color: #ffffff;
      transition: transform 0.25s ease-out;
    }
    &:before{
      top: 50%;
      right: 24px;
      width: 2px;
      height: 10px;
      margin-top: -5px;
    }
    &:after{
      top: 50%;
      right: 20px;
      width: 10px;
      height: 2px;
      margin-top: -1px;
    }
  }

  &__more-body{
    padding: 30px 130px 0;
    @media (max-width: 1200px){

    }
    @media (max-width: 767px){
      padding: 30px 0px 0px;
    }
  }

  &__more-list{
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
    counter-reset: my-awesome-counter;
    @media (max-width: 767px){
      padding-left: 35px;
      padding-right: 10px;
      font-size: 16px;
    }



  }

  &__more-list-item{
    padding-bottom: 20px;
    font-weight: 600;
    position: relative;
    line-height: 1.5;
    color: #fff;
    counter-increment: my-awesome-counter;
    position: relative;
    &:before {
      position: absolute;
      left: -25px;
      top: 0;
      content: counter(my-awesome-counter) ". ";
      font-weight: bold;

    }


    @media (max-width: 767px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 15px;

    }
    &:last-child{
      padding-bottom: 0px;
    }
    span{
      color: #ffffff;
    }

  }

}
.gifts__more-btn[aria-expanded="true"] {

  &:before{
    transform: rotate(90deg);

  }
  &:after{
    transform: rotate(180deg);

  }
}