.lectors{
  background-color: #f5f5f5;

  &__container {
    @extend %container;
    text-align: center;
  }

  &__title{
    text-align: center;
    @extend %title;
  }

  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__btn{
    padding-top: 25px;
  }
}

