@charset "utf-8";
.profession {
  background: #e4e4e4  url(images/profession/bg-min.png) center top  no-repeat;
  background-size: cover;
  text-align: center;

  &__container {
    @extend %container;
  }

  &__title{
    text-align: center;
    @extend %title;
    @media (max-width: 767px){
      line-height: 1.2;
    }
  }

  &__content{
    padding:65px 0;

    @media (max-width: 767px){
      padding: 20px 0;
    }

  }

  &__list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
    align-items: center;
    flex-wrap: wrap;
  }




  &__item{
    width: 180px;
    height: 240px;
    background-image: linear-gradient(to top, #041659, #0e0e0e);
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    @media (max-width: 767px){
      margin: 10px;
    }

    p{
      font-size: 19px;
      font-weight: 600;
      line-height: 1;
      color: #ffffff;
      padding-top: 35px;
      text-transform: uppercase;
    }

    &:hover{
      background-image: linear-gradient(to top, #de4319, #0e0e0e);
      cursor: pointer;
      transform: translateY(-8px);
    }


    svg{
      width: 83px;
      height: 83px;
    }



    &:first-child,
    &:last-child{
      width: 150px;
      height: 200px;
      margin: 0 22px;
      @media (max-width: 767px){
        width: 180px;
        height: 240px;
        margin: 10px;
      }


      svg{
        width: 60px;
        height: 60px;
        @media (max-width: 767px){
          width: 83px;
          height: 83px;
        }
      }
      p{
        font-size: 16px;
        padding-top: 45px;
      }
    }
  }










}
