.heading {
  margin: 0;
  padding: 0;
  background: #262d4a;
  height: auto;
  width: 100%;
  font-size: 20px;
  color: white;
  line-height: 24px;
  box-sizing: border-box;

  &:before {
    display: none !important;
  }

  .content{
    @media (max-width: 768px){
      padding: 5px 15px;
    }
  }

  .inner{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1200px){
      width: 1170px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    @media (max-width: 768px){
      justify-content: center;
    }
  }

  a.logo {
    margin: 0px 0 0px 0px;
    float: left;
    background: url(https://7eminar.com/themes/7eminar/seminars/images/logo.svg) no-repeat;
    width: 200px;
    height: 45px;
  }

  a{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    padding-right: 20px;
    text-decoration:none;
    &:first-letter{
      color: #fac553;
    }
    &:hover{
      text-decoration: underline;
    }
  }

  a.entry {
    margin: 10px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    width: 156px;
    height: 40px;
    padding: 0;
    border-radius: 20px;
    border: 2px solid #6e86ea;
    background-color: #262d4a;
    text-align: center;
    text-decoration: none;
    margin-left: 50px;
    @media (max-width: 768px){
      display: none;
    }
    &:hover {
      background-color: #374fb3;
      transition: 0.7s;
    }
  }

  .video_news{
    @media (max-width: 1000px){
      display: none;
    }
  }

  .main{
    @media (max-width: 1000px){
      display: none;
    }
  }
}