.info{


  &__container{
    padding: 120px 0;
    text-align: center;
    @media (max-width: 1200px){
      padding: 75px 10px;
    }
    @media (max-width: 767px){
      padding: 80px 10px;
    }
  }

  &__text{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    color: #d16208;
    padding-bottom: 15px;

  }

  &__title{
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2c2c2c;
    text-transform: uppercase;
    span{
      border-radius: 10px;
      background-color: #3762e5;
      padding: 12px;
      margin-right: 5px;
      color: #fff;
    }
    @media (max-width: 1200px){
      padding-bottom: 0px;
    }
    @media (max-width: 767px){
      font-size: 25px;
    }
    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }

    }


  }
  &__sub-title{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.36px;
    text-align: center;
    color: #444444;
    padding: 40px 0 30px;
    @media (max-width: 767px){
      padding: 15px 0 15px;
      font-size: 16px;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }

    }
  }
  &__description{
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: 0.36px;
    text-align: center;
    font-weight: 500;
    color: #222222;
    display: table;
    margin: 0 auto;
    border-bottom: solid 4px #e986a8;
    padding-bottom: 5px;
    @media (max-width: 767px){
      border-bottom: none;
      border-top: solid 4px #ec831a;
      font-size: 16px;
      padding-top: 15px;
    }
  }
  &__btn{
    border-radius: 31px;
    background-color: #ff3875;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 1.6px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    max-width: 390px;
    width: 100%;
    padding: 25px 0;
    text-transform: uppercase;
    margin-top: 30px;
    @media (max-width: 767px){
      margin: 30px 0;
      padding: 10px 0;
      line-height: 1.28;

    }

    &:active,
    &:focus,
    &:hover{
      background-color: #ec831a;
      text-decoration: none;
      color: #ffffff;
    }

    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
  }
}
.get{
  border-radius: 30px 5px 5px 5px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 75px 0 50px;
  max-width: 944px;
  width: 100%;
  margin: 50px auto 0;
  @media (max-width: 767px){
    padding: 25px 0;
  }
  &__title{
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #ff3875;
    @media (max-width: 767px){
      font-size: 18px;
      line-height: 1.2;
      padding: 0 25px;
    }
  }

  &__list{
    list-style-type: none;
    padding: 30px 150px 40px 175px;
    @media (max-width: 767px){
      padding: 20px 30px 5px 35px;
    }

    li{
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: 0.36px;
      text-align: left;
      color: #222222;
      position: relative;
      padding-bottom: 13px;
      @media (max-width: 767px){
        font-size: 16px;
      }
      &:last-child{
        padding-bottom: 0;
      }
      &:before{
        position: absolute;
        left: -33px;
        top: 5px;
        content: " ";
        background: url(images/check1.png) center top no-repeat;
        width: 20px;
        height: 20px;
        @media (max-width: 767px){
          left: -25px;
        }
      }
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
  }

  &__info{
    background-color: #d2ebff;
    padding:40px 125px 30px 260px;
    position: relative;
    @media (max-width: 767px){
      padding:17px;
    }
    &:before{
      position: absolute;
      left: 125px;
      top: 50%;
      transform: translate(0%, -50%);
      content: " ";
      background: url(images/lecture.png) center center no-repeat;
      width: 84px;
      height: 86px;
      @media (max-width: 767px){
        content: none;
      }
    }

  }

  &__text{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.36px;
    text-align: left;
    color: #444444;
    margin-bottom: 10px;
    @media (max-width: 767px){
      font-size: 16px;
      line-height: 1.33;
      letter-spacing: 0.3px;
    }
    span{
      font-weight: 500;
      color: #314996;
    }
  }

}