.info {

  .container {
    padding-top: 50px;
    padding-bottom: 10px;

    @include laptop-l() {
      padding-top: 90px;
      padding-bottom: 40px;
    }
  }

  &__frame{
    border: 14px solid #f3eae3;
    margin: 0 40px;
    padding: 70px 0 30px;
    position: relative;
    &:after{
      position: absolute;
      right: -730px;
      bottom: -145px;
      color: #f2e9f4;
      font-family: 'Pattaya', sans-serif;
      font-size: 215px;
      font-weight: 400;
      content: "Здоров’я";
      @media (max-width: 1200px){
       content: none;
      }
    }

    &:before{
      position: absolute;
      content: "Краса ";
      left: -730px;
      bottom: 245px;
      color: #f2e9f4;
      font-family: 'Pattaya', sans-serif;
      font-size: 215px;
      font-weight: 400;
      @media (max-width: 1200px){
        content: none;
      }

    }
    @media (max-width: 1200px){
      border: none;
      padding: 0px;
      margin: 0;
    }
  }
  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 767px){
      flex-direction: column;
    }


    ul{
      list-style-type: none;
      width: 50%;
      padding-left: 33px;
      @media (max-width: 767px){
        max-width: 300px;
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
      }

    }
  }

  &__list{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    &:before{
      background: url(images/01.png) no-repeat center center;
      content: " ";
      width: 52px;
      height: 39px;
      display: block;
    }
  }

  &__text{
    color: #000000;
    padding-left: 30px;

    p{
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px
    }
  }
  &__item--one{

    .info__list{

      &:nth-child(2) {

        &:before {
          background: url(images/02.png) no-repeat center center;
          width: 54px;
          height: 52px;
        }
      }

      &:nth-child(3) {

        &:before {
          background: url(images/03.png) no-repeat center center;
          width: 46px;
          height: 53px;
        }
      }
      &:nth-child(4) {

        &:before {
          background: url(images/04.png) no-repeat center center;
          width: 53px;
          height: 53px;
        }
      }
    }

  }

  &__item--two{

    .info__list{

      &:nth-child(1) {

        &:before {
          background: url(images/05.png) no-repeat center center;
          width: 54px;
          height: 44px;
        }
      }

      &:nth-child(2) {

        &:before {
          background: url(images/06.png) no-repeat center center;
          width: 51px;
          height: 52px;
        }
      }

      &:nth-child(3) {

        &:before {
          background: url(images/07.png) no-repeat center center;
          width: 64px;
          height: 55px;
        }
      }
      &:nth-child(4) {

        &:before {
          background: url(images/08.png) no-repeat center center;
          width: 58px;
          height: 43px;
        }
      }
    }
  }
}