.video {

  @include laptop-l() {
    background: url(images/video_bg-min.jpg) no-repeat center bottom;
  }

  .container {
    padding-top: 50px;
    padding-bottom: 20px;

    @include laptop-l() {
      padding-top: 0px;
      padding-bottom: 50px;
      background: url(images/video_bg-min.jpg) no-repeat center bottom;
    }
  }

  &__block{
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    max-height: 500px;
    height: 100%;
    @media (max-width: 767px){
      max-height: 220px;
    }

    iframe{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
  &__btn{
    margin-top: 75px;
    text-align: center;
    @media (max-width: 767px){
      margin-top: 15px;
    }
  }

}