{% set link = page.url('/images') %}

<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="wrapper">
        <div class="error-box">
            <h1 class="error-box__titel">Ви успішно відписалися від наших листів.</h1>
            <p class="error-box__sub-title">Якщо ви відписалися випадково, натисніть на кнопку нижче.</p><a href="https://7eminar.ua/subscribe" class="btn_error">Хочу отримувати листи</a>
        </div>
    </div>
</div>