@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

.landing-dtkt__demo2020 {

  .hero{
    padding: 45px 0;
    background-color: #f2a227;
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
    font-family: 'Fira Sans', sans-serif;

    @media (max-width: 767px) {
      padding: 15px 10px;
    }

    .hero__content{
      max-width: 1130px;
      width: 100%;
      border-radius: 15px;
      height: 294px;
      background: url(../images/hero.jpg) no-repeat top, linear-gradient(to right, #f2a227, #f2a227);
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      @media (max-width: 767px) {
        justify-content: center;
        border-radius: 0px;
        background: none;
        height: auto;

      }
    }

    &__block{
      color: #ffffff;
      text-align: center;
      padding-right: 100px;
      position: relative;

      @media (max-width: 1200px) {
        padding-right: 10px;
      }
      @media (max-width: 767px) {
        padding: 0;
      }
    }

    &__logo{

      img{
        background-color: #013e26;
        border-radius: 4px;
      }
    }

    &__title{
      font-size: 36px;
      font-weight: bold;
      line-height: 1.22;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 20px;
      color: #181818;
    }

    &__sub-title{
      font-size: 18px;
      color: #93640d;
    }

    &__btn{

      .btn{
        display: inline-block;
        width: 270px;
        background-image: linear-gradient(to right, #8a3479, #fc2631);
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 0px 24px 54px -12px rgba(0,0,0,0.75);
        border-radius: 0;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s;

        &:hover{
          box-shadow: none;
        }
      }
    }
  }

  .info{
    text-align: center;
    padding: 60px 0;
    @media (max-width: 767px) {
      padding-top: 30px;
    }
    &__title{
      font-size: 36px;
      font-weight: bold;
      line-height: 0.83;
      text-align: left;
      color: #093848;
      text-transform: uppercase;

      @media (max-width: 767px) {
       text-align: center;
        line-height: 1.2;
        margin-bottom: 0;
      }
    }

    &__list{
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 65px;
      margin-top: 35px;

      @media (max-width: 767px) {
        margin-bottom: 35px;
        margin-top: 15px;
      }


      li{
        max-width: 355px;
        padding-top: 25px;
        width: 100%;
        margin: 7px;
        height: 257px;
        border: 1.2px solid #ff252f;
        border-image-source: linear-gradient(to right,#ff252f, #85357d);
        border-image-slice: 1.2;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        @media (max-width: 767px) {
          margin: 7px 0;
          width: 100%;
          height: auto;
          padding: 25px 10px;
        }

        p{
          padding-top: 8px;
          @media (max-width: 767px) {
            font-size: 15px;
            margin-bottom: 0;
          }

          br{
            @media (max-width: 767px) {
            display: none;
            }
          }
        }
      }
    }

    &__icon{
      margin-bottom: 20px;
    }

    &__btn{

      .btn{
        display: inline-block;
        width: 270px;
        background-image: linear-gradient(to right, #8a3479, #fc2631);
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        box-shadow: 0px 24px 54px -12px rgba(0,0,0,0.75);
        border-radius: 0;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s;

        &:hover{
          box-shadow: none;
        }
      }
    }
  }






}

