.info{

  &__container {
    @extend %container;
    text-align: center;
    padding: 0 0 75px;
    @media (max-width: 1200px){
      padding: 0 0 55px;
    }
  }
  &__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1200px){
      justify-content: center;
    }
  }





  &__title{
    @extend %title;
  }

  &__item{
    max-width: 263px;
    width: 100%;
    min-height: 263px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    @media (max-width: 1200px){
      margin: 14px;
    }

    &:first-child{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px 0px;
      background-color: #e4e4e4;

      p{
        &:first-child{
          padding-bottom: 20px;
          border-bottom: solid 1px #c8c8c8;
        }
        &:last-child{
          padding-top: 20px;
        }
      }

    }

    &:nth-child(2){
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 20px ;
      background: #2f2f2f url(images/about_item.png) center center no-repeat;
      background-size: cover;
      color: #fff;
      @media (max-width: 767px){
        background-image: linear-gradient(to right, #e4e4e4, #e4e4e4, #e4e4e4);
        color: #000;
      }
    }

    &:last-child{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
      color: #fff;
      max-width: 554px;
      background-image: linear-gradient(to right, #da3872, #d9384c);
      padding-left: 40px;
      font-size: 20px;
      @media (max-width: 767px){
        max-width: 263px;
        font-size: 16px;
        text-align: left;
        padding: 20px 15px;
        min-height: 190px;
        order: -1;
        background-image: linear-gradient(to right, #e4e4e4, #e4e4e4, #e4e4e4);
        color: #000;
        p{
          margin-bottom: 10px;
          line-height: 1.5;

          br{
            display: none;
          }
        }
      }
    }
  }


}