@charset "utf-8";
.profession {
  padding: 75px 0;
  background: #fff url(images/bg.jpg) center top  no-repeat;
  @media (max-width: 1200px){
    padding: 55px 0;
  }
  &__container {
    @extend %container;
    text-align: center;
    padding: 0 10px;

  }

  &__sub-title{
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 2.4px;
    text-align: center;
    color: #a4a4a4;
    text-transform: uppercase;
    @media (max-width: 767px){
      font-size: 32px;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding: 60px 0 100px;
    @media (max-width: 767px){
      padding: 30px 0;
    }
  }

  &__list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;


  }

  &__item{
    margin: 0 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1200px){
      margin: 0 30px;
    }
    @media (max-width: 767px){
      margin: 15px;
    }

    &:nth-child(odd){
      flex-direction: column-reverse;

      @media (max-width: 767px){
        flex-direction: column;
      }
      img{
        border-radius: 0 0 0 65px;
      }
    }
    img{
      box-shadow: 0px 25px 44px -13px #d9384c;
      border-radius: 0 65px 0 0;
      @media (max-width: 767px){
       width: 110px;
      }
    }
  }

  &__name{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    color: #2f2f2f;
    text-transform: uppercase;
    padding: 15px 0;
    @media (max-width: 767px){
      font-size: 16px;
    }
  }




  &__btn{
    @extend %btn;
    margin: 0 auto;

  }


}
