.company {
  position: relative;

  text-align: center;

  @include media-breakpoint-up(xl) {
  }

  .container {
    position: relative;
  }

  &__shadow {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 775px;
    height: 775px;
    position: absolute;
    transform: scale(0.4);
    top: -334px;
    left: -181px;

    @include media-breakpoint-up(xl) {
      transform: scale(1);
      z-index: -1;
      left: 180px;
    }
  }

  &__title {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;

    @include media-breakpoint-up(xl) {
      max-width: 946px;
      margin: 0 auto;
    }

    br {
      @include media-breakpoint-up(xl) {
        display: none;
      }
    }

    span {
      display: inline-block;
      background-color: $maincolor;
      color: $white;
      font-size: 24px;
      padding: 12px 11px;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 36px;
      }
    }
    p {
      margin-top: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;

      @include media-breakpoint-up(xl) {
        margin-top: 52px;
        font-size: 22px;
      }
    }
  }

  &__block {
    @include media-breakpoint-up(xl) {
      display: flex;
      gap: 42px;
      margin-top: 80px;
    }
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    //gap: 22px;
    margin: 18px 0;

    @include media-breakpoint-up(xl) {
      //gap: 15px;
    }
  }
  &__logos {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 346.496px;
    height: 190px;
    margin: 0 auto;

    @include media-breakpoint-up(xl) {
      width: 562.323px;
      height: 275.16px;
      margin: -40px auto 0;
    }
  }

  &__dec {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1770.398px;
    height: 524.609px;
    position: absolute;
    top: 11px;
    right: -281px;

    @include media-breakpoint-up(xl) {
      top: 50px;
      right: -100px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.6;
    b {
      font-weight: 700;
    }
    @include media-breakpoint-up(xl) {
      max-width: 512px;
      font-size: 18px;
      text-align: left;
    }
  }
}
