.no-webp .hero {
  background: url(../img/hero-xl.jpg) top center no-repeat;
}
.hero {
  padding-top: 98px;
  padding-bottom: 0px;

  @include media-breakpoint-up(xl) {
    padding-top: 152px;
    padding-bottom: 0;
  }

  .container {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    @include media-breakpoint-up(xl) {
      padding-bottom: 68px;
    }
  }
  &__top-block {
    @include media-breakpoint-up(xl) {
      display: flex;
      gap: 12px;
      flex-direction: column;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 18px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 26px;
      margin-bottom: 0px;
    }

    span {
      font-weight: 300;
    }
  }

  &__info {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 18px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 18px;

      margin-bottom: 0;
    }

    span {
      color: $maincolor;
      margin: 0 6px;
    }
  }

  h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    margin-bottom: 28px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 158px;
      margin-bottom: 62px;
    }

    span {
      color: $maincolor;
    }
  }

  &__dec-text {
    transform: rotate(-16.013deg);
    padding: 14px 19px;
    border-radius: 20px;
    border: 1.6px solid #009fdf;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(6.599999904632568px);
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 209px;
    position: absolute;
    top: 130px;
    right: 0;

    @include media-breakpoint-up(xl) {
      transform: rotate(10.522deg);
      padding: 14px 30px;
      font-size: 16px;
      max-width: 298px;
      line-height: 1.4;
      right: inherit;
      left: 324px;
      top: 204px;
    }
    b {
      color: $maincolor;
      font-weight: 700;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 24px;
    max-width: 163px;

    @include media-breakpoint-up(xl) {
      max-width: 506px;
      flex-direction: row;
      gap: 34px;
      margin-bottom: 48px;
    }
  }

  &__list {
    // @include media-breakpoint-up(xl) {
    //   min-width: 210px;
    // }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 16px;
      font-size: 14px;
      margin-bottom: 16px;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        gap: 60px;
        max-width: 100%;
      }

      li {
        color: $maincolor;
        position: relative;
        display: flex !important;
        gap: 8px;
        max-width: 150px;

        @include media-breakpoint-up(xl) {
          max-width: 180px;
        }

        &::before {
          flex-grow: 0;
          content: "";
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Crect x='0.5' y='0.5' width='17' height='17' rx='2.5' stroke='%23D2D2D2'/%3E%3Cg clip-path='url(%23clip0_6768_95)'%3E%3Cpath d='M14.1454 3.77344L7.01224 10.3909L3.99556 7.17165L2 9.0416L6.8736 14.2426L16 5.78374L14.1454 3.77344Z' fill='%23FF006B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6768_95'%3E%3Crect width='14' height='14' fill='white' transform='translate(2 2)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
            no-repeat center;
          min-width: 14px;
          height: 14px;
          display: block;
          background-size: contain;
        }

        span {
          color: $white;
        }
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      gap: 20px;

      .btn {
        width: auto;
        padding: 0 40px;

        @include media-breakpoint-up(xl) {
          max-width: 400px;
        }
      }
    }

    .btn-page--full {
      position: fixed;
      z-index: 10;
      width: 340px;
      height: 56px;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(xl) {
        position: relative;
        left: inherit;
        bottom: inherit;
        left: inherit;
        transform: translate(0);
      }
    }

    .btn-page-nofull {
      margin-top: 22px;
      @include media-breakpoint-up(xl) {
        margin-top: 0;
        display: inherit;
        position: relative;
      }
    }
  }

  &__img {
    width: 1180px;
    height: 716px;
    position: absolute;
    top: -84px;
    left: 74%;
    transform: translate(-50%, 0);
    z-index: -1;

    @include media-breakpoint-up(xl) {
      width: 2066px;
      height: 1127px;
      left: 50%;
      top: -200px;
    }
  }

  &__header {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;

    .hero__form_timer {
      display: flex;
      gap: 8px;
      color: #ff016b;
      font-weight: 700;
      font-size: 18px;
      line-height: 1;

      @include media-breakpoint-up(xl) {
        font-size: 22px;
      }

      .hero__timer_item {
        width: 26px;

        @include media-breakpoint-up(xl) {
          width: 36px;
        }
      }

      span {
        font-weight: 400;
        font-size: 10px;
        color: #fff;

        @include media-breakpoint-up(xl) {
          font-size: 14px;
        }
      }
    }
  }

  .block {
    &__form {
      border-radius: 20px;
      border: 1.6px solid #ff016b;
      background: #1d1d1d;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
      backdrop-filter: blur(6.599999904632568px);
      padding: 20px 16px;
      @include media-breakpoint-up(xl) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 402px;
        min-width: 345px;
      }
    }

    &__title {
      color: #fff;
      text-align: right;
      margin-top: 90px;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 114.286% */
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        margin-top: 48px;
        margin-right: 160px;
      }

      b {
        display: block;

        @include media-breakpoint-up(xl) {
          display: inline;
        }
      }
    }

    &__subtitle {
      color: #fff;
      text-align: center;
      margin-top: 32px;

      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      margin-left: auto;
      line-height: normal;

      @include media-breakpoint-up(xl) {
        margin-top: 28px;
        max-width: 320px;
        text-align: left;
        margin-right: 90px;
      }

      b {
        font-weight: 700;
      }

      strong {
        display: block;
        color: $maincolor;
      }
    }

    &__info {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
      list-style-type: disc;
      margin-top: 16px;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        margin-left: auto;
        width: 390px;
        margin-top: 48px;
        justify-content: flex-start;
        gap: 32px;
      }

      li {
        color: $maincolor;

        p {
          color: $white;
        }
      }
    }
  }
  .form {
    @include media-breakpoint-up(xl) {
      text-align: left;
    }
    &__title {
      color: $white;
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 16px;
      text-transform: uppercase;
      text-align: left;

      span {
        color: #fff;
        background-color: $maincolor;
      }
    }

    &__package {
      display: inline-flex;
      border-radius: 6px;
      border: 1px solid #ff016b;
      padding: 5px;
      position: relative;
      gap: 5px;

      @include media-breakpoint-up(xl) {
        font-size: 28px;
      }

      input:checked + span,
      .tabs__tab--active span {
        border-radius: 3px;
        background: #ff016b;
      }

      span {
        display: inline-flex;
        height: 20px;
        padding: 0 4px;
        text-transform: uppercase;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        font-weight: 700;

        @include media-breakpoint-up(xl) {
          font-size: 18px;
          // padding: 0 12px;
          height: 40px;
        }
      }
    }

    .input__wrap {
      display: block;
      text-align: left;
      margin-bottom: 15px;
      color: #000;
    }

    .input {
      width: 100%;
      height: 48px;
      border: none;
      border-radius: 4px;
      border: 0.5px solid rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.1);
      font-weight: 400;
      font-size: 16px;
      line-height: 48px;
      display: block;
      color: #fff;
      padding-left: 16px;
    }

    .intl-tel-input {
      width: 100%;
    }

    &__btn {
      margin: 16px 0;
      border: none;
      background-color: $maincolor;
      max-width: 100%;
      &:hover {
        background-color: $white;
        color: $black;
        cursor: pointer;
      }
    }

    &__agree {
      font-weight: 400;
      font-size: 14px;
      text-align: left;
      color: rgba(255, 255, 255, 0.5);

      a {
        color: $white;
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
