.section{
  border-top: solid 1px  #c8c8c8;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  &:first-child{
    border-top: none;
  }

  .swiper-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__container{
    padding: 75px 0px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 767px){
      padding: 75px 10px;
    }
    @media (max-width: 767px){
      padding: 35px 10px;
    }
  }

  &__title{
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #232323;
    margin-bottom: 60px;
    @media (max-width: 767px){
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 1.5;
    }
    span{
      color: $color-orange;
    }
  }

  &__btn {
    margin: 0;
    text-align: center;
  }

  .btn{
    position: relative;
    min-width: 220px;
    padding-top: 15px;
    padding-bottom: 14px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #ed3434;
    transition: all .5s;
    &:active,
    &:focus,
    &:hover{
      background-color: #a11313;
    }
  }


  &__advantages-list{
    margin-bottom: 55px;
    .swiper-slide{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__package{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__speakers{
    margin-bottom: 50px;
    @media (max-width: 767px){
      margin-bottom: 25px;
    }
  }

  .swiper-button{
    color: $color-orange;
  }
}
