body {
  font-family: "Montserrat", sans-serif;
  background: $bg;
  min-width: 360px;
  color: $black;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.d-xl-none {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

.d-xl-block {
  @include media-breakpoint-up(xl) {
    display: block !important;
  }
}
