
$color: #5983f6;

.themes {
  padding: 75px 0;
  position: relative;

  &:before{
    position: absolute;
    content: " ";
    background: url(images/dec.png) center center no-repeat;
    width: 1705px;
    height: 733px;
    left: 50%;
    top: 300px;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    z-index: -1;
  }

  @media (max-width: 767px){
    padding: 50px 0;
  }

  p{
    margin-bottom: 0px;
  }

  &__container {
    @extend %container;
    position: relative;
    @media (max-width: 767px){
      max-width: 100%;
    }
  }

  &__title{
    @extend %title;
  }

  &__sub-title{
    @extend %sub-title;
  }

  &__item{
    margin: 40px auto 0;
    max-width: 750px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;

    &:first-child{
      margin-top: 0;
    }
  }

  &__box{
    padding: 35px 45px;
    -webkit-box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    @media (max-width: 767px){
      padding: 15px 15px 25px ;
    }
  }

  &__header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    @media (max-width: 767px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  &__text{
    text-align: left;
    padding: 30px 0 0;
    @media (max-width: 767px){
      padding: 25px 0 0;
    }
  }

  &__info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media (max-width: 767px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &__lector-name{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    color: #c4c3c3;
    @media (max-width: 767px){
      font-size: 16px;
    }
  }

  &__time{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    color: $color;
    @media (max-width: 767px){
      font-size: 16px;
    }
  }

  &__info{

    @media (max-width: 767px){
      text-align: center;
    }

    br{
      display: none;
      @media (max-width: 767px){
        display: block;
      }
    }
  }

  &__lessons{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #828181;
    @media (max-width: 767px){
      font-size: 16px;
      line-height: 1.5;
    }

    span{
      text-transform: uppercase;
      color: $color;
    }
  }

  &__lessons-titel{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: left;
    color: #565656;
    @media (max-width: 767px){
      line-height: 1.47;
    }
  }

  &__button{
    min-width: 155px;
    text-align: center;
    margin-top: 20px;
  }

  &__more-btn{
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: $color;
    border-radius: 28px;
    border: solid 1px $color;
    position: relative;
    padding: 9px 45px 9px 25px;
    -webkit-transition: -webkit-transform 0.7s ease-out;
    transition: -webkit-transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
    display: inline-block;

    &:hover{
      text-decoration: none;
      color: white;
      cursor: pointer;
      background-color: $color;

      &:before,
      &:after{
        content: "";
        position: absolute;
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.25s ease-out;
        transition: -webkit-transform 0.25s ease-out;
        -o-transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out;
        transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
      }
    }

    &:before,
    &:after{
      content: "";
      position: absolute;
      background-color: $color;
      -webkit-transition: -webkit-transform 0.25s ease-out;
      transition: -webkit-transform 0.25s ease-out;
      -o-transition: transform 0.25s ease-out;
      transition: transform 0.25s ease-out;
      transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    }

    &:before{
      top: 50%;
      right: 24px;
      width: 2px;
      height: 10px;
      margin-top: -5px;
    }

    &:after{
      top: 50%;
      right: 20px;
      width: 10px;
      height: 2px;
      margin-top: -1px;
    }
  }

  &__more-body{
    padding-top: 30px;
  }

  &__more-list{
    position: relative;
    list-style-type: disc;
    text-align: left;
    margin-bottom: 0;
    padding-left: 20px;

    li{
      color: $color;

      span{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.5px;
        text-align: left;
        color: #565656;
        @media (max-width: 767px){
          font-size: 15px;
          line-height: 1.47;
          letter-spacing: 0.38px;
        }
      }
    }
  }
  .regular{
    font-weight: 400;
  }

  &__more-list-item{
    padding-bottom: 20px;
    font-weight: 600;
    position: relative;
    line-height: 1.5;
    color: #3d3d3d;
    @media (max-width: 767px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 15px;
    }

    &:last-child{
      padding-bottom: 0px;
    }

    p{
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: 0.5px;
      text-align: left;
      color: #565656;
    }
  }

  &__more-sub-list{
    list-style-type: disc;
    padding-top: 10px;
    @media (max-width: 767px){
      padding-top: 5px;
      margin-left: 25px;
      padding-left: 0;
    }

    li{
      color: #3d3d3d;
      font-weight: 400;
      padding-bottom: 5px;

      span{
        color: #3d3d3d;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        @media (max-width: 767px){
          font-size: 15px;
        }
      }
    }
  }
}
.themes__more-btn[aria-expanded="true"] {
  background-color: $color;
  color: #fff;
  &:before{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #fff;
  }
  &:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: #fff;
  }




}