

.timer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 0 0;

  &__title{
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.9px;
    text-align: center;
    color: #b3c8ff;
    @media (max-width: 767px){
      font-size: 16px;
    }

  }
  &__block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.24px;
    text-align: center;
    color: #fdb651;
    @media (max-width: 750px){
      font-size: 32px;
      width: 60px;
      height: 60px;
    }

    span{
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.12px;
      text-align: center;
      color: #b3c8ff;
      @media (max-width: 750px){
        font-size: 14px;
      }
    }
  }

  &__separate{
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    @media (max-width: 750px){
      font-size: 32px;
      padding-bottom: 15px;
    }
  }
}