.order {
  padding-bottom: 75px;

  @media (max-width: 767px){
    background-color: #ebe5f3;
  }

  &__container {
    @extend %container;
    padding-top: 35px;
    @media (max-width: 1200px){

    }
  }

  &__title {
    @extend %title;
    margin-bottom: 0;
  }

  &__packages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}