
.package {
  box-shadow: 0px 25px 100px 0 rgba(24, 52, 173, 0.6);
  background-image: linear-gradient(to top, #205ebe, #462491);
  max-width: 375px;
  width: 100%;
  padding-top: 50px;
  position: relative;
  margin:0 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px){
    padding-top: 35px;
  }

  &:before{
    position: absolute;
    content: " ";
    border: solid 1px #462491;
    width: 415px;
    height: 107%;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0%);
    @media (max-width: 767px){
     content: none;
    }
  }

  &__title{
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 45px;
    @media (max-width: 767px){
      font-size: 20px;
      padding-bottom: 25px;
    }
  }

  &__body{
    flex: 1 0 auto;
  }

  &__footer{

  }

  &__gift-title{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before{
      content: "+";
      display: block;
      width: 22px;
      height: 22px;
      border: solid 1px #fff;
      line-height: 20px;
      text-align: center;
      margin-right: 8px;
    }
  }

  &__list{
    list-style-type: none;
    padding-left: 85px;
    @media (max-width: 767px){
      padding-left: 35px;
    }

  }

  &__item{
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 15px;
    position: relative;
    &:before {
      position: absolute;
      font-family: FontAwesome;
      color: #99a1d4;
      content: "\F00C";
      top: 2px;
      left: -25px;
    }

    &:last-child{
      padding-bottom: 0;
    }
  }

  &__price{
    font-size: 60px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #ffffff;
    padding-top: 35px;
    @media (max-width: 767px){
      padding-top: 25px;
    }
    span{
      font-size: 18px;
      font-weight: bold;
      letter-spacing: normal;
    }
  }

  &__old-price{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.45px;
    color: #ffffff;
  }

  &__btn{
    margin: 45px 0 -43px;

    a{
      width: 305px;
      line-height: 75px;
      font-size: 18px;
      text-decoration: none;
      color: #fff;
      text-align: center;
      position: relative;
      transition: all .35s;
      position: relative;
      text-transform: uppercase;
      background-color: #fff;
      text-align: center;
      padding-left: 0px;
      border: none;
      border-radius: 0;
      margin: 0 auto;
      padding-right: 75px;
      &:hover{
        color: #fff;
      }
      @media (max-width: 767px){
        width: 280px;
      }
    }

    a p{
      position: relative;
      z-index: 2;
      line-height: 1.8;

    }
    span{
      font-size: 16px;
    }
    i{
      position: absolute;
      right: 28px;
      top: 50%;
      transform: translate(0%,-50%);
      z-index: 2;
      color: #e6872a;
    }

    a:after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      background-image: linear-gradient(to top, #e81491, #e6872a);
      transition: all .35s;
    }

    a:hover i{
      color: #fff;
    }

    a:hover:after{
      width: 100%;
    }
  }

  &__btn-platform{
    @extend %btn;
    margin: 45px 0 -43px;
    a{
      display: block;
      width: 305px;
      line-height: 75px;
      font-size: 18px;
      text-decoration: none;
      color: #fff;
      text-align: center;
      position: relative;
      transition: all .35s;
      position: relative;
      text-transform: uppercase;
      background-color: #fff;
      text-align: center;
      padding-left: 0px;
      border: none;
      border-radius: 0;
      margin: 0 auto;
      padding: 5px 75px  5px 0;
      @media (max-width: 767px){
        width: 280px;
      }
      &:after{
        background-image: linear-gradient(to top, #e81491, #e6872a);
      }

      i{
        color: #e6872a;
      }
      p{
        position: relative;
        z-index: 2;
        line-height: 1.8;

      }
      span{
        font-size: 16px;
      }
    }
  }

  &--platform{
    background-image: linear-gradient(to top, #b11a72, #e65b2a);
    box-shadow: 0px 25px 100px 0 rgba(173, 24, 112, 0.6);

    @media (max-width: 767px){
      margin-top: 100px;
    }
    &:before{
      border: solid 1px #e5592c;
    }

    .package__title{
      font-size: 22px;
      padding-bottom: 25px;
      @media (max-width: 767px){
        font-size: 20px;
      }
    }
    .package__item{

      span{
        color: #000000;
      }

      &:before {
        color: #efa99a;
      }

      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}