@charset "utf-8";
.video {

  &__container {
    @extend %container;
    padding-top: 50px;

  }
  &__title{
    @extend %title;
    color: #322c52;
    padding-bottom: 35px;
  }

  &__content{
    max-width: 875px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    &:after {
      padding-top: 56.25%;
      display: block;
      content: '';
    }

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }



}
