@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
//-font-family: 'Montserrat', sans-serif;
button{
  &:focus{
    outline: none!important;
  }
}

.branding ~ .seminars-container #main {
  z-index: inherit;
}

#bg_popup{
  display: none!important;
}

#bg_popup_two{
  display: none!important;
}

#__telerWdTriggerContent{
  display: none!important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  margin: 0;
}

html * {
  max-height: 1000000px;
}

body {
  background: #ffe2ec;
}

#main {
  width: 100%;
  overflow: hidden;

}
.circle{
  display: none;
}
%btn {

    padding: 0;

    a{
      display: block;
      width: 305px;
      line-height: 75px;
      font-size: 18px;
      text-decoration: none;
      color: #fff;
      text-align: center;
      position: relative;
      transition: all .35s;
      position: relative;
      text-transform: uppercase;
      background-color: #fff;
      text-align: left;
      padding-left: 60px;
    }

    a span{
      position: relative;
      z-index: 2;
    }
    i{
      position: absolute;
      right: 28px;
      top: 50%;
      transform: translate(0%,-50%);
      z-index: 2;
      color: #8967fd;
    }

    a:after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 75%;
      height: 100%;
      background-image: linear-gradient(to top, #1985f1, #a061ff);
      transition: all .35s;
    }

    a:hover i{
      color: #fff;
    }

    a:hover:after{
      width: 100%;
    }

}
%container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 75px 10px;
  text-align: center;
  @media (max-width: 1200px){
    max-width: 767px;
    padding: 55px 10px;

  }
  @media (max-width: 767px){
    max-width: 100%;
    padding: 30px 10px;
  }
}
svg{
  fill:  url(#a);
  transition: 0.7s;
}
%title{
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 767px){
    font-size: 20px;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.seminar-landing {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #f3f3f3;
}

.fixedtop.show {
  z-index: 10;
}

.footer {
  margin-top: 0;
}
.order__gift{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  color: #424342;
  text-transform: uppercase;
  padding-bottom: 20px;
  span{
    font-size: 25px;
  }
}

@import "mixins";
@import "variables";
@import "hero";
@import "knowledges";
@import "profession";
@import "lector";
@import "topics";
@import "teaching";
@import "gift";
@import "after";
@import "video";
@import "pricing-timer";
@import "modal-video";
@import "order";
@import "package";
@import "free-video";
@import "menu";
@import "partners";
@import "loader-page";
@import "header";
@import "footer";


.branding-page #main{
  width: 100%;
  background: #ffe2ec;
}

.branding-page{
  padding-top: 0px;
  background: #ffe2ec;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #fff;

  .heading{
    display: none;
  }
}
.section--fits{
  background: url(images/who_bg-min.jpg) no-repeat bottom center,linear-gradient(to bottom, #ffffff 0px, #ffffff 243px, #ebe5f3 243px, #ebe5f3 100%);
  @at-root .webp & {
    background:  url(images/who_bg.webp) no-repeat  bottom center,linear-gradient(to bottom, #ffffff 0px, #ffffff 243px, #ebe5f3 243px, #ebe5f3 100%);
    @media (max-width: 767px){
      background: linear-gradient(to bottom, #ffffff 0px, #ffffff 243px, #ebe5f3 243px, #ebe5f3 100%);
    }
  }
  @media (max-width: 767px){
    background: linear-gradient(to bottom, #ffffff 0px, #ffffff 243px, #ebe5f3 243px, #ebe5f3 100%);
  }
}

.section--two{
  background: linear-gradient(to bottom, #ffffff 0px, #ffffff 1000px, #3a265e 1000px, #912da8 80%, #cc6025
  100%);
 /* @at-root .webp & {
    background:  linear-gradient(to bottom, #ffffff 0px, #ffffff 1243px, #3a265e 1243px, #912da8 80%, #cc6025
    100%);

  }*/
  margin-bottom: -380px;
}
.section--last{
  padding-top: 380px;
  background: no-repeat center center,linear-gradient(to bottom, #f3f3f3 0px, #f3f3f3 243px, #eaf4fb 243px,#ebe5f3 70%, #f3f3f3 70%,#f3f3f3 100%);
  padding-bottom: 0px;
}

.thems-next{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 15px;
  top: 15px;
  background-color: #fff;
  z-index: 9999;
  cursor: pointer;

  @media (max-width: 767px){


  }
  &:before{
    content: '\f054';
    display: block;
    position: absolute;
    font-size: 21px;
    font-family: "FontAwesome";
    font-weight: 300;
    color: #d34f37;
    left: 50%;
    margin-left: -7px;
    top: 10px;

  }

}
.thems-prev{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 15px;
  z-index: 9999;
  cursor: pointer;
  background-color: #fff;
  @media (max-width: 767px){


  }
  &:before{
    content: '\f053';
    display: block;
    position: absolute;
    font-size: 21px;
    font-family: "FontAwesome";
    font-weight: 300;
    color: #d34f37;
    left: 50%;
    margin-left: -7px;
    top: 10px;

  }
}