.format {
  padding-top: 100px;
  position: relative;
  z-index: 9;

  @include media-breakpoint-up(xl) {
    padding-top: 114px;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 8px;

    @include media-breakpoint-up(xl) {
      font-size: 104px;
      text-align: left;
      margin-bottom: 38px;
    }

    span {
      color: $maincolor;
      display: block;
    }
  }

  &__table {
    padding-bottom: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='375' height='944' viewBox='0 0 375 944' fill='none'%3E%3Cpath d='M144.897 28.8678L144.753 29H144.558H-1.5V943H376.5V0.5H175.695L144.897 28.8678Z' fill='%231F1F1F' stroke='white'/%3E%3C/svg%3E")
      50% no-repeat;
    background-size: contain;
    padding-top: 8px;

    @include media-breakpoint-up(xl) {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1196.5px;
      width: 100%;
      margin: 0 auto;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1197' height='970' viewBox='0 0 1197 970' fill='none'%3E%3Cpath d='M647.557 53.9385L647.445 54H647.317H1V969.5H1196.5V0.5H745.128L647.557 53.9385Z' fill='%231F1F1F' stroke='white'/%3E%3C/svg%3E")
        50% no-repeat;

      padding-bottom: 30px;
    }
  }

  &__packeges {
    display: flex;
    justify-content: flex-end;
    padding: 10px 7px 10px;

    @include media-breakpoint-up(xl) {
      padding: 34px 24px 34px;
    }

    p {
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      padding: 2px 4px;
      color: $black;
      background-color: $maincolor;
      margin-right: 4px;
      @include media-breakpoint-up(xl) {
        font-size: 30px;
        padding: 6px 10px;
        margin-right: 31px;
      }

      &:nth-child(2) {
        margin-right: 10px;

        @include media-breakpoint-up(xl) {
          margin-right: 39px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__btns {
    display: none;

    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: flex-end;
      padding-right: 8px;
      gap: 18px;
      margin-top: 14px;

      a {
        font-size: 20px;
        color: $black;
        background-color: $maincolor;
        padding: 6px 10px;
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: $bg;
  }

  td {
    overflow: hidden;
    padding: 7px 7px 7px 0;
    text-align: left;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    position: relative;
    font-size: 12px;
    width: 50px;
    height: 50px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 6.99984L9 18.9998L3.5 13.4998L4.91 12.0898L9 16.1698L19.59 5.58984L21 6.99984Z' fill='%239FF565'/%3E%3C/svg%3E")
      50% no-repeat;
    background-size: 24px 24px;

    @include media-breakpoint-up(xl) {
      width: 140px;
    }

    &:first-child {
      border-left: none;
      width: 162px;
      background: none;
      padding: 7px 7px 7px 0;

      @include media-breakpoint-up(xl) {
        width: 697px;
        font-size: 18px;
        vertical-align: middle;
        padding: 16px 16px 16px 0;
      }
    }
  }
  .no-active {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E")
      50% no-repeat;
  }

  .clear {
    background: none;
    border-bottom: none;
  }

  .text {
    color: $maincolor;
    background: none;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    font-style: italic;

    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
  }
}
