@charset "UTF-8";
.landing-dtkt_october2019_2 .dtkt-promo { background-color: #0031ad; }

.landing-dtkt_october2019_2 .packages__column { padding-top: 50px; }

.landing-dtkt_october2019_2 .landing-title--columns { padding-top: 50px; margin-bottom: 20px; }

.landing-dtkt_october2019_2 .landing-title--columns:nth-child(2) { position: relative; }

.landing-dtkt_october2019_2 .landing-title--columns span { color: #040207; }

.landing-dtkt_october2019_2 .landing-section__action { color: #6f6f6f; font-size: 20px; }

.landing-dtkt_october2019_2 .package__title { border-bottom: 25px; color: #0031ad; font-weight: bold; min-height: 130px; display: flex; flex-direction: column; justify-content: space-between; }

.landing-dtkt_october2019_2 .package-plus { position: relative; }

.landing-dtkt_october2019_2 .package-plus .package__header { position: relative; color: #fff; background-color: #ff4a17; }

.landing-dtkt_october2019_2 .package-plus .package__header .package__title { color: #fff; }

.landing-dtkt_october2019_2 .package-plus .package__header .package__price-day { color: #fff; }

.landing-dtkt_october2019_2 .package-plus .package__header .package__price { color: #ffc3b8; }

.landing-dtkt_october2019_2 .package-plus .btn-package { background-color: #00ff48; color: #040207; }

.landing-dtkt_october2019_2 .package-plus .btn-package:hover, .landing-dtkt_october2019_2 .package-plus .btn-package:active, .landing-dtkt_october2019_2 .package-plus .btn-package:focus { background-color: #201973; color: #fff; }

.landing-dtkt_october2019_2 .package-plus-top { position: relative; }

.landing-dtkt_october2019_2 .package-plus-top:before { position: absolute; content: "топ продажу"; color: #040207; border-radius: 4px; background-color: #00ff48; width: 180px; left: 50%; top: 38px; font-size: 14px; font-weight: 600; line-height: 25px; transform: translate(-50%); text-align: center; text-transform: uppercase; z-index: 1; }

.landing-dtkt_october2019_2 .package__header { background-color: #a9e2ff; }

.landing-dtkt_october2019_2 .package__old-price { color: #f092b5; }

.landing-dtkt_october2019_2 .package__price-half { display: none !important; }

.landing-dtkt_october2019_2 .package__price { font-size: 24px; color: #008ed6; font-weight: normal; display: none; }

.landing-dtkt_october2019_2 .package__price-day { display: block; font-size: 32px; color: #0031ad; font-weight: bold; margin-bottom: 0; padding-top: 20px; }

.landing-dtkt_october2019_2 .package__body { display: flex; flex-direction: column; }

.landing-dtkt_october2019_2 .package__abilities { flex: 1 0 auto; }

.landing-dtkt_october2019_2 .package__presents-title { color: #040207; }

.landing-dtkt_october2019_2 .package__presents-list li { color: #040207; }

.landing-dtkt_october2019_2 .package__presents-list li:before { background: transparent url(images/gift_purple.svg) no-repeat top center; width: 20px; height: 24px; }

.landing-dtkt_october2019_2 .package__presents-list .no-active { color: #bdbbbb; cursor: not-allowed; }

.landing-dtkt_october2019_2 .package__presents-list .no-active:before { background: transparent url(images/gift_gray.svg) no-repeat top center; }

.landing-dtkt_october2019_2 .btn-package--six { display: none; width: 190px; margin: 0  auto; }

.landing-dtkt_october2019_2 .btn-package--twelve { display: block !important; width: 190px; margin: 0 auto; }

.landing-dtkt_october2019_2 .btn-package--twelve:after { display: none; }

.landing-dtkt_october2019_2 .btn-package { background-color: #0031ad; }

.landing-dtkt_october2019_2 .btn-package:hover, .landing-dtkt_october2019_2 .btn-package:active, .landing-dtkt_october2019_2 .btn-package:focus { background-color: #a20f51; }

.landing-dtkt_october2019_2 .package__present { display: block; }

.landing-dtkt_october2019_2 .package__abilities { color: #040207; text-align: left; }

.landing-dtkt_october2019_2 .package__abilities .package__abilities-item--noactive { color: #bdbbbb; }

.landing-dtkt_october2019_2 .package__abilities .package__abilities-item--noactive:before { color: #bdbbbb; }

.landing-dtkt_october2019_2 .package__abilities li:before { color: #e8297e; }

.landing-dtkt_october2019_2 .package__abilities-item-platform { margin-top: 50px; position: relative; }

.landing-dtkt_october2019_2 .package__abilities-item-platform:after { position: absolute; content: " "; background: transparent url(images/plus.svg) no-repeat top center; top: -40px; left: 50%; transform: translate(-50%); width: 26px; height: 26px; }

.landing-dtkt_october2019_2 .package__abilities-item-platform a { text-decoration: underline; }

.landing-dtkt_october2019_2 .package__abilities-item-platform a:hover { text-decoration: none; }

@media (max-width: 2500.98px) { .landing-page .package { width: 290px; margin: 0 auto; }
  .landing-page .package__title { font-size: 20px; }
  .landing-page .package__footer { display: none; }
  .landing-page .package__btn--collapsed { display: block; }
  .landing-page .package__abilities-list { padding-left: 20px; }
  .landing-page .package__abilities { padding-bottom: 20px; }
  .landing-page .package__abilities.collapsed { display: none; } }
