.pricing-timer {
  padding: 40px;
  box-shadow: inset 0 0 54px rgba(0, 0, 0, 0.3);
  border: 5px solid #f2f2f2;
  background-color: #ffffff;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 760px){
    padding: 20px;
  }


  &__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    text-align: left;
    color: #fff;
    margin-right: 30px;
    width: 120px;
    height: 120px;
    font-weight: 900;
    @media (max-width: 760px){
      height: 60px;
      font-size: 9px;
      margin-right: 14px;
    }


    &:last-child{
      margin-right: 0;
    }

    > span {
      color: #ffffff;
      font-size: 60px;

      text-transform: uppercase;
      padding-top: 26px;
      letter-spacing: 0.5px;
      line-height: 1;

      @media (max-width: 980px){
        font-size: 62px;
      }
      @media (max-width: 760px){
        font-size: 30px;
        padding-top: 16px;
      }

      &.separate {
        display: none;
        position: absolute;
        top: -32px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        @media (max-width: 768px){
          top: -20px;
        }
      }
    }

    &:nth-child(odd) {
      width: 147px;
      background-color: #ff002a;
      padding-bottom: 15px;
      position: relative;
      &:before{
        position: absolute;
        content: " ";
        width: 85%;
        height: 81%;
        background: url(images/timer_dec.png) no-repeat top center;
        bottom: 0;
        right: 0;
      }
      @media (max-width: 980px){
        width: 154px;
      }
      @media (max-width: 600px){
        width: 54px;
        padding-bottom: 10px;
      }
    }
    &:nth-child(even ) {
      display: none;

    }
  }
}