<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="wrapper wrapper_head">
        <div class="contents">
            <div class="block-hero">
                <div class="block-hero__menu">
                    <div id="b-menu" class="b-menu">
                        <ul class="b-menu__list b-menu__list--left">
                            <li class="b-menu__item"><a href="#lectors" class="b-menu__link js-scroll-to">Лектор</a></li>
                            <li class="b-menu__item"><a href="#themes" class="b-menu__link js-scroll-to">Теми</a></li>
                            <li class="b-menu__item"><a href="#order" class="b-menu__link js-scroll-to">Придбати</a></li>
                        </ul>
                        <ul class="b-menu__list b-menu__list--right">
                            <li class="b-menu__item"><a href="/" class="b-menu__link">Iнші семінари</a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner">
                    <div class="inner__wrap clearfix">
                        <div class="inner__sub-title">online-Школа сучасного бухгалтера:</div>
                        <h1 class="inner__title">П(C)БО<br/><span>ВІД А ДО Я</span></h1><a href="#order" class="butn butn_head js-scroll-to">Замовити</a>
                        <div class="vidModal">
                            <button type="button" data-toggle="modal" data-target="#myModal" data-vidId="ghxstxZLPCE" class="but pulse"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__newseminar">
        <div class="contents">
            <div class="block-title"> ПРО ЩО ВИ ДІЗНАЄТЕСЬ</div>
            <div class="discover">
                <div class="discover_item"><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/discover/document.png" alt="Image Title" class="discover__icon"/>
                    <div class="discover__text">бухгалтерські<br/>проведення<br/>з прикладами</div>
                </div>
                <div class="discover_item"><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/discover/contract.png" alt="Image Title" class="discover__icon"/>
                    <div class="discover__text">первинні<br/>документи обліку</div>
                </div>
                <div class="discover_item"><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/discover/search.png" alt="Image Title" class="discover__icon"/>
                    <div class="discover__text">формування<br/>фінансової звітності</div>
                </div>
                <div class="discover_item"><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/discover/badge.png" alt="Image Title" class="discover__icon"/>
                    <div class="discover__text">стандарти<br/>і бухгалтерський<br/>облік</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper__school">
        <div class="contents">
            <div class="block-title"> Для кого ця школа</div>
            <div class="block-school"><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/school/decor_sk-min.png" alt="Image Title" class="block-school__img"/>
                <div class="block-school__item">
                    <ul>
                        <li>новачки<br/>та досвідчені бухгалтери</li>
                        <li>фахівці, які хочуть зрозуміти<br/>бухгалтерський облік</li>
                        <li>кожен, хто любить бухгалтерію<br/>та живе нею щохвилини</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="lectors" class="wrapper wrapper_lectors">
        <div class="contents">
            <div class="block-lectors">
                <div class="block-lectors__sub-title">ЛЕКТОР</div>
                <div class="block-lectors__name">Людмила Тимофеєва</div>
                <div class="block-lectors__text">Головний спеціаліст АФ «Контракти-Аудит»,<br/>аудитор, податковий консультант,<br/>фахівець з оподаткування прибутку підприємств.</div>
            </div>
        </div>
    </div>
    <div id="themes" class="wrapper wrapper_topics">
        <div class="contents">
            <div class="block-title"> ТЕМИ КУРСУ</div>
            <div class="topics">
                <div class="topics__item">
                    <div class="topics__module">
                        <h2>Модуль 1.<span> «Стандарти і бухгалтерський облік»</span></h2>
                    </div>
                    <div class="topics__body">
                        <div class="slider-thems">
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 1 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">Вивчаємо Закон України «Про бухгалтерський облік і фінансову звітність в Україні»</div>
                                <ul>
                                    <li> Визначення термінів. Класифікація підприємств.</li>
                                    <li> Мета бухгалтерського обліку та фінансової звітності.</li>
                                    <li> Принципи бухгалтерського обліку.</li>
                                    <li>	Організація та ведення бухгалтерського обліку.</li>
                                    <li>	Первинні документи та регістри бухгалтерського обліку.</li>
                                    <li>	Наказ про облікову політику.</li>
                                    <li>	Формування фінансової звітності.</li>
                                    <li>	ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 2 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 7 «Основні засоби»</div>
                                <ul>
                                    <li>	Нормативні акти, що регулюють операції з основними засобами та МНМА. Облікова політика.</li>
                                    <li>	Придбання. Формування первісної вартості. Кваліфікаційні активи. Безоплатно отримані ОЗ.</li>
                                    <li>	Амортизація та строк корисного використання. Призупинення нарахування амортизації.</li>
                                    <li>	Переоцінка основних засобів та зміна корисності. Відображення у бухгалтерському обліку.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 3 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 7 «Основні засоби», П(с)БО 14 «Оренда», П(с)БО 27 «Необоротні активи, утримувані для продажу,<br/>та припинена діяльність»</div>
                                <ul>
                                    <li>Ремонт та поліпшення основних засобів у т.ч. орендованих. Документування та бухгалтерський облік.</li>
                                    <li>Продаж основних засобів. Бухгалтерський облік.</li>
                                    <li>Ліквідація основних засобів.</li>
                                    <li>Облік МНМА.</li>
                                    <li>ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 4 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 8 «Нематеріальні активи»</div>
                                <ul>
                                    <li>Визначення. Групи нематеріальних активів. Документування.</li>
                                    <li>Визнання та оцінка НА. Формування первісної вартості.</li>
                                    <li>Амортизація НА. Вибір методу нарахування амортизації та особливості визначення строку корисного використання.</li>
                                    <li>Переоцінка.</li>
                                    <li>Вибуття НА.</li>
                                    <li>Бухгалтерський облік НА.</li>
                                    <li>ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 5 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 9 «Запаси»</div>
                                <ul>
                                    <li>	Визнання та первісна оцінка запасів. Структура запасів.</li>
                                    <li>	Особливості відображення транспортно-заготівельних витрат у бухгалтерському обліку.</li>
                                    <li>	Методи вибуття запасів.</li>
                                    <li>	Оцінка запасів на дату балансу. Проведення уцінки та дооцінки у бухгалтерському обліку.</li>
                                    <li>	Списання запасів. Бухгалтерські проведення.</li>
                                    <li>	ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 6 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 10 «Дебіторська заборгованість»</div>
                                <ul>
                                    <li>	Сумнівна та безнадійна дебіторська заборгованість. Порядок списання безнадійної дебіторської заборгованості.</li>
                                    <li>	Довгострокова та поточна заборгованість.</li>
                                    <li>	Резерв сумнівних боргів: методи, розрахунок, списання тощо. Бухгалтерські проведення.</li>
                                    <li>	ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 7 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 11 «Зобов’язання»</div>
                                <ul>
                                    <li>	Поточні та довгострокові зобов’язання.</li>
                                    <li>	Непередбачені зобов’язання. Доходи майбутніх періодів.</li>
                                    <li> Визнання та оцінка зобов’язань. Теперішня вартість.</li>
                                    <li> Створення забезпечень. Бухгалтерський облік.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 8 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 12 «Фінансові інвестиції»</div>
                                <ul>
                                    <li> Види фінансових інвестицій.</li>
                                    <li>	Первісна оцінка інвестицій та оцінка на дату балансу.</li>
                                    <li> Особливості обліку інвестицій за методом участі у капіталі. Відображення у бухгалтерському обліку і фінансовій звітності.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 9 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 31 «Фінансові витрати», П(с)БО 32 «Інвестиційна нерухомість»</div>
                                <ul>
                                    <li> Визначення інвестиційного активу.</li>
                                    <li> Капіталізація фінансових витрат.</li>
                                    <li>	Випадки, причини і тривалість зупинення виконання робіт зі створення кваліфікаційного активу та капіталізації фінансових витрат.</li>
                                    <li> Визначення інвестиційної нерухомості.</li>
                                    <li> Особливості обліку та оцінки інвестиційної нерухомості.</li>
                                    <li>	Вибуття інвестиційної нерухомості.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 10 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 15 «Дохід»</div>
                                <ul>
                                    <li> Які надходження не визнаються доходом.</li>
                                    <li> Класифікація доходів. Відображення у бухгалтерському обліку.</li>
                                    <li> Дата визнання доходу від реалізації товарів, продукції.</li>
                                    <li>	Особливості визначення доходу, пов’язаного з наданням послуг.</li>
                                    <li> Як визначається дохід від цільового фінансування.</li>
                                    <li> Оцінка доходу.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 11 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 16 «Витрати» (частина 1)</div>
                                <ul>
                                    <li> Визнання та класифікація витрат. Які витрати не визнаються витратами.</li>
                                    <li>	Адміністративні витрати, витрати на збут. Інші витрати та операційні витрати у прикладах.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 12 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 16 «Витрати» (частина 2)</div>
                                <ul>
                                    <li> Виробнича собівартість. Калькуляція, об’єкт калькулювання, одиниця калькулювання, база розподілу тощо. Приклади та рекомендації.</li>
                                    <li> Загальновиробничі витрати: перелік, класифікація та розподіл. Приклади.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 13 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 17 «Податок на прибуток»</div>
                                <ul>
                                    <li> Поточний та обліковий податок на прибуток.</li>
                                    <li> Відстрочені податкові активи та відстрочені податкові зобов’язання.</li>
                                    <li> Визнання витрат (доходів) із податку на прибуток.</li>
                                    <li> Відображення у фінансовій звітності.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 14 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 21 «Вплив змін валютних курсів»</div>
                                <ul>
                                    <li> Відображення операцій в іноземній валюті.</li>
                                    <li> Розрахунок курсових різниць. Операційні та неопераційні курсові різниці. Їх вплив на фінансовий результат та на суму додаткового капіталу.</li>
                                    <li> Господарська одиниця за межами України.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 15 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 6 «Виправлення помилок та зміни у фінансових звітах»</div>
                                <ul>
                                    <li> Дата балансу, облікова оцінка та облікова політика. Зміни облікових оцінок та  облікової політики.</li>
                                    <li> Виправлення помилок поточного року та попередніх років. Термін виправлення помилок. Приклади.</li>
                                    <li> Події після дати балансу.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 16 <span>із 16</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">П(с)БО 1 «Загальні вимоги до фінансової звітності»</div>
                                <ul>
                                    <li> Термінологія для складання фінансової звітності.</li>
                                    <li> Склад та елементи фінансової звітності.</li>
                                    <li> Принципи складання фінансової звітності.</li>
                                    <li> Розкриття інформації у фінансовій звітності.</li>
                                    <li> ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topics">
                <div class="topics__item">
                    <div class="topics__module">
                        <h2>Модуль 2.<span> «Фінансова звітність»</span></h2>
                    </div>
                    <div class="topics__body">
                        <div class="slider-thems">
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 1 <span>із 2</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">«Баланс» («Звіт про фінансовий стан»)</div>
                                <ul>
                                    <li>Структура балансу: активи, власний капітал та зобов’язання.</li>
                                    <li>Формування даних балансу.</li>
                                    <li>Аналіз статей балансу.</li>
                                    <li>Типові помилки, які допускають  при складанні балансу.</li>
                                    <li>ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                            <div class="slider-thems__item">
                                <div class="topics__head">
                                    <h3>Урок 2 <span>із 2</span>
                                    </h3>
                                </div>
                                <div class="slider-thems__title">«Звіт про фінансові результати» («Звіт про сукупний дохід»).</div>
                                <ul>
                                    <li>Фінансові результати. Дані для складання звіту.</li>
                                    <li>Аналіз  витрат та доходів.</li>
                                    <li>Сукупний дохід.</li>
                                    <li>Елементи операційних витрат.</li>
                                    <li>Розрахунок показників прибутковості акцій.</li>
                                    <li>ТЕСТ-питання для закріплення знань.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="topics">
                <div class="topics__item">
                    <div class="topics__module">
                        <h2>Письмові відповіді на запитання</h2>
                    </div>
                </div>
            </div><a href="https://7eminar.com/files/Programa_psbo2019.pdf" target="_blank" class="butn">вся програма</a>
        </div>
    </div>
    <div class="wrapper wrapper__teaching">
        <div class="contents">
            <div class="block-title"> ЯК ПРОХОДИТЬ НАВЧАННЯ</div>
            <div class="block-teaching">
                <div class="block-teaching__item block-teaching__item--modul1"><img style="width: 40px;" src="https://7eminar.com/storage/seminars/pages/psbo2019/images/teaching/computer.png" alt="computer" class="block-teaching__img"/>
                    <div class="block-teaching__title">МОДУЛЬ 1</div>
                    <div class="block-teaching__text">16 відеоуроків<br/>з письмовими<br/>відповідями<br/>на запитання</div>
                </div>
                <div class="block-teaching__item block-teaching__item--modul2"><img style="width: 40px;" src="https://7eminar.com/storage/seminars/pages/psbo2019/images/teaching/computer.png" alt="computer" class="block-teaching__img"/>
                    <div class="block-teaching__title">МОДУЛЬ 2</div>
                    <div class="block-teaching__text">2 відеоуроки<br/>з письмовими<br/>відповідями<br/>на запитання</div>
                </div>
                <div class="block-teaching__item block-teaching__item--modul3"><img style="width: 40px;" src="https://7eminar.com/storage/seminars/pages/psbo2019/images/teaching/wedding-planning.png" alt="wedding-planning" class="block-teaching__img"/>
                    <div class="block-teaching__title">ТЕСТ-ПИТАННЯ</div>
                    <div class="block-teaching__text">після кожного<br/>відеоуроку<br/>для закріплення<br/>знань</div>
                </div>
                <div class="block-teaching__item block-teaching__item--modul4"><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/teaching/handshake.png" alt="handshake" class="block-teaching__img"/>
                    <div class="block-teaching__title">Отримання<br/>сертифікату</div>
                    <div class="block-teaching__text">після успішного<br/>завершення курсу</div>
                </div>
            </div>
        </div>
    </div>
    <div id="order" class="contents"></div>
    <div class="wrapper wrapper_orders">
        <div class="contents">
            <div id="timer-custom" class="wrapper wrapper_timer">
                <div class="contents">
                    <div class="block-timer">
                        <div class="timer-custom">
                            <h3>ЦІНА ДІЄ ДО <span id="timer-title">{{ page.options['date']|default('') }}</span>
                            </h3>
                            <div class="pricing-timer"  data-timer="{{ page.options['timer']|default('') }}">
                                <div class="pricing-timer__inner">
                                    <div class="pricing-timer__box"><span class="days">00</span>дні</div>
                                    <div class="pricing-timer__box"><span class="separate">:</span></div>
                                    <div class="pricing-timer__box"><span class="hours">00</span>год</div>
                                    <div class="pricing-timer__box"><span class="separate">:</span></div>
                                    <div class="pricing-timer__box"><span class="minuts">00</span>хв</div>
                                    <div class="pricing-timer__box"><span class="separate">:</span></div>
                                    <div class="pricing-timer__box"><span class="seconds">00</span>сек</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-orders">
                <div class="block-orders__wrap">
                    <div class="tarif">
                        <div class="tarif__title">ВИ ОТРИМАЄТЕ</div>
                        <ul class="tarif__list">
                            <li>вісімнадцять відеоуроків</li>
                            <li>письмові відповіді на запитання</li>
                            <li>презентації лектора</li>
                            <li>тести-питання для закріплення знань</li>
                            <li>сертифікат</li>
                        </ul>
                        <div class="tarif__price--wr">
                            <p class="tarif__price">{{shop_price('курс-26082020ПСБО_2499','site')}}<span>грн</span></p>
                        </div>
                        <div class="tarif__btn">
                            <form method="post" action="?new=1" data-validate="ajax">
                                <input type="hidden" name="product" value="курс-26082020ПСБО_2499"/>
                                <button type="submit" rel="order" class="btn btn__order">ЗАМОВИТИ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order__banner js-platform-banner">
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_video">
        <div class="contents">
            <div id="bar-1" class="section__inner">
                <div class="slider">
                    <div class="slide">
                        <p class="b-title b-title--video">Людмила Тимофеєва запрошує</p>
                        <div class="block-video__player"><a href="https://youtu.be/ghxstxZLPCE" class="video__link">
                                <picture><img src="https://i.ytimg.com/vi/ghxstxZLPCE/maxresdefault.jpg" alt="Тетяна Мойсеєнко" class="video__media"/></picture></a>
                            <button aria-label="play" class="video__button">
                                <svg>
                                    <path d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" class="video__button-shape"></path>
                                    <path d="M 45,24 27,14 27,34" class="video__button-icon"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper_certificate">
        <div class="contents">
            <div class="block-title"> ЩО ВИ ОТРИМАЄТЕ ПІСЛЯ ПРОХОДЖЕННЯ КУРСУ</div>
            <div class="block-sub-title">Ви зможете:</div>
            <div class="block-certificate">
                <div class="block-certificate__item">
                    <ul class="block-certificate__list">
                        <li>насамперед, бути більш впевненими<br/>при прийнятті бухгалтерських рішень;</li>
                        <li>скористатись інструментами бухгалтерського<br/>обліку для оптимізації;</li>
                        <li>правильно обирати і змінювати облікову<br/>політику та облікову оцінку;</li>
                        <li>проаналізувати стан бухгалтерського обліку<br/>вашого підприємства.</li>
                    </ul>
                    <p class="block-certificate__text">Відповіді на ваші запитання допоможуть<br/>в практичному житті, а сертифікат<br/>про здобутий рівень фахівця<br/>стане приємним закріпленням<br/>отриманих знань і навичок!</p>
                </div><img src="https://7eminar.com/storage/seminars/pages/psbo2019/images/cert-min.png" alt="Image Title" class="block-certificate__img"/>
            </div>
            <div class="join">Приєднуйтесь до фахівців сучасності - online-школи бухгалтера 7eminar.com!</div>
        </div><a href="#order" class="butn">замовити</a>
    </div>
    <div class="partners">
        <div class="contents">
            <table>
                <tr>
                    <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                    <td><a href="https://7eminar.com/" target="_blank" class="logonoclik"><img style="width: 175px;height: 43px;" src="https://7eminar.com/storage/seminars/mails/7eminar.png" alt="7eminar" class="img_partners1"/></a></td>
                    <td><a href="https://dtkt.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/dtkt.png" width="146" height="38" alt="Дебет-Кредит"/></a></td>
                </tr>
            </table>
          {#  <table>
                <tr>
                    <td><a href="http://www.softcom.ua/" target="_blank" rel="nofollow"><img src="/modules/seminars/images/logos/softcom.png" height="50" alt="Софтком"/></a></td>
                    <td><a href="https://kraft.net.ua" target="_blank" class="logonoclik"><img style="width: 143px;height: 38px;" src="https://7eminar.com/storage/seminars/mails/1/kraft.png" alt="Image Title" class="img_partners1"/></a></td>
                </tr>
            </table>#}

        </div>
    </div>
    <div id="myModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog">
            <p id="closeModal" data-dismiss="modal" class="close-modal close-modal-video"></p>
            <div class="modal-content">
                <div class="player"></div>
            </div>
        </div>
    </div>
</div>