.hero{
  display: block;
  width: 100%;
  z-index: 1;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: #000 url(images/head_bg-min.jpg) top center no-repeat;
  background-size: cover;

  @media (max-width: 1200px){
    background: #000;
  }

  @media (max-width: 767px){
    background: #000 url(./images/head_bg_mob.jpg) bottom center no-repeat;
    background-size: cover;
  }

  p{
    margin-bottom: 0;
  }

  &__top-container{
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
    display: none;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 1200px){
      justify-content: space-between;
    }
    @media (max-width: 767px){
      align-items: center;
      justify-content: space-around;
      padding-bottom: 10px;
    }

    img{
      width: 170px;
      height: auto;
      @media (max-width: 767px){
        width: 140px;
      }
    }
  }

  &__logo-dk{
    padding-right: 180px;
    @media (max-width: 1200px){
      padding-right: 0px;
    }

    img{
      border-radius: 4px;
    }
  }

  &__container{
    position: relative;
    padding-bottom: 45px;

    @media (max-width: 1200px){
      max-width: 767px;
    }
    @media (max-width: 767px){
      max-width: 100%;
      padding-bottom: 100px;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    padding:  45px 135px 0 90px;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 1200px){
      justify-content: center;
      flex-direction: column;
      padding:  30px 0px 0;
    }

    @media (max-width: 767px){
      padding-top: 30px;
      text-align: center;
    }
  }

  &__item{
    @media (max-width: 767px){
      display: flex;
      flex-direction: column;
    }

  }



  &__lector-name{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: right;
    color: #2ebfd9;

    @media (max-width: 767px){
      text-align: center;
      margin-top: 300px;
    }

    span{
      color: #6e7f83;
    }
  }



  &__title{
    font-size: 48px;
    font-weight: 800;
    line-height: 1.25;

    @media (max-width: 767px){
      font-size: 30px;
      line-height: 1.2;
    }

  }

  &__subtitle{
    font-size: 30px;
    font-weight: 800;

    @media (max-width: 767px){
      font-size: 18px;
      color: #6e7f83;
    }
  }

  &__seminar{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #2ebfd9;
    margin-bottom: 50px;

    @media (max-width: 767px){
      margin-bottom: 30px;
    }
  }


  &__date{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #6e7f83;
    margin-top: 50px;

    @media (max-width: 767px){
      margin-top: 30px;
    }

    span{
      color: #2ebfd9;
    }
  }

  &__button{
    @media (max-width: 1200px){
      text-align: center;
    }
  }



  &__btn{
    @extend %btn;
    margin-left: 0;
    margin-top: 35px;


    @media (max-width: 1200px){
      margin: 40px auto 30px;
    }
    @media (max-width: 767px){
      margin: 25px auto ;
      padding: 20px;
    }
  }

  &__text{

  }





  p.seminar_rec{
    font-size: 22px;
    line-height: 50px;
    padding: 0px 0 30px 20px;
    color: #000;
    @media (max-width: 1200px){
      text-align: center;
    }
    @media (max-width: 767px){
      padding: 0px 0 0px 20px;
      line-height: 1.32;
      font-size: 18px;
    }



    span {
      padding-left: 60px;
      position: relative;
      display: inline-block;

      &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        background-image: url(../../parts/pages/online/images/camera.png);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -20px;
      }
    }
  }




}





.hero__controls-modal-btn {
  top: 390px;
  left: 200px;
  position: absolute;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 103px;
  border: none;
  outline: none;
  background: url(images/btn-modal.png) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scale 1.5s linear infinite;
  animation: scale 1.5s linear infinite;
  @media (max-width: 1200px){
    display: none;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}