@charset "utf-8";

.hero {
  position: relative;
  background: url(images/bg-hero-2.jpg) no-repeat center center;

  &:before {
    content: " ";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
    @media (max-width: 1200px) {
      content: none;
    }
  }

  &__container {
    @extend %container;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      right: 235px;
      bottom: 0;
      background: url(images/TM.png) no-repeat center center;
      background-size: contain;
      width: 220px;
      height: 514px;

      @media (max-width: 1200px) {
        width: 192px;
        height: 449px;
        right: 0;
        bottom: 0;
        z-index: 2;
      }

      @media (max-width: 767px) {
        content: none;
      }
    }
  }

  &__content {
    padding-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 100px;
    padding-bottom: 150px;

    @media (max-width: 1200px) {
      padding-bottom: 110px;
      align-items: center;
      padding-left: 0;
    }
  }

  &__vebinar {
    box-shadow: 10px 22px 40px rgba(14, 37, 145, 0.21);
    border-radius: 27px;
    border: 1px solid #b8bee5;
    background-color: #f1f2ff;
    padding: 12px 25px;
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    z-index: 3;

    @media (max-width: 767px) {
      padding: 6px 25px;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    p {
      color: #007cff;
      font-size: 30px;
      letter-spacing: 0.9px;
      margin: 0;
      @media (max-width: 767px) {
        font-size: 28px;
      }

      span {
        color: #4d4e5b;
        font-size: 24px;
        font-weight: 500;
        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
    }
  }

  &__lector {
    box-shadow: 10px 22px 40px rgba(56, 81, 201, 0.21);
    border-radius: 34px;
    border: 1px solid #d3d6ff;
    background-color: #ffffff;
    padding: 8px 20px;
    margin: 0;
    position: absolute;
    right: 0;
    line-height: 1.2;
    bottom: 130px;
    text-align: center;

    @media (max-width: 1200px) {
      bottom: 20px;
      z-index: 3;
    }

    @media (max-width: 767px) {
      background-color: transparent;
      box-shadow: none;
      border: none;
      right: 50%;
      width: 320px;
      margin-right: -160px;
      z-index: 1;
    }

    a {
      color: #f522bd;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      text-decoration: none;

      span {
        color: #4d4e5b;
        font-size: 20px;
      }
    }
  }

  &__block {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    text-align: center;
    margin-left: 60px;
    @media (max-width: 1200px) {
      margin-left: 0;
      margin-top: 120px;
    }

    @media (max-width: 767px) {
      margin-top: 13px;
    }

    &:before {
      position: absolute;
      content: '';
      left: 57%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url(images/dec__hero.png) no-repeat center center;
      background-size: contain;
      width: 656px;
      height: 528px;
      z-index: -1;
      @media (max-width: 1200px) {
        width: 570px;
        height: 500px;
      }
      @media (max-width: 767px) {
        width: 370px;
        height: 300px;
      }
    }
  }

  &__title {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 66px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    border-bottom: solid 1px #ffd200;
    padding-bottom: 10px;
    @media (max-width: 1200px) {
      font-size: 50px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }

  &__sub-title {
    display: block;
    padding-top: 5px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.6px;
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__list {
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;

    @include mobile() {
      font-size: 18px;
    }

    strong {
      display: block;
      text-transform: uppercase;

      @include mobile() {
        font-size: 24px;
      }
    }
  }

  &__btn {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.45);
    border-radius: 27px;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #e2e2e2 0%, #ffffff 100%);
    color: #4d4e5b;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    display: inline-block;
    padding: 0 20px;
    margin-top: 15px;
    transition: 0.9s;

    @media (max-width: 767px) {
      margin-top: 15px;
      font-size: 16px;
      padding: 0 10px;
      line-height: 48px;
    }
    &:hover {
      text-decoration: none;
      background-image: linear-gradient(to top, #ffd200 0%, #ffd200 100%);
      transition: 0.9s;
    }

    i {
      background-color: #ffd200;
      border-radius: 50%;
      padding: 12px 13px;
      margin-left: 15px;
    }
  }

  .hero__controls-modal-btn {
    position: absolute;
    bottom: 205px;
    right: 85px;
    z-index: 4;
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 103px;
    border: none;
    outline: none;
    background: url(images/play_btn-min.png) no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: scale 1.5s linear infinite;
    -o-animation: scale 1.5s linear infinite;
    animation: scale 1.5s linear infinite;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}