.modal-video {

  .modal-dialog {
    width: 87%;
    height: 74vh;
    margin: 60px auto;
    position: relative;
  }

  .modal-content {
    background: #000;
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 42.22%;
    overflow: hidden;
  }

  iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .close-modal {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 70px;
    padding: 9px;
    height: 70px;
    z-index: 4;
    opacity: 0.8;
    cursor: pointer;

    &:after,
    &:before {

      position: absolute;
      left: 35px;
      top: 18px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #000;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}
