.order {
  padding-top: 50px;

  &__container {
    @extend %container;

  }

  &__title {
    color: #1d1d1d;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;

  }

  &__packages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 1200px){
      justify-content: center;
    }


  }

  &__package {
    width: 260px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    color: #1e1e1e;
    @media (max-width: 1200px){
     margin: 10px;
    }


    &--set{
      background-color: #004db5;
      color: #ffffff;
      .package__old-price{
        color: #549dff;

      }
      .btn{
        background-color: #fff;
      }
      .package__old-price{
        right: 45px;
        top: 10px;
      }

    }

  }

  &__timer {
    margin-bottom: 66px;

  }


}