
.package {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 10px;
  border: 2px solid #0073fa;
  text-align: center;


  &__body {
    align-items: center;
    padding: 30px 5px 30px;
    text-align: center;
    position: relative;
    @media (max-width: 850px){
      padding-bottom: 30px;
    }
  }


  &__header {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    min-height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 4px #1c92ff;
    background-color: #ffffff;
    border-radius: 25px 25px 0 0;
    color: #1e1e1e;
  }

  &__format {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    color: #0087ec;
  }

  &__price {
    font-size: 48px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    span{
      font-size: 40px;
      padding-left: 8px;
    }


  }

  &__old-price {
    position: absolute;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #c8c8c8;
    right: 65px;
    top: 10px;


  }

  &__list{
    padding-top: 20px;
    text-align: center;
    flex: 1 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &--set{
      position: relative;
      @media (max-width: 767px){
        margin-top: 10px;
      }
      &:before{
        position: absolute;
        content: '';
        left: 50%;
        top: 57%;
        transform: translate(-50%, -50%);
        background: url(images/order_dec.png) no-repeat center center;
        width: 239px;
        height: 127px;
        z-index: -1;

      }

    }
  }

  &__btn {
    margin-bottom: 30px;


    .btn{
      width: 180px;
      margin: 0 auto;
      display: block;
      line-height: 39px;
      box-shadow: 0 3px 7px rgba(3, 7, 8, 0.38);
      border-radius: 25px;
      background-color: #004db5;
      color: #ffffff;
      border: solid 1px #004db5;
      font-size: 21px;
      font-weight: 400;
      cursor: pointer;
      transition: all 150ms linear;
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 16px 21px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        color: #0900b9;
      }
    }
  }
  &__footer--set{
    .btn{
      background-color: #fff;
      color: #004db5;
    }
  }
}

