.tour_skidnytsia {
  background: #5b16c9 url(images/skidnytsia_bg.png)  center center;
  @media (max-width: 760px){
    background: #5b16c9;
  }

  &__container{
    background:  url(images/skidnytsia_img-min.jpg) no-repeat  top center;
    background-size: contain;
    @at-root .webp & {
      background:  url(images/skidnytsia_img.webp) no-repeat  top center;
      background-size: contain;
    }
    @media (max-width: 767px){
      background: none;
      @at-root .webp & {
        background: none;
      }
    }
  }
  &__month{
    border-right: solid 1px #43117c;
  }

  &__btn{
    @media (max-width: 760px){
      color: #43117c;
      margin: 20px auto;
      background-color: #d7782e;
      border: none;
    }
  }
}



