.tour_scandinavia {
  background: #d7782e url(images/emirates_bg.png)  center center;
  @media (max-width: 760px){
    background: #b05f1f;
  }

  &__container{
    background:  url(images/copertina-min.jpg) no-repeat  top center;
    background-size: contain;
    @at-root .webp & {
      background:  url(images/copertina.webp) no-repeat  top center;
      background-size: contain;
    }
    @media (max-width: 767px){
      background: none;
      @at-root .webp & {
        background: none;
      }
    }
  }

  &__btn{
    @media (max-width: 760px){
      color: #405707;
      margin: 20px auto;
      background-color: #ffc600;
      border: none;
    }
  }
}



