@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");
:root {
  --container-width: 1160px;
  --transition: 0.3s ease;
  --default-font-family: "Gilroy";
  --heading-font-family: "Neue Machina";
  --sp: 66px;
  --accent: #4c09d2;
  --fiolet: #8041ff;
  --dark: #1f2229;
  --bg: #fff;
  --text-color: #000000;
  --fz-default: 20px;
  --h1: 32px;
  --h2: 42px;
  --h3: 32px;
  --h4: 28px;
  --l: 24px;
  --m: 22px;
  --s: 18px;
  --xs: 16px;
}

.methodology .container, .program .container, .results .container, .for .container, .about .container, .hero .container {
  max-width: 375px;
  padding: 0 16px;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .methodology .container, .program .container, .results .container, .for .container, .about .container, .hero .container {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .methodology .container, .program .container, .results .container, .for .container, .about .container, .hero .container {
    max-width: 1140px;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
.results__block_title,
h3,
.results .item__number,
.about__text,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  min-width: 360px;
  color: #000;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

body.fixed {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

body.fixed section {
  filter: blur(2px);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 10px;
  width: 100%;
}

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important;
}

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99ff99 !important;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

.btn-page {
  background-color: #f76800;
  font-size: 22px;
  color: #ffffff;
  width: 100%;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  max-width: 375px;
}

.btn--radius {
  border-radius: 73px;
}

.btn--hero svg {
  width: 40px;
  height: 40px;
  margin-left: 26px;
}

.header {
  padding: 30px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111 !important;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
}
.header__logo {
  width: 216px;
  height: 47px;
  background: url(../img/header__logo--white.svg) 50%/contain no-repeat;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__menu li {
  padding: 0 30px;
}
@media (max-width: 1200px) {
  .header__menu li {
    padding: 0 12px;
  }
}
.header__menu li.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #f76800;
  padding: 10px 26px;
  padding-bottom: 12px;
  transition: var(--transition);
}
.header__menu li.btn:hover {
  background: var(--accent);
}
.header__menu li.btn a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1200px) {
  .header__menu li.btn a {
    font-size: 16px;
  }
}
.header__menu a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .header__menu a {
    font-size: 16px;
  }
}
.header__menu a:hover {
  text-decoration: underline;
}
.header__menu a.header__phone {
  font-weight: 700;
  color: #f76800;
  text-decoration: underline;
  font-size: 20px;
}
.header__burger {
  display: none;
  z-index: 30;
}
.header.active {
  background: var(--dark);
}
.header.active .header__logo {
  background: url(../img/header__logo--white.svg) 50%/contain no-repeat;
}
.header.active .header__menu {
  transform: translateX(0);
  opacity: 1;
}
.header.active .header__burger span {
  background: #fff;
}
.header.active .header__burger span:nth-child(1) {
  transform: translate(1px, 4px) rotate(45deg);
  width: 20px;
}
.header.active .header__burger span:nth-child(2) {
  width: 20px;
  transform: translate(1px, -11px) rotate(-45deg);
}
.header.active .header__burger span:nth-child(3) {
  display: none;
}

@media (max-width: 760px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: 66px;
    text-align: center;
    background: var(--dark);
    padding-top: 50px;
    padding-bottom: 46px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 36px;
    transform: translateY(-150%);
    transition: var(--transition);
    opacity: 0;
  }
  .header__menu li.btn {
    background: #f76800;
  }
  .header__menu a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
  }
  .header__burger {
    width: 25px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  .header__burger span {
    height: 3px;
    background: #f76800;
    border-radius: 4px;
    transition: 0.3s ease;
  }
}
#header-sticky-wrapper {
  height: 0 !important;
}

.hero {
  background: url(../img/hero-xl.jpg) top center no-repeat;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 56px;
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 136px;
    padding-bottom: 86px;
  }
}
.hero__description {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 16px;
}
@media (min-width: 1200px) {
  .hero__description {
    font-size: 26px;
  }
}
.hero__description span {
  color: #f76800;
}
.hero h1 {
  color: #f76800;
  font-size: 140px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 16px;
}
@media (min-width: 1200px) {
  .hero h1 {
    font-size: 202px;
  }
}
.hero__subtitle {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 34px;
}
@media (min-width: 1200px) {
  .hero__subtitle {
    font-size: 44px;
    padding-bottom: 42px;
  }
}
.hero__info {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  padding-bottom: 28px;
}
@media (min-width: 1200px) {
  .hero__info {
    padding-bottom: 44px;
    font-size: 22px;
  }
}
.hero__info span {
  color: #f76800;
  padding: 0 12px;
}
.hero__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 28px;
  position: relative;
  padding-left: 12px;
}
@media (min-width: 1200px) {
  .hero__text {
    font-size: 26px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 272px;
  }
}
.hero__text::after {
  content: "“";
  color: #f76800;
  position: absolute;
  font-style: italic;
  top: 0;
  left: 0;
}
.hero__text span {
  color: #f76800;
}

.about {
  background: #f7f7f7;
  padding-top: 62px;
  padding-bottom: 62px;
}
@media (min-width: 1200px) {
  .about {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .about__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}
.about__text {
  font-size: 18px;
  margin-bottom: 42px;
  margin-bottom: 42px;
}
@media (min-width: 1200px) {
  .about__text {
    font-size: 24px;
    padding-right: 100px;
    margin-bottom: 0;
  }
}
.about ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 42px;
}
@media (min-width: 1200px) {
  .about ul {
    max-width: 563px;
    gap: 20px;
    margin-bottom: 62px;
  }
}
.about ul li {
  border-bottom: solid 1px #dedede;
  padding-bottom: 12px;
  width: 100%;
  padding-left: 34px;
  position: relative;
}
@media (min-width: 1200px) {
  .about ul li {
    font-size: 22px;
    padding-bottom: 20px;
  }
}
.about ul li::before {
  content: "";
  position: absolute;
  background: url(../img/arrow.svg);
  width: 22px;
  height: 22px;
  display: inline-block;
  left: 4px;
  top: 0;
}
@media (min-width: 1200px) {
  .about ul li::before {
    width: 24px;
    height: 24px;
    left: 0;
  }
}
.about__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .about__title {
    font-size: 42px;
  }
}
.about__title span {
  color: #f76800;
}

.for .container {
  padding-top: 62px;
  padding-bottom: 162px;
  position: relative;
}
@media (min-width: 1200px) {
  .for .container {
    padding-top: 66px;
    padding-bottom: 258px;
  }
}
.for .container:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../img/for-img-1.png) center no-repeat;
  height: 122px;
  width: 358px;
  background-size: contain;
}
@media (min-width: 1200px) {
  .for .container:before {
    height: 185px;
    width: 564px;
    left: -35px;
  }
}
@media (min-width: 1200px) {
  .for .container::after {
    content: "";
    position: absolute;
    right: -35px;
    bottom: 0;
    background: url(../img/for-img-2.png) center no-repeat;
    background-size: contain;
    height: 185px;
    width: 564px;
  }
}
.for__title {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.for__title span {
  color: #ffffff;
  background-color: #f76800;
  padding: 0 6px;
}
@media (min-width: 1200px) {
  .for__title {
    font-size: 42px;
    margin-bottom: 62px;
  }
}
@media (min-width: 1200px) {
  .for__content {
    display: flex;
    justify-content: space-between;
  }
}
.for ul {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .for ul {
    justify-content: space-between;
    gap: 55px;
  }
}
.for ul li {
  text-align: center;
}
@media (min-width: 1200px) {
  .for ul li {
    max-width: 294px;
    text-align: left;
  }
  .for ul li:nth-child(2) {
    max-width: 368px;
  }
  .for ul li:nth-child(3) {
    max-width: 368px;
  }
}
.for ul li hr {
  width: 44px;
  height: 4px;
  background-color: #f76800;
  border: none;
  margin-top: 0;
  margin-bottom: 18px;
}
@media (min-width: 1200px) {
  .for ul li hr {
    margin-left: 0;
  }
}
.for ul li b {
  font-size: 18px;
  display: block;
  font-weight: 700;
  color: #f76800;
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .for ul li b {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .for ul li p {
    font-size: 20px;
  }
}

.results {
  background: url(../img/results-bg.jpg) center no-repeat;
  background-size: cover;
}
.results .container {
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}
.results__title {
  font-size: 26px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.results__title span {
  color: #f76800;
}
@media (min-width: 1200px) {
  .results__title {
    font-size: 42px;
  }
}
.results ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 1200px) {
  .results ul {
    gap: 16px;
    align-items: baseline;
  }
}
.results ul li {
  max-width: 343px;
  border-radius: 22px;
  background: rgba(255, 255, 255, 0.84);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  padding: 32px;
}
@media (min-width: 1200px) {
  .results ul li {
    padding: 24px 32px;
    max-width: 360px;
  }
  .results ul li:nth-child(4) {
    transform: translateY(-24px);
  }
  .results ul li:nth-child(5) {
    transform: translateY(-24px);
  }
}
.results ul li:last-child b {
  display: inline;
}
.results ul li strong {
  color: #f76800;
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin-bottom: 14px;
}
@media (min-width: 1200px) {
  .results ul li strong {
    font-size: 32px;
  }
}
.results ul li p {
  font-size: 18px;
}
@media (min-width: 1200px) {
  .results ul li p {
    font-size: 20px;
  }
}
.results ul li p b {
  font-weight: 700;
  display: block;
}

.program .container {
  padding-top: 62px;
  padding-bottom: 62px;
}
@media (min-width: 1200px) {
  .program .container {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
.program__title {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.program__title span {
  color: #ffffff;
  background-color: #f76800;
  padding: 0 6px;
}
@media (min-width: 1200px) {
  .program__title {
    font-size: 42px;
    margin-bottom: 62px;
  }
}
.program__content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  gap: 54px;
}
.program .item {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-flow: wrap;
}
.program .item.active .item__info {
  margin-top: 20px;
  max-height: 10000px;
}
.program .item.active .item__more:before {
  background: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='11' width='22' height='4' fill='%23FF8129'/%3E%3C/svg%3E%0A") 50%/contain no-repeat;
}
.program .item.active .item__more:after {
  content: "МЕНШЕ";
}
.program .item__number {
  font-size: 34px;
  width: 62px;
  color: #f76800;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .program .item__number {
    width: 120px;
    font-size: 38px;
  }
}
.program .item__title {
  width: calc(100% - 150px);
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
@media (min-width: 1200px) {
  .program .item__title {
    width: calc(100% - 270px);
    font-size: 22px;
  }
}
.program .item__title span {
  color: #f76800;
}
.program .item__more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 80px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .program .item__more {
    width: 100px;
    font-size: 18px;
  }
}
.program .item__more:before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='11' width='22' height='4' fill='%23FF8129'/%3E%3Crect x='11.5' y='24' width='22' height='4' transform='rotate(-90 11.5 24)' fill='%23FF8129'/%3E%3C/svg%3E%0A") 50%/contain no-repeat;
}
@media (min-width: 1200px) {
  .program .item__more:before {
    width: 22px;
    height: 22px;
  }
}
.program .item__more:after {
  content: "БІЛЬШЕ";
  font-weight: 500;
  font-size: 16px;
}
.program .item__info {
  width: 100%;
  padding-left: 62px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
@media (min-width: 1200px) {
  .program .item__info {
    padding-left: 120px;
    font-size: 18px;
  }
}
.program .item__info li {
  padding-left: 20px;
  background-position: 0 0;
  background: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.02381 0.5L9.56122 1.66044L8.41837 5.45824L12.5 6.77692L6.92177 12.5L3.46599 11.6297L4.60884 7.46264L0.5 6.32857L6.02381 0.5Z' fill='%23FF8129'/%3E%3C/svg%3E%0A") 0 4px no-repeat;
}
@media (min-width: 1200px) {
  .program .item__info li {
    padding-left: 34px;
  }
}
.program .item__info li:not(:last-child) {
  margin-bottom: 10px;
}

.methodology {
  background: #3d3d3d;
  color: #ffffff;
}
.methodology .container {
  position: relative;
  padding-top: 36px;
  padding-bottom: 140px;
}
@media (min-width: 1200px) {
  .methodology .container {
    padding-top: 54px;
    padding-bottom: 54px;
  }
}
.methodology .container:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../img/methodology-img.png) center no-repeat;
  height: 122px;
  width: 358px;
  background-size: contain;
}
@media (min-width: 1200px) {
  .methodology .container:before {
    width: 897.902px;
    height: 282.978px;
    left: inherit;
    right: 0;
    right: -305px;
    top: 57px;
  }
}
.methodology__content {
  max-width: 612px;
}
.methodology__title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 18px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .methodology__title {
    font-size: 38px;
    margin-bottom: 28px;
  }
}
.methodology__title b {
  display: block;
  text-align: right;
}
.methodology__text {
  color: #cdcdcd;
}
@media (min-width: 1200px) {
  .methodology__text {
    font-size: 18px;
    padding-left: 86px;
  }
}
.methodology__text p:first-child {
  margin-bottom: 12px;
}
.methodology__btn {
  margin-top: 26px;
}
@media (min-width: 1200px) {
  .methodology__btn {
    margin-top: 44px;
  }
}
.methodology__btn .btn-page {
  margin: 0 auto;
}

.footer {
  background-color: #3d3d3d;
  padding: 48px 0;
  color: #ffffff;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 268px;
}
@media (min-width: 760px) {
  .footer__container {
    max-width: 1140px;
    justify-content: center;
    gap: 80px;
  }
}
.footer__container h5 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__container ul li a {
  color: #fff;
  text-decoration: none;
}
.footer__social svg {
  fill: #f76800;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1260px) {
  .footer__decor--1 {
    position: absolute;
    left: calc(50% - 800px);
    top: -100px;
  }
  .footer__decor--2 {
    position: absolute;
    top: 70px;
    right: calc(50% - 600px);
  }
  .footer__container {
    justify-content: space-between;
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */