.footer {
  padding: 0;
  background: #262626;
  color: #fff;

  a,
  a:visited {
    color: #ffffff;
  }

  .container {
    @include media-breakpoint-up(xl) {
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__logo {
    width: 200px;
    height: 45px;
    background: center no-repeat;
    background-size: contain;
    margin-bottom: 40px;
  }

  &__menu {
    li {
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        transition: color 0.3s ease;
      }
    }
  }

  &__tel {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  &__social {
    display: flex;
    margin-top: 15px;

    &-item {
      background: #ddfe65;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 15px;
      transition: background 0.3s ease;

      &:hover {
        background: #5c0bff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__copywrite {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-right: 50px;
  }

  &__col {
    margin-top: 30px;
  }
}
