.hero {
  height: calc(100% - 243px);
  background: url(images/ezgif.com-gif-maker.jpg) no-repeat 50% 100%, linear-gradient(90deg, #efefef 0%, #efefef 27%, #f4f4f4 77%, #f0f0f0 100%);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #48494e;
  position: relative;
  background-color: #c7c7c7;
  overflow: hidden;

  @media (max-width: 700px){
    height: auto;
    padding: 35px 5px;
  }
  &__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  }
