.hero{
  display: block;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  z-index: 1;
  background: url(./images/bg_1200-min.jpg?f26a663…) center center no-repeat, linear-gradient(to right, #febb64 0%, #febb64 51%, #6591fe 56%, #6690fe 100%);

  @media (max-width: 1200px){
    justify-content: center;
    height: auto;
    background: url(images/Rectangle.jpg) center center no-repeat,linear-gradient(to right, #febb64 0%, #febb64 51%, #6591fe 56%, #6690fe 100%);
    background-size: cover
  }
  @media (max-width: 900px){
    height: auto;
  }
  @media (max-width: 767px){
    position: relative;
    background: url(images/Rectangle.jpg) center top -265px no-repeat,linear-gradient(to right, #f7f7f7 0%, #f7f7f7 51%, #f7f7f7 56%, #f7f7f7 100%);
    background-size: cover;

  }


  &__container{
    position: relative;
    @media (max-width: 1200px){
      max-width: 767px;
    }
    @media (max-width: 767px){
      max-width: 320px;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;

    padding: 30px 0 180px;
    @media (max-width: 1200px){
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-bottom: 230px;
    }
    @media (max-width: 767px){
      padding-bottom: 40px;
      padding-top: 5px;
    }
  }

  &__item{
    position: relative;
  }
  &__date{
    padding-top: 0px;
    font-size: 20px;
    padding-bottom: 25px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before{
      content: '';
      background: url(images/camera1.png) center center no-repeat;
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 10px;
      @media (max-width: 767px){
        content: none;
      }


    }
    p{
      color: #373737;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 1.5px;
      margin-bottom: 0;
      text-transform: uppercase;
      @media (max-width: 750px){
        letter-spacing: 0;

      }
    }
    span{
      color: #00c8ff;
      font-weight: 400;
      letter-spacing: 0.7px;
      @media (max-width: 750px){
        letter-spacing: 0;

      }
    }
    @media (max-width: 1200px){
      padding-top: 0px;
      padding-bottom: 35px;
      margin-left: 0;
    }
    @media (max-width: 750px){
      font-size: 16px;
      padding-top: 15px;
      padding-left: 0px;
      text-align: center;
      padding-bottom: 20px;
      letter-spacing: 0;
    }
  }

  &__info{

  }

  /*.btn{
    border-radius: 21px;
    box-shadow: 0 12px 24px rgba(175, 0, 0, 0.44);
    border: 1px solid #af0000;
    background-color: #af0000;
    background-image: linear-gradient(to top, #fe074d 0%, #f934b4 100%);
    width: 100%;
    max-width: 280px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    transition: all 0.5s;
    &:hover{
      background: #fff;
      color: #af0000;
    }
  }*/

  .information{
    margin: 0 auto;
    border-radius: 0 32px 32px 0;
    background-color: #ffffff;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #f8b42d;
    position: relative;
    max-width: 410px;
    width: 100%;
    text-align: center;
    padding: 2px 0 2px 20px;
    @media (max-width: 1200px){
      margin: 0 auto;
    }
    @media (max-width: 767px){
      text-align: center;
      padding: 15px 9px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: none;
      border: solid 1px #bd1573;

    }
    &:before{
      position: absolute;
      content: '';
      background: url(images/calendar.png) center center no-repeat;
      width: 64px;
      height: 64px;
      left: -20px;
      top: 50%;
      transform: translate(0,-50%);
      @media (max-width: 767px){
        content: none;
      }
    }

    &__title{
      color: #d25400;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0;
      span{
        text-transform: none;

      }
     .gray{
       color: #b8a0ed4f;
       font-size: 24px;
       font-weight: 300;
       letter-spacing: -0.12px;
     }
      .time{
        color: #898989;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
      }

      .month{
        color: #d25400;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
      }

    }

    span{

    }

    &__date{
      color: #373737;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.09px;
      margin-bottom: 0;
      span{
        color: #d25400;
      }
      @media (max-width: 767px){
        font-size: 16px;
      }
    }
  }

  &__title{
    font-size: 40px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #37006f;
    @media (max-width: 1200px){

    }
    @media (max-width: 767px){
      font-size: 24px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: #37006f;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
  }



  &__sub-title{
    padding-top: 80px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7;
    letter-spacing: 0.2px;
    text-align: center;
    color: #d25400;
    text-transform: uppercase;
    @media (max-width: 1200px){

    }
    @media (max-width: 767px){
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: 0.16px;
      text-align: center;
      color: #d25400;
      padding-top: 35px;
      padding-bottom: 10px;
    }

  }



  .gift{
    padding: 10px  50px;
    text-align: center;
    background-color: #ffffff;
    display: table;
    margin: 75px auto 0;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #f8b42d;
    border-radius: 0 32px 32px 0;
    position: relative;
    @media (max-width: 1200px){
      margin: 35px auto 100px;
    }
    @media (max-width: 767px){
      text-align: center;
      margin: 35px auto;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: none;
      border: solid 1px #bd1573;
      padding: 15px 30px;

    }
    &:before{
      position: absolute;
      content: '';
      background: url(images/heart-box.png) center center no-repeat;
      width: 64px;
      height: 64px;
      left: -20px;
      top: 50%;
      transform: translate(0,-50%);
      @media (max-width: 767px){
        content: none;
      }
    }


    p{
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.21;
      letter-spacing: normal;
      color: #373737;
      margin-bottom: 0;

      @media (max-width: 767px){
        text-align: center;
        text-transform: uppercase;
      }
      span{
        font-size: 16px;
        color: #d25400;
        font-weight: normal;
        text-transform: none;
        @media (max-width: 767px){
          text-align: center;
          text-transform: none;
        }
      }
    }
  }


}


.form-wr{
  max-width: 410px;
  width: 100%;
  background: url(images/form__bg.jpg) center center no-repeat;
  background-size: cover;
  @media (max-width: 1200px){
    margin: 0 auto;
  }

}
.form{
  padding: 30px;
  position: relative;
  border-radius: 10px;

  @media (max-width: 767px){
    padding: 20px 10px;
  }



  &__title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding-bottom: 5px;
    @media (max-width: 767px){
      padding-bottom: 5px;
      font-size: 24px;
    }
  }
  .form-group{
    input{
      color:  #a1a1a1;
    }
  }
  input{
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    background-color: #f6f6f6;

    height: 46px;
    padding-left: 20px;
  }
  &__btn{
    text-align: center;
    .btn{
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      height: auto;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.5;
      padding: 15px 0;
      text-transform: uppercase;
      border-radius: 35px;
       border: none;
      background-color: #001191;
      @media (max-width: 767px){
        font-size: 20px;
      }
      &:hover,
      &:active {
        color: #001191;
        background:#fff;
      }
    }
  }
  .form-group label.error {
    top: 52px;
  }
  form{
    margin-bottom: 0;
    text-align: left;
    .error{
      color: #3c3d44;
    }
  }
}
.form-group input {

  color:  #a1a1a1!important;
}
.lectors{
  position: absolute;
  left: 50%;
  bottom: -255px;
  transform: translate(-50%, 10px);
  background: url(images/lectors_1200-min.jpg)  center top no-repeat;
  width: 1140px;
  height: 396px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  @media (max-width: 1200px){
    background: url(images/lectors_720-min.jpg) center top no-repeat;
    width: 719px;
    height: 360px;
    bottom: -170px;
  }
  @media (max-width: 767px){
    background: url(images/lectors_320.png) center top no-repeat;
    width: 291px;
    height: 256px;
    bottom: -225px;
  }
  &__name{
    padding: 40px 60px 40px 30px;
    width: 100%;
    background-image: linear-gradient(to right, #8739d4 0%, #8739d4 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    -webkit-box-shadow: 0px 30px 55px 0 rgba(0, 0, 0, 0.2), inset 0 0 60px 0 rgba(3, 7, 8, 0.25);
    box-shadow: 0px 30px 55px 0 rgba(0, 0, 0, 0.2), inset 0 0 60px 0 rgba(3, 7, 8, 0.25);
    @media (max-width: 767px){
      width: 292px;
      padding: 6px 0;
      flex-wrap: wrap;
      background-image: linear-gradient(to right, transparent 0%, transparent 100%);
      -webkit-box-shadow: none;
      box-shadow: none;
      flex-direction: column;
    }
    p{
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0;
      @media (max-width: 767px){
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.16px;
        text-align: center;
        color: #4c0098;
        padding: 8px 0;
      }
      span{
        text-transform: uppercase;
        @media (max-width: 767px){
          text-transform: none;
        }
      }
      br{
        @media (max-width: 767px){
          display: none;
        }
      }
    }
  }
  &__title{
    display: none;
    @media (max-width: 767px){
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.31;
      letter-spacing: 0.75px;
      text-align: center;
      color: #373737;
      padding-top: 60px;
      text-transform: uppercase;
      display: block;
    }

  }
}
.arrow{
  width: 30px;
  margin: 0;
  display: block;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0px;
  right: 65px;
  @media (max-width: 1200px){
    bottom: 39px;
    right: 0;
    left: 47%;
    transform: rotate(0deg);
  }
  @media (max-width: 767px){
    display: none;
  }

  span{
    display: block;
    width: 21px;
    height: 21px;
    margin-left: 7px;
    border-bottom: 5px solid #b57927;
    border-right: 5px solid #b57927;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    @media (max-width: 1200px){
      width: 12px;
      height: 12px;
      margin-left: 20px;
    }
    @media (max-width: 767px){

      margin-left: 0px;
    }
    &:nth-child(2){
      animation-delay: -0.2s;
    }
    &:nth-child(3){
      animation-delay: -0.4s;

    }
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}