.page-titles {
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #930e00;
  text-transform: uppercase;



  @include laptop-l() {
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 1;

    br{
      display: none;
    }
  }
}