.places {

  @include laptop-l() {
    background: url(images/bg-min.jpg) bottom  center no-repeat;

    @at-root .webp & {
      background: url(images/bg.webp) bottom  center no-repeat;
    }
  }
  .container {
    padding-top: 50px;
    padding-bottom: 30px;

    @include laptop-l() {
      padding-top: 90px;
      padding-bottom: 40px;
    }
  }



  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 70px;
  }

  &__item{
    border-radius: 40px;
    color: #ffffff;
    text-align: left;
    padding: 190px 25px 25px 25px;
    position: relative;

    @include laptop-l() {
      height: 362px;
      padding:  0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 1000px;
    }

    .places__text{
      width: 100%;

      @include laptop-l() {
        margin-left: 75px;
        width: 400px;
      }
    }

    img{
      position: absolute;
      left: 50%;
      transform: translate(-50%,0%);
      @include laptop-l() {
        transform: translate(0%,0%);
        left: inherit;
        right: 0;
      }
    }

    &:nth-child(even){

      @include laptop-l(){
        margin-left: 140px;
        .places__text{
          margin-left: 480px;
        }
      }
    }

    &--blue{
      background-image: linear-gradient(to right, #045de9, #09c6f9);
    }

    &--orange{
      background-image: linear-gradient(to top, #f03c3c, #fd9423);
    }

    b{
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0.6px;
      line-height: 1.88;
      display: block;
      margin-bottom: 20px;

      @include laptop-l() {
        font-size: 22px;
        line-height: 1.3;
        br{
          display: none;
        }
      }
    }

    p{
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.48px;
      @include laptop-l() {
        font-size: 18px;
        line-height: 1.7;
      }
    }

    &:nth-child(1){
      margin-bottom: 110px;

      @include laptop-l() {
        margin-bottom: 100px;
        background: url(images/dec1-min.png) bottom center no-repeat,linear-gradient(to right, #045de9, #09c6f9);
      }
      img{
        width: 240px;
        top: -80px;

        @include laptop-l() {
         width: auto;
          top: -150px;
        }
      }

    }

    &:nth-child(2){
      margin-bottom: 120px;

      @include laptop-l() {
        margin-bottom: 100px;
        background: url(images/dec2-min.png) bottom center no-repeat,linear-gradient(to top, #f03c3c, #fd9423);
      }
      img{
        width: 240px;
        top: -80px;

        @include laptop-l() {
          width: auto;
          top: -85px;
          left: 0;
          right: inherit;
        }
      }

    }

    &:nth-child(3){
      margin-bottom: 55px;

      @include laptop-l() {
        margin-bottom: 100px;
        background: url(images/dec3-min.png) bottom center no-repeat,linear-gradient(to right, #045de9, #09c6f9);
      }
      img{
        width: 240px;
        top: -100px;

        @include laptop-l() {
          width: auto;
          top: -150px;
        }
      }

    }

    &:nth-child(4){
      margin-bottom: 55px;
      @include laptop-l() {
        margin-bottom: 100px;
        background: url(images/dec4-min.png) bottom center no-repeat,linear-gradient(to top, #f03c3c, #fd9423);
      }
      img{
        width: 240px;
        top: -53px;

        @include laptop-l() {
          width: auto;
          top: -85px;
          left: 0;
          right: inherit;
        }
      }

    }

  }

  &__body{

  }


}