{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте чек-лист <br>
                        <b class="hero__bold">«Неоплачувані відпустки: види і тривалість»</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book-min.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo25062020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">ОТРИМАТИ чек-лист</button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book-min.png">
            </div>
            <div class="hero__description">Також ви отримуєте можливість прослухати<br>
                <b>   Великий Кадровий Online-cемінар абсолютно безкоштовно
                </b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>


        </div>
    </div>

    <div id="theme" class="themes">
        <div class="container theme__container">
            <p class="themes__title">Безкоштовна online-трансляція двічі 25 червня</p>
            <p class="themes__sub-title">Великий Кадровий Online-cемінар</p>
            <p class="themes__sub-title"></p>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">11:00–12:00</p>
                                <p class="themes__time themes__time--two">19:00–20:00</p>
                            </div>

                            <p class="themes__lector-name">Тимур Алієв</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Класифікатор професій: як з ним працювати кадровику</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson1" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p><span>1.</span> Структура Класифікатора професій: взаємозв’язок розділів і додатків.</p></li>
                                <li class="themes__more-list-item"><p><span>2.</span> Обираємо професійну назву роботи: секрет коду КП.</p> </li>
                                <li class="themes__more-list-item"><p><span>3.</span> Формуємо посади з професійних назв робіт:</p>
                                    <ul class="themes__more-sub-list">
                                        <li>заборонена гендерність;</li>
                                        <li>віддзеркалення слів;</li>
                                        <li>використання дужок у Класифікаторі професій та на практиці;</li>
                                        <li>лапки, скорочення, іншомовні слова та абревіатури;</li>
                                        <li>галузева ознака та вид діяльності;</li>
                                        <li>похідні та уточнювальні слова до базових назв професій;</li>
                                        <li>категорії, розряди та класи у назві посади.</li>
                                    </ul>
                                </li>
                                <li class="themes__more-list-item"><p><span>4.</span> Об’єднання двох професійних назв робіт як розповсюджена помилка.</p></li>

                                <li class="themes__more-list-item"><p><span>5.</span> Зміни до Класифікатору професій: про що слід потурбуватися кадровику.</p></li>
                                <li class="themes__more-list-item"><p><span>6.</span> Назва посади не відповідає Класифікатору професій: виправляємо помилки.</p> </li>
                                <li class="themes__more-list-item"><p><span>7.</span> Класифікатор професій – основа для побудови системи оплати праці.</p>  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">12:00–12:30</p>
                                <p class="themes__time themes__time--two">20:00–20:30</p>
                            </div>

                            <p class="themes__lector-name">Тимур Алієв</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Відповіді на запитання</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">12:30–13:20</p>
                                <p class="themes__time themes__time--two">20:30–21:20</p>
                            </div>

                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Трудові зміни до КЗпП. Сучасні кадрові помилки, які потрібно негайно виправити</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson2" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p><span>1.</span> Види трудових договорів: зміни до КЗпП, ризики помилок і можливі штрафи.</p></li>
                                <li class="themes__more-list-item"><p><span>2.</span> Кадрові процедури переведення: коли вони можливі, а коли прийдеться «звільнити/прийняти».</p> </li>
                                <li class="themes__more-list-item"><p><span>3.</span> Накази по особовому складу не підписані працівником?! Які ризики виникають і коли.</p></li>
                                <li class="themes__more-list-item"><p><span>4.</span> Дещо про трудові книжки: помилки заповнення сьогодні і життя без них завтра після їх скасування.</p></li>

                                <li class="themes__more-list-item"><p><span>5.</span> Види документів, з якими працюють кадровики: первинні, облікові, розпорядчі.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">13:20–13:45</p>
                                <p class="themes__time themes__time--two">21:20–21:45</p>
                            </div>

                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Відповіді на запитання</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <div>
                                <p class="themes__time">13:45–14:00</p>
                                <p class="themes__time themes__time--two">21:45–22:00</p>
                            </div>

                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Про Бухгалтерську відеоплатформу №1: як стати користувачем.</p>
                            <p class="themes__lessons-titel">А ще фантастична новина для всіх глядачів</p>
                        </div>

                    </div>
                </div>
            </div>
            <a href="#form" class="themes__btn">Дивитися з подарунком</a>
        </div>
    </div>


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
