{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте брошуру <br>
                        <b class="hero__bold">«Універсальна таблиця нових штрафів»</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book-min.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo09072020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">ОТРИМАТИ брошуру</button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book-min.png">
            </div>
            <div class="hero__description">{#Також ви отримуєте можливість прослухати<br>
                <b>   Великий Бухгалтерський Online-cемінар абсолютно безкоштовно
                </b> #}  {#<p  class="arrow"><span></span><span></span><span></span></p> #}</div>


        </div>
    </div>



   {# <div id="themes" class="themes">
        <div class="themes__container">
            <p class="themes__title">Безкоштовна online-трансляція 9 липня</p>
            <p class="themes__sub-title">Великий Бухгалтерський Online-cемінар</p>
        </div>
        <div class="themes__main">
            <div class="themes__container themes__container--main">
                <div class="themes__main-item">
                    <div class="themes__time">
                        10:00–10:55
                    </div>
                    <div class="themes__text">
                        <p class="themes__topic">Зміни у податкових перевірках. Податкові запити</p>
                        <p class="themes__lector">Олександр Смирнов</p>
                    </div>
                </div>

                <div class="themes__main-item">
                    <div class="themes__time">
                        10:55–11:50
                    </div>
                    <div class="themes__text">
                        <p class="themes__topic">Зміни з ЄСВ, ПДФО, ВЗ. Звітність</p>
                        <p class="themes__lector">Тетяна Мойсеєнко</p>
                    </div>
                </div>

                <div class="themes__main-item">
                    <div class="themes__time">
                        11:50–12:30
                    </div>
                    <div class="themes__text">
                        <p class="themes__topic">ПДВ-зміни</p>
                        <p class="themes__lector">Сергій Дробоття</p>
                    </div>
                </div>

                <div class="themes__main-item">
                    <div class="themes__time">
                        12:30–13:00
                    </div>
                    <div class="themes__text themes__text--last">
                        <p class="themes__pause">Перерва</p>

                    </div>
                </div>
            </div>

        </div>
        <div class="themes__section">

            <div class="themes__item">
                <div class="themes__header skewX">
                    <p class="skew-norma">Секція 1: РРО, лікарняні</p>
                </div>
                <div class="themes__body">
                    <ul class="themes__list">
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    13:00–14:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Тимур Алієв
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                РРО-зміни: покрокові дії  та поради
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:00–14:30
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Тимур Алієв
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:30–15:00
                                </div>
                                <p class="themes__pause themes__pause--section">
                                    Перерва
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:00–15:45
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Тетяна Мойсеєнко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Лікарняні: розрахунок, виплата,
                                оподаткування, звітність
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:45–17:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Тетяна Мойсеєнко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                    </ul>


                </div>
            </div>

            <div class="themes__item">
                <div class="themes__header skewX">
                    <p class="skew-norma">Секція 2: ФОП, ПДВ</p>
                </div>
                <div class="themes__body">
                    <ul class="themes__list">
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    13:00–14:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Мар’яна Кавин
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                ФОП-зміни: єдиний податок,
                                ЄСВ, земельний податок
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:00–14:30
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Мар’яна Кавин
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:30–15:00
                                </div>
                                <p class="themes__pause themes__pause--section">
                                    Перерва
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:00–15:45
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Сергій Дробоття
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                ПДВ і реєстраційний ліміт.
                                Штрафи з ПДВ
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:45–17:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Сергій Дробоття
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__header skewX">
                    <p class="skew-norma">Секція 3: ОЗ, перевірки Держпраці</p>
                </div>
                <div class="themes__body">
                    <ul class="themes__list">
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    13:00–14:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Вікторія Величко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Основні засоби та амортизація:
                                зміни в податковому
                                законодавстві
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:00–14:30
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Вікторія Величко
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    14:30–15:00
                                </div>
                                <p class="themes__pause themes__pause--section">
                                    Перерва
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:00–15:45
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Олександр Смирнов
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Перевірки Держпраці:
                                зміни та поради
                            </p>
                        </li>
                        <li>
                            <div class="themes__top">
                                <div class="themes__time themes__time--section">
                                    15:45–17:00
                                </div>
                                <p class="themes__lector themes__lector--section">
                                    Олександр Смирнов
                                </p>
                            </div>
                            <p class="themes__topic themes__topic--section">
                                Відповіді на запитання
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>#}
</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
