
@charset "utf-8";
.profession {
  padding: 75px 0;
  position: relative;

  &:before{
    position: absolute;
    content: " ";
    background: url(images/dec.png) center center no-repeat;
    width: 1705px;
    height: 733px;
    left: 54%;
    top: -98px;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    z-index: -1;
  }
  @media (max-width: 767px){
    padding: 50px 0;
  }

  &__container {
    @extend %container;
    text-align: center;

  }

  &__title{
    @extend %title;
  }

  &__sub-title{
    @extend %sub-title;
  }

  &__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 70px 0;
    @media (max-width: 767px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 40px 0 0;
    }
  }

  &__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 45px;
    @media (max-width: 1200px){
      padding: 0 10px;
    }

    &:nth-child(1){
      @media (max-width: 767px){
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
      }
    }

    &:nth-child(2){
      @media (max-width: 767px){
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
      }
    }

    &:nth-child(3){
      @media (max-width: 767px){
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
      }
    }

    &:nth-child(4){
      @media (max-width: 767px){
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
      }
    }
  }

  &__name{
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: right;
    color: #565656;
    text-transform: uppercase;
    padding-top: 20px;
    position: relative;
    padding-right: 75px;

    span {
      position: relative;

      &:before{
        position: absolute;
        content: " ";
        right: -12px;
        bottom: 0;
        width: 2px;
        height: 35px;
        background-color: #c4c4c4;
      }
    }

    @media (max-width: 767px){
      margin-bottom: 40px;
      padding-top: 0;
    }
  }

  &__btn{
    @extend %btn;

  }

}