

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');



.kbs-hide{
  display: none;
}

button{
  &:focus{
    outline: none!important;

  }
}



.branding ~ .seminars-container #main {
  z-index: inherit;
}

#bg_popup{
  display: none!important;
}

#bg_popup_two{
  display: none!important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  margin: 0;
}

html * {
  max-height: 1000000px;

  //-font-family: 'Montserrat', sans-serif;

}
@import "mixins2";
@import "variables2";


#main {
  width: 100%;
  overflow: hidden;
  background: #fff!important;
}
.circle{
  display: none;
}
$btn-color:#0092d3;
$btn-color-hover: #027aae;
.container {
  max-width: 1140px;
  text-align: center;
  padding: 50px 10px 0;

  @include media-breakpoint-up(xl) {
    padding: 120px 10px 0;
  }
}

.title{
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #161616;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;

  @include media-breakpoint-up(xl) {
    font-size: 45px;
  }

  &:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0%);
    width: 290px;
    height: 1px;
    background-color: #161616;
  }
  &:before{
    position: absolute;
    content: '';
    bottom: -1px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 54px;
    height: 3px;
    background: linear-gradient(to right, #010207, #010207 50%,#0092d3 50%, #0092d3);
    z-index: 1;
  }

  &--yellow{
    color: #0092d3;

    &:before{
      background: linear-gradient(to right, #0092d3, #0092d3 50%,#fff 50%, #fff);
    }

    &:after{
      background-color: #0092d3;
    }
  }

  &--black{
    color: #0092d3;

    &:after{
      background-color: #0092d3;
    }

    &:before{
      background: linear-gradient(to right, #0092d3, #0092d3 50%,#fff 50%, #fff);
    }
  }

}

.btn{
  padding: 16px 0;
  border-radius: 5px;
  background-color: $btn-color;
  font-size: 18px;
  line-height: 1.24;
  letter-spacing: 1.1px;
  color: #fff;
  text-transform: uppercase;
  max-width: 320px;
  width: 100%;
  transition: all .7s;

  &:hover,
  &:after,
  &:focus{
    background-color: $btn-color-hover;
    outline: none;
    box-shadow: none;
  }

  &--white{
    background-color: #ffffff;

    &:hover,
    &:after,
    &:focus{
      background-color: #e5e3e3;
    }
  }
}

.d-none{
  display: none!important;
}

.d-xl-block{

  @include media-breakpoint-up(xl) {
    display: block!important;
  }
}

.d-xl-none{
  @include media-breakpoint-up(xl) {
    display: none!important;
  }
}

@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "mixins";
@import "variables";
@import "haeding";
@import "menu";
@import "hero";
@import "info";
@import "learn";
@import "advantages";
@import "professions";
@import "lectors";
@import "teaching";
@import "bonus";
@import "errors";
@import "order";
@import "packages";
@import "reviews";
@import "pricing-timer";
@import "themes";
@import "theme";
@import "projects";



.branding-page #main{
  width: 100%;
  background: #ffe2ec;
}

.branding-page{
  padding-top: 0px;
  background: #ffe2ec;
}

.branding-page .footer {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.branding ~ .seminars-container {
  padding-top: 32px;
}
.branding ~ .seminars-container #main {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 3;
  padding-top: 0;
  background: #fff;

  .heading{
    display: none;
  }
}