.no-webp .hero {
  background: url(../img/hero-xl.jpg) top center no-repeat;
}
.hero {
  padding-top: 98px;
  padding-bottom: 0px;

  @include media-breakpoint-up(xl) {
    padding-top: 152px;
    padding-bottom: 0;
  }

  .container {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    @include media-breakpoint-up(xl) {
      padding-bottom: 68px;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 18px;

    @include media-breakpoint-up(xl) {
      font-size: 28px;
      margin-bottom: 24px;
    }

    span {
      color: $maincolor;
    }
  }

  h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 90%;
    margin-bottom: 28px;

    @include media-breakpoint-up(xl) {
      font-size: 136px;
      margin-bottom: 62px;
    }

    span {
      color: $maincolor;
    }
  }

  &__dec-text {
    transform: rotate(-16.013deg);
    padding: 14px 19px;
    border-radius: 20px;
    border: 1.6px solid #009fdf;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(6.599999904632568px);
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 209px;
    position: absolute;
    top: 130px;
    right: 0;

    @include media-breakpoint-up(xl) {
      transform: rotate(10.522deg);
      padding: 14px 30px;
      font-size: 16px;
      max-width: 298px;
      line-height: 1.4;
      right: inherit;
      left: 324px;
      top: 204px;
    }
    b {
      color: $maincolor;
      font-weight: 700;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 24px;
    max-width: 163px;

    @include media-breakpoint-up(xl) {
      max-width: 506px;
      flex-direction: row;
      gap: 34px;
      margin-bottom: 48px;
    }
  }

  &__list {
    @include media-breakpoint-up(xl) {
      min-width: 210px;
    }
    b {
      display: block;
      font-size: 14px;
      margin-bottom: 8px;
      font-weight: 700;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 18px;
        margin-bottom: 12px;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      font-size: 13px;

      @include media-breakpoint-up(xl) {
        font-size: 14px;
        gap: 10px;
      }

      li {
        color: $maincolor;

        span {
          color: $white;
        }
      }
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
      gap: 20px;

      .btn {
        width: auto;
        padding: 0 40px;

        @include media-breakpoint-up(xl) {
          max-width: 400px;
        }
      }
    }

    .btn-page--full {
      position: fixed;
      z-index: 10;
      width: 340px;
      height: 56px;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(xl) {
        position: relative;
        left: inherit;
        bottom: inherit;
        left: inherit;
        transform: translate(0);
      }
    }

    .btn-page-nofull {
      display: none;

      @include media-breakpoint-up(xl) {
        display: inherit;
        position: relative;
      }
    }
  }

  &__img {
    width: 355px;
    height: 352px;
    position: absolute;
    bottom: -48px;
    right: -116px;
    z-index: -1;

    @include media-breakpoint-up(xl) {
      width: 886px;
      height: 786px;
      bottom: 0;
    }
  }
}
