.speakers {
  .container {
    @extend%content!optional;
    padding-top: 62px;
    padding-bottom: 62px;

    @include media-breakpoint-up(xl) {
      padding-top: 66px;
      padding-bottom: 66px;
      max-width: 1200px;
      position: relative;

      // &:before {
      //   content: "";
      //   position: absolute;
      //   right: 0;
      //   bottom: 44px;
      //   background: url(../img/speakers-img.png) center no-repeat;
      //   width: 524.199px;
      //   height: 404px;
      //   background-size: contain;
      // }
    }
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 36px;

    span {
      color: $white;
      background-color: $orange;
      padding: 0 6px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 42px;
      margin-bottom: 62px;
    }
  }

  &__content {
  }

  &__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .speaker {
    flex: 0 0 100%;
    @include media-breakpoint-up(xl) {
      flex: 0 0 49%;
      display: flex;
    }

    &--reverse {
      @include media-breakpoint-up(xl) {
        flex-direction: row-reverse;
      }
    }

    &.speaker--main {
      @include media-breakpoint-up(xl) {
        flex: 0 0 100%;
      }

      .speaker__photo {
        height: 320px;

        @include media-breakpoint-up(xl) {
          height: 575px;
          flex: 0 0 50%;
          background: center / cover no-repeat;
        }
      }

      .speaker__body {
        background-color: $greay;
        padding: 26px 10px;
        text-align: center;

        @include media-breakpoint-up(xl) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-left: 92px;
          padding-right: 166px;
          text-align: left;
        }
      }

      .speaker__info {
        font-weight: 700;
        @include media-breakpoint-up(xl) {
          margin-bottom: 35px;
        }
      }
      .speaker__name {
        color: $white;
        margin-bottom: 30px;
      }

      .speaker__text {
        color: $white;
      }
    }

    &__body {
      text-align: center;
      padding: 26px 10px;
      flex: 0 0 100%;
      @include media-breakpoint-up(xl) {
        padding: 28px 0 0 28px;
        text-align: left;
        flex: 0 0 50%;
      }
    }
    &__photo {
      width: 100%;
      height: 280px;
      background-size: cover;
      background-position: top center;

      @include media-breakpoint-up(xl) {
        height: 380px;
      }
    }

    &__info {
      color: $white;
      background: $orange;
      padding: 6px 14px;
      display: inline-block;

      margin-bottom: 30px;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }
    }

    &__name {
      color: $orange;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
      text-transform: uppercase;

      @include media-breakpoint-up(xl) {
        font-size: 28px;
      }
    }

    &__block {
      @include media-breakpoint-up(xl) {
        width: 227px;
      }
    }

    &__list {
      li {
        position: relative;
        margin-bottom: 6px;
        padding-left: 0;
        &::before {
          content: "";
          position: static;
          display: inline-block;
          transform: translate(-5px, 4px);
          top: 0;
          left: 0;
          width: 18px;
          height: 18px;
          background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8188 4.59003L11.3549 4.59003L11.3497 10.3885L5.03211 4.07091L3.99389 5.10914L10.3115 11.4267L4.513 11.4215L4.513 12.8958L12.8188 12.8958L12.8188 4.59003Z' fill='%23FF8129'/%3E%3C/svg%3E%0A")
            center/contain no-repeat;
        }
      }
    }

    &__text {
      color: $black;
      line-height: normal;

      b {
        font-weight: 700;
      }
    }
  }
}
