{% set link = page.url('/images') %}
<div class="seminar-landing" data-require="{{ page.url('/script.js') }}">
    <div class="hero">
        <div class="hero__container">
            <div class="hero__block">
                <div class="hero__item">
                    <p class="hero__title"><span>ПОДАРУНОК</span> <br> чекає на вас!</p>
                    <p class="hero__sub-title">Зареєструйтеся зараз і  <b>безкоштовно</b> отримайте <br>
                        <b class="hero__bold">«Універсальний навігатор податкових перевірок у 2020 році»</b> </p>
                    <img class="hero__img hidden-md hidden-sm hidden-xs"  alt="book" src="{{ page.url('/images') }}/book-min.png">
                </div>
                <form id="form"  class="free-demo" >
                    <div class="form__title">Реєстрація діє ще</div>
                    <div class="timer">
                        <div class="timer__box">
                            <div class="timer__mins">00</div><span> хв</span>
                        </div><span class="timer__separate">:</span>
                        <div class="timer__box">
                            <div class="timer__secs">00 </div><span> сек</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input  name="name" type="text" placeholder="Ім’я"  maxlength="90" minlength="2" data-msg-minlength="Введіть не менше 2 символів" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control name"/>
                    </div>

                    <div class="form-group">

                        <input  name="email" type="email" placeholder="E-mail" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control mail"/>
                    </div>

                    <div class="form-group">
                        <input  name="phone" type="text" data-rule-phoneUA="true" placeholder="Телефон" data-require="@phones,mask" required="required" data-msg-required="Це поле необхідно заповнити" class="form-control phone"/>
                    </div>
                    <input class="article"  type="hidden" value="онлайн-demo22092020_gift"/>
                    <input class="utm" name="options[utm]" type="hidden" value=""/>
                    <input class="dealer" name="dealer" type="hidden" value="4"/>
                    <div class="form__btn">
                        <button type="submit" class=" btn-default">ОТРИМАТИ подарунок</button>
                    </div>
                </form>
                <img class="hero__img visible-md visible-sm visible-xs"  alt="book" src="{{ page.url('/images') }}/book-min.png">
            </div>
            <div class="hero__description">Також ви отримуєте можливість прослухати<br>
                <b>ONLINE-конференцію абсолютно безкоштовно
                </b>   <p  class="arrow"><span></span><span></span><span></span></p> </div>


        </div>
    </div>

    <div id="theme" class="themes">
        <div class="container theme__container">
            <p class="themes__title">Безкоштовна ONLINE-конференція 22 вересня</p>
            <p class="themes__sub-title"> «Бухгалтерія без штрафів — важливі осінні новації»»</p>
            <p class="themes__sub-title"></p>
            <p class="themes__subtitle">частина 1</p>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Ірина Губіна</p>
                            <p class="themes__time">11:00–11:10</p>
                            {#<p class="themes__time themes__time--two">19:00–19:50 </p>#}
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">ТОП-10 гарячих новин: Держбюджет та нова податкова реформа</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson6" aria-expanded="false" aria-controls="#lesson6" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson6" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p> Розкриття банківської таємниці.</p></li>
                                <li class="themes__more-list-item"><p>Зміни з ПДВ, податку на прибуток, ЄСВ та ПДФО.</p></li>
                                <li class="themes__more-list-item"><p>Новації акцизного податку.</p></li>
                                <li class="themes__more-list-item"><p>Скасування мораторію на проведення документальних та фактичних перевірок... та інші гарячі новини.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Тимур Алієв</p>
                            <p class="themes__time">11:10–12:00</p>
                            {#<p class="themes__time themes__time--two">19:00–19:50 </p>#}
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">КОРО і Z-звіти: нові вимоги, які «дорого» коштують</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson1" aria-expanded="false" aria-controls="#lesson1" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson1" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>(Не)обов’язковість КОРО на РРО: хто, як і коли заповнює.</p></li>
                                <li class="themes__more-list-item"><p>Z-звіти: вимоги, проблемні ситуації, зберігання.</p></li>
                                <li class="themes__more-list-item"><p>Штрафні санкції: зміни щодо КОРО та РК-порушень.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                            <p class="themes__time">12:00–13:00</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">1 вересня стартували перевірки Держпраці та нові штрафи. Карантинні виплати.</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson2" aria-expanded="false" aria-controls="#lesson2" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson2" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Вже з 1 вересня – перевірки Держпраці та збільшені трудові штрафи:</p>
                                    <ul class="themes__more-sub-list">
                                        <li>перевірки вже розпочато! До кого приходять та які документи перевіряють?</li>
                                        <li>опитування працівників: як це відбувається на практиці? Чого не можна говорити працівникам під час перевірки Держпраці?</li>
                                    </ul>
                                </li>
                                <li class="themes__more-list-item"><p>Карантинні «ускладнення» для роботодавця</p>
                                    <ul class="themes__more-sub-list">
                                        <li>працівник з COVID-19 або на самоізоляції: оплата лікарняного;</li>
                                        <li>середня зарплата після карантину: на що звернути увагу.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="themes__sub-title">частина 2</p>
            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Сергій Дробоття</p>
                            <p class="themes__time">15:00–16:00</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Нові декларація з ПДВ та ПН. Проблемний ПДВ: податкові накладні та переплати</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson3" aria-expanded="false" aria-controls="#lesson3" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson3" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Нові декларація з ПДВ та податкова накладна – у проєкті Мінфіну: що зміниться?</p></li>
                                <li class="themes__more-list-item"><p>Нюанси складання податкових накладних:</p>
                                    <ul class="themes__more-sub-list">
                                        <li>новий Закон України «Про Митний тариф України» ― нові коди УКТ ЗЕД, як правильно їх застосовувати, проблемні питання;</li>
                                        <li>списання зіпсованого товару: умовний продаж ― зведена податкова накладна;</li>
                                        <li>відшкодування винною особою пошкодженого/втраченого товару. На що звернути увагу.</li>
                                    </ul>
                                </li>
                                <li class="themes__more-list-item"><p> Переплата з ПДВ: звідки вона береться, і як її повернути.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Мар’яна Кавин</p>
                            <p class="themes__time">16:00–16:45</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Операції з основними засобами: облік без помилок</p>
                        </div>
                        <div class="themes__button"><a data-toggle="collapse" data-target="#lesson4" aria-expanded="false" aria-controls="#lesson4" class="themes__more-btn">Детальніше</a></div>
                    </div>
                    <div id="lesson4" class="themes__more collapse">
                        <div class="themes__more-body">
                            <ul class="themes__more-list">
                                <li class="themes__more-list-item"><p>Про які ОЗ повідомляти у формі № 20-ОПП. Карантинні особливості несвоєчасного подання цієї форми.</p></li>
                                <li class="themes__more-list-item"><p>Як відрізнити операційну оренду від фінансової?</p></li>
                                <li class="themes__more-list-item"><p>Безоплатне користування майном чи оренда за 1 гривню ― вибір оптимального варіанту.</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="themes__item">
                <div class="themes__box">
                    <div class="themes__header">
                        <div class="themes__info">
                            <p class="themes__lector-name">Тетяна Мойсеєнко</p>
                            <p class="themes__time">16:45–17:15</p>
                        </div>
                        <div class="themes__text">
                            <p class="themes__lessons-titel">Про Бухгалтерську Відеоплатформу №1: як стати користувачем</p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#form" class="themes__btn">Дивитися з подарунком</a>
        </div>
    </div>


</div>
<div class="loader-backdrop">
    <div class="loader-backdrop__btn">Реєстрація
        <div class="dots">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="loader-page" class="loader-page">
    <div class="dots">
        <div class="loading"><span>7</span><span>e</span><span>m</span><span>i</span><span>n</span><span>a</span><span>r</span><span class="loading__dots">.</span><span>c</span><span>o</span><span>m</span></div>
    </div>
</div>
