 $color: #ff467f;
.themes {


  &__container {
    @extend %container;
    padding-top: 150px;
    @media (max-width: 1200px){
      padding-top: 100px;
    }
    @media (max-width: 767px){
     max-width: 100%;
    }
  }

  &__title {
    @extend %title;
    padding-bottom:10px;
    @media (max-width: 767px){
      padding-bottom: 0px;
    }

  }

  &__item{
    margin-top: 40px;
    background-color: #fff;
    &:first-child{
      margin-top: 0;
    }

  }

  &__box{

    padding: 35px 30px;
    border: solid 10px #d9c8ed;
    @media (max-width: 767px){
      padding: 15px ;
      border: solid 5px #d9c8ed;
    }


  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px){
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text{
    text-align: left;
    display: flex;
    align-items: center;

    @media (max-width: 767px){
      flex-direction: column;
      padding-bottom: 0px;
    }
  }

  &__name{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #b4b4b4;
    padding-bottom: 15px;
    @media (max-width: 767px){
      text-align: center;
      font-size: 16px;
    }
  }

  &__time{
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #828181;
    text-align: left;
    padding-right: 40px;
    @media (max-width: 767px){
      padding-right: 0px;

    }
    p{
      @media (max-width: 767px){
        display: flex;
      }
    }

    span{
      display: none;
      @media (max-width: 767px){
        display: block;
        padding: 0 5px;
      }
    }
    br{
      display: block;
      @media (max-width: 767px){
        display: none;
      }
    }

  }

  &__info{
    padding-right: 100px;
    padding-top: 3px;
    @media (max-width: 1200px){
      padding-right: 10px;
    }
    @media (max-width: 767px){
      padding-right: 0px;
    }
  }
  &__lessons{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #828181;
    @media (max-width: 767px){
      font-size: 16px;
      line-height: 1.5;
    }
    span{
      text-transform: uppercase;
      color: #ff467f;
    }
  }

  &__lector-name{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #828181;
    @media (max-width: 767px){
      font-size: 16px;
      line-height: 1.5;
    }
    &--bottom{
      margin-bottom: 15px;
    }
  }
  &__lessons-titel{
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
    padding: 7px 0;
    @media (max-width: 767px){
      font-size: 16px;
    }
  }
  &__button{
    min-width: 155px;
    @media (max-width: 767px){
      margin-top: 20px;
    }
  }

  &__more-btn{
    display: block;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    text-align: left;
    color: $color;
    border-radius: 28px;
    border: solid 1px $color;
    position: relative;
    padding: 9px 30px 9px 13px;
    transition: transform 0.7s ease-out;
    &:hover{
      text-decoration: none;
      color: white;
      cursor: pointer;
      background-color: $color;
      &:before,
      &:after{
        content: "";
        position: absolute;
        background-color: #fff;
        transition: transform 0.25s ease-out;
      }
    }
    &:before,
    &:after{
      content: "";
      position: absolute;
      background-color: $color;
      transition: transform 0.25s ease-out;
    }
    &:before{
      top: 50%;
      right: 14px;
      width: 2px;
      height: 10px;
      margin-top: -5px;
    }
    &:after{
      top: 50%;
      right: 10px;
      width: 10px;
      height: 2px;
      margin-top: -1px;
    }
  }

  &__more{


  }

  &__more-body{
    padding: 40px 20px 0px 90px;
    @media (max-width: 1200px){

    }
    @media (max-width: 767px){
      padding: 30px 0 0;
    }
  }

  &__more-list{
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-bottom: 0;



  }
  .regular{
    font-weight: 400;
  }
  &__more-list-item{
    padding-bottom: 20px;
    font-weight: 600;
    position: relative;
    line-height: 1.5;
    color: #3d3d3d;

    @media (max-width: 767px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 15px;

    }
    &:last-child{
      padding-bottom: 0px;
    }

  }

  &__more-sub-list{
    list-style-type: disc;
    margin-left: 30px;
    @media (max-width: 767px){
      padding-top: 5px;
      margin-left: 25px;
    }


    li{
      color: #3d3d3d;
      font-weight: 400;
      padding-bottom: 10px;
      span{
        color: #3d3d3d;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        @media (max-width: 767px){
          font-size: 15px;
        }
      }
    }


  }





  &__btn{
    @extend %btn;
    margin: 20px auto 0;
    display: block;
    max-width: 300px;
    width: 100%;
    @media (max-width: 767px){
      margin-top: 30px;
    }
    i{
      margin-left: 10px;
    }
  }





}
.themes__more-btn[aria-expanded="true"] {
  background-color: $color;
  color: #fff;
  &:before{
    transform: rotate(90deg);
    background-color: #fff;
  }
  &:after{
    transform: rotate(180deg);
    background-color: #fff;
  }




 }