.hero{
  display: block;
  width: 100%;
  z-index: 1;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: #000 url(images/head_bg-min.jpg) top center no-repeat;
  height: 660px;

  @media (max-width: 1200px){
    background: #000 url(images/head_bg_tab-min.jpg) top center no-repeat;
    height: 600px;
  }

  @media (max-width: 767px){
    background: #000 url(./images/head_bg_mob-min.jpg) bottom center no-repeat;
    background-size: cover;
    height: 615px;
  }

  p{
    margin-bottom: 0;
  }

  &__top-container{
    padding-bottom: 30px;
    z-index: 1;
    display: none;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 105px;
    left: 400px;

    @media (max-width: 767px){
      position: relative;
      top: inherit;
      left: inherit;
      padding-bottom: 10px;
    }

    img{
      width: 170px;
      height: auto;
      @media (max-width: 767px){
        width: 140px;
      }
    }
  }

  &__logo-dk{
    margin-right: 20px;
    background-color: #156721;
    @media (max-width: 1200px){
      padding-right: 0px;
    }

    img{
      border-radius: 4px;
    }
  }

  &__container{
    position: relative;

    @media (max-width: 1200px){
      max-width: 767px;
    }
    @media (max-width: 767px){
      max-width: 100%;
      padding-bottom: 100px;
    }
  }

  &__content{
    padding:  45px  0 0;
    color: #ffffff;
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 1200px){
      justify-content: center;
      flex-direction: column;
      padding:  30px 0px 0;
    }

    @media (max-width: 767px){
      padding-top: 15px;
      text-align: center;
    }

    h1{
      display: none;
    }
  }

  &__item{
    @media (max-width: 767px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

  &__lector-name{
    font-size: 18px;
    color: #fd6639;
    text-align: right;
    @media (max-width: 767px){
      text-align: left;
      color: #1f1f1f;
    }

    b{
      color: #ffffff;

      br{
        display: none;
        @media (max-width: 767px){
          display: block;
        }
      }
    }
  }

  &__place{

    @media (max-width: 767px){
      display: none;
    }

    a{
      text-decoration: none;
      font-size: 18px;
      letter-spacing: 1.8px;
      text-align: left;
      color: #d7d7d7;
    }
  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    @media (max-width: 1200px){
      margin-top: 113px;
    }

    @media (max-width: 767px){
      margin-top: 70px;
    }
  }

  &__title{
    font-size: 93px;
    font-weight: 800;
    line-height: 1.08;
    color: #ffffff;

    @media (max-width: 1200px){
      font-size: 64px;
    }

    @media (max-width: 767px){
      font-size: 35px;
    }

    span{
      position: relative;

      &:before{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 48px;
        height: 48px;
        background: #fff url(images/znak.png) top center no-repeat;
        @media (max-width: 767px){
          width: 17px;
          height: 17px;
          background-size: cover;
        }
      }
    }
  }

  &__subtitle{
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
    line-height: 1.4;

    @media (max-width: 767px){
      font-size: 20.5px;
    }

  }

  &__date{
   display: inline-block;
    padding: 3px 7px 0;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-align: left;
    color: #c52886;
    margin-bottom: 45px;

    @media (max-width: 767px){
      text-align: center;
      margin-bottom: 20px;
    }

    b{
      color: #1d1d1d;
      @media (max-width: 767px){
        display: block;
      }
    }
  }




  &__btn{
    @extend %btn;
    margin-left: 0;
    margin-top: 35px;
    box-shadow: 0 0 65px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(to right, #fff, #fff);
    font-size: 20px;
    font-weight: bold;
    color: #cd2883;



    @media (max-width: 1200px){
      margin: 40px auto 30px;
    }
    @media (max-width: 767px){
      margin: 25px auto ;
      padding: 20px;
    }
  }

  &__text{

  }





  p.seminar_rec{
    font-size: 22px;
    line-height: 50px;
    padding: 0px 0 30px 20px;
    color: #000;
    @media (max-width: 1200px){
      text-align: center;
    }
    @media (max-width: 767px){
      padding: 0px 0 0px 20px;
      line-height: 1.32;
      font-size: 18px;
    }



    span {
      padding-left: 60px;
      position: relative;
      display: inline-block;

      &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        background-image: url(../../parts/pages/online/images/camera.png);
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -20px;
      }
    }
  }




}





.hero__controls-modal-btn {
  top: 390px;
  left: 200px;
  position: absolute;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  height: 103px;
  border: none;
  outline: none;
  background: url(images/btn-modal.png) no-repeat center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: scale 1.5s linear infinite;
  animation: scale 1.5s linear infinite;
  @media (max-width: 1200px){
    display: none;
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}