.seminar-landing
    include parts/_loader-page
    include parts/_heder
    include parts/_hero
    include parts/_expectation
    include parts/_lectors
    include parts/_theme
    include parts/_bonus
    include parts/_order
    include parts/_video
    //-include parts/_video_btn
    include parts/_modals
    //-include parts/_popup
    //-include parts/_entertainment
    include parts/_partners
    include parts/_map
    //-include parts/_social
    include parts/_loader-backdrop