.bonus#bonus
    p.bonus__title Ви отримаєте
    .bonus__container.container
        .bonus__content
            ul.bonus__list.bonus__list--left
                li.bonus__item
                    p.bonus__text--red Роздатковий
                    p.bonus__text Матеріал
                li.bonus__item
                    p.bonus__text Відповіді
                    p.bonus__text--red на запитання
            ul.bonus__list.bonus__list--right
                li.bonus__item
                    p.bonus__text--red Відеозапис
                    p.bonus__text Семінару
                li.bonus__item
                    p.bonus__text Сертифікат
                    p.bonus__text--red учасника
        .master
            .master__title
                | Майстер-клас від
                =" "
                br.master__br
                | олени тараріної
                br
                span «7 ключів бухгалтера до змін»
            .master__text
                p Сертифікований навчальний арт-терапевт, бізнес-тренер. Президент Східноукраїнської асоціації арт-терапії. Практичний психолог вищої категорії. Організатор міжнародних фестивалів. ЗМІ-експерт.
                p Має 17-річний досвід професійної діяльності. Автор 24 книг та 26 сертифікаційних навчальних програм.
        a.button(href="#order")
            .btn__text Придбати зараз
        a.arrow(href="#order")
            span
            span
            span








