.heading.mw
    .inner
        a.logo(href='/')

        a.entry(href='https://7eminar.ua/events/access', target='_blank')
            span М
            | ій кабінет

        p
        a.video_news(href='/7min')
            span Н
            | овини

        a.video_news(href='https://7eminar.ua/')
            span П
            | ередплата

        a.main(href='/')
            span Г
            | оловна

    .menu-mob
        input#menu-checkbox(type="checkbox")
        span.burger__bg
        span.burger__element
        ul.menu
            li
                a.burger__link(href='#lectors') ЛЕКТОРИ
            li
                a.burger__link(href='#themes') ТЕМИ

            li
                a.burger__link(href='#order') ВАРТІСТЬ
            li
                a.burger__link(href='#map') МІСЦЕ ПРОВЕДЕННЯ
            li
                a.burger__link(href='#order') ОТРИМАТИ КВИТОК
