.map#map
    .map.map__container.container
        .map__place
            p м. Київ, конференц-хол «Депо»
                br
               span вул. Антоновича, 50
    a.map__link(href="https://goo.gl/maps/VPKs9jyUbrdqwdsQ9" target="_blank")