.menu.hidden-xs.hidden-sm.hidden-md
    .menu__container
        ul.menu__list
            li
                a(href="#lectors") Лектори
            li
                a(href="#themes") Теми
            //-li
                a(href="#video") Відео
            li

                a(href="#order") Придбати
        ul.menu__list
            li
                a(href="/") IНШІ СЕМІНАРИ
            //-li.hidden-lg
                a(href="#register_mob") Зареєструватися