#modal-video.modal-video.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
        #closeModal.close-modal.close-modal-video(data-dismiss="modal")
        .modal-content
            .player
#modal-present.modal-present.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
        .close-modal(data-dismiss="modal")
        .modal-content
            .modal-present__content