.plus#bonus
    .plus__container.container
        .plus__title--wr
            .pulse
            p.plus__title А також
        .plus__content
            .plus__item.plus__item--one
                | Майстер-клас від
                br
                span Маргарити
                    br
                    | Січкар
            .plus__item.plus__item--two
                | секретів
                br
                span щасливого життя
                br
                | БУХГАЛТЕРА


        .plus__flare
            p.plus__controls
                a.btn(href="#order")
                    span Замовити


