.lectors{

  &__container {
    @extend %container;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 120px;

    @media (max-width: 767px){
      padding-top: 50px;
    }

    &:before{
      position: absolute;
      content: " ";
      bottom: -64px;
      left: 0;
      background: url(images/lending_bg.png) no-repeat bottom  center;
      width: 1147px;
      height: 666px;
      z-index: -1;
    }
  }

  &__title{
    @extend %title;
    margin-bottom: 60px;
    text-align: left;

    @media (max-width: 1200px){
    text-align: center;
      margin-bottom: 30px;
    }
  }

  &__content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1200px){
      justify-content: center;
    }
  }

  &__item{
    max-width: 360px;
    width: 100%;
    margin: 15px 0;

    @media (max-width: 1200px){
      max-width: 360px;
      margin: 15px;
    }
    @media (max-width: 767px){
      margin: 15px 0;
    }
    &:nth-child(-n+3){

      @media (max-width: 767px){
        width: 260px;
        height: 367px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;

        img{
          position: absolute;
          top: 27%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }


    }
    &:nth-child(n+4){
      max-width: 260px;
    }



  }

  &__footer{
    text-align: left;
    background-color: #fff;
    padding: 25px 25px 15px 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #282828;
    min-height: 160px;

    @media (max-width: 767px){
      min-height: auto;
    }
  }

  &__btn{
    padding-top: 90px;

    @media (max-width: 767px){
      padding-top: 30px;
    }

    .btn{
      @extend %btn;
    }
  }
}