$color:  #60bf75;

.theme {
  padding: 40px;
  background-color: $color-white;
  margin-bottom: 20px;

  @media (max-width: 767px){
    padding: 20px 10px;
  }

  &:last-child{
    .theme__header{
      @media (max-width: 767px){
        padding-bottom: 0;
      }
    }
  }

  &__header{
    position: relative;
    padding-right: 200px;

    @media (max-width: 767px){
      padding-right: 0px;


    }

   &--section{
     padding-right: 0px;
     .theme__title{
       min-height: 48px;

       @media (max-width: 767px){
         min-height: auto;
       }
     }
   }
  }

  &__info{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #0e131c;
    margin-bottom: 20px;

    @media (max-width: 767px){
      font-size: 16px;
      margin-bottom: 13px;
    }

    span{
      color: $color;

      @media (max-width: 767px){
        display: block;
      }
    }

    b{
      color: #e4e4e4;
      font-weight: 500;

      @media (max-width: 767px){
        display: none;
      }
    }

    &--one{
      span{
        color: #da2cd7;
      }
    }

    &--two{


      span{
        color: #c82d56;
      }
    }
  }

  &__title{
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #0e131c;
    margin-bottom: 30px;

    @media (max-width: 767px){
      font-size: 18px;
    }
  }

  &__list{
    margin-bottom: 0;
    padding-left: 17px;
    padding-right: 200px;

    @media (max-width: 1200px){
      padding-right: 10px;
    }

    &--section{
      padding-right: 60px;

      @media (max-width: 1200px){
        padding-right: 10px;
      }
    }
  }

  &__list-item{
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    padding-bottom: 10px;

    @media (max-width: 767px){
      font-size: 15px;
      text-align: left;
    }
  }



  &__breake{
    padding-left: 40px;
    @media (max-width: 767px){
      padding-left: 0;
    }
    .theme__info{


      span{
        @media (max-width: 767px){
          display: inline-block;
        }
      }
    }
  }

}
