.event {
  padding-top: 68px;
  text-transform: uppercase;
  padding-bottom: 66px;
  position: relative;

  @include media-breakpoint-up(xl) {
    padding-top: 120px;
    padding-bottom: 77px;
  }

  .container {
    position: relative;
    text-align: center;
    color: #fff;
    text-align: left;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include media-breakpoint-up(xl) {
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      gap: 64px;
    }
  }

  &__big {
    font-size: 88px;
    font-weight: 800;
    letter-spacing: 12.786px;
    margin-bottom: -12px;
    color: #fff;

    @include media-breakpoint-up(xl) {
      font-size: 117px;
    }
  }

  &__title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.9px;

    @include media-breakpoint-up(xl) {
      font-size: 40px;
      max-width: 338px;
    }

    span {
      color: #ffde00;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-breakpoint-up(xl) {
      gap: 0;
      justify-content: space-between;
    }
  }

  p {
    opacity: 0.6;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  &__img {
    width: 335px;
    height: 212px;
    background-size: cover;

    @include media-breakpoint-up(xl) {
      width: 494px;
      height: 314px;
      margin-bottom: 38px;
    }
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 22px;
    &::before {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='3' fill='%2341B4E6'/%3E%3Cpath d='M21.9544 28.2639L32.1447 35.9576L37.2885 14L11 24.3407L18.9993 26.9903L33.5982 17.1977L21.9544 28.2639Z' fill='white'/%3E%3Cpath d='M18.9993 26.9903L21.1901 34.8739L21.9544 28.264L33.5982 17.1978L18.9993 26.9903Z' fill='%23D2D2D7'/%3E%3Cpath d='M25.2663 30.7644L21.1902 34.8739L21.9545 28.2639L25.2663 30.7644Z' fill='%23B9B9BE'/%3E%3C/svg%3E")
        no-repeat center;
      width: 50px;
      min-width: 50px;
      height: 50px;
      display: block;
      content: "";
    }
  }
  $base: 0.6rem;
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .chevron {
    position: absolute;
    width: $base * 3.5;
    height: $base * 0.8;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: red;
  }

  .chevron:before {
    left: 0;
    transform: skewY(30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }

  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY($base * 3.8);
    }
    66.6% {
      opacity: 1;
      transform: translateY($base * 5.2);
    }
    100% {
      opacity: 0;
      transform: translateY($base * 8) scale(0.5);
    }
  }
}
