.event {
  padding-top: 32px;
  text-transform: uppercase;
  padding-bottom: 66px;
  position: relative;

  @include media-breakpoint-up(xl) {
    padding-top: 120px;
    padding-bottom: 77px;
  }

  .container {
    position: relative;
    text-align: center;
    color: #fff;
    text-align: left;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__big {
    font-size: 88px;
    font-weight: 800;
    letter-spacing: 12.786px;
    margin-bottom: -12px;
  }

  &__title {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.9px;

    span {
      color: #ffde00;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  p {
    opacity: 0.6;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  &__img {
    width: 335px;
    height: 212px;
    background-size: cover;
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 22px;
    &::before {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' fill='none'%3E%3Crect width='50' height='50' rx='3' fill='%2341B4E6'/%3E%3Cpath d='M21.9544 28.2639L32.1447 35.9576L37.2885 14L11 24.3407L18.9993 26.9903L33.5982 17.1977L21.9544 28.2639Z' fill='white'/%3E%3Cpath d='M18.9993 26.9903L21.1901 34.8739L21.9544 28.264L33.5982 17.1978L18.9993 26.9903Z' fill='%23D2D2D7'/%3E%3Cpath d='M25.2663 30.7644L21.1902 34.8739L21.9545 28.2639L25.2663 30.7644Z' fill='%23B9B9BE'/%3E%3C/svg%3E")
        no-repeat center;
      width: 50px;
      min-width: 50px;
      height: 50px;
      display: block;
      content: "";
    }
  }
}
