.partners {
  padding-top: 72px;
  text-transform: uppercase;
  padding-bottom: 0px;
  position: relative;
  color: #fff;

  @include media-breakpoint-up(xl) {
    padding-top: 32px;
    margin-top: 100px;
    padding-bottom: 0;
  }
  .page-line {
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
    }

    &-text {
      color: #ff4545;
      font-size: 34px;
      font-weight: 800;
      line-height: 56px; /* 164.706% */
      display: flex;
      gap: 6px;
      text-align: center;
      justify-self: center;

      @include media-breakpoint-up(xl) {
        font-size: 45px;
      }

      span {
        color: #fff;
      }
    }

    &-line {
      display: block;
      min-width: 32px;
      height: 40px;
      background-size: contain;
      background: url("data:image/svg+xml,%3Csvg width='148' height='173' viewBox='0 0 148 173' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 173L58.4622 0H87.8055L28.6445 173H0Z' fill='%23FFDE00'/%3E%3Cpath d='M60.1945 173L118.657 0H148L88.839 173H60.1945Z' fill='%23FFDE00'/%3E%3C/svg%3E%0A")
        center/contain no-repeat;
    }
  }

  &__list {
    padding-bottom: 48px;

    @include media-breakpoint-up(xl) {
      padding-bottom: 66px;
    }

    &:last-child {
      padding-bottom: 0;
    }
    h3 {
      color: #fff;
      text-align: center;
      opacity: 0.6;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 22px;
    }
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @include media-breakpoint-up(xl) {
      gap: 36px;
    }
  }

  &__img {
  }
}
