.places {
  background-color: #138ea5;

  .container {
    padding-top: 50px;
    padding-bottom: 30px;

    @include laptop-l() {
      padding-top: 90px;
      padding-bottom: 40px;
    }
  }

  .page-titles{
    color: #fff;
  }

  &__list{
    list-style-type: none;
    padding: 0;
    margin: 0;

    img{
      width: 80%;
      display: block;
      margin: 0 auto;
    }

    li{
      padding-bottom: 50px;
      color: #ffffff;

      @include mobile() {
        display: flex;
        align-items: center;
      }

      &:last-child{
        padding-bottom: 35px;

        @include mobile() {
          padding-bottom: 90px;
        }
      }

      &:nth-child(odd){

        @include mobile() {
          flex-direction: row-reverse;
        }
      }

      p{
        margin-bottom: 15px;
        font-size: 16px;

        @include mobile() {
          font-size: 20px;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }

      b{
        font-size: 18px;
        display: block;
        margin-bottom: 25px;
        margin-top: 15px;
        text-transform: uppercase;
        line-height: 1.3;

        @include mobile() {
          font-size: 30px;
          margin-bottom: 40px;
        }
      }
    }
  }

  &__body{

    br{
      display: none;
      @include mobile() {
        display: block;
      }
    }

    @include mobile() {
      max-width: 390px;
      width: 100%;
    }
  }
}