.safety {

  .container {
    padding-top: 0px;
    padding-bottom: 20px;

    @include laptop-l() {
      padding-top: 0px;
      padding-bottom: 50px;
    }
  }

  &__info {
    margin: 0;
    line-height: 1.38;
    text-align: center;

    @include laptop-l() {
      position: relative;
      padding: 45px 35px 50px 105px;
      margin-left: 40%;
      margin-right: 15%;
      text-align: left;
    }

    &:before {
      content: '';
      display: block;
      width: 210.8px;
      height: 183.6px;
      margin: 0 auto 20px;
      background: url(images/manedger-min.png) no-repeat top center;
      background-size: cover;

      @include laptop-l() {
        width: 293px;
        height: 283px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -220px;
        z-index: -1;
      }
    }

    span{
      color: #096994;
    }
  }
}