.pass {
  text-align: center;
  padding-bottom: 80px;
  color: #fff;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: url(../img/pass-bg-mob-min.png) no-repeat center;
    width: 376px;
    height: 544px;
    background-size: cover;
    top: -0px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;

    @include media-breakpoint-up(xl) {
      content: none;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-bottom: 120px;
  }
  .container {
    position: relative;
    &:before {
      top: 0px;
      z-index: -1;
      right: 0%;

      @include media-breakpoint-up(xl) {
        position: absolute;
        content: "";

        background-size: cover;
        background: url(../img/ellipse-white-min.png) no-repeat center;
        width: 1600px;
        height: 1600px;
        right: -850px;
        top: -700px;
      }
    }
  }

  .pass-bg {
    position: absolute;
    width: 1360px;
    height: 470px;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40px;
  }

  h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;

    @include media-breakpoint-up(xl) {
      font-size: 32px;
      text-align: center;
    }

    span {
      color: #fe5151;
    }
  }
  .btn-page {
    margin: 0 auto;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    @include media-breakpoint-up(xl) {
      font-size: 20px;
      text-align: center;
    }

    b {
      font-weight: 700;
    }
  }

  &__slider {
    .img {
      width: 335px;
      border-radius: 20px;
      height: 232px;
      background-size: contain;
    }
    .swiper-pagination {
      position: relative;
      left: 0;
      bottom: 0;
      margin-top: 20px;
      margin-bottom: 40px;

      .swiper-pagination-bullet-active {
        background-color: #fe5151 !important;
      }

      .swiper-pagination-bullet {
        background-color: #818081;
      }
    }
  }
}
