.faq {
  padding-bottom: 0px;
  background: #f5f7ff;
  @include media-breakpoint-up(xl) {
    padding-bottom: 0;
  }

  h2 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 40px;
      margin-bottom: 62px;
    }
    span {
      color: $maincolor;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media-breakpoint-up(xl) {
      gap: 16px;
    }

    .item {
      display: flex;
      justify-content: normal;
      align-items: center;
      flex-flow: wrap;
      padding: 16px 18px;
      position: relative;
      border-radius: 7px;
      //border: 2px solid $maincolor;

      @include media-breakpoint-up(xl) {
        padding: 16px;
      }

      &.active {
        .item__info {
          max-height: 10000px;
        }

        .item__more {
          &:before {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Crect x='22.5' y='14' width='2' height='14' transform='rotate(90 22.5 14)' fill='%233217FF'/%3E%3C/svg%3E")
              50% / contain no-repeat;
          }
        }
      }

      &__title {
        width: calc(100% - 100px);
        font-size: 14px;
        font-weight: 700;
        color: #2d2d2d;
        @include media-breakpoint-up(xl) {
          font-size: 22px;
        }

        span {
          color: $orange;
        }
      }

      &__more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }

        &:before {
          content: "";
          width: 22px;
          height: 22px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Crect x='14.5' y='8' width='2' height='14' fill='%233217FF'/%3E%3Crect x='22.5' y='14' width='2' height='14' transform='rotate(90 22.5 14)' fill='%233217FF'/%3E%3C/svg%3E")
            50% / cover no-repeat;

          @include media-breakpoint-up(xl) {
            width: 32px;
            height: 32px;
          }
        }

        &:before {
        }
      }

      &__info {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease;
      }
      &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 12px;

        @include media-breakpoint-up(xl) {
          flex-direction: row;
          align-items: start;
          padding-top: 20px;

          font-size: 22px;
          max-width: 700px;
        }
      }
    }
  }
}
