.landing-msfz-liga_january2020{
  $main_head: #060c3c;
  $main_head_plus: #be1065;
  $main_period: #66f3fc;
  $main_period_plus: #fcff05;

  .landing-title--columns{
    text-align: center;
    span{
      padding-left: 20px;
      @media (max-width: 700px){
        padding: 0px;
      }
    }
  }
  .landing-section__action{
    text-align: center;
    color: #6f6f6f;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 60px;
  }

  .dtkt-promo{
    background-color: #060c3c;
  }

  .packages__column{
    padding-top: 50px;

  }
  .landing-title--columns{
    padding-top: 50px;
    margin-bottom: 20px;
    &:nth-child(2){
      position: relative;

    }
    span{
      color: #040207;
    }

  }
  .period{
    color: $main_period;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .package__header{
    background-color: $main_head;
    color: #fff;
  }
  .package__price-half{

    display: none;
  }
  .package__old-price{
    color: $main_period;
  }
  .package__presents {
    display: block !important;
    text-align: left;
  }
  .package__total-price{
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .package__price{
    display: none;
  }
  .btn-package--six{
    display: none;
  }
  .btn-package--three{
    display: inline-block!important;
  }


  .package-plus{
    position: relative;

    .package__header{
      position: relative;
      color: #fff;
      background-color: $main_head_plus;


      .period{
        color: $main_period_plus;
      }

    }
    .package__old-price{
      color: $main_period_plus;
    }
    .btn-package{
      background-color: #470bc1;

      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      &:after{
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }

      &:hover,
      &:active,
      &:focus{
        background-color: #b515c9;
        color: #fff;
        &:after{
          border-bottom: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }
    }

  }



  .package-plus-top{
    position: relative;
    &:before{
      position: absolute;
      content: "топ продажу";
      color: #fff;
      border-radius: 4px;
      background-color: #470bc1;
      width: 180px;
      left: 50%;
      top: 39px;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      transform: translate(-50%);
      text-align: center;
      text-transform: uppercase;
      z-index: 1;
    }
  }

  .package__presents-list {

    li {
      color: #040207;
      &:before{
        background: transparent url(images/gift_purple.svg) no-repeat top center;
        width: 20px;
        height: 24px;

      }


    }
    .package__presents-sub-list{
      padding-left: 0;
      padding-top: 10px;
      list-style-type: disc;

      li{
        color: #e810ff;
        padding-left: 0;
        margin-bottom: 0;
        span{
          color: #010000;
        }
        &:before{
          content: none;
          width: 0;
          height: 0;
        }

      }
      .no-active{
        color: #bdbbbb;
        span{
          color: #bdbbbb;
        }
      }
    }

    .no-active{
      color: #bdbbbb;
      cursor: not-allowed;
      a{
        color: #bdbbbb;
        cursor: not-allowed;
        text-decoration: none;
        &:hover{
          color: #bdbbbb;
          cursor: not-allowed;
          text-decoration: none;
        }
      }
      &:before{
        background: transparent url(images/gift_gray.svg) no-repeat top center;
      }

    }

  }

  .btn-package{
    background-color: #12a5b4;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: none;
    &:hover,
    &:active,
    &:focus{
      background-color: #104abb;
    }
  }

  .package__abilities-item-platform{
    margin-top: 50px;
    position: relative;

    &:after{
      position: absolute;
      content: " ";
      background: transparent url(images/plus.svg) no-repeat top center;
      top: -40px;
      left: 50%;
      transform: translate(-50%);
      width: 26px;
      height: 26px;

    }

    a{
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .package__abilities-item--noactive{
    color: #bdbbbb;
    &:before{
      color: #bdbbbb!important;
    }
  }

  .tab-content{
    background-color: #dfdfdf;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    border-radius: 16px;

    .label{
      text-align: center;
      width: 50%;
      margin-bottom: 0;
      padding: 12px;
      color: #656565;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.13px;
      border-radius: 16px;
      transition: 0.5s;
      cursor: pointer;
      &.active{
        background-color: #be1065;
        box-shadow: 0 5px 18px rgba(0, 0, 0, 0.48);
        color: #fff;
      }
    }
  }
  .btn-package--twelve{
    display: inline-block!important;
  }
  .btn-package--three{
    display: none!important;
  }
}