.travel {

  &--one{
    background: url(images/bg_1-min.jpg) no-repeat top center,linear-gradient(to right, #e88b41 0%, #e98d41 50%, #dc542b 50%, #dc542b 100%);
    position: relative;
    z-index: 1;
    height: 900px;
    @media (max-width: 1200px){
      height: 585px;
    }
    @media (max-width: 767px){
      background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
      height: auto;
    }

    @at-root .webp & {
      background:url(images/bg_1.webp) center center no-repeat,linear-gradient(to right, #e88b41 0%, #e98d41 50%, #dc542b 50%, #dc542b 100%);
      @media (max-width: 767px){
        background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
      }
    }

    .travel__container{
      position: relative;
      &:before{
        position: absolute;
        content: '';
        width: 649px;
        height: 552px;
        left: 0px;
        top: 160px;
        background: url(images/img4-min.jpg) center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          width: 384px;
          height: 351px;
          left: 25px;
        }
        @media (max-width: 767px){
          width: 290px;
          height: 247px;
          top: 90px;
          left: 50%;
          transform: translate(-50%, 0%);
        }
        @at-root .webp & {
          background:url(images/img4.webp) center center no-repeat;
          background-size: contain;

        }
      }

    }
  }

  &--two {
    background: url(images/bg_2-min.jpg) no-repeat top center;
    position: relative;
    z-index: 1;
    height: 758px;
    @media (max-width: 1200px){
      height: 480px;
    }
    @media (max-width: 767px){
      background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
      height: auto;
    }

    @at-root .webp & {
      background: url(images/bg_2.webp) center center no-repeat;
      @media (max-width: 767px){
        background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
      }

    }

    .travel__container{
      position: relative;
      padding-top: 220px;
      padding-left:40px;
      @media (max-width: 1200px){
        padding-top: 130px;
      }
      @media (max-width: 767px){
        padding-left:15px;
        padding-top: 230px;
      }
      &:before{
        position: absolute;
        content: '';
        width: 618px;
        height: 412px;
        right: 130px;
        top: -135px;
        background: url(images/img5-min.jpg) center center no-repeat;
        background-size: contain;
        z-index: 1;
        @media (max-width: 1200px){
          width: 389px;
          height: 260px;
          right: 90px;
          top: -80px;
        }
        @media (max-width: 767px){
          width: 290px;
          height: 200px;
          left: 50%;
          transform: translate(-50%, 0%);
          right: 0;
          top: 33px;
        }

        @at-root .webp & {
          background:url(images/img5.webp) center center no-repeat;
          background-size: contain;
          z-index: 1;


        }
      }
      &:after{
        position: absolute;
        content: '';
        right: 55px;
        top: 0px;
        width: 459px;
        height: 359px;
        background-color: #ffffff;
        background-image: linear-gradient(-93deg, #c561cb 0%, #c561cb 12%, #eda75b 99%, #eda75b 100%);
        z-index: -1;
        @media (max-width: 1200px){
          width: 280px;
          height: 227px;
          top: -20px;
          z-index: 0;
        }
        @media (max-width: 1200px){
          content: none;
        }
      }

    }
  }

  &--three{

    position: relative;
    z-index: 1;
    height: 922px;
    @media (max-width: 1200px){
      height: 477px;
    }
    @media (max-width: 767px){
      background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
      height: auto;
    }


    .travel__container{
      position: relative;
      padding-top: 260px;
      padding-left: 180px;
      @media (max-width: 1200px){
        padding-top: 105px;
        padding-left: 115px;
      }
      @media (max-width: 767px){
        padding-top: 230px;
        padding-left: 15px;
        padding-bottom: 30px;
      }
      &:before{
        position: absolute;
        content: '';
        width: 780px;
        height: 922px;
        right: 150px;
        top: 0px;
        background: url(images/111-min.jpg) center center no-repeat;
        background-size: contain;
        z-index: -1;
        @media (max-width: 1200px){
          width: 404px;
          height: 477px;
        }
        @media (max-width: 767px){
          width: 290px;
          height: 203px;
          z-index: 1;
          background-size: cover;
          left: 50%;
          transform: translate(-50%, 0%);
          top: 27px;
        }
        @at-root .webp & {
          background:url(images/111.webp) center center no-repeat;
          background-size: contain;
          z-index: -1;
          @media (max-width: 767px){
            width: 290px;
            height: 203px;
            z-index: 1;
            background-size: cover;
          }

        }
      }

    }
  }

  &--four{
    background-image: linear-gradient(to right, #9b42a1 0%, #9b42a1 14%, #e69741 99%, #e69741 100%);
    position: relative;
    z-index: 1;
    height: 860px;
    @media (max-width: 1200px){
      height: 585px;
    }
    @media (max-width: 767px){
      background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
      height: auto;
    }

    .travel__container{
      position: relative;
      padding-top: 155px;
      @media (max-width: 1200px){
        padding-top: 30px;
      }
      @media (max-width: 767px){
        padding-top: 230px;
      }
      &:before{
        position: absolute;
        content: '';
        width: 647px;
        height: 552px;
        left: 0px;
        top: 65px;
        background: url(images/img8.jpg) center center no-repeat;
        background-size: contain;
        @media (max-width: 1200px){
          width: 384px;
          height: 351px;
          left: 25px;
        }
        @media (max-width: 767px){
          width: 290px;
          height: 247px;
          top: 25px;
          left: 50%;
          transform: translate(-50%, 0%);
        }
        @at-root .webp & {
          background:url(images/img8.webp) center center no-repeat;
          background-size: contain;

        }
      }
      &:after{
        right: 80px;
        position: absolute;
        content: '';
        width: 621px;
        height: 335px;
        bottom: -275px;
        background: url(images/img9.jpg) center center no-repeat;
        background-size: contain;
        z-index: -1;
        @media (max-width: 1200px){
          width: 361px;
          height: 195px;
          bottom: -185px;
        }
        @media (max-width: 767px){
          content: none;
        }
        @at-root .webp & {
          background:url(images/img9.webp) center center no-repeat;
          background-size: contain;

        }
      }

    }
  }


  &__container {
    @extend %container;
    @media (max-width: 767px){
      max-width: 767px;
      width: 100%;
    }

  }

  &__titel{
    color: #ffffff;
    font-family: 'El Messiri', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 51.84px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    @media (max-width: 1200px){
      font-size: 30px;
      line-height: 32.81px;
      padding-top: 50px;
    }
    @media (max-width: 767px){
      font-size: 26px;
      line-height: 32.81px;
      padding-top: 30px;
    }

  }

  &__item{
    width: 585px;
    background-color: #ffffff;
    padding: 125px 25px 60px 50px;
    position: relative;
    @media (max-width: 1200px){
      width: 402px;
      padding: 70px 25px 45px 25px;
    }
    @media (max-width: 767px){
      width: 100%;
      padding: 50px 10px 20px 10px;
    }
    &:before{
      position: absolute;
      content: '';
      width: 218px;
      height: 33px;
      left: 53px;
      top: 53px;
      background: url(images/dec-min.png) center center no-repeat;
      background-size: contain;
      @media (max-width: 1200px){
        width: 138px;
        height: 21px;
        left: 25px;
        top: 35px;
      }
      @media (max-width: 767px){
        width: 108px;
        height: 16px;
        left: 10px;
        top: 20px;
      }
    }

    &--one{
      margin-top: 265px;
      margin-left:550px;
      position: relative;
      @media (max-width: 1200px){
        margin-top: 105px;
        margin-left: 325px;
      }
      @media (max-width: 767px){
        margin-top: 266px;
        margin-left: 0px;
      }
    }

    &--two{
      position: relative;
      &:after{
        position: absolute;
        content: '';
        left: -33px;
        top: 130px;
        width: 484px;
        height: 359px;
        background-color: #ffffff;
        background-image: linear-gradient(to right, #f7ca44 0%, #f7ca44 12%, #ece340 99%, #ece340 100%);
        z-index: -1;
        @media (max-width: 1200px){
          width: 408px;
          height: 224px;
          left: -30px;
          top: 110px;
        }
        @media (max-width: 767px){
          content:none
        }
      }
      .travel__text{
        position: relative;
        &:before{
          position: absolute;
          content: '';
          width: 382px;
          height: 256px;
          right: -350px;
          bottom: -190px;
          background: url(images/fruts-min.png) center center no-repeat;
          background-size: contain;
          @media (max-width: 1200px){
            width: 298px;
            height: 203px;
            right: -305px;
            bottom: -140px;
          }
          @media (max-width: 767px){
            content: none;
          }
        }
      }
    }

    &--three{
      position: relative;
      &:after{
        position: absolute;
        content: '';
        left: -55px;
        top: 130px;
        width: 484px;
        height: 359px;
        background-image: linear-gradient(to right, #eb8e43 0%, #eb8e43 12%, #d74725 99%, #d74725 100%);
        z-index: -1;
        @media (max-width: 1200px){
          width: 369px;
          height: 274px;
          right: -20px;
          top: 60px;
        }
        @media (max-width: 767px){
          content: none;
        }
      }
    }

    &--four{
      margin-left:550px;
      position: relative;
      @media (max-width: 1200px){
        margin-top: 70px;
        margin-left: 325px;
      }
      @media (max-width: 767px){
        margin-top: 0px;
        margin-left: 0px;
      }
    }
  }

  &__sub-titel{
    color: #000000;
    font-family: 'El Messiri', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    @media (max-width: 1200px){
      font-size: 24px;
      line-height: 28px;

    }
    @media (max-width: 767px){
      font-size: 22px;
      line-height: 26px;

    }
  }

  &__text{
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: 1200px){
      font-size: 16px;
      line-height: 20px;
    }
    @media (max-width: 767px){
      font-size: 16px;
      line-height: 20px;
    }
  }





  &__btn{
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
    @media (max-width: 767px){
      margin-top: 35px;
      margin-bottom: 40px;
    }
    @extend %btn;


  }



}