
.hero{
  display: block;
  width: 100%;
  position: relative;
  background: #0a001d  url(images/bg_hero_1200.png) center center no-repeat;
  /* &:before{
     position: absolute;
     width: 100%;
     height: 100%;
     content: " ";
     background: -o-linear-gradient(225deg, transparent, transparent 90px), -o-radial-gradient(circle, #fff 195px, transparent 50%);
     background: linear-gradient(225deg, transparent, transparent 90px), radial-gradient(circle, #fff 195px, transparent 50%);
     top: 0;
     left: 0;
     z-index: 0;
   }*/

  @media (max-width: 1200px){
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    background: #1a0037;
    &:before{
      position: absolute;
     width: 320px;
      height: 161px;
      content: " ";
      background:  url(images/EXP.png) center center no-repeat;
      top: 210px;
      left: 50%;
      transform: translate(-50%,0%);
      z-index: 0;
      @media (max-width: 767px){
        top: 110px;
      }
    }
  }
  @media (max-width: 900px){
    height: auto;
  }
  @media (max-width: 767px){
    position: relative;
    overflow: hidden;


  }


  &__container{
    position: relative;
    @media (max-width: 1200px){
      max-width: 767px;
    }
    @media (max-width: 767px){
      max-width: 320px;
    }
  }

  &__content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 65px 0 130px;
    @media (max-width: 1200px){
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 80px;
    }
    @media (max-width: 767px){
      padding-bottom: 40px;
      padding-top: 5px;
    }
  }

  &__item{
    position: relative;
  }
  &__top-container{
    padding-top: 15px;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 767px){
      display: none;
    }
    img{
      width: 170px;
      height: auto;
    }
  }

  &__logo-dk{
    background-color: #4bbe47;
    border-radius: 4px;
  }

  &__date{
    padding-top: 0px;
    font-size: 20px;
    padding-bottom: 65px;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    &:before{
      content: '';
      background: url(images/camera1.png) center center no-repeat;
      width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 10px;
      @media (max-width: 767px){
        content: none;
      }


    }
    p{
      color: #fff;
      line-height: 1;
      font-weight: 600;
      letter-spacing: 1.5px;
      margin-bottom: 0;
      text-transform: uppercase;
      @media (max-width: 750px){
        letter-spacing: 0;

      }
    }
    span{
      color: #00c8ff;
      font-weight: 400;
      letter-spacing: 0.7px;
      @media (max-width: 750px){
        letter-spacing: 0;

      }
    }
    @media (max-width: 1200px){
      padding-top: 0px;
      padding-bottom: 35px;
      margin-left: 0;
    }
    @media (max-width: 750px){
      font-size: 16px;
      padding-top: 15px;
      padding-left: 0px;
      text-align: center;
      padding-bottom: 20px;
      letter-spacing: 0;
    }
  }

  .information{
    position: relative;
    width: 100%;
    text-align: left;
    padding-bottom: 65px;
    @media (max-width: 1200px){
      margin: 0 auto;
      text-align: center;
      padding-bottom: 30px;
    }
    @media (max-width: 767px){
      padding-bottom: 35px;

    }


    &__title{
      color: #d42f6f;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0;
      span{
        text-transform: none;

      }
      .gray{
        color: #372c44;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.12px;
      }
      .time{
        color: #7e718c;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
      }

      .month{
        color: #d42f6f;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
      }

    }

    &__date{
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: normal;
      margin-bottom: 0;
      padding-top: 10px;
      @media (max-width: 767px){
        font-size: 16px;
      }
    }
  }

  &__title{
    display: table;
    font-size: 52px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px;
    &:before{
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-image: linear-gradient(to right, #d42f6f, transparent);
      @media (max-width: 1200px){
        content: none;
      }
    }
    @media (max-width: 1200px){
      padding-bottom: 100px;
    }
    @media (max-width: 767px){
      text-shadow: 1px 1.7px 0 #a2254e;
      font-size: 36px;
      text-align: center;
      width: 100%;
      padding-bottom: 145px;
    }

  }



  &__sub-title{
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-top: 15px;

    @media (max-width: 1200px){
        text-align: center;
    }
    @media (max-width: 767px){
      font-size: 18px;
    }
    br{
      @media (max-width: 767px){
        display: none;
      }
    }
  }
  &__description{
    display: table;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: left;
    color: #fcfdf8;
    background-color: #9600ff;
    text-transform: uppercase;
    padding: 10px 6px;
    @media (max-width: 1200px){
      margin: 0 auto;
    }
    @media (max-width: 767px){
      padding: 5px;
    }
    span{
      @media (max-width: 767px){
        display: none;
      }
    }

    &--mob{
      display: none;
      @media (max-width: 767px){
        display: table;
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1px;
        text-align: left;
        color: #fcfdf8;
        background-color: #9600ff;
        text-transform: uppercase;
        padding: 5px;
        margin: 0 auto;
      }
    }

  }



  .gift{
    text-align: left;
    display: table;
    margin: 65px 0 0 85px;
    position: relative;
    padding-bottom: 0;
    @media (max-width: 1200px){
      margin: 115px auto 55px;
      text-align: center;
    }
    @media (max-width: 767px){
      margin: 90px auto 30px;

    }
    &:after{
      position: absolute;
      content: '';
      background: url(images/Ellipse.png) center center no-repeat;
      width: 116px;
      height: 116px;
      left: -85px;
      top: 50%;
      -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
      transform: translate(0,-50%);
      z-index: -1;
      @media (max-width: 1200px){
        top:-100px;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
        z-index: 0;
      }
      @media (max-width: 767px){
        width: 85px;
        height: 85px;
        background: url(images/Ellipse.png) center center no-repeat;
        background-size: cover;
        -webkit-transform: translate(-50%,15px);
        -ms-transform: translate(-50%,15px);
        transform: translate(-50%,15px);
      }
    }
    &:before{
      position: absolute;
      content: '';
      background: url(images/gift.png) center center no-repeat;
      width: 59px;
      height: 68px;
      left: -85px;
      top: 50%;
      -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
      transform: translate(0,-50%);
      @media (max-width: 1200px){
        top:-80px;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
      }
      @media (max-width: 767px){
        background: url(images/gift.png) center center no-repeat;
        background-size: cover;
        width: 43px;
        height: 49px;
        -webkit-transform: translate(-50%,15px);
        -ms-transform: translate(-50%,15px);
        transform: translate(-50%,15px);
      }
    }


    p{
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 1.2px;
      text-align: left;
      color: #d42f6f;
      text-transform: uppercase;
      @media (max-width: 767px){
        font-size: 17px;
      }

    }
    span{
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: left;
      color: #7e728c;
      @media (max-width: 767px){
        font-size: 15px;
      }
    }
  }


}


.form-wr{
  max-width: 410px;
  width: 100%;
  background: url(images/bg_form.png) center center no-repeat;
  @media (max-width: 1200px){
    margin: 0 auto;

  }
  @media (max-width: 767px){
    border-radius: 15px;
  }

}
.form{
  padding: 30px;
  position: relative;
  border-radius: 10px;

  @media (max-width: 767px){
    padding: 20px 10px;
  }



  &__title{
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding-bottom: 5px;
    @media (max-width: 767px){
      padding-bottom: 5px;
      font-size: 21px;
    }
  }
  .form-group{
    input{
      color:  #a1a1a1;
    }
  }
  input{
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    background-color: #f6f6f6;
    height: 46px;
    padding-left: 20px;
    font-size: 18px;
  }
  &__btn{
    text-align: center;
    .btn{
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      height: auto;
      color: #dd3d73;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.5;
      padding: 15px 0;
      text-transform: uppercase;
      border-radius: 35px;
      border: none;
      background-color: #fff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      @media (max-width: 767px){
        font-size: 20px;
      }
      &:hover,
      &:active {
        color: #dd3d73;
        background:#ffdfe4;
      }
    }
  }
  .form-group label.error {
    top: 52px;
    color: #0a001d;
  }
  form{
    margin-bottom: 0;
    text-align: left;
  }
}
.form-group input {

  color:  #a1a1a1!important;
}

.arrow{
  width: 30px;
  margin: 0;
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: -8px;
  right: -75px;
  @media (max-width: 1200px){
    bottom: 39px;
    right: 0;
    left: 47%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    display: none;
  }
  @media (max-width: 767px){
    display: none;
  }

  span{
    display: block;
    width: 21px;
    height: 21px;
    margin-left: 7px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite;
    @media (max-width: 1200px){
      width: 12px;
      height: 12px;
      margin-left: 20px;
    }
    @media (max-width: 767px){

      margin-left: 0px;
    }
    &:nth-child(2){
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
    &:nth-child(3){
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;

    }
  }
}

@-webkit-keyframes animate {
  0%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px,-20px);
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px,20px);
    transform: rotate(45deg) translate(20px,20px);
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px,-20px);
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px,20px);
    transform: rotate(45deg) translate(20px,20px);
  }
}
.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}