
$knowledges_color:#df4376;

.knowledges {
  padding-top: 30px;
  position: relative;
  @media (max-width: 1200px){
    padding-top: 120px;
  }
  @media (max-width: 767px){
    padding-bottom: 45px;
    padding-top: 80px;
  }

  &__container {
    @extend %container;
    position: relative;
    padding-bottom: 0;
  }

  &__title{
    @extend %title;
    padding-bottom: 30px;
  }

  &__sub-title{
    @extend %sub-title;
  }

  &__content{
    max-width: 945px;
    width: 100%;
    margin: 0px auto ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    -webkit-box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 35px 0 rgba(0, 0, 0, 0.15);
    border: double 2px transparent;
    background-image: linear-gradient(white, white),
    linear-gradient(to top, #d3acff, #df4376);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 130px 100px 50px 110px;
    overflow: hidden;
    background-color: #fff;
    @media (max-width: 1200px){
      padding: 130px 30px 50px 50px;
    }
    @media (max-width: 767px){
      padding: 115px 15px 15px 30px;
    }

    br{
      @media (max-width: 1200px){
        display: none;
      }
    }
  }

  &__list{
    list-style-type: none;
    padding-left: 0;

    @media (max-width: 767px){
      padding-left: 0;
    }
    li{
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      font-weight: normal;
      color: #303030;
      padding-bottom: 10px;

      @media (max-width: 767px){
        font-size: 15px;
      }

      span{
        color: #303030;
        font-weight: normal;
      }

      &:last-child{
        padding-bottom: 0;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  ol li {
    position: relative;
    counter-increment: my-awesome-counter;
  }
  ol li::before {
    position: absolute;
    left: -20px;
    top: 0;
    content: counter(my-awesome-counter) ". ";
    color: $knowledges_color;
    font-weight: bold;
  }

  &__icon{
    background-color: #fff;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#da3872), to(#ed6182));
    background-image: -o-linear-gradient(to top, #da3872, #ed6182);
    background-image: linear-gradient(to bottom, #da3872, #ed6182);
    -webkit-box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px -2px 0 0 rgba(0, 0, 0, 0.15);
    height: 111px;
    width: 111px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    svg{
      width: 50px;
      height: 50px;
      fill: #fff;
      display: block;
    }
  }
}