@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin/Benzin-Regular.eot");
  src: url("../fonts/Benzin/Benzin-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Benzin/Benzin-Regular.woff2") format("woff2"),
    url("../fonts/Benzin/Benzin-Regular.woff") format("woff"),
    url("../fonts/Benzin/Benzin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin/Benzin-Semibold.eot");
  src: url("../fonts/Benzin/Benzin-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Benzin/Benzin-Semibold.woff2") format("woff2"),
    url("../fonts/Benzin/Benzin-Semibold.woff") format("woff"),
    url("../fonts/Benzin/Benzin-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin/Benzin-ExtraBold.eot");
  src: url("../fonts/Benzin/Benzin-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Benzin/Benzin-ExtraBold.woff2") format("woff2"),
    url("../fonts/Benzin/Benzin-ExtraBold.woff") format("woff"),
    url("../fonts/Benzin/Benzin-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin/Benzin-Medium.eot");
  src: url("../fonts/Benzin/Benzin-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Benzin/Benzin-Medium.woff2") format("woff2"),
    url("../fonts/Benzin/Benzin-Medium.woff") format("woff"),
    url("../fonts/Benzin/Benzin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Benzin";
  src: url("../fonts/Benzin/Benzin-Bold.eot");
  src: url("../fonts/Benzin/Benzin-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Benzin/Benzin-Bold.woff2") format("woff2"),
    url("../fonts/Benzin/Benzin-Bold.woff") format("woff"),
    url("../fonts/Benzin/Benzin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
