.advantages{
  position: relative;
  background: url(images/block_bg.png) center top no-repeat,-webkit-gradient(linear, left bottom, left top, from(#0d0028), to(#2f1467));
  background: url(images/block_bg.png) center top no-repeat,-o-linear-gradient(bottom, #0d0028, #2f1467);
  background: url(images/block_bg.png) center top no-repeat,linear-gradient(to top, #0d0028, #2f1467);
  background-size: cover;
  text-align: center;

  &__container{
    @extend %container;
    padding-top: 55px;

    @media (max-width: 767px){
      padding-top: 40px;
    }
  }

  &__title{
    @extend %title;
    color: #fff;
  }

  &__list{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 55px 0 0;
    margin-bottom: 0;

    @media (max-width: 767px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  &__item{
    padding: 0 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;

    @media (max-width: 767px){
      padding: 0px 0 25px 0;
    }

    &:first-child{
      padding-left: 0;
    }

    &:last-child{
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  &__icon{
    width: 130px;
    height: 130px;
    -webkit-box-shadow: 0px 17px 10px 0 rgba(60, 22, 144, 0.25);
    box-shadow: 0px 17px 10px 0 rgba(60, 22, 144, 0.25);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#3c1690), to(#8f5dff));
    background-image: -o-linear-gradient(bottom, #3c1690, #8f5dff);
    background-image: linear-gradient(to top, #3c1690, #8f5dff);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    svg{
      fill: #fff;
      width: 50px;
      height: 50px;
    }
  }

  &__text{
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    @media (max-width: 767px){
      min-height: auto;
    }
  }

  &__btn{
    @extend %btn;
  }
}