{% set link = page.url('/images') %}

<div class="kadrolend-landing" data-require="{{ page.url('/script.js') }}">
    <section class="hero">
        <div class="hero__container">
            <div class="hero__menu">
                <div class="menu">
                    <div class="menu__container">
                        <ul class="menu__list">
                            <li><a href="#about">Що ви дізнаєтесь?</a></li>
                            <li><a href="#profession">Для кого це?</a></li>
                            <li><a href="#theme">Програма курсу</a></li>
                            <li><a href="#order">Вартість та реєстрація</a></li>
                            <li><a href="#advantages">Що ви отримаєте</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero__content">
                <div class="hero__text">
                    <p class="hero__curses">Курс із <b>3 вебінарів</b></p>
                    <p class="hero__title">Військовий облік:</p>
                    <p class="hero__sub-title">як його веде роботодавець</p>
                </div>

                <div class="hero__teacher">
                    <p class="hero__name"> Світлана Лістрова </p>
                    <p class="hero__teacher-info">Експерт з оплати праці та оподаткування, автор понад 1500 <br> публікацій у бухгалтерських видання, лекторський досвід
                        <br> понад 1000 годин ,має Сертифікат ACCA DipIFR (RUS).
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="about__container">
            <p class="about__title">На курсі ви дізнаєтесь про</p>
            <div class="about__content">
                <ol class="about__list">
                    <li class="about__item"><p>Види військового обліку та хто його веде на підприємстві, відповідальність та оплата</p> </li>
                    <li class="about__item"><p>Як заповнити кадрові документи щодо військовозобов'язаних</p> </li>
                    <li class="about__item"><p>Хто перевіряє ведення військового обліку на підприємстві та які штрафи загрожують</p> </li>
                    <li class="about__item"><p>Гарантії для працівників, викликаних до військкомату та які несуть військову службу, чим підтвердити, як оплатити</p> </li>
                </ol>
            </div>
        </div>
    </section>

    <section id="profession" class="profession">
        <div class="profession__container">
            <p class="profession__title">для кого цей курс</p>
            <ul class="profession__list">
                <li class="profession__item">
                    <img src="/storage/pages/370_viiskovyi_oblik/images/woman-in-office-min.png" alt=" Начальник відділу кадрів">
                    <p class="profession__text">Начальник <br> відділу кадрів</p>
                </li>
                <li class="profession__item">
                    <img src="/storage/pages/370_viiskovyi_oblik/images/woman-working-min.png" alt=" Фахівець з кадрового обліку">
                    <p class="profession__text">Фахівець <br> з кадрового обліку</p>
                </li>
                <li class="profession__item">
                    <img src="/storage/pages/370_viiskovyi_oblik/images/soldier-min.png" alt=" Інспектор з військового обліку">
                    <p class="profession__text">Інспектор <br> з військового <br> обліку</p>
                </li>
                <li class="profession__item">
                    <img src="/storage/pages/370_viiskovyi_oblik/images/business-man-min.png" alt=" Директор">
                    <p class="profession__text">Директор</p>
                </li>
            </ul>
            <a class="profession__btn" href="#order">дізнатись умови та вартість <i class="arrow "></i></a>
        </div>
    </section>

    <section id="theme" class="theme">
        <div class="theme__container">
            <p class="theme__title">теми та тези уроків</p>
            <div class="theme__content">
                <ol class="theme__list">
                    <li class="theme__item">
                        <p>Військовий облік:  загальні правила для підприємств</p>
                        <ul class="theme__sub-list">
                            <li>Види військового обліку та категорії осіб, які йому підлягають.</li>
                            <li>Хто може вести військовий облік на підприємстві: призначення уповноваженої особи.</li>
                            <li>Основні заходи щодо військового обліку: перелік та строки. </li>
                            <li>Взаємодія з військкоматом: хто готує інформацію й хто підписує.</li>
                            <li>Як забезпечується явка працівника у разі виклику до військкомату. </li>
                            <li>Кому, коли й як доплачують за ведення військового обліку. </li>
                            <li>Хто несе відповідальність за організацію військового обліку.</li>
                        </ul>
                    </li>
                    <li class="theme__item">
                        <p>Персональний облік військовозобов’язаних в Особовій картці працівника</p>
                        <ul class="theme__sub-list">
                            <li>Які військові документи перевіряють при прийнятті на роботу і долучають до особової справи.</li>
                            <li>Організація персонального обліку – у картотеці за групами і в Особовій картці працівника</li>
                            <li>Заповнення розділу ІІ «Відомості про військовий облік» Особової картки № П-2.</li>
                            <li>Яку інформацію про зміну облікових даних і за якими формами подають до військкомату.</li>
                            <li>Звірка даних з військкоматами: графік, строки, процедура, звірка з військкоматами в інших регіонах.</li>
                            <li>Зняття з військового обліку у разі досягнення граничного віку.</li>
                            <li>Найпоширеніші помилки під час ведення військового обліку.</li>
                        </ul>
                    </li>
                    <li class="theme__item">
                        <p>Перевірка ведення військового обліку та гарантії у разі виконання військових обов’язків</p>
                        <ul class="theme__sub-list">
                            <li>План перевірки підприємств, склад і утворення комісії.</li>
                            <li>Які питання військового обліку перевіряються комісією.</li>
                            <li>Відповідальність за допущені порушення щодо ведення військового обліку.</li>
                            <li>Яка відповідальність для працівника, що порушує правила військового обліку.</li>
                            <li>Відсутність на роботі через виклик до військкомату: підтвердження й оплата.</li>
                            <li>Гарантії та пільги для працівників, які несуть військову службу.</li>
                            <li>Коли працівник має приступити до роботи після звільнення з військової служби й які документи надати.</li>
                        </ul>
                    </li>
                    <li class="theme__item">
                        <p>Тривалість кожного вебинару по 40-45 хвилин</p>
                    </li>
                </ol>
            </div>
            <a class="theme__btn" href="#order">дізнатись умови та вартість <i class="arrow"></i></a>
        </div>
    </section>

    <section id="advantages"  class="advantages">
        <div class="advantages__container">
            <p class="advantages__title">ви отримаєте</p>
            <ul class="advantages__list">
                <li class="advantages__item">
                    <div class="advantages__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55"><path d="M22.019 25.877a1.004 1.004 0 001.018-.033l11-7a1.002 1.002 0 000-1.688l-11-7a1.005 1.005 0 00-1.019-.033A1.002 1.002 0 0021.5 11v14c0 .365.199.701.519.877zM23.5 12.821L31.638 18 23.5 23.179V12.821z"/><path d="M.5 0v55h54V0H.5zm52 2v33h-50V2h50zm-50 51V37h50v16h-50z"/><path d="M47.5 44h-24v-2a1 1 0 10-2 0v2h-4a1 1 0 100 2h4v2a1 1 0 102 0v-2h24a1 1 0 100-2zM7.5 41a1 1 0 00-1 1v6a1 1 0 102 0v-6a1 1 0 00-1-1zM11.5 41a1 1 0 00-1 1v6a1 1 0 102 0v-6a1 1 0 00-1-1z"/></svg>
                    </div>
                    <p class="advantages__text">Три вебінара</p>
                </li>
                <li class="advantages__item">
                    <div class="advantages__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M8 16h15a1 1 0 100-2H8a1 1 0 100 2zM8 13h9a1 1 0 100-2H8a1 1 0 100 2zM24 18a1 1 0 00-1-1H8a1 1 0 100 2h15a1 1 0 001-1z"/><path d="M60 4H31V1a1 1 0 10-2 0v3H0v42h27.586L15.293 58.293a.999.999 0 101.414 1.414L29 47.414V57a1 1 0 102 0v-9.586l12.293 12.293a.997.997 0 001.414 0 .999.999 0 000-1.414L32.414 46H60V4zm-2 40H2V6h56v38z"/><path d="M41 20h4.586L33.6 31.986l-8.293-8.293a.999.999 0 00-1.414 0l-12.6 12.6a.999.999 0 101.414 1.414L24.6 25.814l8.293 8.293a.997.997 0 001.414 0L47 21.414V26a1 1 0 102 0v-7a.996.996 0 00-1-1h-7a1 1 0 100 2z"/></svg>
                    </div>
                    <p class="advantages__text">Презентації <br> лектора</p>
                </li>
                <li class="advantages__item">
                    <div class="advantages__icon">
                        <svg height="512" viewBox="0 0 60 60" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M58.669 10.118l-27.99-10a2.052 2.052 0 00-1.366 0l-27.983 10a2 2 0 000 3.763L15 18.765V25c0 3.888 13.465 4 15 4s15-.112 15-4v-6.235l3-1.065V20a2 2 0 002 2h2a2 2 0 002-2v-3a2.958 2.958 0 00-.326-1.331l5-1.788a2 2 0 000-3.763zM43 22.8C39.191 21.066 31.165 21 30 21s-9.191.066-13 1.8v-8.712c.6-.77 5.316-2.088 13-2.088s12.4 1.318 13 2.088zM30 27c-7.4 0-12.047-1.222-12.916-2 .869-.778 5.518-2 12.916-2s12.047 1.222 12.916 2c-.869.778-5.516 2-12.916 2zm18.469-11.595L45 16.642V14c0-3.888-13.465-4-15-4s-15 .112-15 4v2.641L2 12 30.014 2 50 9.142v5.042a3.006 3.006 0 00-1.531 1.221zM52 20h-2v-3a1 1 0 012 0zm0-5.856V9.857L58 12zM57 31c-.06 0-.12.005-.179.016A167.439 167.439 0 0130 33c-8.98.059-17.948-.605-26.821-1.984A1.127 1.127 0 003 31c-.7 0-3 .793-3 11s2.3 11 3 11c.06-.001.12-.007.179-.018a156.4 156.4 0 0120.6-1.878l-1.952 4.682a1.992 1.992 0 002.643 2.567l.765-.327.331.761A1.989 1.989 0 0027.405 60h.025a1.993 1.993 0 001.833-1.248L31 54.594l1.731 4.142A2 2 0 0034.57 60h.03a1.986 1.986 0 001.832-1.2l.334-.767.753.323a1.993 1.993 0 002.649-2.579l-1.914-4.59c6.222.22 12.424.821 18.572 1.8.057.01.116.014.174.013.7 0 3-.793 3-11s-2.3-11-3-11zm-23.8 3.97a21.06 21.06 0 01.721 4.677 6.939 6.939 0 00-6.961.647 27.016 27.016 0 00-.687-5.332 178.326 178.326 0 006.927.008zM31 51a5 5 0 110-10 5 5 0 010 10zM3 33.5A28.047 28.047 0 014 42a28.047 28.047 0 01-1 8.5A28.047 28.047 0 012 42a28.047 28.047 0 011-8.5zm2.02 17.17C5.567 49.084 6 46.43 6 42s-.433-7.084-.981-8.672a175.456 175.456 0 0019.165 1.583c.6 2.314.874 4.7.816 7.089 0 .145 0 .283-.006.422a6.928 6.928 0 00-.322 6.552l-.044.106c-6.56.16-13.107.692-19.608 1.592zM27.407 58l-.73-1.68a1 1 0 00-1.311-.52l-1.683.744 2.345-5.622a6.993 6.993 0 003.532 1.93zm9.227-2.2a1 1 0 00-1.311.52l-.74 1.663-2.144-5.133a7 7 0 003.535-1.931l2.34 5.6zM56.8 50.95a161.951 161.951 0 00-19.4-1.8l-.071-.172a6.959 6.959 0 00-1.348-7.886 27.834 27.834 0 00-.714-6.161c7.21-.161 14.404-.79 21.533-1.882.464.788 1.2 3.905 1.2 8.951s-.741 8.162-1.2 8.95z"/></svg>
                    </div>
                    <p class="advantages__text">Сертифікат <br> учасника</p>
                </li>

            </ul>
        </div>
    </section>

    <section id="order" class="order">
        <div class="order__container">
            <p class="order__title">умови та вартість</p>
            <div class="order__packages">
                <div class="order__package package">
                    <div class="package__header">
                        <p class="package__title">Gold</p>
                        <p class="package__price">1 111 <br>
                            <span>грн</span></p>
                        <p class="package__old-price"><s>1 111 грн</s></p>
                        <a class="package__btn"  href="/">Замовити</a>
                    </div>
                    <div class="package__body">
                        <ul class="package__list">
                            <li>відеозаписи вебінарів курсу</li>
                            <li>  презентації лектора</li>
                            <li>сертифікат</li>
                        </ul>
                    </div>
                    <div class="package__footer">
                        <a class="package__btn"  href="/">Замовити</a>
                    </div>
                </div>

                <div class="order__package package package--platform">
                    <div class="package__header package__header--platform">
                        <p class="package__title package__title--platform">БУхгалтерська <br>  відеоплатформа №1</p>
                        <p class="package__price ">99<br>
                            <span>   грн/міс.</span></p>
                        <p class="package__old-price"><s>149 грн/міс.</s></p>
                        <a class="package__btn  package__btn--platform"  href="/">Передплатити</a>
                    </div>
                    <div class="package__body package__body--platform">
                        <ul class="package__list">
                            <li class="is-platform"> Доступ до цього відеопроєкту, а також нові відеокурси, вебінари та трансляції на усі найважливіші кадрові теми за супервигідною ціною </li>
                        </ul>
                    </div>
                    <div class="package__footer package__footer--platform">
                        <a class="package__btn package__btn--platform"  href="/">Передплатити</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

