@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.width, #main {
  width: 100%;
}

.kadrolend-landing{
  font-family: 'Roboto', sans-serif;

  p{
    margin-bottom: 0;
  }
}

%container{
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 10px;

  @media (max-width: 1200px){

  }
  @media (max-width: 767px){
    padding: 40px 10px;
  }
}

%title{
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.6px;
  text-align: center;
  color: #363636;
  text-transform: uppercase;
  @media (max-width: 767px){
    letter-spacing: 0.4px;
    font-size: 18px;
  }
}

%btn{
  display: inline-block;
  border-radius: 21px;
  background-color: #e7d61b;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.4px;
  text-align: center;
  color: #232323;
  text-transform: uppercase;
  line-height: 42px;
  padding: 0px 25px;
  transition: 0.4s;
  @media (max-width: 767px){
    letter-spacing: 0.35px;
    padding: 0px 15px;

  }

  .arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &:active,
  &:focus,
  &:hover{
    background-color: #ccbd16;
    text-decoration: none;
    color: #232323;
  }
}


@import "hero";
@import "menu";
@import "about";
@import "profession";
@import "theme";
@import "advantages";
@import "order";
@import "package";